[2015-08-04 05:59] RobinHerbots commented on #974
@shahvaiz,

Have a look at the new version.

http://jsfiddle.net/pobo609e/

[2015-08-04 07:44] skysurfer72 opened #990 "Decimal numbers with fixed decimal part"
Hi.
I'm using InputMask to allow the user to enter only numbers.
The data is initially loaded from angular. If the number is an integer it is initially displayed without decimal digits after the decimal point ( for example 1 is shown as "1," instead of "1,00") .
If I select the input and then move the selection, the number is displayed correctly .
Is there a way to always display the decimal  digi

[2015-08-04 10:17] CHOUAIAR opened #991 "Issue with onincomplete"
I allow the user to type any digit for the 2 first position of year and if the year in not complete I complete it with "20" or "19", the problem is that when I pass on the onincomplete method I complete the year value and after in the "blur.inputmask" we write the  old value of the buffer, when I put buffer = getBuffer().slice() just before the writeBuffer method I "resolve it". my question is  if

[2015-08-04 14:52] shahvaiz commented on #974
This works perfectly in the JSfiddle. Hopefully it works on all of the browsers. Thanks.

[2015-08-04 18:54] gbronzer opened #992 "Issue using datamask-input attributes and event handlers"
I'm using the datamask-input-XXX attributes to make it easier to handle different inputs on the same page. Then I just call $(selector).inputmask() to set them up. That works great.

However, I now need to add an "onBeforePaste" handler and I can't seem to do that. If I put it in an attribute, it doesn't seem to get called. If I put it as the options in the initial setup call, it seems to ignore a

[2015-08-04 19:13] gbronzer commented on #992
FYI, browsing issues I saw issue 949 about setting options on initalized intputMasks. That might be a solution in this scenario. After my generic initialize, I could set the OnBeforeMask option explicitly. The issue related to replaced options also seems similar to my issue where you can specify options on the initial call or in attributes but not both.

[2015-08-05 07:11] #974 closed

[2015-08-05 07:21] RobinHerbots commented on #991
@CHOUAIAR ,

You can use the onBeforeWrite callback for that. See inside the numeric extensions for an example.

What is the mask you are using.

I will rework the date aliases soon.  So any improvement or suggestions for the date aliases are welcome.

[2015-08-05 09:46] Domtaholic opened #993 "Windows Phone User unable to set Date"
Hi Robin,

this was discussed in other Issues but you never used a Phone to test this as i see and never postet a solution cause it looked fine for you.

We used you´re mask for our Form and Masked the Date like this:

$('input.dateValidate').inputmask("mask", {"alias": "dd.mm.yyyy", "placeholder": "TT.MM.JJJJ", showMaskOnHover: false});

As tested with a Windows Device with the IE installed there

[2015-08-05 11:00] RobinHerbots commented on #993
@Domtaholic ,

I would love to solve the issue but I don't have a Windows Phone at hand.

[2015-08-05 11:22] Domtaholic commented on #993
@RobinHerbots ,

thx for fast reply.

Is there any chance you can get one for testing the next couple of days?

Our release Date is in 2 weeks. Any Device Labs near you or a friend of you with one?

We got a Lumia 535 and a 530, both has the same problems.

If there is anything i can do for you just let me know.

Cheers

[2015-08-05 11:33] RobinHerbots commented on #993
@Domtaholic,

Have a look if the caret positioning works correclty on the windows phone. =>  inputmask.js caret fn.

Or donate some money to buy a cheap windows phone  ;-)

[2015-08-05 12:01] Domtaholic commented on #993
Sorry i don´t get what that means: "=> inputmask.js caret fn."

[2015-08-05 12:13] RobinHerbots commented on #993
@Domtaholic ,

Debug the caret function into the inputmask.js file with the windows phone device.

[2015-08-05 17:26] shahvaiz commented on #974
Working great on all browsers, including Safari. Thanks so much!

[2015-08-06 05:25] RobinHerbots opened #994 "Update readme for numerics"

[2015-08-06 05:56] RobinHerbots commented on #992
@gbronzer ,

Yes issue #949 is related.  I will fix this in milestone 3.3

[2015-08-06 08:32] RobinHerbots commented on #198
Ok, google translate on android to the rescue  ;-)

[2015-08-06 09:04] jpontet opened #995 "Can you help me convert this regex to a mask?"
@RobinHerbots or anyone else. I have this regex for an email mask- can you help me convert it to a mask alias? Im not sure how to do the mask paramater or definitions.

`^[_A-Za-z0-9%+-]+(\.[_A-Za-z0-9%+-]+)*@([A-Za-z0-9]([A-Za-z0-9-]*[A-Za-z0-9])?\.)+[A-Za-z]{2,50}$`

[2015-08-06 09:29] a13x3y opened #996 "Not work email mask with sign _ in email and clearIncomplete = true"
Do not work email mask with clearIncomplete = true, when email contains sign "_". The email clear after change focus. Without "clearIncomplete" all work fine.

[2015-08-06 13:10] gbronzer commented on #992
@RobinHerbots ,

Fantastic! Thanks for such a great tool!

[2015-08-06 13:42] RobinHerbots commented on #995
@jpontet ,

Have a try with

[code]

[2015-08-06 13:44] jpontet commented on #995
Ah thanks @RobinHerbots . I was hoping to still have the masking! :) Is that possible?

[2015-08-06 15:22] RobinHerbots commented on #995
@jpontet ,

That is a feature I'm want to add to the regex alias.

Why don't you use the email alias?  You can still check against the regex on the complete callback

[2015-08-06 15:28] jpontet commented on #995
Ill try that!

[2015-08-06 15:39] #995 closed

[2015-08-07 14:50] mauricio-bordon commented on #786
Tested the update in d558785.

After entering 0.00, I was not able to enter NULL (no value) anymore.

My settings:

[code]

Thansks,
Mauricio

[2015-08-07 18:17] garrettboatman opened #997 "Placeholders with multiple masks"
There seems to be a bug with having multiple masks on the page with different placeholders.

This does not work as expected:
[code]
The placeholder works correctly with the second input, but when you begin to type in the first input, the second input's placeholder gets inserted and messes up. It's a weird context issue.

Writing a `$.each` fixes the issue, but this behavior should probably work wi

[2015-08-10 04:53] mlhk2007 opened #998 "Show Prefix/Suffix by default"
I would like to know whether there is anyway to forcefully show prefix/suffix even without hovering or focus.

[2015-08-10 04:57] mlhk2007 opened #999 "Suffix with dot issue"
Had notice that if there is a dot in suffix or prefix for numeric alias it will auto focus the dot in the prefix/suffix.

anyway to solve that cause my suffix is a uom which have dot in it

[2015-08-10 08:26] RobinHerbots commented on #998
@mlhk2007 ,

set the clearMaskOnLostFocus option to false

[2015-08-10 08:26] #998 closed

[2015-08-10 08:29] RobinHerbots commented on #999
@mlhk2007 ,

Thx for reporting, I will have a look at it.

[2015-08-10 09:39] arunchudmunge opened #1000 "Jquery inputmask IE Issue"
HI RobinHerbots,

Thanks for " jquery.inputmask " It's really helping me to format input.

But I'm facing few issue in IE .

$revenue.inputmask('£9{1,3}.9{1}', {placeholder : '0', numericInput: true, greedy:false});

I'm using this for currency formatting, my issue is after retrieving these values from the server, in IE the prefix '£' is only showing after focus in that input.

Second issue is on

[2015-08-10 09:44] RobinHerbots commented on #1000
@arunchudmunge ,

Can you make a jsfiddle for it and which version of IE are you using.  Do you also have the problem in Chrome or FF

Maybe set the clearMaskOnLostFocus option to false.

[2015-08-10 10:20] arunchudmunge commented on #1000
Hi RobinHerbots,

Working as expected after taking the latest lib file & giving the '$revenue.inputmask()' @ the end of JS file.
you can close the issue, Thanks for your prompt reply.

[2015-08-10 10:45] #1000 closed

[2015-08-10 14:06] Domtaholic commented on #993
@RobinHerbots

Okay will spend some time today on this one.

Any tips about debugging this and any thoughts why the caret jumps on Windows Phone?

[2015-08-10 14:14] RobinHerbots commented on #993
@Domtaholic ,

Check for script errors, ... caret positioning (caret function) and also to the composition events.

If I got a real device it would be really handy  ;-/

[2015-08-10 20:18] warriorpostman commented on #987
Hi there, really sorry for the late response. Due to time constraints, I ended up referencing the minified bundle JS for the work I was doing. It's possible my initial problem was maybe caused by including the scripts (inputmask, inputmask extension, jquery input plugin) in the wrong order?  But I was never able to verify this.

[2015-08-10 20:55] RobinHerbots commented on #987
@warriorpostman ,

No problem.  There was actually a leftover of the inputmask ref in the numeric alias.  ;-)

Anyway keep reporting any trouble you find!

[2015-08-10 20:55] #987 closed

[2015-08-10 23:34] daniel-g commented on #583
Why does type=number is not supported?

[2015-08-11 13:59] CHOUAIAR commented on #991
Excuse me but I don't see how to set the buffer value on the onBeforeWrite method. Can you explain more please?

[2015-08-12 06:30] RobinHerbots commented on #583
@daniel-g ,

Because type=number is rather limited in use for masking an input.  No other chars allowed than 0-9,. and also no caret positioning.

[2015-08-12 06:48] RobinHerbots commented on #991
Something like this

[code]

[2015-08-12 07:54] #990 closed

[2015-08-12 09:23] #786 closed

[2015-08-12 10:58] gunnx commented on #981
@renniebeach Use another solution like https://github.com/filamentgroup/politespace ?

[2015-08-12 13:26] RobinHerbots commented on #981
@gunnx ,

That is a not so polite suggestion ;-))

[2015-08-12 14:00] gunnx commented on #981
@RobinHerbots Apologies not meant to be negative, I've been trying to find something that meets this requirement too and so far I can't see a way around except looking at an alternative solution. Screen reader testing reveals that they read out the mask which can be quite confusing.

[2015-08-12 18:09] edatodi commented on #828
To get a numeric keypad try type="tel".

[2015-08-12 21:03] RobinHerbots commented on #981
@gunnx ,

I was just joking ;-)

Anyway, I want to support WCAG, but I have no experience with it.  Any feedback is more then welcome or any suggestion to software to test it.
Will the area attributes give the desired result?

[2015-08-13 09:59] jakobgoldstein opened #1003 "IE11 cannot select input text"
Trying to select the input text after validation. Does not work in IE11 while moving the mouse... hilarious.

Angular directives of the input element:
[code]

[2015-08-13 16:07] Hypnotec opened #1004 "Optional Parameter Locks Script; Crashes Page"
I have the following mask:

            $(".rate-amount").inputmask({
                mask: "9{0,9}[.]9{1,2}",
                placeholder: "",
                greedy: false,
                definitions: {
                    '.': {
                        validator: ".",
                        cardinality: 1,
                        prevalidator: null,
                        placeholder: ''

[2015-08-13 21:38] RobinHerbots commented on #1004
@Hypnotec ,

I will have a look after my holidays ;-)

[2015-08-14 15:02] licarus opened #1005 "Plus sign related issue"
I'm trying to put a mask on integer field where if it's a positive integer, it'll automatically adds '+' sign as prefix. But I don't want to prefix '+' sign to always show so that negative number can still be added.

I don't think the input mask can handle that. So, I just added a plus sign on blur in my code. The problem I'm encountering now is when I tab back to that field trying to correct some

[2015-08-14 15:09] licarus opened #1006 "Leading with radix issue"
For decimal mask, is there a way to allow entering the value starting with a dot and automatically append the 0 in the front.

For example, I type in '.' and it'll show up as '0.'.

I noticed in your code under radixhandler, you check for the digits to be more than 0. When I commented that part out, it worked.

If it's not too much trouble, could you add a new config to allow for leading radix?

T

[2015-08-15 10:30] niklasravnsborg commented on #848
Hey there! I'm having the exact same issue. I have to use the german format (`1.000,00` instead of `1,000.00`).

[code]

This doesn't work. :cry: I'm still getting the international format. How did you solve it, @bippesbrandao?

**EDIT:** Solved it!

[code]

[2015-08-17 05:05] aetna-softwares opened #1007 "maks parsing generate a Maximum call stack size exceeded"
Hi,

I am getting the following error when define a mask
[code]
The mask definition is like this :

[code]

when using the same pattern with a mask like "?{0,49}" the problem does not happens

it's seems that the error is linked with the usage of "?" as pattern because if I choose an other letter it works as expected.

[2015-08-17 21:30] claudiogg88 opened #1008 "extra zeros in currency alias"
Hello Robin,

I have an issue with a currency field, i have the following config:
    {
   "digits":"6",
   "integerDigits":"12",
   "radixFocus":true,
   "showMaskOnHover":false,
   "showMaskOnFocus":false,
   "skipOptionalPartCharacter":true,
   "clearIncomplete":true,
   "alias":"currency",
   "digitsOptional":true,
   "groupSeparator":".",
   "radixPoint":",",
   "autoUnmask":true,
   "rightAl

[2015-08-18 13:52] NikKosse commented on #644
@RobinHerbots There is still one problem with it.  If you ente numbers, then click to a spot in the number and try to enter more, only the number directly to the left of the caret changes.  See this fiddle: http://jsfiddle.net/msj5qfu1/43/

[2015-08-18 13:59] AveryWuQiang opened #1009 "Cannot handle (999)\*\*\*-\*\*\*\*"
There is a bug if there is escape char after ')'

[2015-08-19 17:22] paulo-raca opened #1010 "inputmask for Decimal or Percentage"
I need a numeric field that can be either an decimal number or an percentage.

What would it be the correct way to achieve this with jquery.inputmask?

I've tried setting the suffix to "[%]", which sort-of-worked: http://jsfiddle.net/zyv35k5o/.
Unfortunately, there are a few weird behaviours:
- Deleting the % also deletes the last digit
- Grouping is wrong, I get "150,05%" instead of "15,005%"
- D

[2015-08-19 17:28] paulo-raca commented on #1008
I believe that's exactly what {digits:6} mean.
You could use {digits: "*"} for automatic number of digits.

[2015-08-19 19:30] claudiogg88 commented on #1008
thanks, that's work, how can i limit input to 6 decimal (max), and hide if they are 0??

[2015-08-19 19:41] paulo-raca commented on #1008
This seems to work: {digits: "0,6"}

[2015-08-19 19:44] claudiogg88 commented on #1008
yes, thanks! excelent plugin!

[2015-08-21 03:54] thearabbit opened #1012 "Problem with config “inputmask” with array field in Meteor?"
I have like this in `Meteor`:
[code]
[code]
first: items.list = [] // empty
and then, I click btn addNew to add new (reactive list)
The problem in template list don't know inputmask.
Please help me.

[2015-08-21 04:40] thearabbit opened #1013 "Could I set date inputmask like "dd-mm-yyyy", but retrieve "yyyy-mm-dd"?"
I would like to set `date inputmask` like `dd-mm-yyyy`.
But I want to retrieve `yyyy-mm-dd`.
Please help me.

[2015-08-21 06:36] thearabbit opened #1014 "how to custom "retrieve value"?"
I would like to custom the `retrieve value` like this
[code]

[2015-08-21 06:43] ericlovescode opened #1015 "Single-app strangeness (or it could be me)"
I have a script file (main-ready.js) which is loaded at start, which contains only a single line of code to initialise InputMask.

    $(document).ready(function() {
      $(":input").inputmask;
    });

Fine. But I have a single-page app, and if I inject input statements on the page which use InputMask, I always have to include the script file (I described above) for each input. So for example, i

[2015-08-22 12:16] skorobkov commented on #885
Hi,
Any news?

Thank you.

[2015-08-23 17:55] csoseman opened #1016 "Dynamically switching mask in same input box not functioning as expected"
I have a select box I'm using to determine the proper mask for a text input. What happens is that the direction (ltr/rtl) property of the mask seems to inherit the state of the initially selected mask if you switch/change between the 2. I have created a test case in jsFiddle with specific steps to recreate the issue. A big thank you in advance to anyone who could provide some valuable input!

Test

[2015-08-24 07:07] mlhk2007 opened #1017 "Remove or Change Thousand/Decimal Seperator"
I'm currently using the numeric alias to achieve
1500.00 m for 1500 metre, i would like to know is there anyway to remove or change the thousand and decimal separator as i'm developing a multi-language web app where thousand separator might be space or even . in different region of the globe

[2015-08-24 11:58] reinos opened #1018 "IE8 - Member not found"
On IE8 I get this error using this jquery version http://code.jquery.com/jquery-1.11.3.js.

![image](https://cloud.githubusercontent.com/assets/633730/9439525/24d5cfce-4a68-11e5-86a4-411866a7579b.png)

Any idea?

[2015-08-25 09:31] UtamaruMonster commented on #970
Don't know if its related.
When typing 372 code, witch is Estonia, inputmask shows USA and Canada plus it adds 222.
What you get is 372222 and no possibility to do anything but delete.

[2015-08-28 07:55] aglaganov opened #1019 "you can't write ukraine number to phone field +380999999999"

[2015-08-28 17:09] reverence12389 opened #1020 "Mask cleared on ajax submit or jquery unobtrusive validation error"
I am using this plugin for phone number fields on my MVC app which uses Jquery, jquery unobtrusive validation, and jquery ajax validation from Microsoft (see screenshot of my scripts directory).

I've noticed an issue when you post the form or when you have a jquery validation on the input field, the mask is clearing and not coming back.

Please see video attached (http://www.fastswf.com/asJcSB4).

[2015-09-01 15:52] #949 closed

[2015-09-01 15:52] #992 closed

[2015-09-01 18:25] reverence89 commented on #1020
@RobinHerbots Hi, since you added it to the Main label and a milestone, is that safe to say that it is an issue and will be fixed?

[2015-09-01 20:10] brownbl1 commented on #992
@RobinHerbots @gbronzer
Thanks for the fix! If dist is stable, should we update now or wait for the official release if it's not?

[2015-09-01 20:34] RobinHerbots commented on #992
@itslittlejohn ,

I guess that is totally up to you ;-)

[2015-09-01 20:37] RobinHerbots commented on #1020
@reverence12389 ,

Yep, I will have a look at it and try to fixed it.

[2015-09-02 02:42] jonesnc opened #1022 "Why does jquery.inputmask.js refer to the jQuery module as "jQuery", not "jquery"?"
[Line 9 of jquery.inputmask.js](https://github.com/RobinHerbots/jquery.inputmask/blob/3.x/dist/inputmask/jquery.inputmask.js#L9) refers to the jquery module as "jQuery", not as it's usual module name, "jquery". Is this a bug, or is there a specific reason for this?

The reason I ask is I'm getting incorrect behavior where requireJS is trying to import /base_path/jQuery.js instead of /correct/path/

[2015-09-02 06:51] #1022 closed

[2015-09-02 06:52] RobinHerbots commented on #1022
@jonesnc ,

Fixed.  That was a typo (bug)

[2015-09-02 07:03] RobinHerbots commented on #1018
@reinos ,

Can you create a jsfiddle for it as I cannot reproduce the problem.

[2015-09-02 09:20] #1007 closed

[2015-09-02 09:21] RobinHerbots commented on #1007
@aetna-softwares ,

There was a mistake in the tokenizer regex!

Thx for reporting.

[2015-09-02 09:30] RobinHerbots commented on #1004
@Hypnotec ,

Can you create a jsfiddle with instructions to get to the crash.

Why don't you use the numeric alias?

[2015-09-02 09:55] RobinHerbots commented on #997
@garrettboatman ,

I cannot reproduce the problem with the latest version.

Can you create a jsfiddle to point out the case.

[2015-09-02 10:59] RobinHerbots commented on #1015
@ericlovescode ,

I chose not to automate the binding, and leave the implementation to the developer.

It is logical that you have to call the inputmask again for the new added content.  $(":input") selects the input elements currently available in de document.

How do you add the new td?  When you add the new td you just call  $(":input").inputmask()

When the content is added through an ajaxcall

[2015-09-02 11:02] RobinHerbots commented on #1006
@licarus ,

That is already the case:

http://jsfiddle.net/ot3py0xc/  and start typing a '.'

[2015-09-02 11:02] #1006 closed

[2015-09-02 11:06] RobinHerbots commented on #1008
@claudiogg88 ,

Actually this is a bug.  The workaround works but the digitsOptional true should result in the same behavior.  I will fix this.

[2015-09-02 11:12] #1008 closed

[2015-09-02 11:16] RobinHerbots commented on #1017
@mlhk2007 ,

use the radixPoint and groupseparator options to alter them.

[2015-09-02 11:16] #1017 closed

[2015-09-02 11:22] RobinHerbots commented on #1005
@licarus ,

Can you try with this http://jsfiddle.net/ot3py0xc/2/

As an extra I understand that you always want to show the + in case of a positive?

Robin

[2015-09-02 11:24] RobinHerbots commented on #644
@NikKosse ,

Indeed, ... strange, .... I will have a fix asap.

[2015-09-02 13:31] danilG opened #1023 "Mask +7 799 999-99-99 converts +7 777 000-00-00 to +7 700 000-00- after blur"
Mask eats same prefix numbers following the prefix constant
Also, input of +7 770 000-00-00 comes to +7 700 000-00-0
         input of +7 700 000-00-00 (no matching constant prefix) stay correct

[2015-09-02 16:50] garrettboatman commented on #997
You got it! http://codepen.io/garrettboatman/pen/rONXGx

[2015-09-02 18:51] danilG commented on #1023
Sorry, guys. I'd found that I'm running not fresh version. After replacing to version 3, the problem solves completely.

[2015-09-02 18:51] #1023 closed

[2015-09-02 19:01] danilG commented on #997
Thank you, Garrett!
I'd tested your examples, and I have found that I'm using not latest version.
After replacing to latest version 3 all gone work!

---

С уважением, Данил Газизов,
ICQ: 203-010-703
skype: danil.gazizov
email: eurobax@mail.ru

[2015-09-03 13:36] #644 closed

[2015-09-03 15:18] #994 closed

[2015-09-03 15:23] RobinHerbots commented on #997
@garrettboatman ,

This is already fixed in the latest version.

http://codepen.io/anon/pen/BoyQRa

[2015-09-03 15:23] #997 closed

[2015-09-04 09:45] RobinHerbots commented on #1020
@reverence12389 ,

Fixed inthe latest version

[2015-09-04 09:45] #1020 closed

[2015-09-04 19:29] licarus commented on #1005
Your example is showing that the plus sign is allowed and when I have the whole text highlighted, and type something it automatically deletes the whole value. That's exactly how I want it.
The thing is, I would also like a way to always show the + in case of positive. The way I do it now, I manually append "+" in front of the number when I tab away. It works as far as appending it, but when I tab

[2015-09-04 20:35] licarus commented on #1005
I just got the latest version (3.2.0) and this is working how I described. yay!
But I do notice something that may be a bug. For decimal input mask, if I have a number with decimal, and when I tab to it with the whole value selected and hit delete key, instead of clearing it, it leaves a 0. I have to hit the delete again to clear that one.

Check it out: http://jsfiddle.net/ot3py0xc/3/

[2015-09-04 23:36] newenegue opened #1024 "3.2.0 Error extendDefinitions and extendAliases not functions"
I've just tried the new `3.2.0` release and I'm getting the following errors when initializing the `jquery.inputmask.bundle.js` file.  I haven't changed any of my projects code since switching from `3.1.63` to `3.2.0`.  It was previously working perfectly on `3.1.63`.

`jquery.inputmask.bundle.js:1943 Uncaught TypeError: Inputmask.extendDefinitions is not a function`
`jquery.inputmask.bundle.js:20

[2015-09-05 05:30] RobinHerbots commented on #1024
How exactly do you use the bundle?  I mean just a script tag or a module loader?

[2015-09-08 17:44] crberube opened #1025 "Invalid JSON phone-uk.js"
I have this plugin installed via bower. The 3.2 update recently added phone-uk.js along with the other extra phone codes to the default install. This has completely broken everything because phone-uk.js is not a valid JSON file.

On line 202 I get the following error: "Uncaught SyntaxError: Unexpected identifier".

This file was originally introduced in this commit: https://github.com/RobinHerbots

[2015-09-08 18:25] newenegue commented on #1024
@RobinHerbots I'm using a combination of bower and require.js to include the bundle.  My project is built on sails.js and it injects the bundle into a script tag given the relative path to the file.  I'll try manually including the script tag to see if that makes any difference.

[2015-09-08 19:40] RobinHerbots commented on #1024
I will commit a patch for it tomorrow.  The recommended way when using via
requirejs is by including the separate files. (include only what is
required)  Anyway, it should also work when using the bundle.

Op di 8 sep. 2015 om 20:25 schreef Eugene notifications@github.com:

[2015-09-08 19:42] RobinHerbots commented on #1025
How does it break everything?  Do you include it automatically?  I know the
phone-uk.js file is incomplete.

Op di 8 sep. 2015 om 19:44 schreef Christopher Berube <
notifications@github.com>:

[2015-09-08 20:57] crberube commented on #1025
I think I see what's going on here. I am using the [Rails Assets](https://github.com/rails-assets/rails-assets/) project which takes the bower.json file and automatically requires files listed in the _main_ directive (which is pretty standard as far as build tools go I believe). It looks like the phone-uk.js file has a bunch of placeholders at the bottom for masks that should be added in the futur

[2015-09-08 21:00] yesman85 opened #1026 "Alternator not setting cursor at beginning"
See following plunkr: http://plnkr.co/edit/oTIYAalxVD4ENzY09rh9

I define 2 masks, the first always starts with a 1 and the 2nd always with a 2. But when you enter the input it will jump first 1 characters, while it should start at the beginning.

[2015-09-09 07:05] RobinHerbots commented on #1026
@yesman85,

You should not set the keepstatic option in that case.  With the keepstatic the masking stays on the current mask and only tries to alternate the current mask  is complete and the current input is false.

[2015-09-09 10:32] mmilczewski opened #1027 "Extra number after delete part of value and typing new number"
This bug is very similar to #904.
Steps to reproduce:
1. I have a placeholder with **100,00**.
2. Delete only number before coma (**100**).
3. Start typing new value, for example **12**, then I got **121,00**.

However I think that in #904 solution isn't good too, because if I delete first number, I got **0,00** and caret is before whole number, so when i start typing, for example **1**, I got **1

[2015-09-09 14:04] RobinHerbots commented on #1027
@mmilczewski ,

Can you make a jsfiddle for it.

The placeholder?  Do you mean an initial value or really the placholder?

[2015-09-09 14:55] vzelenko opened #1028 "Hooking up 'change' event question"
I have some scripts that executed on 'change' event of an <input type="text"> control.  After setting the control to be a decimal input mask, change event no longer triggers.

What is the equivalent event I can use here?

Example:

[code]

[2015-09-09 15:37] vzelenko commented on #1028
Seems to work on JSFiddle when I hook to $('#text_input').change event...

[2015-09-09 15:37] #1028 closed

[2015-09-09 15:41] mmilczewski commented on #1027
Yes.
Here: http://jsfiddle.net/qmemcvdb/

I mean initial value, not placeholder - my fault.

[2015-09-09 16:31] hielh commented on #483
Hi, is there any solution to use year on two digits only?
can you please give me an exemple.

Regards,
Hicham

[2015-09-09 17:23] reverence12389 opened #1029 "inputmask is not a function error after 3.2 update"
Just upgraded my project to use the latest version (3.2), and I am getting an uncaught TypeError that inputmask is not a function.
[code]

Here is the full code for configuring defaults:
[code]

And the code used to configure the field with the custom alias:
[code]

Here is a screenshot of my bundles config:
![capture](https://cloud.githubusercontent.com/assets/5864485/9769189/ab89b0ea-56f6-11e5-9

[2015-09-09 18:33] bioball opened #1030 "Browserify error: `Error: Cannot find module 'inputmask' from '/Users/.../node_modules/jquery.inputmask/dist/inputmask`"
I'm having an issue bundling this library into my project using Browserify. I installed the package via npm, and am on version 3.2.0. I'm getting this error:

[code]

And the code where I'm including this module looks like this:

[code]

Am I missing something here? Looks like the problem stems from this line in jquery.inputmask.js, where the modules are required via absolute paths:

[code]

This

[2015-09-09 20:33] RobinHerbots commented on #1029
Both and you need to include jquery.inputmask.js after inputmask. Js

[2015-09-09 22:01] paulpolushkin commented on #948
I have the same issue. The clipboard does not contain a value after I try to cut it from an input with mask.

[2015-09-09 22:26] newenegue commented on #1024
@RobinHerbots thanks!

[2015-09-10 08:07] RobinHerbots commented on #1030
@bioball ,

I looked at the specs and indeed the requires need to be relative when they are not packages.

Just your opinion.  I have a bundle file,  ...   when I add it to the files it will be included and picked up by browserify i guess....

[2015-09-10 08:08] RobinHerbots commented on #1024
@newenegue ,

Have you tried requiring only the files you need?  I'm thinking of removing the bundle all together

[2015-09-10 13:28] rogerfar commented on #1026
Oh my bad I didn't read that part properly in the docs.

[2015-09-10 13:34] RobinHerbots commented on #1026
@yesman85 ,

I'm just reopening, because I like your mask and the second 0 should be _ in my opinion.

[2015-09-10 13:35] reverence89 commented on #1029
Including inputmask.js BEFORE jquery.inputmask.js resolved my issue. Thanks.

[2015-09-10 13:35] #1029 closed

[2015-09-10 13:37] reverence89 commented on #828
Has this issue been fixed? I'd like to also be able to use type=number so that on mobile devices the numeric keyboard is used rather than a full keyboard.

[2015-09-10 13:39] #1025 closed

[2015-09-10 13:41] RobinHerbots commented on #1030
@bioball ,

I updated the refs and the package.json.

Can you have try.

[2015-09-10 14:25] RobinHerbots commented on #1027
@mmilczewski ,

eu, ... i cannot reproduce the first issue.

[2015-09-10 15:09] mmilczewski commented on #1027
You have to mark **100** and then start typing new value.

[2015-09-10 16:17] bioball commented on #1030
Seems to work fine now.

[2015-09-10 16:23] bioball commented on #1030
So I added a test for bundling with browserify! Did this to verify that your changes fixed things, feel free to merge if you'd like.

[2015-09-10 17:52] newenegue commented on #1024
@RobinHerbots Through require.js I had to include `dependencyLib`, `inputmask`, `jquery.inputmask`, `inputmask.extensions` and `inputmask.phone.extensions`.  I didn't realize I had to include `dependencyLib` as it wasn't clear in the usage instructions.   The instructions made it seem like I only needed `inputmask.js` and `jquery.inputmask.js` at a minimum.

Additionally, when I try to use the `ph

[2015-09-10 18:18] newenegue commented on #1024
@RobinHerbots Actually I see from the phone extension doc that I can assign the url when initializing the inputmask.

Everything seems to be working well when I include the files individually

[2015-09-10 20:35] RobinHerbots commented on #1024
@newenegue ,

Ok I need to update the documentation.  The dependencyLib is new and still a WIP. It will enable to use another framework (or just vanilla javascript) instead of jquery.

Yes for the phone mask to work you need to specify the correct url in the options.

[2015-09-11 12:42] FRAGnatt commented on #912
Same issue ;(((( Robin, please tell. When you can fix this ?

[2015-09-11 15:06] #1030 closed

[2015-09-11 18:54] solsticesurfer commented on #989
Problem still occurs in IE11 using the latest build (Sept 9)

[2015-09-14 07:35] RobinHerbots commented on #989
@solsticesurfer ,

Can you provide some more info on how to reproduce the problem.  Or create a jsfiddle.

I tried in IE11  and also in IE9 mode but the example above just keeps working.

[2015-09-14 07:36] sillentkil opened #1032 "Decimal sign shifts when editing"
Hi i got a weird problem after i updated to the latest version when using mask.

i'm use the following html and script its just an simple version of what im using:
[input class="maskValuta2digits" type="text"  value="12.55]

$('.maskValuta2digits').inputmask('mask', {
  mask: '9{1,*}.99{1,1}',
});

When i select the 2 and change it so say 6 it changes from "12.55" to "165.5_"

if i use the followi

[2015-09-14 17:04] itslittlejohn opened #1033 "oncomplete not called when set with option function"
I'm attempting to set the `oncomplete` method using the new `option` function, but something seems to be going wrong.

[code]

calling `$('#my-val').inputmask('option', 'oncomplete')` shows that the function has indeed been updated to reflect the new `"hello!"` message, but when I actually complete the mask, it still logs the original `"howdy!"` message.

[2015-09-14 17:06] brownbl1 commented on #1033
By the way, it seems that this is true for other options besides `oncomplete`.

For example:

[code]

seems also to not actually change the mask, but when you ask for the mask value using the `option` function, it gives you `"999"`.

[2015-09-15 10:40] SilentDariusz opened #1034 "jQuery validation seems to treat fields with input mask like not empty"
Using this library:
https://github.com/1000hz/bootstrap-validator

Required field that uses "native" jQuery validation returns as not empty, and therefore valid, even that there is only mask in it.
Intereting is that if value is erased from input, then it validates as empty

Problem doenst appear with other mask plugins.

More can be found here: http://stackoverflow.com/questions/32581404/jquery-v

[2015-09-15 12:28] #1024 closed

[2015-09-15 12:34] RobinHerbots commented on #1034
@SilentDariusz ,

Did you try with setting the autoUnmask option to true.  (can also be set global ~ Inputmask.extendDefaults)

[2015-09-15 12:41] #473 closed

[2015-09-15 12:52] RobinHerbots commented on #406
@mrapaka ,

I tried again with http://jsfiddle.net/bxfXd/6301/  (updated to inputmask 3.2.x)

And it works in IE9

[2015-09-15 12:52] #406 closed

[2015-09-15 12:58] #454 closed

[2015-09-15 13:00] #490 closed

[2015-09-15 15:38] pricejt opened #1035 "Cannot read property 'matches' of undefined"
I am getting this error in the console when i try to use a regular expression.  Am i doing something wrong?

    var heightSelector = "input[name$='Height']";
    var widthSelector = "input[name$='Width']";

    var mask = "^\s*(((\d+)(\d{2})(\d{2}))|(([\d.]+)'?)?[\s-]*((\d+)?[\s-]*((\d+)\/(\d+))?\"?)?)\s*$";

    $(document).ready(function() {
          if ($(heightSelector).length){
	     $(heig

[2015-09-15 15:44] RobinHerbots commented on #1035
@pricejt ,

You need to use the regex extension to use regular expressions as a mask.  See https://github.com/RobinHerbots/jquery.inputmask/blob/3.x/README_regex.md

[2015-09-15 15:50] pricejt commented on #1035
@RobinHerbots Ok i am getting no errors now but my text box doesn't allow me to type numbers anymore only alpha characters. Here is my new code.

[code]

[2015-09-15 15:59] brownbl1 commented on #1033
@RobinHerbots I tried to follow the documentation you added for the `option` function, but am I doing it wrong? Also, if there are any options that you know for a fact work with this function, let me know and I can try my hand at a fix for this.

[2015-09-15 18:30] gbronzer opened #1036 "_getValue throwing error on form submit() after removing inputmask"
This is a peculiar scenario, I'll try to describe.

I have a AJAX loaded modal that loads some phone inputs that use inputmask. I then support allowing the user to disable the inputmask to enter international numbers. This is done via $(el).inputmask('remove'). When I submit the modal, I'm getting this JS error.

![image](https://cloud.githubusercontent.com/assets/5521279/9885809/1e3f9696-5bb5-11e

[2015-09-15 20:44] RobinHerbots commented on #1036
@gbronzer, thx for reporting!!  I shall see why it happens.

[2015-09-16 21:58] RobinHerbots commented on #1035
@pricejt ,

I will have a look at it

[2015-09-17 08:27] RobinHerbots commented on #1036
Upgrading to version 3.2 should fix it.

[2015-09-17 14:22] gwelr commented on #948
Any chance to get an update on this one ? I see the ticket assignment was removed on July 28...

[2015-09-17 23:15] gabrielchavezt opened #1038 "inputmask is not a function"
While testing an asp.net MVC application firefox show:
TypeError: $(...).inputmask is not a function

This are my scripts

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.js"></script>
    <script src="../../Scripts/jquery.inputmask/inputmask.js"></script>
    <script src="~/Scripts/jquery.inputmask/jquery.inputmask.js" type="text/javascript"></script>

[2015-09-17 23:45] serGlazkov opened #1039 "oncompleate set value incorrect action"
If in "oncomplete" callback make setVal action with other masked input, you can see incorrect reactions in Chrome and Safary, well work in FF
Demo: http://jsfiddle.net/serGlazkov/nxLzq82o/

[2015-09-18 07:28] RobinHerbots commented on #1038
Is the path to inputmask.js correct?   ../../scripts  the others state
~/Scripts/...

Op vr 18 sep. 2015 om 01:15 schreef gabrielchavezt <notifications@github.com

[2015-09-18 07:33] RobinHerbots commented on #1039
@serGlazkov ,

I updated the jsfiddle to the latest version of inputmask.

http://jsfiddle.net/nxLzq82o/1/   I see that the input looses focus.

[2015-09-18 14:41] socrim opened #1040 "Visualize regular expressions"
Hi

We have evaluated a lot of plugins similar to yours but
jquery.inputmask ROCKS!!
Are there any plans to add visualization to your plugin?

Best
Mirco

[2015-09-18 21:05] RobinHerbots commented on #1040
@socrim ,

Thx  ;-)

Do you mean visualization to the regex extension?

[2015-09-20 10:11] nsomlai opened #1041 "Decimal point/comma not working on Android 4.4"
`<form:input path="nHa" wstype="float1" size="5" class="ui-state-default"/>`

`$("[wstype='float1']").inputmask({alias: 'numeric', groupSeparator: ' ', radixPoint:',', autoGroup: true, digits: 1, digitsOptional: true, removeMaskOnSubmit: true});`

This simple mask works fine everywhere I tested, including my two Android 4.2 devices. However, it's not possible to enter the decimal part on my client

[2015-09-20 10:17] afattahi54 commented on #1041
May be duplicate with
https://github.com/RobinHerbots/jquery.inputmask/issues/898
https://github.com/RobinHerbots/jquery.inputmask/issues/897

[2015-09-21 00:48] LukeFranky opened #1043 "$input is not defined in unmaskedvalue(input) function."
Chrome gives me the following error since updating to the latest version (3.2.1-55)...
Uncaught ReferenceError: $input is not defined

I tracked this down to line 694 of jquery.inputmask.bundle.js. This bug is in the unmaskedvalue(input) function. Renaming $input to input fixes the problem.

[2015-09-21 07:38] RobinHerbots commented on #1043
@LukeFranky ,

Thx for reporting.

[2015-09-21 07:38] #1043 closed

[2015-09-21 08:53] socrim commented on #1040
Hi Robin,

yes I mean visualizing the regex. E.g.: the mask would look like this, e.g. a
simple license code.

xxxx-xxxx-xxxx

A user would not have to type the dashes instead the cursor skips these and
forwards to the next position in the mask where user can enter something.
This would be a great extension to your plugin.

Best

Mirco

[2015-09-21 09:52] RobinHerbots commented on #1040
@socrim ,

.... and why can't you use a mask instead of a regex?

[2015-09-21 11:41] socrim commented on #1040
in our software regex is used to define a mask.

the problem we have is visualizing this mask.
I thought that this would be an extension to your plugin.

But, sorry if I did not understand your question right.

Best
Mirco

[2015-09-21 11:54] RobinHerbots commented on #1040
@socrim ,

Don't get me wrong, I was just asking.

It is definitly a feature I want to add to the regex extension.  I just have to figure out which way to go.  Or translate the regex to a mask definition or analyse the regex and show a valid placeholder.
..

[2015-09-21 12:21] socrim commented on #1040
Hi Robin,

probably translating the regex to a mask definition would be step 1 and showing
a placeholder like

12345-abcde-a1b2c3

where the fixed chars are somehow styled differently maybe like this:

12345-abcde-a1b2c3

then you start typing and what you type then looks like this.

0815-abcde-a1b2c3

What do you think?

Best

Mirco

[2015-09-21 12:36] RobinHerbots commented on #1040
@socrim ,

Can you provide the regex you want to use and I guess I dont see a styling difference?

[2015-09-21 12:37] #1038 closed

[2015-09-21 12:37] #1018 closed

[2015-09-21 14:16] socrim commented on #1040
I have attached the differences in style as attachment.

They propably did not make it through my email client.

[2015-09-21 14:53] brownbl1 commented on #690
+1. If this was handled more intelligently by default, that would be sweet! In the meantime though, for anyone who would like this functionality now, it's fairly simple to define an alias and override the `determinebaseyear` functionality. Something like this worked for me.

[code]

[2015-09-21 16:19] gabrielcht commented on #1038
Thanks RobinHerbots. I just need to configure bundle.cs and _layout

[2015-09-21 19:01] SomethingSexy commented on #1024
Can you make dependencyLib relative to inputmask? So something like "./dependencyLib".  For AMD/RequireJS users we should be able to just setup inputmask as a path and then we don't need to create another path definition for dependencyLib.

[2015-09-22 11:03] #1036 closed

[2015-09-22 11:07] RobinHerbots commented on #1013
@thearabbit ,

Implement onunmask and do the conversion

[2015-09-22 14:24] mboltuc opened #1045 "Mask not cleared on mouseleave, when using showMaskOnHover"
I'm using v3.2.0,  I have a input with a date mask (mm/dd/yyyy) in a form.  When I submitted the form, it submitted the mask.  Upon investigation, it appears that if you hover over an element and then move the mouse out, the input mask does not get cleared.  Turning off, showMaskOnHover solved the issue for me.

[2015-09-22 14:39] SomethingSexy opened #1046 "iOS8, Safari when using Regex pattern is forcing caps lock"
I am using version 3.2.0 and I have the following regex pattern for an input field

[code]

This being added via the 'Regex' property to a text field.  It seems on the iPhone that this is forcing the field to always being capitalized.  You can lowercase it manually, however it is ignoring the "autocapitalize" attribute and by default every character entered is capitalized. Has anyone else run into

[2015-09-23 00:58] thearabbit commented on #1013
Excuse me, could example for me?

[2015-09-23 01:13] gthlopez opened #1047 "DependencyLib error in Internet Explorer"
Hi friend , I use this library with RequireJS , but when I use Internet Explorer, this dependence ( dependencyLib.js ) is throwing me the following error. Thanks for the input.
![captura](https://cloud.githubusercontent.com/assets/12861278/10036003/54f19a98-6166-11e5-950b-fc34d6187994.PNG)

[2015-09-23 07:45] dluk opened #1048 "$input is not defined in bundle"
line 694  `$.isFunction(opts.onUnMask) && (unmaskedValue = opts.onUnMask.call($input, bufferValue, unmaskedValue, opts) || unmaskedValue);`

[2015-09-23 10:18] dluk commented on #989
I think I also have the same problem with latest version (3.2.1-55) and IE11, it is not possible to leave an empty input when using these options `{
            "alias": "integer",
            "groupSeparator": " ",
            "autoGroup": true,
            "autoUnmask": true,
            "unmaskAsNumber": true,
            "allowMinus": false,
            "allowPlus": false,
            "integer

[2015-09-23 11:32] #1048 closed

[2015-09-23 14:08] #1047 closed

[2015-09-23 14:10] RobinHerbots commented on #1047
@gthlopez ,

This is fixed.  Be aware that you still can use jquery as the dependency.  Have a look in the dist folder for other possible dependencyLibs.   The dependencyLib.js will be a vanilla javascript dependency but is still a WIP.  For the events I still rely on jquery.

[2015-09-23 14:11] RobinHerbots commented on #1024
@SomethingSexy ,

The idea is to pick the dependencyLib you prefer.  See the WIP in the js folder.

[2015-09-23 14:16] SomethingSexy commented on #1024
@RobinHerbots Ya, I gotcha.  Is it possible to at least namespace it then or name it something more specific to your plugin?

[2015-09-23 14:46] RobinHerbots commented on #1024
@SomethingSexy ,

Yep I will do that.

[2015-09-24 08:04] RobinHerbots commented on #517
@mfeingold ,

Althought the dependencylib is stil a WIP, you can already see in it what is needed to support jqlite.

I already started the dependencyWrapper for jqlite.  See inputmask.dependencyLib.jqlite.js.

I guess the biggest todo is the namespaced events.  (I know I can workaround that in the inputmask code but I prefer to keep it and do a simple implementation in the dependencyLib)

[2015-09-24 08:52] RobinHerbots commented on #1045
@mboltuc ,

Can you make a jsfidlle with the exact mask and options as this should work.

best regards,

Robin

[2015-09-24 08:54] RobinHerbots commented on #1046
@SomethingSexy ,

Can you create a jsfiddle with the exact mask used to make it more clear.

[2015-09-24 12:31] abbazabacto commented on #993
@RobinHerbots May I first thank you for your wonderful plugin, I use it a lot and it really makes the UX on my sites great, especially this date-inputmask.

For windows phone (8.1) the problems I see are the following:
- when i start typing it ignores the ONLY the first digit i enter, which leads to sometimes failing the second, with "09" the 0 would fail, but the 9 wouldnt be accepted by the rege

[2015-09-24 13:06] mboltuc commented on #1045
I can't seem to reproduce in a jsfiddle, must be something wacky with our implementation.  I spend some more time with it later, and repost if I can reproduce outside our product.

[2015-09-24 13:06] #1045 closed

[2015-09-25 21:39] cwalker94 opened #1049 "Issue with setting interDigits and digits"
Hi there.. Great plugin! But, I'm having an issue.. Please see this Fiddle for an example: http://jsfiddle.net/evLpg1vx/

Here is what I'm experiencing. The first time you go into the input field, you can type 12345.67, and it automatically puts in the ",". Now, hit TAB to go to the next field. Then, go back to the previous field by hitting SHIFT-TAB. It automatically highlights the entire field.

[2015-09-28 15:10] snizhok opened #1050 "I have a problems with mask input, I can't input Ukraine phone +380(XX)XXX-XX-XX"
You can find this problem on you demo website. There is also problems with some other codes. I can't write three characters begining with +38. Can anyone help to find where is the problem. Thanks.

[2015-09-28 19:53] ronco commented on #483
Is there any way to do this with the current release?  Could it be done with a custom `extendDefintions`?

[2015-09-28 22:05] AlexanderMorou opened #1051 "Issue with Validator with multiple masks on same Input"
I'm having an issue with the input mask handling certain combinations.  Because I'm trying to validate the date by culture allowing 1-2 characters for the month/day and 2/4 characters for the year, I generated the code below based off of the current culture:

    Inputmask.extendDefinitions(
      { 'D':
        {
          validator:   '[1-9]',
          cardinality: 1,
        },
        prevali

[2015-09-28 22:09] AlexanderMorou commented on #1051
Ah, do note: names of the groups are seemingly random because it iterates through the valid combinations of multiple facets (Abbreviated Month Names, full month names, and other aspects) and generates conceptual identifiers for items that may not be present in that culture's short date format.  It then only emits the extendDefinitions of what's relevant for that given culture.

[2015-09-29 08:44] ap-arto commented on #1050
$("#phone").inputmask("+38(099)9999999", { greedy: false,
            "onincomplete": function(){ $(this).addClass("input-unvalid");},
            "oncleared": function(){ $(this).removeClass("input-unvalid");},
            "oncomplete": function(){ $(this).removeClass("input-unvalid");}
        });

[2015-09-29 10:41] snizhok commented on #1050
Thanks, but I need to use other codes too, so I need all functionality of mask, but mask for Ukraine and some other countries with codes +38.. is not working. I can't put third symbol to the input field besides "(". This is main problem. I need to use phone-codes.js file in my app. But input mask do not working with that file correctly.

[2015-09-29 12:18] RobinHerbots commented on #1051
@AlexanderMorou ,

Do the individual masks work as expected?

It is possible that there is a problem in the alternation logic in inputmask.js.

I will have a look.

[2015-09-29 12:20] RobinHerbots commented on #1050
@snizhok ,

I will have a look why the alternation fails.

also see #1051 & #1019

[2015-09-29 13:14] AlexanderMorou commented on #1051
Each individual mask works as expected, it's when they're used in combination that the issue occurs.  I'm thinking it's guessing an improper cardinality. If I force two digits for day/month, the altnernation for year works as expected; however, if memory serves it still has issues when you type: MM/DD/YY the trailing '__' stays in place when the control is tabbed away from (but only when the two Y

[2015-09-30 10:31] ivodopyanov opened #1052 "Deleting character from input with 'email' alias shifts all data"
See here: https://jsfiddle.net/xe23sw0x/1/
1) Type "zxc@vbn.com" in input
2) Set cursor between 'c' and '@'
3) Press backspace

Data in input I see: zxv@bnc.om
Data in input I expect: zx@vbn.com

Same if I delete character between '@' and '.' - data after '.' gets shifted too.
I'd like to be able to edit parts of email independently.

Same for 'mac' alias

[2015-09-30 10:59] ivodopyanov opened #1053 "Distinguish empty value and '$ 0.00' value for currency alias"
See here: https://jsfiddle.net/jo7xxm9r/2/

1) click on input, type '1', press 'get value' button. Alert says '$ 1.00' - right
2) click on input, delete '1', type '0', press 'get value' button. Alert says nothing - wrong.

I'd like to get '$ 0.00' value from input if user entered it manually and empty value if user haven't touched that field.

Same for 'percentage' alias

[2015-09-30 17:18] AlexanderMorou opened #1054 "Mask Selection seems Invalid on Complex Masks"
This is related to Issue #1051.

If you have a complex set of masks for say, entering a date through its long-text, selection of the valid mask seems to be incorrect.

If you have the month names encoded based on the month name lengths (due to the way cardinality works) the selection of the mask seems to be based solely on which matches first (leading to the order of the masks being important, whi

[2015-09-30 17:42] pricejt opened #1055 "IsValid on Optional Mask returning false"
Why would this return false
var isValid =Inputmask.isValid(maskedString, { alias: "99-99 [99/99]"});

If my input was 03-11

I also tried with including the space var isValid =Inputmask.isValid(maskedString, { alias: "99-99[ 99/99]"});

still returns false.

[2015-09-30 21:13] RobinHerbots commented on #1055
@pricejt ,

I will verify & fix the issue, but I'm very busy on the dependencyLib.  So some patience.

The vanilla dependency is finished but all unittest need to be updated and that are a lot of tests. ;-/

[2015-09-30 21:15] RobinHerbots commented on #1053
@ivodopyanov ,

I agree.

[2015-09-30 21:17] RobinHerbots commented on #1052
@ivodopyanov ,

Again I agree ;-)

I will fix these.

[2015-10-01 13:55] koup opened #1057 "Skip optional character to next mask part"
Hey Robin,

First, great plugin ;)

Here is my mask for a car number like B-GO 1234 or WI-DA 56:
[code]
It is possible to skip the alpha block to the number block when i hitting a number key?

Thanks a lot
Mirko

[2015-10-01 14:43] aadamsx opened #1058 "Meteor package"
Do you know of a Meteor wrapper package for this?

[2015-10-01 15:13] aadamsx commented on #1058
Found it: https://atmospherejs.com/bigdsk/inputmask

[2015-10-01 18:07] aadamsx opened #1059 "Is it possible to write a mask that makes sure the first letter is always Capitalized?"

[2015-10-01 21:16] ronco commented on #483
@hielh As a limited workaround I was able to do this to add a new definition for 2 digit year (Y):

[code]

It allows me to make use of a mask like `m-d-Y` to get `mm-dd-YY`.  It's not as good as the built in date aliases as I don't think all the correct date checking and min-max range enforcement works, but it's good enough for my purposes for now.  Hope that helps.

[2015-10-02 12:26] mdmamde opened #1060 "field input width characters cropped while writing"
hello,
i have an input field with url mask while i am writing a long url
the text  in the field is fixed to the start.
is this a bug or something i can configure?

i tested browser, the problem is related to ie11

[2015-10-02 12:33] mdmamde commented on #1060
http://jsfiddle.net/pobo609e/2/   for example

[2015-10-02 13:03] paulpolushkin opened #1061 "Pasting to masked input not working on Android"
$('#cardnumber').inputmask('999999', {placeholder: ''});

1) Copy any number value to buffer.
2) Try to paste from buffer to masked input field (The field is empty initially)
3) The field is still empty. The cursor is set at the beginning of the field.

Android version: 4.2, 4.3
Browsers: Google Chrome 42 and above, Opera 32
Inputmask version: 3.2.0

[2015-10-02 14:08] paulpolushkin commented on #1061
Inputmask version: 3.2.0

[2015-10-02 18:31] JackMcKenzie57 commented on #483
I am also interested in this feature FYI.   Our page has a lot of dates
invariably in the current century, it looks kind of lame with all those
2015's,   We need DD/MM/YY though.

On Wed, Sep 9, 2015 at 12:31 PM, elhousny notifications@github.com wrote:

[2015-10-02 19:21] sdahbour opened #1062 "Currency with autogroup and no digits not working"
If I use the following settings, things get a little bit crazy.  After a couple of keystrokes (often on the first keystroke), the cursor jumps all the way to the left and my keystrokes are prepended to the number - basically, it starts typing backwards.

alias: 'currency',
autoGroup: true,
digits: 0,

What I'm trying to achieve is a textbox that accepts currency in whole dollars (no decimal point

[2015-10-02 20:39] AlexanderMorou commented on #1061
I can confirm this on an LG G2 with Android Version 5.0.2, using the built-in browser.

[2015-10-02 21:21] sdahbour commented on #1062
I found out a bit more.
The behavior happens when I attach another keypress (or keyup) event that actually sets a value on another textbox that has an input mask.  The scenario is there are multiple textboxes (all of which have a mask like the one above).  There is a keypress event set on all of the textboxes (except the last).  On  the keypress, a function will take the (numeric) value of each te

[2015-10-03 05:57] RobinHerbots commented on #1062
Can you create a jsfiddle for the scenario.  I will have a look on monday

[2015-10-03 12:31] RobinHerbots commented on #517
@mfeingold , @JCMais ,

The vailla dependencyLib is fully working.   Is there someone working on jqLite?

[2015-10-03 17:46] JCMais commented on #517
I'm not, but great work!

[2015-10-03 19:10] sdahbour commented on #1062
Here is a jsfiddle that displays the issue:  http://jsfiddle.net/sdahbour/4d6eom3k/

I'm glad you asked for it.  I strip away all the stuff from my application to create a nice, easy to follow example that demonstrates the problem and isolated what actually causes the issue.

I have 4 fields with a mask.  When you type into the first 3 fields, a keypress handler sums up the 3 fields and sets the v

[2015-10-03 20:08] RobinHerbots commented on #1059
@aadamsx ,

Yes use the definitions in the inputmask.extensions.js.

Inputmask("Aaaaaaaa").mask(element);
or $("element").inputmask("Aaaaaaaa");

[2015-10-03 20:08] #1059 closed

[2015-10-03 20:10] RobinHerbots commented on #1057
@koup ,

What do you mean exactly?  Should it leave the alpha block as __ in that case?

[2015-10-04 02:25] koup commented on #1057
Hello Robin

When I type in a number, I would like to automatically jump to the mask for numbers.
I would like to skip the optional letters when I type numbers.

Now understandable?

Thanks

[2015-10-05 01:29] mfeingold commented on #517
Looks great. I will have a look.

[2015-10-05 07:21] dluk commented on #989
Found out that with parameters `{ "alias": "integer", "groupSeparator": " ", "autoGroup": true, "autoUnmask": true, "unmaskAsNumber": true, "allowMinus": false, "allowPlus": false, "integerDigits": 5 }` the problematic one is "autoGroup": true, when I set it to false, you can leave the empty input. FYI: jQuery version 2.1.4

[2015-10-05 08:04] #1060 closed

[2015-10-05 12:54] #1062 closed

[2015-10-05 12:56] RobinHerbots commented on #1062
@sdahbour ,

Can you have a test yourself.

Be aware that the deletes don't trigger the keypress.  There is also a callback onKeyValidation which triggers on every keystroke in the inputmask.

[2015-10-05 12:57] RobinHerbots commented on #989
@dluk ,

Can you retest with the latest version.

[2015-10-05 13:20] dluk commented on #989
Look's like it's fixed. Thanks!

[2015-10-05 13:21] sdahbour commented on #1062
Perfect!  That works great.  And thanks for the note about deletes not triggering the keypress.  I'll switch back to keyup which does get triggered by a delete.

Thanks again for an outstanding piece of software and for your responsiveness.

[2015-10-05 13:55] RobinHerbots commented on #989
@dluk ,

That's great!

[2015-10-05 13:55] #989 closed

[2015-10-06 11:22] #1058 closed

[2015-10-06 11:29] RobinHerbots commented on #1055
@pricejt ,

Works in the latest version. (space needs to be included as optional)

http://jsfiddle.net/7vkpwzwm/1/

[2015-10-06 11:29] #1055 closed

[2015-10-06 22:13] rommcr opened #1063 "Generating change event on Enter press"
Now change event fired only when element losing focus. Is it possible to catch change event on Enter button press (like on standart HTML inputs)?

[2015-10-07 07:27] RobinHerbots commented on #1063
@rommcr ,

No it also fires when pressing enter after changes.

http://jsfiddle.net/k05L2zto/

[2015-10-07 07:27] #1063 closed

[2015-10-07 11:27] RobinHerbots commented on #1039
@serGlazkov ,

Try again with the latest version

[2015-10-07 11:27] #1039 closed

[2015-10-07 13:35] #1033 closed

[2015-10-07 13:37] RobinHerbots commented on #1033
@itslittlejohn ,

Fixed,

[2015-10-07 14:09] sigra opened #1064 "Missing comma in bower.json and component.json"
I got a syntax error in `bower.json`. I think this is due to a missed comma in one of the latest commit.

https://github.com/RobinHerbots/jquery.inputmask/commit/5adc6b8797a86cdd367a3b122880ea42d8ad77d4#diff-0a08a7565aba4405282251491979bb6bR14

[2015-10-07 14:18] RobinHerbots commented on #1064
@sigra ,

Yes I know.  Thx for reporting and version 3.2.2 is just released ;-)

[2015-10-07 14:18] #1064 closed

[2015-10-07 14:37] pricejt commented on #1055
@RobinHerbots ,

How do i pull only the part of the mask that is filled in?
For example my mask is 99-99[ 99/99]
If the user only enters 03-11
If i pull the value from the text box the user is entering in the value will equal
03-11 **/**
which is valid returns false
    var isValid =Inputmask.isValid(maskedString, { alias: "99-99[ 99/99]"});
https://jsfiddle.net/za3omccc/

[2015-10-07 14:57] RobinHerbots commented on #1055
@pricejt ,

Hmm, ... have a look at https://jsfiddle.net/za3omccc/1/, but that is not exactly what you want.

Normally you should not check wheter the value is valid in the onComplete as that function already implies that it is valid.  The isValid function is very strict in validation.

Getting the unmaskedvalue is also not an option because then you will get 0311 instead of 03-11.

I will make th

[2015-10-07 14:58] RobinHerbots opened #1065 "Clear optional tail in getvalue. See #1055"
@pricejt  #1055

[2015-10-07 15:22] pricejt commented on #1055
@RobinHerbots ,

Alright i don't know why i had the check for is valid that might of been so old code. I will just remove it. Sorry about that.

[2015-10-07 16:16] Enfree commented on #368
Reproduced again. Take a look:
http://jsfiddle.net/qmfkt3aq/3/
No keydown/keyup events fires. Was tested under android default browser version 4.2.2(was reproduced), but under 5.2 browser version all works fine.

[2015-10-07 16:17] pricejt opened #1066 "AutoFire only when user wants too"
Currently it appears that oncomplete will fire as soon as a user has successfully meet the masks conditions.
Is there a way to only fire oncomplete when the user tries to tab or hit enter?
My issue is i have an optional mask.
99-99[ 99/99]
the user might just type 03-11 then hit tab then i would want it to run my oncomplete logic.
the user might type the whole thing 03-11 00/00 then hit tab or ent

[2015-10-08 10:36] ivodopyanov opened #1067 "Numeric aliases insert '0' in input after clearing if there was fraction part"
Small inconvinience, see here: https://jsfiddle.net/sdy342wd/

1) Write '123' into the input.
2) Select all data in input (with Ctrl+A, for example) and press Delete.
3) Input has nothing - right.

1) Write '123.123' into the input.
2) Select all data in input and press Delete.
3) Input has '0' instead of empty - wrong.

After that you can press Delete again and erase '0'.

[2015-10-08 13:13] KrunchMuffin commented on #1067
Further to this issue, in this demo https://jsfiddle.net/sdy342wd/3/ if you select the text then enter any one number or . (period), it will insert 2 periods.

[2015-10-08 13:26] brownbl1 commented on #1033
Thank you! I will test out the new version.

[2015-10-08 17:35] paulsperanza opened #1068 "Defaulting a data mask to first of the month"
I am using a date mask of mm/dd/yyyy. One of our inputs needs to be the first of a month. I tried mm/01/yyyy and that id not work - it put the day next to the month with no separator but key the 01 after.

Is there a way to mask this?

[2015-10-08 21:29] RobinHerbots commented on #368
@Enfree ,

Are you sure it works under 5.2?  Or is just the ime autosuggest disabled?

[2015-10-08 22:02] Sepaka22 opened #1069 "How to unbind 9"
I want my mask contains only integers.  It looks like "(999) 999-99-99"
But the second symbol must be 9. Not 8, not 7...
I tried to print like this "(\999) 999-99-99", but it was useless.

[2015-10-08 22:03] RobinHerbots commented on #1069
just double escape (\\999) 999-99-99

[2015-10-08 22:21] Sepaka22 commented on #1069
i tried this too. But it's not workin.
![1](https://cloud.githubusercontent.com/assets/13955452/10381501/0451106c-6e24-11e5-8f57-a14a967af89c.png)

[2015-10-09 07:38] RobinHerbots commented on #1069
@Sepaka22 ,

Have a look at http://jsfiddle.net/7jhzf6oh/

[2015-10-09 08:37] Enfree commented on #368
@RobinHerbots,
Sorry, probably the fiddle was bad :( . Thats new one: http://jsfiddle.net/ovymcefh/
Was tested on Android default browsers under:
LG D410 (browser version 5.2.34) inputs works
OnePlus 1 (5.1.1) inputs works
Philips W3568 (4.2.2) first input doesnt work
Samsung GT-S 7562 (4.0.4) first input doesnt work

Reproducing doesnt depends on autosuggest.

[2015-10-09 09:12] Sepaka22 commented on #1069
May be it's error only in yii2 widget?
http://www.yiiframework.com/doc-2.0/yii-widgets-maskedinput.html

[2015-10-09 09:20] RobinHerbots commented on #1069
@Sepaka22 ,

Possibly, maybe they need to update to a newer version of the inputmask.  I did some fixes for escaping chars in version 3.2

[2015-10-09 10:58] samdark commented on #1069
Yii uses 3.1.x. Is 3.2 compatible with 3.1?

[2015-10-09 11:53] rommcr commented on #1063
@RobinHerbots
Since which version? I use version 3.1.63 (composer updates asset to this version), and this feature doesn't works.

By the way, in FF change action fires twice when pressing enter. Looks like lost focus fires the second one. May You fix it?

[2015-10-09 13:17] RobinHerbots commented on #1069
Yep

Op vr 9 okt. 2015 om 12:58 schreef Alexander Makarov <
notifications@github.com>:

[2015-10-09 13:18] RobinHerbots commented on #1063
Since version 3.2

Op vr 9 okt. 2015 om 13:53 schreef rommcr notifications@github.com:

[2015-10-09 13:27] rommcr commented on #1063
@RobinHerbots

Thanks. How about double change action in FF?

[2015-10-09 13:28] RobinHerbots commented on #1063
@rommcr ,

Can you create a new issue for it.

[2015-10-09 13:28] rommcr opened #1070 "Double "Change" action when pressing Enter in Firefox"
When trying to press Enter to obtain the Change event, in FF it appears twice, may be couse of lost focus event.

http://jsfiddle.net/k05L2zto/

[2015-10-09 13:33] samdark commented on #1069
Updated. This issue should be closed, I guess.

[2015-10-09 13:44] RobinHerbots commented on #1069
@samdark ,

Ok thx

[2015-10-09 13:44] #1069 closed

[2015-10-12 16:28] artptr commented on #517
@RobinHerbots
Today I tried to implement vanilla dependencyLib into my proprietary app module, but found that it's not work. Input behaved like without the Inputmask. There wasn't errors in the console. And a simple implementation on Plnkr works great, so I can't understand what's wrong with it. Now I use the jquery version, but I hope that the vanilla version will work for me too.

By the way, my

[2015-10-13 10:25] hielh commented on #483
@ronco  TankY for your share, nice solution ;)

[2015-10-13 13:31] RobinHerbots commented on #517
@artptr ,

Can you give some code/config example.  That will make it easier to point to the problem.  I tested with requirejs.

[2015-10-13 14:33] #1065 closed

[2015-10-13 14:33] #1067 closed

[2015-10-13 20:33] artptr commented on #517
@RobinHerbots ,
I'm sorry. I made a minimal example with the same architecture, but it works well. I think that there is a bug in my app.

[2015-10-14 00:59] TheKidCoder commented on #483
+1

[2015-10-14 07:34] jmalkiewicz opened #1071 "extra tooltip property"
It would helpful if there would be property to set a tooltip manually.
It could work as shown in the here: https://jsfiddle.net/mzozmr6p/3/

[2015-10-14 08:24] #1071 closed

[2015-10-14 08:50] johnny-the-coder commented on #1071
Thank you very much!

From: Robin Herbots [mailto:notifications@github.com]
Sent: Mittwoch, 14. Oktober 2015 10:24
To: RobinHerbots/jquery.inputmask
Cc: Malkiewicz, Jan
Subject: Re: [jquery.inputmask] extra tooltip property (#1071)

Closed #1071https://github.com/RobinHerbots/jquery.inputmask/issues/1071 via 6897552https://github.com/RobinHerbots/jquery.inputmask/commit/68975520c88d946dc8f040731bc

[2015-10-16 09:33] RobinHerbots commented on #912
@thomstark ,  @afattahi54, @Maahsima , @dcleblond , @FRAGnatt ,

This issue is solved.  Be aware that this does not mean that all android issues are solved.

[2015-10-17 06:08] afattahi54 commented on #912
Thanks ! But I tried the numeric mask, and it seems it does not accept repeating numbers , for example you can not enter 1233 or 1244 . The mask remove the repeating number and all the user entered data

[2015-10-19 07:56] RobinHerbots opened #1072 "Fix some events like paste & cut for Vanilla dependencyLib"

[2015-10-19 09:31] nfort opened #1073 "Doesn't work on Android"
it's doen't work if i use Android Browser on Sony Xperia, Samsung S3 (4.4.2), Samsung S5 (4.4)
http://grab.by/Lhyq

[2015-10-20 06:06] Robinjain opened #1074 "Does it support the mobile devices?"
We're using it for mobile devices as well but it is not working for Samsung tab and S4. We need phone number validation and the decimal validation.

I then checked the demo page http://robinherbots.github.io/jquery.inputmask/ and that isn't working either.

[2015-10-20 09:40] quorton opened #1075 "Cannot get it to work at all, am I missing something ? - TODO UPDATE README"
I installed the package via nuget in VS 2015, added the bundle
 bundles.Add(new ScriptBundle("~/bundles/inputmask").Include(
                        "~/Scripts/jquery.inputmask/inputmask.js",
                        "~/Scripts/jquery.inputmask/jquery.inputmask.js",
                        "~/Scripts/jquery.inputmask/inputmask.extensions.js",
                        "~/Scripts/jquery.inputmask/inpu

[2015-10-20 10:51] RobinHerbots commented on #1075
you need to load the plugin

use something in document ready like  $(":input").inputmask();

[2015-10-20 10:53] RobinHerbots commented on #1075
Maybe I should write a binder to automate the hookup.

[2015-10-20 11:25] quorton commented on #1075
thanx, that did it
Maybe the readme could have been a little bit clearer about this, especially to someone new to JS/jquery
Or maybe a full example ?
But thanx for replying so quickly

[2015-10-20 14:14] reinos opened #1076 "IE8 Null values after submit"
Hi,

this form https://risicofonds.nl/test/test has the following rules

[code]

But in IE 8 it goes wrong, the field `brinnummer` get the value of `null`.

Any idea how this is possible?

[2015-10-20 15:09] RobinHerbots commented on #1076
Is this working within another browser?

Op di 20 okt. 2015 om 16:14 schreef Rein notifications@github.com:

[2015-10-20 15:19] reinos commented on #1076
Yes, chrome works fine and any other browser.

[2015-10-20 16:39] settysreekanth opened #1077 "numeric masking decimal, integer not working."
I am trying to use numeric extension for my project and I am not seeing masks getting applied.

Here is the plunker,
http://plnkr.co/edit/RDLPxZVUXkvUXSIA9Cvm?p=preview

please let m know if I am missing anything here.

[2015-10-20 16:56] settysreekanth commented on #1075
@quorton  @RobinHerbots i have similar sort of issue, could you please tell me what I am missing here, my plunker
http://plnkr.co/edit/RDLPxZVUXkvUXSIA9Cvm?p=preview

[2015-10-20 20:11] RobinHerbots commented on #1076
Ok, I will have a look at it.

Op 17:19 DI 20 Okt 2015 schreef Rein notifications@github.com:

[2015-10-20 21:23] settysreekanth commented on #1077
I didn't pass the groupSeparator and that was the cause for my issue.

[2015-10-20 21:23] #1077 closed

[2015-10-21 09:19] codeart1st opened #1078 "numericInput with regex extension not working correctly"
A RegEx like /[1-9]\d{3}/ to avoid a starting zero used with the Regex extension combined with the usage of numericInput property isn't working correctly.

[2015-10-23 13:12] jmalkiewicz opened #1079 "upper/lower case handling in 'data-inputmask-*'"
If trying to set inputmask property via html attribute 'data-inputmask-*' it does not work correctly if property name contains upper case characters e.g. insertMode.
See following jsfiddle: https://jsfiddle.net/wwLg6z35/

In my opinion it should work at least with lower case, i.e. 'data-inputmask-insertmode'.

[2015-10-26 14:43] AlexanderMorou commented on #1075
@settysreekanth: Like RobinHerbots said: you need some startup code in your javascript to identify which inputs need the input mask to function.  In your sample: $('#test').inputmask();  However you also need additional input-mask based data annotations, or initialization properties, to indicate what limitations you want on the input element.  Read the documentation on the annotations to learn mor

[2015-10-26 16:08] RobinHerbots commented on #1076
@reinos ,

Can you have a try with the latest version

[2015-10-26 16:22] alexeymakarov90 opened #1080 "Doesn't work on mobile devices android 5.1"
5.0 / 5.0.2 - works fine, 5.1 doesn't work at all. Tested, js was fine - validation became red but no inputmask.

[2015-10-26 22:04] RobinHerbots commented on #1080
@alexeymakarov90 ,

Do you get some kind of error?

[2015-10-26 22:10] RobinHerbots commented on #1016
@csoseman ,

Sorry for the late reply, it seems that when you select local first, then it behaves correctly, but when you select the standard option first it behaves wrong.

I will have a look at it this week.

best regards,
Robin

[2015-10-27 06:29] elcarajo opened #1081 "TypeError: Inputmask is not a constructor"
error occurs in my page. Code:
[code]

[2015-10-27 08:01] reinos commented on #1076
No luck...

I used this file, is that ok? https://github.com/RobinHerbots/jquery.inputmask/blob/3.x/dist/jquery.inputmask.bundle.js

[2015-10-27 08:49] RobinHerbots commented on #1076
Yes that is ok.

I tested on your form with ie11 in ie8 mode and ethe values are getting
submit.

![image](https://cloud.githubusercontent.com/assets/318447/10753706/2c514ca8-7c93-11e5-9a21-1d394dd9425b.png)

[image: pasted1]

Op di 27 okt. 2015 om 09:01 schreef Rein notifications@github.com:

[2015-10-27 09:11] RobinHerbots commented on #1081
@elcarajo ,

You need to include inputmask.js and jquery.inputmask.extensions.js doesn't exist.  It is inputmask.extensions.js.

[code]

or

[code]

[2015-10-27 09:11] #1081 closed

[2015-10-27 11:27] jmalkiewicz opened #1082 "Option: clearMaskOnLostFocus"
I would expect that when flag 'clearMaskOnLostFocus' is set to 'true' and I fill only a part of the mask, extra '_' characters would be removed on lost focus.

See following jsfiddle containing example and explanation: https://jsfiddle.net/wwLg6z35/3/

[2015-10-27 12:04] reinos commented on #1076
What is you submit the form without any value posted. here on ie8 i`m gettings the values null back.

![image](https://cloud.githubusercontent.com/assets/633730/10757413/3ac0a136-7cab-11e5-9d51-5953cfa76f6a.png)

[2015-10-27 12:45] RobinHerbots commented on #1082
@jmalkiewicz ,

It will only clear if the positions are optional.

https://jsfiddle.net/wwLg6z35/4/

[2015-10-27 12:48] johnny-the-coder commented on #1082
Ok, thanks for quick answer, I think the use of optional part will do the job in my case.

[2015-10-27 14:12] RobinHerbots commented on #1076
@reinos,

Ok, I can replicate it on browserstack and see the problem.
In IE8 when you set null as value it converts it to a string "null" in real browsers it sets an empty string.

[2015-10-27 14:29] RobinHerbots commented on #1076
@reinos ,

Ok try again with the latest.

[2015-10-27 16:15] mreiden opened #1083 "Samsung Android 5.0 & 5.0.1 problem with repeated numbers in phone and SSN masks"
Using versions 3.2.3-16 and 3.1.63-47 of inputmask with numeric masks for phone and SSN causes problems on Android 5.0 / Chrome if you repeat a number.  Typing two of the same number garbles the data.  Works fine on iPhone and desktop browsers as well as the Chrome desktop device emulator.

Code used was simply:
[code]

[2015-10-28 14:02] #1079 closed

[2015-10-28 14:10] RobinHerbots commented on #1079
@jmalkiewicz ,

All fixed ;-)

[2015-10-28 14:14] #1075 closed

[2015-10-28 14:14] #1082 closed

[2015-10-28 14:18] jmalkiewicz commented on #1079
Super! :)

________________________________

Capgemini Polska Sp. z o.o.,
Al. Jerozolimskie 96, 00-807 Warszawa,
Sąd Rejonowy dla M.ST. Warszawy, XII Wydział Gospodarczy Rejestrowy, nr KRS: 0000040605,
NIP: 526-11-84-467,
Wysokość kapitału zakładowego: 16.403.320,00 zł.
This message contains information that may be privileged or confidential and is the property of the Capgemini Group. It is intend

[2015-10-28 14:19] johnny-the-coder commented on #1079
Super! :)

[2015-10-28 14:23] reinos commented on #1076
Yes that fixed the issue :+1:

Thanks for your work!

[2015-10-28 14:23] #1076 closed

[2015-10-28 14:27] #1070 closed

[2015-10-28 15:28] dekdegiv opened #1084 "No-strict mask"
Hello, i need to format some input without validation. EX: There is an input with mask: 99 99 999999. But if user don't follow it (e.g. enter some thing like this: 34SF247800) the input must allow this.

I found pre-solution by setting mask like (99 99 999999)|(*{+}) but it works only if input starts with non-numerical symbols.

Example on jsfiddle.net: http://jsfiddle.net/65wyLfkd/

[2015-10-28 15:37] RobinHerbots commented on #1034
http://jsfiddle.net/hpkv8a0k/2/

[2015-10-28 19:20] chrisscasta opened #1085 "Object does not support property or 'getComputedStyle' method <=IE8"
Hi Robin,

I´m get the error when the focus is set to the field:

Object does not support property or 'getComputedStyle' method

jquery.inputmask.bundle.3.2.3-9.min.js

Thanks for your help.

[2015-10-28 19:40] punchi opened #1086 "formatting a <span>"
Tried (but failed) to inputmask a value for a < span >, it's possible?
```<span id="total" class="inputmask_moneda">1234567</span>```
--> 1,234,567.00

It looks "autoNumeric" plugin have the option, but I don't want to use 2 plugins, one for inputs (inputmask) and other to format <span> (autoNumeric), I'm already using jquery.inputmask

[2015-10-28 21:54] RobinHerbots commented on #1085
@chrisscasta ,

This should be fixed by getting the latest version from github.

Best regards,

Robin

[2015-10-28 21:56] RobinHerbots commented on #1086
@punchi ,

Add the contentEditable="true" attribute. or do you just want to set the formatted value in the span?

[2015-10-28 23:14] chrisscasta commented on #1085
Ready.

Thanks Robin.

Best regards.

[2015-10-28 23:14] #1085 closed

[2015-10-28 23:43] punchi commented on #1086
Thank you! :D went back to "jquery.inputmask-3.2.2" too, looks like I was stuck with a dev version.

[2015-10-28 23:46] #1086 closed

[2015-10-29 10:58] RobinHerbots commented on #1016
@csoseman ,

Just upgrade to the latest version.

Have a look http://jsfiddle.net/c6eLfcqp/14/

[2015-10-29 10:58] #1016 closed

[2015-10-29 15:49] pryadko opened #1088 "Cursor shifted to the RIGHT align any way."
I'm using the latest version of inputmask and when I click exactly after mask and before the first digit, cursor shifted to the RIGHT align any way. For example (https://jsfiddle.net/priadko/tdmsstoa/4/).

Is this expected behavior or not? Thank you.

[2015-10-30 16:26] #948 closed

[2015-10-30 17:51] neiesc opened #1089 "Error using Inputmask class"
I am using:
[code]
I'm getting the error:
`TypeError: npt.getAttribute is not a function inputmask.js:44:27`

Environment:
[code]

any idea what I'm doing wrong?

[2015-10-30 19:25] paulpolushkin commented on #948
Thank you!

[2015-10-30 23:38] RobinHerbots commented on #1089
This is fixed but not yet released.  Try with the latest from github

[2015-11-01 19:11] Enfree opened #1090 "Cannot erase input value through mask symbols (Android 4.4, Android 4.2)"
There is a problem was reproduced under several devices
 - Android Chrome, Android 4.2
 - Default browser, Android 4.4(either reproduced under genymotion emulator model motorola moto x)

All cases was reproduced only with Android default keyboard(!!!!)

Test case:
$("#field").inputmask({"mask": "+7(999)-999-999-99"});
Input 123456.
Got +7(123)-456-___-__
Try to erase text with <- button(backspace)

[2015-11-02 07:47] RobinHerbots opened #1091 "Fix karma testing - qunit & requirejs"

[2015-11-02 08:55] RobinHerbots commented on #1090
@Enfree ,

Can you try with the latest which has a fix for this.

[2015-11-02 10:09] Enfree commented on #1090
@RobinHerbots
Well, current problem is not reproduced, but now mask symbols can be deleted with backspace, actually i can clear input field and input whetever i want.
TC: +7(999)-999-999-999 mask
input: 123456,
result: +7(123)-456-**_-**_
Start erasing with backspace, got
+7(123)-456-**_-**_
+7(123)-456___-___
+7(123)-45___-___
+7(123)-4___-___
....
**_-**_
Besides i can input every symbols:
aaaaa

[2015-11-02 10:18] RobinHerbots commented on #1090
@Enfree ,

Hmm I cannot reproduce this.  I tested on Android 4.2.2 and latest Chrome

[2015-11-02 10:24] Enfree commented on #1090
@RobinHerbots
i tested on android 4.4 default browser, ill try under 4.2 chrome

[2015-11-02 10:26] RobinHerbots commented on #1090
@Enfree ,

I just committed a little fix which might help

[2015-11-02 10:34] Enfree commented on #1090
@RobinHerbots
so strange. Did you use AOSP keyboard? I can reproduce under 4.2 chrome either.
I'll try new fix.

[2015-11-02 12:31] ivodopyanov opened #1092 "Wrong behavior for symbol delete in ip alias"
How to reproduce:
At your demo page: http://robinherbots.github.io/jquery.inputmask/
1) Input "123.123.123.123" into ip input
2) Position cursor after any '1' and delete it with backspace.
Value in input modifies into "123.2_3.123.123" (for corresponding '1') and even counts as 'complete'
If you delete any '2' then value will be "123.13_.123.123"

[2015-11-03 14:37] JeffJackrabbit opened #1093 "Performance with many fields"
I have a page with about 100 fields with a time inputmask ('h:s t') and takes about 4 seconds to render.  What is the recommended pattern to follow when using input mask on many fields to achieve the best performance?

[2015-11-03 15:23] RobinHerbots commented on #1093
@JeffJackrabbit ,

Can you make a jsfiddle with the page.  That makes it easier to see the behavior and fix some bottlenecks.

[2015-11-03 18:00] JeffJackrabbit commented on #1093
@RobinHerbots ,
Thanks for your response.  We ended using a "lazy init" strategy that is working well.

[code]

[2015-11-04 07:38] RobinHerbots commented on #1093
@JeffJackrabbit ,

That is a solution but I still want to investigate to improve the performance.

[2015-11-04 08:12] RobinHerbots commented on #1093
@JeffJackrabbit ,

I did some testing and got a duration of 788 ms for 100 inputs

[code]

I will have a look how I can improve this.  Maybe the lazy init approach can help.

[2015-11-04 11:54] StraDIVar opened #1094 "Original 'input' event doesn't trigger by plugin when user cleared the input"
Normal behavior of input is: when input was cleared the 'input' event is triggered. Using plugin we can't see this behavior: when input was cleared then the 'input' event is not triggered.

[2015-11-04 12:09] listepo opened #1095 "Missing jquery.inputmask.bundle.min.js"
@RobinHerbots why removed dist/min/jquery.inputmask.bundle.min.js?

[2015-11-04 12:40] RobinHerbots commented on #1095
@listepo,

Ah, I will put it back

[2015-11-04 14:22] #1095 closed

[2015-11-04 14:23] listepo commented on #1095
:+1:

[2015-11-04 14:27] listepo commented on #1095
github tag 3.2.3?

[2015-11-04 14:46] RobinHerbots commented on #1095
Soon

Op wo 4 nov. 2015 om 15:27 schreef Ivan notifications@github.com:

[2015-11-04 20:35] rovermicrover opened #1096 "Chrome Autofill Issues With Certain OSes"
Here is a real world example we have run into with autofill in Chrome.

We have reproduced this problem on a mobile Android > 5, and the user reports this problem on some desktop OS reporting X11 window rendering engine. The user was un able to identify their desktop OS, we can only assume Ubuntu, Peppermint, Debian, or some novel Linux derived OS.

Cannot reproduce on Chrome on Mac OSX, or Window

[2015-11-04 20:51] rovermicrover commented on #1096
We have tested this also against the latest release version, and the master branch version from 2 days ago and today.

[2015-11-04 23:07] blimmer opened #1097 "Allow twelve-hour time with seconds and am/pm"
In the current implementation, it's not possible to have the auto-fill of the am/pm of a 12 hour time field that includes seconds.

This format ([hh:mm t](https://github.com/RobinHerbots/jquery.inputmask/blob/3.x/js/inputmask.date.extensions.js#L602)) works correctly. With this format I could do this:

* Start with hh:mm xm (placeholder)
* Type 15
* end up with 03:mm pm in the input

If I try to e

[2015-11-05 14:14] RobinHerbots commented on #1096
@rovermicrover ,

If possible can you provide the version of Chrome or Chromium used?

Mobile has still issues.

[2015-11-05 14:17] RobinHerbots commented on #1097
@blimmer ,

It is planned to rewrite the date/time alias (milestone 3.4).  So I will address this later.
Anyway a PR is always welcome.

[2015-11-05 20:04] gbrauser commented on #428
It appears this issue has re-appeared in the latest version (we are using version 3.2.1-113).  I switched to the latest 2.x version (as this thread indicates) and the issue went away.

[2015-11-05 21:33] RobinHerbots commented on #428
@gbrauser ,

It's better to switch to the latest 3.x version as the 2.x is already old.

[2015-11-06 06:57] atakangktepe commented on #1083
+1

[2015-11-06 07:30] ivodopyanov opened #1099 "Hour definition prevalidator allows to input hour = 25..29"
It is possible with following case:
1. Enter 19.
2. Delete 1 (value becomes _9)
3. Enter 2 in place of 1 (value becomes 29)

[2015-11-06 08:08] RobinHerbots opened #1100 "Update and fix qunit tests"

[2015-11-06 16:36] samized opened #1101 "Working with numbers in mask/suffix"
There are a lot of bugs when we have numbers in inputmask or suffix.
I try to get an inputmask that allows only to write currency with factor thousands
If input is 1 -> 1'000.-

My current setup:
[code]

Problems with `canClearPosition` and `onKeyDown`
Is there a way to remove suffix on submit?

[2015-11-06 18:45] carlagromero opened #1102 "It is not possible to edit the email"
Hi Robin!

Please, could you try this
https://jsfiddle.net/f1dhs1xm/

Once entered the email I cannot edit what is before the @
It's weird because it is a simple expression "[a-z0-9]+"
(I tried with a lot of expressions)

Thanks!

[2015-11-06 18:48] rovermicrover commented on #1096
Chrome Mobile 46.0.2490.76 (Linux, Android 5.0)
Chrome 46.0.2490.76 (X11, Linux x86_64), JS enabled

[2015-11-09 16:53] AlexanderMorou commented on #1075
@RobinHerbots
If you add a binder to automate the hookup, is there any way that could be optional?

I use multiple input masks on certain inputs and is there a way to specify that without using your own binder?  Right now I specify it on a different data- parameter: data-input-masks delimited with ÿ, then I build the parameters for the initialization binder by hand.  Is there a way currently to sp

[2015-11-09 17:32] RobinHerbots commented on #1075
@AlexanderMorou ,

Can you provide an example to clarify what you mean exactly.

[2015-11-09 22:07] thorn0 opened #1103 "The `url` mask always returns `false` for `isComplete`"
Demo: http://plnkr.co/edit/5BQzxl

[2015-11-10 10:20] ivodopyanov commented on #1092
Similar bug is observed for optional group of symbols:
https://jsfiddle.net/yg3gkh6r/
If you enter "zxc1234" in input then delete 'c', value in input will be 'zx_-1234' and will be considered as completed.
This does not reproduce if optional group are last symbols in value - in that case placeholder symbol is deleted correctly

[2015-11-10 11:57] RobinHerbots commented on #1092
@ivodopyanov,

The optional part is seen as a whole.
It should be more like this:

https://jsfiddle.net/yg3gkh6r/2/

but I see that the delete is not as expected.

[2015-11-10 12:53] RobinHerbots commented on #1012
@thearabbit ,

In the _.foreach => the val argument.  Is that a jauery object or an input element?

try with $(val).inputmask(....  or Inputmask('decimal',  {...}).mask(val)

[2015-11-10 19:09] kjavia commented on #902
@RobinHerbots I started working with 3.2.3 and still see the problem. There is no way for me to clear the input once it has a focus. It defaults to 0 or 0.00 etc. What options need to be passed so it can be cleared completely (input value should be null or empty string)?

Edit: To clarify, if the textbox gets focus and then the user tabs out of it, the value remains as "0". But if the user enters

[2015-11-11 13:02] xenaio-daniil commented on #1084
@RobinHerbots Can you give an advice about this?

[2015-11-11 18:26] logo17 opened #1105 "custom date"
Hi, can I have a preconfigured date.

For example:

__/01/2015

Where the user just have to enter the day of the date.

Thank you.

[2015-11-11 22:31] RobinHerbots commented on #1105
@logo17 ,

Try with d/01/2015 as mask.

[2015-11-11 22:57] logo17 commented on #1105
Thank you!

[2015-11-11 22:57] #1105 closed

[2015-11-12 11:49] evilangelmd commented on #1090
ok. at first backspace it doesen't trigger, but if you need to have 2 or 3 backspaces, it will continue to do it.

[2015-11-12 11:53] ivodopyanov opened #1106 "Definition {_} throws an exception"
I've tried $(...).mask(MASK), where MASK = 'a{_}', '9{_}', 'aa-9{_}' - they all throw exception with text "Inputmask: There is probably an error in your mask definition or in the code. Create an issue on github with an example of the mask you are using."

Is that syntax correct?

[2015-11-13 10:53] RobinHerbots commented on #1084
@dekdegiv ,

I will have a look at it.

[2015-11-13 13:18] RobinHerbots commented on #1106
@ivodopyanov ,

You need to escape the { and }

[2015-11-13 15:57] voxPopuli92 opened #1108 "Uncaught TypeError for "percentage" alias"
Hello,
I noticed that "percentage" alias creates a js exception in the following case:
* Make sure the input you are using is empty (ie. "0.00 %")
* Position the cursor before the suffix (in this case the suffix is the " %" sign). You can't do this using your mouse, you have to use your right keyboard key. Try to have the cursor like this "0.00 %|".
* Type a number.
If you open up the console, you

[2015-11-16 11:06] ivodopyanov commented on #1106
No, I wanted to use {_} as dynamic mask.
{+} definition works but {_} doesn't

[2015-11-16 13:01] RobinHerbots commented on #1106
ANd what should the {_} mean?  it should be +, \* or n,m

[2015-11-16 13:13] #1089 closed

[2015-11-16 13:30] ivodopyanov commented on #1106
Ah. It seems read.me file is a bit outdated. It says "Also {+} and {_} is allowed. + start from 1 and _ start from 0."
* should be instead of _, right?

[2015-11-16 14:22] RobinHerbots commented on #1106
@ivodopyanov ,

It seems that atom-beautify the \* converts to _ for a md file ;-(

[2015-11-16 14:59] #1106 closed

[2015-11-16 14:59] #1108 closed

[2015-11-16 15:24] RobinHerbots commented on #1092
@ivodopyanov ,

Ip mask is solved, but is still a problem With the optional mask in combination of the dynamic mask it seems.

[2015-11-16 15:24] #1092 closed

[2015-11-16 17:41] danilG opened #1109 "autoUnmask not work in newest release"
Here I'd prepared 2 examples of using autoUnmask:
- in version 3.1.62 it works (https://jsfiddle.net/eurobax/xw7h6xnL/3/)
- in newest version 3.2.3 it cracks (https://jsfiddle.net/eurobax/w2zb47eb/2/)
Please, check it!

[2015-11-16 23:24] #1109 closed

[2015-11-17 09:36] ivodopyanov commented on #1092
Thanks.
Great work!

[2015-11-17 11:43] afattahi54 opened #1110 "static mask on td"
The static mask is not working on td with a class:

    <td class="mask-date">930915</td> (This is not working! but others does)
    <div class="mask-date">930915</div>
    <span class="mask-date">930915</span>

    $(".mask-date").inputmask("99/99/99");

sample at https://jsfiddle.net/9n7u4mk6/

[2015-11-17 12:57] afattahi54 opened #1111 "write a global function for onKeyValidation"
Is It possible to make a global function mask which handles  "onKeyValidation" .

I try below but no luck:

[code]

[2015-11-17 13:10] RobinHerbots commented on #1111
@afattahi54 ,

use
Inputmask.extendDefaults({
    onKeyValidation:
         function(result){
            if (!result){
                alert('Your input is not valid')
               }
       }
});

[2015-11-17 13:15] afattahi54 opened #1112 "lots of console log"
On version 3.2.4-17, lots of console logs are generated by each key press.

I see it may be from line 440 of inputmask.js

[2015-11-17 15:01] RobinHerbots commented on #1112
@afattahi54 ,

Yes, I know.  I will remove it with the next commit.

[2015-11-18 10:02] StennikovDmitriy opened #1113 "alias options from 'data-inputmask' is not used anymore"
This markup works in 3.1.34. Options *integerDigits*, *allowMinus* and *allowPlus* are applied to input. But in latest 3.2.3 release this is not works anymore.
[code]
The issue is in importAttributeOptions function [inputmask.js:328](https://github.com/RobinHerbots/jquery.inputmask/blob/3.x/js/inputmask.js#L328)
*data-inputmask* json data parsed in *dataoptions*. But this object used to populate o

[2015-11-18 10:22] afattahi54 commented on #1112
Thanks !

[2015-11-18 10:23] afattahi54 commented on #1111
Thanks, it worth adding this to site documents ;)

[2015-11-18 10:38] afattahi54 opened #1114 "get the pressed key onKeyValidation"
When user key is not accepted by plugin, the onKeyValidation returns false, which shows the mask did not accept the pressed key.

Is it possible that we have the use entered key here, so we can do some  thing like :

[code]

[2015-11-19 10:04] Bogdaan opened #1115 "Question: build this with webpack/es6"
Hi, i use webpack as build system. But unable to build this plugin

My code

[code]

But always fail on client-side with error:
"this.each is not a function"
$.fn.inputmask.$.fn.inputmask   @   jquery.inputmask.js:52

Im not familiar with AMD loader. it posible build this with webpack?

[2015-11-19 20:59] #1112 closed

[2015-11-19 23:34] RobinHerbots commented on #1050
@snizhok ,

With the latest commit you can enter Ukraine numbers.  (+380)

Best regards,

Robin

[2015-11-19 23:34] RobinHerbots commented on #1019
@aglaganov ,

With the latest commit you can enter Ukraine numbers. (+380)

Best regards,

Robin

[2015-11-19 23:35] #1019 closed

[2015-11-19 23:36] #1050 closed

[2015-11-19 23:40] RobinHerbots commented on #758
@DimanKuskov , @gregbiv ,

Fixed with the latest commit

[2015-11-19 23:40] #758 closed

[2015-11-19 23:45] RobinHerbots commented on #856
@StevenLangeraert ,

The above mask is now working.

[2015-11-19 23:45] #856 closed

[2015-11-20 02:39] EvilJordan commented on #648
I know you just closed this, but remove does not remove all bound events from the input. It would be great if 'destroy' was added to completely remove everything bound to the element.

[2015-11-20 08:30] RobinHerbots commented on #648
@EvilJordan ,

remove should already remove all events bound.  I will review the functionality

[2015-11-20 08:56] hiddenman commented on #885
Hi,

Any news/plans?

Thank you.

[2015-11-20 09:33] #1111 closed

[2015-11-20 09:35] RobinHerbots commented on #1103
@thorn0 ,

I didn't wrote the url alias myself.  I will review the alias.

[2015-11-20 10:13] RobinHerbots commented on #1115
@Bogdaan ,

I never heart of webpack before, ...

I guess it is also using some mechanism like amd or commonjs.  I guess it is missing the dependencyLib for jquery.

Do you need to specify some config before been able to pack (bundle) ?  Have a look at the readme for using the plugin with a module loader.

[2015-11-20 10:33] RobinHerbots commented on #648
I see I am missing the submit and reset event on the form.

[2015-11-20 12:24] RobinHerbots commented on #1014
@thearabbit ,

Cuurently this is only possible by implementing the logic in the onunmask fn yourself.

I will make this possible for dates in milestone 3.4

[2015-11-20 13:23] #1114 closed

[2015-11-20 14:00] thearabbit commented on #1014
Thanks for your reply.
I would like to custom retrieve value like `decimal number`

[code]

[2015-11-20 15:49] artptr opened #1116 "Numeric extensions don't supported with vanilla DependencyLib"
Example: https://jsfiddle.net/kxrvzcxy/

Each 'keydown' event cause an error 'An invalid or illegal string was specified' at [line #92 of inputmask.dependencyLib.js](https://github.com/RobinHerbots/jquery.inputmask/blob/3.x/extra/dependencyLibs/inputmask.dependencyLib.js#L92). It caused by illegal calling at [line #392 of inputmask.js](https://github.com/RobinHerbots/jquery.inputmask/blob/3.x/dist

[2015-11-20 16:21] #1116 closed

[2015-11-20 16:22] RobinHerbots commented on #1116
@artptr ,

Thx for reporting.  This was also a problem with other dependencyLibs, but they didn't bring it forward.
I will add the vanilla dependencyLib to the unittests.

[2015-11-21 14:13] afattahi54 commented on #1111
Thanks!

Here a tip which may be useful for some one ...

If the user tries to enter more data than input size, the mask plugin consider it as invalid key. So this may be useful:

[code]

[2015-11-22 00:57] EvilJordan commented on #648
Glad I could help! Thanks!

[2015-11-22 18:00] RobinHerbots opened #1117 "Pass the input element for each callback."
Its a covenvience which may always be handy.

[2015-11-23 10:04] RobinHerbots commented on #1117
Hmm, after some thought not a good idea.

[2015-11-23 10:04] #1117 closed

[2015-11-23 11:21] #1113 closed

[2015-11-23 11:22] RobinHerbots commented on #1113
@StennikovDmitriy ,

Fixed!

[2015-11-23 11:24] RobinHerbots commented on #1102
@carlagromero ,

Can you retry with the latest version?  Is this browser specific?  Tested in Chrome and I see no problem.

[2015-11-23 11:25] #1100 closed

[2015-11-23 13:50] #517 closed

[2015-11-23 15:32] yamass opened #1118 "User input ignored when 'suffix' begins with whitespace"
I have a masked input field configured like this:

[code]

When I and place the curser at the beginning of the input field, I cannot enter any text (neither digits nor characters) into the input field.

This seems to be caused by the suffix configuration which begins with a whitespace. When I remove the whitespace, everything works as expected.

Am I missing something or is this a bug? I currently

[2015-11-24 15:40] #885 closed

[2015-11-24 15:40] RobinHerbots commented on #885
@hiddenman,

Fixed!!

[2015-11-24 16:22] airomero opened #1119 "data-inputmask => mask with optionals not parsed correctly"
Using data-inputmask="'mask': '[9-]AAA-999'" on an input has no effect.

[2015-11-24 19:00] RobinHerbots commented on #1119
I will verify tomorrow.

[2015-11-25 18:09] #1119 closed

[2015-11-26 07:12] ivodopyanov opened #1122 "Currency validator gives false negative if number of digits in integer part is not multiplier of groupSize"
See here: https://jsfiddle.net/zgxenf0t/
Some cases of validation check:

$ 0.00 = false
$ 9.00 = true
$ 99.00 = true
$ 999.00 = true
$ 9,999.00 = **false**
$ 99,999.00 = **false**
$ 999,999.00 = true
$ 9,999,999.00 = **false**
$ 99,999,999.00 = **false**
$ 999,999,999.00 = true
$ 9,999,999,999.00 = **false**
$ 99,999,999,999.00 = **false**
$ 999,999,999,999.00 = true

$ 1.00 = true
$ 10.00 = true

[2015-11-26 21:44] KrunchMuffin opened #1123 "Error: optionData.indexOf is not a function"
I just updated from 3.2.3 to 3.2.4 and I am getting the error `optionData.indexOf is not a function` on line 38 on the bundle.
here is my mask
`data-inputmask="'mask': 9,'repeat':5,'showMaskOnHover':false"`

9 is numeric, so it's failing. if I do `optionData.toString().indexOf()` it works.

[2015-11-27 03:56] hisjulien opened #1124 "safari 5 contenteditable cursor"
His,
first, thanks to your great plugin, very nice job, save lot of dev hours...

[2015-11-27 03:58] hisjulien opened #1125 "safari 5 contenteditable cursor"
His,
first, thanks to your great plugin, very nice job, save lot of dev hours...
Well, I use contenteditable for a phonegap project. It's all working fine, unless under safari 5, which bring cursor to left every time I type or I focus out.
Any idea how to correct that behaviour ?
Thank you

[2015-11-27 08:37] RobinHerbots commented on #1123
@KrunchMuffin ,

Can you first try with version 3.2.5 as there was some update concerning this.

[2015-11-27 08:55] RobinHerbots commented on #1125
@hisjulien,

On which os are you running?

[2015-11-27 08:56] #1124 closed

[2015-11-27 09:43] #1122 closed

[2015-11-27 09:46] RobinHerbots commented on #1123
@KrunchMuffin ,

Tested your mask and there is no problem with the latest version

[2015-11-27 09:46] #1123 closed

[2015-11-27 10:11] podbeltsev opened #1126 "jquery.inputmask don't read options from data-inputmask attribute"
Docs for jquery.inputmask https://github.com/RobinHerbots/jquery.inputmask#usage says that it is possible to configure plugin behavior via attribute data-inputmask, but this don't work for my code.
[code]
First input shows "$", but in code I've wrote that prefix should be empty "'prefix': ''"

[2015-11-27 10:14] RobinHerbots commented on #1126
@podbeltsev ,

This is fixed in the current version.  See changelog

[2015-11-27 10:14] #1126 closed

[2015-11-27 10:27] hisjulien commented on #1125
Hi, thanks for quick reply,
there is OSx Yosemite 10.10.4 (macbook pro late 2011).

[2015-11-27 10:38] RobinHerbots commented on #1125
@hisjulien ,

Can you also provide the mask you are using?

[2015-11-27 10:54] hisjulien commented on #1125
I use numeric mask with this syntax:
$(".num-xs").inputmask({
                    "mask": "9",
                    "repeat": ''3,
                    "greedy": false
                });

it also happen on my date masks.
I tryed from v3.1.64-166, v3.2.4-2, (and 3.2.5-7 if I remember well).
Using also this syntax:
$input.inputmask('integer')

[2015-11-30 13:02] RobinHerbots commented on #996
@a13x3y ,

Tested with the current version and see no problem.

[2015-11-30 13:02] #996 closed

[2015-11-30 13:05] #1102 closed

[2015-11-30 14:48] srivshreya opened #1127 "Numeric mask which allows TBD characters"
I have a requirement in which the user can either type numeric Amount for which I am using numeric alias or the user can type TBD (to be decided) if the amount is not yet decided.
Please help me with the issue

[2015-12-01 09:27] StevenLangeraert commented on #856
Thanks!

On Fri, 20 Nov 2015 at 00:45 Robin Herbots notifications@github.com wrote:

[2015-12-01 13:00] FRAGnatt opened #1128 "Inputmask not work with textarea"
http://codepen.io/FRAGnat/pen/Yymmew
proof

[2015-12-02 06:20] nathanmarks commented on #1115
@RobinHerbots @Bogdaan

Not sure if this is your problem bogdaan as I'm not trying the jquery implementation. Are you loading the dependency lib?

Here's how i just set things up with jqlite

Import in your app like so:

[code]

to make the module available by that name you have to alias it and the dep lib

webpack config (using the jqlite dep lib, swap this out for jquery if you use that instead)

[2015-12-02 10:17] Bogdaan commented on #1115
@nathanmarks thanks, i'm load wrong module in import directive (alias works)

[2015-12-02 13:23] nathanmarks commented on #1115
@Bogdaan I'm actually getting the same error now that I'm trying it.

[code]

Did you figure it out?

[2015-12-02 13:29] nathanmarks commented on #1115
@RobinHerbots I haven't dug into the code yet but `$.each` is not a valid jqLite method and I don't see it in the dependencylib module.

[2015-12-02 13:42] nathanmarks commented on #1115
@Bogdaan @RobinHerbots I ended up just using the vanilla lib. The jqLite lib needs a `.each` method

[2015-12-02 13:43] RobinHerbots commented on #1125
@hisjulien ,

I cannot simulate the behavior.  I tried on OSX Yosemite with Safari 5 ((browserstack).

Can you create a jsfiddle for it?

[2015-12-02 13:51] RobinHerbots commented on #1115
@nathanmarks ,@Bogdaan,

The jqlite dependencylib is not complete!!  I was expecting some PR from @mfeingold, with an implementaion for jqlite.  . See #517.

[2015-12-02 14:44] RobinHerbots commented on #1128
@FRAGnatt ,

Will be available with the next commit

[2015-12-02 14:44] #1128 closed

[2015-12-03 11:30] FRAGnatt opened #1129 "jQuery(element).change() not call complete\incomplete methods in inputmask"
jQuery(element).change() not call complete\incomplete methods in inputmask

[2015-12-03 11:30] dnasir commented on #1073
I can confirm that this plugin doesn't work on the default Android browser on a Samsung Galaxy S4 (5.0.1). It behaves exactly as described by @nfort

[2015-12-03 12:31] RobinHerbots commented on #1084
@dekdegiv ,

Have a look at http://jsfiddle.net/65wyLfkd/1/

[2015-12-03 12:31] #1084 closed

[2015-12-03 12:37] RobinHerbots commented on #1127
@srivshreya ,

Which extra options do you use for the numeric mask?

[2015-12-03 15:54] #1088 closed

[2015-12-03 15:59] RobinHerbots commented on #1129
@FRAGnatt ,

What is the issue?  Can you better explain.

[2015-12-03 16:21] FRAGnatt commented on #1129
When I have element with mask for example

jQuery('#myElem').inputMask({
'mask':'#{1,3}',
'oncomplete' :function(){console.log(1)}})

When After inputMask is completed, I want to revalidate my inputmask.
In previously version I used jQuery('#myElem').change(). And my callback was called. But in version 3.2 I had problem with it.

Actually it's a bad that a new version with bugs and not compatible

[2015-12-04 08:40] RobinHerbots commented on #1129
@FRAGnatt ,

Hmmm I never had an event binding to the change event, ...  In which version was this behavior?

Concerning your other remarks.
It is impossible for me to test all cases with every release.  I only see that the unittests pass.  Be welcome to contribute to the unittests!

[2015-12-04 15:35] FRAGnatt commented on #1129
Hmmmm. Sorry, I think it is mistake my old code. At now I test jQuery().change() at version 3.1.63 And it's not work. Sorry, I think I made a mistake when I wrote this issue.
Can you help me? How I can trigger event to validate my input with inputmask ?  Not validate him, not use method isComplete. I want trigger my callback from the outside. The event  onincomplete or oncomplete, or maybe onkeydo

[2015-12-04 15:57] RobinHerbots commented on #1129
@FRAGnatt ,

Try with    $(selector).trigger("setvalue.inputmask");

[2015-12-06 23:31] #1129 closed

[2015-12-06 23:48] #1012 closed

[2015-12-07 12:38] osaris commented on #1093
Same here, I have a form with 400+ fields and it takes something like 4000ms to init inputMask :-(

Using `$('.integer').inputmask('integer', { rightAlign: true });` rather than `data-inputmask` attribute is a little bit faster (2800ms rather than 4000ms).

[2015-12-07 12:54] RobinHerbots commented on #1093
@osaris ,

Do you always use the same mask for the 400+ fields or different masks?  I want to mimich the page so I can test to improve init performance.

[2015-12-07 12:59] osaris commented on #1093
@RobinHerbots some have no mask, most are integer and other are decimals.

[2015-12-08 08:36] osaris commented on #1093
@RobinHerbots don't know if it helps but it looks like most of the time is spent in garbage collection (according to Chrome devtools)

[2015-12-08 10:38] FrancoisPecasse opened #1131 "Double enter for submit"
Hello,

I have a problem to submit an input box.

My code is like this:
[code]

[code]

The mask works perfectly! But I need to press enter 2 times before it submits.
Anyone knows what I did wrong?

[2015-12-08 11:56] RobinHerbots commented on #1131
Can you create a jsfiddle for it, which shows and isolates the problem.

Op di 8 dec. 2015 om 11:38 schreef FrancoisPecasse <notifications@github.com

[2015-12-08 12:50] FrancoisPecasse commented on #1131
Hello,

Thanks for the quick reply.
http://jsfiddle.net/ewdk5gs5/

[2015-12-08 14:08] RobinHerbots commented on #1131
@FrancoisPecasse ,

Ok that makes it clear.  I will create a fix asap.

[2015-12-08 15:01] RobinHerbots opened #1132 "Multiple masks scenario"
@aeont commented on 17 Feb
Hi!
Please check this http://jsfiddle.net/79m65yt3/2/ , I believe it's related..
We have masks like this: '0X XXXX XXXX' OR '04XX XXX XXX' OR '1300 XXX XXX' OR '1800 XXX XXX' OR '13X XXX' and they are working fine with version 2.5.10.. latest 3.1.61 doesn't.

Test cases which works on 2.5.10:
1) type 1300 than space - not allowed. i.e. 1300 000 000 not possible to enter

[2015-12-08 15:02] RobinHerbots commented on #760
@ishytow ,

Your alternation is finally working.

@aeont ,

I created a separate issue for your case  #1132

[2015-12-08 15:02] #760 closed

[2015-12-08 15:30] RobinHerbots commented on #1093
I got for 400 integer masks an init of  1514 ms.

I will further investigate to try to optimise

[2015-12-08 15:42] FrancoisPecasse commented on #1131
Thanks!

[2015-12-08 16:29] #1131 closed

[2015-12-09 07:07] RobinHerbots commented on #761
@NickKyriakidis , @HumungusFungus ,

Can someone give some more feedback.  Is this still the case.  Does it bahave the same for all masks or just for a specific one.  Is this reproducible throught emulation?  Browserstack?  Visual Studio?

Is there some error?

[2015-12-09 17:01] asyncerror opened #1133 "Multiple Mask Click Focus Error"
Hi, recently is occurring a error on the Multiple Masks.

Example (tested on Safari and Chrome):
http://codepen.io/anon/pen/PZqNEW

How to reproduce:
1. Enter numbers to complete the mask
2. Mouse Click to focus at the beginning of the field

Error: TypeError: undefined is not an object (evaluating 'getTests(pos)')
Line: 359

Screenshots:
![inputmask-error-focus-01](https://cloud.githubusercontent

[2015-12-09 17:38] Bogdaan commented on #1115
@nathanmarks yes, jqlite is not complate, i use jquery in dependencyLib

[2015-12-10 09:36] #1133 closed

[2015-12-11 08:57] rgafaric opened #1134 "Initial value like VAA gets truncated to V-__ with mask like "I{1,3}-ZZ""
I have masks like this "I{1,3}-ZZ", where 'I' and 'Z':
            Inputmask.extendDefinitions({
                'Z': { "validator" : "[A-Za-z]", cardinality: 1  },
                'I': { "validator" : "[ivxlcdmIVXLCDM]", cardinality: 1 }
            });
Then I put the correct value "I-AA" to my field with the mask. But when I focus to my field the last symbols "AA" are cleared

[2015-12-11 11:04] xenaio-daniil commented on #1084
Thank you, @RobinHerbots.
But it does not work propertly. You can see it on alt1 in your example: the string match first mask, but it formats like normal (without spaces). So in fact we got only one mask: *{+}. Or I don't understand something?
It works only if we set space after first 2 digits. And then we can't use letters after space. So if we have string like 80 KS 569434 we can't enter it.
If

[2015-12-11 11:16] RobinHerbots commented on #1084
@dekdegiv ,

For that you need the keepStatic option.  See readme

http://jsfiddle.net/65wyLfkd/2/

[2015-12-11 11:22] xenaio-daniil commented on #1084
Thank you, now it works awesome!

[2015-12-11 11:33] RobinHerbots commented on #1115
@Bogdaan , @nathanmarks ,

jqlite dependencylib implemented and working ;-)  Have a try

[2015-12-11 11:34] RobinHerbots commented on #517
@mfeingold , @JCMais ,

jqlite dependencylib is finished and working

[2015-12-14 11:13] jgi74 opened #1135 "IE9 SCRIPT445: Object does not support this action"
Version: 3.2.6-11

with IE 9, I got this msg in the console ->

SCRIPT445: Cet objet ne gère pas cette action
jquery.inputmask.bundle.min.js, Ligne 8 Caractère 19350

seems to be sthg relative to event??  ->  var d=new Event("keypress");d.which=b.charCodeAt(0),.....

my usage ->

var options = {
            prefix: "",
            groupSeparator: "'",
            digits: 0,
			min:minValue,
			max

[2015-12-14 11:16] RobinHerbots commented on #1135
@jgi74 ,

Yes, I know.  I will fix that soon.

[2015-12-14 12:37] #1135 closed

[2015-12-14 14:37] xafizoff commented on #1134
Actually, the problem described not quite well. If you apply mask with hypen symbol like `I{1,3}-ZZ` to the text field with unmasked value, symbols after hyphen are cleared.
How to reproduce:
1. Extend definitions like mentioned above.
2. Enter text `VAA` to the text field
3. Execute JS: `$(selector).inputmask('I{1,3}-ZZ')` -> text field value is `V-__`

[2015-12-14 21:56] davemolton opened #1136 "auto-casing regex mask"
Is it possible to define a regular expression mask like so:

[0-9A-Z-_\$]{0,10}

and have the plugin auto-capitalize the input for the alpha characters instead of blocking non caps input?

I'm trying to duplicate behavior of the Devex TextEdit control defined with same mask which will do the auto-capitalization and I'm forced to use the RegEx options instead of A.

I have a fiddle with a mock up h

[2015-12-15 00:26] jmanos opened #1137 ""-00" Allowed in Decimal Alias When digits:1 and digitsOptional:false Are Set"
Using the following alias, I managed to get "00" in the input:
[code]

The input will, by default contain `0.0`. First enter `-` to change the input to `-0.0`. Then lose focus on the input which will change the value back to `0.0`. Then highlight the first `0` and enter `-`. This will change the value to `-.0` (this value is questionable, in my opinion). Again, enter `-` which will change the valu

[2015-12-15 10:50] barskuk opened #1138 "Firefox, Android - cursor jumps to the left in numeric mask"
On Firefox (Android) cursor jumps to the left if in numeric mask is found spaces, parentheses or dashes. On iOS no problem. I'm using the latest code.

[2015-12-15 15:48] aeberlin commented on #828
Are there any workarounds for this? I would also like numeric keypad on mobile without sacrificing input mask support.

[2015-12-15 17:18] jmanos opened #1139 "Caret Positioned After Last Decimal Digit Disallows Sign Input When digits Option Set"
This bug occurs for the the `numeric` and `decimal` aliases.

If the digits option is set (`.inputmask({ alias: "numeric", digits: 2 })`), signs are unable to be entered when the caret is positioned after the last decimal digit.

For example, when the input show `1.52` and the caret is placed after the `2`, pressing `-` or `+` will do nothing. However, placing the caret anywhere else in the input

[2015-12-16 09:54] RobinHerbots commented on #828
@aeberlin,

See the comments above.  I added the supportsInputType option.  By adding number you can experiment with it.

[2015-12-16 09:54] #828 closed

[2015-12-16 09:58] #648 closed

[2015-12-16 17:37] fpoirier1 commented on #727
How come the day and the month is inverted when I do this :

[code]

See jsFiddle : https://jsfiddle.net/fpoirier1/53nomjyb/

[2015-12-16 18:07] RobinHerbots commented on #727
Have a look at the alias yyyy/mm/dd which inhrrits from  mm/dd/yyyy

[2015-12-16 18:11] RobinHerbots commented on #727
Anyway the datetime alias wil be rewritten tot accept a dateformat

[2015-12-16 19:48] fpoirier1 commented on #727
I did have look but I still don't understand what I am missing here.

[2015-12-16 20:19] andreasba opened #1140 "Store cents in database but enter and display currency via InputMask"
Good evening,

thanks for your great plugin, it really boosts usability on the website, to well done! :-)

I have a question: I store currency amounts in cents, e.g. if a price is 22,90 EUR I store 2290 as the amount in my database.

Now I was wondering whether there is an easy way to display the cents I have saved as proper whole Euro/USD amounts by using input mask? Meaning I store 2290 but Inpu

[2015-12-17 09:04] #1134 closed

[2015-12-17 09:17] RobinHerbots commented on #727
@fpoirier1 ,

You need to omit the datetime  Datetime maps day to 1 and month to 2 and alias yyyy/mm/dd does the inverse due to his inheritance od mm/dd/yyyy.  Have a look at the updated fiddle.

https://jsfiddle.net/53nomjyb/3/

In milstone 3.4 the datetime alias will deal with all formats.

[2015-12-17 09:36] rgafaric commented on #1134
Thanks, it works !

[2015-12-17 10:23] RobinHerbots commented on #1140
@andreasba ,

I guess, just using the currency alias with the numericInput: true option will do or otherwise extend the onBeforeMask to add the radixPoint at the correct position.

[2015-12-17 19:50] itslittlejohn opened #1141 "Show placeholder as user types"
Similar to issue #183, I would like to be able to hide the mask placeholder that has not yet been encountered by the user's typing. This is a common feature of many input masks and I think it would be a great addition (plus it's something that we really need).

For example, I have a date mask where the placeholder is \__/\__/\____.

Currently, when I focus on the input, the placeholder text shows.

[2015-12-18 06:43] abhisheklalnediya opened #1142 "fails on complex alternator mask"
I am trying to implement a complex mask with several alternate masks
"T(i)|(t)|(4[d])|(1[j])|(1[c])N"

T1aN
T1miN
T1N

are 3 possible values with begining with T1
But it fails when T1 is typed

http://jsfiddle.net/b0pyce1g/1/

[2015-12-18 09:16] #1141 closed

[2015-12-18 09:21] RobinHerbots commented on #1141
@itslittlejohn ,

This reminds me to the story about VHS and betacam, ....

Anyway, I added the jitMasking option.  Set this to true, to disable the masking template.

best regards,

Robin

[2015-12-18 10:42] RobinHerbots commented on #1142
@abhisheklalnediya,

This is a complex alternator ;-)

Can you first do some extra analysis.
Do all the masks work separately?
From which combination does it fail?

[2015-12-18 11:04] abhisheklalnediya commented on #1142
"T(1[j])|(1[c])N"
where
j = "mi"
c = "a|b|c"
and j and c are optional
the possible values are

T1N              // No j or c
T1miN          // T1jN  with j
T1cN            // T1aN with c

I tried different orders but not able to make it work

as T2N is also possible
T(t)|(1[j])|(1[c])N
where
t = "x|2|3"

[2015-12-18 11:05] abhisheklalnediya commented on #1142
saperatly its working :100:

[2015-12-18 16:02] andreasba commented on #1140
Thanks, that did the trick! :) :+1:

[2015-12-18 16:02] #1140 closed

[2015-12-21 10:10] aclaramonte opened #1143 "error with min and max attributes on "integer""
using inputmask with "integer" and setting min 700 and max 1800  , when you try to write 800 runs well but if you start to writting 1200 when you put 120 and the last 0 the plugin change automatically to the minimun value 700, thats a bug i think, it has to wait to the number of digits of the max.

alex.

[2015-12-21 14:52] brownbl1 commented on #1141
Wow! Thanks.

[2015-12-22 11:15] jlionheart opened #1144 "IE11 clear not working in emulated IE9 mode"
Hello,

I'm having the same problem described in issue #304 .
After clearing the field with IE 11's clear button, if the field gets focus again it is filled with the old value.
It only happens when forcing IE to emulate IE9 with meta tags and I need it that way.

I'm using version 3.1.63 and here is a fiddle(you will need to open IE developer tools and set it to emulate to IE 9):
https://jsfiddle.

[2015-12-23 08:26] serlogo53 opened #1145 ""1024" numeric with seperator issues"
hi
i am using numeric with seperators.
when i input 1.024 saving db. after opening it shown 1,024 but
123.123 after opening it it shown 123.123 do i making mistakes? please help.

opening : sending a input text from db.

[2015-12-23 08:40] RobinHerbots commented on #1145
@serlogo53 ,

Can you make a jsfiddle for it.  The exact mask implementation with the values.

Robin

[2015-12-23 08:59] serlogo53 commented on #1145
hi. i think the problem is mysql locale. i am using  format(value/1024,0, 'en_GB').
when i remove format it's ok. thanks.

[2015-12-23 08:59] #1145 closed

[2015-12-23 09:23] RobinHerbots commented on #1144
@jlionheart ,

In a real IE9 there is no clear button.  In the emulated the clear button does not trigger any events.

I guess the best solution is the hide the clear button through css

[2015-12-23 09:24] RobinHerbots commented on #1143
@aclaramonte ,

I will review the min value setting

[2015-12-23 10:18] Aifz opened #1146 "Integer min & max value"
Hey Robin,

First of all, congratulations for this plugin that is really amazing and usefull.
I'm using the following configuration :
'alias': 'integer',
'min': '0',
'max': '40',
'allowMinus': 'false',
'allowPlus': 'false'

When I set a value over the max value, you can't write the value at all (but you have no way to know what is the max value).
Is there a way you add an option true/false to forc

[2015-12-23 11:45] juliocgs commented on #1144
That's not possible, emulated IE also does not recognize the CSS applied to hide the button.

And it does not seem to be a solution for this. As you can see in the link below:
https://connect.microsoft.com/IE/feedback/details/783743

I guess the only solution is to not render IE in compatibility mode.

Thanks.

[2015-12-23 13:51] RobinHerbots commented on #1144
@jlionheart ,

It is not perfect but have a try with the latest version on github.

[2015-12-23 19:37] juliocgs commented on #1144
I've tested it. It's no use.
Anyway, at least we tried. It's Microsoft's fault for not emulate the behavior correctly.

Thanks.

[2015-12-23 19:37] #1144 closed

[2015-12-23 22:15] jmanos opened #1147 "Backspace and Decimals"
I have two separate (but related) issues with `backspace` and decimals. For both we'll use `.inputmask({ alias:"numeric" })` with the value of `14.5`.

1. Place the caret right after the radix point (before the `5`) and press `backspace`. Rather than removing the radix point, the `4` will be removed and the caret will be placed before the radix point (the value is then `1.5`). Since `digitsOptiona

[2015-12-24 10:08] Bogdaan opened #1148 "Question: multiple radixPoint symbols"
It posible setup digit mask with radixPoint condition: "." OR ","?

[2015-12-24 11:10] RobinHerbots commented on #1148
@Bogdaan ,

Why would you want todo that?  Can you explain a bit more.

best regards,
Robin

[2015-12-24 11:16] Bogdaan commented on #1148
@RobinHerbots decimal mask like:

[code]

successful replace "." to "," on chorme (or safari), on windows(or nix), on OSX (with En keyboard layout)
but not replace "." to "," on OSX(safari) with "not En" keybord (when i press "cmd" + "." - it not works)

[2015-12-27 08:14] t0n1zz commented on #351
hi sorry for opening this, but i still got the problem... i'm just downloaded your plugin a hour ago and using full bundle one... so? whats happening? i just need it to return a raw value to me not the input masked one

[2015-12-27 11:01] RobinHerbots commented on #351
Trad the readme for the numeric alias.  Use autounmask with unmaskasanumber

[2015-12-27 12:41] t0n1zz commented on #351
can you give me a example with html tags? because i try this and not working still when i type in there 10,000 only 10 that will be saved to database

[code]

[2015-12-27 14:09] RobinHerbots commented on #351
@t0n1zz ,

There seems to be a problem with the submit event binding. I will have a look to fix this.

[2015-12-27 15:28] RobinHerbots commented on #351
@t0n1zz,

Grab the latest and use data-inputmask="'alias': 'numeric', 'groupSeparator': ',' , 'autoGroup': true, 'autoUnmask': true , 'removeMaskOnSubmit': true"

[2015-12-27 15:28] #351 closed

[2015-12-28 07:31] nfort commented on #912
@afattahi54 i have this problem on sumsung s4. Do you know how it's fix?

[2015-12-28 08:02] nfort commented on #912
@RobinHerbots Sumsung s4 4.4.2 Chrome

[2015-12-28 10:34] afattahi54 commented on #912
@nfort I think it is planned for release 3.5

[2015-12-30 01:56] hliu0080 opened #1149 "regex inputmask buffer issue"
Hi, I was using regex to mask a time format like 11:00 AM. After entering a valid time, if I move cursor to the middle of that field and start deleting using backspace, I won't be able to completely clear that field. Also I can't seem to enter any new value either. Not sure if it's a bug with the regex extension or if I'm doing something wrong with the expression. Please take a look and kindly let

[2015-12-30 15:40] slbtuga opened #1150 "Error using this plugin with jquery validator v1.14 in ie"
Hi.

**First of all, congratulations for this excelent plugin**.

Using inputmask with jquery validator, when I clear the content of field ( text box) with backspace, it's give an error _**"Error: Unable to get property 'length' of undefined or null reference"**_.

This error only happens in ie ( in my case is ie 11).

I figer out that in ie, the $.val() return null instead chrome return "" (empty

[2015-12-30 16:18] RobinHerbots commented on #1150
I will fix this next monday.
Best regards
Robin

[2016-01-04 03:17] ghost commented on #1143
Sorry, I want to ask if you have to fix this bug in the latest version :)

[2016-01-04 07:37] RobinHerbots commented on #1143
@manhninh91 ,

Yes I will fix this soon ;-)

[2016-01-04 14:15] RobinHerbots commented on #1150
@slbtuga ,

Can you retry with the latest version github.

[2016-01-04 15:37] slbtuga commented on #1150
Sorry but, have you change something?

What do you mean exactly with "latest version github"?

[2016-01-04 18:11] RobinHerbots commented on #1150
I could not  reproduce the problem.  Maybe you did not used the latest version.

[2016-01-05 00:09] slbtuga commented on #1150
In my first post you have a link <url>http://jsfiddle.net/buyoxozo/1/</url> with a case that give this situation. You must load in ie.

[2016-01-05 04:38] ghost commented on #1143
Thank you :)

[2016-01-05 08:56] RobinHerbots commented on #1150
I did load it in IE11 & IE10, ... entered some date pressed baxckspace
multiple times, cleared with x retyped, ...

Op di 5 jan. 2016 om 01:09 schreef slbtuga notifications@github.com:

[2016-01-05 11:42] slbtuga commented on #1150
Try select all content of textbox and than press backspace (My ideia is take "null" instead "0.00").
If you click on subsmit button now, it should show "null" below text box.

[2016-01-11 10:35] emkookmer opened #1151 "UAE mobile phone numbers are not validated correct"
United Arab Emirates mobile phone numbers are not validated correctly,

When i use the demo and I enter 971512 it sees it as +971-5-12 instead of +971-51-2
I've was using Chrome on Windows and MacOSX

![screen shot 2016-01-11 at 11 33 54](https://cloud.githubusercontent.com/assets/1932444/12231378/421ebdd6-b857-11e5-803b-776d3b6182fc.png)

[2016-01-11 14:02] jeboersema opened #1152 "How to keep 0 as value on numeric"
How will I be able to keep the 0 value on the numeric mask when the control looses focus ?

Currently it clear the control if the value is 0.

Regards

[2016-01-12 10:57] oruchreis opened #1153 "Conflict with jquery-placeholder on valHooks"
When we use inputmask together with jquery-placeholder plugin, they conflicts when the browser doesn't support placeholder attribute. For instance, in IE 9, any input with placeholder attribute are handled by jquery-placeholder plugin by valHooks."set". But if we apply inputmask on this input, then inputmask overrides the jquery-placeholder's valHooks.set, so if the browser doesn't support placeho

[2016-01-12 16:35] RobinHerbots commented on #1153
@oruchreis ,

Can you provide a link to the jquery-placeholder.

[2016-01-12 16:41] RobinHerbots commented on #1151
@emkookmer ,

I will have a look at it.

[2016-01-13 02:55] MrCsabaToth commented on #1152
+1, same here

[2016-01-13 03:13] MrCsabaToth opened #1155 "JavaScript runtime error: Unable to get property '0' of undefined or null reference"
This came after I upgraded 3.2.3 -> 3.2.5. I have several currency input fields with "$ " prefix, no decimal precision (so integer dollar values). When I have more of these inputs on a page and I rotate the focus with the mouse, I receive this JavaScript error.

Call stack:

 	isMask [inputmask.js] Line 611	Script
 	clickEvent [inputmask.js] Line 1069	Script
 	Anonymous function [inputmask.js] Lin

[2016-01-13 03:32] MrCsabaToth commented on #1155
I'm using the latest available NuGet package, 3.2.5

[2016-01-13 03:38] MrCsabaToth commented on #1152
This fiddle http://jsfiddle.net/csabatoth/SEXAj/2984/ demonstrates that while hovering over the input the "$ 0" is in it, but it disappears if we hover off. It stays in the input only if it is focused. I want the "$ 0" always in the box if it's empty. Hopefully we are talking about the same issue.

[2016-01-13 03:53] MrCsabaToth commented on #1155
I haven't been able to reproduce the problem in a JSFiddle yet. http://jsfiddle.net/csabatoth/SEXAj/2984/
It should have come just if we click from one input box to another. Now I'm thinking if some other JS library may interfere, I use bootstrap 3.3.6, the values are knockout bound to the controls (ko 3.4.0). I use numeral.js for formatting non editable elements. I use a whole bunch of other libr

[2016-01-13 08:22] jeboersema commented on #1152
Yes. That is exactly the problem.

[2016-01-13 08:23] jeboersema commented on #1152
Maybe a option to specify an emptyValue that will display when the control is empty and the mouse is not hovering over the control or when the control is disabled (as in my case) ?

[2016-01-13 08:54] RobinHerbots commented on #1152
@jeboersema , @MrCsabaToth ,

Have a look at http://jsfiddle.net/SEXAj/2988/

[2016-01-13 08:57] RobinHerbots commented on #1155
@MrCsabaToth ,

Isn't this the same as #1133?

This is already fixed but not yet released.  Can you try by using the latest from github.

[2016-01-13 17:11] MrCsabaToth commented on #1152
That jsfiddle looks like working, thanks @RobinHerbots . So we should just add "clearMaskOnLostFocus: false" to the mask configuration.

[2016-01-13 18:38] ichepurnoy opened #1156 "'405 not allowed' error on loading phone-codes.js on certain Ajax configuration."
Dear Robin,

I was getiing  '405 not allowed' error when loading phone-codes.js.
That happened, because my server has ```$.ajaxSetup({  type: "POST" })```. Its default method is POST.
Adding   ```type: 'GET'```  to ajax in  ***inputmask.phone.extensions.js*** solved it.

I found out, that many (all?) instances of $.ajax method in Inputmask are missing 'type' property.
So, please , either add this

[2016-01-13 22:33] #1152 closed

[2016-01-13 22:43] RobinHerbots commented on #1153
@oruchreis ,

Is it https://github.com/mathiasbynens/jquery-placeholder/blob/gh-pages/jquery.placeholder.js?

I think it is the other way around.  The placeholder plugin overwrites the valhook without considering valhooks from other plugins.  My plugins respects the current implementation and extends it with what is needed for the inputmask.Can you try by loading&initializing the placeholder plugi

[2016-01-13 23:08] MrCsabaToth commented on #1155
I'll let you know as soon as I try it

[2016-01-14 06:56] MrCsabaToth commented on #1155
I tried the tree/3.x/dist (3 days old) and it cures the exception.

[2016-01-14 08:31] RobinHerbots commented on #1155
@MrCsabaToth ,

Ok great ! Fixed then in the next release

[2016-01-14 08:31] #1155 closed

[2016-01-15 13:09] RobinHerbots commented on #614
A mask like [+](,9{3}){+}.9{2} with the jitMasking option removes the need for the postFormat.
This works when using the numericInput option.  But we need an extention to priorities a part of the mask.

[2016-01-15 15:07] thebrambo commented on #1090
Im doing a Regex with the inputmask, it works but it still has bugs when your in the middle of a string (mine uses spaces) and hit backspace. It looks like it jumps back to its original position (where the bug happens) when your select a different position with the mouse onclick.

Would greatly appreciate the effort ty!

[2016-01-15 15:08] thebrambo commented on #1149
It looks like it jumps back to its original position (where the bug happens) when your select a different position with the mouse onclick.

Following this for the fix,
Bram

[2016-01-15 20:59] andrelemos opened #1157 "Issue with reset of inputmask field"
1) I created next input:
2) I created code in JS file:
$(":input").inputmask();

3) When I'm entering phone number and after reset form with method form.reset() all other fields are resetted and fields with mask too, BUT when mask field has focus, old value is restored.

[2016-01-16 15:31] ichepurnoy commented on #800
Dear @RobinHerbots , same question: how do I get full phone number (including country code) via onUnmask?
I have my number stripped, +380(44)555-55-55 becomes 445555555.

[2016-01-16 16:00] RobinHerbots commented on #800
In the onunmask you can alter the unmaskedvalue.  Just readd the country
prefix and return the value

Op 16:31 ZA 16 Jan 2016 schreef ichepurnoy notifications@github.com:

[2016-01-16 16:41] ichepurnoy commented on #800
@RobinHerbots,

1)  exactly this is the problem here: how do I access this country prefix?  I can use Regexp,  but is there some internal method/way in Inputmask ?

2) how can I mask a string value (kind of, opposite of unmask() )? I'd expect something that looks like "+380441112233".mask(). Is there any?

I'm working on validating phone via Knockout.validation, but internally using validation of

[2016-01-17 03:32] Soul-git opened #1158 "phone-ru.js"
Hello! When connecting the phone-ru.js work masks are not stable , the field is loaded and processed for a long time . Can you solve this problem ?

[2016-01-17 05:31] boredelf opened #1159 "Usage with JSPM / SystemJS"
Hello! :)

Has anyone been able to use jquery.inputmask through JSPM? I've tried different recommendations I could find (shims and overrides), but none worked. I'm stuck with the message:

`$(...).inputmask is not a function`

Even though the module seems to be loading correctly (I can see it from the Network tab in the Developer Tools). I installed the plugin's module from the NPM registry.

Any

[2016-01-17 05:49] Soul-git commented on #1158
https://jsfiddle.net/y2d07raL/

[2016-01-17 07:26] Soul-git commented on #827
Problem still exists. When choosing a mask for Russia - a very long time of execution of the script. At values ​​more masks 400-500 problems .
Sorry , I write through the auto translator .

[2016-01-17 08:40] ghost commented on #827
Я так понял, что это будет не скоро
`modified the milestone: 3.5`

[2016-01-17 15:40] andychups commented on #678
+1

[2016-01-18 08:11] RobinHerbots commented on #1157
@andrelemos ,

Due to a refactoring I wrongly binded the resetEVent.  I will push the fix soon.

[2016-01-18 08:17] RobinHerbots commented on #1159
@boredelf ,
Can you provide the config you are using?

[2016-01-18 08:31] RobinHerbots commented on #1158
@Soul-git ,

I know It takes too long.

The russian phone codes contain alot of entries.  To make it really usefull I should rewrite the phone extension.  The idea would be to initially load only the generic regions and while entering data load the more specific region.  This will reduce the number of variations in the mask which means more speed.

But the question is when do I have some spare-tim

[2016-01-18 08:55] anandSep90 opened #1161 "Copy & Paste Not working propertly"
I want an input field with '1/' as static data followed by 10 dynamic numeric values.
In my javascript,  i written like this
$('#data').inputmask({ mask: "1/9{1,20}" });
Then i paste 145287 in the dynamic numeric value, it is pasted as '1/45287'.
The 1 before the 4 is missing. But when i paste 45287, it pasted correctly as '1/45287'.
When numeric values starting by 1, does not pasted propertly

[2016-01-18 17:23] boredelf commented on #1159
@RobinHerbots, hello, thanks for replying. Here:

**config.js:** https://gist.github.com/boredelf/f36c35e483084e9b3a87
**package.json:** https://gist.github.com/boredelf/e433c4705942b5e731c8

[2016-01-18 18:04] Soul-git commented on #1158
Yes, I know that you know about the problem . I wanted to ask , at what stage of the solution of this issue . Thank you. (sorry , I write through an online translator ).

[2016-01-18 22:34] danielnass commented on #465
Hey guys, how are you?

I found something that can help with Samsung keyboard or other modified keyboards.

Here one guy told to use oninput event, that is similar to onchange event, but occurs immediately after the value of an element has changed, while onchange occurs when the element loses focus, after the content has been changed. http://stackoverflow.com/a/33646354

And here are more informat

[2016-01-18 23:13] #1157 closed

[2016-01-19 08:41] RobinHerbots commented on #800
https://jsfiddle.net/5zy10bsL/15/

Just updated inputmask ref

[2016-01-19 12:22] RobinHerbots commented on #678
@artemkaint ,
@andychups ,

Something like https://jsfiddle.net/wrnf0fh6/ ?

[2016-01-19 12:27] andychups commented on #678
Hi! Look at this case: https://jsfiddle.net/c5fthj3b/ (type 3)

I mean case with "disable autofill", from this issue: https://github.com/RobinHerbots/jquery.inputmask/issues/636

[2016-01-19 14:46] RobinHerbots commented on #678
@andychups ,

Thx for the case.
Working on it.

[2016-01-19 17:54] ichepurnoy commented on #800
@RobinHerbots  Ok, glad to see that it does work! Maybe Github had updated URL for accessing a lib.. Still, ~80% fiddles (older that 1-2 years) that I come across, they don't work  until I update the reference to libs.

Can you pls suggest an answer to  (1) how do I access this country prefix, from inside onUnMask function, and (2) can I mask a string value?

Dear Robin, BTW, wow, your fiddle with

[2016-01-20 07:21] RobinHerbots commented on #800
@ichepurnoy ,

Yes I added some caching ;-)  The country flag is a nice addition, ... maybe I can add that to the demo page.

question 1: https://github.com/RobinHerbots/jquery.inputmask#onunmask
The onunmask has the masked value and the unmasked value as arguments.  You can strip the country prefix from there.  I know this is not perfect.  But for the inputmask the phone-codes are just a bunch of

[2016-01-20 10:36] ichepurnoy commented on #800
@RobinHerbots Thank you! Pls note that a few flags (like USA , Canada, United Kingdom ) do not work. Simply because of the difference in codes. That is /easily corrected manually (either in flags codes, or your phone-codes), if you are going to add that to your Demo.  This could count as a suggestion!)

[2016-01-20 11:28] ichepurnoy commented on #800
New suggestions:
1) to onBeforeMask function.
consider wiping out '00' in the beginning, or spaces and dashes inside the number. I've seen UK numbers written like '0044whatever'.

I did it like  **_var processedValue = value.replace(/^0{1,2}/g, "").replace(/[-\s]/g, "")**_

2) On pasting a number, my fiddle does not show country. Shows only on typing. Dont know if I'm to blame, or the lib.
3) just

[2016-01-20 16:26] jaisonerick opened #1162 "NumericInput option can't handle 100.00"
I am using numericInput in a currency field and am having troubles with numbers like "100.20". This is my setup:

[code]

Here the `input` variable is the input field I'm masking. Everything was going fine, until I tried to enter "100.20" on the field. It stops on "10.00". If I press "zero", it just stays "10.00". If I press "backspace", it'll erase till the one "0.01". If the value is "10.00" and

[2016-01-21 01:05] ichepurnoy commented on #800
@RobinHerbots I 've added this integration to Wiki, pls see https://github.com/RobinHerbots/jquery.inputmask/wiki/HOWTO:-integration-with-Knockout-Validation-plugin

[2016-01-21 10:32] RobinHerbots commented on #800
@ichepurnoy ,

Many thx!  Really appreciated!

and I will add your suggestions on the todo list ;-)
best regards,
Robin

[2016-01-21 11:38] ichepurnoy commented on #800
Glad to be of any help to you, @RobinHerbots,
best regards,
Ilya

[2016-01-21 14:58] #1156 closed

[2016-01-21 16:53] Soul-git commented on #800
Not correctly identify the country of masks .
Example:
Russia - Kazakhstan ;
USA - Saint Lucia ...

[2016-01-21 17:49] ichepurnoy commented on #800
I actually mentioned this here and in the fiddle, that flags/countries do not always work 100%.
As far as I see it, it's because (1) my example was a quick and dirty showcase, far from being polished, and (2) historically, the phone codes are such, that existing logic in Inputmask fails to distinguish them.
Kazakhstan = +7(7##)###-##-##" or +7(6##)###-##-##", while
Russia = +7(###)###-##-##".
@Sou

[2016-01-21 20:06] victorwpbastos commented on #1131
Please release a tag.

[2016-01-22 07:55] sverhagen opened #1164 "Synchronous XMLHttpRequest warning/error"
Great plugin!

Chrome giving the following warning/error:

    Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. For more help, check http://xhr.spec.whatwg.org/.

When using the phone mask:

    Inputmask('phone', {url: 'some-relative-address/phone-codes.json`})

With the following stack trace:

	send (jquery-1.9.1.js:8492

[2016-01-22 09:30] RobinHerbots commented on #800
@Soul-git , @ichepurnoy ,

Always feel free to add/update the phone-codes.js.

[2016-01-22 09:55] ichepurnoy commented on #800
@RobinHerbots ok, we will!  I guess the masks are more or less correct (I haven't checked though).
The problem is, some country codes are a bit non-standard. Don't know which codes exactly: yours , or flag codes. I guess, its flag codes. Example: they are using GB for United Kingdom, while UK is more accepted, AFAIK. I'll be looking into this in a week, and post my thoughts here.
Robin, have you s

[2016-01-22 10:22] RobinHerbots commented on #800
@ichepurnoy ,

Normally the cc should pass the full array

[2016-01-22 15:23] RobinHerbots commented on #1131
@victorwpbastos ,

I will do it very soon

[2016-01-22 15:57] RobinHerbots opened #1165 "Contenteditables and caret positioning in IE8"

[2016-01-25 13:45] #993 closed

[2016-01-25 13:45] RobinHerbots commented on #993
@Domtaholic ,

Try again with the latest version

[2016-01-25 15:18] #761 closed

[2016-01-26 07:23] electricfan commented on #321
any ideas how to change the currency symbol in the inputmask currency please?

[2016-01-26 08:19] RobinHerbots commented on #321
@electricfan ,

with the prefix or suffix option

[2016-01-26 12:32] #1093 closed

[2016-01-26 12:39] RobinHerbots commented on #1074
@Robinjain ,

I try to support mobile devices as much as possible.

[2016-01-26 12:39] #1074 closed

[2016-01-26 12:57] RobinHerbots commented on #1151
The same issue as #678

[2016-01-26 13:06] #636 closed

[2016-01-26 13:18] #522 closed

[2016-01-26 13:19] #1090 closed

[2016-01-26 15:23] ghost commented on #1149
So i have looked at the problem this is what i have found:
in the inputmask.js
function w() {
            return void 0 == i().buffer && (i().buffer = h(!0, o(), !0)), i().buffer
        }

where buffer contains the characters, if people fill in a lot of text in a inputfield with Regex and then select a portion and delete it, the Buffer still holds the same size : for example
[a][b][c][d][" "][e][

[2016-01-26 15:57] RobinHerbots commented on #912
@afattahi54 , @nfort ,

The latest version does accept the input.  Tested in android chrome browser.

[2016-01-26 15:57] #912 closed

[2016-01-26 16:28] RobinHerbots commented on #1080
see #745

[2016-01-26 16:28] #1080 closed

[2016-01-26 16:29] RobinHerbots commented on #1083
see #745

[2016-01-26 16:29] #1083 closed

[2016-01-26 22:17] ardeetee opened #1167 "Currency: Incorrect value when MIN or MAX is specified"
When the alias is set to 'currency' (uses grouping) and a 'min' OR 'max' value is specified, the caret position changes incorrectly.  This results in an incorrect value being entered.  For example, entering "45000" will result in "$40,500".

$('#test').inputmask({
				alias: 'currency',
				max: "999999"
			});

JSFiddle: https://jsfiddle.net/m1mkhkxf/2/

[2016-01-26 22:58] hliu0080 commented on #1149
Hey, thanks for looking into this. I wish i could help but I'm more of a back end PHP dev... I was able to print out the buffer like what you had in the example and see the problem, but Javascript just drives me crazy... sorry. I'll try to look more.

[2016-01-27 08:49] RemediumAnimus opened #1168 "Disable autocomplete"
Hello, can i disable autocomplete date mask for year ?
Example:
yearrange: {minyear: 1916,maxyear:2016}
If i write 12, it is autocomplete 2012

[2016-01-27 12:20] RobinHerbots commented on #1138
@barskuk ,

Can you restest with the latest version.

[2016-01-27 12:22] RobinHerbots commented on #1073
@nfort , @dnasir ,

Can you retest with the latest version

[2016-01-27 12:23] RobinHerbots commented on #1061
@paulpolushkin , @AlexanderMorou ,

Can you retest with the latest version

[2016-01-27 12:24] RobinHerbots commented on #1041
@nsomlai ,  @afattahi54 ,

Can you retest with the latest version

[2016-01-27 12:25] RobinHerbots commented on #982
@educo-adymorz ,

Can you retest with the latest version

[2016-01-27 12:41] RobinHerbots commented on #941
@btruong ,

I tried your fiddle on some android devices, but it does not make the numeric keyboard layout pop-up by default.  On which mobile devices did you use it?

[2016-01-27 12:42] RobinHerbots commented on #898
@afattahi54 ,

This should be fixed. Can you retry with the latest version.

[2016-01-27 12:44] RobinHerbots commented on #897
@afattahi54 ,  @simasalmani ,

Can you retest with the latest version

[2016-01-27 12:55] RobinHerbots commented on #867
@kaarthikraajan ,

Can you retry with the latest version on github

[2016-01-27 12:55] barskuk commented on #1138
@RobinHerbots ,
Problem still exists.

[2016-01-27 12:57] RobinHerbots commented on #1138
@barskuk ,

Can you provide some fiddle with the exact settings used for the mask.

[2016-01-27 12:59] RobinHerbots commented on #834
@Xenovore , @dekdegiv , @armyofda12mnkeys , @JoeyHoutenbos ,

Can someone retest this with the latest version

[2016-01-27 13:00] RobinHerbots commented on #825
@kimzhu1980 ,

Can you retry with the latest version

[2016-01-27 13:01] RobinHerbots commented on #817
@sebreunion ,

Can you retry with the latest version on github

[2016-01-27 13:03] barskuk commented on #1138
@RobinHerbots ,
mask: +7 (999) 999-9999

[2016-01-27 13:03] #745 closed

[2016-01-27 13:05] RobinHerbots commented on #692
@dpeacock ,

I have a fallback method based on the inputevent.

Can you retry with the latest version on github

[2016-01-27 13:05] #625 closed

[2016-01-27 13:06] #584 closed

[2016-01-27 13:09] RobinHerbots commented on #465
Cuurent implementation only acts on the input event as the keypress is not fired.  Compositionevents are ignored in mobile.

[2016-01-27 13:09] #465 closed

[2016-01-27 13:16] xenaio-daniil commented on #834
@RobinHerbots,
tested demopage on Android 4.3, Chrome, standart keyboard.
Duplication is gone, but now every 2 symbols (approximately) keyboard switchs from numeric to alphabetical layout.
UPD.
tested same thing but with MessageEasy Keybord. No duplicion, no switching

[2016-01-27 13:16] RobinHerbots commented on #1138
@barskuk ,

Ok I can reproduce.  I will see how to fix it.

[2016-01-27 13:26] RobinHerbots commented on #834
@dekdegiv ,

Ok, but that is a another issue.  See #941

[2016-01-27 13:26] #834 closed

[2016-01-27 13:34] #653 closed

[2016-01-27 13:42] barskuk commented on #1138
@RobinHerbots ,
thank you!

[2016-01-27 13:53] RobinHerbots commented on #1168
@RemediumAnimus ,

You can do this by overriding the isInYearRange fn within the "dd/mm/yyyy" alias
Something like

[code]

Or by extending the alias.

[2016-01-27 13:55] #898 closed

[2016-01-27 13:56] #368 closed

[2016-01-27 13:57] #897 closed

[2016-01-27 14:37] #1073 closed

[2016-01-27 14:39] #982 closed

[2016-01-27 14:39] #1041 closed

[2016-01-27 14:40] #692 closed

[2016-01-27 14:41] #867 closed

[2016-01-27 14:41] #817 closed

[2016-01-27 14:42] #825 closed

[2016-01-27 14:52] oliveiraddb opened #1169 "Time mask with fixed minute value"
Hi,

First of all i want to thank for this amazing plugin, it's one of the best plugins i've ever seem.
Second, i want to ask if there's a way i can set a time mask with a fixed value on minutes..

For example:

__:59

I'm trying but with no success.

Thanks

[2016-01-27 14:55] RobinHerbots commented on #1169
Include the inputmask.extensions.js and use

Inputmask("h:59").mask(selector);

[2016-01-27 17:58] oliveiraddb commented on #1169
I tried it but it doesn't worked for my.. A mask like this: h:5_ appears instead

[2016-01-27 18:00] RobinHerbots commented on #1169
I make you a jsfiddle tomorrow.

Op 18:58 WO 27 Jan 2016 schreef Danilo de Brito Oliveira <
notifications@github.com>:

[2016-01-27 21:04] vsn4ik opened #1170 "Three tests failed"
`chromium qunit/qunit.html`

[2016-01-27 21:05] snagytx opened #1171 ""0.00" not displayed if "clearMaskOnLostFocus: true""
The value "0.00" does not result in being displayed in the input box unless the mouse is hovered the input box first.

HTML:

    <input type="text" class="money" value="0.00"><br>
    <input type="text" class="money" value="">

JS:

    $(function(){
        $('.money').inputmask('currency',
        {
            clearMaskOnLostFocus: !0
        });
    });

Test Case:

https://jsfiddle.net/33kqs

[2016-01-27 21:15] snagytx commented on #1171
it seems to be related to the combination between "digitsOptional" and "placeholder"

[2016-01-28 04:38] sebreunion commented on #817
@RobinHerbots

Thanks for the update !

A first quick test shows that all is working fine with the last version.

Thx

[2016-01-28 07:18] MrCsabaToth opened #1172 "The clear icon (x) in the right side of the input only appear in IE"
The x clear icon appears in IE when the input gets the focus, but doesn't appear on Chrome or FF.
Is that the -ms-clear pseudo element? https://stackoverflow.com/questions/14007655/remove-ie10s-clear-field-x-button-on-certain-inputs

[2016-01-28 07:21] MrCsabaToth commented on #1172
I may ask this in a different way: is there a way to make it appear on FF or Chrome?

[2016-01-28 07:32] MrCsabaToth commented on #1172
Tell me if it's not even inputmask scope issue.

[2016-01-28 09:11] RobinHerbots commented on #1170
@vsn4ik ,

I am still working on those.

[2016-01-28 09:11] #1170 closed

[2016-01-28 09:13] RobinHerbots commented on #1172
@MrCsabaToth ,

This behavior comes from IE and is out of scope.

[2016-01-28 09:13] #1172 closed

[2016-01-28 09:50] RobinHerbots commented on #1169
@oliveiraddb ,

https://jsfiddle.net/vf8c0jus/

[2016-01-28 09:50] #1169 closed

[2016-01-28 18:07] surjit opened #1173 "Is it possible to have mask with digits in range {min:1,max:100}"
is it possible to mask only digits in certain range {min:1,max:100}

[2016-01-29 09:48] RobinHerbots commented on #1173
@surjit ,

This is not possible out of the box.  You can tweak the postValidation in the numeric alias to allow it.
I can include it in a future release.

[2016-01-29 09:52] surjit commented on #1173
please give me example, how to use it or docs

[2016-01-29 09:54] RobinHerbots opened #1174 "Level up - pasting values into the mask."
The inputmask should handle cases like below out of the box without extra logic required.

+32 9 (999)99 99  paste 11231212 => +32 1 (123) 12 12
+32 9 (999)99 99  paste +32 1 (123) 12 12 => +32 1 (123) 12 12
+32 9 (999)99 99  paste +3211231212 => +32 1 (123) 12 12
+32 9 (999)99 99  paste 003211231212 => +32 1 (123) 12 12

+32 9 (999)99 99  paste +3232231212 => +32 3 (223) 12 12
+32 9 (999)99 99  p

[2016-01-29 10:00] RobinHerbots commented on #1173
[code]

[2016-01-29 17:49] mttkgn commented on #428
@RobinHerbots This issue still exists with the latest 3.x version. Will this be corrected?

[2016-01-29 19:02] RobinHerbots commented on #428
In which browser did you test?

[2016-01-29 19:51] mttkgn commented on #428
Chrome and IE9 look fine. It appears that it's only an issue in IE11, which is what we have in our environment.

[2016-01-30 22:04] ichepurnoy commented on #800
@RobinHerbots  BTW, Robin, the link to Inputmask library that you had inserted into my Jsfiddle, is now invalid.
[https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js                                                                                      ](https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js                              

[2016-01-31 06:15] afattahi54 commented on #898
I have tested this on an LG device android 4.4 and it is fixed. Thanks !

[2016-01-31 06:16] afattahi54 commented on #897
I have tested this on an LG device android 4.4 and it is fixed. Thanks !

[2016-01-31 15:27] afattahi54 commented on #898
I have also test it on apple ios 9 it works fine

[2016-02-01 09:10] RobinHerbots commented on #1138
@barskuk ,

I just retested this on android firefox and I cannot reproduce.  Can you confirm this is solved with version 3.2.7.

[2016-02-01 09:46] RobinHerbots opened #1175 "Rename repository to inputmaskjs"
As the dependency to jquery isn't necessary anymore I thought of renaming the repo.

Has someone experience with this?  Impact on packages?  should I keep the ID or should I also rename those?

[2016-02-01 09:55] sstyle opened #1176 "Completely does not work inputmask.js:607 error"
inputmask.js:607 Uncaught TypeError: Cannot read property 'isGroup' of undefined

<script src="http://yandex.st/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
        <script src="js/inputmask.js" type="text/javascript"></script>
        <script src="js/inputmask.extensions.js" type="text/javascript"></script>
        <script src="js/inputmask.date.extensions.js" type="text/javascrip

[2016-02-01 10:01] #1176 closed

[2016-02-01 10:01] sstyle commented on #1176
My mistake

[2016-02-01 11:24] barskuk commented on #1138
@RobinHerbots ,
The problem is resolved,
Thank you!

[2016-02-01 11:36] #1138 closed

[2016-02-01 15:48] RobinHerbots commented on #1094
@StraDIVar ,

How exactly do you clear the input?  I tried several ways and the input event gets triggered.

In which browser did you test?

[2016-02-01 15:50] RobinHerbots commented on #1094
@StraDIVar ,

Ignore my previous comment.  I see the problem.

[2016-02-02 11:03] Aifz opened #1177 "min value issue"
Hi,

I found out that if you set min: '5' and you want to type '40' it will automatically replace the 4 by 5 and doesnt care some value are filled in after typing 4.
I'm not sure if there is a trick or option to have it working as expected.

Please let me know, thanks !
PS: You are doing a really good job here.

[2016-02-02 11:05] Aifz opened #1178 "min value for decimal isn't working"
Hi,

I'm using the following tag : data-inputmask="'alias': 'decimal', 'radixPoint': ',', 'digits': '2', 'min': '0,3', 'allowMinus': 'false'"

This should prevent from setting values minor to 0.3 but I can type in 0.2 or any lower value.

Let me know if there is a trick or option to handle it. Thanks.

[2016-02-02 12:29] RobinHerbots commented on #1178
@Aifz ,

There are some issues with the numeric alias, I will deal with them at a later point.

For the above you should not set a quote around false

[code]

[2016-02-02 14:31] RobinHerbots commented on #428
@mttkgn ,

It seems like a bug in IE11

https://connect.microsoft.com/IE/feedback/details/1015764/ie11-scrollleft-for-text-input-elements-is-always-0

[2016-02-02 14:59] RobinHerbots commented on #1110
@afattahi54 ,

Have a look at https://jsfiddle.net/9n7u4mk6/1/

This is because the td is not picked up by the jQuery selector.

[2016-02-02 14:59] #1110 closed

[2016-02-02 15:18] mttkgn commented on #428
@RobinHerbots,

Ahh of course...thanks for looking into it!! I'll monitor for any changes on Microsoft's end.

Fantastic work on this plugin by the way! It's the only one I found that's robust enough to handle general masking and currency masking in any suitable way. Many thanks!

[2016-02-03 07:48] majiangl opened #1179 "Can not clear value when select all and press BACKSPACE in some circumstance"
You can recur this issue in in the official demo site: http://robinherbots.github.io/jquery.inputmask/ with following steps:
1. In the currency input, input 110.55
2. select all and press BACKSPACE, you can see value is not cleared, and cleared event is also not triggered.

[2016-02-03 20:37] johnqiuwan commented on #619
rightAlign: false is not working

[2016-02-03 23:57] RobinHerbots commented on #619
@johnqiuwan ,

Can you provide some more info about the mask you use and the options.  Also in which browser and OS.  I tested it here locally and it works fine.

[2016-02-04 03:11] majiangl commented on #1179
@RobinHerbots
I use your plugin in my project, I have to fix this problem. What do you think about this bug, will it take lots of effort to fix it? Can you give me some advise?

[2016-02-04 08:47] RobinHerbots commented on #1179
@majiangl ,

I will have a look at it.

[2016-02-04 12:11] RobinHerbots commented on #1052
@ivodopyanov ,

The above described issue is already fixed, but if you do delete instead of backspace you get zxcbn.com@_ which is not the expected zxc@bn.com

[2016-02-05 13:52] mantia11 opened #1181 "Specific readonly symbols in credit card mask"
Hi!

Sorry to write not about error, but I need some advice very much.
On some settings page user shouldn't see full number of his credit card, but "**** **** **** 5869" text.
The input-mask is "9{4} 9{4} 9{4} 9{4}"

How can I let input to show asterisks, but keep mask function while editing? Is it anyhow possible?

[2016-02-05 14:59] RobinHerbots commented on #1181
@mantia11 ,

Do you only want to show the creditcard formatted in the above format (with ***) or also while typing?

[2016-02-05 15:07] mantia11 commented on #1181
Just to show. After starting editing user can work with mask "____ ____ ____ ____"

[2016-02-05 15:35] RobinHerbots commented on #1181
@mantia11 ,

Have a look at https://jsfiddle.net/6k8d04yb/

[2016-02-05 15:54] mantia11 commented on #1181
@RobinHerbots, sorry for missunderstanding.

Entered digits should be visible. Asterisks used for creditcard number saved on / got from server to hide it just on page load.
While editing (or after input focus) we don't need to hide it already.

I thought that autoUnmask: true could help with it, but maybe I didn't understand good how it works.
Also I had a solution to clean input and add mask onfo

[2016-02-08 02:51] tracyIcebreaker opened #1182 "Mask not working in newest version of Android Chrome browser"
Wonderful plugin -

I'm using it on my site for as a date of birth mask `__/__/____`.  It works fine in chrome on Android < 6, but in the newest version of Android it says `_valueGet()` is not a function, and I end up with an input that looks like this `01012010__/__/____`.

I traced this to:

`function mobileInputEvent(e) {
    var input = this, caretPos = caret(input), currentValue = input._valu

[2016-02-08 08:58] RobinHerbots commented on #1182
@tracyIcebreaker ,

You are correct that it should have been input.inputmask._valueGet().... but which version do you use, as in the current version the mobileInputEvent is already gone ;-)  When you want to use the inputmask on android, you definitely should take the latest version.  3.2.7

[2016-02-08 09:12] RobinHerbots commented on #1181
@mantia11 ,

No problem.  Maybe I could create some alias for creditcardnumbers whcih include such a functionality out of the box.  For the moment have a look at version 2 of the fiddle

https://jsfiddle.net/6k8d04yb/1/

[2016-02-08 14:03] mantia11 commented on #1181
Cool! Yeap! It works for me :)
Could I thank you anyhow for your help? I can share your plugin or website (if you have one) among my friends developers :)

[2016-02-08 16:50] tracyIcebreaker commented on #1182
Wow I only installed it a month and a half ago!  I'm on version 3.2.5 which I obtained from bower.  Thanks for the info, I guess I'd better update. :)

[2016-02-08 16:50] #1182 closed

[2016-02-09 08:36] RobinHerbots commented on #1181
@mantia11 ,

Feel free to spread the word  or pay me a coffee by making a small donation :-)

[2016-02-10 01:27] dudo opened #1183 "input placeholder with a mask"
http://jsfiddle.net/ra542/290/

really, I'd just like to use `$('.money').inputmask('currency')`, but that example shows how I was trying to work around it. It's not really working as I would expect.

That being said, can we use the default input placeholder with a mask like 'currency'?

[2016-02-10 07:08] RobinHerbots commented on #1183
@dudo ,

Have a look at http://jsfiddle.net/ra542/292/

[2016-02-10 09:49] yonihbc opened #1184 "numeric steps"
is it possible somehow to have the user enter 4 to the input and the mask will change it to the closest step that was set? lets say 5?

so if the step is 100 and the user enters 343 that will be changed to 400?

[2016-02-10 10:07] RobinHerbots commented on #1184
@yonihbc ,

No this is not supported.  But it would be a nice addition for the future.

[2016-02-10 10:28] yonihbc commented on #1184
Ok...

נשלח מה-iPhone שלי

‫ב-10 בפבר׳ 2016, בשעה 12:07, ‏‏Robin Herbots ‏notifications@github.com כתב/ה:‬

[2016-02-12 09:45] StraDIVar opened #1185 "Plugin causes unexpected behavior on Samsung Galaxy J 7"
This problem occurs only on Samsung Galaxy J 7 (Android 5.1.1) with native keyboard (I think the keyboard is a problem).

How to reproduce:
I use mask `'9{0,8}'` for text input.
Type on keyboard "123" - in the input you will see only "23"
But if you pressed backspace key - problem disappears until page is refreshed

I understand that it is very rare case but maybe you know how to fix it easy.

[2016-02-12 10:51] RobinHerbots commented on #1185
@StraDIVar ,

Only on the Galaxy J7  or only on android 5.1.1 ?

[2016-02-12 15:30] StraDIVar commented on #1185
On some another devices I can't reproduce this bug. But it reproduces also on **Samsung Galaxy S6** (I checked it on https://www.browserstack.com)

[2016-02-14 17:58] oshimin commented on #1167
It's same with numeric value, 123456 get 165.234

[code]

JSFiddle : http://jsfiddle.net/51a6dkyh/

[2016-02-14 23:02] #1072 closed

[2016-02-15 06:22] matthew-davis opened #1186 "An issue with dates"
I'm using input mask and programmatically pulling data from a database to fill in the field when I'm returning to a form after having filled it in.

The data seems to be coming in ok (as in up until the point the data gets into the field it is correct). However when the plugin kicks in, it changes the date from my lovely correct data in a timestamp format to the correct format but some random date

[2016-02-15 08:03] RobinHerbots commented on #1186
@matthew-davis ,

Can you provide some example in jsfiddle.  The exact mask used and some date examples which go wrong.

[2016-02-15 08:33] matthew-davis commented on #1186
It'll take me about as long to weed out the code and find the error myself. Having just spent the whole night up finishing a thing for a client I'll brute force a solution now, make the delivery and then go to sleep. When I come round I'll sort this issue and post it up either how I was dumb or if there was anything that resembles a bug.

With my current level of brain activity I'd pretty much bet

[2016-02-16 16:24] vikasdomakunti opened #1187 "AutoUnmask not working on IE11"
On IE11 the autounmask function is not working. It is retrieving masked values even after the option is set true. Does the option not work in IE browser.

[2016-02-16 16:30] RobinHerbots commented on #1187
@vikasdomakunti ,

Can you provide some info.

The mask used and some context.  Maybe a jsfiddle.

[2016-02-16 16:35] vikasdomakunti commented on #1187
$("#callNumber").inputmask("(999) 999-9{4,46}",{autoUnmask: true});

This is the mask used.

[2016-02-16 16:45] RobinHerbots commented on #1187
@vikasdomakunti ,

And how do you want to retrieve the value?  by getting the value or on submit, ...

[2016-02-16 17:14] vikasdomakunti commented on #1187
I was checking on IE11 for autounmask option working or not.

Here is the fiddle https://jsfiddle.net/p1n4q6z1/6/

[2016-02-16 18:29] dougdomi opened #1188 "Mobile Performance to Format"
Hi,

When I use Inputmask.format method....

`Inputmask.format('2000-40-20 08:15:59', {alias: 'datetime.dd/mm/yyyy hh:mm:ss'}) )`

Mobile devices takes 3~4 seconds to return the result. I tryied another masks too.

[2016-02-16 19:21] RobinHerbots commented on #1188
@dougdomi ,

Which version do you use?

Can you also give the code from the alias as it seems a custom alias.

[2016-02-16 19:35] RobinHerbots commented on #1187
@vikasdomakunti ,

Have a look at https://jsfiddle.net/p1n4q6z1/7/

Use $.val instead of requesting the value property.

In chrome && FF it works with the value property because they allow to alter the native value property of the input.

[2016-02-16 19:44] dougdomi commented on #1188
I use the last version 3.2.7.

/\* Datetime Custom */

[code]

The datetime alias is from the current plugin mask version.

Thank you.

[2016-02-16 19:57] RobinHerbots opened #1189 "Email mask - add toplevel domains to the emailmask"

[2016-02-16 20:04] vikasdomakunti commented on #1187
Thanks Robin that solved the problem.

[2016-02-16 20:04] #1187 closed

[2016-02-16 20:06] #971 closed

[2016-02-16 20:09] RobinHerbots commented on #971
@ResidualEnvy ,

Fixed with the latest version.  Also see #1189

[2016-02-16 20:10] RobinHerbots commented on #1052
@ivodopyanov ,

2nd issue also resolved in the latest greatest ;-)

[2016-02-16 20:10] #1052 closed

[2016-02-17 10:24] RobinHerbots commented on #1187
@vikasdomakunti ,

I reviewed the value patch and it is now working for IE also.

Have a look at https://jsfiddle.net/p1n4q6z1/9/

[2016-02-17 13:54] #868 closed

[2016-02-17 13:56] RobinHerbots commented on #868
@Mottie ,

It should be possible to skip input in the position, but that case the mask should stay invalid until the placeholder is filled in.

[2016-02-17 15:01] #1179 closed

[2016-02-17 15:02] RobinHerbots commented on #1179
@majiangl ,

Fixed

[2016-02-17 16:57] gharlan commented on #962
same problem here..

@blaiseliu could you find any workaround?

[2016-02-18 01:28] majiangl commented on #1179
Thank you, I'm very appreciated.

[2016-02-18 03:34] xukaifu opened #1191 "error occurs in safari 9.0.3 (11601.4.4)"
http://jsfiddle.net/ra542/292/

![1 pic](https://cloud.githubusercontent.com/assets/574294/13133120/82d97dd0-d633-11e5-8e83-ca47423753f1.jpg)

[2016-02-18 10:31] RobinHerbots commented on #1191
@xukaifu ,

Safari 3.0.9 seems not to return a setter/getter while using Object.getOwnPropertyDescriptor or document.**lookupGetter**

So now it  uses a jQuery.valhook.

[2016-02-18 10:31] #1191 closed

[2016-02-18 12:03] gharlan opened #1192 "Can not change integer part when it is "0""
I use this:

[code]

Example: Initital value is "0.12".
Now select the "0", and type "3". Result is "30.12". Expected "3.12".

It works when the integer digit is non-zero.
Or when the "0" is not selected, but the cursor is placed after "0", then it works, too.

[2016-02-18 13:03] RobinHerbots opened #1193 "Vanilla dependencyLib - does not trigger setvalue"

[2016-02-18 14:27] #1193 closed

[2016-02-19 06:22] elcarajo opened #1194 "Incorrect Complete Status"
mask = (a|9){1,10}
when letter is entered mask shows:
aaa_______
isComplete() is false

when number is entered mask shows:
9_________
or
aaa9______
and isComplete() returns true

[2016-02-19 09:02] s-a opened #1195 "Paste does not work properly when using numericInput"
On Chrome it does work as expected, but on IE11 nothing happens.

[2016-02-19 09:05] s-a commented on #1195
I just figuerd out that when I jump with the cursor to the 1.st position. It works as expected.

[2016-02-19 09:43] RobinHerbots commented on #1195
@s-a ,

Ah ok, can you provide some example of the mask you are using.

[2016-02-19 10:06] RobinHerbots commented on #962
@blaiseliu , @gharlan ,

A workaround would be to patch the native FormData constructor.

[2016-02-19 10:26] s-a commented on #1195
[code]

[2016-02-19 10:55] RobinHerbots commented on #1195
@s-a ,

It is due that the placeholder is a valid input for the mask.  when pasting at the end the masks is presented with for example.

R000000000123456789

Maybe I can fix this be stripping away the placeholder

[2016-02-19 14:59] KimRoman opened #1196 "Chrome, Android - cursor jumps to the left in phone mask"
On Chrome (Android) cursor jump to the left when we type number befor opening bracket in phone mask. Same problem has occurred in firefox and was resolved in issue #1138

[2016-02-21 19:52] Topheur opened #1198 "Mask appear when I press TAB & showMaskOnFocus: false, showMaskOnHover: false"
I have created two inputs text with the hh:mm mask with options showMaskOnFocus and showMaskOnHover to false to don't display the mask.

However when I fill my first input, press TAB to go to the second and type some numbers, the mask appear.

This is my code :

[code]

[code]

});

[2016-02-22 08:40] s-a commented on #1195
@RobinHerbots I am using your plugin in production environment. Do you have any idea when you will publish a resolving release? By the way a NPM support would be great.

[2016-02-22 09:19] RobinHerbots commented on #1195
@s-a ,

There is already npm support.

When I publish a fix for it you can already pull the latest unreleased version from github.

[2016-02-22 12:38] #1195 closed

[2016-02-22 12:57] s-a commented on #1195
I can confirm that this works now :+1:

[2016-02-22 13:26] RobinHerbots commented on #1196
@KimRoman ,

On which version of android and which version of chrome?

[2016-02-22 13:37] RobinHerbots commented on #1185
@StraDIVar ,

Just tried on browserstack using samsung S6 and don't see the problem.

Can you create a jsfiddle to test with or retry with the latest version.

[2016-02-22 13:49] RobinHerbots commented on #1188
@dougdomi ,

On which mobile device do you test?  I tested the same and got +- 311 ms

[2016-02-22 13:53] dougdomi commented on #1188
Hi Robin,

LG Optimus L7 II .

[2016-02-22 14:03] RobinHerbots commented on #1188
@dougdomi ,

Can you make a fiddle which shows the measurement?
Is there a device on browserstack which compares to the LG Optimus l7 II?

[2016-02-22 17:46] ichepurnoy commented on #649
Dear @RobinHerbots , I'm experiencing some similar issues with masking a 'phone' field (on both my website and your demo)

Let's say, I type in '+380(50)111-22-33'  (let's imaginary alias these digits as '+abc(de)-fgh-ij-kl'  )
Issues fall into 2 categories:
1) **AR** (achieved result): When deleting 'h' in a mask, _the digits are shifted to the left_, like  '+abc(de)-fgi-jk-l_'
The user is unable

[2016-02-22 19:02] andr-04 commented on #1158
I've adapted my plugin to latest inputmask. See [the demo] (http://andr-04.github.io/inputmask-multi/ru.html).

[2016-02-22 21:37] Soul-git commented on #1158
Thank you. But unfortunately , with the appearance of your plangina before its renovation took place 2 years . jquery.inputmask constantly updated , I want to be sure that your plangin will be maintained up to date , and will not cease to work at the next Major Upgrade jquery.inputmask.

[2016-02-22 22:01] andr-04 commented on #1158
@Soul-git, yes, I had no plans to adopt my plugin for inputmask v3.x, but recently I've got the [pull request] (https://github.com/andr-04/inputmask-multi/pull/18). It indicates that inputmask-multi plugin is needed so I decided to merge this and fix bugs after that. So if you like inputmask-multi you can always give pull requests -- it will help to maintain it to work with next Major Upgrades of

[2016-02-22 22:09] Soul-git commented on #1158
Not very convenient to communicate in English . I wrote on a page of your plangin .

[2016-02-23 09:35] KimRoman commented on #1196
Android 4.1.2
Chrome 48.0.2564.95

[2016-02-23 13:05] ichepurnoy commented on #1164
@sverhagen hi, I've across this warning too. We had a situation, where this even caused error,  in a case when the Ajax was not ready by the time the rest of the code was expecting it.
_Ideally, imho, this is solved via Promises in javascript_, I just had no time to look deep in the lib.
Maybe @RobinHerbots could look into it someday.

So far, I've simply moved the phone-codes.js right into the In

[2016-02-23 13:16] ichepurnoy commented on #1158
@andr-04 Thanks for your work, Andrey! Can you please update your webpage to indicate the version/release date, because people would probably miss the fact that you've updated your plugin. We've recently had to remove its old version, due to the upgrade of Inputmask. Doh, we've just finished, and here comes the update!)

[2016-02-23 15:40] ichepurnoy commented on #706
Dear @RobinHerbots , I'm experiencing some similar issues with masking a 'phone' field (on both my website and your demo)

Let's say, I type in '+380(50)111-22-33' (let's imaginary alias these digits as '+abc(de)-fgh-ij-kl' )
Issues are as follows:
1) AR (achieved result): When deleting 'h' in a mask, the digits are shifted to the left, like '+abc(de)-fgi-jk-l_'.
The user is unable to insert any d

[2016-02-23 16:50] RobinHerbots commented on #1196
@KimRoman ,

Can you provide some more info.  The mask used.  Can this be reproduced on browserstack? Or an emulator?

[2016-02-23 18:50] allok opened #1199 "VIN mask"
**VIN (Vehicle identification number) mask**

I advice you to add VIN mask to your extension:

[code]

[https://en.wikipedia.org/wiki/Vehicle_identification_number](url)

[2016-02-24 08:27] #1199 closed

[2016-02-24 08:27] RobinHerbots commented on #1199
@allok ,

Done & Thx!

[2016-02-24 14:34] FishFunk opened #1200 "Textarea trailing mask"
It seems that the options autoUnmask and/or clearMaskOnLostFocus do not work with a textarea element.

For example, after the event handler onBlur, this value is left in the text area. (mask value '**********************'):
**testing_____________**

[2016-02-24 14:55] ichepurnoy commented on #706
Maybe this can be fixed by using options like  `skipOptionalPartCharacter, definitions, ignorables`. But they are all unclearly defined in the docs.
Ideally, the issue would be solved if either:
1) Delete / backspace leaves an empty space, without shifting characters.
2) or, if using InsertMode, cursor jumps over parens and hyphens. I'd need to block 'Delete' and 'Backspace' then.

[2016-02-25 11:18] rzr999 opened #1201 "Characters disappearing and changing position upon input on Android stock browser Chromium (Samsung Mobile)"
Problem:

[See video of the issue](https://youtu.be/mjLmayg9MYs).

With the mask
`"aa99 **** **** **** **** **** **** **** **"`
some characters disappear on input or change position
on the `Samsung Galaxy S3 GT-I9301I` Stock Browser.

However on the `Samsung Galaxy S2 Stock Browser` it works fine.

[See JSFiddle](https://jsfiddle.net/rzr999/t9q2xm8e/4/)

Browser: Stock Browser "Internet" Chromium

[2016-02-25 15:27] szaszendre commented on #1201
I think this will be very similar to #416.

[2016-02-26 10:30] StraDIVar commented on #1185
Thank you for your time, but now I don't see this bug. May be it was fixed in android or keyboard application. I think we can close it!

[2016-02-26 11:14] #1185 closed

[2016-02-26 13:41] schmulschubiak opened #1202 "Lost zero while replacing a digit in group"
I have an inputmask with radix, (20,00), when i select the "2" and replace it with another digit, like "5", i get "5,00", instead of "50,00", could it be a problem in the leading zero handler?
[http://jsfiddle.net/qmemcvdb/1/](http://jsfiddle.net/qmemcvdb/1/)

[2016-02-29 14:44] eklnc opened #1203 "Complex regex is not working"
I can't implement this regex(email regexp):

'/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/i'

Can you help me?

[2016-02-29 21:32] andreasba commented on #598
@RobinHerbots, I would like to re-open this:

[code]

If I enter the text manually everything is fine.

However, If I paste 978-3498064365 for example it makes "-3498064365978" out of it.

Andreas

PS: I am on the lastest version

[2016-02-29 22:33] dva-re opened #1205 "Caret bug on Android WebView"
Hello. In last Chrome and in WebView-based applications on Android expected bug with caret position. Only on new version. On old versions - all is ok.

I captured screencast.
https://drive.google.com/file/d/0BxwxhrDDVsEKdC00b281dWJmaTQ/view?usp=sharing

In application content - it is https://dva.re/index.php (uses inputmask and inputmask multi (https://github.com/andr-04/inputmask-multi/). May be

[2016-03-01 12:44] afattahi54 opened #1206 "jquery input mask typeError: can't redefine non-configurable property "value""
Some time when I call input mask on dom element for example TDs which have specific class  `$(".mask-date).inputmask("99/99/99")`, I face this error.

      jquery input mask typeError: can't redefine non-configurable property "value"

I just have see why this happens at http://stackoverflow.com/questions/6924250/error-in-accessor-property-cant-redefine-non-configurable-property-status

[2016-03-01 13:16] RobinHerbots commented on #1206
@afattahi54 ,

Do you use the latest version from github?  Browser?

[2016-03-01 23:34] yesman85 opened #1207 "Making it work with jquery ui autocomplete"
I am trying to combine the inputmask with jquery ui autocomplete, but it's not working.

It seems to completely overwrite the autocomplete functions, even if I reset it in the onKeyDown event, I can't get the list to appear.

Is there a work around or something for this?

[2016-03-02 09:52] futpib opened #1208 ""[object Object]" value after `$element.inputmask('setvalue', '')` call"
This can be easily [reproduced](https://jsfiddle.net/fc27q8zd/) or seen [in the code](https://github.com/RobinHerbots/jquery.inputmask/blob/fc73180bae1728973e418c75d1d74b624a1172fb/js/jquery.inputmask.js#L23)

[2016-03-02 13:00] RobinHerbots commented on #515
@dhilt ,

I know it has been a while for this issues, but ;...

Would you expect that entering the 6 as described above will not be allowed as it would result in a broken year?

[2016-03-02 13:03] RobinHerbots commented on #1208
@futpib ,

This will be fixed by the next commit.  Thx for reporting

[2016-03-02 14:25] setdream opened #1209 "Сan i use carret , seekNext, seekPrevious method in onKeyDown event?"
It is necessary to specify the behavior of the following keys:

DELETE or Backspace - delete left or right symbol
HOME or END - move to very left or very right through HH or MM
*UP or DOWN - increase or decrease value
LEFT or RIGHT* - move left or right through HH and MM

[2016-03-02 15:08] dhilt commented on #515
@RobinHerbots I think that current behaviour that I see in the demo page is fine: correct change in the 1st group and minimal break in the 2nd one. This is really more useful than preventing a change at all in that case... Thanks!

[2016-03-02 15:12] RobinHerbots commented on #515
@dhilt ,

Hmm, but it is actually wrong as the year is invalid at that point.  I would prevent the entry unless valid

[2016-03-02 15:31] dhilt commented on #515
@RobinHerbots I guess it is not a fantastic scenario when the User really wants to change month and to corrupt year in the same time. Such kind of selection is pretty artificial I think, so it most likely that the User understands what he is doing... I'm trying to imagine. When the User does a selection through both of month and yaer groups it seems very reasonable that he wants to get changes the

[2016-03-03 00:57] #1208 closed

[2016-03-03 00:58] RobinHerbots commented on #1192
@gharlan ,

FIxed in the latest version

[2016-03-03 12:29] Skulli commented on #1177
Not sure if its the same bug but i have very odd behaviour when using decimal and min/max definitions. With the latest version i am not able to type any radix values

[code]

Thats my current definition for weight-input. If i remove the min/max-definition, everything gonna work again.

[2016-03-03 15:24] gharlan commented on #1192
Thanks! But it does not work for me. Same behavior as before.
Version: 3.2.8-11

[2016-03-03 15:40] gharlan commented on #1192
I'm sorry. It works!!

But there is a new issue. When the value is `0.00`, and I select the first 0 (integer part), type `2`, I get: `200`.
Expected: `2.00`

[2016-03-04 11:50] ownede commented on #841
Annoying issue, worth fixing.

[2016-03-04 23:19] RobinHerbots commented on #1192
I will push the fix soon.

[2016-03-05 16:51] afattahi54 opened #1211 "input value is cleared in IE"
I face an strange issue in IE 10.

My input could be filed from a calendar component and  it has a date mask on it.
I can select the date from calendar and the date will be displayed in the input. however when I move the mouse over the input, the date will be erased !!

Here is another scenario: if I type "1999" in the input, select date from calendar, select a date "like 2015/12/21" the data will

[2016-03-06 06:39] afattahi54 commented on #1211
This was fine in version 3.2.4

[2016-03-06 22:23] RobinHerbots commented on #1211
@afattahi54 ,

Probably, because the new version patches the native value property in IE10.
Can you create a jsfiddle with the calendar component .

[2016-03-07 06:24] afattahi54 opened #1212 "The [a-za-zA-Z0-9] mask is not working on mobile"
In the version 3.2.7 the `[a-za-zA-Z0-9]` mask is not working. The mask does not all to enter numbers after characters. It I first type numbers then charters it works fine however if I type characters it does not allow to enter numbers after it.
In this case the `onKeyValidation` is called and the key is valid.

[2016-03-07 07:09] afattahi54 commented on #1212
Sorry this was on 3.2.4 and works fine in 3.2.7

[2016-03-07 07:09] #1212 closed

[2016-03-07 07:14] afattahi54 commented on #1211
I try to do it :) but is there any work around

[2016-03-07 10:58] amitchaure11 opened #1213 "cursor flow is not proper in Ios Devices"

[2016-03-08 10:09] gubi opened #1214 "How to remove autofill on hover/focus"
Is it possible to remove or hide the underscore pattern (eg. "____") during the filling field?
![screenshot](https://cloud.githubusercontent.com/assets/746559/13598469/3354fc18-e51e-11e5-82fb-467fafc30b27.png)

[2016-03-08 10:15] gubi commented on #1214
Sorry, seeing your code I found the solution, simply passing the `definition: " "` option like this:

[code]

Note that is not well documented!

[2016-03-08 10:52] RobinHerbots commented on #1214
Yes you can alter the placeholder with the placeholder option.

Feel free to update the readme with a better explanation.

Op di 8 mrt. 2016 om 11:15 schreef Alessandro Gubitosi <
notifications@github.com>:

[2016-03-08 12:12] osaris commented on #1177
+1 I confirm the same bug

[2016-03-08 19:18] danielson317 opened #1216 "Dollor sign causes js error."
Using the character '$' in the input masks causes a js failure.

[2016-03-09 07:10] eklnc commented on #1203
Hey, i said its not working. Can yo look at this?

[2016-03-09 09:23] RobinHerbots commented on #1213
@amitchaure11 ,

Can you explain a bit more?

[2016-03-09 09:28] RobinHerbots commented on #1216
@danielson317 ,

Can you provide the mask and/or create an example in jsfiddle

[2016-03-09 09:29] RobinHerbots commented on #1211
@afattahi54 ,

Can you create a jsfiddle with the calendar component and the mask.

[2016-03-09 09:34] RobinHerbots commented on #1209
@setdream ,

No you do not have access to it.

Is the above functionality not already present? (except the increase/decrease)

[2016-03-09 09:51] RobinHerbots commented on #1203
@eklnc ,

I tried your regex at https://regex101.com/#javascript and it seems not valid for email)

[2016-03-09 09:59] RobinHerbots commented on #1192
@gharlan ,

Fixed

[2016-03-09 09:59] #1192 closed

[2016-03-09 10:06] RobinHerbots commented on #1202
@schmulschubiak ,

Fixed in the latest

[2016-03-09 10:06] #1202 closed

[2016-03-09 10:07] #686 closed

[2016-03-09 10:28] #1171 closed

[2016-03-09 12:40] amitchaure11 commented on #1213
i am using inputmask version 3.2.7 in IOS 5 and IOS 6 Device when we open that in safari browser moved to month the cursor will go out from the inputbox.
 can you please tell me the solution how to fix that issue.

![capture](https://cloud.githubusercontent.com/assets/17701508/13635509/26e095be-e622-11e5-8b1f-60d6a520c375.JPG)

[2016-03-09 14:27] #1162 closed

[2016-03-09 14:51] RobinHerbots commented on #1146
@Aifz ,

The current implementation will set the max value when leaving the field.

[2016-03-09 14:52] RobinHerbots commented on #1213
@amitchaure11 ,

Is this on a input element or a contenteditable?

[2016-03-09 14:54] jaisonerick commented on #1162
Thank you @RobinHerbots !

[2016-03-09 14:55] RobinHerbots commented on #598
@lmbelo ,

I will have a look at it.

You would expect -9783498064365 right?

[2016-03-09 16:01] sergiocormio opened #1217 "IE8 error: Object doesn't support this property or method"
jquery.inputmask.bundle.js
Version: 3.2.8-17
Line: 852
Char: 21

I think the problem is because IE8 doesn't support getPrototypeOf method
[(http://stackoverflow.com/questions/10919915/ie8-getprototypeof-method)]

Regards,
Sergio

[2016-03-09 20:52] andreasba commented on #598
@RobinHerbots I would expect the pasted number to be "9783498064365" :)

Thanks :)

Andreas

[2016-03-09 23:46] RobinHerbots commented on #598
@andreasba ,

Hmm why do you use the numeric alias in that case?

"9{*}" works fine in that case

[2016-03-10 02:30] amitchaure11 commented on #1213
This is an input tag type is text its only reproduce in iOS 5 and iOS 6 devices

[2016-03-10 14:05] RobinHerbots commented on #598
@andreasba ,

Or you can use

[code]

[2016-03-10 14:05] #598 closed

[2016-03-11 10:00] RobinHerbots commented on #1213
@amitchaure11 ,

Can you reproduce it on Browserstack?  I tested on Iphone 5 in browserstack and don't see the problem.

[2016-03-11 10:04] RobinHerbots commented on #902
@kjavia ,

Can you retest with the latest version on github.

[2016-03-11 12:02] amitchaure11 commented on #1213
It is not reproduce in browser stack only in iOS device safari browser it can be reproduce.

[2016-03-11 12:24] RobinHerbots commented on #1213
@amitchaure11 ,

Can you do some debugging for me?  Is there an error occuring?

[2016-03-11 12:27] RobinHerbots commented on #1005
@licarus ,

This is fixed in the latest version

[2016-03-11 12:27] #1005 closed

[2016-03-11 12:29] RobinHerbots commented on #1027
@mmilczewski ,

This is fixed in the latest version

[2016-03-11 12:29] #1027 closed

[2016-03-11 12:57] amitchaure11 commented on #1213
It occurs on query.input mask.bundle .is version 3.2.7
I already share the screen shot for the cursor issue

[2016-03-11 13:17] RobinHerbots commented on #1032
@sillentkil

Fixed in the latest version

[2016-03-11 13:17] #1032 closed

[2016-03-11 13:29] khcung opened #1218 "Clicking on a highlighted masked field does not set the caret to the first valid position (Chrome)"
In Firefox or IE, if you highlight a masked field (i.e. tabbing into a date or ssn masked field) and then click on the field, it will set the caret to the first valid position.  However, in Chrome, if you click on a highlighted masked field, the caret will just stay at the position you click.  Clicking again will do.

[2016-03-11 13:35] sillentkil commented on #1032
You are the best, many thanks.

[2016-03-11 13:57] #1139 closed

[2016-03-11 15:45] khcung commented on #1218
@RobinHerbots
I think the problem is that in Chrome, when a click event occurs, the call to caret() function always returns the positions of the current input selection.  Whereas in Firefox and IE, the current input selection is cleared out first, therefore the call to caret() returns the correct cursor positions.  Is there any way we can do that for Chrome?  Thanks for your help.

[2016-03-11 17:30] RobinHerbots commented on #1218
Put a settimout around the clickevent. I will test it on monday.  Thx for further investigating.

[2016-03-11 19:51] khcung commented on #1218
@RobinHerbots Yes, that resolved the issue!  Thank you very much.

[2016-03-13 12:47] andreasba commented on #598
Thanks @RobinHerbots, "9{*}" did the trick, not sure why I did not come up with this simple solution (the solution your last post does not work as I was using this already)

[2016-03-14 08:18] RobinHerbots commented on #598
@andreasba ,

It does work with the latest version on github

[2016-03-14 10:20] #1218 closed

[2016-03-14 10:50] renaudpawlak opened #1220 "Issue with Bootstrap modals?"
Masks seem to work everywhere on my page, except in inputs of Bootstrap modals. Is it a know issue or is there a trick to make it work?

[2016-03-14 11:26] renaudpawlak commented on #1220
UPDATE: I have managed to make it work, but I had to apply jquery.inputmask on the dialog inputs once it is opened. Something like:

[code]

[2016-03-14 11:26] #1220 closed

[2016-03-14 14:15] #902 closed

[2016-03-14 14:17] RobinHerbots commented on #1053
@ivodopyanov ,

Have a try with the latest

[2016-03-14 14:22] RobinHerbots commented on #1137
@jmanos ,

This is fixed in the current version on github

[2016-03-14 14:22] #1137 closed

[2016-03-14 14:45] eklnc commented on #1203
I wrote wrong regexp i think. I've done with a workaround solution. So, you can close this issue.

[2016-03-14 14:57] RobinHerbots commented on #1203
@eklnc ,

You could also use the email alias

Inputmask("email").mask(input);

[2016-03-14 14:57] #1203 closed

[2016-03-14 15:00] CodeOfDavid opened #1221 "'alias': 'numeric', zero value"
Im finding that the cursor position, when I have '0' (Zero) in the input, is to the left of the 0 not to the right of the zero. If it was to the right of the zero, the user input of numbers would overwrite the zero, instead the number the user types are added to the left of the zero, making a 0 become 10 etc. sometimes oddly the cursor will put itself to the right of the zero, but this happens les

[2016-03-14 15:35] RobinHerbots commented on #1221
@CodeOfDavid ,

There is a difference between 0 as user input and 0 as a placeholder.  When 0 is set by the server or by the user, put the caret to the left and additional input will be added.  When placed after the 0, it will overwrite as ex: 01 is not valid.

When there is nothing entered yet and you have a placeholder 0, all input will overwrite the 0.  The positioning of the caret will depend

[2016-03-14 15:39] CodeOfDavid commented on #1221
@RobinHerbots Thanks for this explanation, is there a setting to make the 0 behaviour of value 0 to be the same as a the behaviour of the placeholder 0?

[2016-03-14 15:56] RobinHerbots commented on #1221
@CodeOfDavid ,

No but I can add that.

There should be some voting mechanism in github so I can make a poll for it.
It is more about what should be the default option?

[2016-03-14 15:59] CodeOfDavid commented on #1221
@RobinHerbots I would appreciate it if you add this functionality, I suspect it could be the default as 0 is rarely the first digit in a number. Im sure it would be a popular feature. Thank you.

[2016-03-14 16:12] RobinHerbots commented on #1221
@CodeOfDavid ,

Maybe the previous behavior of overwriting 0 regardless the user has already inputted 0 was better.

[2016-03-14 16:13] CodeOfDavid commented on #1221
@RobinHerbots I think so, you can always provide an option to allow the user to choose the current behaviour.

[2016-03-14 20:38] dreysolano opened #1222 "Very long input value mask error"
I am attempting to mask DB fields in a GUI app, some of which are up to 32,700 characters. Upon applying the mask on a hex field, I get the following console error:

"Uncaught Inputmask: There is probably an error in your mask definition or in the code. Create an issue on github with an example of the mask you are using. #{32700}"

Attempting to paste 32,700 characters into a standard textarea wit

[2016-03-14 22:16] RobinHerbots commented on #1222
@dreysolano ,

I"ve put a limit on the iterations on the gettests fn.  As above a certain number most of the time means an error.

What are you trying todo?  Can you send some example of data?  Maybe in a jsfiddle.
I will see if I can enhance the gettests fn.

[2016-03-15 06:09] ankitajain32 opened #1223 "validate regular expression for indian vehicle registration number"
I need to apply 'either' and 'OR' regular expression between the alphabet 'C' and 'S' for verify the delhi vehicle registration no like DL 12C AS 1234 OR DL 12S AS 1234.
I tried:-
$('#registration_no').inputmask("mask", {"mask": "a{2} 9{1,2}(c|s) a{1,3} 9{4}"});
or
$('#registration_no').inputmask("mask", {"mask": "a{2} 9{1,2}[cs] a{1,3} 9{4}"});

but it accepts the C by default always.

[2016-03-15 08:54] RobinHerbots commented on #1221
@CodeOfDavid ,

I trying for 1 behavior to rule them all ;-)

So with the caret in front:
0              type 1 => 1
0.00         type 1 => 1.00
0.02         type 1 => 1.02  or 10.02 ?

[2016-03-15 09:03] CodeOfDavid commented on #1221
@RobinHerbots
Re. 0.02 type 1 => 1.02 or 10.02 ?
difficult to say....on the balance of things, since the user is already in the text box and can add the zero to make 10 I would say 1.02. There answer to this probably depends on what value the user wanted to end up with.

[2016-03-15 09:08] RobinHerbots commented on #1223
@ankitajain32 ,

You should escape the s as this is also a definition symbol.

$('#registration_no').inputmask("mask", {"mask": "a{2} 9{1,2}c|\s a{1,3} 9{4}"});

Maybe this one:
$('#registration_no').inputmask("mask", {"mask": "A{2} 9{1,2}C|S A{1,3} 9{4}"});

This mask works, only there is some visual mistake the initial mask is __ ____ ____ and should be __ ___ _ ____ but that is something that i

[2016-03-15 09:20] RobinHerbots commented on #1221
@CodeOfDavid ,

10.02 would be the most logical.  The user can also press the insert key to switch to overwrite mode.

The behavior in a spreadsheet is also 10.02

[2016-03-15 09:22] CodeOfDavid commented on #1221
@RobinHerbots that works too :)

[2016-03-15 09:28] NurGuz opened #1224 "Decimals"
When I click on the decimal part it makes me focus on the integer part ( so do not let me write in decimal ) When writing where it has made me focus upsets me the order of the number as I write

this is my mask

$('.currency').inputmask("currency",
        {
            groupSeparator: '.', radixPoint: ',', autoGroup: true, digits: 2, digitsOptional: false, prefix: '',
            showMaskOnHover:

[2016-03-15 09:36] ptutt1 commented on #1053
This seems to work for the use case described, however, how does one always return 0.00 whether the user has entered 0, or deleted the current value?
1. current value is 123.00
2. Tab to textbox and press delete key
3. Tab off text box

expected: .val() return "0.00"
actual: .val() returns ""

https://jsfiddle.net/jo7xxm9r/4/

To get around this, I added the following to my code:
`
$("input.curren

[2016-03-15 09:52] RobinHerbots commented on #1224
add the radixFocus option

$('.currency').inputmask("currency",
{
groupSeparator: '.', radixPoint: ',', autoGroup: true, digits: 2, digitsOptional: false, prefix: '',
showMaskOnHover: false, showMaskOnFocus: false, placeholder: '', radixFocus: false
});

[2016-03-15 09:55] NurGuz commented on #1224
Don't work man =(
If I write in decimals, automatically written to the integer part and I change the order of numbers (my input is empty)

[2016-03-15 09:55] RobinHerbots commented on #1053
@ptutt1 ,

So you would like to return 0.00 in case of 0 or null?

[2016-03-15 09:59] RobinHerbots commented on #1224
@NurGuz ,

Can you make a jsfiddle to make it more clear.

Can you give an example as it is not very clear to me what you mean.

[2016-03-15 10:00] ptutt1 commented on #1053
In my case, yes.  The model property is not nullable.  I understand that
this is not the desired behaviour of others...I was just wondering if there
was something that I could configure to produce that behaviour.

On 15 March 2016 at 17:56, Robin Herbots notifications@github.com wrote:

[2016-03-15 10:04] RobinHerbots commented on #1053
@ptutt1 ,

I was thinking in the same direction.  Something like a nullable option.

[2016-03-15 10:09] ankitajain32 commented on #1223
Thanks for replying
But in both case it takes 'c' as default.If i try to replace 'c' by 's'  it takes 's' in next slot.

[2016-03-15 10:12] ptutt1 commented on #1053
That makes sense to me.

[2016-03-15 10:22] NurGuz commented on #1224
**Html**:  < name="dcDisExpensesAccruals" data-ng-model="numericos.dcDisExpensesAccruals" type="text"  class="currency" >

$('.currency').inputmask("currency",
{
groupSeparator: '.', radixPoint: ',', autoGroup: true, digits: 2, digitsOptional: false, prefix: '',
showMaskOnHover: false, showMaskOnFocus: false, placeholder: '', radixFocus: false
});

[2016-03-15 11:00] RobinHerbots commented on #1223
Did you try this one? $('#registration_no').inputmask("mask", {"mask": "A{2} 9{1,2}C|S A{1,3} 9{4}"});

[2016-03-15 11:00] ankitajain32 commented on #1223
yes sir.:-)
Firstly it replaces the 'c' by 's' but when we go in next slot then 's' again changes into 'c'.basically it takes c as default.

[2016-03-15 11:53] RobinHerbots commented on #1223
@ankitajain32 ,

Give me some examples, ...

[2016-03-15 12:16] ankitajain32 commented on #1223
Sir, I need a  DL 12C ASD 1234 or DL 12S ASD 1234

$('#registration_no').inputmask("mask", {"mask": "a{2} 9{1,2}a a{1,3} 9{4}"});

[2016-03-15 14:38] RobinHerbots commented on #1223
@ankitajain32 ,

Have a look at https://jsfiddle.net/2xc3o61o/1/

[2016-03-15 19:10] dreysolano commented on #1222
@RobinHerbots ,

Basically, I'm doing on-the-fly validation when a field is focused/changed. Inputmask is only being applied once a field's data is valid (or if it's empty). This allows the user to retain the raw invalid data without it being altered by the mask. Validation is run each time a change to the field is made and, once valid, the mask is applied.

See my fiddle for a basic example (also

[2016-03-16 10:13] akram1905 opened #1225 "alias:numeric with integerDigits set to a number and autoGroup:true"
When using this configuration:

`{'alias': 'numeric', 'groupSeparator': ',', 'radixPoint': '.', 'autoGroup': true, 'digits': 2, integerDigits: 6, 'digitsOptional': false, 'prefix': '', allowPlus: false, allowMinus: false }`

After inputting 6 digits (123456 for example), it won't accept any digit or radixpoint  unless I move the cursor !
I expect to be able to input 6 digits and after that to proc

[2016-03-16 11:49] RobinHerbots commented on #1224
@NurGuz ,

Can you retry with the latest version from github.

[2016-03-16 12:23] rzr999 opened #1226 "Safari Maximum call stack size exceeded when inputmask bound twice"
On Safari 9.0 I get a `RangeError: Maximum call stack size exceeded` error when inputmask is bound twice.

[See JSFiddle](https://jsfiddle.net/f6d3r6r5/)

[2016-03-16 12:57] minorum opened #1227 "email mask backspace after dot wrong behaviour"
When you use backspace after a dot in email address it removes the dot and a character before dot.

https://jsfiddle.net/nnxx64rc/3/

[2016-03-16 19:01] asanikovich commented on #1199
Hello!
Please **fixed** it to this

[code]

[2016-03-17 15:25] RobinHerbots commented on #1199
@allok ,

ok, done.

[2016-03-17 18:49] ixth commented on #1205
Seems like `keydown` sometimes sends `keyCode` 229 instead of 8: https://gielberkers.com/what-is-keycode-229/

[2016-03-18 06:56] ankitajain32 commented on #1223
Thanks robin but it not works it didn't allow me to replace 'c' with 's'.

[2016-03-18 08:32] RobinHerbots commented on #1223
@ankitajain32 ,

I tested again and you are right! You can type the S initially, but you cannot replace the C by an S.

I will have a look at that.

[2016-03-18 10:37] ankitajain32 commented on #1223
Thanks and please also tell me, which event we use to allow edit the value of input text take by the input mask?

[2016-03-18 11:38] futpib opened #1228 "'change' event is better off synchronous"
Native `change` is synchronous and I propose jquery.inputmask trigger it synchronously too.

[Example of incorrect behaviour with inputmask](http://codepen.io/anon/pen/VaPVgY):
1. Fill the input ("1234" or whatever), but don't `blur` it yet
2. Click the "submit" button right away (without `blur`ing the input beforehand)
3. `prop: null` is submitted since the input did not `change` yet
4. Click the

[2016-03-18 13:12] #1053 closed

[2016-03-18 13:21] RobinHerbots commented on #1053
@ptutt1 ,

nullable option added