[2013-04-18 10:58] RobinHerbots commented on #211
Othe issue also fixed

[2013-04-18 13:49] err0x1a opened #212 "isComplete"
Firstly I would like to thank, I tested several plugins, and this is the only one that approaches perfection, thanks for the efforts.

I am having problem with the method isComplete, any field I try it gives this error:
- <HTMLInputElement> Object # has no method 'split'
- Line 684: return t = this.data("inputmask").masksets, p = this.data("inputmask").activeMasksetIndex, a = this.data("inputmask"

[2013-04-18 14:04] err0x1a commented on #212
Hi, on the Notepad++ the line is 162, inside a: case "isComplete".

The solution is take the value of the element, like this:

Original: return isComplete(this[0].split(''));
Modified: return isComplete(this[0].value.split(''));

Hope this help.

[2013-04-18 16:15] gabbaca commented on #211
Thanks for the quick fix Robin!

[2013-04-18 16:49] gabbaca commented on #211
I was testing this mask with IE8 and it looks like there is an error with indexOf

[2013-04-18 17:15] gavmck opened #213 "Mask doesn't update on Windows 8 mobile or Blackberry playbook"
When typing into a masked text input on Windows 8 mobile or Blackberry Playbook, the mask stays as per the original and doesn't remove itself as you type until you exit the field.

Have tried manually triggering keyup, keydown, keypress and change using a setInterval running whilst focused in the field, but seems to have no effect. Which event is updating the mask bound to?

[2013-04-18 17:30] gavmck commented on #213
Just noticed same issue on Opera mobile on Android Nexus 4

[2013-04-18 17:57] RobinHerbots commented on #211
pfff  not again, ... I ***\* IE8, ... i will have a test in ie8 tomorrow

[2013-04-18 18:35] RobinHerbots commented on #212
@herz-atk ,

Thx for the compliment, ... but perfection is still a long way to go ;-)

Anyway the iscomplete isue is fixed.  (thx for the solution.

[2013-04-18 18:35] #212 closed, assigned to nobody

[2013-04-18 18:38] RobinHerbots commented on #213
@gavmck ,

I don't own a win8 mobile device or blackberry, ... so to solve this I need more info.

Can I download a virtual win8 mobile device emulator and a blackbarry one?  Can you submit the useragent string per device?  I will test the opera on android.

best regards,

Robin

[2013-04-18 18:49] gavmck commented on #213
Hey thanks for the fast reply! Great plugin by the way.

The windows 8 emulator is packaged up in the windows mobile SDK which you can grab here I think: http://dev.windowsphone.com/en-us/downloadsdk

I'll go find a blackberry emulator next. Will get the UA strings tomorrow as they're office test devices.

Thanks

[2013-04-18 18:52] gavmck commented on #213
Do you have another tablet available? This appears to run a blackberry VM http://www.softpedia.com/get/Programming/Other-Programming-Files/BlackBerry-Playbook-Simulator.shtml

[2013-04-18 18:57] gabbaca commented on #211
Yeah I feel your pain :(

But I would like to thank you for a great plugin and all the hard work you've put into it.

[2013-04-18 19:38] RobinHerbots commented on #211
the shared pain did it, .. ie8 issue fixed in the current ;-)

[2013-04-18 19:41] #210 closed, assigned to nobody

[2013-04-18 19:42] RobinHerbots commented on #186
I close this one, ... submit more specific issue for android,

[2013-04-18 19:43] #104 closed, assigned to nobody

[2013-04-18 19:48] RobinHerbots commented on #209
@ychumak ,

I will have a look at it.

best regards,

Robin

[2013-04-18 22:20] gabbaca commented on #211
Looks good, thanks.

[2013-04-19 08:31] RobinHerbots commented on #196
@lmiguelmh ,

Can you explain a bit more the problem?  It is not clear to me what the problem is.

Robin

[2013-04-19 08:46] RobinHerbots commented on #211
I found another issue.

The optional in the second mask is not working correctly.
I will  try to fix this.

[2013-04-19 09:42] RobinHerbots commented on #211
fixed

[2013-04-19 09:42] #211 closed, assigned to RobinHerbots

[2013-04-19 10:55] gvdhoven opened #214 "integer and non-negative integer"
I made the following changes to the numeric extensions since (by default) i would like the integer to be 1 group, don't allow the comma and i also added the non negative integer variant. Could you integrate this (i don't have Git installed right now)

[code]

[2013-04-19 11:17] Webunity opened #215 "Force numeric to empty (on blur) with '0' as value"
Hi Robin,

I wanted to use the decimal for an address (housenumber) but obviously the default (database) value is '0'. I don't want this '0' to be in the field. What method/regex would i have to use to empty '0' from the input?

Case:
- New user
- App assigns '0' to field
- App uses $(field).inputmask('99')
- Inputmask detects this '0' and clears it on pageload
- User enters '0' or '00' or '0000'

[2013-04-19 11:48] gavmck commented on #213
Doing some testing over here today.

It appears Opera Mobile, Blackberry playbook and the Windows 8 mobile are not firing the onkeypress event.
Checked for support and they all say that they support onkeypress in my input.

Windows 8 mobile fires the keyup event
Opera Mobile fires a keyup event onfocus, but nothing after that. Just updates onblur
Playbook doesn't fire keyup or keypress

Will updat

[2013-04-19 11:57] WaltDaniels commented on #215
I actually have a similar need ... let us set a default of either blank or '0' for numeric masks.

[2013-04-19 12:14] gvdhoven opened #216 "Move + & - from numeric regex to options"
I have a currency field (price) and in that field i don't want the user to enter +0.00 or -0.00.
So with the default decimal implementation, i have to create a new definition omitting this from the regex. What if we would move the + and - to options and build the regex based on these options? Then you could have something like;
$(field).inputmask('decimal', { allowNegative: true, allowNegative: fa

[2013-04-19 12:17] gvdhoven opened #217 "Ignore groupSeparator when groupSize is 1"
When i have the following code
$(field).inputmask('decimal', { groupSize: 1 });

The user is still able to enter the comma, although this isn't a valid decimal character (by default it is '.'). Suggestion to ignore the groupSeparator when groupSize is 1.

[2013-04-19 12:19] RobinHerbots commented on #214
done

[2013-04-19 12:19] #214 closed, assigned to nobody

[2013-04-19 12:22] RobinHerbots commented on #217
@Webunity ,

set groupseparator: "", ...

[2013-04-19 12:22] gvdhoven commented on #217
Yes thank you, since that is now default you can close this issue.

[2013-04-19 12:25] #217 closed, assigned to nobody

[2013-04-19 12:27] RobinHerbots commented on #216
@Webunity

Great idea!  I will do that.

Robin

[2013-04-19 12:28] gvdhoven commented on #216
Thanks you as always for your fast response.

[2013-04-19 12:40] gvdhoven opened #218 "Multiple inputmasks"
I don't think it has much use to assign multiple inputmasks to one field. Does inputmask automatically do a '.inputmask('remove')' when assigning a new mask to prevent certain options from aliases or definitions be set wrongly?

[2013-04-19 12:49] RobinHerbots commented on #218
yes

[2013-04-19 13:01] gvdhoven opened #219 "issue with $(field).val(..) in onincomplete / oncomplete"
See test case: http://jsfiddle.net/3tstg/17/
I also added 'percentage' aliases (value 0-100). Feel free to copy.

In this fiddle, if you replace

[code]

with

[code]

Then the final value will be '10' instead of '100'.

[2013-04-19 13:05] gvdhoven commented on #219
p.s. function can be compacted to this:

[code]

But if you enter 100 you can't enter a value of '1' anymore. Possibly a bug in the created alias?

[2013-04-19 14:01] gvdhoven opened #220 "How to allow only 1 dash in mask (Phone number)"
As you might have been noticing, i am implementing jquery.inputmask on a webshop.

The following struggle. I would like to allow decimals in a phone field. The format/mask is free  to enter for the user, but i would only allow one '-' for instance:
06-12345678

How can i restrict the dashes to one?

[2013-04-19 14:17] RobinHerbots commented on #219
.val(100) works now, but there is an issue with iscomplete for the decimals, but there are already issues for that open.

[2013-04-19 14:17] #219 closed, assigned to RobinHerbots

[2013-04-19 14:18] #218 closed, assigned to nobody

[2013-04-19 14:19] RobinHerbots commented on #220
define a definitions with a clever regex or make a function which checks for the - to occur once

[2013-04-19 14:29] lmiguelmh commented on #196
You can't insert characters at the end (even if you had enough space left). Write a character and then press HOME, then END, and now try to insert another character. You'll see that you can't.

[2013-04-19 15:04] gavmck commented on #213
Strangely all browsers return true for: 'onkeypress' in document.createElement('input');

[2013-04-19 15:19] gavmck commented on #213
Scratch that Opera fires keypress events after the mask area but not in it.

[2013-04-19 15:33] sompylasar commented on #213
Just a thought. The "keypress" event might be present in the object because
of the standard and/or because a real keyboard may be somehow connected to
a Windows 8 device. But it never fires because the virtual onscreen
keyboard may generate input another way, e.g. paste a whole word from the
dictionary. AFAIK, there is the "input" event for these cases (inspect the
Google Search input for its DOM

[2013-04-22 07:20] RobinHerbots commented on #213
@gavmck , @sompylasar ,

I tested a bit for Opera mobile on android.  keydown, keypress, keyup get fired, but I cannot prevent the input by preventdefault or return false; also the caretpositioning is not working at all.

Robin

[2013-04-22 10:57] RobinHerbots commented on #196
@lmiguelmh ,

That is because when you press end the caret moves to the end.  Repositioning the caret to a valid position renenables input.

[2013-04-22 12:54] gavmck commented on #213
Been doing more Windows Mobile testing today.

JS can't seem to get past the .setValue() call in the keypressEvent function. I had to manually call keypressEvent(e) from the keyDownEvent function as keypress doesn't fire on that device. It seems that it's not possible to update the value of the input whilst typing in it.

[2013-04-22 13:32] RobinHerbots commented on #213
@gavmck,

This evening I will download the wp8 sdk and give it a try.    Propably there is another js error which prevents the creation of the _setValue fn, ... an so fails further in the event.

[2013-04-22 14:42] gvdhoven commented on #220
Hi Robin, can you point me (via the wiki possibly) in a direction where i should implement this?

[2013-04-22 17:15] lmiguelmh commented on #196
Did you try with property `placeholder: ""`?
Press: [char] [char] [END] [HOME] [char] [END] [HOME] [char] ...

[2013-04-23 08:05] RobinHerbots commented on #220
@Webunity ,

I will write a little example in the wiki, but I don't have much time.

anyway quick is make a definition with a function (see readme)
copy the regex from the \* definition add -  validate on it if success check if the buffer contains already a - return result

somethin like that ;-)

[2013-04-23 12:34] RobinHerbots commented on #196
@lmiguelmh ,

Now I see the problem!!  , ... I will fixed it asap.

Robin

[2013-04-23 14:10] WaltDaniels opened #221 "Clone field with inputmask"
I have a table where I need to be able to clone a row and create an empty row via javascript.  I'm using the jQuery .clone() function, but the inputmask functionality isn't copied during the clone.

Any thoughts as to how I can clone a field with an inputmask?

Thanks!

[2013-04-23 14:39] RobinHerbots commented on #196
@lmiguelmh,

Should be fixed in the latest version.  Can you have a try!

Robin

[2013-04-23 14:41] RobinHerbots commented on #221
@WaltDaniels ,

Maybe set the mask definitions via data-inputmask attributes and after cloning you call $.(":input").inputmask();

[2013-04-23 14:54] RobinHerbots commented on #213
@gavmck ,

I will continure for the blackberry as the win8 phone sdk required windows 8.

http://developer.blackberry.com/devzone/develop/simulator/sim_index.html for the simulator

[2013-04-23 17:57] gabbaca opened #222 "clearIncomplete with optional mask"
With the following phone mask and optional extension mask and setting clearIncomplete = true...

[code]

If the optional mask part is not filled out completely the entire mask is cleared from the text box.

Is this by design?

[2013-04-23 22:41] RobinHerbots commented on #222
@gabbaca ,

I verified and did some corrections.

The design.

In your mask you have an optional part, translating the mask into 2 parts (masks)
"999-999-9999 " and "999-999-9999 x99999"

so typing
1231231234 => mask iscomplete => no clear
12312312341 => mask incomplete => clear
123123123412345 => mask complete => no clear

I know it is a bit confusing as the optional tail gets cleared and the mas

[2013-04-23 22:41] #222 closed, assigned to nobody

[2013-04-23 22:42] #196 closed, assigned to RobinHerbots

[2013-04-23 22:53] RobinHerbots commented on #169
@hkb261 ,

I finally took the time to fix this.

@Darkless012 ,

I will not add the option to treat repeats as optional as this will be solved when dynamic masks are implemented.
dynamic mask =  ex.  "9{1,5}" ~ 9 or 99 or 999 or 9999 or 99999

@cgamache ,

I will open a separate issue for the hh:mm t mask

[2013-04-23 22:53] #169 closed, assigned to RobinHerbots

[2013-04-23 22:53] RobinHerbots opened #223 "iscomplete is not working for "hh:mm t" mask"

[2013-04-23 23:06] RobinHerbots commented on #205
@WaltDaniels ,

Fixed in the latest version and updated on nuget.

Good notice!

thx.

Robin

[2013-04-23 23:06] #205 closed, assigned to RobinHerbots

[2013-04-24 11:54] RobinHerbots commented on #213
@gavmck ,

I just tested the latest version with the Blackbarry 10 Simulator and it all worked fine.  I tried with the "soft"-keyboard and with the hardware keyboard.

[2013-04-24 14:02] silviomoreto opened #224 "Placeholder with double spaces"
I am the jquery.inputmask (btw is the best input mask that Ive found).

I am trying to do a placeholder with a double space, like this:

[code]

But the plugins doesnt apply the double spaces.There is a way to solve this?

[2013-04-24 14:19] RobinHerbots commented on #224
@silviomoreto ,

With 2 spaces as placeholder you get a blank mask.  The placeholder gets mapped over the masktemplate.

Say in your case, if you had used inputmask("9999999", {placeholder: '12'} you get => 1212121

[2013-04-24 14:30] silviomoreto commented on #224
Thank you @RobinHerbots
do you have any plans to add a placeholder with a size higher than 1?

[2013-04-24 15:24] RobinHerbots commented on #224
@silviomoreto ,

That is already the case. But I think you understand something else as the placeholder.  The placeholder hides away the definition and replaces it with the placeholder.

mask 99/99/9999 placeholder: "dd/mm/yyyy"   =>  shows dd/mm/yyyy as empty mask instead of **/**/____

[2013-04-25 07:55] RobinHerbots commented on #141
@quasiperfect ,

I will start working on it.

[2013-04-25 12:47] RobinHerbots commented on #141
$(selector).inputmask("Regex", { regex: "[0-9]*" });  => working

[2013-04-25 12:55] RobinHerbots commented on #191
@jameslouiz ,

I think this issue is the same as issue 196.  There was a problem when you enter a mask and after that you tyoe a new char but anywhere before the last char.  This is fixed now so can you retest your issue.

Feedback would be appreciated.!!

best regards,

Robin

[2013-04-25 13:21] silviomoreto commented on #224
I think you misunderstood me.
Let's start with the reason to set double spaces as placeholder. If I use just one space, it doesnt seems like a character space (one space have almost half width of character `8`, for example).

So, to mimic the width of the characters I want to add two spaces. Now do you understand more my problem?

[2013-04-25 13:47] RobinHerbots commented on #224
@silviomoreto ,

Yes now I see what you mean.  Can't this be fixed with some css?

[2013-04-25 15:14] silviomoreto commented on #224
Do you know a way to solve by css?

And thanks again for the plugin and the support

[2013-04-25 15:14] #224 closed, assigned to nobody

[2013-04-26 06:52] sompylasar commented on #224
@silviomoreto A monospace font applied to the input box?

[2013-04-26 15:09] tslatt opened #225 "Backspace does nothing on masked fields in Chrome"
In Chrome, any field that has masking on it won't allow me to hit backspace to delete the previous character or delete to delete the next character. I can put the cursor before the character I want to replace and type to replace it, but that is not intuitive to users. I downloaded the latest version of the scripts today, just to make sure the issue wasn't fixed already. Any idea what's going on? A

[2013-04-26 15:16] RobinHerbots commented on #225
@tslatt ,

Can you provide more information.  The mask used etc.  I did a quick test in Chrome (Version 26.0.1410.64 m) and did not experience any trouble with the backspace.

[2013-04-26 15:29] tslatt commented on #225
The form is in .Net. The Chrome version is 26.0.1410.64 m. One of the masks used, for example, is "99/99/9999" for a DOB. Unfortunately, this form is still in development, so I can't post a live example. Maybe you could give me a link to the working example you tested, so I can pass that on to the .Net developer to compare?

[2013-04-26 15:31] tslatt commented on #225
Here's a little more info:

The form is written in .Net. One of the fields that this happens on is as follows:

<ax:MaskedEditExtender ID="meCustomerDob" TargetControlID="txtCustomerDOB" Mask="99/99/9999" AutoComplete="false" ClearMaskOnLostFocus="true" UserDateFormat="MonthDayYear" MaskType="Date" runat="server">/ax:MaskedEditExtender

Which renders as:

<input id="txtCustomerDOB" name="txtCustom

[2013-04-26 15:32] tslatt commented on #225
Oops, the .net code and the html didn't render correctly in the comment. Not sure what to do about that.

[2013-04-26 15:36] tslatt commented on #225
Here's an image of the code I was trying to put in the comment. Sorry.

![masking](https://f.cloud.github.com/assets/2651562/431375/01096328-ae87-11e2-8e47-146743bc74ad.png)

[2013-04-26 18:38] tslatt commented on #225
Sorry, my .net developer worked on the issue some more, and it turns out the problem was with .net, NOT with the masking plugin. Thanks!

[2013-04-26 18:38] #225 closed, assigned to nobody

[2013-04-29 10:52] gvdhoven opened #226 "decimal + radixpoint + digits issue"
[code]

[2013-04-29 10:53] gvdhoven commented on #226
Crap, no preview was given. Issue is like this:
With above code; for example you have "15,00" in the field.
You double click 15 in Chrome and try to enter 16.

Expected result: you can enter 16 and cursor is before the radix point.
Actual result: after pressing the "1", 15 is replaced with 1 and the cursor moves to the right of the radixPoint.

[2013-04-29 13:22] canthony opened #227 "Mask with single leading mask character fails to complete"
A consisting of a single leading mask character fails to "complete" - `$(xx).inputmask("isComplete")` never returns true => "oncomplete" never called.

If you lead the mask with a non-mask character, completion works.

Tested with jquery 1.8.3 & jquery.inputmask 2.2.16

eg

[code]

[2013-04-29 13:53] RobinHerbots commented on #227
@canthony ,

Fixed in the latest version.

Best regards,

Robin

[2013-04-29 13:53] #227 closed, assigned to nobody

[2013-04-29 13:56] canthony commented on #227
@RobinHerbots Now that's what I call a quick turnaround!

Cheers, Charles

[2013-04-29 19:58] WaltDaniels opened #228 "Add Support for MinValue and MaxValue"
Support for MinValue and MaxValue would be a nice addition to the numeric-based extensions.  For example, you may have a field the has a range entry of 1 - 24, it would be handy to be able to build that into the mask somehow.

[2013-04-30 07:29] RobinHerbots commented on #141
$(selector).inputmask("Regex", { regex: "[0-9]_[a-z]_" }); => working

I need a regex which can split up a regex in single character matching subregexes.  Any regex guru who wants to take the challenge?  So the above regex splits up in [0-9]\*  and [a-z].*;  this is already working, but now I need the same functionality for more advanced & complex regexes.

[2013-04-30 08:42] sompylasar commented on #141
Why reinvent a regular expressions parser? https://github.com/eriksank/alt-regex-engine
There is a [walker](https://github.com/eriksank/alt-regex-engine/blob/master/lib/alt-regex-walker.js) that may be extended or rewritten to check for the input mask. Maybe elaborate towards this one and not build custom solution from the ground up?

[2013-04-30 08:50] RobinHerbots commented on #141
@sompylasar,

Ok,  I will have a look at this one.  Thx!

[2013-04-30 13:28] jimithing277 opened #229 "Prefilling buffer within prevalidator loses characters (specifically with date mask)"
I've recently upgraded your library to 2.x after we've been using version 1.7 for quite some time in our production build.

Recently, we've stumbled upon some behavior which we were not experiencing with v1.7 that I was hoping you could possibly look in to and shed some light.  First, let me explain what our desired behavior is:

In the previous version we added some logic to our date mask within

[2013-04-30 15:03] RobinHerbots commented on #229
@jimithing277,

The checkVal is a bit stricter as before, but something as below should fix it.

  var origPreValidator = $.inputmask.defaults.aliases['dd/mm/yyyy'].definitions['1'].prevalidator[0].validator;

[code]

[2013-04-30 15:11] RobinHerbots commented on #229
@jimithing277 ,

Hmm, ... I will have a relook at the checkval as an input as 0m/01/2013 should be ok for checkVal.

[2013-04-30 15:49] jimithing277 commented on #229
Robin,

Thank you for the quick reply!  I appreciate your suggestion however it does still appear that there area a few issues even after attempting to use your solution.

1) It is desired that the cursor remain at position '3' when entering a first character between '2' and '9'.  When entering a value of '1' as the first character it would be desired that the cursor remain at position '1' so they

[2013-04-30 16:00] jimithing277 commented on #229
Also, I wanted to point out that our previous version we were using was 1.2.2, not 1.7 as I stated earlier.  Sorry about that.

[2013-04-30 23:41] RobinHerbots commented on #229
@jimithing277 ,

Can you retry with the latest version and the original extension you wrote

best regards,

Robin

[2013-05-01 14:48] 1madkins opened #230 "Date inputmask cannot be typed over"
I downloaded all the files and integrated them into my development website. All the inputmasks seem to work perfectly except for dates. I have tried
$("#date").inputmask("m/d/y");
$("#date").inputmask({"mask": "mm/dd/yyyy"});
and many others. In every case, the textbox shows the mask, but you cannot type anything in.
![capture](https://f.cloud.github.com/assets/4306313/449295/370361a0-b26e-11e2-97

[2013-05-01 17:33] 1madkins commented on #230
Scratch that. There was a reference in my application to another inputmask function that I was trying out.

[2013-05-01 18:49] 1madkins commented on #230
Well, I though I got it working, but I guess not. I created the following barebones page and it exhibits the same behavior. The SSN field woks properly, but you can't type over the mm/dd/yyyy in the Birthdate field.

[code]

[2013-05-01 20:33] jimithing277 commented on #229
Robin,

After getting the latest version and using my original extension it still appears that the original issue is occurring where the '0' in the third buffer position (day portion of the mask) is being removed.  This occurs when entering '4' as the first character in the input.  Screen capture attached:

![5-1-2013 4-25-39 pm](https://f.cloud.github.com/assets/4098730/450865/63c0e756-b29d-11e2-

[2013-05-01 20:41] RobinHerbots commented on #229
try with

   $.extend(true, $.inputmask.defaults.aliases, {
            'mm/dd/yyyy': {
                definitions: {
                    '1': {
                        prevalidator: [{
                            validator: function (chrs, buffer, pos, strict, opts) {
                                //Call the original prevalidator first
                                var result = origPreValida

[2013-05-01 20:43] RobinHerbots commented on #221
@WaltDaniels ,

Did the above work?

[2013-05-02 11:27] silviomoreto commented on #224
@sompylasar I want to keep using my font-family.. to use monospace and keep my font-family I would need to add to much js. I will try a work around for that. When finish I will do a pull-request

[2013-05-02 12:19] WaltDaniels commented on #221
Yes, that seems to work, however I still am wondering why the jQuery ".clone(true)" (copying data & events) doesn't do the trick.  Thanks!

[2013-05-02 12:19] #221 closed, assigned to nobody

[2013-05-02 14:27] sompylasar commented on #224
There are monospace fonts that visually match usual sans or serif fonts.
Good luck.

[2013-05-02 17:28] WaltDaniels opened #231 "'integer' mask uses last maxlength for all inputs"
Using .inputmask('integer') to apply a mask on multiple input controls uses the length of the last control for all controls.

HTML:

[code]

Non-working Script:

[code]

Working Script:

[code]

I have not tried this with any other mask aliases, but assume that they have issues as well.

[2013-05-02 22:01] RobinHerbots commented on #231
@WaltDaniels,

I will have a look at it , but I first have to stabilize the 2.x base, because the changes for the optional and multimask have some problems.

[2013-05-02 22:09] RobinHerbots commented on #230
@1madkins ,
Huh?  I thought I already answered this.

anyway, you have to include the date extensions to use the date masking.  Or use the jquery.inputmask.bundle.js in the dist folder.

use   $("#Birthdate").inputmask("mm/dd/yyyy");

[2013-05-02 22:12] RobinHerbots commented on #229
@jimithing277,

My advise, revert to the 1.2.2 version, until I have fixed this in the 2.x branch.  This issue is currently my priority for the inputmask as it showed some issues in the multi-mask implememntation.

[2013-05-03 00:07] 1madkins commented on #230
Grrr! That was one of the many things I tried, but I had put it before the main script. After I swapped them it worked perfectly. Thank you so much!

[2013-05-03 05:49] #230 closed, assigned to nobody

[2013-05-03 14:26] jimithing277 commented on #229
@RobinHerbots ,

Thank you for your time and help with this.  Fortunately our production build is still using 1.2.2 and we've only began testing with 2.x.  We greatly appreciate you efforts with the plugin as its by far the best masking plugin we've used.

The only downside we had was that it didn't support multimasks but when we saw that was introduced in 2.x we began testing that version.

I'll

[2013-05-04 21:11] mrpamacs opened #232 "How to create a new phone (HU) definitions?"
Hi

Can you help me in the following regular expression that could be validated in the plugin?

"/^(([2-9][0-9])-([0-9]{3}-[0-9]{3}))|((1|30|20|70)-([0-9]{3}-[0-9]{4}))$/"

Examples of acceptable samples:
1-123-4562
20-222-2222
22-222-234

Thx

[2013-05-07 07:47] RobinHerbots commented on #232
@mrpamacs,

I started to write a little tutorial for this in the wiki, but I haven't found the time to finish it.
I am busy fixing the plugin for multiple and optional masks.  After that I will have a look at this.

You can already start to split up the regex.

best regards,

Robin

[2013-05-07 09:25] RobinHerbots opened #233 "POLL - Is someone using the RTL function ?"
Is someone using the dir="rtl" on the input element in combination of the inputmask plugin?

I want to remove this,

[2013-05-09 21:11] #233 closed, assigned to nobody

[2013-05-10 10:34] gdesjonqueres opened #234 "Grouping integer"
Hi,

I have an input text field which content is an integer, I need to group every three digits like this: 1000000 => 1 000 000,
I'm using the following code:

$(document).ready(function() {
$("#quantity").val(25278500);
$("#quantity").inputmask("integer", {autoGroup: true, groupSeparator: " ", groupSize: 3, rightAlignNumerics: false});
alert($("#number").inputmask('unmaskedvalue'));
}

My number

[2013-05-10 17:51] romainwurtz commented on #42
+1

[2013-05-10 20:20] pkkini opened #235 "Using "decimal" mask"
Hello,
I have a requirement which needs me to use the decimal mask and at the same time display a "%" at the end of the number.

e.g. initial focus will display % only. When the user types -14.67, it should show -14.67%.

Is this possible?

Thanks in advance.

[2013-05-12 09:39] RobinHerbots commented on #234
@gdesjonqueres ,

This will be fixed in the next release.

best regards,

Robin

[2013-05-12 09:44] #191 closed, assigned to nobody

[2013-05-12 09:45] RobinHerbots commented on #190
@gustavohenke,

I cuurently don't have the time to implement this, but I will someday (v2.4)

Robin

[2013-05-13 08:11] RobinHerbots commented on #235
@kodak57 ,

In the current implementation of decimals this is not possible.  But I will implement this in milestone 2.4.

For the moment put the percentage after the input field.

best regards,

Robin

[2013-05-13 12:33] pkkini commented on #235
Robin,
Thanks for the quick reply. I have tried using the mask "9[9].9[9]%" to solve this problem. The only thing missing from this is that negative values are not allowed. Is there any change that can be applied to this mask to allow negative values?

Thanks agan.

[2013-05-14 11:57] gustavohenke commented on #190
Can I send a PR?

[2013-05-14 21:01] RobinHerbots commented on #190
What do you exactly mean with a PR?

2013/5/14 Gustavo Henke notifications@github.com

[2013-05-15 01:10] gustavohenke commented on #190
Pull Request :D

[2013-05-15 08:44] RobinHerbots commented on #190
Offcourse you may do that ;-)  I would really appreciate if you could do
the initial setup for building the bower package.

best regards,

Robin

2013/5/15 Gustavo Henke notifications@github.com

[2013-05-15 12:32] RobinHerbots commented on #190
@gustavohenke ,

Thx!!

Is the naming component.json required or is this free to choose?

[2013-05-15 12:34] RobinHerbots commented on #190
I guess I need to extend the package a bit afterwards, ...

Does the registration picks up any updates in the repo?

[2013-05-15 13:50] gustavohenke commented on #190
`component.json` is the default, if you need to use another file name, you may define it in another JSON file called `.bowerrc`.

Bower work on top of a git repository that has tags compliant with [semver](http://semver.org/). If it doesn't find any tags, the default branch will be used.

[2013-05-20 02:41] GitHansel opened #237 "inputmask datetime initialization defaulting month to 02"
Chrome/Firefox:
$("#time").inputmask("datetime");
$("#time").val(new Date(Date.parse("09/09/2013")));

The above code shows 09/02/2013 00:00.  If given:

$("#time").inputmask("datetime");
$("#time").val(new Date()); //today's date is May 19, 2013 21:39

Shows: 19/02/2013 21:39

IE9 does not show the initialized date at all.

[2013-05-22 12:48] SlavaPoddubsky opened #238 "Space or other symbol instead of underscore."
Maybe this function is exist, but I can't find it in docs.

[2013-05-22 13:28] RobinHerbots commented on #238
@SlavaPoddubsky,

Just use the placeholder option.  Default is the single underscore.

Best regards,

Robin

[2013-05-22 13:33] SlavaPoddubsky commented on #238
Thanks.

[2013-05-22 13:33] #238 closed, assigned to nobody

[2013-05-22 14:48] RaphaelDDL commented on #198
(I'm translating the option names from my language, dunno if those are really the english names)

To get the JP keyboard on Windows (7):
- Control Panel
- search for `keyboard`
- under `Region and Languages`, pick `change keyboard and other input methods`
- `Change keyboards...` on the window that follows
- on `General` tab, pick `Add` at the right
- Look for `Japan` > check `Microsoft IME` and cl

[2013-05-22 15:17] RaphaelDDL opened #239 "inputmask with required="required""
Hello there,

I was wondering..Is there a way to have both HTML attribute `required="required"` (and it's styling `:required` and `:invalid`) on form elements and inputmask to work together?

What i mean is that when we apply inputmask on an element with the `required`, the styling isn't applied to them:

Without inputmask:
![inpurreq](https://f.cloud.github.com/assets/1087109/549050/09456dd8-c2f1

[2013-05-22 18:07] ghost opened #240 "Get placeholder of a input"
Hi, I don't no if this is the right place, but there is a way to get the placeholder of a input, something like this:

$('#my-input').inputmask('placeholder');

Thanks

[2013-05-22 19:28] craigrs84 opened #241 "NumericAliases cursor"
Is it possible to use the NumericAliases extension without having the cursor jump around strangely?

regarding the cursor, we want it to behave like a normal textbox but it would just filter what we are able to type.

no special handling of radix point, etc. overwriting characters (as if you had pressed the insert key), etc.

[2013-05-22 22:01] RobinHerbots commented on #241
@craigrs84,

I will add an option to skip the radix handling.

skipRadixDance ;-)

best regards,

Robin

[2013-05-22 22:59] RobinHerbots commented on #240
@spacelab-x ,

That option does not exist.  Why do you need it? You know already the placeholder at the definition of the mask.

Can you explain the use of this?

Best regards,

Robin

[2013-05-22 23:03] RobinHerbots commented on #241
@craigrs84 ,

In the dev branch the option is added.  You can already experiment with it if you want or wait until the new releae in the 2.x branch.

best regards
Robin

[2013-05-22 23:05] RobinHerbots commented on #237
@GitHansel ,

I will have a look at it as soon the the dev branch is ready for a new 2.x release.

best regards,

Robin

[2013-05-22 23:13] craigrs84 commented on #241
Thank you! That was very quick ill check it tomorrow

[2013-05-22 23:14] RobinHerbots commented on #229
@jimithing277,

I am still working on it.  (see dev branch)  I am almost there but this new release will need a lot of testing as there are many many changes in the plugin.

I you would have some time todo some testing of the dev branch that would always be welcome.

Robin

[2013-05-22 23:17] RobinHerbots commented on #241
Be aware that the dev branch isn't fully stable at the moment.  There are issues when making selections and deleting them with numerics and dates.

[2013-05-23 12:50] spacelab-sp commented on #240
Hi, I need to validate a input, if the input is empty.

But, I think I can get the unmasked value, right? Oh, thats it, my mistake.

Thank you!

[2013-05-23 13:53] #240 closed, assigned to nobody

[2013-05-24 20:57] sas1973 opened #242 "numeric Input mask on 1 char field"
I have a numeric alias on 1 char input text field and it wont allow me to enter any numbers. Any idea??

This is what i have as code..

 <div id="inpField" style="left: 28.6em; padding:0px 3px 0px 3px;">
<input id="NUM_18" name="FNUM_18" type="text" class="numeric" value="2" size="1" maxlength="1" style=""></input>

<script type="text/javascript">$(document).ready(function () {$("#NUM_18").inputma

[2013-05-24 21:03] sas1973 commented on #242
I am not sure why html code did not get posted ... Trying again...

"div id="inpField" style="left: 28.6em; padding:0px 3px 0px 3px;">
input id="FIELD_NUM_18" name="FIELD_NUM_18" type="text" class="ui-widget ui-state-default ui-corner-all   highlightme dataFieldNormal numeric " value="1" size="1" maxlength="1" style=""></input>

script type="text/javascript">$(document).ready(function () {

[2013-05-28 07:59] RobinHerbots commented on #229
@jimithing277 ,

Can you retry with the latest version

best regards,

Robin

[2013-05-28 08:17] RobinHerbots commented on #242
@sas1973 ,

Fixed in the latest 2.x branch.

best regards,

Robin

[2013-05-28 08:17] #242 closed, assigned to RobinHerbots

[2013-05-28 08:20] RobinHerbots commented on #237
@GitHansel,

It will depend on the culture used.  The datetime alias uses dd/mm/yyyy hh:mm as mask.
Robin

[2013-05-28 08:24] RobinHerbots commented on #234
@gdesjonqueres ,

Check with the latest version.

Best regards,

Robin

[2013-05-28 08:24] #234 closed, assigned to RobinHerbots

[2013-05-28 08:25] #229 closed, assigned to RobinHerbots

[2013-05-28 08:28] RobinHerbots commented on #241
Check the latest version (skipradixdance option

[2013-05-28 08:28] #241 closed, assigned to nobody

[2013-05-28 13:58] sas1973 commented on #242
Thanks.

[2013-05-28 14:34] sas1973 opened #243 "Inputmask decimal alias with digits option on 0.00 initialized fields."
I have tried different ways to do this but i haven't had a success, i am not sure if this is a issues or i am just missing something.

Problem/Requirement:
I have decimal input fields that can accept negative values, and the decimal digits vary from form to form(i mean some fields has 3 decimals some has 2). The server sends the fields initialized to 0.00 (e.g. for a 2 decimal digits field) or its

[2013-05-28 21:42] sas1973 opened #244 "decimal and integer does not respect placeholder"
The decimal and the Integer aliases does not respect the placeholder option unlike the mask option.

This one works:
$("#FIELD_NUM_18").inputmask('9',{ placeholder: "0", clearMaskOnLostFocus: false });

This one does not work:
$("#FIELD_NUM_18").inputmask('integer', { placeholder: "0", clearMaskOnLostFocus: false });

$("#FIELD_NUM_10").inputmask('decimal', { digits: 3, placeholder: "0", clearMask

[2013-05-28 22:09] RobinHerbots commented on #243
@sas1973,

I will have a look at the initial positioning.

[2013-05-29 09:10] RobinHerbots commented on #244
@sas1973 ,

This is because there is no place to hold.  The decimal and integer alias, are non-greedy, so they do not allocate elemnts if not needed.  The placeholder is used to visualize the mask.  example a mask 999 with placeholder "_" results in an empty mask of "___", or with placeholder "12" => "121" as empty mask  or placeholder = "Hello" => "Hel" as empty mask, ...

Why don't you set an in

[2013-05-29 12:25] RobinHerbots commented on #220
@Webunity,

See the wiki!

[2013-05-29 12:25] #220 closed, assigned to nobody

[2013-05-29 21:07] mattnibs opened #245 "Not working on IE for Windows Phone 8"
Not that this probably a high priority but it's not working correctly on Internet Explorer for Windows Phone 8. Inputted characters do not correctly fill the mask, the mask text just shifts over.

[2013-05-29 21:27] RobinHerbots commented on #245
@mnibecker ,

Yes I know see issue 213.

But, I will have a look at it soon.

Best regards,

Robin

[2013-05-29 21:27] #245 closed, assigned to nobody

[2013-05-29 21:36] mattnibs commented on #245
Thanks!

[2013-05-31 08:59] jhnwsk commented on #226
+1 for this.

I love the plugin, awesome job Robin! However, the decimal points and radix dances are somewhat confusing.

[2013-05-31 14:16] dzhivtsov opened #246 "No mask shown on focus when input has value and it is longer than mask"
Mask is not shown on focus when value of the input has been already entered and is longer than mask.

Such behavior was noticed while using http://mths.be/placeholder to support placeholders in IE.

[2013-05-31 14:21] dzhivtsov opened #247 "No mask shown on focus when another handler of focus event erases value"
No mask is shown on focus when another handler of focus event erases value.

Such behavior was noticed while using http://mths.be/placeholder to support placeholders in IE.

To reproduce this behavior the code below can be used. This code simulates default placeholder behavior. On blur placeholder text is added, on focus is erased.

<input type="text" value="mytestvalue"/>
    <script type="text/j

[2013-05-31 20:18] robsoncombr commented on #208
Hello,

I would believe that this is really an issue, let me know if I misunderstood the clearIncomplete purpose or I'm doing something wrong.

I set the following:
$(selector).inputmask('(99) [9]9999-9999', { placeholder:" ", skipOptionalPartCharacter: " ", clearIncomplete: true });

When I type only '(00) 00000-00' and leave the field (blur), it clears the content on the screen.
When I click on

[2013-05-31 20:23] robsoncombr opened #248 "Auto clear mask on left over characters - Complement for Issue # 208"
I just added a new comment to a closed Issue:

Auto clear mask on left over characters
https://github.com/RobinHerbots/jquery.inputmask/issues/208

But I was not sure if it would be read, since the Issue is not re-opened when a new comment is added.

So I'm creating this Issue just to mention my comment on # 208 and make sure it would be read.

Thank you very much.

Robson Martins

[2013-06-03 08:36] RobinHerbots commented on #208
@robsoncombr,

I fixed the clearincomplete and also a focus issue in checkval.

Your initial mask on focus should show  '( ) - '  in your case.  (the placeholder does not replace but maps input places of the mask. )

Robin

[2013-06-03 08:42] #248 closed, assigned to nobody

[2013-06-03 08:55] #244 closed, assigned to nobody

[2013-06-03 11:21] RobinHerbots commented on #246
see issue 247

[2013-06-03 11:21] #246 closed, assigned to RobinHerbots

[2013-06-03 11:23] RobinHerbots commented on #226
@jhnwsk ,

Don't you like to dance??  ;-)

I will have a look at it.

[2013-06-03 11:26] RobinHerbots commented on #232
@mrpamacs,

The entry in the wiki is finished.

Anyway, this regex is an interesting test case for the regex extension.
So I will use this one to further enhance the regex extension implementation.

best regards,

Robin

[2013-06-03 11:38] jhnwsk commented on #226
@RobinHerbots I love to dance! Especially with radix points :)

Actually I took another look at what was going on and found that my problems were mainly caused by trying to define a decimal mask like this

`$(".mask_currency").inputmask('€ [999.999.]999,99', { numericInput: true });`

In order to achieve the optional milions. Turned out to be a bad idea because optional blocks don't work very well

[2013-06-03 11:40] robsoncombr commented on #208
Hello there Robin,

Thank you very much for the fix, I just upgraded my .js and now I noticed a new issue, with Multiple Masks, that was not happening before. I will file a new Issue for verification.

Robson

[2013-06-03 11:48] robsoncombr opened #249 "Multiple Masks Stopped to Work : after commit # a6192ba278"
Hello Robin,

After the last commit, my Multiple Masks field stopped to work.

https://github.com/RobinHerbots/jquery.inputmask/commit/a6192ba27828a3385ab692822968fa7c02f18c4a

I have the following setting: $(selector).focusin(function() { $(this).inputmask({ mask: ["999.999.999-99", "99.999.999/9999-99"], placeholder:" ", clearIncomplete: true }) });

Also tried: $(selector).focusin(function() {

[2013-06-03 12:11] RobinHerbots commented on #216
@Webunity,

See the latest numerics

[2013-06-03 12:11] #216 closed, assigned to RobinHerbots

[2013-06-03 12:12] #208 closed, assigned to nobody

[2013-06-03 12:15] RobinHerbots commented on #249
@robsoncombr ,

I will have a look ;-)

[2013-06-03 12:22] RobinHerbots commented on #249
Why do you use the focuin?

Anyway I just tested your mask and it cleared when the active mask is incomplete and otherwise not.

Can you describe the problem better or create a jsfiddle to point to the problem.
Best regards,

Robin

[2013-06-03 13:04] robsoncombr commented on #249
Hello Robin,

The problem is not related with the 'clear' event anymore, the problem here is that the second mask is ignored.

If I do: $(selector).inputmask({ mask: ["999.999.999-99", "99.999.999/9999-99"] });

It _just_ assumes the first mask 999.999.999-99 it does not allow me to type more than 11 characters.

http://jsfiddle.net/C4Qme/

[2013-06-03 13:10] RobinHerbots commented on #249
You have to type as you think, ... try typing 12.34 when typing the dot (or space) as third character will make the switch to the other mask.

[2013-06-03 13:11] RobinHerbots commented on #249
But I do notice another issue on deleting.

I will fix that, already

[2013-06-03 14:07] robsoncombr commented on #249
Oh, awesome.

I'm sure that it was automatically before, it was assuming the first mask until 11 char and second mask after 12 char. But well, it worked as you mentioned, I can type 123 and it assumes the first mask and 12. and it switches to the second mask.

Thanks.

[2013-06-03 14:11] pdecat opened #250 "skipRadixDance breaks decimal input with and without group separator"
Using [the latest 2.x bundle](https://github.com/RobinHerbots/jquery.inputmask/blob/2880d4a7a9d8a08aaa319ba9b0f66c4f0006b010/dist/jquery.inputmask.bundle.js), the skipRadixDance option breaks decimal input with and without group separator.

The most noticeable effect is the misplacement of the radix separator (without grouping) or its vanishing (with auto grouping).
- OK: data-inputmask="'alias':

[2013-06-03 14:51] ghost opened #251 "zero get's lost"
please check this JSFiddle:

http://jsfiddle.net/mWPQX/

$( '#code' ).val('01060'); --> The Zero between 1 and 6 get's lost!

in minor version .18 it wors, but in .22/25/26 it didn't

Sam

[2013-06-03 14:54] ghost commented on #251
in minor version .18 it worked, but in .22/25/26 it didn't

[2013-06-03 18:09] RobinHerbots commented on #251
@wuSam ,

This is caused by the refactoring of the plugin.  I will fix this first priority.

Best regards,

Robin

[2013-06-04 07:49] RobinHerbots commented on #251
@wuSam

Version 2.2.27 fixes the issue.

http://jsfiddle.net/mWPQX/2/

[2013-06-04 07:49] #251 closed, assigned to RobinHerbots

[2013-06-04 10:11] jhnwsk opened #252 "set <input value=""> and apply mask problem with decimal and custom radix point"
Hi Robin,

The input masks work awesomely for me when the default value is not set. However, I am struggling with this. I mask my currency inputs like thin on body load.

[code]

In my body, I have an input field

[code]

I'd expect it to show up as `100,00` but unfortunately it does show as `10.000`. I am guessing the radix point `,` got ignored. The same behaviour occurs if the inputs value uses

[2013-06-04 11:24] #249 closed, assigned to RobinHerbots

[2013-06-04 11:30] RobinHerbots opened #253 "multiple mask with rtl"
Create 2 mask.  Make the first langth of 10 and the second length of 12.

There is no way to switch between the mask as the lastvalidposition differs because of the different masklengths.

[2013-06-04 11:32] RobinHerbots commented on #247
@DixonBY ,

Can you retest with the latest version or make a jsfiddle if it isn't solved.

Robin

[2013-06-04 15:13] dzhivtsov commented on #247
Another strange issue appeared.

If clearMaskOnLostFocus equals true, than after hovering the input twice the input is cleared.

If clearMaskOnLostFocus equals false, than after blur the input the placeholder is not shown again.

http://jsfiddle.net/3xxGu/3/

Thanks,
Denis

[2013-06-04 15:34] daanporon opened #254 "Android inputmask looses the first character when i start typing"
Hi, i'm experiencing some problems on an android device when implementing the jquery.inputmask plugin. Whenever i click on a text-field which has the inputmask enabled the cursor is located at the end of the field. When i directly start typing then it moves to the front and i loose the first character i typed.

I tried debugging this myself but i saw there are a lot of checks for android devices t

[2013-06-04 20:17] RobinHerbots commented on #254
@daanporon,

I have done a refactoring of the plugin to better handle multiple mask.  The plugins needs some more stabilization at the moment,

I haven't tested the new code on android yet.  I will do some testing on android soon.

Did you test on the standard browser or another mobile one?

best regards,

Robin

[2013-06-05 07:15] RobinHerbots commented on #252
@jhnwsk ,

It's an issue whitin checkval.

I will fix this soon.

Robin

[2013-06-05 07:17] RobinHerbots commented on #250
@pdecat ,

Fixed in the latest version.  There is still an issue in decimals when setting a initial value, but I will fix that soon.  There is already an another issue open for that.

Robin

[2013-06-05 07:17] #250 closed, assigned to RobinHerbots

[2013-06-05 07:19] RobinHerbots commented on #243
@sas1973 ,

The positioning should be fixed in the latest version, but there is still an issue in checkval when setting an initial value.

I will fix that soon.

[2013-06-05 07:24] RobinHerbots commented on #226
@jhnwsk,

Watch issue 253 for the optionals with numericInput true.

I did some fixes for the decimal alias.  Only setting an initial value doesn't work yet coorectly.  But I know the cause, just need some time to fix it.

[2013-06-05 07:32] jhnwsk commented on #226
@RobinHerbots,

Thanks, I will.

[2013-06-05 07:42] daanporon commented on #254
We tested in the default android browser. The page where we integrated the inputmask can be found here: https://www.bolero.be/nl/word-client/uw-gegevens
But for now we disabled the feature on android and did a fallback to a placeholder.

[2013-06-05 07:49] jhnwsk commented on #252
@RobinHerbots,

Hey, thanks for checking. I did a little bit of debugging and my assumption was that while parsing the existing value for an input the decimal extension within the `definitions` this code:

[code]

does not move the position when it hits the `radixPoint` and then after the `groupSeparator` gets added we kind of get trapped, never passing the radix point.

On the other hand I also s

[2013-06-05 08:13] RobinHerbots commented on #252
@jhnwsk ,

What you describe is fixed in the latest version..

[2013-06-05 08:16] jhnwsk commented on #252
@RobinHerbots,

Cool! I'll download and test it right away.

[2013-06-05 18:20] pdecat commented on #250
Fix confirmed.

Thanks!

[2013-06-06 10:53] RobinHerbots commented on #252
@jhnwsk ,

The latest should fix the initial value.

[2013-06-06 10:53] #252 closed, assigned to nobody

[2013-06-06 10:54] RobinHerbots commented on #247
Can you specify the browser and version as I cannot reproduce the problem on chrome & IE10

[2013-06-06 11:09] RobinHerbots commented on #243
@sas1973 ,

For the overwrite set  insertMode: false, option

[2013-06-06 11:54] dzhivtsov commented on #247
I reproduced this behavior on IE9 and IE8.

[2013-06-06 12:29] Macharius92 opened #255 "Multiple masked inputs in the same page"
Hi,

First let me thank you for this master piece of work ;)

The fact is i have a little problem not so easy to solve from my side. Let me explain. We have pages with two input fields in which we want the user to enter a time (format : hh:mm).

What we do is something like :

[code]

and in the `$(document).ready`we are doing stuff like this :

[code]

The issue is that when i'm typing a valid ho

[2013-06-06 13:09] Dalmadog commented on #254
Is this occuring in a modal dialog ?

If so, I think this may be related to :
- the double keystroke hack for Safari in modal dialogs
- Chrome using the same js engine as Safari (therefor same useragent maybe ?)
- Android using Chrome ?

I remember trying to solve the double keystroke bug for Safari but not having it in Chrome. Maybe the Android hack is not correct ? (maybe)

[2013-06-06 13:37] Dalmadog commented on #255
Hi,
I'm a Macharius92 co-worker.

The activeMasksetIndex may have to be refreshed in mouseenter.inputmask, mouseleave.inputmask and maybe any other event bindings in jquery.inputmask.js, just before using any getActiveBuffer function just like this :

activeMasksetIndex = this.data('inputmask')['activeMasksetIndex']; // Missing line

The small problem is I haven't any single idea about sideeffects

[2013-06-06 13:50] RobinHerbots commented on #255
@Macharius92 , @Dalmadog ,

The scoping should be fixed in the latest version.

[2013-06-06 13:52] RobinHerbots commented on #231
@WaltDaniels ,

The latest version should fix this.  Can you have a test.

best regards,

Robin

[2013-06-06 13:56] Dalmadog commented on #255
Thank you...

With activeMasksetIndex refreshing in all bindings, I see these problems :
- sideeffect #1 - refreshing activeMasksetIndex in each event binding solve the bugs but quite destroys the "clearIncomplete: true" behaviour.
- sideeffect #2 - clic in T1, then enter "12", then click in T2 then enter "13", all without doublequote.
  First textbox will be "12:__", second will be "13:12".
- sid

[2013-06-06 14:23] RobinHerbots commented on #255
@Dalmadog ,

Can you confirm the fix? with version 2.2.32

[2013-06-06 15:06] Dalmadog commented on #255
Yes mostly but
Clic in T1, enter "1234", then clic in T2 -> T1's value disapear.

If you then enter T2's value, you can have T1's value but if T2 is not initialized, T1's value can't be writen (or is considered incomplete and made "" back because of clearIncomplete : true)

[2013-06-06 15:34] RobinHerbots commented on #255
@Dalmadog

see issue 223

[2013-06-06 15:48] Dalmadog commented on #255
It's in the onBlur of T1, the if (!isComplete(buffer)) is true and erase it. It works well for T2.

For information, if you got 3 textboxes, you can't input T1 or T2 until T3 is full. If T3 is empty, T1 and T2 will reset to empty no matter what you type.
After filling T3 then T1 and T2,if you clear T3, T1 and T2 does not auto-clear until clicking out each of them. In that situation, hovering over

[2013-06-06 16:10] Dalmadog commented on #255
It's very strange, at line 741in the isComplete definition, in the case of 3 textbox T1, T2 and T3,
(T3 unfilled) after putting a full value, for T1 and T2, activeMasksetIndex is set at 0 (int), but for T3 activeMasksetIndex it's set at "0" (string).

If I try to convert all of activeMasksetIndex in string before copying in currentActiveMasksetIndex, that still doesn't work...

[2013-06-06 17:16] Dalmadog commented on #255
This is not related to 223... This works the same on other types of mask.

If you can understand me because this is quite complex :
- The same behaviour with 3 "9999" masks.
- For one mask in 'aaaa', the second with '9999', the third with 'hh:mm', you can only fill the third and never the first or the second.
- For one mask in 'aaaaa', the second with '99999', the third with '*****', you fill T3,

[2013-06-06 19:22] RobinHerbots commented on #255
@Dalmadog ,

Try again with version 2.2.33

[2013-06-06 20:40] Macharius92 commented on #255
@RobinHerbots

I've just made a little test and everything seems fine ;) It's marvelous and even Wunderbahr !

I will make more tests tomorrow at work (can't access my app now) and i will close the issue if it's OK.

Many thanks for your help ;)

[2013-06-07 07:13] Macharius92 commented on #255
@RobinHerbots

Nice it's working as expected with the scoping ! Issue solved ;)

[2013-06-07 07:13] #255 closed, assigned to RobinHerbots

[2013-06-07 07:51] Macharius92 opened #256 "Setting a value dynamically with document.getElementById().value"
Hello again @RobinHerbots

I'm not sure it's really an issue but i can't understand why it doesn't work. You wrote in the readme :

[code]

In my page i have an masked input field wich is initially empty and a list of records below. When i'm clicking on one of the records i populate the fields above. I'm using custom javascript function called setValue (made years before to work with our own compo

[2013-06-07 08:18] RobinHerbots commented on #256
@Macharius92 ,

The value property patch works only if supported by the browser.  The fallback is the jquery val function which always work.

Feel free to suggest some solutions to hookup in the value property.  Firefox surely support the rewrite of properties like value.  I should invest some time to check the current status of support for it in the different browsers.

Best regards,

Robin

[2013-06-07 08:30] Macharius92 commented on #256
@RobinHerbots

Correct me if i'm wrong. You expose a val function on your objet which extends the jQuery val function by checking if the value is correct against the defined mask ?

So we should find a way to extend the 'standard' value property as you've done for the jQuery val() ?

[2013-06-07 09:03] RobinHerbots commented on #256
@Macharius92 ,

Have a look at the function patchValueProperty.  It tries to rewrite the native value property and if it fails it patches the jquery val fn. The jquery.val patching should be rewritten as a valhook for jquery, but I haven't got the time yet..  Offcourse is the code above it the intersting part.

[2013-06-07 09:05] Dalmadog opened #257 "hh:mm masks, Firefox and IE"
Hi again Robin,

First, thank you for your work yesterday, I think you solved a very important bug there.

This one is not a very important bug but I just wanted you to be informed.

I noticed some strange small bugs for Firefox 21.0 (on Win XP or Win7) that don't occurs in IE8 (XP) and IE9 (7). These may be related to #223

Reproduction steps :
If you have a hh:mm mask, you can type 12:34 inside.

[2013-06-07 12:08] ghost opened #258 ".val() should ignore configured fix-text in 'mask'-option"
See JSFiddle:
http://jsfiddle.net/bZT3j/

in my opinion the
$('#txtECodeContainer2').val('DE001');
should only add the 001 into the input but it put's the whole value.

with 2.2.18 it worked, see here:
http://jsfiddle.net/vpDds/

[2013-06-07 12:22] RobinHerbots commented on #258
@wuSam ,

I totally agree!

I will fix it soon.

[2013-06-07 12:38] Macharius92 commented on #256
@RobinHerbots

Seems like it's not so easy to make it fully cross browser compatible.

For what i saw till now, i think you have a problem with the getOwnPropertyDescriptor. The value of an input is a data property ant not an accessor property. (see [MSDN](http://msdn.microsoft.com/en-us/library/dd548686.aspx)) So the descriptor returned doesn't expose a get property. I haven't look further about

[2013-06-07 12:49] RobinHerbots commented on #256
@Macharius92 ,

thx for the link.  I will read that one. And try to make at least a better implementation.

[2013-06-08 21:22] JCMais opened #259 "Definition for decimal with precision of 13 and 2 digits after radix"
I have an input used to insert determined amount of money.

I was trying to use the decimal alias, with the repeat option set to 11, however, it counts the amount of digits before <strong>and</strong> after the radix, so there is no way to insert 11 digits before the radix, and two after (from the digits option).

Setting the length to 13 is not going to work, because it's going to let the user in

[2013-06-08 21:55] RobinHerbots commented on #258
http://jsfiddle.net/bZT3j/2/

Fixed in the latest version.

Best regards,
Robin

[2013-06-08 21:55] #258 closed, assigned to RobinHerbots

[2013-06-08 22:08] #231 closed, assigned to RobinHerbots

[2013-06-08 22:57] RobinHerbots commented on #259
@JCMais ,

This is not possible yet, (out-of the box)

[2013-06-09 01:02] JCMais commented on #259
Do you have any plans to make this work? Or know a fast workaround?

If there is any plans, would be interesting to make something like the [decimal definition of MySQL](http://dev.mysql.com/doc/refman/5.5/en/fixed-point-types.html), where we have the precision and scale options.

[2013-06-10 12:26] RobinHerbots commented on #259
@JCMais ,

I will add more functionality in the decimals like the precision, but I connot promise you when.

Although this shouldn't be that difficult.  I will have a look at the decimal definition of MySQL

[2013-06-10 22:21] RobinHerbots commented on #226
@Webunity ,

Try again with the latest version.

I will update the nuget tomorrow.

Robin

[2013-06-10 22:21] #226 closed, assigned to RobinHerbots

[2013-06-10 22:37] RobinHerbots commented on #239
@RaphaelDDL,

This is a jquery-validate issue (actually a missing feature).

You have to modify the

[code]

You have to include a check to ignore the empty mask $(selector).inputmask("getemptymask")

maybe someting like

..
  return $.trim(value).length > 0 && $(element).inputmask("getemtymask") != value;
...

best regards,

Robin

[2013-06-10 22:37] #239 closed, assigned to nobody

[2013-06-10 22:39] #168 closed, assigned to nobody

[2013-06-10 22:44] RobinHerbots commented on #199
http://stackoverflow.com/questions/14498396/event-fired-when-clearing-text-input-on-ie10-with-clear-icon

[2013-06-10 22:58] RobinHerbots commented on #199
Should be retested.

Fixed the paste event which should capture the change

[2013-06-11 09:55] #199 closed, assigned to RobinHerbots

[2013-06-11 11:46] chamikasandamal opened #260 "Nuget package error"
jquery.inputmask.regex.extensions.js is not available in the nuget package. so url mask is not working.

[2013-06-11 13:19] glrodasz opened #261 "How can I do Alphanumeric easily?"
I have been looking for the way of do the alphanumeric but I am confuse if can be do by this plugin. There is a way of to do this?

[2013-06-11 14:06] RobinHerbots commented on #260
@chamikasandamal ,

The url mask is in the jquery.inputmask.extensions.js or did you wrote an url mask using the regex extension?

The regex extension isn't included as it is still experimental.

Robin

[2013-06-11 14:08] RobinHerbots commented on #261
$(selector).inputmask("******");

[2013-06-11 14:12] chamikasandamal commented on #260
@RobinHerbots ,
I'm using the alias available on jquery.inputmask.extensions.js and it is displaying "http://ar" and there is no definition for "r". i found something on the regex extension. in above code only letter "a" is editable and cannot enter anything after "r"

[2013-06-11 14:26] RobinHerbots commented on #260
@chamikasandamal ,

Can you try by removing the r in the mask field of the extensions.
The url mask is not written by me and I didn't test it yet.  Maybe It needs some update ;-)

[2013-06-11 15:48] RobinHerbots commented on #260
@chamikasandamal ,

The url alias is fixed in the latest version 2.2.39

best regards,

Robin

[2013-06-11 15:48] #260 closed, assigned to nobody

[2013-06-11 15:49] RobinHerbots commented on #261
or

$(selector).inputmask("*", { greedy: false, repeat: 20 });

[2013-06-11 15:49] #261 closed, assigned to nobody

[2013-06-11 23:56] glrodasz commented on #261
Thanks! That works fine!

[2013-06-12 08:59] RobinHerbots commented on #190
@gustavohenke ,

I just tried to register at bower, but saw that it already was regsitered.

Anyway, I added the component.json to the build so that the version gets updated

[2013-06-12 08:59] #190 closed, assigned to nobody

[2013-06-14 13:47] RobinHerbots commented on #95
Demo-page added -  need some more examples but it's a start  ;-)

[2013-06-14 13:47] #95 closed, assigned to RobinHerbots

[2013-06-14 14:16] RobinHerbots opened #262 "Skipping an optional part with the specified character fails"

[2013-06-14 14:29] RobinHerbots commented on #262
fixed

[2013-06-14 14:29] #262 closed, assigned to RobinHerbots

[2013-06-14 20:58] RobinHerbots commented on #89
@Soupy ,

I updated the readme with the autoUnmask instead of autounmask  ;-)

Thx

Robin

[2013-06-15 06:37] roderik commented on #254
@Dalmadog no, this does not happen in modal, just a plain page.

[2013-06-15 19:42] RobinHerbots commented on #254
@daanporon,

Can you specify the mask with problems or do you experience this with all masks?  Which version of the inputmask are you using?

I tested on android 4.1.2 & 4.2.2 (in the emulators) and it seems fine when using the demo page of the inputmask.

Can you reproduce it in an android emulator? or only on a real device?

best regards,

Robin

[2013-06-17 07:39] daanporon commented on #254
@RobinHerbots we couldn't reproduce this in the emulators only on the real devices. That's why i believe it has something to do with the performance of the device. If you have a device with poor performance maybe the setTimeout of 5ms is to long ... if you start typing before this timeout is triggered you'll loose a part of your input.

We are using version 2.2.28 of the input masks, but i see the

[2013-06-17 10:29] RobinHerbots commented on #254
@daanporon,

The new version will not fix the android issue but there is an important bug fixed, when you apply the same mask on multiple inputs at the same time.

BTW, Bolero isn't that an application from Acerta?

best regards,

Robin

[2013-06-17 10:59] daanporon commented on #254
Ok, thanks i will update the version we are currently using.

Bolero is actually an application from KBC. You are also from Belgium?

Kind regards,
Daan

[2013-06-17 11:07] RobinHerbots commented on #254
Yes I'm from belgium.

To solve the android issue.  Maybe KBC can provide a real android device for a week or 2 so that I can test the inputmask on a real device.  Can this be arranged?

Robin

[2013-06-17 14:26] nicomdp opened #263 "Problem with decimal mask and values less than 1"
I have problems with values like 0.12. When I type 0. te mask dissapear and I can't type any more digits.

This is my configuration:

$('#ID').inputmask('decimal', {'digits':2, radixPoint: '.', groupSeparator: ',', groupSize: 3, autoGroup: true, numericInput: false });

Thanks in advance.

[2013-06-18 09:36] RobinHerbots commented on #254
@daanporon , @Dalmadog ,

Can you send me the useragent string of your android devices?

Robin

[2013-06-18 11:07] ghost commented on #258
Hi,

this is somehow still an issue:
see here:
http://jsfiddle.net/bZT3j/5/

[2013-06-18 11:10] ghost opened #264 "#258 is not yet fixed"
see here:

https://github.com/RobinHerbots/jquery.inputmask/issues/258

and here:
http://jsfiddle.net/bZT3j/5/

[2013-06-18 11:36] nicomdp commented on #263
Here is the full code:
http://jsfiddle.net/nicomdp/PwUDy/

[2013-06-18 21:31] RobinHerbots commented on #263
@nicomdp ,

The issue is fixed in the latest version.

You should remove the numericInput: false option from your mask.

Best regards,

Robin

[2013-06-18 21:31] #263 closed, assigned to RobinHerbots

[2013-06-18 21:37] RobinHerbots commented on #264
@wuSam ,

That is because you give a partially unformatted value as input and the DE is valid input for the next input.

Putting in the spaces or leaving out the DE should work.

Anyway I will see if I can add some intelligence in the checkval ;-)  But it will always be a trade-off.

[2013-06-18 21:52] nicomdp commented on #263
Thanks man!

[2013-06-19 06:22] ghost commented on #264
so it was wrong in minor-version .18 where this worked also without spaces in .val(xxx) ??

[2013-06-19 09:46] kyrel opened #265 "decimal mask for input initialized with a value less that 1"
Here
http://jsfiddle.net/nsqNV/
one might see that applying the decimal mask for initial values like 0.34 causes the input to reset to a single dot.
If we initialize the field with something like 1.34, everthing works fine

[2013-06-19 09:49] RobinHerbots commented on #265
@kyrel,

Already fixed in the latest version

[2013-06-19 09:49] #265 closed, assigned to nobody

[2013-06-19 10:01] RobinHerbots commented on #264
@wuSam ,

No what I mean, there will be always cases where the implementation of checkval wil fail.

But I will fix your case soon

[2013-06-19 12:29] nicomdp opened #266 "#263 is not fixed for IE"
I still have problems with the decimal mask in IE. In Chrome works fine.

[2013-06-19 13:33] alonenascimento opened #267 "Add event change,blur jquery"
input mask plugin does not allow event jquery?
trying to use :
$("#field").mask("999.999.999-99");

  $("#field").change(function(){
        alert("hi");
    });

does not working.

[2013-06-19 14:40] RobinHerbots commented on #266
@nicomdp ,

Can you be more specific!

I tested under ie9 & IE10 and it seems fine.

[2013-06-19 15:03] nicomdp commented on #266
I tested with numericInput: false. With true works fine. Thanks!

[2013-06-19 15:03] #266 closed, assigned to nobody

[2013-06-19 15:29] kyrel opened #268 "#263 is about initial values"
Hi!
Though I can see that some <1 problems are solved, the one that I reported in #263 with
http://jsfiddle.net/nsqNV/
seems to be still there.
If you preinit your input with a value in HTML which is <1, the whole field goes dot.
Thanks for your work and sorry for being so persistent

[2013-06-19 16:21] RobinHerbots commented on #268
@kyrel ,

It was fixed, but some commit reverted it I guess.

Thx for reporting again and I will fix it this evening

Best regards,

Robin

[2013-06-19 16:22] RobinHerbots commented on #266
Why did you set numericInput to false?

[2013-06-19 22:49] RobinHerbots commented on #268
@kyrel ,

Have another try !

[2013-06-21 06:59] kyrel commented on #268
Yep, works like a charm!
Thanks for quick response!
I'm thus closing the issue :)

[2013-06-21 06:59] #268 closed, assigned to nobody

[2013-06-21 08:55] RobinHerbots commented on #268
Ok thx!

[2013-06-21 08:56] RobinHerbots commented on #267
@alonenascimento ,

Can you provide an example on jsfiddle as I cannot reproduce the problem.

best regards,

Robin

[2013-06-21 09:14] raphiki opened #269 "Deletion in date mask"
We I delete the first character of a "dd/mm/yyyy" mask I have the following behaviour:
21/06/2013 becomes 1d/06/2013 but I would expect it to become d1/06/2013 instead.

[2013-06-21 09:40] RobinHerbots opened #270 "Date mask month part possible to type 13"
type a date 23/03/2013

delete the 0 in the month and type 1

[2013-06-21 12:12] RobinHerbots commented on #223
iscomplete fixed

[2013-06-21 12:12] #223 closed, assigned to RobinHerbots

[2013-06-21 13:00] repa7 opened #271 "Problem with jquery.validate.unobtrusive.js and autoUnmask in Firefox and Chrome"
Hi Robin,

First of all your work is great, thx!

I have 2 problems if I include jquery.validate.unobtrusive.js and use autoUnmask:
1. The textbox is masked with 'decimal' and autoUnmask is true:
   In the textbox if I write 5.8 and press TAB the value is removed from the inputbox.
   If autoUnmask is false it works great.
2. The textbox is masked with '99-99-99' and autoUnmask is true:
   First I

[2013-06-21 13:06] RobinHerbots commented on #271
@repa7 ,

Can you first retry with the latest version.  There are some fixes for the decimals.

Best regards,

Robin

[2013-06-22 14:29] eshiota opened #272 "Wrong caret position after dynamically changing a mask on keyup"
I have a credit card input, and its mask should dynamically change after a some keyup events (e.g. its default mask is "9999 9999 9999 9999", but after typing "37" it should change to AMEX format "9999 999999 99999").

However, after calling `inputmask("9999 999999 99999")`, the caret position goes to the second to last position instead of the last one.

Here's a very simple example:

[code]

Test

[2013-06-23 07:09] RobinHerbots commented on #272
@eshiota,

Fixed in the latest version.

Best regards,

Robin

[2013-06-23 07:09] #272 closed, assigned to RobinHerbots

[2013-06-24 07:40] repa7 commented on #271
Hi Robin,

I tested with version 2.2.49 and the result is the same.

Regards,

Cs.

[2013-06-24 08:00] RobinHerbots commented on #271
@repa7 ,

Ok, I will have a look at it.

Robin

[2013-06-24 20:38] kjdenim opened #273 "Cursor position not correct for partial entry"
I'm using a input mask for an ssn field.  If the field is completed fully, then completed partially, the cursor position is not correct.

Please see an example here: http://jsfiddle.net/PtPWX/

Enter the full ssn.
Tab over to the second field
Tab back to ssn, enter a partial value
Tab over to the second field
Click on ssn, the cursor appears at the end as though the field was complete and numbers

[2013-06-25 06:38] ghost commented on #264
updated jsfiddle:
http://jsfiddle.net/bZT3j/7/

[2013-06-25 15:03] alexdresko opened #275 "optional"
Absentminded goof I am. Dunno why I created this. Meant to search the issue list for optional. Sorry. Please delete this. :)

[2013-06-25 15:04] #275 closed, assigned to nobody

[2013-06-25 15:04] RobinHerbots commented on #273
@kjdenim ,

Fixed in version 2.2.50

[2013-06-25 15:04] #273 closed, assigned to RobinHerbots

[2013-06-25 15:13] RobinHerbots commented on #264
@wuSam ,

Thx for the updated jsfiddle

[2013-06-25 15:15] RobinHerbots commented on #267
@alonenascimento ,

Is this specific to a certain browser?  The change event is working fine.

[2013-06-25 15:16] RobinHerbots commented on #271
@repa7 ,

Can you create an example in jsfiddle as I cannot reproduce the behavior.

best regards,

Robin

[2013-06-25 15:34] kjdenim commented on #273
Thank you for the quick turnaround.

[2013-06-25 15:59] alexdresko commented on #157
I think it would be acceptable if isComplete returned true if at least one block (including the non-optional block) is satisfied. I agree the x{y,z} idea would be useful as well, but I think those are two separate issues. Further, addressing isComplete as I've suggested would allow similar functionality as x{y,z} via [9][9][9].... (which doesn't currently work).

[2013-06-25 18:28] alonenascimento commented on #267
@RobinHerbots
i'm using chrome
jsfiddle example:

http://jsfiddle.net/g662Q/

the blur event work fine, but i cant do the same with change event

[2013-06-25 22:31] RobinHerbots commented on #267
@alonenascimento ,

That's because you are using the maskedinput plugin from Bush  ;-)

Check this http://jsfiddle.net/g662Q/2/  which uses the inputmask plugin instead !

best regards,

Robin

[2013-06-25 22:31] #267 closed, assigned to nobody

[2013-06-25 22:36] RobinHerbots commented on #157
@alexdresko ,

I will have a look at the  [9][9][9].... functionality.

Robin

[2013-06-26 07:32] RobinHerbots opened #276 "Optionals masks not working anymore since last changes"
ex [0]-AAA-999

[2013-06-26 18:10] #276 closed, assigned to nobody

[2013-06-27 08:33] RobinHerbots commented on #257
@Dalmadog ,

Can you retry with the latest version

[2013-06-27 08:33] RobinHerbots opened #277 "Remove RTL code but keep functionality"
Code cleanup

[2013-06-28 02:04] LuizAntenor opened #278 "Problem with inputmask("remove")"
hi guys, I'm having problems with InputMask, does not work in this case InputMask ("remove") does not remove the mask, other times I used it worked in the same way here just gave me this problem anyone know say why? (jquery used https://github.com/RobinHerbots/jquery.inputmask/blob/2.x/js/jquery.inputmask.js)

$(document).ready(function () {
        $("input[name=group1]").change(function () {

[c

[2013-06-28 08:27] repa7 commented on #271
Hi Robin,

I did it:
http://jsfiddle.net/QTzgH/1/

Regards,

Cs.

[2013-06-28 09:52] RobinHerbots commented on #271
Updated http://jsfiddle.net/QTzgH/2/

Indeed

[2013-06-29 22:32] RobinHerbots commented on #271
@repa7 ,

I'm working on it.

best regards,

Robin

[2013-06-29 22:41] RobinHerbots opened #279 "Add jquery.globalization support in date and decimal alias"

[2013-06-30 22:08] RobinHerbots commented on #278
@LuizAntenor ,

I will have a look at it

Best regards,

Robin

[2013-07-01 10:46] kyrel opened #280 "Numeric mask mouse navigation not possible"
With a numeric mask attached to an input I can't use the mouse to shift cursor position in the input

[2013-07-01 10:48] kyrel opened #281 "Numeric mask behavior when part of value in input selected"
I have an input with a decimal mask and "1000" entered in it.
I'm selecting "1" using Shift+arrows. I'm then entering "2" from keyboard.
I expect the result to be "2000" (selected range being replaced with what I've entered), but instead it's "200"

[2013-07-01 11:01] kyrel opened #282 "Numeric mask seems to not fire change on form submit without blur"
If I navigate away from the numeric-masked field and then submit the form, my knockout model has correct value in its observable.
If I press Enter with focus still on the numeric-masked value, the knockout model's observable has the previous value.

I know I'm going a bit into specifics of my use case, but I guess that this behavior means that the field's change event has not fired by the moment m

[2013-07-01 11:07] RobinHerbots commented on #271
@repa7 ,

fixed in the latest version

[2013-07-01 11:07] #271 closed, assigned to RobinHerbots

[2013-07-01 11:07] RobinHerbots commented on #278
@LuizAntenor ,

Fixed in the latest version

[2013-07-01 11:07] #278 closed, assigned to RobinHerbots

[2013-07-01 14:24] RobinHerbots commented on #282
@kyrel,

Fixed in the latest version

[2013-07-01 17:50] #282 closed, assigned to nobody

[2013-07-01 19:26] tiagonicastro opened #283 "Mask (99) 9999[9]-9999 does not work"
I'm using the 2,x bundle pack. But the mask (99) [9]9999-9999 does not work.on Chrome.

It keeps showing all the numbers like (99) 99999-9999. When I put just 10 numbers shows (99) 99999-999_

[2013-07-02 01:06] rqx110 opened #284 "IP address mask can't enter like "10.10.10.10""
IP address mask can't enter like "10.10.10.10"

[2013-07-02 08:00] RobinHerbots commented on #283
I added a help page in the wiki for it.

https://github.com/RobinHerbots/jquery.inputmask/wiki/Howto:-Entering-optional-masks

[2013-07-02 08:00] #283 closed, assigned to nobody

[2013-07-02 08:03] RobinHerbots commented on #284
@rqx110 ,

Yes I know.  That is not yet implemented.  For the moment you have to enter 010.010.010.010

[2013-07-02 08:21] RobinHerbots commented on #157
@alexdresko,

I just tested with this mask 9[9][9][9]

and the complete get triggered on every opional part.

1 => complete
12 => complete
123 => complete
1234 => complete

[2013-07-02 08:21] #157 closed, assigned to nobody

[2013-07-02 08:35] RobinHerbots commented on #280
@kyrel,

If I fix this, the caret will not position itself to the correct inputposition when clicking inside the input.

What behavior would you suggest, taken the above into account?

best regards,

Robin

[2013-07-02 09:12] RobinHerbots commented on #281
@kyrel ,

Fixed in the latest version.

[2013-07-02 09:12] #281 closed, assigned to RobinHerbots

[2013-07-02 10:38] RobinHerbots commented on #264
@wuSam ,

Fixed

[2013-07-02 12:36] ghost commented on #258
this is not yet fixed: http://jsfiddle.net/bZT3j/2/
sorry robin! :-(

[2013-07-02 12:36] ghost commented on #264
this is not yet fixed: http://jsfiddle.net/bZT3j/2/
sorry robin! :-(

[2013-07-02 15:01] RobinHerbots commented on #264
yafix !!!  ;-)

[2013-07-02 15:01] #264 closed, assigned to RobinHerbots

[2013-07-03 15:34] pdecat commented on #259
Here is how I did it as an extension (tested with version 2.2.29):

[code]

Usage:

[code]

[2013-07-03 18:37] kjdenim opened #285 "Error on first character with insertMode = false"
I'm on v2.2.59 and using a input mask for an ssn field. After tabbing into the field, entry of the first character throws a javascript error.

Please see an example here: http://jsfiddle.net/PtPWX/

Click on the Some Text field
Shift-Tab over to the ssn field
Type a number - javascript error and entry is skipped

Thank you.

[2013-07-03 18:59] RobinHerbots commented on #285
@kjdenim ,

Fixed in 2.2.50 (nuget will follow tomorrow )
best regards,

Robin

[2013-07-03 18:59] #285 closed, assigned to RobinHerbots

[2013-07-04 07:57] RobinHerbots commented on #285
I mean version 2.2.60

[2013-07-04 08:01] RobinHerbots commented on #259
@pdecat ,

That's more like it  ;-)  Thank you for sharing this.

It gave me the idea to just pass the options in the number function, which makes it more flexible to extend the decimal alias.  I will integrate numeriqueDecimal into the decimal alias.

best regards,

Robin

[2013-07-04 09:39] pdecat commented on #259
You're welcome, and it'll ease it on our side ;)

[2013-07-05 09:12] repa7 commented on #271
Hi Robin,

It works great!

Thanks,

Cs.

[2013-07-05 09:31] andgas opened #286 "Editing impossible under some circumstances"
When using inputmask with these properties: {"mask": "999.999.999", placeholder:"_"}
whe have the problem that after inserting "123" then moving back with the cursor and replacing the 2 and then moving the cursor after the 3 but before the first dot no more digits can be inserted!

Inserting somewhere else works but not after the last digit.

And another question: When we do not completely fill an

[2013-07-05 09:32] repa7 opened #287 "Numeric field -> autogroup and autounmask"
Hi Robin,

If I use a numeric mask with autogroup the autounmasked value contains the groupseparator char too but I think it is not part of the number it is only part of the mask.
Of course the radix point is part of the number.

What do you think?

Regards,

Cs.

[2013-07-05 10:42] gilbertg opened #288 "Can't tab out of a readonly field"
Created an inputmask input using simply 'integer' alias. Set that input to reaodonly. Can tab in-but not out again. Non-readonly is fine

[2013-07-05 11:40] RobinHerbots commented on #259
@pdecat ,

In the case of a groupseparator the integerdigits isn't used.

[2013-07-05 11:45] RobinHerbots commented on #287
@repa7 ,

This can be solved by using jquery.globalize, which can parse the decimals depending the used culture.

I was thinking to add a postparse callback within autounmask which can handle the different cases per alias definition, but I concluded that this is a bit out of scope of the plugin.

[2013-07-05 11:57] RobinHerbots commented on #288
@gilbertg ,

Which version are you using from the plugin?  And also in which browser did this occur?

best regards,

Robin

[2013-07-05 12:03] gilbertg commented on #288
oops, that be important information yes.
Plugin v2.2.0
Browser: Chrome (latest) 27.0.1453.116 m

[2013-07-05 12:09] RobinHerbots commented on #288
@gilbertg ,

Can you retry with version 2.2.63.

Best regards
Robin

[2013-07-05 13:25] RobinHerbots commented on #286
@andgas ,

I will have a look at issue 1.

For issue 2, when you tab into a masked field, the whole content is selected, or do you see other behavior?

best regards,

Robin

[2013-07-05 13:26] #287 closed, assigned to nobody

[2013-07-05 13:27] RobinHerbots commented on #94
I will not implement this.  You can parse the decimal value with jquery globalize or something

[2013-07-05 13:27] #94 closed, assigned to nobody

[2013-07-05 15:59] gilbertg commented on #288
Looks good thanks Robin

[2013-07-05 15:59] #288 closed, assigned to nobody

[2013-07-05 19:53] JCMais commented on #259
Thanks @pdecat. Your solution is working perfectly.

[2013-07-08 05:36] andgas commented on #286
Hi Robin,

thank you for your quick response.

In issue 2 I described a problem when switching to an other _browser tab_
using the mouse and then switching back to the tab with the previously
focused
input field with the mask. Then the cursor is not at the same position but
at the end of the field (at least in Chrome and IE). This is really a
minor problem but if it can be fixed with only a little

[2013-07-09 09:13] SlavaPoddubsky opened #290 "Problem with mask of zip code on 6th symbol"
I use next mask:
$('.zipcode-field').inputmask({mask: ["99999", "99999-9999"]});

In process of input after 5th symbol there is no reaction after press down on 6th symbol and it's ok after. Maybe it isn't bug but I can't resolve this delay on '-' symbol.

[2013-07-09 10:06] RobinHerbots commented on #290
@SlavaPoddubsky ,

I see the "problem",(actually extra feature)   The current behavior is correct as the next char to enter is - and is needed to make the mask awre that you want to input the second mask.

I will see that I can implement this, that it will accept directly the next valid input for the second mask.

best regards,

Robin

[2013-07-10 08:29] MarcDiethelm opened #291 "Auto upper-casing seems broken"
If I use something like

[code]

It literally only allows the uppercase letter A.

[2013-07-10 08:37] MarcDiethelm commented on #49
I would like to encourage you to do this. Your plugin is obviously complex and changes in one place affect functionality in other places and different use cases. Automated testing would bring a great improvement in quality and currently you seem to have some problems with regressions.

[2013-07-10 08:52] RobinHerbots commented on #291
@MarcDiethelm ,

You have to include the jquery.inputmask.extensions.js which contains the definition for the A-definition.

best regards,

Robin

[2013-07-10 08:55] RobinHerbots commented on #49
@MarcDiethelm ,

I totally agree, .... but if I only had the time, ... or if someone could create an initial setup with some basic steps to get started.  That would be greatly appreciated.

Robin

[2013-07-10 09:06] MarcDiethelm commented on #291
Oh my bad then... Thanks a lot!

[2013-07-10 09:06] #291 closed, assigned to nobody

[2013-07-10 11:39] RobinHerbots commented on #286
@andgas ,

Issue 1 should be fixed with the latest version.

I will have a look at the second.

[2013-07-10 11:47] RobinHerbots commented on #286
@andgas

issue 2 should also be fixed in 2.2.66

[2013-07-11 15:58] bfeldhake opened #292 "Trying to type more characters than mask allows prevents the .change() event from firing."
I'm using the data-inputmask attribute to set a mask for a social security number field:

input.attr("data-inputmask", '"mask": "999-99-9999"');

The mask is applied correctly, and if the user only enters nine or fewer characters, the .change() event fires with no issues. But when you try to type a tenth character, the mask properly keeps the character from being typed, but the .change() event nev

[2013-07-11 19:23] bfeldhake commented on #292
We were using version 2.2.47 when I logged this. Updating to 2.2.66 seems to have fixed the issue.

[2013-07-11 19:23] #292 closed, assigned to nobody

[2013-07-15 06:53] andgas commented on #286
Hi Robin,

thank you very much for your help. Unfortunately we have the same problems with the new version 2.2.66 (tested with Chrome and Firefox). Could you please again have a look at it? Thanks in advance.

Best regards

Andreas

[2013-07-15 08:10] RobinHerbots commented on #286
Hi @andgas ,

Can you create a jsfiddle for the 2 cases, and describe the exact steps to reproduce.

best regards,

Robin

[2013-07-15 08:47] andgas commented on #286
Hi Robin,

here is the jsfiddle url:

http://jsfiddle.net/KfH9Q/

Bye

Andreas

[2013-07-15 08:56] RobinHerbots commented on #286
You have to link to rawgithub instead of raw.github.

Updated fiddle  http://jsfiddle.net/KfH9Q/1/

[2013-07-15 09:03] RobinHerbots commented on #286
@andgas ,

Hmm I am missing something.

Let's start with issue 1.

initial => **_.**_.___
I type 123 => 123.**_.**_
I select the 2 and type 4   => 143.**_.**_
I move the caret with the arrow key after the 3 (before the .)
I type 5 => 143.5__.___

What is the problem?

[2013-07-15 09:04] RobinHerbots commented on #286
inital should be "**_.**_.___" but the editor removes some part ;-(

[2013-07-15 09:27] andgas commented on #286
Hi Robin,

When we type your example:

initial => **_.**_.___
I type 123 => 123.**_.**_
I do not select the 2 but move the cursor between 2 and 3 then type "backspace" and type 4 => 143.**_.**_
I move the cursor with the arrow key after the 3 (before the .)
I type 5 => 143.**_.**_

The difference is if you select the digit which has to be changed or if you just remove it with backspace or delete.

[2013-07-15 09:44] RobinHerbots commented on #286
Ok, that's something else.  I will have a look at that.

Robin

2013/7/15 Andreas Gaßner notifications@github.com

[2013-07-15 10:00] sislamoglu commented on #286
I have the very same problem here is my mask

999:99  (Doing a hour / minute ) duration with a place holder of zero

I enter 007:20 and it saves alright,
But when editing text, I see value right as "007:20" from source code, but javascript converts it to "720:00" removing zeros infront....

[2013-07-15 20:51] RobinHerbots commented on #286
@sislamoglu,

When does he change it to 720:00,   On what action?  Can you also provide a jsfiddle

best regards,

Robin

[2013-07-15 21:20] sislamoglu commented on #286
Here you go :)

http://jsfiddle.net/cwdnR/

[2013-07-15 21:48] RobinHerbots commented on #286
@sislamoglu ,

I see, ... It's the checkval which skips the 0 as he sees them equal to a placeholder.

I will have a look at it.

[2013-07-15 23:08] RobinHerbots commented on #49
added qunit base - more testing will come

I need sometthing to mimic real keyboard input

[2013-07-15 23:24] MarcDiethelm commented on #49
Funny. I'm working on it right now. I'm using [JSRobot](http://tinymce.ephox.com/jsrobot). It depends on a Java Applet (which might be problematic). I'll have something to show in a day, the basic setup is there. But I need to go to bed now unfortunately.

[2013-07-16 07:17] RobinHerbots commented on #49
Hi Marc,

That would be great.  I would like to keep the qunit testing as framewiork.
 Maybe an async call from qunit which executes the jsRobot stuff.

2013/7/16 Marc Diethelm notifications@github.com

[2013-07-16 12:16] elodbarna opened #293 "Deleting password field content when switching from Alpha to Numeric keyboard + backspace issue"
Hi,
I am using the jquery-masked-input-min-1-3-1.js for an <input type="password" name="regpwd" class="regtext password"/>.
The mask I use is:
$.mask.definitions['k'] = "[a-zA-Z0-9!@#$%^*_-]";
$(".step1 [name=regpwd]").mask("kkkkkkkkk?kkkk", {placeholder: "", deleteIfNotMatchingMask: false});

While testing on Nexus 7, Chrome, Andorid 4.2.2 I found two issues:
1. If a switch from Alpha to Numeric

[2013-07-16 12:44] RobinHerbots commented on #293
@elodbarna ,

You need to open an issue with the correct plugin as this is the jquery.inputmask plugin.  Not jauery-masked-input

[2013-07-16 12:44] #293 closed, assigned to nobody

[2013-07-16 12:57] elodbarna commented on #293
Ok, sorry!

[2013-07-16 21:17] jalanbyers opened #294 "onLoad"
Is there a way to get the input mask to appear on page load (rather than by hover or focus)?

[2013-07-16 22:46] RobinHerbots commented on #294
@jalanbyers ,

Yes by specifying the clearMaskOnLostFocus: false option.  (and grabbing the latest version as there was a little bug which caused it not to show initially)

best regards,

Robin

[2013-07-16 22:46] #294 closed, assigned to nobody

[2013-07-16 23:05] RobinHerbots commented on #286
@sislamoglu ,

Have a look at http://jsfiddle.net/cwdnR/1/
Your case is fixed in verion 2.2.70

[2013-07-16 23:30] sislamoglu commented on #286
Lovely, thank you :)

[2013-07-17 10:24] kyrel commented on #281
Cool, thanks!

[2013-07-17 10:30] kyrel commented on #280
I'm not sure I get that question.
You mean that there's some logic that positions the cursor upon initial clicking into the field which is currently not in focus and this logic could be broken?
Then I could suggest only executing this logic upon first click in a field without focus, while subsequent clicks would put the cursor into a position user points to

[2013-07-17 10:55] kyrel opened #295 "Option to set initial position of caret"
I'm having the following usecase.
The user has a phone number in clipboard.
It could be 911-404-11-12 or +79114041112 or something like that.
I have a field with a mask of +7 (999) 999-99-99
If I place the caret in the start of the field and insert the value from clipboard, everything inserts properly for all scenarios of value formats I'm interested in.
However, if I leave the caret where it posi

[2013-07-17 11:23] Talkless opened #296 "Missing "*" mask usage in documentation"
There is "A", "a", "9" usage examples, but "*" I had to guess (well.. I looked up in another input mask library actually) since it's absent in README.md.

[2013-07-17 11:28] Talkless commented on #209
Same issue for me in Android (PhoneGap 2.9.0, jquery-mobile 1.3.1).

[2013-07-17 11:42] RobinHerbots commented on #296
@Talkless ,

I will add some examples of the default definitions available.

best regards,

Robin

[2013-07-17 14:22] jalanbyers commented on #294
Like a charm, thanks!!

Alan

On Jul 16, 2013, at 6:46 PM, Robin Herbots notifications@github.com wrote:

[2013-07-17 14:59] RobinHerbots commented on #49
@MarcDiethelm ,

I created a little sendkeys fn which does the job for input. See qunit folder tests;js
The unittesting already showed some degression for the oncomplete.

It's easy and definitely needed for the stability of the plugin.

[2013-07-17 14:59] #49 closed, assigned to nobody

[2013-07-18 02:52] LuizAntenor opened #297 "Problem with remove mask"
if i try remove any mask,

$("controle").inputmask("remove");

in the submit in page, the system try access the _valueGet and error occurs, in this point

$input.closest('form').bind("submit", function () { //trigger change on submit if any
                        if ($input[0]._valueGet() != getActiveMaskSet()["undoBuffer"]) {
                            $input.change();
                        }

[2013-07-18 12:20] RobinHerbots commented on #297
@LuizAntenor ,

Should be solved in v2.2.72

Robin

[2013-07-18 13:58] RobinHerbots commented on #286
@andgas,

Issue 1 is solved.
issue 2 sets back the caret at the first valid position to enter input

[2013-07-18 14:00] RobinHerbots commented on #286
@andgas,

issue 3??

[2013-07-18 14:23] RobinHerbots commented on #295
@kyrel ,

With the paste event the inputmask works with the data it gets from the inputelement.  In your case

example with a paste of +79114041112 at the initial caret position
+7 (+79114041112___) ___-__-__  and you expect +7 (911) 404-11-12

I don't like the idea op the initial positioning of the caret.  I want that a paste like this just works.

I added it in the qunit-tests and will try to fi

[2013-07-18 14:42] RobinHerbots commented on #295
@kyrel ,

Have a try with that latest version ;-)

[2013-07-18 14:59] #297 closed, assigned to RobinHerbots

[2013-07-18 14:59] #295 closed, assigned to RobinHerbots

[2013-07-19 11:30] #296 closed, assigned to nobody

[2013-07-19 11:42] #286 closed, assigned to RobinHerbots

[2013-07-22 06:40] andgas commented on #286
@RobinHerbots

thank you very much. Everything is working fine now.

[2013-07-23 11:26] RobinHerbots commented on #290
added case in the unittests

[2013-07-23 15:05] RobinHerbots commented on #290
@SlavaPoddubsky ,

Fixed

best regards,

Robin

[2013-07-23 15:05] #290 closed, assigned to RobinHerbots

[2013-07-23 16:02] SlavaPoddubsky commented on #290
It works fine!
U da man!!!
Thanks a lot!
:+1:

[2013-07-23 16:38] vnazarenko commented on #42
+1

[2013-07-23 20:10] Kompas commented on #42
+1

[2013-07-24 07:53] RobinHerbots commented on #290
@SlavaPoddubsky ,

;-)

You can now even simplify your mask like this $(selector).inputmask({ mask: "99999[-9999]", greedy: false });

[2013-07-24 07:57] RobinHerbots commented on #42
after issue #277 I will start on this one

[2013-07-24 08:04] SlavaPoddubsky commented on #290
Ok, thanks!

[2013-07-24 09:24] SlavaPoddubsky opened #298 "Issue with reset of inputmask field"
1) I created next input:
<input name="name" value="" data-inputmask="'mask': '(999) 999-9999', 'showMaskOnHover': false" />

2) I created code in JS file:
$(":input").inputmask();

3) When I'm entering phone number and after reset form with method form.reset() all other fields are resetted and fields with mask too, BUT when mask field has focus,  old value is restored.

[2013-07-24 09:26] SlavaPoddubsky commented on #298
This issue appeared after last changes in Issue #297.

[2013-07-24 18:50] tajeet opened #299 "Max Length not wokring for Regex"
have a  input element  <input id="txtCompanyName" maxlength="10" >

and in the JS i'm using

$('#txtCompanyName').inputmask("Regex", { regex: "[a-zA-Z-0-9_|@$&#:',_)(;.\s\\]_" });

the max length attribute does not work. Am I doing something wrong. ?
tried to debug and in the inputmask.js at line 798 the getMaskLength() return 2 everytime.

 if (getMaskLength() > maxLength && maxLength > -1)

[2013-07-24 18:51] tajeet commented on #299
input id="txtCompanyName " type="text" class="span11" maxlength="10"

[2013-07-25 05:27] telemetry opened #300 "Date Extension Year Range"
Unable to implement this snippet from the readme regarding date extension:

$("#date").inputmask("date", {yearrange: { minyear: 1900, maxyear: 2000 }}); //specify year range
});

I would like to only use dates in the past ( Date of Birth )
When I input only 2 Digits for example 77 ( for 1977 ) it defaults to 2077.

is it possible for this to default to 19 Century before 20th century

Apologies if

[2013-07-25 07:20] Macharius92 commented on #257
@RobinHerbots

Dalmadog is not working on my project anymore. But i've just tested with the latest version.

1st issue is solved in both browsers. (tested with IE10 and FF22)

2nd issue is OK for FF

3rd issue seems OK too !

So i think you can close this issue ;)

[2013-07-25 07:35] Macharius92 commented on #42
I would suggest to use the following since they are new TLDs coming ;)

$(selector).inputmask("_{1,20}@_{1,20}._{2,6}[._{2}]")

http://icannwiki.com/index.php/.africa

http://icannwiki.com/index.php/.paris

[2013-07-25 07:36] #257 closed, assigned to nobody

[2013-07-25 11:24] RobinHerbots commented on #299
@tajeet ,

I fixed the maxlength issue in the latest version but be aware that the regex.extensions is just an experiment.
For simple cases it will work but it cannot handle complex regexes for the moment.

best regards,

Robin

[2013-07-25 11:24] #299 closed, assigned to nobody

[2013-07-25 11:27] RobinHerbots commented on #300
@telemetry ,

This is the perfect place to open issues ;-)

I will have a look at it

best regards,

Robin

[2013-07-25 13:58] Macharius92 opened #301 "Setting/Removing and setting again a mask"
Hi @RobinHerbots,

I would like to be able to set a mask on an input, remove it and then put it again.

When i do this :

[code]

After the 1st line i have the mask.
After the 2nd, my input is free to enter anything i want.
After the 3rd i still can enter what i want.

Any idea ?

[2013-07-25 15:34] RobinHerbots commented on #301
@Macharius92,

Yes, fixed

[2013-07-25 15:34] #301 closed, assigned to nobody

[2013-07-25 17:24] MAAARKIN commented on #141
how i make regex that is not possible start with numbers but i can use numbers, for example:

a123marcos = accept
123marcos = not accept.

it's possible?

[2013-07-25 21:39] RobinHerbots commented on #141
@MAAARKIN ,

Try this one $("#testmask").inputmask("Regex", { regex: "[A-Za-z]{1}[A-Za-z0-9]*"});

best regards,
Robin

[2013-07-26 08:52] Macharius92 commented on #301
@RobinHerbots

Thanks a lot, i've juste tested it with my colleague and it works fine with IE8, FF22 and Chrome... But it fails under with IE7 !

Seems like the 2 "delete" lines in the remove are the reason but don't know why. It says me that the object doesn't support this action ;)

[2013-07-26 09:43] Macharius92 opened #302 "Problem with removing a mask with IE7"
HI @RobinHerbots,

Since your commit for #301 , remove still doesn't work with IE7 (but everything's fine with FF and Chrome)

It seems that the following lines are throwing an exception :

[code]

[2013-07-26 10:15] RobinHerbots commented on #302
@Macharius92

Oh my, ... IE7   ;-)

[2013-07-26 10:30] RobinHerbots commented on #300
@telemetry ,

This is fixed in the latest version. Can you have a try.

best regards,

Robin

[2013-07-26 11:27] MAAARKIN commented on #141
hi Robin, i think you should put this in the documentation, cause i only found this through google kkk and not in the documentation, and another thing, where i look this patterns, ...[a-z], {1}, where i find this patterns. ?

i need find pattern to email and i don't make those patterns

[2013-07-26 11:33] MAAARKIN commented on #141
I can set the minimum number of characters without those underlines?

[2013-07-26 12:02] RobinHerbots commented on #141
@MAAARKIN ,

The regex extension is still experimental.  I will add it in the documentation when I feel it is ready for it.
The usage of the regex extension is currently limited.  An email regex pattern will not parse.  The patterns are just regular expressions

@sompylasar ,

I just stumbled on regexpal which does highlighting of the different regex parts.  I will use that code to implement the p

[2013-07-26 14:42] RobinHerbots commented on #141
Yes use the clearIncomplete option

2013/7/26 MAAARKIN notifications@github.com

[2013-07-26 14:52] MAAARKIN commented on #141
@RobinHerbots i think that i found one problem with the mask, but i don't know if exist that issue.

I define the mask, for example data-inputmask="'mask': '9999.9999.9999.9999'"

when i put 9999.9999.9999.9999 or any number in sequence works correctly, but if i put the number incomplete, for example 9999.9999.____.9999 and back the cursor for any position and continue put the numbers, when comple

[2013-07-26 15:18] Macharius92 commented on #302
@RobinHerbots

Yeah i know but since we address multiple clients with various environments and various IT restrictions, we need to ensure cross-browser compatibility (even IE6 if we can...)

[2013-07-26 22:34] #300 closed, assigned to RobinHerbots

[2013-07-27 08:07] RobinHerbots commented on #141
@MAAARKIN ,

Can you open a new issue for this as this is not related to this issue.

How did you manage to type in 9999.9999.____.9999

[2013-07-29 01:14] telemetry commented on #300
Hi Robin,

I have tested this and it works great. Thanks for putting in the time to look at this.

Terry

[2013-07-29 06:28] RobinHerbots commented on #302
@Macharius92 ,

Fixed in the latest version

Robin

[2013-07-29 06:28] #302 closed, assigned to nobody

[2013-07-30 08:16] ghost opened #303 "oncomplete function is called more times when pasting a value"
My mask looks like this:

[code]

When I'm pasting the complete value **DE21870500001234567891** the oncomplete function is called more times. When I'm typing the value by keyboard it works fine an the oncomplete function is called one time.

Please can you help me?

[2013-07-30 13:14] RobinHerbots commented on #141
first version of regex extension complete  - further enhancement on request

[2013-07-30 13:14] #141 closed, assigned to nobody

[2013-07-30 13:18] RobinHerbots commented on #42
You can use this mask if you are only interested in input restriction.

$(selector).inputmask('Regex', { regex: "[a-zA-Z0-9._%-]+@[a-zA-Z0-9-]+\\.[a-zA-Z]{2,4}" });

[2013-07-31 09:21] RobinHerbots commented on #232
@mrpamacs ,

I don't know if you are still following this but you can use

$("#testmask").inputmask("Regex", { regex: "(([2-9][0-9])-([0-9]{3}-[0-9]{3}))|((1|30|20|70)-([0-9]{3}-[0-9]{4}))" });

To restrict the input.  But in this case there is no visible masking. (only restriction).

[2013-07-31 11:23] #232 closed, assigned to RobinHerbots

[2013-07-31 11:36] RobinHerbots commented on #303
@phlp85 ,

Fixed in version 2.3.13

Best regards,
Robin

[2013-07-31 11:36] #303 closed, assigned to RobinHerbots

[2013-07-31 11:53] RobinHerbots commented on #298
@SlavaPoddubsky ,

Fixed in the latest version

best regards,

Robin

[2013-07-31 11:53] #298 closed, assigned to RobinHerbots

[2013-08-01 10:14] Macharius92 opened #304 "IE10 "clear" functionality compatibility"
Hi @RobinHerbots

Can you please provide a correction for the "clear" functionality in IE10.

I set a mask on my input.
I enter a valid value and click in other input, it's ok.
I'm now clearing the input with the little cross at the right of the field (only IE10) and clicking in an other input, the masked input is empty.
I'm move my mouse over the masked input, it restores the old value.

i sugges

[2013-08-01 12:43] RobinHerbots commented on #304
@Macharius92 ,

I tested the scenario with IE10 and do not have this behavior.

Can you make a jsfiddle for it.

[2013-08-01 13:50] Macharius92 commented on #304
@RobinHerbots

You're right it works fine with IE10 in IE10 mode... I was in another IE mode (tested with IE9 in the browser mode of developer tools). And then you have the "clear" cross in the input but it doesn't work as IE10 ;)

[2013-08-02 15:48] gibacca opened #305 "Setting inputmasked value with jQuery val does not work"
I have a field with inputmask '9'. When I try setting it to a value of '1' using jQuery val function, it does not seem to set the field. I am using the latest minified dist bundle. See the js fiddle here for the example: http://jsfiddle.net/Wauwf/10/

[2013-08-02 20:20] luisrudge commented on #176
This is broken on IE8 in version 2.3.14.
I had to rollback to version 1.3.22.

[2013-08-05 07:32] RobinHerbots commented on #176
@luisrudge ,

Can you explain a bit more the error.

best regards,

Robin

[2013-08-05 08:44] RobinHerbots commented on #305
Have a look at the new fiddle http://jsfiddle.net/Wauwf/12/

[2013-08-05 08:44] #305 closed, assigned to RobinHerbots

[2013-08-05 08:45] RobinHerbots commented on #277
Done

[2013-08-05 08:45] #277 closed, assigned to RobinHerbots

[2013-08-05 09:42] RobinHerbots commented on #304
@Macharius92,

In whatever mode you put IE10 it's shows his clearingcross.   I don't know that the ms-clear is feature detectable.

For the moment the inputmask detects IE10 and act accordingly to the input event.

[2013-08-05 09:50] #253 closed, assigned to nobody

[2013-08-05 11:38] sompylasar commented on #304
I resolved this issue by hiding the cross via CSS for an inputmask field.

[2013-08-05 12:14] RobinHerbots commented on #304
The functionality is working for IE10, but is via browser detection and not feature detection.

[2013-08-05 13:18] luisrudge commented on #176
It's the same error, actually.
If i use the latest version with IE8 it throws this error:
'Object doesn't support this property or method'
The error occurs here:
https://github.com/RobinHerbots/jquery.inputmask/blob/2.x/dist/jquery.inputmask.bundle.js#L628

Thanks!

[2013-08-05 14:13] RobinHerbots commented on #176
@luisrudge ,

It's the same error message but another error.

Which mask do you use?  As I tried with IE10 in IE8 mode but that works without problems.

[2013-08-05 14:18] gibacca commented on #305
Looks good, thanks for the quick fix!

[2013-08-05 14:29] jkl1337 commented on #176
A basic mask like 99999[-9999] will do the trick. I can confirm this problem right now. It fails in IE8 for the reason given by luisrudge. Seems to work in IE9 and IE10 in IE8 mode, but actual IE8 does not work.

[2013-08-05 14:42] luisrudge commented on #176
I used the '99/99/9999' mask.

[2013-08-05 14:45] RobinHerbots commented on #176
@jkl1337 , @luisrudge ,

Ok, I first need a real iE8 ;-)

[2013-08-05 17:04] jkl1337 commented on #176
Well this might not be a bug in jquery.inputmask. In the codebase I'm working on, a polyfill for Array indexOf was provided, (seems to be lifted off of MDN). jquery.each seems to be enumerating the prototype methods added to Array, so at that line (628), it is trying to dereference "indexOf" (the polyfill) as a maskset. By removing the indexOf implementation things seem to work ok for me.

[2013-08-06 10:19] RobinHerbots commented on #176
@jkl1337,

Thx for the input.

@luisrudge, @jkl1337 ,

Can you have a try with latest version.

[2013-08-06 12:51] nadavpp opened #306 "Seems to be a typo in jquery.inputmask-2.3.16.js"
At line 1034:
                                    return isRTL ? valueGet.call(this).split('').reverse().join('') : valueGetvalueGet.call(this);

I think valueGetvalueGet should be valueGet

[2013-08-06 13:59] RobinHerbots commented on #306
@nadavpp,

Indeed.

THX!!

Robin

[2013-08-06 13:59] #306 closed, assigned to RobinHerbots

[2013-08-07 07:00] #176 closed, assigned to nobody

[2013-08-07 07:05] RobinHerbots commented on #254
see issue #186

[2013-08-07 07:05] #254 closed, assigned to nobody

[2013-08-07 07:06] #237 closed, assigned to nobody

[2013-08-08 08:59] arame opened #307 "Regex does not work as I expected for time values"
I want to ensure the user can only enter in time values.
The requirements are that you can enter hours 0 -23 and optionally you can enter a decimal point and 5, 25 or 75
So valid values are
8
0.25
23.75
4.5
So for my input field; <input type="text" id="txtInput" class="classInput" />
I have
    $(document).ready(function () {
        var regexTime = "^[0-9]|[1][0-9]|[2][0-3]?[.5]|[.25]|[.75]$";

[2013-08-08 11:12] arame commented on #307
I managed to solve the problem with this;
    $.extend($.inputmask.defaults.definitions, {
        't': { //Time
            validator: "([1][0-9]|[2][0-3][.]([2]|[7])[5])",
            cardinality: 5,
            prevalidator: [
                        { validator: "[0-9]", cardinality: 1 },
                        { validator: "[1][0-9]|[2][0-3]|[0-9][.]", cardinality: 2 },

[2013-08-09 19:09] navnitmehta opened #308 "Trying to default "12:__ xm" to default to PM and "00:__ xm" to AM"
I addition to other defaulting behaviors I have a requirement to default to 'pm' when user types in 12 for hours ("12:__ xm") & 'am' when user types in '00:__ xm'. I have created a custom definition (included below) for achieving this, now the issue with is that after I have defaulted to 'am' for 00, when the user is typing in minutes it goes back to 'pm' because the value in hours is 12 at that p

[2013-08-10 13:42] mbalbinot opened #309 "Paste problem on IE8"
I'm having a problem when I'm pasting a value on IE8.

My defaults:
        $.extend($.inputmask.defaults, {
            'placeholder':" ",
            'autoUnmask': true,
            'clearMaskOnLostFocus':true
        });

One of my masks:
        $(document).ready(function(){
            $(".maskCNPJ").inputmask("99.999.999/9999-99");
        });

When I paste a value, like 00000000000000, and

[2013-08-19 04:45] navnitmehta commented on #308
Most of my issues where due to an extra ',' in the regex definition.

 hrs: new RegExp("[01][0-9]|2[0-3]"), //hours
        },

[2013-08-19 04:45] #308 closed, assigned to nobody

[2013-08-20 09:49] MarcDiethelm opened #310 "Question: Possible to just use validation without mask functionality?"
Hi. Basically the title says it all. I would like to know if it's possible to disable the masking functionality alltogether and just use the validation (callbacks).

[2013-08-21 05:40] athahar opened #311 "Is it possible to have just the mm/yyyy mask.?"
I was trying to use the following for month/year mask

$("#businessEstablished").inputmask("mm/yyyy", {
    "placeholder": "mm/yyyy",
    "baseYear": 1900
});

Instead of getting teh desired output, it seemed to render the following on focus -
mm/y/yymm/yyyymm/yyyy

Any thoughts?

[2013-08-21 06:01] sh4d0w28 commented on #311
1. It seems to me, that placeholder is usually a single symbol, is it nesessary to use a whole expression for it?
2. jquery.inputmask.date.extensions.js  has no "mm/yyyy" mask. When i tried dd/mm/yyyy, this works well.

$("#date").inputmask("dd/mm/yyyy", {"placeholder": "_","baseYear": 1900 });

[2013-08-21 09:18] sh4d0w28 commented on #311
sorry. i was wrong about placeholder. Second statement still seems to be actual.

[2013-08-21 15:58] ablockchainfan opened #312 "Hiding numbers when skipping optional mask (second one)"
Posted the issue at stackoverflow but no answers yet.

http://stackoverflow.com/questions/18319361/jquery-inputmask-hiding-numbers-when-skipping-optional-mask-second-one

Is this a bug? or incorrect use.

[2013-08-21 18:22] RobinHerbots commented on #307
@arame

Just back bron Holiday :-)

I will have a look at the regex tomorrow.

Bes regards
Robin

[2013-08-21 18:25] RobinHerbots commented on #308
Sorry for the lack of response but i was on holiday.

It is all ok know?

[2013-08-21 18:26] RobinHerbots commented on #312
I will have a look tomorrow

[2013-08-22 13:04] RobinHerbots commented on #310
@MarcDiethelm ,

And what would be the use?

[2013-08-22 14:17] prainho opened #314 "Empty placeholder problem"
//this is working
$("#decimal").inputmask({ "mask": "9", "repeat": 10, "placeholder": ""});

//this isn't working.
//it only works if placeholder is not an empty string
$("#decimal").inputmask({ "mask": "9", "repeat": 10, "placeholder": "", numericInput: true });

[2013-08-22 16:12] prainho opened #315 "decimal question"
How can I define a decimal with integer part equal to 7 and decimal part equal to 2

Valid values decimal(7,2)
1.234.567,89
123.456,78
12.345,67
1.234,56
123,45
12,34
1,23
0,12

I've tested

$("#decimal").inputmask("decimal", { "repeat": 7, radixPoint: ",", autoGroup: true, groupSeparator: ".", groupSize: 3, digits: 2 });

but this doesn't work because when I insert 1.234.567 I can't insert the de

[2013-08-22 16:42] prainho opened #316 "ERROR: no method '_valueGet'"
Just do this and try paste a value:

var $decimal = $("#decimal");
                $decimal.inputmask("decimal", { allowMinus: true, "repeat": 10, radixPoint: ",", autoGroup: true, groupSeparator: ".", groupSize: 3, digits: 2 });
                $decimal.on("paste", function (e) {
                        $decimal.inputmask("remove");
                        var previousValue = $decimal.val();

[2013-08-23 05:35] RobinHerbots commented on #314
@prainho,

Why do you use an empty placeholder?

[2013-08-23 05:37] RobinHerbots commented on #315
@prainho ,

see issue #259

[2013-08-23 05:37] #315 closed, assigned to nobody

[2013-08-23 06:37] RobinHerbots commented on #307
@arame ,

Is that a correct regex?

[2013-08-23 08:17] prainho commented on #314
I want to do something like this: http://igorescobar.github.io/jQuery-Mask-Plugin/

Where I don't have any placeholder and the textbox is empty and when I start write the mask is applied only when I type something.

[2013-08-23 09:23] RobinHerbots commented on #311
@athahar ,

Try with $("#businessEstablished").inputmask("m/y", {
"placeholder": "mm/yyyy"
});

[2013-08-23 09:29] RobinHerbots commented on #314
@prainho ,

You can use

$(selector).inputmask("integer");

or

$(selector).inputmask({ "mask": "9", "repeat": 10, greedy: false, numericInput: true });

[2013-08-23 09:59] RobinHerbots commented on #312
@vipink70,

Fixed in the latest version.

[2013-08-23 10:52] #312 closed, assigned to nobody

[2013-08-23 13:57] klzns opened #317 "2.x version changelog"
Hi,

I would like to know what breaking changes are introduced in this version. I'm using an older version, and _apparently_ it's all fine, but I would like to know if something that changed may break something around here that I might not be seeing.

Thanks,

[2013-08-23 14:09] MarcDiethelm commented on #310
For one thing you offer a wonderful way to define patterns for validation, that don't require writing (and testing) Regex. This is awesome and quite a time-saver. Other validation methods (libraries or not) require Regexes.

Using the input masks however is not always guaranteed to work consistently and to the satisfaction of all users. Some people simply don't like the look of it. :) So there's a

[2013-08-23 17:01] #314 closed, assigned to nobody

[2013-08-26 05:39] RobinHerbots commented on #317
@brenoc,

Version 2.x offers the same functionality as 1.x but with addition of multiple & optional masks.  An upgrade should be safe.

best regards,

Robin

[2013-08-26 05:39] #317 closed, assigned to nobody

[2013-08-26 05:50] RobinHerbots commented on #310
@MarcDiethelm ,

The inputmask does not dictate that you need to apply a format..  Instead of 99-9999-99 you can also use 99999999 as mask and set the placeholder to an empty string.

When I look at jquery.validate, you specify a function for validation.  So there is no requirement to use regexes.

However writing a generic validator in jquery.validate (or other) which accepts the pattern definiti

[2013-08-26 05:58] RobinHerbots commented on #316
@prainho,

What are you trying to accomplish?  Why do you remove the mask within the paste event?

[2013-08-26 06:21] RobinHerbots commented on #307
@arame ,

Can you have a try with the latest version and

var regexTime = "([0-9]|[1][0-9]|[2][0-3]?)\\.(5|25|75)";
$("#input4").inputmask('Regex', { regex: regexTime });

[2013-08-26 07:08] RobinHerbots commented on #309
@mbalbinot ,

Can you have a try with the latest version

[2013-08-26 07:16] prainho commented on #316
In the paste event I want to do additional tests to ensure that is a real decimal and that it's a valid decimal based on a custom validation. so on the paste event I remove the plugin, do what I need to do and in the end I set the plugin again. now you plugin is not expecting the remove in the paste event and I get that error.

This can also be done if you tell me how can I disable for instance th

[2013-08-26 07:25] RobinHerbots commented on #316
@prainho ,

Why don't you rely on the plugin for the decimal validation?  Or do you need some additional calculations.

[2013-08-26 10:02] klzns commented on #317
Thanks!
Em 26/08/2013 02:39, "Robin Herbots" notifications@github.com escreveu:

[2013-08-26 13:47] mbalbinot commented on #309
Now it's working fine!!!
Thanks

[2013-08-26 13:58] #309 closed, assigned to RobinHerbots

[2013-08-27 05:58] RobinHerbots commented on #311
@athahar, @sh4d0w28,

I will create an alias for it someday.

[2013-08-27 06:43] arame commented on #307
Thank you for that.
That solution did not work. I entered 34.45 and the mask did not stop me from doing so. I am using version 2.3.17

[2013-08-27 06:53] RobinHerbots commented on #307
@arame ,

The above only works after version 2.3.22

[2013-08-27 07:11] arame commented on #307
OK that was my fault for not doing what you said. I updated the latest version from Nuget, I now have 2.3.23.
However it still allows me to type "345". If I type a "3" then the only valid character that can follow it should be "."

[2013-08-27 09:18] RobinHerbots commented on #307
@arame ,

In which browser did you test?  I cannot type 345.

Did you cleared the cache?

[2013-08-27 09:45] athahar commented on #311
Thanks Robin.

[2013-08-27 12:30] nicomdp opened #318 "Problems to set value when input is readonly"
When I set value and the input has the attribute readonly, it doesn't apply the mask and when I force to set the mask, the unmasked value is set to blanks.

[2013-08-27 17:19] RaphaelDDL opened #319 "Issue with inputmask and ckeditor"
Hello there,

I have a form which I use inputmask on some inputs for date/time and a textarea with ckeditor (I don't call inputmask on it).

I discovered that when I call inputmask on an input on IE, Safari and Chrome, ckeditor's jquery adapter (ckeditor on textarea) simply stop working with no warning or anything on console. Opera and Firefox are not affected.

I was reading the jquery adpter cod

[2013-08-27 17:25] RaphaelDDL commented on #319
I just had an idea about the `$.extend` and checked `$.fn.val` before and after inserting inputmask. Seems `$.fn.val` is getting overwritten, instead of actually extended (imo, had to hold both extends, no?)

`$.fn.val` before inputmask (chrome):

[code]

`$.fn.val` after inputmask (chrome):

[code]

While on Firefox, `$.fn.val` is always the same (does not change when I call inputmask).

Is there

[2013-08-27 19:20] RobinHerbots commented on #319
@RaphaelDDL ,

The n.inputmask.val.apply(t, r); does the call to the original fn.val code.

Probably the ckeditor's adjust the fn.val after the inputmask made the ref in $.inputmask.val.

In FF the patch is not needed.  I will have a look at it and I will also cleanup the val patch to use a valhook instead, which is the way to hook into fn.val provided by jquery.

I will use the jsfiddle to verify

[2013-08-27 20:20] RaphaelDDL commented on #319
@RobinHerbots

I call inputmask .js before ckeditor (it's bundled in my minified js, while ckeditor is project specific thus called later).

If I understood correctly what you said, inputmask make the ref when it was inserted onto html (instead of when it's called via `$(selector).inputmask()`). It caches the `$.fn.val` onto `$.inputmask.val` but just actually extend it it when called using `.inpu

[2013-08-28 06:06] RobinHerbots commented on #307
@arame ,

Check this http://jsfiddle.net/yt7P2/

[2013-08-28 14:44] arame commented on #307
I am using ie9.
I find that in the jsfiddle the mask does not prevent me from typing in any character.

[2013-08-28 17:26] RobinHerbots commented on #307
@arame,

I will do a test in IE9

[2013-08-29 07:17] Flyarbonkers opened #320 "Parenthetical Grouping doesn't seem to work at all"
All parenthetical grouping of patterns for the purposes of repetition of matched groups doesn't seem to work at all. Simple example:

(abc)+(def)

gets you ONLY "abcdef", NOT "abcabcdef" or other variations.

Other counts fail, too.

(abc){2,4}(def)

just gets you "abc" and then stopped dead.

[2013-08-29 11:05] gabrielnn77 opened #321 "currency mask not work"
$(selector).inputmask('€ 999.999.999,99', { numericInput: true });
expected: "€ **_.**_.___,__"
actual: "**,_**.**_.**_ €" and read only

same result with
 $(selector).inputmask( '$ 999 999 999.99' ,{numericInput:true,radixPoint:'.' } );

[2013-08-29 12:02] RobinHerbots commented on #320
@Flyarbonkers ,

You are talking about the regex extension I suppose.

Yep that doesn't work.  I will fix that soon.

[2013-08-29 12:04] RobinHerbots commented on #318
@nicomdp ,

That because the events are blocked in readonly mode.  But I will have a look to reenable the setvalue.

[2013-08-29 12:06] RobinHerbots commented on #321
@gabrielnn77,

That is due a refactoring.  I will fix this asap.
 best regards,

Robin

[2013-08-29 16:21] Flyarbonkers commented on #320
My apologies for not including a working example of the problem. I have all of 45 mins. of experience with jquery.inputmask and was simply putting it thru it's paces while evaluating it against others in it's general field, and discovered that the referenced idiom didn't work. This was my first problem post on Github, ever. I will attempt to do better in future.

Following is my example to demo th

[2013-08-29 17:07] Flyarbonkers opened #322 "As well as maximum length, is there a minimum length check somewhere?"
I'm trying to do something trivial and I keep getting stuck. New to this library, so pointers would be very welcome.

I'm trying to validate a username field whose user input requirements are listed as the following:

'A username must be between 8 and 40 characters in length, consist of uppercase & lowercase letters, numbers and the special characters @,#,$, and ~.'

Additionally, as a lazy but ea

[2013-08-29 19:03] telray opened #323 "Problem with a mask in firefox"
jquery 1.8.3
jquery.inputmask 1.x
firefox 23.0.1

http://jsfiddle.net/telray/NZTst/2/

Input to introduce any of the characters and try to remove them backspace.
And only one character is deleted. If you click on the "check length" is displayed causing incorrect length.
In Chrome all right.
What to do?

[2013-08-30 07:22] RobinHerbots commented on #323
@telray ,

DId you try upgrading to the latest version?  (2.3....)

[2013-08-30 08:30] andr-04 opened #324 "Lists of masks from inputmask-multi"
Hello. I'm the developer of the plugin [inputmask-multi](https://github.com/andr-04/inputmask-multi) which is using your plugin as a core. My plugin worked with v1.2.2 of your plugin inputmask.

Since v2.3.0 your plugin has the same functionality. So it will be nice if you add ability to use lists of masks which I've implemented already for the phone numbers.

[2013-08-30 09:25] RobinHerbots commented on #323
@telray,

You are correct I will have a look at it.

[2013-08-30 10:06] RobinHerbots commented on #323
@telray,

This seems like an bug in FF 23.x

It does correctly return the caret positioning.  Very strange.  I will have a further look at it.

[2013-08-30 10:40] RobinHerbots commented on #321
@gabrielnn77 ,

Can you have a try with the latest version. 2.3.24

[2013-08-30 14:11] RobinHerbots commented on #324
@andr-04 ,

Seems like a good idea!

But you added a cc (country code I guess) and some descriptive fields..  Maybe I can add that kind of descriptive meta too.

best regards,

Robin

[2013-08-30 14:19] RobinHerbots commented on #323
@telray ,

It has todo with the . as validator.

[2013-08-30 16:25] telray commented on #323
@RobinHerbots ,

In v2.3 you used
if (greedy == true && opts.placeholder == "") opts.placeholder = " "; in function getMaskTemplate(mask)
and my placeholder "" does not work.
Can you suggest another way of how to implement a mask to check all characters?

[2013-09-01 19:56] WaltDaniels opened #325 "Submit causes Change Event to fire"
I've got 'change' listeners on a number of input fields on my page.  I notice that when the 'Submit' button is clicked the input fields with inputmasks defined fire their 'change' event.  I see in the code where you're doing that, however there is no "real" change occurring on the field, so why is the 'change' event being fired?  Can you suggest some way of filtering out these 'change' events?  Or

[2013-09-02 09:10] RobinHerbots commented on #323
@telray,

Have a look at http://jsfiddle.net/NZTst/7/  ;-)

[2013-09-02 09:16] RobinHerbots commented on #325
@WaltDaniels ,

Can you retry with version 2.3.26

[2013-09-02 10:39] telray commented on #323
@RobinHerbots ,

Big Russian thank you! =)
All works in v2.x.

[2013-09-02 11:31] #323 closed, assigned to RobinHerbots

[2013-09-02 13:09] gabrielnn77 commented on #321
i try with 2.3.26
$('#money').inputmask('€ 999.999.999,99', { numericInput: true });
only allows me to write the last character
ex. € **_.**_.___,_9

[2013-09-02 13:35] RobinHerbots commented on #321
@gabrielnn77 ,

Have a look at http://jsfiddle.net/3yDW4/

[2013-09-02 14:39] gabrielnn77 commented on #321
I expect the same behavior as with decimal, but it can only write to the last position
see the example

[2013-09-02 15:26] RobinHerbots commented on #321
@gabrielnn77 ,

On which browser are you testing?  Do you have problems in the jsfiddle?

[2013-09-02 16:00] gabrielnn77 commented on #321
firefox 23, in linux
same problem in jsfiddle, and in my server

[2013-09-02 17:01] gabrielnn77 commented on #321
http://jsfiddle.net/3yDW4/3/

[2013-09-03 08:42] RobinHerbots commented on #321
@gabrielnn77,

Can you explain a bit more the problem.  I tested with FF 23 on Linux and I can type without probs.

[2013-09-03 09:37] RobinHerbots commented on #319
@RaphaelDDL,

I modified the inputmask to use a valhook instead of patching the fn.val.  Can you have a try.

[2013-09-03 12:07] gabrielnn77 commented on #321
I will try to explain (i don't speak english...)
whit that mask i only can type in the lasth position
by ex. € **_.**_.___,_x <------ only can type in this position, not in the integer part
if i want to write 10 (integer ten), i have to write 1000
__,_1
__,10
_1,00
10,00
ome users complained it's confusing

with 'decimal' i can type in any place (before and after the radix point), and pressing the

[2013-09-03 12:16] WaltDaniels commented on #325
I will test with 2.3.26 once it is available via nuget, thanks!

[2013-09-03 13:46] RaphaelDDL commented on #319
@RobinHerbots

http://jsfiddle.net/QjVf8/11/

Using the fiddle I made as base, I removed my minified and added yours.
Seems it worked fine. Will test with more options and stuff to see if broke anything and let you know.

I'm so going to study how you use those valHooks. I might convert the ckeditor adapter to it also.

Thank you very much

Best Regards,
Raphael

P.s.: I just noticed a 'oh my gosh

[2013-09-03 14:47] RobinHerbots commented on #319
@RaphaelDDL,

Removed the console.log  ;-)  thx

[2013-09-03 14:47] RobinHerbots commented on #325
@WaltDaniels ,

available v 2.3.31

[2013-09-03 19:11] RobinHerbots commented on #307
@arame ,

It seemed a problem with the jsfiddle in IE9

Try this one http://jsfiddle.net/yt7P2/2/

[2013-09-04 07:50] RobinHerbots commented on #321
@gabrielnn77,

I see what you mean.  I will fix that soon.

best regards,

Robin

[2013-09-04 07:59] #307 closed, assigned to RobinHerbots

[2013-09-04 08:04] arame commented on #307
That one worked, thank you very much.

[2013-09-04 08:06] arame commented on #307
How do I mark that as correct?

[2013-09-04 08:29] RobinHerbots commented on #307
You don't have to mark anything.  I closed the issue.

[2013-09-04 08:36] RobinHerbots commented on #324
@andr-04 ,

The current version can read the inputmask-multi format.  Expose the metadata.  The mask can be a function, so I can sort the incoming masks,

[2013-09-04 09:00] andr-04 commented on #324
Good solution!

What are your views on writing an extension of inputmask which will sort a list of phone masks and use a function as a mask? How to make it better?

[2013-09-04 09:56] RobinHerbots commented on #324
You read my mind ;-)

That was the idea to write the phone implementation as an alias extension
for inputmask.    Let's first try to mimic the exact behavior as
inputmask-multi.

Enhancements can come later.

2013/9/4 Andrey Egorov notifications@github.com

[2013-09-04 13:16] RobinHerbots commented on #324
@andr-04,

I made a first commit of the phone alias.  The mask definitions get loaded and sorted.  However the mask switching isn't correct, yet.  I will have to tune the decision to switch the masks probably.
to be continued ;-)

[2013-09-04 13:41] WaltDaniels commented on #325
The change event fires for each field with an inputmask.  Line 936 of jquery.inputmaks-2-3-31.js is raising the event.

[code]

[2013-09-05 06:56] RobinHerbots commented on #325
fixed in 2.3.35

[2013-09-05 06:58] #319 closed, assigned to RobinHerbots

[2013-09-05 07:00] RobinHerbots commented on #322
see issue #202

[2013-09-05 23:43] efreibe opened #328 "Decimal mask with min and max limits"
Validating decimal numbers with a maxlength value makes inconsistent the use of decimal separator.
For example, defining a maxlength="5" allows me to enter 5 significant digits but if I use the decimal separator then I'm allowed to enter as much as 2 significant digits (assuming that I've configured 2 decimals).
I think that maybe is better to check this field for maximum and minimum values, this

[2013-09-06 10:11] RobinHerbots commented on #328
@efreibe ,

I agree, but I will fix that later.

[2013-09-09 11:47] WaltDaniels commented on #325
Thanks for the quick-fix Robin, but there's still an issue here.  This now works fine for any input fields that we've either entered values into or tabbed through.  However, the 'change' event still fires on input fields that have a value (from the server) but have not received focus.

[2013-09-10 09:29] RobinHerbots commented on #325
@WaltDaniels ,

Shoudl be all fixed now in the latest version ;-)

[2013-09-10 14:20] itpmngt opened #329 ""numericInput": true"
When using {"numericInput": true}

$("#stones").inputmask({"mask": "9999 t", "numericInput": true })

the field is alignRight, but the caret stays in the first left position. The problem is that it does not accept any character on that position. Clicking in the placeholder of the last (fourth) character it works as expected.

Interesting is that if I double-click in the field it positions the care

[2013-09-11 10:18] RobinHerbots commented on #329
@itpmngt ,

Fixed in version 2.3.38

Best regards,

Robin

[2013-09-11 10:19] RobinHerbots commented on #280
@kyrel ,

Fixed in version  2.3.38
Can you have a try

[2013-09-11 11:11] #280 closed, assigned to RobinHerbots

[2013-09-11 16:40] bfeldhake opened #330 "Issue removing characters from masked inputbox"
Couple of different scenarios here.

1) I've got a mask list handling a currency mask for me, and input works as expected. However, if I've entered $100,000.00 and try to remove any characters, it automatically changes my input box to the last mark in the list.

[$100,000.00 after deleting a character changes to $   , 10,000.00]

2) I get unpredictable results when pressing backspace in date maske

[2013-09-11 16:44] bfeldhake opened #331 "Cursor always jumps to end of masked input."
See (http://jsfiddle.net/rEbp3/) for examples.

When masked field is empty (Currency2) the cursor stays where it is supposed to be, but every other field hops the cursor to the end of the string before letting you put it back where you intended it to be.

Try placing the cursor in the DD portion of the MM/DD/YYYY field.

[2013-09-11 16:47] bfeldhake opened #332 "Issue assigning value to input with list of possible masks."
I've got a currency input with 9 possible masks (simplest way I found to handle currency input). Assigning a value of 100000.00 to the input auto-fills the mask incorrectly.

The result looks like $1 0,0 0,0 0.00.

[2013-09-12 10:31] RobinHerbots commented on #332
@bfeldhake ,

I will have a look at it.

I already made some changes for the case when deleting input and for the caret positioning

[2013-09-12 15:14] dlikhten opened #333 "When both showMaskOnFocus and showMaskOnHover are used, optional parts not displayed when using "tab" to input"
Example:

$("...").inputmask(mask: "(999) 999-9999[x9999]", greedy: true)
- Let us say the user FIRST enters `(123) 456-7891` The input will hide the optional part.
- When the user hovers of the field, the mask will be `(123) 456-7891x____`
- HOWEVER if the user does not hover, but rather uses "tab" or the "next" / "prev" buttons on an iOS device, the mask will be `(123) 456-7891`

[2013-09-12 17:42] itpmngt commented on #329
Hi Robin

Thanks for the prompt action - much appreciated.

There is a side effect: it is reversing the value. e.g. if we type '70' in the field and then $(this).val() - it returns '07' All numeric values go 'nuts' :-)

Any suggestion?

Thanks

Joe Rosa

[2013-09-12 19:35] sabr49 opened #334 "Hovering over field causes value to disappear"
This may be an edge case but is common in our application... for business reason we have fields that are disabled on load and have their property values set using $.val... If later the field is enabled and then you hover over the field the entire input is cleared...

Here is the fiddle:
http://jsfiddle.net/fctWm/1/

Hover over the input..

I'm working with an old version (really old...  1.0.24 :)

[2013-09-13 07:19] RobinHerbots commented on #329
Hi Joe,

Which version of the inputmask are you using?  And on which browser?  In my
tests it runs correctly.

Yes those numerics drive me crazy too  ;-))

2013/9/12 Joe Rosa notifications@github.com

[2013-09-13 08:21] RobinHerbots commented on #334
Hi Sabr,

On http://jsfiddle.net/fctWm/2/ i modified the inputmask to allow setting
the value on a disabled input.

It will be available in version 2.3.41.

If you add an extra check in the eventruler to not block the setvalue
event, it will also work on the 1.0.24.  But I don't have the time to
maintain the 1.x branch.

Best regards,

Robin

2013/9/12 sabr49 notifications@github.com

[2013-09-13 08:25] itpmngt commented on #329
Hi Robin

Yes, you're right. Seems the issue relates to the autoUnmask option. So to re-create the problem using the latest version (2.3.40) on Chrome - Windows:

$("#stones").inputmask({"mask": "9999 t", "numericInput": true, "autoUnmask": true })

Thanks

Joe Rosa

[2013-09-13 10:50] RobinHerbots commented on #329
@itpmngt ,

Fixed in the latest version.

Best regards,

Robin

[2013-09-13 10:50] #329 closed, assigned to RobinHerbots

[2013-09-13 10:54] RobinHerbots commented on #334
@sabr49,

See http://jsfiddle.net/fctWm/5/ with the latest version of inputmask

[2013-09-13 10:54] #334 closed, assigned to nobody

[2013-09-16 08:18] RobinHerbots commented on #332
@bfeldhake ,

Fixed in the latest version

[2013-09-16 08:19] RobinHerbots commented on #331
@bfeldhake ,

See new behavior in the latest version

[2013-09-16 14:00] glosswordteam opened #335 "What is the minimum version of jQuery?"
I tried jQuery 1.3 and it didn't worked. Then tried 1.7.2 - works ok.
So, can you specify the minimum version of jQuery, please?

[2013-09-16 21:54] #332 closed, assigned to RobinHerbots

[2013-09-17 13:46] bfeldhake commented on #330
Not sure if this is more relevant to #330 or #331, but in a date masked input, if I highlight a character(s) and press delete or backspace, I can no longer place my cursor in front of the character(s) that were just removed and begin typing.

[09/17/2013, highlight 17 and backspace. Cursor can no longer be placed before the DD that remains, but instead always hops to the end of the field]

I get s

[2013-09-17 14:49] andersonrocha opened #336 "Bug in decimal extension"
I just found a bug in the autocomplete extension to leave the decimal input with TAB.
If you put the radixPoint and TAB out of the input, it was only completed with a 0 instead of 00.
What is the function onKeyDown, check the following:
if (buffer[radixPosition + i] == undefined) buffer[radixPosition + i] = "0";

Only swapped for denial:
if (!buffer[radixPosition + i]) buffer[radixPosition + i] =

[2013-09-17 15:52] RobinHerbots commented on #318
@nicomdp ,

Can you retry with the latest version.

Best regards,

Robin

[2013-09-17 15:55] RobinHerbots commented on #335
@glosswordteam ,

The plugin now uses jquery valhooks.  I think that is implemented in jquery as of version 1.7.

best regards,

Robin

[2013-09-17 15:55] #335 closed, assigned to nobody

[2013-09-17 15:58] RobinHerbots commented on #247
@DixonBY ,

I see what you mean. (ie9)

I will have a look at it.

[2013-09-17 18:16] saucemax opened #337 "Problem with inputmask("remove")"
Business case:
   Mask on page load
   Show mask for duration of page use
   Remove mask on submit (do not save the mask)

Issue:
   Trying to remove the mask during the submit event doesn't work.  Setting a break point at line 121 is moot as the page is posted as I begin to step through code. I created a switch case, "removeimmediately", and moved all the code inside the timed out function (begin

[2013-09-18 08:39] RobinHerbots commented on #337
@saucemax,

Can you specify the version you are using.

Best regards,

Robin

[2013-09-18 09:39] glosswordteam opened #338 "complete/incomplete state"
I've found that "complete" state is triggered on a manual input only.
However, if I paste a correct value into the field, actions for "oncomplete" are ignored.

I think "complete" state should be triggered inside blur.inputmask:

[code]

[2013-09-18 09:41] glosswordteam opened #339 "complete/incomplete state"
I've found that "complete" state is triggered on a manual input only.
However, if I paste a correct value into the field, actions for "oncomplete" are ignored.

I think "complete" state should be triggered inside blur.inputmask:

[code]

[2013-09-18 09:41] #339 closed, assigned to nobody

[2013-09-19 21:16] saucemax commented on #337
I was using an older version but upgraded for this specific issue and now am using the latest.  Issue is in both releases.  The issue is the timeout.  It's not an issue for other events... blur and the like.  But for submission it's not working.  Now again, perhaps I've missed something, but this is what I've found.
Thanks,
-Robert

[2013-09-25 08:56] RobinHerbots commented on #321
@gabrielnn77 ,

Fixed in the latest version

[2013-09-25 08:56] #321 closed, assigned to RobinHerbots

[2013-09-25 09:45] #318 closed, assigned to RobinHerbots

[2013-09-25 09:51] RobinHerbots commented on #330
@bfeldhake ,

Can you have another try with the latest version.

[2013-09-25 15:03] bfeldhake commented on #330
Everything from the most recent comment seems to be fixed!

There appears to still be some issues with the initial money scenario, though. (Though I opted to go another route with my solution for this, so it's not as pressing.)

Thanks!

[2013-09-25 20:48] travisdahl commented on #95
Where is the demo? It would be nice to have a link to a working demo in the readme

[2013-09-26 09:31] RobinHerbots commented on #95
http://robinherbots.github.io/jquery.inputmask

[2013-09-26 09:40] RobinHerbots commented on #95
Demo link added to readme

[2013-09-26 18:00] travisdahl commented on #95
Thanks! You are awesome!

[2013-09-27 13:06] PankajShrivastava opened #340 "Not able to enter numeric value is textbox: Andriod device"
Currently we are facing issue which is happening in Andriod device. In our application there are few fields which accepts numeric value, but user is not able to enter any value there. When user tries to enter any value in these fields nothing is getting typed neither numeric nor alphabets. For example these are zipcode, dateofbirth, phone number

I suspect we are using jQuery(compId).mask(mask); a

[2013-09-30 08:00] RobinHerbots commented on #340
HI,

Which masking plugin are you using as I suspect this is not the
jquery.inputmask.

best regards,

Robin

2013/9/27 PankajShrivastava notifications@github.com

[2013-10-01 08:36] #340 closed, assigned to nobody

[2013-10-01 08:37] RobinHerbots commented on #338
@glosswordteam ,

Pasting a "complete" mask should trigger the event.

Can you make a jsfiddle with an example of the mask and you pasted value.

best regards,

Robin

[2013-10-01 09:10] RobinHerbots commented on #324
@andr-04,

Will you add the phone.extension to your repo or do I keep it here?

[2013-10-01 11:14] #331 closed, assigned to RobinHerbots

[2013-10-01 14:33] andr-04 commented on #324
Excuse me, I didn't watch your changes yet. If it works and if you agree I'll add your extension to my repo. But this extension must be in your repo as well.

[2013-10-01 15:00] RobinHerbots commented on #311
@athahar,

see latest version
 best regards,
Robin

[2013-10-01 15:00] #311 closed, assigned to nobody

[2013-10-01 15:15] RobinHerbots commented on #324
@andr-04 ,

I need to create some additional tests in the qunit for it.
I will keep the ref to your repo in the extension and keep the base phone-codes-json as an example.  The other phone-codes I will leave out and add a readme to get the files from your repo. If this is ok.

Feel free to add the extension to your repo.

best regards,

Robin

[2013-10-03 13:46] daltones opened #341 "Wrong incomplete state when using TAB"
Hi RobinHerbots! First of all, thanks for the great plugin!

I've had this issue and it can be seen in jquery.inputmask demo page.
- Focus first date input with mouse click.
- Complete it.
- Press TAB to focus next date input.  (-> Complete state for first date)
- Complete it.
- Press TAB. (-> Incomplete state for second date!)

The problem seems to occur with all kind of masks.

I found this issu

[2013-10-03 21:15] Sklein88 opened #342 "The value of the input is not displayed when have date mask (with chrome update)"
I updated my chrome and that, the value is in the value attribute but is not displayed, help please, this is a big problem.

[2013-10-04 08:16] RobinHerbots commented on #342
Hi,

Can you provide a example of your code.  And what is the exact version of
Chrome you are using?

best regards,

Robin

2013/10/3 Sklein88 notifications@github.com

[2013-10-04 14:31] RobinHerbots commented on #341
@daltones ,

Fixed in the latest version.

See demo page

best regards,

Robin

[2013-10-04 14:31] #341 closed, assigned to RobinHerbots

[2013-10-04 14:54] RobinHerbots commented on #338
@glosswordteam ,

Can you retry with the latest version.

[2013-10-04 22:46] daltones opened #343 "Problem with multi-mask & selection"
When the input is multi-mask and there's a selection range, just the first mask definition works.

I don't know if is complicated work with a generic range. But I think it's important at least handle the whole selection case, because when some input was focused by TAB (pressed on previous input), the whole text is selected.

The problem can be seen here: http://jsfiddle.net/3AAym/3/

Thanks!

[2013-10-06 01:01] bmw46033 opened #344 "Decimal Mask and Disabled Input Control"
It appears If an Input html control is disabled and you set the val() via JQuery, the mask is not applied.  It is only applied if the control is enabled.

We have calculated fields where we want the mask applied to the result but the user cannot edit the input box.

[2013-10-07 07:32] RobinHerbots commented on #344
@bmw46033 ,

Can you specify the version of the inputmask & in which browser.
I tested on Chrome and don't have a problem.

[2013-10-07 07:32] RobinHerbots commented on #343
@daltones ,

I will have a look at it.

Best regards,

Robin

[2013-10-07 08:09] RobinHerbots commented on #343
@daltones ,

Fixed in the latest version.

I need to add some test cases for partial selection.

best regards,

Robin

[2013-10-07 08:14] #342 closed, assigned to RobinHerbots

[2013-10-07 08:26] #324 closed, assigned to RobinHerbots

[2013-10-07 08:49] #338 closed, assigned to RobinHerbots

[2013-10-07 14:59] bmw46033 commented on #344
I am using 2.x and IE10.  I re-downloaded 2.x and it is working now.  Thank you.  Must have been just a prior build issue.

[2013-10-07 14:59] #344 closed, assigned to RobinHerbots

[2013-10-07 16:48] daltones commented on #343
Thanks @RobinHerbots! =)

[2013-10-07 20:07] #343 closed, assigned to RobinHerbots

[2013-10-08 06:22] jawadsahil opened #345 "Pressing escape key prints error in firebug console"
When I press escape key in any input. The firebug console shows this error:
TypeError: invalid 'in' operand e

This can be reproduced on demo page as well
http://robinherbots.github.io/jquery.inputmask/

I am using Firefox 24.0 on Window 7.

[2013-10-08 11:37] RobinHerbots commented on #345
The error (actually warning) comes from jquery itself

[2013-10-08 13:30] #336 closed, assigned to RobinHerbots

[2013-10-08 13:33] RobinHerbots commented on #235
@kodak57

 "[-]9[9].9[9]%"

[2013-10-08 14:19] #181 closed, assigned to RobinHerbots

[2013-10-08 15:38] #247 closed, assigned to RobinHerbots

[2013-10-08 15:52] RobinHerbots commented on #333
@dlikhten ,

Fixed in the latest version.

[2013-10-08 15:52] #333 closed, assigned to RobinHerbots

[2013-10-08 15:56] #330 closed, assigned to RobinHerbots

[2013-10-09 08:56] #316 closed, assigned to RobinHerbots

[2013-10-09 09:04] RobinHerbots commented on #337
@saucemax ,

Is this still a problem with the latest version?  As the remove does not contain a timeout anymore.

[2013-10-09 09:52] glosswordteam commented on #338
I tried to build some tests with the latest plugin version, no problems were found. It seems to me that this error appears in my environment only (lots of other scripts)

[2013-10-09 19:57] mars6277 opened #346 "Getting an error when using inputMask with MSIE"
Recently upgraded from an earlier version of inputMask.js.  Found that our widgets were getting errors in MSIE 10.  had a look at the files and found in inputmask.js line 84 it read:
 "msie10 = /_@cc_on!@_/false".

Not sure that this was intentional.

To fix our situation I changed it in our local copy to read(as in the previous version we had, 2.2.47):
 "msie10 = navigator.userAgent.match(new Reg

[2013-10-10 07:27] RobinHerbots commented on #346
@mars6277 ,

Can you be a bit more specific about the error you were getting?
I do not get errors on IE10 with the above line.

[2013-10-10 10:15] pdecat opened #347 "jquery.inputmask.phone.extensions.js starts with a UTF-8 BOM that gets included into jquery.inputmask.bundles.js"
Hi Robin,

the newly added jquery.inputmask.phone.extensions.js file starts with a UTF-8 byte order mark (BOM):

[code]

Those "EF BB BF" bytes get included into the jquery.inputmask.bundles.js file:

[code]

The problem is this breaks tools such as yuicompressor:

[code]

One way of removing this BOM is with the following command:

[code]

Best regards,
Patrick.

[2013-10-10 10:30] RobinHerbots commented on #347
@pdecat ,

THX for mentioning!

Should be fixed in the latest version

Robin

[2013-10-10 11:03] pdecat commented on #347
Thanks!

[2013-10-10 11:30] #347 closed, assigned to nobody

[2013-10-10 12:28] pdecat opened #348 "jquery.inputmask.phone.extensions.js refers directly to jQuery as '$' which conflicts with Prototype"
Unlike other extensions, jquery.inputmask.phone.extensions.js refers directly to jQuery as '$'.

Problem in my case is that '$' is bound to Prototype:

[code]

Like other extensions, it should be enclosed in an anonymous function and get jQuery as a parameter:

[code]

Regards,
Patrick.

[2013-10-10 13:27] #348 closed, assigned to nobody

[2013-10-10 15:36] mars6277 commented on #346
Thank you for getting back to me.  Sorry I wasn’t more specific.

Running our web app with the “msie10 = /_@cc_on!@_/false” (line 84 of jquery.inputmask.js version 2.3.50) we are getting the error SCRIPT5017: Syntax error in regular expression.  We didn’t realize anything was happening till we noticed a widget that was not appearing correctly in Internet Explorer 10.  The widget itself wasn’t usin

[2013-10-11 08:23] RobinHerbots commented on #346
@mars6277 ,

No problem.  Nice that you like the plugin ;-)

I reverted the IE10 detection back to the useragent check.

best regards,
Robin

[2013-10-11 08:23] #346 closed, assigned to nobody

[2013-10-13 20:50] #337 closed, assigned to RobinHerbots

[2013-10-15 14:29] glosswordteam opened #350 "redundant spaces in the field"
There are some redundant spaces in fields when spaces are used in the mask.

Example:

[code]

I've found that this is inside writeBuffer(). I guess, all spaces should be removed after joining the buffer.

InputMask version: 2.3.60

[2013-10-18 00:55] bmw46033 opened #351 "Decimal Unmasked Value"
It appears unmasked value for Decimal returns the comma (group separator) as part of the value.  Any way to turn that off?

I want to show the comma during input but when I store the value in a database, I would like just the numbers.  I suppose I can replace comma with empty string, but I am implementing the mask in a generic input control.  I prefer to manipulate the behavior through an option.

[2013-10-18 12:53] fals opened #352 "Brazil phone-codes"
Currently the extension supports "+55-##-####-####" to Brazil format. But there're regions at Brazil that already uses "+55-##-#####-####" with nine digit at the second pattern!

[2013-10-18 13:06] RobinHerbots commented on #352
@fals ,

I did the update in the phone-codes.

Can you have a try

[2013-10-18 13:16] RobinHerbots opened #353 "Overtype selection when first is not a mask deletes one too much"

[2013-10-18 13:17] RobinHerbots commented on #353
also the same problem on delete

[2013-10-18 13:18] #352 closed, assigned to nobody

[2013-10-18 13:51] fals commented on #352
I tried it, but the pattern didn't make the nineth digit optional.

[2013-10-18 13:57] RobinHerbots commented on #352
Try with 5512123451234  and then try typing 551212341234 didn't the mask
made the switch?  (if not did you cleared your browser cache)

You can also type 55121234<space>1234

2013/10/18 Filipe Augusto Lima de Souza notifications@github.com

[2013-10-18 14:11] fals commented on #352
Works typing space into the optional digit!

[2013-10-18 14:16] RobinHerbots commented on #352
I missed the minus  try also with 55121234-1234

2013/10/18 Filipe Augusto Lima de Souza notifications@github.com

[2013-10-18 14:21] fals commented on #352
Woking well here! Great job! Thank you!

[2013-10-20 03:18] relipse opened #354 "inputmask removes my onchange or .on('input',... events"
Basically I wanted to use inputmask but when I applied the decimal feature as on the demo page, all of my other events didn't work.

ideas?

[2013-10-20 19:05] RobinHerbots commented on #354
Hi,

Can you provide an example on jsfiddle.

best regards,

Robin

2013/10/20 relipse notifications@github.com

[2013-10-21 13:22] #353 closed, assigned to RobinHerbots

[2013-10-21 13:25] RobinHerbots commented on #351
@bmw46033 ,

I will do this in rel 2.7

[2013-10-22 13:46] mirzagitov opened #355 "Hide mask on non-empty input"
When ShowMaskOnFocus = false, showMaskOnHover = false mask is hidden unless you type a valid char for the mask.

Is it possible to add option like ShowMaskOnNonEmpty?

Mask prevents input text length detecting by other plugins, even if placeholder = "".
And I also can move caret to the empty space using arrow buttons.

Sorry for my English=)
Thanks!

[2013-10-22 14:45] hack3r3d opened #357 "Uncaught TypeError: Object #<Object> has no method 'prop'"
When using this plugin with Drupal 7.20 and I get this error in my console.

Uncaught TypeError: Object #<Object> has no method 'prop'

I'm building my form using the Drupal Form API.

The element I'm looking at adding a mask to has the id of edit-contact-phone.

jQuery(document).ready(function($) {
    $('#edit-contact-telephone').inputmask({'mask': '802-555-5555'});
});

Is this an issue with th

[2013-10-22 14:55] RobinHerbots commented on #355
@moongrate ,

Can you provide the mask pattern you are using?

[2013-10-22 14:58] RobinHerbots commented on #357
@hack3r3d ,

Probably. The plugin makes use of jquery.valhooks.  Those are introduces in jquery 1.7 I guess.

[2013-10-22 15:50] mirzagitov commented on #355
$.extend($.inputmask.defaults.definitions, {
    'V': {
        "validator": "[0-9A-HJ-NPR-Z]",
        "cardinality": 1,
        'prevalidator': null
    }
});
$.extend($.inputmask.defaults, {
    placeholder: "",
    showMaskOnFocus: false,
    showMaskOnHover: false
});

$(object).inputmask({ "mask": "V", "repeat": 17});

Setting greedy to false solves the problem.

[2013-10-22 16:01] mirzagitov commented on #355
http://jsfiddle.net/qz7QU/

[2013-10-22 16:49] hack3r3d commented on #357
That would make sense. Now I'll look at getting drupal's jquery updated. Thanks for the cool plugin.

[2013-10-22 17:00] #357 closed, assigned to nobody

[2013-10-22 18:33] hack3r3d commented on #357
Yep, upgrading jquery to 1.8 fixed it.

[2013-10-23 15:19] RobinHerbots commented on #350
@glosswordteam,

That was because the placeholder were translated to " " when greedy true.
I changed the behavior in the latest version.

Can you have a test.

[2013-10-23 15:22] RobinHerbots commented on #355
@moongrate ,

Fixed in the latest version.

best regards,

Robin

[2013-10-24 08:43] #355 closed, assigned to nobody

[2013-10-24 08:44] #350 closed, assigned to RobinHerbots

[2013-10-24 09:16] glosswordteam commented on #350
I see 3 spaces in both greedy modes. Enabled greedy mode has beed fixed, but spaces still exist.
Let me illustrate:

![image](https://f.cloud.github.com/assets/201113/1397685/ec763492-3c8c-11e3-8dd2-362544483d51.png)

[2013-10-24 09:34] RobinHerbots commented on #350
@glosswordteam,

That is because you also have 3 spaces in your mask.  The placeholder is used for the mask definitions and not for non masking elements.  What do you want to accomplish?

[2013-10-24 12:31] VladimirPal opened #359 "Email regex does not work"
Hi!
From your documentaion:

Example simple email regex:

[code]

But it does not work
![](https://www.evernote.com/shard/s18/sh/6c7eee2d-6834-4b56-997b-286020b06ae8/0b545ccf8d10f4eb8279976ed1a5634c/deep/0/2Tbank.png)

[2013-10-24 13:11] RobinHerbots commented on #359
@Cheguevara ,

Can you specify the version an browser you use. Can you provide a jsfiddle.

[2013-10-24 13:37] RobinHerbots commented on #209
@ychumak ,

Can you have a try with the latest version.

[2013-10-24 22:32] fridohohls opened #360 "After reset: the inputvalue is running off after mouseover"
...or changing the focus with the tab key

<p>Browser: Firefox 24, Chrome, Opera, IE, Safari</p>

<p>Download: Your jquery.inputmask -> 24.10.2013

<pre>
<code>
$(document).ready(function() {
    $("#test").inputmask("decimal", {repeat: 3, rightAlignNumerics: false, allowPlus: false, allowMinus: false});
});

&lt;input type="text" id="test" value="333" /&gt;
&lt;button type="reset">Cancel&lt;/butt

[2013-10-25 06:01] sathishbabu007 opened #361 "Data stores with mask characters while form submit. How to unmask and get typed value during form sumbit?"
If I have mask like

1(999)(2233)

while form saving its store like 1(999)(2233). I donot want this. I want only type chars.

eg. 19992233

[2013-10-25 09:33] VladimirPal commented on #359
I had a version 2.3.0, installed by bower.
With 2.3.65 no problem.

[2013-10-25 09:33] #359 closed, assigned to nobody

[2013-10-25 10:32] devrus91 opened #362 "Possible to replace spetial characters from mask"
For exmaple we have a mak on input (999)999-9999
If i select a ( and press any digit number ( will be replaced with this digit number
after input lose focus it was replaced back to (

[2013-10-25 11:03] RobinHerbots commented on #362
I will have a look at it.

2013/10/25 ruslanfedoseenko notifications@github.com

[2013-10-25 11:07] RobinHerbots commented on #362
@ruslanfedoseenko ,

Which version are you using from the inputmask and which browser(s).

Can you provide an example on jsfiddle as I cannot reproduce the behavior.

Best regards,

Robin

[2013-10-25 11:08] #360 closed, assigned to nobody

[2013-10-25 11:08] devrus91 commented on #362
latest version from github. Chrome  30.0.1599.101
it was reproducible on filled in input and also throws unhandled exception
Uncaught TypeError: Cannot call method 'split' of undefined jquery.inputmask.js:1720
keypressEvent jquery.inputmask.js:1720
eventHandler.handler jquery.inputmask.js:1287
x.event.dispatch jquery-latest-min.js:5
y.handle

[2013-10-25 11:08] #209 closed, assigned to RobinHerbots

[2013-10-25 11:23] devrus91 commented on #362
here is jsfidle example
http://jsfiddle.net/FhKxV/2/

[2013-10-25 11:32] devrus91 commented on #362
May be i have misled you by saying select, actualy i mean highlight (put coursor on it and press Shift+Right Arrow)

[2013-10-25 11:40] RobinHerbots commented on #361
@sathishbabu007 ,

If you set the autounmask to true, it should work on FF and browsers which support overriding native properties. , ...

For now you can hook into the submit event and create your own formdata to submit with the unmaskedvalues.

Or when using ajax.  Add the autounmask option  and get the values by jquery.val()

[2013-10-25 12:10] RobinHerbots commented on #362
@ruslanfedoseenko ,

Fixed in the latest version

[2013-10-25 12:10] #362 closed, assigned to nobody

[2013-10-25 12:11] RobinHerbots commented on #206
see #284

[2013-10-25 12:11] #206 closed, assigned to RobinHerbots

[2013-10-25 12:18] devrus91 opened #363 "Undo redo operations not working properly"
Steps to reproduce:
1. go to http://jsfiddle.net/FhKxV/2/
2. Highlight all text in input
3. Press Ctrl+X
4. Press Ctrl+Z

Expected Result:
value will be restored after pressing Ctrl+Z
Actual result:
input was blank (with empty value)

[2013-10-25 12:42] RobinHerbots opened #364 "Prepare for release"

[2013-10-25 13:45] RobinHerbots commented on #284
done

[2013-10-25 13:45] #284 closed, assigned to RobinHerbots

[2013-10-25 15:43] greengerong opened #365 "Input mask adapter for angualr"
Angular adapter for angualr : [https://github.com/greengerong/green.inputmask4angular](https://github.com/greengerong/green.inputmask4angular)

[2013-10-25 17:47] andywolk opened #366 "currency $ 100.51 with autoUnmask returns 10051"
autoUnmask removes everything. May this be fixed?

Also. How to set a non-constant count of digits?
.inputmask("$ 999,99", options ); // not only 5
.inputmask("$ 999'999,99", options ); // or 8

[2013-10-25 18:45] andywolk opened #367 "FireFox: TypeError: activeMaskset.tests[testPos] is undefined"
Version: 2.3.68 jquery.inputmask.bundle.js line 542
This is all I have. Will provide more information if possible.

[2013-10-27 22:31] RobinHerbots commented on #366
@andywolk ,

The unmasking is correct behavior.  The mask is unaware that your masks is a currency.
Dynamic masks are not yet supported.  You can mimmick the behavior be defining multiple masks or masks with optional parts.

[2013-10-27 22:33] RobinHerbots commented on #367
@andywolk ,

Can you give an example of the mask you are using.

[2013-10-28 07:40] andywolk commented on #367
Okay. Probably solved. Looks like jquery 1.9.0 is a minimum version for me. Otherwise I have got the error message in a big project with the mask: (999)999-9999
but no error in a small reproducing script (sounds strange).

[2013-10-28 08:11] RobinHerbots commented on #367
@andywolk ,

Can you give some example of other plugins  you use in the big project and in which sequence you are loading them.

[2013-10-28 08:12] RobinHerbots commented on #366
@andywolk ,

I will add this functionality to the decimal extension later

[2013-10-28 08:19] andywolk commented on #367
jquery
date.js http://www.JavascriptToolbox.com/lib/date/
jquery-ui.js
jquery.clickmenu.js http://p.sohei.org
jquery.quickTree.js http://scottdarby.com/
jquery.validate.js http://jqueryvalidation.org/
jquery.inputmask.bundle.min.js

[2013-10-28 08:31] RobinHerbots commented on #365
@greengerong ,

This is not really an issue I guess ;-)

Thx for writing an agular adapter.  I haven't used angular yet, maybe I should.  I am a bit of a Backbone fan.

[2013-10-28 08:31] #365 closed, assigned to nobody

[2013-10-28 14:07] RobinHerbots commented on #363
@ruslanfedoseenko

Fix in version 2.3.69

[2013-10-28 14:20] RobinHerbots commented on #363
does not work in the jsfiddle ? but otherwise it works

[2013-10-28 14:20] #363 closed, assigned to RobinHerbots

[2013-10-28 15:02] #364 closed, assigned to nobody

[2013-10-29 06:51] RobinHerbots opened #368 "Support for Android default browser"

[2013-10-29 06:52] RobinHerbots opened #369 "Support for Android Chrome browser"

[2013-10-29 06:52] RobinHerbots opened #370 "Support for Windows Phone 8 stock browser"

[2013-10-29 08:55] andywolk commented on #367
Looks like something is wrong with a val() setter hook.
$(obj).val(value); // gives the error
$(obj).attr('value', value); // does not. But we should use val() with the latest jquery, not attr()

[2013-10-29 09:01] RobinHerbots commented on #367
Probably a conflict in some valhook with the different plugins.

Just need to verify them one by one

2013/10/29 andywolk notifications@github.com

[2013-10-29 09:08] andywolk commented on #367
Inputmask plugin uses hooks only.

[2013-10-29 09:15] RobinHerbots commented on #367
We need some test page which has the problem, so I can investigate.

2013/10/29 andywolk notifications@github.com

[2013-10-29 10:09] andywolk commented on #367
Have reproduced the issue. Somehow I missed the fact that my mask was empty in a few cases. So this is obviously my fault. I am sorry. Now I can give an example:
<html>
<head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
        <script src="jquery.inputmask.bundle.js" type="text/javascript"></script>
</head>
<body>
    <br

[2013-10-29 11:00] RobinHerbots commented on #367
Great!

I will fix the case off an empty mask.

2013/10/29 andywolk notifications@github.com

[2013-10-29 18:08] RobinHerbots commented on #367
Fixed in version 2.4.1

[2013-10-29 18:09] #367 closed, assigned to RobinHerbots

[2013-10-29 18:09] #354 closed, assigned to nobody

[2013-10-29 20:08] Rouche opened #371 "autoUnmask does not seems to work with form.serialize()"
Hi,

I am masking using this:

inputmask('$ 999 999 999.99', { numericInput: true, autoUnmask : true });

when posting via Ajax, i receive this server side: $ ___ 345 634.56

Is there something i do wrong? or the serialize() does not work? For information this plugin is removing the mask on serialize() http://digitalbush.com/projects/masked-input-plugin/

[2013-10-29 23:37] RobinHerbots commented on #371
@Rouche
Can make a jsfiddle With the maskedinput to show the unmasking with form.serialize

[2013-10-30 12:24] Rouche commented on #371
For what its worth:
http://jsfiddle.net/mMkG9/5/

But jsfiddle wont show the received json. when i check the network of my application the mask is there in the form data.
limit:$ ___ ___ __4.57
comments:

[2013-10-30 13:32] RobinHerbots commented on #371
@Rouche,

The idea was that you provide an example of the maskedinput and not the inputmask  ;-)

[2013-10-30 13:57] Rouche commented on #371
Sorry :P

http://jsfiddle.net/mMkG9/10/

[2013-10-30 14:27] RobinHerbots commented on #371
@Rouche,

I added the name attribute to enable the serialize function todo it's job.

http://jsfiddle.net/mMkG9/11/

I type 123456 in inputmask
and 123456 in maskedinput

click on send
result => input_mask=123456&masked_input=

[2013-10-30 14:35] RobinHerbots commented on #371
And a working fiddle for IE http://jsfiddle.net/mMkG9/14/

[2013-10-30 14:48] Rouche commented on #371
this is definatelly weird. There must be a conflicting JS somewhere.

I added the optional ? in front of mask so clicking send takes partial numbers.

http://jsfiddle.net/mMkG9/15/

On the jsfiddle, yours is ok and maskedinput doesn't work.

Oh well, i guess there will be nothing easy :/

[2013-10-30 14:55] RobinHerbots commented on #371
maybe you call an unmask for the maskedinput. somewhere?

Anyway, maybe you can post the plugins you are loading so I can verify for eventual conflicts.

best regards,

Robin

[2013-10-30 15:19] Rouche commented on #371
I just implemented a spring formatter to make sure everything is ok for now.

if i have time ill try to debug.

thanks for the help.

[2013-10-30 16:34] Rouche commented on #371
Plugins:

[code]

[2013-10-31 14:04] glosswordteam opened #372 "unmaskedvalue didn't work for non-text field types"
Hello,

I've found that when input type differs from the "text", unmaskedvalue returns incorrect values. Try input type="tel", for example.

[2013-10-31 14:17] glosswordteam commented on #372
See jQuery.extend($.valHooks

[2013-10-31 15:26] RobinHerbots commented on #372
@glosswordteam ,

Yep I need to verify all input type=???

[2013-10-31 15:27] RobinHerbots commented on #368
Someone has a problem with the stock browser?

[2013-11-02 12:19] afattahi54 opened #373 "Multi Mask for Mulit Lingual Sites"
First I want to mention that the idea of having data-inputmask for inputs is great! With this feature the UI developers can easily configure the mask of the input  without any codings !!

Well I have another issue. My site is multi lingual so the mask may change base on each locale.

Does the component supports changing the mask base on each locale.

 <input data-inputmask-fa_IR="'mask': '99-99999

[2013-11-04 08:41] RobinHerbots commented on #373
@afattahi54 ,

The mask option can be a function so you can put in whatever logic you want.  You only need to return a mask pattern or an array of mask patterns.

$(selector).inputmask({ mask: function(opts){
   //return mask based on whatever
}});

To change the mask on the fly you just have to call .inputmask( with the new mask)

Offcourse speaking of data-inputmask, the idea is to keep the data

[2013-11-04 09:37] andywolk opened #374 "Looks like $.valHooks functions are used wrong"
Problems occur when $.valHooks is used by more than one plugin. Inside of jQuery between plugins setters and getters run sequentially, but inputmask plugin breaks this logic. The first problem is definitions.
Definitions from jQuery 1.10.2:
get: function( elem ) ...
set: function( elem, value ) ...

Inputmask does not provide elem:
var valueGet = ... function () { return this.value; };
var valueSe

[2013-11-04 09:51] RobinHerbots commented on #374
@andywolk ,

Hmm, I think you are mixing things up.

The valhook definition in the inputmask is

[code]

The valueGet and valueSet are intenal to inputmask

[2013-11-04 09:58] andywolk commented on #374
Not always, Robin.
This depends on what these variables contain (due to conditional clause):
var valueGet = $.valHooks.text && $.valHooks.text.get ? $.valHooks.text.get : function () { return this.value; };
var valueSet = $.valHooks.text && $.valHooks.text.set ? $.valHooks.text.set : function (value) { return this.value = value; };

[2013-11-04 10:02] RobinHerbots commented on #374
@andywolk ,

Offcourse!!!

I will fix that asap.

Thx

Robin

[2013-11-04 10:24] RobinHerbots commented on #374
See latest commit

[2013-11-04 10:36] andywolk commented on #374
Thanks, Robin!
Will work for $.valHooks, but what about valueProperty and **lookupGetter**  (not tested, just question: what if someone uses the same scheme?):
function patchValueProperty(npt) {
...
   if (valueProperty && valueProperty.get) {
       ...
      npt._valueGet = function () {...};
      npt._valueSet = function (value) {...};
      ...
   } else if (document.__lookupGetter__ && npt.*

[2013-11-04 10:57] #373 closed, assigned to nobody

[2013-11-04 11:19] RobinHerbots commented on #374
@andywolk,

Yes if someone uses the same _valueXXX then that could break functionality.

[2013-11-04 11:30] andywolk commented on #374
Let this issue be opened for a while.
There is a project https://github.com/plentz/jquery-maskmoney
A few days ago I suggested to take the hook's logic from the inputmask: https://github.com/plentz/jquery-maskmoney/issues/97
I foresee problems with an implementation.

[2013-11-04 12:02] RobinHerbots commented on #374
;-) lol

[2013-11-05 09:52] RobinHerbots commented on #363
@ruslanfedoseenko ,

Now it is fixed!!  See jsfiddle.

[2013-11-06 10:23] #186 closed, assigned to nobody

[2013-11-06 15:55] bes11 opened #375 "When using regex extension valid text is considered invalid"
If I use regex extension like this:

[code]

and type `111` into input then text will be cleared when input loses focus.

jsfiddle: http://jsfiddle.net/dznL8/6/
Type `111` into every text input. Since `111` is a valid text for all of them, inputs should not be cleared on losing focus. But 2nd and 3rd text input will be cleared.
This example also shows that using `repeat: '*'` exhibits the same beh

[2013-11-06 16:39] RobinHerbots commented on #375
@bes11 ,

Yes, this is not yet implemented.  I will fix that later.
best regards,

Robin

[2013-11-06 16:59] bes11 commented on #375
OK, any plans or ETA on this?

[2013-11-06 22:24] RobinHerbots commented on #375
http://jsfiddle.net/dznL8/7/ (updated references)

[2013-11-06 22:36] RobinHerbots commented on #375
For the repeat \* I cannot determine wheter the mask is complete or not.  I will fix that by adding an undefined state to the iscomplete.

[2013-11-07 08:50] RobinHerbots commented on #375
@bes11,

The case of repeat \* is solved.
The regex partially.  It will not clear but it cannot yet determine wheter the mask is complete.

[2013-11-07 09:30] RobinHerbots commented on #369
Can someone have a test on android chrome for the current js/jquery.inputmask.js

[2013-11-07 12:00] andersonrocha opened #376 "Improvement to decimal extension"
Does not could make it implement the functionality of the existing plugin meioMask decimal, where the mask is always visible decimal with zeroes and as you typing values ​​will be completing the mask from right to left, including the decimal digits? See an example:
http://www.meiocodigo.com/projects/meiomask/#mm_demos

It is an interesting and useful feature. I've seen many systems that use meioMa

[2013-11-08 15:02] RobinHerbots commented on #376
see #243

[2013-11-11 11:01] andersonrocha commented on #376
Demand is somewhat similar.
In case the decimal field will always have the value 0.00.
As the user is typing the value, the value will be inserted from right to left.
For example: if the field being 0.00 and the user wants to enter a value of 15.00, typing just 15, the field will be 0.15. If you type one more zero, will be 1.50. So 1500 should be entered for the field to stay with 15.00.
In case t

[2013-11-12 12:58] Babuit25 opened #377 "Imporvement for allowing operators by the users"
Hello Robin,

Firstly thanks for the wonderful plugin. I have been using this plugin in my framework developed newly. I have a reqirement were i would like to allow characters by module developers to be used only with in their modules.

Here i have a seperate function in the pageUtils called setMasks were i pass three parameters (field id, maks, options) to the inputMask() function.

[code]

Here

[2013-11-12 13:04] RobinHerbots commented on #377
@Babuit25 ,

Can you explain a bit more what you want to accomplish.
What is the allowChars for?

The mask can be a function, so within that function you can do whatever you want.  It passes the options.
(see phone extension for an example)

[2013-11-12 13:07] #369 closed, assigned to RobinHerbots

[2013-11-12 13:08] #213 closed, assigned to nobody

[2013-11-12 13:16] Babuit25 commented on #377
Robin,

Consider a search box in one of the application module, i have a mask applied to it.

[code]

So in this case, the user can enter
1. uppercase alphabets  and  also
2.  allowChars will allow only two operators ie (% and $) in the target input box.

I have created a  new alias called allowChars, which has the property allowOptionalCharsProp, but this again becomes a different mask.

[code]

[2013-11-12 13:29] RobinHerbots commented on #377
You can access the allowChars by opts.allowChars

2013/11/12 Babuit25 notifications@github.com

[2013-11-13 15:38] RobinHerbots commented on #370
The biggest problem seems the caret positioning.

But I do not own such a win8 phone.  And the emulator does not connect to the web.  Can I remotely debug mobile ie from an emulated phone??  Or is there another way to target mobile IE?

[2013-11-13 17:35] renatojf opened #378 "Optional masks don't work"
If you have a mask like "(99) 9999[9]-9999" and tab out of the input field with only 8 digits (the mask is for 9), you will end up with the result "(99) 99999-999_"

The clearMaskOnLostFocus never gets triggered.

http://jsfiddle.net/Pjuxr/

[2013-11-13 19:57] RobinHerbots commented on #378
https://github.com/RobinHerbots/jquery.inputmask/wiki/Howto:-Entering-optional-masks

[2013-11-13 20:13] renatojf commented on #378
That is SO BAD. I don't even have words to describe how foolish that is. Whatever, I'll search for a better jQuery mask input.

[2013-11-13 20:41] RobinHerbots commented on #378
as I would care  ;-)

[2013-11-13 20:41] #378 closed, assigned to nobody

[2013-11-13 21:38] FransVDB opened #379 "Backspace gives strange results on masks with a fixed numeric part"
Hi,
I ran into a problem when I was testing the inputmask plugin. Backspace gives sometimes very strange results on masks with a fixed numeric part.

Example:
$("#card").inputmask({"mask": "6703 9999 9999 9999 9"});
This will give you a input field with this mask: 6703 ____ ____ ____ _

When you fill in 6703 1234 5678 9012 3 and press backspace once, you get this result: 6703 12_4 5__8 9_12 _
When

[2013-11-13 21:52] RobinHerbots commented on #379
@FransVdb ,

http://jsfiddle.net/5nfN7/1/ (updated reference)

I will have a look at it asap.

best regards,

Robin

[2013-11-14 07:33] FransVDB commented on #379
@RobinHerbots,

Thanks for looking into this.

I've tested your plugin a few months back (my project got shelved then) and I don't remember having this problem before.
So I've done the tests again with release 2.3.0 and everything works fine.

The issue only occurs in release 2.4.0 and the latest dev release. Thought this might help you investigating.

Thanks again!

[2013-11-14 09:26] FransVDB commented on #368
Hi Robin,
I've tested the inputmask plugin on my Android smartphone (Sony Xperia Mini Pro, Android 4.0.4) and the plugin doesn't work on the stock browser. The software and hardware keyboards don't type anything in inputfields that have a mask.
Textfields with masks work as expected though.

I've done some debugging, and it seems that the jquery keyup, keydown and keypress events aren't fired on i

[2013-11-14 10:08] RobinHerbots commented on #379
@FransVdb ,

Fixed in the latest version

[2013-11-14 10:10] RobinHerbots commented on #368
@FransVdb,

Thx for the feedback!

I will have a look.

[2013-11-14 13:14] renatojf commented on #378
You should. Specially when you are developing stuff for other people to use.

[2013-11-14 13:37] err0x1a commented on #378
This is sad, Robin updates the best plugin for masks in the web and you still critique his work?

Good lucky finding another, but this one has an excellent maintenance, a dedication unmatched, bugs that are fixed every day... other masks have different bugs that developers do not care.

You just have to create a routine to run what you want, exactly as described in the link he said.

Oh, I forgot

[2013-11-14 14:06] renatojf commented on #378
When you search for a MASK plugin, you expect it to act like a MASK plugin. If I need to type in the special characters, the spaces, etc. then I don't need a mask.

That's my point. I'm not being a dick, I'm being reasonable because his plugin doesn't do what it say it does in the docs. And I already solved the problem.

[2013-11-14 15:19] RobinHerbots commented on #378
@herz-atk ,

THX !!

@renatojf ,

Actually I do care, but with comments like yours I cannot help you.
And if you already solved the problem, why don't you share your solution to everyone?

[2013-11-14 15:20] RobinHerbots commented on #368
@FransVdb ,

Can you sent the useragent string?

[2013-11-14 19:12] FransVDB commented on #368
@RobinHerbots
Mozilla/5.0 (Linux; U; Android 4.0.4; nl-be; SonyEricssonSK17i Build/4.1.B.0.587) AppleWebkit/534.30 (KHTML, like Gecko) Version/4.0 Mobile Safari/534.30

Done some more testing today, some masks seem to work, others don't. I'll post a jsfiddle example later.

[2013-11-14 20:34] FransVDB commented on #368
@RobinHerbots

I found the problem. If you set the maxlength property of an inputfield as the same length of the mask (or less), none of the keyboard events get fired. Propably because the character is added in the inputfield first, and then the placeholder gets deleted, this would cause the length of the string to be longer then the maxlength, so the events won't fire.

This only happens on Andro

[2013-11-15 09:13] #379 closed, assigned to RobinHerbots

[2013-11-15 09:17] RobinHerbots commented on #368
@FransVdb,

Now they will both work on android stock browser.
See latest tweak in js.jquery.inputmask

You can verify in the jsfiddle example.

[2013-11-15 09:18] RobinHerbots commented on #377
@Babuit25,

Can I close this issue?

[2013-11-15 13:29] FransVDB commented on #368
Alright, it works now. Thanks for the fix!

But I ran into another issue, the auto-suggest or auto-complete feature of the keyboard messes up the mask when typing. If I turn off auto suggest, everything works perfectly.
It seems like the auto-suggest feature inserts multiple characters at once, and the plugin doesn't delete the wrong ones.

I tried this, but no luck so far.
input type="text" id="t

[2013-11-15 14:53] RobinHerbots commented on #368
@FransVdb,

I will need to listen to the input event for android devices.  For Mobile Chrome it already does.

[2013-11-15 20:23] eidylon opened #380 "pull regex from elements' attributes"
Hi, maybe there's a way to do this, if not it would be lovely to have added.

I want to be able to pull a regex validation from an attribute on the selected elements,
something along the lines of the following:

$('input[type=text][regex]').inputmask('Regex', { regex: function () { return $(this).attr('regex') } });

I also tried these:

$('input[type=text][regex]').inputmask('Regex', { regex: $(t

[2013-11-15 20:52] RobinHerbots commented on #380
@eidylon,

This is a great idea, but I will extend it to not only work for passing a regex, but also for other stuff.
I'm thinking of data-inputmask-regex="......", .... and so on, and that the attribute gets merged into the options

BTW, you can already do something simular with the data-inputmask attribute.

<input data-inputmask="'alias': 'Regex', 'regex': 'your regex'" />

[2013-11-18 21:29] andrewrota opened #381 "Browser crashes after number of individual optional characters"
I'm trying to set several optional characters after the mask so the input field looks like this: `_ _ - _ _` but the user can continue to enter a certain number of characters after that without repeating the initial pattern.

The following code has worked for me:

[code]

However, when I increase the number of optional characters at the end of the mask it crashes the browser.

For example, this cr

[2013-11-19 08:39] RobinHerbots commented on #381
@andrewrota ,

The current implementation of optional masks will generate all combinations possible with including and excluding the optional part.  When I look at your example that will be alot of combinations ;-)  That will take too long and the browser will crash.

However, I'm working on that.  (dynamic masks)

But why don't you use a mask like "**-**[****************************]"

[2013-11-19 09:33] RobinHerbots commented on #381
@andrewrota ,

http://jsfiddle.net/wEC2E/4/

[2013-11-19 14:16] andrewrota commented on #381
@RobinHerbots, thanks for your quick response and for the alternate solution.  It looks like the solution you provided will do exactly what I need.  The placeholder option adds the functionality I was looking for where the optional characters have no visible mask.  Thanks!

[code]

[2013-11-19 14:16] #381 closed, assigned to nobody

[2013-11-21 05:05] mtsunu commented on #351
is there a temporary work around for this?

[2013-11-21 09:57] RobinHerbots commented on #351
Can't you store the value as decimal in the database?

Maybe you can parse the value to numeric with jquery.globalize

2013/11/21 Meigire Triassunu notifications@github.com

[2013-11-21 15:03] andrewrota opened #382 "Show mask without hover/focus"
Is is possible to have the mask shown without hover or focus on the input field?  So the mask would be visible even if the user is not focusing or hovering on the input.

[2013-11-21 15:06] andrewrota commented on #382
Apologies for the issue; I figured it out (`clearMaskOnLostFocus: false`).

[2013-11-21 15:06] #382 closed, assigned to nobody

[2013-11-21 15:07] RobinHerbots commented on #382
You have to set the clearMaskOnLostFocus  option to false

2013/11/21 Andrew Rota notifications@github.com

[2013-11-21 15:08] RobinHerbots commented on #382
Ha, at the same time ;-)

No problem!

2013/11/21 Robin Herbots robin.herbots@gmail.com

[2013-11-21 17:23] renatojf commented on #378
Sure, download https://github.com/fabiomcosta/jquery-meiomask and be happy.

[2013-11-21 17:31] mtsunu commented on #351
no.. because I'm using "." as group separator, so 1.000.000 will be stored as 1.00 in the database.

I'm using $.serialize to post the data via ajax. so I can't manually parse the data. so right now i do:

[code]

before calling $.serialize. and then re-attach the inputmask. I'm removing the _inputmask data manually because the inputmask didn't get removed immediately after calling remove
not sure

[2013-11-21 22:37] RobinHerbots commented on #378
@renatojf
Shouldn't there be a minimum age to participate on GitHub?

[2013-11-22 08:31] RobinHerbots commented on #351
You should set the groupseparator depending the used culture.  You can use
jquery.Globalize for that.

Something like

set data-inputmask attribute with "'alias': 'decimal'"

 //define uiculture
            $(":input").inputmask(undefined, { radixPoint:
Globalize.culture().numberFormat["."] });  //and offcourse also set the
separator

ifor jquery.validate you override the validators to also use
jq

[2013-11-22 13:10] mtsunu commented on #351
I don't understand how jquery.globalize will help me.. I wan't to use "." as group separator, i don't care about the culture. and I can't change the database config.

looking at the source code, maybe I can do something with the isMask function?

[2013-11-22 16:07] aveyD opened #383 "gray text for mask, black text for entered characters"
This seems like it may be too much work as you would have to do something on each key press. For example, a date mask:

YYYY-MM-DD

then you start typing:

2013-11-DD

but it would do something like this under the hood:

< span class="blacktext" >2013-11-< /span >< span class="graytext" >DD< /span >

Or is this not a reasonable request?

If this is not possible how do i have the mask always show u

[2013-11-22 17:19] renatojf commented on #378
It should. Specially when you try to develop things for other people.

[2013-11-22 17:56] JCMais commented on #378
Really, this is really necessary?

If you are not satisfied, go on, it's an open source project, with a very permissive license, change it, improve it, send a pull request, or create a fork and work only on it, make your own project from it, and lets us all be happy.

BUT if you are not willing to do anything, and just start blaming the author, shut up and grow up. I'm really tired of people in th

[2013-11-25 15:28] RobinHerbots commented on #351
Can you post some example to make it more clear.  (the exact mask you are using with which options

[2013-11-25 15:29] RobinHerbots commented on #383
@aveyD ,

It's a nice idea, but something for later.

Did you try the yyyy-mm-dd alias?  $(selector).inputmask("yyyy-mm-dd");

[2013-11-25 15:59] aveyD commented on #383
this is the closest behavior to what i want to accomplish:

$('.date-field').inputmask("9999-99-99", { "placeholder": "YYYY-MM-DD", clearMaskOnLostFocus: false });

but when you mouse click in the input i want it to change from the placeholder to " ____ - __ - __ " cause it's a little hard to tell the difference between the mask and the Y's, M's, D's and what numbers the user has entered.

[2013-11-26 03:18] mtsunu commented on #351
[code]

[2013-11-26 09:55] Babuit25 commented on #377
Hi Robin,

I still could not solve this problem, higly require your help. I have a requirement were I should give a new property called allowChars  [  allowChar:"%&" ] . With this property the domain owners can assign whatever operators they want.
Many number of masks are used our project both page level, module level etc, so with those already existing masks, i wanted to introduce one more proper

[2013-11-26 10:05] RobinHerbots commented on #383
@aveyD,

What about this http://jsfiddle.net/CNCW8/

[2013-11-26 10:14] RobinHerbots commented on #377
@Babuit25 ,

Are all your masks defined as aliases?  If so you can pick up the allowChars option from those alias definition.

As I understand you want to define which chars are extra allowed, and all masks should pick that up.  Is that correct?

[2013-11-26 10:31] RobinHerbots commented on #351
http://jsfiddle.net/Xfe9x/

[2013-11-26 11:21] Babuit25 commented on #377
Yes Robert. You are correct. All the masks are defined as alias. Could give please me an example to use that. Here is the part of the definitions and alias

[code]

Now here when i use this mask "uppercase", do i will have to uppercase mask property and also the allowchar &\* operators will be allowed along with that ?
        pageUtils.setMasks("#workFlowFSD2",{
                mask:"uppercase",

[2013-11-26 11:39] RobinHerbots commented on #377
The definition should be a single char.  Maybe you can join the definitions
like below

 jQuery.extend(jQuery.inputmask.defaults.definitions, {
        'A': {

[code]

opts.allowChars+"])$").test(chrs) ;
            },

allowChars: "",
cardinality: 1, casing: "upper", //auto uppercasing definitionSymbol: "^" }
});

2013/11/26 Babuit25 notifications@github.com

[2013-11-26 13:49] Babuit25 commented on #377
Hi Robert,

I have created a seperate mask, called "allowChars", which has the property called allowOptionalCharsProp, which can accept any operators. But as per our idea, i wanted to use the common property which can be used to in any masks

[code]

---

[code]

---

[code]

 But if i use this allowOptionalCharsProp in the below uppercase masks, it does not work,

[code]

 Please let clarify? Is

[2013-11-26 14:55] RobinHerbots commented on #377
It is only possible as the validator in the definition picks up the value
of allowchars.  Otherwise it cannot be done

2013/11/26 Babuit25 notifications@github.com

[2013-11-26 15:06] bmw46033 opened #385 "Try this"
$('#test').inputmask("decimal", {
        radixPoint: ",",
        autoGroup: true,
        groupSeparator: ".",
        groupSize: 3,
        autoUnmask: true
    });

$('#btn').click(function(){
    var data = $("#test").inputmask('unmaskedvalue');

[code]

});

When I run this, the unmasked value still has the separators.  Ideally, would be nice to just get the raw number.

[2013-11-26 15:06] #385 closed, assigned to nobody

[2013-11-26 15:07] bmw46033 commented on #351
$('#test').inputmask("decimal", {
        radixPoint: ",",
        autoGroup: true,
        groupSeparator: ".",
        groupSize: 3,
        autoUnmask: true
    });

$('#btn').click(function(){
    var data = $("#test").inputmask('unmaskedvalue');

[code]

});

When I run this, the unmasked value still has the separators.  Ideally, would be nice to just get the raw number.

[2013-11-26 15:42] aveyD commented on #383
oh yes, that works except i have to change it to this:

$("#date").inputmask("9999-99-99", { placeholder: "_" });

because when i click in the input it changes from the YYYY-MM-DD to yyyy-mm-dd. not sure why this is happening unless it's because there is no definition for 'y', 'm', or 'd'...?
Thanks for your help!

[2013-11-26 15:58] RobinHerbots commented on #383
did you check the jsfiddle?

2013/11/26 David notifications@github.com

[2013-11-26 16:27] aveyD commented on #383
yes, i put the placeholder with "YYYY-MM-DD" on my input and in my JS i put:

$('.date-field').inputmask('yyyy-mm-dd', { placeholder: '_' }).datepicker();

and when the mouse is not in the input it shows up as YYYY-MM-DD but when i click in the input it changes to yyyy-mm-dd and i cannot enter any values. I'm not sure if my datepicker is highjacking something...? If i change it to:

$('.date-field

[2013-11-26 17:02] aveyD commented on #383
Oooohhhhhhh, i figured it out. I was only including the jquery.inputmask.js ... not the jquery.inputmask.bundle.js

so it didn't have those definitions and alias' for 'y', 'm', and 'd'...

edit: you can close this issue, unless you want to keep it on for fixing the half gray, half black text feature.

[2013-11-26 22:54] RobinHerbots commented on #383
@aveyD ,

Great !! ;-)

I 'll keep the issue open for the above idea.  I also want to implement masking on non-input fields or explore was is possible in the direction of colored masks.

Robin

[2013-11-27 11:18] pdecat opened #386 "When selecting an item from the browser's autofill/autocomplete feature, input value is lost on field blur"
When selecting an item from the browser's autocomplete, the selected value is put into the field but then lost when the field looses the focus.

Here is a demo:
1. Go to http://jsfiddle.net/K655F/1/
2. Type 1999 into the "Year" field
3. Exit the field (an alert is shown on all browsers)
4. Submit the form once to enable the browser's autofill/autocomplete (ignore the error)
5. Re-run the JsFiddle

[2013-11-27 11:21] pdecat commented on #386
Same behaviour confirmed with jquery 1.8 through 1.10 and jquery.inputmask 2.3 through 2.6.

[2013-11-27 11:25] pdecat commented on #386
One more thing: the placeholder must be empty to get the browser's autocomplete.

[2013-11-27 14:33] pdecat opened #387 "How to always display the placeholder, not only on focus or hover?"
Hi Robin,

is it possible to _always_ display the placeholder, not only when a field has the focus or when the pointer hovers it?

Regards,
Patrick.

[2013-11-27 16:13] RobinHerbots commented on #387
Yes,

set clearMaskOnLostFocus: false,

2013/11/27 pdecat notifications@github.com

[2013-11-27 16:20] pdecat commented on #387
I tried that, but it does not seem to work : http://jsfiddle.net/AtY8h/1/

[2013-11-27 16:35] RobinHerbots commented on #387
I will have a look at it

2013/11/27 pdecat notifications@github.com

[2013-11-27 16:59] RobinHerbots commented on #387
http://jsfiddle.net/AtY8h/2/

you have to set the boolean false not a "false" string

2013/11/27 Robin Herbots robin.herbots@gmail.com

[2013-11-27 17:05] pdecat commented on #387
Oops ;)

Thanks!

[2013-11-27 17:12] #387 closed, assigned to nobody

[2013-11-27 17:34] mtsunu commented on #351
yes this is what I want..

[2013-11-27 18:11] Rouche opened #388 "Navigation with Tab and mask with Visual"
Hi,
With a Maske dinput like this:

$('#selector').inputmask('999 %', { numericInput: true, placeholder: ' ' });

Navigating with a tab do not select the field and seems to lock in a position where you
cannot write anything.

Fiddle:
http://jsfiddle.net/hwS7Z/3/

Seems to be in relation to the isRTL (because of numeric input i guess), position should be set completelly to the right. It now positio

[2013-11-27 23:25] #377 closed, assigned to RobinHerbots

[2013-11-29 10:32] felixjet commented on #378
@renatojf thx for the link, same problem here

[2013-12-02 08:39] dehaaneric opened #389 "Decimal extension - Cursor position on get-focus, autofill/autocomplete and remove mask on lost focus"
Hi all,

First, many thanks to the author @RobinHerbots for creating this wonderful plugin.

I hope someone can help me accomplish the following, and hopefully it's supported:

http://jsfiddle.net/PenEF/3/
- When I use the tab-key to jump to the next input box, the cursor is placed at the beginning. I would like to see the cursor at the decimal point: **_.**_.___|,00. Although when you 'click' the

[2013-12-02 11:10] Talkless commented on #28
Here I have screenshot of strange mask behaviour in Android 2.2 or 2.3.3:
http://i.imgur.com/CsFNffw.png

It's kinda skipping in accumulating way. More characters I write, more spaces I get.

It's OK in Android 4.x versions though.

My setup:

input.inputmask({
 "mask" : mask,
 "placeholder" : "?",
 "clearMaskOnLostFocus" : false
});

Where mask is made of "*".

Version 2.4.2

[2013-12-02 11:21] Talkless commented on #368
I have problem inside Cordova application in Android 2.2 and 2.3.3. I guess it's using default Android browser..?

Take a look:

http://i.imgur.com/CsFNffw.png

I've wrote comment there (maybe I've better wrote it here..?):
https://github.com/RobinHerbots/jquery.inputmask/issues/28#issuecomment-29609854

[2013-12-02 12:35] RobinHerbots commented on #389
Hi tweek82,

I will have a look at the first.

the clearMaskOnLostFocus only removes the mask when there was no input yet

for the thirth you can use something like see http://jsfiddle.net/PenEF/4/ (tab
out the field)

or you can use the decimal alias.  inputmask("decimal")

2013/12/2 tweek82 notifications@github.com

[2013-12-02 12:42] RobinHerbots commented on #368
@Talkless ,

Thx for the feedback.

I will have a look at it later.

[2013-12-02 13:14] RobinHerbots commented on #388
@Rouche ,

Fix in the latest 2.x branch

Can you have a try.

Best regards,

Robin

[2013-12-02 13:30] RobinHerbots commented on #389
@tweek82 ,

First issue fixed in latest version of 2.x branch.

Can you have a try.

Best regards,
Robin

[2013-12-02 17:17] Macrofig opened #390 "Mask shifts in date field when editing field after text highlighted"
This is easily reproducible in Chrome and Firefox.

If the text is highlighted then replaced the mask seems to shift. For example, the mask `mm/dd/yyyy`, will turn to `01/12/2014` but then, after selecting the data and replacing it with new data, you get: `01/md/dyyy`.

Not a huge issue but it does make one do a double take.

I can try to get more information on which browsers this occurs in if ne

[2013-12-02 21:40] RobinHerbots commented on #390
@Guamaso ,

I wil have a look at it

best regards,

Robin

[2013-12-03 09:58] dehaaneric commented on #389
Hi @RobinHerbots, thanks for your quick reply. I will take a look at the changes as soon as possible and will give my feedback here.

Thnx again.

[2013-12-03 13:53] Rouche commented on #388
Yep. Perfect!

Thanks!

[2013-12-03 13:53] #388 closed, assigned to nobody

[2013-12-03 14:37] RobinHerbots commented on #390
@Guamaso,

The shift in the placeholder is fixed in the latest 2.x branch

[2013-12-03 14:37] #390 closed, assigned to RobinHerbots

[2013-12-03 18:14] Macrofig commented on #390
Awesome, thanks!

[2013-12-04 08:06] dehaaneric commented on #389
Hi @RobinHerbots,

I did some tests and added some more functionality to make it more act like the AjaxControlToolkit MasedEditInput experience.

New jsfiddle: http://jsfiddle.net/4VTtM/3/

<strong>Failed test: navigation between inputs with tab</strong>
Using the tab-key to navigate between input fields, does not place the cursor at the decimal-seperator. But sometimes, after waiting for a few se

[2013-12-04 18:41] RobinHerbots commented on #389
@tweek82,

I tested the tab functionality on your fiddle but it seems ok.

I'm just tabbing through the fields.

[2013-12-06 23:06] iltoga commented on #351
I would like to give a little contribution to this amazing plugin that I found really useful.
I wrote a small patch (using SVN netbeans plugin) to be applied to the un-minified js (I use jquery.inputmask.bundle.js Version: 2.4.6).
This, after value has been  unmasked, will remove all occurrencies of the groupSeparator that has been defined during plugin initialization:

[code]

[2013-12-10 08:15] RobinHerbots commented on #351
@iltoga,

Thank you for the contribution!

I'm going to add an onUnmask fn that will allow the above from within given options.  This will give more freedom of how the unmasking should behave.

[2013-12-10 14:49] RobinHerbots commented on #366
@andywolk ,

You can now use the onUnMask option to hook into the unmasking process.
Anyway, I will also enhance the decimal extension to return a decimal instead of an unmasked string.

[2013-12-12 10:26] adelina1985a opened #391 "[date] selecting/highlighting part of date and typing new figure renders mask to have an offset"
Example date: 13/12/2013
I select the day (first 2 digits: 13) and the field turns into: 1d/dm/m013
I select the month (3rd and 4th digit: 12) and the field turns into: 13/1m/m013
After completing the dates, for instance 11/12/2013, 13/11/2013 respectively, the dates, despite being correct, don't pass validation, namely inputmask("isComplete") returns false.

[2013-12-12 10:33] RobinHerbots commented on #391
@adelina1985a ,

Which version are you using and can you give the exact mask you are using.

[2013-12-14 16:06] MartinVerges opened #393 "integer / decimal allowMinus not working with input type number"
Hello,

wen using a HTML5 input type="number"... field, its not possible to use the allowMinus: false option. If you try to put a minus in this field its working well, but if you change the value by up/down key you can move to values below zero.

Hope you can fix that issue. Thanks for the great plugin.

Best Regards
Martin

PS: Workaround is using min="0" to prevent this problem.

[2013-12-15 16:49] silvioprog opened #394 "Minified version"
Hello,

Where I find the minified version of jquery.inputmask?

Thanks!

[2013-12-15 20:07] silvioprog commented on #394
https://raw.github.com/RobinHerbots/jquery.inputmask/2.x/dist/min/jquery.inputmask.js

[2013-12-15 20:07] #394 closed, assigned to nobody

[2013-12-15 20:31] silvioprog opened #395 "How to set mask in variable"
Hello,

Can I set a masked value in variable using this plugin? E.g. (pseudo code):

[code]

Thanks!

[2013-12-16 08:16] adelina1985a commented on #391
Sorry for the late reply, I thought I would be notified if I started the issue as I don't want to subscribe to the entire repo.
The version in use is 2.4.6 but I'm afraid I don't know what exact mask you're referring to, the date format is dd/mm/yyyy if that helps.

[2013-12-16 08:51] RobinHerbots commented on #395
Hi Silvio,

The inputmask works on inputfields, so you cannot call it directly to
format some value to a masked one.

You can workaround it be defining a input then apply the inputmask, set the
value with jQuery.val and then get the value.

Anyway I like the idea and I will add that functionality.

best regards,

Robin

2013/12/15 Silvio Clecio notifications@github.com

[2013-12-16 09:30] RobinHerbots commented on #393
@MartinVerges ,

Thanks for the input.  I will have a look at it in milestone 2.7

[2013-12-16 22:23] silvioprog commented on #395
Hello Robin,

I fixed it with your idea:

[code]

Please tell me if you implement this feature, I use it in other languages ​​and think beautiful. :)

Thank you very much for your help bro! :+1:

[2013-12-17 09:24] RobinHerbots commented on #395
@silvioprog ,

Valueformatting in jqgrid with the inputmask plugin.  That is a nice use case ;-)