[2014-08-04 08:50] #583 closed, assigned to nobody

[2014-08-04 08:55] RobinHerbots commented on #581
@IefSels, @MatthiasWarmenbol ,

I added ! # $ % & ' \* + - / = ? ^ _ ` { | } ~ as extra possibe chars for email.
I you make a donation I would be happy too ;-)

[2014-08-04 08:55] #581 closed, assigned to nobody

[2014-08-04 09:01] RobinHerbots commented on #579
@laxmikantG ,

Hmmm, I not sure this belongs to a general masking plugin.  Maybe as an extra within the numeric extensions.

[2014-08-04 09:48] RobinHerbots commented on #559
@lucianacampello , @ingro ,

I added a fallback, which does not work 100% as I would want, but at least the value isn't cleared anymore.

Have a try ;-)  In FF all perfect, in chrome and IE the fallback.  Best solution is to always use jquery to set the value which should work in all cases

[2014-08-04 10:11] RobinHerbots commented on #584
see #465

[2014-08-04 10:23] RobinHerbots commented on #585
@rjryerson ,

Fixed in the latest version.

I use some kind of fallback which is not perfect but will do in most cases.

In FF it will be perfect.  In chrome and ie it will pick up the value set by the native value property on mouseover.

Best choice is using jquery.val which will work equal in all browsers

[2014-08-04 10:23] #585 closed, assigned to nobody

[2014-08-04 10:23] RobinHerbots commented on #465
@jason-linthwaite ,

I haven't found the time to further investigate, ... so no further progress

[2014-08-04 10:53] RobinHerbots commented on #588
@swd120 ,

fixed in 3.0.58

[2014-08-04 10:53] #588 closed, assigned to nobody

[2014-08-04 10:54] jason-linthwaite commented on #465
Ok thanks for the update Robin. Do you know if there is anyway to workaround or test the browser and remove masking if it is Android  > 4?

[2014-08-04 12:04] RobinHerbots commented on #591
@SimenB ,

I added amd module support in version 3.0.59 but haven't got the chance to test it.  Can you have a try?

[2014-08-04 12:11] RobinHerbots commented on #587
@YodaJM ,

In version 2.x it was already in, but due to the refactoring in version 3.x it is gone.

I will readd it, thx for reporting

[2014-08-04 12:13] #586 closed, assigned to nobody

[2014-08-04 12:17] RobinHerbots commented on #577
fixed

[2014-08-04 12:17] #577 closed, assigned to RobinHerbots

[2014-08-04 13:43] lucianacampello commented on #559
Thank you :D

2014-08-04 6:48 GMT-03:00 Robin Herbots notifications@github.com:

##

Luciana Campello
@IFPE: Graduando em Análise e Desenvolvimento de Sistemas - 6º Período
Contatos:
- skype: luciana.campello
- telefones: +55 81 86497279(oi)
                          30335771

[2014-08-04 14:12] #559 closed, assigned to RobinHerbots

[2014-08-04 16:37] YodaJM opened #592 "Decimal digits setting doesn't autofill missing digits after decimal point."
In 2.x, when the digits setting was specified, the input field would autofill up to the number of digits set on the blur event. Entering 1.1 would be set to 1.10 if digits is set to 2.

In 2.x, when no decimal point was entered the input field would not autofill a decimal point or any digits. To match the behavior above, entering 1 should be set to 1.00 if digits is set to 2.

This option still co

[2014-08-04 19:30] rizowski commented on #465
@jason-linthwaite You could do some checking on the `navigator.userAgent` for ignoring certain versions. I know Robin uses http://jsfiddle.net/Tpr6N/15/ for testing and has the line I am speaking of. You can do a string `.indexOf()` for certain versions of android and wrap the `$.inputmask()` initializer in an if statement so that only versions below XXX is shown.

[2014-08-04 20:52] jason-linthwaite commented on #465
@rizowski thanks for the comment. I don't suppose you use this plugin and might be able to give a few more words on how you deal with the issue?

Not sure which agents I would be checking for as don't know what it affects and also not done user agent testing before so if you already had a snippet I can drop in it would be good!?

[2014-08-04 21:04] #574 closed, assigned to nobody

[2014-08-04 21:04] rizowski commented on #465
@jason-linthwaite I use this plugin for work, but we ignore all of Android.

[code]

The string.contains function I have specified is written here:
http://jsfiddle.net/Rizowski/XpUe7/

But simply put it is:

[code]

Regex might be simpler or easier since you are wanting to do versions. But for my case just turning it off for android in general is easier until either we find a way to fix it, someon

[2014-08-05 10:11] SimenB commented on #591
Awesome, thank you!
I'm currently on vacation, but I'll be able to test it at work next week (Wednesday)

[2014-08-05 15:15] annames opened #593 "IE 8 js error in inputmask-multi"
Hi - thanks for your attention to the uppercase letters issue! Now I have a fun IE 8 problem. :-) I have already patched this for my own purposes, but maybe you have a better idea.

I had my multiple masksets working fine in IE 10, IE 11, and Chrome, but got what seemed to be an infinite loop in IE 8. A whole awful lot of troubleshooting later, I tracked it down to something in the $.map call in t

[2014-08-05 15:25] annames opened #594 "Line 146 of inputmask.numeric blows up in IE 7"
I wouldn't bother you with an IE 7 problem (sadly, we do still have to support this browser) except that once again I've already patched it on my end and have code to offer you - I'm just not sure if I understand what the code is trying to do, and therefore if my patch will work in all cases.

Line 146 of inputmask.numeric looks like this:

`if (matchRslt["0"][0].indexOf("0") == 0 && pos >= opts.p

[2014-08-05 22:25] ghost commented on #588
Awesome!  Thanks Robin!

[2014-08-06 08:02] RobinHerbots commented on #593
Hallo Ann,

I should pay more attention to the older browsers.  As this I have seen
before.

Hmm but also, the inputmask-multi is only a temporary solution for multiple
masks.  (read far from perfect)  I added a notice in the file.

I fixed it by just checking in the $.map that the ndx is an real index and
not something else like "indexof"'.

I also noticed some errors in the qunit test for ie in

[2014-08-06 08:14] RobinHerbots commented on #594
@annames ,

Thx for reporting and please keep bothering me if you have problems even on older browsers ;-)

I already patched the file.  The ["0"][0] is not needed.  I guess a copy-paste error or a typo.  ;-)

New release will come soon.

[2014-08-06 08:14] #594 closed, assigned to nobody

[2014-08-06 08:15] #593 closed, assigned to nobody

[2014-08-06 12:43] kochelmonster opened #595 "inputmask.numeric escaped suffix does not autoUnmask"
Please watch the bug here: http://jsfiddle.net/4LL46/5/

[2014-08-06 13:05] RobinHerbots commented on #595
@kochelmonster ,

Escaping in a suffix prefix shouldn't be necessary.  I will fix that too.

[2014-08-06 15:34] mjortman opened #596 "Referring to Issue 366"
Hi - I was wondering if you had finished the changes you mentioned in #366 with regards to the change to decimal. I'm using the following data-inputmask, and having the same problem that person did:

'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'

So when I enter $123.45 it's coming in as 12345. You mentioned u

[2014-08-06 16:02] annames commented on #594
Typos happen. :-) Thanks for fixing!

[2014-08-06 16:06] annames commented on #593
I know we're living on the edge a bit with inputmask-multi. :-) With the changes I've mentioned it's working fine for our purposes. (Wasn't I surprised when I found out my time-score fields for test grade recording also had to accept an "X" to indicate the test wasn't taken!)

Thank you for taking the time to look at older IE issues. I really appreciate it!

[2014-08-06 16:48] swd120 opened #597 "Decimal mask oncomplete not firing on delete, or on last char of char group."
Sorry - had to go with JSbin because jsfiddle is down
http://jsbin.com/xuxacola/4/edit

Using char groups of 3  (Same result when changing to other sized char groups)

Enter 123456789 in the input box:
Expected:
1
12
123
1234
12345
123456
1234567
12345678
123456789

Actual:
1
12
1234
12345
1234567
12345678

Enter 123456789 in the input box - then press backspace:
Expected:
12345678

Result:
No eve

[2014-08-06 17:34] lmbelo opened #598 "Interting when copy/paste values"
When I try to copy and paste a value to a masked input the pasted value comes inverted.

See mask representation:
$('#cnpj').inputmask({"mask": "99.999.999/9999-99", "numericInput": true, "rightAlignNumerics": false, "autoUnmask" : true});

if I copy 17.250.633/0001-50 it pastes 05.100.033/6052-71.

Is that a bug or am I doing something wrong?

[2014-08-06 17:56] lmbelo opened #599 "Optional mask incorret when value is set by $.val( )"
When a optional value is supressed the result mask is displayed incorrect.

See mask:

$('#input-fone').inputmask('(99) 9999[9]-9999');

If i set $('#input-fone').val( 4195399778 ) it cames like (41) 95399-778_ and should be (41) 9539-9778

[2014-08-07 01:52] dsmalinsky commented on #192
Sorry to bother, I found the plugin pretty useful, thanks for an excellent piece of work.

I'm having problems also with latin chars like (áéÉ), If I copy & paste into the field, everything is ok, but using the keyboard for input filters the characters from the field.

I defined an extension, but probably I am missing something

[code]

And then

[code]

Thanks in advance,
Diego

[2014-08-07 07:41] RobinHerbots commented on #192
@dsmalinsky ,

I extended the base definitions with a part of the latin charset.  Can you have a try?

The above should work.  Maybe you have to escape some chars in the regex.

[2014-08-07 07:45] RobinHerbots commented on #596
@mjortman ,

Which version do you use?  This should work.  Also specify the autoUnmask: true option

[2014-08-07 07:46] RobinHerbots commented on #598
@lmbelo ,

This is definitly a bug.  I will fix that.

[2014-08-07 07:55] RobinHerbots commented on #599
@lmbelo ,

First, I do understand what you mean.
But on the other hand, ... (41) 95399-778_ is as valid as (41) 9539-9778 according the definition.  So on which base should the plugin decide that the one of the 2 is what the user wants (and in a generic way).

Setting a value like "419539-9778" would always result in (41) 9539-9778.

Anyway for now you can use $('#input-fone').inputmask ( { mask:

[2014-08-07 07:56] #557 closed, assigned to RobinHerbots

[2014-08-07 11:33] babupca opened #600 "default decimal value setting in decimal mask"
We currently use the decimal mask, were we require default two integer digits, which i mentioned in the definitions.

Here,
1.  when i type only 3 then, it value should be 3.00
2.  when i type 3.2, then it should be 3.20

How to achieve this with the decimal mask, please let me know if you have any solution.

jsfiddle link: http://jsfiddle.net/BA251281/wk8yr04z/15/

weight:{
    mask:"decimal",

[2014-08-07 12:03] RobinHerbots commented on #600
@babupca ,

Try with     $("#weighMask").inputmask({
        alias: "decimal",
        integerDigits: 5,
        digits: 2,
        digitsOptional: false,
        placeholder: "0",
        allowMinus: false
    });

But I know in version 2.x there was an autofill for the digits. #592

I will implement this again.

[2014-08-07 12:22] mjortman commented on #596
This was 100% user error. Sorry about that. I was stripping off characters to save to the database in decimal format, and stripped the '.' by accident....

Sorry about that. And thanks again for an amazing masking tool!

[2014-08-07 12:22] #596 closed, assigned to nobody

[2014-08-07 14:02] dsmalinsky commented on #192
Hi, thanks for your quick response!

Just tried again.
a) The problem is only with Latin characters produced by a two-key combination in my spanish keyboard (example: áéíóúÁÉÍÓÚ).
b) Latin Characters produced by a single key work ok (example: ñÑ)

If I paste the characters described in a) they work ok also, the problem is when the user types the latin chars into the field using two-key combination

[2014-08-07 14:15] RobinHerbots commented on #192
@dsmalinsky ,

\u00e5  is that the alt key or ctrl key ?

[2014-08-07 14:21] dsmalinsky commented on #192
Neither. It's a different key. In my keyboard it has a single quote (') and another char (")

[2014-08-07 14:22] RobinHerbots commented on #192
@dsmalinsky ,

Can you set a breakpoint in the keypressEvent and send me the event data

Some extra info http://mylingos.com/keyboards/spanishspain.html

[2014-08-07 15:44] dsmalinsky commented on #192
I don't know if it helps, but I just used this page http://unixpapa.com/js/testkey.html

And when I press the key combination i'm getting:

<pre>
keydown  keyCode=229       which=229       charCode=0
keydown  keyCode=229       which=229       charCode=0
keyup    keyCode=219       which=219       charCode=0
keyup    keyCode=65  (A)   which=65  (A)   charCode=0
</pre>

Does this help?

[2014-08-07 15:46] dsmalinsky commented on #192
And if I type a single key latin char (like ñ) I get

<pre>
keydown  keyCode=186       which=186       charCode=0
keypress keyCode=241       which=241       charCode=241
keyup    keyCode=186       which=186       charCode=0
</pre>

[2014-08-07 17:02] RobinHerbots commented on #192
@dsmalinsky ,

Why does the first don"t show a keypress?

[2014-08-07 17:44] dsmalinsky commented on #192
I've been doing some research and it seems to be a problem shared by all the browsers running on linux (see https://bugzilla.mozilla.org/show_bug.cgi?id=308820)
- I can confirm this bug on Chrome Version 36.0.1985.125 and Firefox 31 under Ubuntu 14.04.
- Using the same browsers on a virtual machine with Windows do not show the bug.

I don't know if a hack is viable in order to solve this in an eas

[2014-08-08 06:22] RobinHerbots commented on #192
@dsmalinsky,

Can you confirm that it works on windows?

Can you have a test with http://jsfiddle.net/robinherbots/1x7j7evo/4/embedded/result/ on Chrome & FF under Linux?

[2014-08-08 06:24] RobinHerbots commented on #465
New test fiddle  http://jsfiddle.net/robinherbots/1x7j7evo/5/embedded/result/

[2014-08-08 06:38] babupca commented on #600
One more senario, where when i tab from one text field to another field, the placeholder gets selected. Now the user wants to enter  .34 only, then it directly enters the value in the integerDigits space.

intial value: 0.00
entered value: .34
output value:  34.00

Please check the jsfiddle link
http://jsfiddle.net/BA251281/wk8yr04z/28/

It will be good, if the user is allowed to enter (dot) follo

[2014-08-08 13:41] nick-skriabin opened #601 "Another showMaskOnHover and showMaskOnFocus problem"
Hello! The problem is that both `showMaskOnHover` and `showMaskOnFocus`
options doesn't work at all.

[code]

[code]

I tried different combinations of those properties with no luck. I also tried to pre-configure plugin by extending `$.inputmask.defaults` but it also does nothing.

**My system:**
OS X 10.10
Google Chrome Version 37.0.2062.58 beta

**Also tested on:**
Windows 7
Google Chrome Versio

[2014-08-08 15:07] ingro commented on #591
I tried with version 3.0.60 but with no luck, I fixed by changing the require function in:

[code]

[2014-08-08 16:28] dsmalinsky commented on #192
I uploaded this test page http://www.stagingenv.com.ar/jquery.inputmask/test.htm
It works as expected on Windows (IE 8, Chrome 36, Firefox 31)
It filters dead key characters like ÁÉÍÓÚ and allows Ñ as described.

Here are the results from http://jsfiddle.net/robinherbots/1x7j7evo/4/embedded/result/:

Results using Chrome Version 36.0.1985.125 under Ubuntu 14.04 typing á on the first input:

<pre>

[2014-08-08 21:48] RobinHerbots commented on #192
Can you also send the result using the second textbox

[2014-08-09 20:55] dsmalinsky commented on #192
Sorry for the delay, here are the results for http://jsfiddle.net/robinherbots/1x7j7evo/4/embedded/result/ typing á on the second textbox. The only browser that produced some output was Firefox 31.0 under Ubuntu 14.04

Chrome Version 36.0.1985.125 under Ubuntu 14.04 typing á on second textbox:
No output

Firefox 31.0 under Ubuntu 14.04 typing á on second textbox:

<pre>
COMPOSITION >>> composition

[2014-08-10 10:37] RobinHerbots commented on #192
@dsmalinsky ,

Ok thx.  Updated http://jsfiddle.net/robinherbots/1x7j7evo/5/

So for firefox on linux we have an alternative.

Can you send for chrome some other inputs.  (only linux)

[2014-08-10 20:45] dsmalinsky commented on #192
In chrome under Linux, all the inputs on the first textbox generate some output. However, all the same inputs on the second textbox didn't generate output.

Chrome 36 under Ubuntu 14.04 typing áéíóú on the first textbox

<pre>
LEGACY >>> keydown: 229: c false: a false: s false: m false ||| ========== LEGACY >>> keydown: 229: c false: a false: s false: m false ||| ========== LEGACY >>> input: undef

[2014-08-11 11:28] SimenB commented on #591
As you can see in this issue https://github.com/jquery/jquery-ui/pull/1029#issuecomment-21145521 from when jQuery UI went and made all of their modules into AMDs, the author of AMD recommends against named modules. So @ingro's solution seems the right one (again, I'm on vacation, so can't test it).

That issue also contains the monster commit that actually added the define calls to the source code

[2014-08-11 11:34] RobinHerbots commented on #601
@nicholasrq ,

Fixed in version 3.0.61

[2014-08-11 11:34] #601 closed, assigned to RobinHerbots

[2014-08-11 11:56] RobinHerbots commented on #591
@ingro , @SimenB

Thx for the help and info.

Removing the prefix seems a good idea.

[2014-08-11 13:50] RobinHerbots commented on #192
@dsmalinsky ,

FF/Linux should work now!

[2014-08-11 20:20] manrueda opened #603 "decimal mask infinite loop (readonly input)"
Hi, recently i make an update of plugin in mi site and one of my decimal declarations now gets into an infinite loop when the input tag have the readonly attribute.

Here a JSFiddle example: http://jsfiddle.net/8dp27wem/

Here is the declaration:

[code]

Anyone know how to solve this or another way to get it work?
Thanks!!

[2014-08-12 05:17] ghost opened #604 "Multiple Masks - Paste / Reset Form"
Hello Robin. I just found 2 possible bugs:
1. When using Multiple Masks, we can't paste on the field (try this value: "65.303.734/0001-95").
2. When using Multiple Masks, and we reset the form, the values on fields with Multiple Mask will appear on mouseover.

Example:
http://codepen.io/anon/pen/LJDtf

Thanks

[2014-08-12 07:14] RobinHerbots commented on #603
@ManRueda ,

In which browser did you test as I don't see the problem in FF or Chrome.

[2014-08-12 07:17] RobinHerbots commented on #604
@spacelab-x ,

The current implementation of multiple masks is just a temporary solution to be compatible with inputmask 2.x.

I'm working on the alternator syntax which will replace the current implementation.

[2014-08-12 09:50] RobinHerbots opened #605 "See #602 - Publish to npm"
Copied from PR #602

You could take a look at something like https://github.com/geddski/grunt-release or https://github.com/cmanzana/node-publish. You could probably combine that with Travis CI to make it happen automatically. I'm pretty new to npm, myself, so I can't be much more help than that.

In the meantime, having a package.json means someone can do npm install RobinHerbots/jquery.inputmask

[2014-08-12 12:42] manrueda commented on #603
@RobinHerbots
I'm working on Chrome 36.0.1985.125 over Windows.

EDIT: I'm sorry, the example was incorrect, the bug happen but not with that example. I'm working in another example.
Thanks.

EDIT 2: I can't recreate the bug in JSFiddle or in another example. Only happen in my code. I rollback to a previous version of the plugin and not have this problem. Do what do you want with the issue, close

[2014-08-12 13:21] artemkaint commented on #591
Removing the prefix was a bad idea. Now I could not use amd with bower because bower connect bundle file

[2014-08-12 14:16] RobinHerbots commented on #591
@artemkaint ,

I didn't remove the prefix yet, but I know with the bundled file there is a problem because then the amd setup is wrong.  He cannot find ./jquery.inputmask.

Maybe I should drop the bundled file because that is a bit against the point of using AMD.

[2014-08-12 17:33] mjortman opened #606 "Date Alias highlighting first character when selected"
Hi - I apologize if this has been mentioned before, but a quick search didn't turn up anything.

I am using the "alias: mm/dd/yyyy" for a date mask, and when doing so it highlights the first "m" when the box gets focus. Normally this is no big deal, but on iPhone 5's after the highlight you are prompted with the Cut/Copy/Paste dialog. I don't see any other mask selecting the first character the wa

[2014-08-12 21:29] dsmalinsky commented on #192
Just updated my sample page http://www.stagingenv.com.ar/jquery.inputmask/test.htm in order to test.
I can only input É as the first char. Cannot type more than that (of course it accepts all the regular chars, but not another dead tilde latin character)

Tested with Firefox 31 under Ubuntu 14.04

[2014-08-13 05:21] gaganshera commented on #600
Hi,
I have a similar scenario. What I need is that initially my input field will show no placeholder.
When a user enters a value in the field, it should automatically append a ".00" to the end of the number.
i.e.
Initially input field will be blank.
Value entered by user: 6
Value shown to user: 6.00

Can you help me out?

[2014-08-13 05:23] RobinHerbots commented on #192
@dsmalinsky,

Can you send me the composition output  for those chars on FF/Linux?   Does the same char(s) work on FF/Windows?

[2014-08-13 05:26] RobinHerbots commented on #606
@mjortman ,

Set the insertMode: true option.  It is for marking the overwrite mode.  You can also toggle the option by pressing the insert key.

[2014-08-13 05:34] RobinHerbots commented on #600
@gaganshera ,

That's the way the above mask should work, as the  clearMaskOnLostFocus: true, is by default true.
But I see that's not the case.  It initially shows the 0.00.

I will fix that.

[2014-08-13 05:39] RobinHerbots commented on #520
@dcbrilho ,

The current implementation of multiple masks is just a temporary solution to be compatible with inputmask 2.x.

I'm working on the alternator syntax which will replace the current implementation.

[2014-08-13 06:33] gaganshera commented on #600
@RobinHerbots ,
thanks for the quick reply.
I was able to get it to work but only by providing a non-empty prefix in the options.
Here's a jsfiddle link:
http://jsfiddle.net/gaganshera/tfe6esyq/

Hope its of some help.

[2014-08-13 07:24] RobinHerbots commented on #600
@gaganshera ,

Thx for the info & jsfiddle.

[2014-08-13 12:23] dsmalinsky commented on #192
Firefox 31.0 under Windows works ok with (http://www.stagingenv.com.ar/jquery.inputmask/test.htm)
I can input ÁÉÍÓÚ without any problem

I assume "the composition output" you talk about are the results on http://jsfiddle.net/robinherbots/1x7j7evo/5/ on the second textbox (if not please send me the right link).

Firefox 31.0 under Ubuntu 14.04 typing áéíóúñá on second textbox:

<pre>
COMPOSITION >>

[2014-08-13 12:53] SimenB commented on #591
Have you considered building the bundled file with r.js? That way people not using AMD would be able to just add the single script line to their site.

Build for pages without AMD: http://requirejs.org/docs/faq-optimization.html#wrap
And you can exclude your own jQuery dependency like this: http://requirejs.org/docs/optimization.html#empty

I don't know if this would break it for people using the

[2014-08-13 14:26] kochelmonster opened #607 "non greedy mask with suffix is only complete, if all chars are filled"
Please see the bug in http://jsfiddle.net/gjaw8rch/8/

[2014-08-13 14:36] henriquelbsouza opened #608 "Email Address Mask sends test@local.__"
I am trying to add a local mail address such as "user@localserver" but he sends user@localserver.__ because of the mask.

I should be able to send "user@localserver".

Best regards,
Henrique

[2014-08-13 14:49] henriquelbsouza commented on #608
Just to you know, adding [] in the '.com' part will solve.

Like that:

[code]

Is that right? I could fix it and commit if you wish.

[2014-08-13 19:06] henriquelbsouza commented on #608
Here is an example.
http://jsfiddle.net/p4z4zfxz/1/

[2014-08-13 20:41] RobinHerbots commented on #603
I found an infinite loop for the decimal extension, but i'm still searching for the cause. So issue stays ipen ;)

[2014-08-14 06:24] RobinHerbots commented on #608
@henriquelbsouza ,

You are right!  Thx for the pull request.

There are also other cases to consider like jsmith@[192.168.2.1].

[2014-08-14 06:24] #608 closed, assigned to nobody

[2014-08-14 06:27] RobinHerbots commented on #591
@SimenB ,

Yes, I'm thinking the same.  Thx for the links.  I will read them.

[2014-08-14 06:31] RobinHerbots commented on #192
@dsmalinsky ,

Grrr, I'm having a works on my machine experience.  I also tried on FF/Linux with a belgian keyboard and I can type all the above chars.

Which exact keyboard layout do you use in Ubuntu?  When I switch to your keyboard layout, my belgian keyboard should behave like yours I guess.

[2014-08-14 09:38] babupca opened #610 "Auto populate with current month and year"
There is a requirement while entering the date field. Like if i enter 20 and tab out, then the current month and year should be auto populated.

dd-mm-yyyy  = 20-mm-yyyy (here month and year should be autopopulated. With the latest 3.60 release is there any way to achieve this requirement.
## jsfiddle link

http://jsfiddle.net/BA251281/90fmzL7f/4/

[2014-08-14 09:51] RobinHerbots commented on #610
@babupca ,

You can find an example in de numeric extension and use the same  but for the date extension.

onKeyDown option

[2014-08-14 11:30] henriquelbsouza commented on #608
@RobinHerbots,

true... do you have any example of an extension that can validate multiple masks? if you have, I can try to fix that too :smile:

Sorry but I am not very familiar with JS and jQuery or regex... hehe

[2014-08-14 12:09] RobinHerbots opened #611 "Make the intelliCheck in checkval fn more intelligent"

[2014-08-14 12:28] manrueda commented on #603
Great, i keep watching the issue for updates....

Thanks.-

[2014-08-14 12:35] RobinHerbots opened #612 "Alternator mask with keepStatic option cannot switch to an alternative at the end"
See  console.log("try alternate match"); in jquery.inputmask.js

ex:

 $("#test2").inputmask({ mask: ["+55-99-9999-9999", "+55-99-99999-9999", ], keepStatic: true });

typing 1212345123 => should result in +55-12-1234-5123
type extra 4 => switch to +55-12-12345-1234

Without the keepStatic option you make the decision while you type as with optional masks.
type 1212345123 => +55-12-12345-123_
type

[2014-08-14 12:36] RobinHerbots commented on #611
also see #493

[2014-08-14 12:47] #503 closed, assigned to RobinHerbots

[2014-08-14 12:54] RobinHerbots commented on #603
@ManRueda ,

Latest version should fix the infinite loop

[2014-08-14 12:54] #603 closed, assigned to nobody

[2014-08-14 12:55] RobinHerbots commented on #532
replaced by alternators

[2014-08-14 12:55] #532 closed, assigned to RobinHerbots

[2014-08-14 12:56] #520 closed, assigned to nobody

[2014-08-14 13:00] RobinHerbots commented on #599
see issue #612

[2014-08-14 13:00] #599 closed, assigned to nobody

[2014-08-14 13:03] #582 closed, assigned to nobody

[2014-08-14 13:06] RobinHerbots opened #613 "Fix mask metadata with alternator syntax"

[2014-08-14 13:09] RobinHerbots opened #614 "Cleanup numeric extensions - remove ugly postFormat overhead"

[2014-08-14 13:13] manrueda opened #615 "Decimal mask error alert"
Hi, i'm trying the last commit, because fix the #603  issue, and now when i create the mask the plugin gives me this message.

**jquery.inputmask: There is probably an error in your mask definition or in the code. Create an issue on github with an example of the mask you are using.**

[code]

The mask definition it's the same of the las issue:

[code]

[2014-08-14 13:16] lmbelo commented on #612
Looks great. I'm going to try it.

[2014-08-14 13:31] RobinHerbots commented on #615
@ManRueda ,

Great and not great!

Not great that your mask still has the infinite loop and great that the plugin can detect  the issue.

I will do some more testing with your mask.  Can you reproduce it in a simple html page?

[2014-08-14 13:33] RobinHerbots commented on #612
@lmbelo ,

Not too fast.  Wait until this issue is fixed.

[2014-08-14 13:34] RobinHerbots commented on #608
See issue #612

[2014-08-14 13:37] lmbelo commented on #612
Hahaha... Waiting for release.

[2014-08-14 13:48] henriquelbsouza commented on #612
:+1: I had this problem using JQuery MaskedInput a while ago.

I don't know if this helps you:
http://jsfiddle.net/3xvxq0wj/1/ (with your example +55-99-99999-9999)
cheers.

[2014-08-14 13:55] RobinHerbots commented on #612
@henriquelbsouza ,

No, that solution works but is just a specific case.  I want a generic solution which can handle multiple cases.  Something like I did with jquery.inputmask-multi (see in legacy), but then better ;-)

[2014-08-14 13:58] henriquelbsouza commented on #612
Yes, that was my solution for Brazilian São Paulo cellphone numbers that added a new digit in front of the others...

Well, if you need anything let me know.

[2014-08-14 14:08] dsmalinsky commented on #192
I'm using Spanish or Latin American keyboard layout. Tried in different computers both layouts with the same results, under Ubuntu 14.04
Please note that the characters ÁÉÍÓÚ are not produced pressing AltGraph or Ctrl+Alt, but instead pressing the dead tilde and then AEIOU.

My layout is pretty similar to Spanish keyboard layout on Wikipedia (http://en.wikipedia.org/wiki/QWERTY#Spanish)

In the im

[2014-08-14 14:20] manrueda commented on #615
I found a few things, the mask definition isn't the problem, even in my system in another page i have the same mask and works well, and in the problematic page every mask crash, even a simple 'decimal'.
My site load pages dynamically by AJAX in modal windows, the first load a date mask works perfect but if y close and open that modal the mask crash.

The plugin keeps some kind of cache or relation

[2014-08-14 14:23] RobinHerbots commented on #192
@dsmalinsky ,

So to type it you just hit the dead key followed by AEIOU.
I need to press Altgraph + the dead key + AEIOU

I will try the spanish keyboard layout and hit the buttons based on the above layout.  Sorry, but those input keys feel strange to me ;-)

[2014-08-14 14:32] RobinHerbots commented on #615
@ManRueda ,

That is interesting.  Maybe the $.inputmask.masksCache.

Maybe try to reproduce with a fiddle which creates an input with an inputmask destroy and recreate.

Just tried to reproduce with adding input with inputmask dynamically but it keeps working.

[2014-08-14 14:49] manrueda commented on #615
I tried too, with differents methods to remove and create the objects. And works well...

[2014-08-15 01:38] dsmalinsky commented on #192
Ok.
Just let me know if you need any other test from me.

Regards,
Diego

On Thu, Aug 14, 2014 at 11:23 AM, Robin Herbots notifications@github.com
wrote:

[2014-08-15 15:09] RobinHerbots commented on #192
Hi Diego,

Can you retest on FF/linux with version 3.0.65

[2014-08-15 16:31] dsmalinsky commented on #192
It's working now!

Just tested on Firefox 31.0 under Ubuntu 14.04

On Fri, Aug 15, 2014 at 12:09 PM, Robin Herbots notifications@github.com
wrote:

[2014-08-15 23:20] shpandian opened #618 "how to get the exact value user entered(with the seperator) in date mask plugin"
Hi Robin

I am trying to use this plugin for date input field in my project  and things looks great until i let user enter the value.

But when i submit the form the input field value is passed with out the seperator.

For ex, if the user enters 12.12.2012, when i try to get the value using (selector).val() it gives me 12122012, which breaks the validation.

could you help me getting this fixed. A

[2014-08-16 02:48] ErikPham opened #619 "Text align input mask"
Hi. I want input switching from text-align: right => text-align: left is how to do? Thank you

[2014-08-16 03:10] shpandian commented on #618
Robin, I have figured out with the autoUnmask option.

[2014-08-16 03:10] #618 closed, assigned to nobody

[2014-08-16 06:29] RobinHerbots commented on #619
@PhucPM ,

I guess you mean the rightAlign option.  Set it to false.

[2014-08-16 06:59] ErikPham commented on #619
Thank @RobinHerbots.
I am also a wonder anymore when I use jQuery to Submit Form then autoUnmask not work. However, when the Submit Button using it to work normally. Is there any way to solve the problem there?

[2014-08-16 21:21] RobinHerbots commented on #192
@dsmalinsky,

Chrome/Linux & FF/Linux should work now

[2014-08-18 13:22] #612 closed, assigned to RobinHerbots

[2014-08-18 21:12] dsmalinsky commented on #192
Great news!

Just tested on Chrome and it works ok now :)

Thanks again!

On Sat, Aug 16, 2014 at 6:21 PM, Robin Herbots notifications@github.com
wrote:

[2014-08-19 06:52] #192 closed, assigned to nobody

[2014-08-19 07:02] RobinHerbots commented on #572
@nickpearson ,

Multi masks is being replaced by the alternator masks.  The change event should work now.

[2014-08-19 07:02] #572 closed, assigned to nobody

[2014-08-19 07:04] RobinHerbots commented on #556
@vbs1 ,

The multi masks are replaced by the alternator.

[2014-08-19 07:04] #556 closed, assigned to nobody

[2014-08-19 12:46] mjortman commented on #606
Thanks for the quick response. I apologize for my delay.

This worked perfectly, both on the mobile browsers I tested, and the desktop. Thanks again!

[2014-08-19 12:46] #606 closed, assigned to nobody

[2014-08-19 15:13] nickpearson commented on #572
Thanks @RobinHerbots! I'll give it a try.

[2014-08-19 15:40] spacelab-sp commented on #604
Hello Robin, there is no more a "Multiple Masks JS", your implementation is done?

I tried with the new JS and Multiple Masks seems that is not working anymore as before. Or I need another JS?

http://codepen.io/anon/pen/Dkuxz

In the example I have the mask ['9999-9999', '99999-9999'].
But when I fill the field, 8 digits become: 99999-999

[2014-08-19 21:11] RobinHerbots commented on #604
You need to specify the keepStatic option see the readme

[2014-08-19 22:11] spacelab-sp commented on #604
I tried, worked a bit... but, when I type 99999-9999 and delete some numbers the mask don't update, and stay 99999-999, the correct would be 9999-9999. In the old multiple masks works :(

Is this a thing to work on or is working as espected?

[2014-08-20 06:54] RobinHerbots commented on #604
@spacelab-x ,

The more I think about, I agree.  When deleting, the mask should revert if possible.
So I will fix that,
For now the mask switches when you delete until the "decisiontaker".  Anyway, you can still use the inputmask-multi code.  You will find it in legacy, althought the new alternators work much better and also allow all other functionality of the inputmask. (callbacks etc..)

[2014-08-20 09:45] RobinHerbots commented on #567
@kochelmonster ,

Fixed in version 3.0.72

[2014-08-20 09:45] #567 closed, assigned to RobinHerbots

[2014-08-20 09:47] RobinHerbots commented on #580
@marumehrts ,

Can you have a retry with the latest version or otherwise create an example in jsfiddle.

[2014-08-20 17:45] manrueda commented on #615
Hi Robin, I'm going crazy... The second time i run inputmask, no matter the object where i run it, the mask definition is the problem. If i run the same defininion over another object the error throw aswell.

There are some kind of method to clean the plugin or something like that? I remove the masksCache of that declaration but then crash.

[2014-08-20 19:36] RobinHerbots commented on #615
@ManRueda ,

Can you simulate the problem in an example?  If not, can you put your site online, so that I can have a look.

What other plugins do you use?  version jquery?

[2014-08-20 19:56] manrueda commented on #615
@RobinHerbots ,

I spent the last few hours trying to reproduce the error in JSFiddle but i can't.
I can't put the site online, it's a members sites and because the security policy i can't.

I'm using jQuery 1.11.0 // jQuery Migrate Plugin 1.2.1 // jQuery UI 1.10.4 // Kendo UI 2013.3.1119

Sorry can't help you more...

[2014-08-20 20:23] RobinHerbots commented on #615
@ManRueda ,

Can you send a stripped down version of the site?  One page?
Are you using some extensions on some prototypes?  array?  object? string?

[2014-08-20 20:39] manrueda commented on #615
@RobinHerbots ,

In the night i'm going to try to make an simple version....

What do you mean with "extensions on some prototypes?". In the inputmask object or in general?

[2014-08-20 20:49] RobinHerbots commented on #615
@ManRueda,

Ok,
Extensions on native javascript objects in general.

[2014-08-21 00:01] spalenza opened #622 "Show mask only when typing fourth number"
Hi, how do show only mask when I typing? for example:

[code]

Show . when type fourth number.

Thanks.

[2014-08-21 00:37] ostrolucky opened #623 "Version: 0.0.0 in head of jquery.inputmask.js"

[2014-08-21 06:49] RobinHerbots commented on #623
@gadelat ,

the js folder contains the dev src.  You must use the files in the dist folder.

[2014-08-21 06:49] #623 closed, assigned to nobody

[2014-08-21 06:53] RobinHerbots commented on #622
@rodolfospalenza ,

try with

[code]

[2014-08-21 09:54] #580 closed, assigned to RobinHerbots

[2014-08-21 11:02] #622 closed, assigned to nobody

[2014-08-21 11:03] #613 closed, assigned to nobody

[2014-08-21 11:51] spalenza commented on #622
Thanks @RobinHerbots but this way show maks. Sorry if I don't give a right explanation, but I try do link [this](https://loja.adena.com.br/clientes/novo) in CPF input.

(:

[2014-08-21 11:52] ostrolucky opened #624 "If input is empty and user submits form using ENTER key, server receives input mask instead of empty value"
jquery.inputmask does good job removing mask from input before submitting when user uses his mouse (because it removes mask from non-focused empty inputs), but fails to do it when user has focus on empty masked input and sends form using ENTER key

[2014-08-21 11:56] spalenza commented on #622
@RobinHerbots following your reasoning I try this way and works fine

[code]

Thanks. :+1:

[2014-08-21 12:28] manrueda commented on #615
@RobinHerbots ,

i can't do anything last night... sorry.
I have a few (no overwrited) functions on Number's prototype, but take it off and the error still there.

[2014-08-21 12:37] RobinHerbots commented on #615
@ManRueda ,

No problem.

I keep your issue for the last to solve before releasing 3.1 ;-)

[2014-08-21 12:52] manrueda commented on #615
@RobinHerbots ,

I'm so sorry Robin, you lost a lot of time searching for this bug....
I found a prototype change on String's object, the mask function. i'm going to kill somebody here... hahaha

There is no bug, only a diabolic function in my code...

[2014-08-21 13:02] RobinHerbots commented on #615
@ManRueda ,

;-)  I'm glad that you found it!!

Can you maybe share the prototype change on the string object, so I can maybe prevent this or make my code more robust.

[2014-08-21 13:16] manrueda commented on #615
@RobinHerbots

Here you got the function, obviously somebody copy and paste this function from some forum... hehe

[code]

Thanks a lot!!

[2014-08-21 13:29] RobinHerbots commented on #615
@ManRueda ,

Huh??? That is the minified mask definition from the numeric alias?
Did you found that in the prototype or in your code?

[code]

[2014-08-21 13:36] RobinHerbots commented on #615
@ManRueda ,

After some verification, no it is not, ... but it is the same code that the alert showed in the first message!!!

[2014-08-21 13:43] manrueda commented on #615
@RobinHerbots ,
This function was in my code... Yes, it's the same, the plugin use this function name inside the plugin?

[2014-08-21 13:46] ostrolucky commented on #624
Solution to this problem is apparently setting autoUnmask to true. Any particular reason why is this not enabled by default?

[2014-08-21 13:56] RobinHerbots commented on #615
@ManRueda ,

No, but have a look at this !!

[code]

It is allowed to pass an object with metadata like
{ "mask": "+32(47#)##-##-##", "cc": "BE", "cd": "Belgium", "city": "Mobile Phones" },

[2014-08-21 14:01] manrueda commented on #615
@RobinHerbots ,

We never use metadata to pass the definition... But the same name of the function breaks the code.
Change my function's name and everything it's wonderful...

[2014-08-21 14:07] RobinHerbots commented on #624
@gadelat ,

The above works because autoUnmask in combination of removeMaskOnSubmit will remove the mask on submit.

It it not enabled by default because some people also want the masked value when getting/submitting a value

But can you have a test with version 3.1.1  (so without the autoUnmask)

[2014-08-21 14:12] RobinHerbots commented on #615
@ManRueda ,

I will adjust my code to take this into account, so all the grief gets his purpose ;-)

[2014-08-21 14:16] RobinHerbots commented on #624
@gadelat ,

I reupdated version 3.1.1 because I was a bit too fast, ... trying to do too many things at the same time.

If you already tried, ... try again

[2014-08-21 14:24] #615 closed, assigned to RobinHerbots

[2014-08-21 15:12] softdes85 opened #625 "Input mask problem in Android 4.2.2 brower"
I have the following problem with inputmask
 $(".phone-input").inputmask("9999-9999999",{ "placeholder": " " });

i'm triying to type and nothing happens, no number appear in textbox.

I'm using jquery.inputmask.bundle.min.js

[2014-08-21 15:45] ostrolucky commented on #624
Nope, still there

[2014-08-21 16:13] corredor28 opened #626 "Optional part update"
Steps to reproduce: http://jsfiddle.net/1e206jnc/2/
1. Fill in the masked input with a value without optional part (e.g. 3:44)
2. Focus elsewhere
3. Return to the masked input
4. Try to update to value with the optional part (like 33:44) without having to manually clear the input before

Is this the expected behavior? If so, is there any way to accomplish that?
Thanks!

[2014-08-21 19:43] lincolnpires opened #627 "Decimal Value for score grade - Value not mask correct when loading"
Hey Robin,
First, congratulations for the plugin. The input masks seems to work awesomely.

I am facing a problem with decimal using alternator static masks:
When the default value is not set, it woks correcty.

![image](https://cloud.githubusercontent.com/assets/4206274/4002275/0e422d4e-296b-11e4-990b-48eb5b3b3d62.png)

But, when the value is loaded, it does not work as I wanted.

Here what I've

[2014-08-21 20:31] ostrolucky commented on #624
Ok, tested some more now.  Let me clarify.  It kinda works - if value is not set by default.

If you focus input below and submit form using enter, it works as it should (server receives empty value)

[code]

If you focus input below, remove default value and submit form using enter, it doesn't work as it should (server receives dd/mm/yyyy)

[code]

[2014-08-21 21:44] penihel commented on #549
View http://jsfiddle.net/8wjsscj0/

I have a error when set the value of input.

i have a observable (ko) with "(12) 1234-1234" value

Set set to input, but the result is "(12) 12341-234_"

I expected "(12) 1234-1234"

Could understand the problem?

[2014-08-21 22:00] penihel opened #628 "phone mask error (mult mask)"
Continuing issue #549
View http://jsfiddle.net/8wjsscj0/

I have a error when set the value of input.

i have a observable (ko) with "(12) 1234-1234" value

Set set to input, but the result is "(12) 12341-234_"

I expected "(12) 1234-1234"

Could understand the problem?

[2014-08-22 07:17] RobinHerbots commented on #624
@gadelat ,

Ok I will have a look at it.

[2014-08-22 07:20] RobinHerbots commented on #626
@corredor28 ,

No that is not expected.  I will have a look at it.

I also updated your fiddle (ref to inputmask)  http://jsfiddle.net/1e206jnc/3/

[2014-08-22 07:22] RobinHerbots commented on #627
@lincolnpires ,

I will have a look at it.

Why don't you use the numeric or decimal extension?

[2014-08-22 07:25] RobinHerbots commented on #628
@penihel ,

I will have a look at it.  Also see #627

[2014-08-22 07:27] RobinHerbots commented on #625
See issue #465

[2014-08-22 11:18] babupca opened #629 "AMD Support in Ver 3.60"
Hi Robin,

Some weeks before i took the latest bundle 3.0.60 ver to update to the old version from Ver 3.0.33.

In 3.60 version, AMD support introduced, is not seems to be working. When i debug and checked, the jQuery object does not have the inputmask object in it.

it say jQuery.inputmask : is undefined

requirejs.config({
    baseUrl: 'js',
    paths: {
           jquery:'lib/jquery.min',

[2014-08-22 11:39] RobinHerbots commented on #629
@babupca ,

See issue #591.

You need to use the files in dist/inputmask when using requirejs (AMD).
The bundled file does not work for the moment in combination with AMD.  And also take version 3.1

[2014-08-22 11:40] lincolnpires commented on #627
Hey, thanks.

Hope I am using correctly the plugin.

I will try that! :+1:

Success.

[2014-08-22 21:17] RobinHerbots commented on #628
@penihel ,

Fixed in version 3.1.3

[2014-08-22 21:18] RobinHerbots commented on #627
@lincolnpires ,

Can you retry the above with version 3.1.3

[2014-08-22 21:32] penihel commented on #628
You the man! Thank you

[2014-08-25 08:07] RobinHerbots commented on #624
@gadelat ,

Fixed in version 3.1.4

[2014-08-25 08:07] #624 closed, assigned to RobinHerbots

[2014-08-25 08:07] RobinHerbots commented on #619
@PhucPM ,

Fixed in version 3.1.4

[2014-08-25 08:07] #619 closed, assigned to nobody

[2014-08-25 08:09] #551 closed, assigned to nobody

[2014-08-25 08:09] #525 closed, assigned to nobody

[2014-08-25 13:21] lincolnpires commented on #627
Hello @RobinHerbots
Now it is working...
Thank you!

If I find any other issue to improve this plugin, I will let you know.

Best regards.

[2014-08-25 13:21] #627 closed, assigned to nobody

[2014-08-25 18:18] manrueda opened #630 "date autocomplete error"
Hi @RobinHerbots ,

I have some problems with date's mask in Internet Explorer. (chrome works well). With the declaration 'dd/mm/yyyy' when i put for example a 3 into the first digit automatically assumes its a 03. I can't enter 3x numbers like 30 or 31.

Here is an example: http://jsfiddle.net/r8eLuwpo/

[2014-08-25 21:12] RobinHerbots commented on #630
@ManRueda ,

Fixed in version 3.1.5

[2014-08-25 21:12] #630 closed, assigned to nobody

[2014-08-25 22:06] RobinHerbots commented on #626
@corredor28 ,

Fixed in version 3.1.6

[2014-08-25 22:06] #626 closed, assigned to nobody

[2014-08-25 22:14] #629 closed, assigned to nobody

[2014-08-25 22:22] RobinHerbots commented on #256
@Macharius92 ,

There is still room for improvement, but currently the fallback will cover most cases.

[2014-08-25 22:22] #256 closed, assigned to nobody

[2014-08-25 23:36] manrueda commented on #630
Thanks @RobinHerbots !!! i'll try it tomorrow morning...

[2014-08-26 02:17] corredor28 commented on #626
Cool, thanks!

[2014-08-26 05:44] link007 opened #631 "the mask does not reset to delete digits, mask adds two zeros to the right"
The mask does not reset to delete digits.

If I have a three digit number to edit and delete it to put only one, the mask adds two zeros to the right and the user has to delete them by hand. Note: I require capture currency type

Ex: change from 100.00 to 5.00

I have 100.00:

![screen shot 2014-08-25 at 10 09 16 pm](https://cloud.githubusercontent.com/assets/1317528/4040408/e88bed84-2ce3-11e4-909

[2014-08-26 11:57] babupca opened #632 "Quint simulator js"
I wanted to use the Qunit Simulator, for testing the entire mask, which i have created. I used the require js to make Qunit masksimulator module to test all the mask.

So tired to use you simulator code in the require js. I added simulator in the path and depencey as jquery in the shim.

But still it is failing when it encountres the $.fn.type method, because of this, the value is always empty and

[2014-08-26 12:03] babupca commented on #629
Thanks Robin

[2014-08-26 12:48] RobinHerbots commented on #632
@babupca ,

Post some example code as otherwise it is a bit guessing for a solution.

you need to pass jquery as $ in the function arguments.

[2014-08-26 13:07] babupca commented on #632
Here is the code
1. The first test case works (the hello world case)
2. Second case fails, in the jQuery("#testmask").Type("00000");. It shows error as
   Error
   Result :
   Expected: "0"
   Result:""
   Diff:"0"""

I have just placed your simulator code, in a seperate js and added it the require js path and in for the dependency as 'simulator:['jquery']

define(['jquery','codes','simulator','QU

[2014-08-26 13:23] RobinHerbots commented on #631
@link007 ,

Yes I know.  I will have a look at it.

[2014-08-26 13:33] RobinHerbots commented on #632
The simulator.js just assumes that jQuery is mapped to $.  Make sure jquery is mapped to $.  There is no closure fn which pass jQuery to $ in the simulator.js.

Maybe I should add that.

[2014-08-26 15:20] barthenry opened #633 "Is white-space char as groupSeparator possible?"
Hello,
is it possible to have white-space character as groupSeparator? When I use something like this:

[code]

I get weird behavior: I can type up to 3 digits, any digit more resets the whole input and I start up with only the last typed digit. Any other string character works well.

I have 3.0.4 version but I tested it with current as well.

[2014-08-26 19:03] penihel opened #634 "knockoutjs "oficial" custom Binding"
Hello, I am using the plugin with knockoutjs

I'm trying several problems to make a complete "customBinding" for knockoutjs.

I usually have problems because it assigns the wrong value to my observable.

Have you thought about creating a sample here on the site? That worked with "autoUnmask: true" and also without.

Thank you

[2014-08-26 21:32] penihel commented on #634
# My Initial Suggestions

### Custom Aliases

[code]

### Custom Bind

[code]

### How use

[code]

[2014-08-28 06:43] babupca commented on #632
I think this i have done already, by wrapping your code with require js stuff. But still it did not return the value to the input field. so the test case fails. I'm still checking why this does not work.

define(['jquery'], function($){
//Your simulator code.
});

[2014-08-28 07:22] RobinHerbots commented on #634
@penihel,

Sounds like a good idea.  But besides following the tutorial of knockout I haven't used it!

Maybe you can work it out and put it on the wiki pages?

[2014-08-28 07:25] RobinHerbots commented on #633
@barthenry,

In theory yes ;-)
, but you have to change the char of skipOptionalPartCharacter to another char.

I never tested it.

[2014-08-28 07:27] RobinHerbots commented on #632
@babupca,

In the simulator there where also some global definitions.  When you wrap them they aren't global anymore.  I updated the simulator.js and the tests.

Can you have another try.

[2014-08-28 13:02] penihel commented on #634
Here is the page
https://github.com/RobinHerbots/jquery.inputmask/wiki/HOWTO:-Integration-with-Knockoutjs

I also do not know the plugin, but I know knockoutjs ('m not the creator, just an experienced user) but I'll be happy to help you.

I created this code and it works for me in my reality, I have not tested all possibilities masks with this integration, then we can get some bugs

[2014-08-28 15:17] penihel commented on #598
I have the same problem

[2014-08-28 19:50] RobinHerbots commented on #634
@penihel ,

Thx!!  I'm curious if there is some interest for bindings to frameworks like knockout and others.  If so I could add a new folder with solutions for the different frameworks available..

[2014-09-01 07:37] babupca commented on #632
sorry Robin. I was on a long week end for Ganapathy festival in india for three days. I will check that  today and let inform you.

[2014-09-01 08:20] RobinHerbots commented on #632
@babupca ,

Relax, no problem!
I just have googled at Ganapathi Bappa ;-)  I hope you enjoyed the festivities!

[2014-09-01 10:36] babupca commented on #632
@RobinHerbots

:) Yes Robin. This is the first (Ganasha) god to be worshipped in my religion, after that only other gods will follow (like shivaperumaan, muru god, perumal god etc). I really enjoyed three days with my family.

I tested it now, but still i get the error. I tried to show up the require js, combined with the jquery inputmask in fiddle. but it is not working.

My small request, if you

[2014-09-01 12:50] RobinHerbots commented on #632
@babupca ,

Try with http://jsfiddle.net/bofxce7e/6/

Just press run one more time if it doesn't load directly.

[2014-09-01 13:04] macklay opened #635 "broken phone number"
if im enter this numbers in input with phone input mask plugin: 126659859
masked input  show phone with only one bracket: +1(2665-9859
(this bug work too on demo page http://robinherbots.github.io/jquery.inputmask/)

please help

[2014-09-01 13:42] macklay opened #636 "disable "autofill" functionality"
How to disable "autofill" functionality in inputmask phone extension?

[2014-09-01 14:28] RobinHerbots commented on #635
@macklay ,

What would be the correct phone number?  For which country?

[2014-09-01 14:30] RobinHerbots commented on #598
@lmbelo , @penihel ,

Fixed in the latest version.

[2014-09-01 14:32] lmbelo commented on #598
Great. I'm going to try it right now.

[2014-09-01 16:14] penihel commented on #628
I still have a problem.

step by step
1 - Open and run http://jsfiddle.net/8wjsscj0/
2 - Click in "set" button
3 - Focus on "#test3" input, and type 5, the result is ok
4 - now, continuing with the focus on control, type backspace

the result on input is "(12) 12341-234_"
but it was expected just "(12) 1234-1234" again

I clear enough?

[2014-09-01 16:22] penihel commented on #628
Seems to be the same problem reported at the end of this issue #604

[2014-09-01 19:10] RobinHerbots commented on #628
Yes it is the same as #604

[2014-09-01 19:10] #628 closed, assigned to RobinHerbots

[2014-09-02 05:30] macklay commented on #635
@RobinHerbots,

Im try check this mask from phone-codes.json:
{ "mask": "+1(###)###-####", "cc": ["US", "CA"], "name_en": "USA and Canada", "desc_en": "", "name_ru": "США и Канада", "desc_ru": "" }

This mask allow "+1" and any 10 digits, and when Im try enter 126659859 - this numer must be allowed by this mask. But after 8 digit Im cant enter digits anymore and furthermore, see broken number with

[2014-09-02 07:37] RobinHerbots commented on #635
Hi Nick ,

I will have a look.

2014-09-02 7:30 GMT+02:00 Nick Smirnov notifications@github.com:

[2014-09-02 08:32] paramby commented on #410
jQuery inputmask plugin

Issue in IE - Object doesn't support property or method 'preventDefault'
Resolution:-
1) In jquery.inputmask.js (unminified version)

Find/Search & Replace/Comments as below-
if (opts.showTooltip) { //update tooltip
$input.prop("title", getActiveMaskSet()["mask"]);
}
//if (e) e.preventDefault();  -- Comment this line and Replace with below line
if (e) e.preventDefault ? e.

[2014-09-03 14:55] lmbelo opened #637 "inputmask( {alias: numeric} ) not being cleaned in Google Chrome and IE"
I'm with some trouble when cleaning the folowing mask in Google Chrome and IE:

$(".container #input-number").inputmask({ alias: "numeric", groupSeparator: ".", groupSize: 3, radixPoint: ",", digits: 2, autoGroup: true, digitsOptional: false, placeholder: "0", rightAlignNumerics: true });

I have this routine to empty fields, set fields to "":

function clearFields(form){

[code]

}

function call

[2014-09-03 15:02] lmbelo commented on #599
It really works great!

Great attention.

Thanks for your work.

[2014-09-04 07:12] RobinHerbots commented on #637
I will have a look at it

2014-09-03 16:56 GMT+02:00 lmbelo notifications@github.com:

[2014-09-04 07:44] RobinHerbots commented on #637
@lmbelo,

Can you put an example in a jsfiddle as I don't have a problem here.  Tested in Chrome

[2014-09-04 09:57] babupca commented on #632
Thanks Robin. This worked.

[2014-09-04 09:57] #632 closed, assigned to nobody

[2014-09-04 15:26] mtomas-mpm opened #638 "val('') function sets the empty mask"
Hi,

I've found an issue in version 3 of the control, when I set the empty value on the control, it sets the empty mask:
Sample on jquery.inputmask v3
http://jsfiddle.net/mftpfdn2/1/

On inputmask v2, it works as I expect:
http://jsfiddle.net/nrjeptfc/3/

I have found no method to clear completely the input, or any property to force this behavior, perhaps I could work with the autounmask and unmas

[2014-09-04 16:09] sverhagen opened #639 "Question about letter "s""
I do not understand why the following configuration lets me enter some numbers where the letter `s` should go?

[code]

Expected input mask:

[code]

Actual input mask:

[code]

[2014-09-04 20:37] darkjedioverlord commented on #228
Has this been implemented?  If so, how is it used?

[2014-09-05 12:58] RobinHerbots commented on #639
@sverhagen ,

This is because the s is defined as a definition in the date.extensions.

You have to escape the s by \\

"mask": "ID: 9{+} De\\scription: _{+}"

[2014-09-05 13:30] RobinHerbots commented on #638
@mtomas-mpm,

Fixed in version 3.1.11

[2014-09-05 13:30] #638 closed, assigned to nobody

[2014-09-05 13:55] RobinHerbots commented on #228
@darkjedioverlord ,

No not yet.

[2014-09-05 13:55] RobinHerbots commented on #637
@lmbelo ,

Can you retry with the latest version

[2014-09-05 16:10] sverhagen commented on #639
@RobinHerbots Thank you, that was really helpful.

You have crafted a great plugin, and that is much appreciated. Again, I say, much appreciated. But the entire experience would possibly be a little greater if you were able to spend a little bit of time on the documentation. Some things already were hard to understand, and this particular question I'm  unsure how I would have ever answered that fr

[2014-09-05 19:39] jpirok opened #640 "Question: How can I get the mask applied to an element?"
if I have an element:

< input id="maskedelement" type="text" >

and the following javascript:

$().ready(function() {
    $('#maskedelement').inputmask("999-999");
})

what line of code would I use later on to see the mask that is applied to #maskedelement?

Thanks!

[2014-09-05 19:46] jpirok commented on #634
If anyone is interested, I have created a basic Typescript definition file for jquery.inputmask.  I'm sure it's far from complete, but it has served me well so far.

https://github.com/jpirok/Typescript-jquery.inputmask

[2014-09-05 20:44] mtomas-mpm commented on #638
Great! Thanks a lot Robin! Temporally I've solved it using onunmask with similar code you posted! But I'll undo it to use the new version! Better!

Marc

[2014-09-07 21:11] RobinHerbots commented on #639
@sverhagen,

This case is actually described in the readme, but I agree that I whould spend some time to documentation.  See issue #533

[2014-09-07 21:11] #639 closed, assigned to nobody

[2014-09-07 21:13] RobinHerbots commented on #640
@jpirok,

So you want to retrieve the 999-999?

[2014-09-08 09:35] garex commented on #465
Im' tried compositionupdate — nothing there. Under real device through remote debug.
Only "input" event fires — there is also empty :(

As a dirty workaround we can emulate "change" event by polling input value every X ms and remove "bad" chars or update value to meet mask.

[2014-09-08 11:45] jpirok commented on #640
Yes.
On Sep 7, 2014 5:13 PM, "Robin Herbots" notifications@github.com wrote:

[2014-09-08 12:29] jpirok commented on #640
The purpose of this is that I don't see a function for 'isValid' that I can use on an inputmask, like:

$('#maskedelement').inputmask('isValid')

so I need to use the inputmask static method:

$.inputmask.isValid($('#maskedelement').inputmask("getunmaskedvalue"), $('#maskedelement').inputmask("getmask"))

to get a true false on the current inputmask.

[2014-09-08 13:15] #605 closed, assigned to nobody

[2014-09-08 13:16] #591 closed, assigned to nobody

[2014-09-08 14:02] RobinHerbots commented on #640
@jpirok ,
Can't you use the onComplete callback?

I will add the mask to the getmetadata fn

[2014-09-08 14:12] jpirok commented on #640
Ok, so the onComplete callback implies/means that the mask has been
satisified.  I guess I didn't read it that way.  Thanks for your help!

On Mon, Sep 8, 2014 at 10:02 AM, Robin Herbots notifications@github.com
wrote:

##

Jason Pirok

[2014-09-08 18:31] dudo opened #641 "phone autocomplete leaves a 1"
`$('.phone).inputmask("(999) 999-9999")` is behaving a bit oddly for me. When the browser tries to auto complete the phone number, all that is left is a 1.

![screen shot 2014-09-08 at 11 30 09 am](https://cloud.githubusercontent.com/assets/2963800/4190516/3e08f6a6-3786-11e4-8a32-d713934ab05e.png)

This is happening in 2 separate apps for me. Am I doing something wrong?

[2014-09-08 21:28] RobinHerbots commented on #641
@dudo ,

See issue #386

[2014-09-09 07:13] babupca opened #642 "support for email Mask with subdomain in the address"
Robin, I tried with the latest email mask available in inputmask extension. This seems to be not supporting the email with the sub domain. It is removing the some of the email address. May be we should change the mask below.

mask: "_{1,20}[._{1,20}][._{1,20}][._{1,20}]@*{1,20}[._{2,6}][._{1,2}]",

babu@us.lufthansa.com
email@subdomain.domain.com

jsfiddle link
http://jsfiddle.net/BA251281/vngkd5b

[2014-09-10 07:10] necrosisoff opened #643 "Multiple masks doesn't work properly"
Robin, good day!

I've trying to do credit card number masked input. My config is `{"keepStatic":false,"mask":"(9{4}[ ]9{4}[ ]9{4}[ ]9{4})|(9{4}[ ]9{6}[ ]9[5])|(9{9}[ ]9{9})"}`. On focus in input I see right placeholders like `____ ____ ____ ____`, but while I typing mask transforms into somthig unexpectable like `123412341234 ____`. That I doing wrong?

Thanks

[2014-09-10 07:56] RobinHerbots commented on #643
Hi Viktor,

Why do you add the optional spaces?  Better would be
 $("#test7").inputmask({"keepStatic":true,"mask":"(9{4} 9{4} 9{4}
9{4})|(9{4} 9{6} 9[5])|(9{9} 9{9})"});

But the alternation doesn't work!  I will have a look at that.

best regards,

Robin

2014-09-10 9:10 GMT+02:00 Viktor Donos notifications@github.com:

[2014-09-10 23:39] dudo opened #644 "Money question"
I'm curious if this plugin can accomplish money masking, so that there are always 2 digits on the right?

So, for `$74.25`, the flow would go: `$0.00` `$0.07` `$0.74` `$7.42` `$74.25`

Does that make sense? I currently have `.inputmask("decimal",{digits: 2, autoGroup: true});` and it locks the last 2 in place, but isn't giving me what I'm thinking.

http://jsfiddle.net/scottned/8Jpdd/4/ - found th

[2014-09-11 10:09] babupca commented on #642
I have updated within my module
jQuery.inputmask.defaults.aliases [‘email’].mask = new mask.

[2014-09-11 10:20] senja006 opened #645 "Mask causes problems in ie"
nekinshop.ru.
In the form (http://joxi.ru/cXURVP3JTJD8fOJ_UWA) click to book call (http://joxi.ru/43URVP3JTJDDfKnTuqo). Errors appear on the blank fields (http://joxi.ru/IHYRVIwyTJDpAr19v-E). Put the cursor in the first field (http://joxi.ru/UnYRVIwyTJCGedEqs34),  and then in a field where you installed the mask number, without having to fill the first field (http://joxi.ru/o3YRVIwyTJBweTkv098). А

[2014-09-11 11:31] RobinHerbots commented on #642
@babupca ,

I will update the alias, but didn't found the time todo so.

[2014-09-11 11:34] RobinHerbots commented on #644
@dudo ,

I'm currently working on the numeric alias.  I will keep you informed

[2014-09-11 11:53] babupca commented on #642
@RobinHerbots ,

I understand Robin. But many Thanks, for your continued effort to support us and develope the plugin more in your busy timings.
Just wanted to say, as per my knowledge, there is none other plugin in the market which has this much functionalities. Great plugin.

[2014-09-11 16:26] dudo commented on #644
Thanks! http://plentz.github.io/jquery-maskmoney/ you might be able to 'borrow' some code from this repo... /shrug. If you need a hand, just point me to the appropriate file =)

[2014-09-11 22:26] RobinHerbots commented on #645
@senja006 ,

Which version do you use of the inputmask which version of IE and which masks with options are you using?

[2014-09-12 03:59] senja006 commented on #645
ie11, ie10. http://joxi.ru/gW8SVP3JTJDYfDx_BwQ. http://joxi.ru/QW8SVIwyTJDIApKLzn0

[2014-09-12 10:07] RobinHerbots commented on #645
@senja006 ,

Can you simulate the problem in a jsfiddle.

[2014-09-12 11:23] senja006 commented on #645
can not reproduce this problem. Only online nekinshop.ru. I have all the validation is based on your plugin. And soon surrender the project

[2014-09-12 11:36] RobinHerbots commented on #642
@babupca ,

Thx, ... just submitted the updated email-alias

[2014-09-12 11:36] #642 closed, assigned to nobody

[2014-09-12 11:41] RobinHerbots commented on #645
Can you try with the latest version.  I will have a look at nekinshop.ru (as far I can read it ;-) )

In which script are you setting the inputmask?

[2014-09-12 11:55] babupca commented on #642
Thanks Robin
On 12 Sep 2014 17:06, "Robin Herbots" notifications@github.com wrote:

[2014-09-12 11:58] senja006 commented on #645
I have installed through Bower and thought that this is the last version of the plugin. It turns out there is. With the latest version of everything is working fine. In ie no errors. Thanks for the help.
http://joxi.ru/i-ASVP3JTJDafFgO_PQ. CodeKit can not determine the version of the plugin.

[2014-09-12 12:04] RobinHerbots commented on #645
@senja006 ,

Great!

[2014-09-12 12:04] #645 closed, assigned to nobody

[2014-09-12 12:19] RobinHerbots commented on #644
@dudo ,

Can you have a try with the currency alias (see numeric extensions)

Usage $(input).inputmask("currency");

[2014-09-12 13:35] RobinHerbots opened #646 "Make nested quantifiers possible"

[2014-09-12 14:14] barofusa opened #647 "A dot (.) in Regex Causes Errors"
The following is a simple example of a regular expression as "[0-9]+.[0-9]".

Issue number #1:  Once the dot is typed, nothing can be updated to the left of the dot.

Issue number #2:  Using the backspace does not remove characters left of the dot, but just repeatedly copies the character over proceeding characters.

It appears the dot is treated differently than other characters.  Is there a flag

[2014-09-12 14:20] RobinHerbots commented on #647
@barofusa ,

Is this about the regex alias?

[2014-09-12 14:23] barofusa commented on #647
Sorry I am still a bit new to using the inputmask, but I believe the answer is yes.

Simple example : $('input').inputmask("Regex", { regex: '[0-9]+.[0-9]' })

[2014-09-12 14:52] RobinHerbots commented on #647
@barofusa,

No problem.  I will have a look at it.

[2014-09-12 17:27] dudo commented on #644
![screen shot 2014-09-12 at 10 25 06 am](https://cloud.githubusercontent.com/assets/2963800/4253563/ced001d4-3aa1-11e4-8575-7c01d01b0983.png)

`.inputmask("currency", { radixPoint: "." })` default radix seems to be a `,`? When I try to change it, I get some very weird behavior when deleting numbers (the pic). Also, not sure why that character isn't showing up? I'm on the newest version of chrome.

[2014-09-13 15:37] ghost opened #648 "Is there a method like $el.inputmask("destroy")"
To prevent a memory leak i think we need a method like "destroy". Or i couldnt see it?

[2014-09-14 10:30] RobinHerbots commented on #648
@hjunior81 ,

Try remove

[2014-09-15 08:04] ghost opened #649 "Cannot delete phone number extension, cannot replace characters in input field"
On Mac Safari ( 7.0.6 ), Chrome 37.0.2062.94, Ubuntu FF 31.0 .
On your demo webpage : http://robinherbots.github.io/jquery.inputmask/
when I enter phone number i.e. 44444444444 ,then try to delete that and I cannot delete first 2 numbers.

Second issue ( i think ) - why it’s not possible to overwrite/replace input text? - if I made a mistake somewhere in the beginning of the input I need to backsp

[2014-09-15 08:49] RobinHerbots commented on #649
@jbernatowicz,

For the second issue you can press the insert on your keyboard to switch from insert mode to overwrite mode like you have in other editors.

For the first, ... this is due to the maskdefinitions in the phone-codes.js.  You do not have to delete the extension, just start typing.  Anyway the phone alias needs some tuning and extra work, I will fix delete of the extension when I find

[2014-09-15 09:06] ghost commented on #649
For the second .. I'm Mac user since a week, and I don't know where's the insert key, if I don't I assume other users can have the same problem and I need my app to be as user friendly as possible.
Is there a way to enable character overwrite in inputmask by default ?

I also think I've found another issue : I couldn't use backspace at all - after investigating I realized that it's not compatibile

[2014-09-15 09:52] RobinHerbots commented on #649
@jbernatowicz ,

Yes you can set the insertMode: false option.

For jquery.hotkeys, ... can you verify wheter the backspace raises a keydown event and which keycode does it send?

[2014-09-15 10:00] RobinHerbots commented on #644
@dudo ,

You used the same symbol for groupseparator and radixpoint.  Anyway this case is know handled in code.

[2014-09-15 10:03] ghost commented on #649
keycode : 8

[2014-09-15 11:19] RobinHerbots commented on #649
Can you make a jsfiddle with a demo

[2014-09-15 12:24] RobinHerbots commented on #635
@macklay ,

The latest version allows for the input again.

[2014-09-15 15:15] nnnx opened #650 "problem with "'+7 (999) 999-99-99'""
i have html:

[code]

its work good,
but if value of input but when the input value starts with a number 7 - input becomes empty

examle: "+7 (705) 123-45-67"

[2014-09-15 16:56] penihel commented on #604
Anything new? I'm having this problem with an application in production

[2014-09-15 17:24] dudo commented on #644
ah, I didn't realize I had to update the groupSeparater as well, thank you!

similar to #376... Is there a way to start typing to the right of the radix? If you want $15.00, with no cents, then it's easy as it is, but if you want cents, you have to arrow over, or click into the right section. Is there a way to make $15.00 `1``5``0``0`?

another 'duh' on my part... I read through the source code to

[2014-09-15 18:00] dudo commented on #644
Just for clarification, is there a way to accomplish  `1``5``0``0` instead of `1``5``.``0``0`? Setting decimalProtect doesn't seem to do it.

[2014-09-15 19:24] RobinHerbots commented on #644
decimalProtect: false will auto switch to decimals when the maximum number
of integer digits is entered.  When setting true is will not continue in
the decimals until the radixpoint is entered.

You can accomplish the 1500 but not with the decimal extension.  I
personnaly dislike typing 1500 when I mean 15.00, t doesn't feel right, but
more like that you are familiar with it.

Btw you do not have

[2014-09-15 19:26] RobinHerbots commented on #650
@serious-andy ,

I will have a look, probably the value is filtered in checkval.  Maybe I should add an option to disable the intellicheck.

[2014-09-15 19:29] RobinHerbots commented on #604
@spacelab-x , @penihel ,

Ok I guess it"s about time to start fixing this ;-)

[2014-09-15 19:44] Ettemlevest commented on #633
Hi Robin,

traditionally in Hungary we are using a white-space character for separating number groups. Thanks to your advice this plugin can represent numbers in Hungarian style. I changed the skipOptionalPartCharacter option to a character that I hope will not broke the functionallity.
But I just wanted to let you know that this can be possibly an issue in the future for others aswell.

[2014-09-15 19:53] RobinHerbots commented on #633
@Ettemlevest ,

Thx for the info.  Maybe I can add that kind of logic into the decimal extension.  So that this works out of the box.

[2014-09-15 20:41] spacelab-sp commented on #604
I'm glad that you have not forgotten :+1:

Thanks Robin

[2014-09-16 09:47] RobinHerbots commented on #633
@barthenry , @Ettemlevest ,

The latest commit allows the groupSeparator : " " out of the box

[2014-09-16 09:47] #633 closed, assigned to RobinHerbots

[2014-09-16 13:52] macklay commented on #635
@RobinHerbots, im trying latest version and version in demo page. My broken phone(126659859) worked in chrome, but still not worked correctly in firefox

[2014-09-16 18:51] cstansbury commented on #644
Robin - I tried your suggestion to use `$(input).inputmask("currency");` - and it works like a charm _except_ for the scenario where I type in a value whose last 2 integer digits are "00". Example 100, 100.00, 200, 1500.00. In these cases the input mask removes the first two integer digits (yielding 1.00, 1.00, 2.00, 15.00, respectively).

[2014-09-16 20:04] RobinHerbots commented on #644
@dudo,

I have missed some part of you r message, as I repeated what you said, ... sorry for that.

@cstansbury,

Can you explain a bit more as I don't see a problem here!

[2014-09-16 20:25] cstansbury commented on #644
@RobinHerbots - My apologies - I isolated the code in question and have determined that it's our code at fault. Everything looks great... Thanks for the great library!

[2014-09-16 20:42] RobinHerbots opened #651 "Numeric alias: I want RTL shifting digits over integers !!"
see #644

[2014-09-16 20:43] RobinHerbots commented on #644
No problem.  Thx

[2014-09-16 20:47] cstansbury commented on #644
@RobinHerbots Just for your information - the problem was due to the fact that we had code (that existed prior to using input mask) that would would listen to the input's change event and format the value. Apparently the inputmask doesn't like you changing the value during a blur/change event. The issue we were seeing here is reproduced via this fiddle: http://jsfiddle.net/cstansbury/4c8kup3f/2/.

[2014-09-16 20:59] RobinHerbots commented on #644
@cstansbury ,

Thx for sharing, ... I will have a look at it, just to see if i can make my code more robust

[2014-09-16 21:02] RobinHerbots commented on #635
@macklay ,

Strange, ... I guess the sorting isn't working properly in FF.  I will verify that.

[2014-09-17 14:22] manrueda opened #652 "Error while typing a decimal number"
When i was typing a decimal number in a field with a simple decimal definition, the code throws a 'Invalid operand to 'in' : Object expected'

In the code (jquery.inputmask.numeric.extensions.js:148) i saw the line:

[code]

but i think must be something like this:

[code]

Because the buffer is an array and inArray only works with arrays and no with strings.
I done the change in my local code and

[2014-09-17 15:38] RobinHerbots commented on #652
Thx!!

I have submitted a patch with the change.

2014-09-17 16:22 GMT+02:00 Manuel notifications@github.com:

[2014-09-17 16:18] #652 closed, assigned to nobody

[2014-09-17 21:54] camj256 opened #653 "Regex on Android Chrome 37 and 38 - Letters Repeating"
All input masks except Regex seem to work, and correctly on Chrome 38 beta on Android now, including backspace, so thats good!

I'm not sure if this was mentioned but I believe a lot of previous problems people may have encountered with Chrome on Android were due to this - Just got fixed and released in Chrome Beta 38 on 9/10/14
https://code.google.com/p/chromium/issues/detail?id=118639

However,

[2014-09-18 07:52] jamezamm opened #654 "Date and Time Mask, while inputting a date without a time"
I have a date and time mask, the code is shown below:

[code]

Is there a way, that when the user inputs a **date without a time**, the time placeholder part (**hh:mm:ss**) is removed.
_In other words, I wish that the time portion is optional._

Thanks in advance.

[2014-09-18 08:10] RobinHerbots commented on #654
Try with:

$("#element").inputmask({
            mask: "1/2/y [h:s:s]",
            placeholder: "**/**/____ **:**:__",
            alias: "datetime",
            hourFormat: "24",
            showMaskOnHover: false
        });

2014-09-18 9:52 GMT+02:00 jamezamm notifications@github.com:

[2014-09-18 08:21] jamezamm commented on #654
Thanks for the swift reply. It worked.

Is there a way to refresh/update input mask? As I am using jquery date picker with input mask.
After selecting a date, the time portion doesn't get removed immediately.

[2014-09-18 08:24] jamezamm commented on #654
Solved. On datepicker select, I manually triggered the blur event of the field. Thanks again. Great plugin.

[2014-09-18 08:27] jamezamm commented on #654
After inputting the date only. The time portion is being removed. But the time portion mask is being shown on hover, even while I have **showMaskOnHover: false**.

Any thoughts?

[2014-09-18 09:33] RobinHerbots commented on #654
Use the greedy: false option

2014-09-18 10:27 GMT+02:00 jamezamm notifications@github.com:

[2014-09-18 11:57] RobinHerbots commented on #640
@jpirok ,

You can get the mask by calling the getmetadata.

[2014-09-18 11:57] #640 closed, assigned to nobody

[2014-09-18 13:50] kot-lex opened #655 "Strange behavior while using delete key."
Hi Robin!

Thank you for your work of developing such a great plugin!
I've faced a strange issue with delete key.
Here is jsfiddle: http://jsfiddle.net/yeswuuzg/ and gif screencast http://g.recordit.co/vs9wLAuEcY.gif
Steps to repoduce the issue:
Paste (or type) "12 OK 345678" into text field.
Then move your caret to the very beginning of the string and try to delete data with delete key.
It will o

[2014-09-18 14:13] kot-lex commented on #655
And one more thing thats's probably connected.
If you type two digits into text field then move caret to the begining and try to type anything it won't appear. Looks like issue with validation (result in onKeyValidation callback is false while the character is correct and fits the mask)

[2014-09-18 14:43] kot-lex commented on #655
The issue from the last comment only appears when i use custom definition.

[2014-09-18 14:44] RobinHerbots commented on #655
@kot-lex ,

I updated the jsfiddle a bit to make it more clear why the delete stops and other things are happening.
http://jsfiddle.net/yeswuuzg/2/

I will have a further look at it.

[2014-09-19 06:02] kot-lex commented on #655
@RobinHerbots,
Thank you! It's definetly more clear now.
I suppose it's will be possible to override that logic in a custom validator function, isn't it?

[2014-09-19 13:02] ostrolucky opened #656 "Stop limiting length of email prefix"
Please stop limitting length of email prefix to 20 chars. Maybe change it's mask from
`mask: "*{1,20}[.*{1,20}][.*{1,20}][.*{1,20}]@*{1,20}[.*{2,20}][.*{2,6}][.*{1,2}]",`
to
`mask: "*{1,}[.*{1,}][.*{1,}][.*{1,}]@*{1,20}[.*{2,20}][.*{2,6}][.*{1,2}]",`?

I don't see a point in limiting it, as now you can't type in e-mails like alexandra.schwarzbacherova@domain.com

[2014-09-19 19:51] JCMais commented on #656
It should be 64 btw. http://tools.ietf.org/html/rfc5321#section-4.5.3.1

Related: http://stackoverflow.com/questions/386294/what-is-the-maximum-length-of-a-valid-email-address

[2014-09-19 21:28] dudo commented on #644
@RobinHerbots ... Can we make the cursor default to the position to just left of the radix? It's currently `|0.00`, but it would seem to make more sense as `0|.00`, and even blank out the first zero?

[2014-09-22 06:52] RobinHerbots commented on #656
@gadelat , @JCMais ,

I know the email alias is not fully compliant yet.  There are still some limitation in the use of quantifiers in combinaton of optionals with quantifiers inside.

For now I will just put the length to 64.

[2014-09-22 06:52] RobinHerbots commented on #644
@dudo ,

I can do the caret positioning.

[2014-09-22 08:32] nlfonseca commented on #650
I have the same problem.

[2014-09-22 12:28] RobinHerbots commented on #604
@spacelab-x ,

Fixed in the latest commit.

[2014-09-22 12:34] err0x1a commented on #604
Great Robin, is working!

Well, thanks again for your dedication, soon I will donate a bit more for the project.

[2014-09-22 12:42] RobinHerbots commented on #604
okido, .. how many names do you have?  ;-)

[2014-09-22 12:42] #604 closed, assigned to RobinHerbots

[2014-09-22 12:44] err0x1a commented on #604
haha, sorry... I have two, spacelab-x is for the company where I work.

[2014-09-22 12:45] babupca opened #657 "onhover for the decimal mask placeholder"
If i use the decimal mask with the place holder, the placeholder is always shown.. and the value is setting by default in the text field.

Just want to know is it possible to show the place holder (0.000) value only on focus similar like the flno mask in the jsfiddle. Currently i tried to use showMaskOnHover: true, showMaskOnFocus: true both, but it is not working for the decimal masks.It is worki

[2014-09-22 13:11] thiagotalma opened #658 "Normal and minified bundle"
I do not know the reasons you have changed the configuration to generate just a bundle file minified.

This is not ideal. Development need to debug something and only with the minified file is impossible.

I suggest you generate the 2 files, normal and minified .

[2014-09-22 13:21] RobinHerbots commented on #658
@thiagotalma ,

Hmm, yes, ... i should leave minification up to the dev using the lib actually.

It's due to the new build with grunt & uglify task.  , ... I will change it.

[2014-09-22 14:48] #658 closed, assigned to nobody

[2014-09-22 14:50] RobinHerbots commented on #657
@babupca ,

I will fix that.

[2014-09-22 17:14] d8v15 commented on #409
there three topics pointing to each other as the answer, yet none gives the answer. any update on min/max function?

[2014-09-22 19:00] zakness opened #659 "cutting does not remove value"
When trying to perform a cut event on an input, the value is not removed.

http://jsfiddle.net/zakness/kLhttc7s/

Tested in Firefox, Chrome, and Safari.

**update:** on Mac

[2014-09-22 19:05] zakness opened #660 "Error thrown when using onBeforePaste"
1. Include `onBeforePaste` option in call to `inputmask()`
2. Try pasting something into the masked input

[code]

http://jsfiddle.net/zakness/jwwactrw/

Commenting out the `onBeforePaste` option removes the issue.

Tested in Firefox, Chrome, and Safari.

[2014-09-23 06:39] babupca commented on #657
Thank you.

[2014-09-23 06:56] kot-lex opened #661 "Feature request: add a few more callbacks like onKeyPress"
Hi!

I've been trying to fix a bug with delete key described in https://github.com/RobinHerbots/jquery.inputmask/issues/655 in an onKeyDown callback. But I've realized that onKeyDown is being called when keydownEvent has already been handled the pressing of the delete key.

Is there a possibility to add callbacks for all key events (keyPress, keyDown, keyUp), which will be executed before inpumask

[2014-09-23 09:19] RobinHerbots commented on #660
@zakness ,

The onbeforepaste must return a value, ... anyway I patched it to check for a return.  And updated the readme

[2014-09-23 09:19] #660 closed, assigned to nobody

[2014-09-23 09:20] RobinHerbots commented on #659
@zakness ,

Do you mean a cut bu rightclick select cut?  CTRL-X works.

[2014-09-23 09:22] RobinHerbots commented on #661
You can bind to the events.

[2014-09-23 10:02] kot-lex commented on #661
@RobinHerbots Yes, I can. But I'd like to get access to the inputmask data like buffer, caret postition, etc.

[2014-09-23 10:29] kot-lex commented on #659
@RobinHerbots I have the same issue. Cut doesn't work when I call it from context menu or in mobile browser (safari on ios).

[2014-09-23 13:59] RobinHerbots commented on #661
@kot-lex ,

Issue #655, does not need to be solved by manipulating the keydown or keypress events.  The behavior is causes by a position mismatch due to the empty placeholder. The caretposition should be corrected to the position as if there where a placeholder.

Another possible fix is to use a custom definition which contains the logic to fix the above.

[2014-09-23 14:01] RobinHerbots commented on #409
@d8v15 ,

This is not yet implemented.

[2014-09-23 16:18] zehunter opened #662 "when empty input and remove mask and apply the mask again the mask is not good"
Hi,

i try to use a check box to enable/disable 3 fields (type=text) or enable them.

mask is like this :

 $("#multi_1").inputmask("€ 999 999,99", {numericInput: true,"placeholder": " "});

==> i can see "€     ,   " in field.

my code is quite simple like this :
             if(this.checked)
                    {
                        $("#multi_1").removeAttr('disabled');

[2014-09-23 16:39] RobinHerbots commented on #662
@zehunter ,

I will have a look at it.

[2014-09-23 16:43] RobinHerbots commented on #644
@dudo ,

In the latest verion this is already the case.

[2014-09-23 16:45] #654 closed, assigned to nobody

[2014-09-23 16:46] RobinHerbots commented on #649
@jbernatowicz ,

This is fixed in the latest commit.

[2014-09-23 16:46] #649 closed, assigned to nobody

[2014-09-23 16:47] kot-lex commented on #661
@RobinHerbots
As I can see, problem in that issue is a bit deeper.
The behavior is extactly the same with non-empty placeholder.
Check out this fiddle: http://jsfiddle.net/yeswuuzg/3/

[2014-09-23 17:10] RobinHerbots commented on #657
@babupca ,

The latest commit fixes the issue.

[2014-09-23 17:10] #657 closed, assigned to nobody

[2014-09-23 17:12] RobinHerbots commented on #659
@zakness , @kot-lex ,

Yep, right click select cut is not handled.

I will fix that.

[2014-09-23 18:26] thiagotalma commented on #658
@RobinHerbots  The idea was to have the two versions of the file   :smirk:

The original file for the development and minified for production.

[2014-09-23 19:17] zakness commented on #659
@RobinHerbots I haven’t tested this on Windows yet, but on Mac both right-click _and_ cmd+X do not work.

[2014-09-23 19:19] zakness commented on #660
Ah, thanks!

[2014-09-23 19:28] markbrouch opened #663 "keepStatic does not work with certain patterns"
When using multiple masks, I found that `keepStatic` does not work with certain mask patterns.

`"mask": ["99-9999-99","99-99999-99"]` works as expected, allowing for an optional 7th digit by making the middle group length 5 instead of 4.

`"mask": ["99-99999-9","99-999999-9"]` (moving the second dash over 1 space) does not allow user to input a 7th digit.

[2014-09-23 20:38] dudo commented on #644
I'm on `.26` now, but I can't seem to get the incantation correct. Sorry for seeming dense. =( How do you get the caret to default to just left of the radix? It doesn't seem to be the default `currency` behavior.

[2014-09-23 20:57] RobinHerbots commented on #644
When you look at your initial jsfiddle and you click into the input. Where is the caret?

[2014-09-23 21:00] dudo commented on #644
http://jsfiddle.net/msj5qfu1/5/ these are the options that I'm actually using.

to answer your question, the caret is in the correct location on the original fiddle, with the prefix.

[2014-09-23 21:25] markbrouch opened #664 "Mask does not work on input type="tel""
When using `input`s with attribute `type="tel"` input masks will not be applied.

[2014-09-24 07:22] RobinHerbots commented on #664
@markbrouch ,

Only if the browser supports the input type, the mask is not applied.  So this is expected.

[2014-09-24 07:42] kot-lex commented on #659
@RobinHerbots I've found that cut doesn't work correctly even with ctrl+x. It "cuts" value from the field, but clipboard remains empty.
When I'm trying to cut text via context menu the result is the opposite: text is copied to clipboard, but still present in the field.

Tested in Chrome, Firefox, IE11 on Windows 8.

[2014-09-24 08:06] zehunter commented on #662
thx!

[2014-09-24 10:15] RobinHerbots commented on #644
@dudo ,

Ok check with the latest commit.

[2014-09-24 10:16] RobinHerbots commented on #658
@thiagotalma ,

I know ;-)

Fixed!

[2014-09-24 11:44] laxmikantG commented on #564
Hello Robin,
Any specific reason you have removed this?
Please let me know.
Thanks

[2014-09-24 11:52] thiagotalma commented on #658
:+1:

[2014-09-24 14:38] markbrouch commented on #664
This seems like a bad approach. How would you suggest applying a phone mask to a field in modern browsers and still be able to use the `type="tel"` attribute so that mobile users get the correct keyboard?

[2014-09-24 17:37] dudo commented on #644
you're a fantastic person... do you have a beer fund I can donate to?

[2014-09-24 20:28] spacelab-x opened #665 "Multiple Mask - Can't add another char if leave the input"
Hi Robin,

if the first part of the mask is completed, and I leave the input, It's not possible to add another char, only if I delete some value.

See the example:
http://codepen.io/anon/pen/feDtI

[2014-09-24 22:58] dudo commented on #644
@RobinHerbots, I'm sorry... http://jsfiddle.net/msj5qfu1/6/

This text field is in a form, and the form is pre-populated with a value of `0.0`, and upon form failures, and whatnot, will get updated with an appropriate actual value of `465.35` or whatever. That seems to break our use case...

[2014-09-25 07:23] hapcoun opened #666 "The problem of input in mask "decimal""
Hello
Sorry for my English
I use a inputmask "decimal". There is a problem. When you edit a number and if after this number 0 - it disappears.
For example:
2 000 000
Select the 2 and enter another number, for example 3.
Result 300 000
And so on
40 000
2 000
100
50
2

[2014-09-25 07:28] RobinHerbots commented on #644
@dudo ,

I've seen that you already found the beer fund ;-)  Thx.

Yes,, .... I see  I will have a look.

[2014-09-25 07:39] RobinHerbots commented on #644
@dudo ,

The caret positioning to the caret should only be when the initial value is empty or equal to the template. when there is a value like 123.45, it should not, because otherwise you cant select a portion in the integer part or add a value before 2 for example.

[2014-09-25 08:00] RobinHerbots commented on #664
@markbrouch ,

It is a lack of time approch.  I added inputtype tel to the supported types.  Can you have a test and give some feedback.

[2014-09-25 08:02] RobinHerbots commented on #665
@spacelab-x ,

I don't have a problem here (chrome)  On which browser did you test?

[2014-09-25 08:03] RobinHerbots commented on #666
@hapcoun ,

I will have a look.

[2014-09-25 08:05] RobinHerbots commented on #564
@laxmikantG ,

No.

I will start working on it.

[2014-09-25 08:54] RobinHerbots commented on #661
@kot-lex ,

See http://jsfiddle.net/yeswuuzg/4/
You need to specify the same definitionsymbol for the new definition as definition 9 to allow shifting values over.  The deletes in the updated fiddle both work.  But the Z definiton also allows other chars then the 9 def.  In that case the shifting is not allowed.

[2014-09-25 08:54] RobinHerbots commented on #663
@markbrouch ,

I will have a look

[2014-09-25 08:55] RobinHerbots commented on #659
@kot-lex ,

Thx for the feedback.  I will implement this when time allows.

[2014-09-25 08:58] RobinHerbots commented on #656
@gadelat, @JCMais ,

Modified the length.

[2014-09-25 11:34] RobinHerbots commented on #644
@dudo ,

Ok fixed

[2014-09-25 12:12] abhishekbhalani opened #667 "Can I make mask for the Time format?"
I have started use this plugin. In my application there is time format like eq. 12:40 AM OR 12:25 PM

so how can I mask on text box.. can you pls reply me.

[2014-09-25 12:17] RobinHerbots commented on #667
Try with

$(selector).inputmask("'hh:mm");

2014-09-25 14:12 GMT+02:00 Abhishek notifications@github.com:

[2014-09-25 13:12] spacelab-sp commented on #665
Hmm, sorry Robin, try now adding the value on the begin? (here is Chrome too..)

[2014-09-25 14:05] RobinHerbots commented on #665
@spacelab-x ,
Ok, but that is another case.  So you fill in mask1, put the caret to the top and try typing again.  That is because the alternation is not triggered in that case.

I can fix that.

[2014-09-25 14:08] spacelab-sp commented on #665
Ok, thanks!

You must have more important things to solve, do on your time.
This is not a bug that cause much problems.

[2014-09-25 14:28] RobinHerbots commented on #564
@laxmikantG ,

There is already a first fix.
Not all cases are covered, but that will come soon.  I also want this to work for decimals

[2014-09-25 15:26] markbrouch commented on #664
Works great, thanks for your quick response!

When can I expect to get this feature in a bower update?

[2014-09-25 22:09] RobinHerbots commented on #667
Use hh:mm t

[2014-09-26 00:02] dudo commented on #644
More beer coming your way...

That fix worked, and all is well. Pressing the `.` to get over to the cents is no good for accounting folk, though, apparently.

Can we make an option for `'currency', {rtl: true}`?

It'd function very similar to how it does now, except the caret would start `0.00|` on the far right, and fill in the 0's as you typed? $15.50, just being `1``5``5``0`, obviously.

Lemme

[2014-09-26 07:08] RobinHerbots opened #668 "Currency alias: set value in change event problem"
@cstansbury commented 9 days ago
@RobinHerbots Just for your information - the problem was due to the fact that we had code (that existed prior to using input mask) that would would listen to the input's change event and format the value. Apparently the inputmask doesn't like you changing the value during a blur/change event. The issue we were seeing here is reproduced via this fiddle: http://jsfi

[2014-09-26 07:09] RobinHerbots commented on #664
@markbrouch ,

It will be available on bower today or monday.

best regards,

Robin

[2014-09-26 07:09] #664 closed, assigned to nobody

[2014-09-26 07:10] #667 closed, assigned to nobody

[2014-09-26 07:24] RobinHerbots commented on #644
@dudo ,

Ok this, is the start of a party  ;-)  Thx.

Why are the accounting folk against innovation?, ... because we all fear change.

Anyway see #651

I shall see if I can fit the rtl option into the existing currency alias.  An other option is to use multiple masks.

[2014-09-26 09:20] Talkless opened #669 "Wishlist: changelog"
I am currently resuming some suspended project which uses 2.5 version, and I noticed that there are no changelog is this project. It would be nice to have changelog at least from now on... It's kinda feels risky to upgrade without looking through (possibly) braking changes.

[2014-09-26 09:26] laxmikantG commented on #564
Okay, Thanks

[2014-09-26 10:05] RobinHerbots commented on #669
@Talkless ,

Can't you have a look at the commits.  That is a changelog ;-)

[2014-09-26 12:00] RobinHerbots commented on #669
You can click on the release and then you see the commits for that release.

[2014-09-26 12:00] #669 closed, assigned to nobody

[2014-09-26 12:04] babupca opened #670 "Limiting the values in the between 0-100.00"
Is there any option in numeric or decimal mask by which we can limit the values between 0-100 for the decimal mask or numeric mask. When i checked the mask plugin, i don't see any such options. In future is there any possibility of adding it.

I'm aware that, we can use the regex to achieve this requirement. But want to know whether is there still any possible options in our mask plugin.

$(target

[2014-09-26 12:09] RobinHerbots commented on #670
@babupca ,

See issue #228

I still need to implement this.

[2014-09-26 18:57] GBirch commented on #587
I would like to add my vote for re-adding this feature.  Unless you have, and I don't understand how to enable it (I've tried setting the new radixFocus to true, but that doesn't seem to do it).  I can't find a version number in the code.  As a by-the-by, thank you for your work on this plugin - it's great!

[2014-09-26 20:49] cstansbury opened #671 "allowPlus:false, allowMinus:false generates invalid regex?"
The following code that exists on [line 207 of the numeric extension](https://github.com/RobinHerbots/jquery.inputmask/blob/3.x/js/jquery.inputmask.numeric.extensions.js#L207) generates and uses a regex of "[]" if both allowPlus and allowMinus are set to false. This breaks in IE8, and (not being the regex expert) I'm left wondering if this is really considered a valid regex at all?

[code]

The te

[2014-09-29 04:41] babupca commented on #670
ok Robin.

[2014-09-29 07:30] RobinHerbots commented on #671
@cstansbury ,

I just removed the regex and replaced it with a simple check. on + & -

[2014-09-29 07:30] #671 closed, assigned to nobody

[2014-09-29 07:33] RobinHerbots commented on #663
@markbrouch ,

The above pattern now works.  It is possible that there are other masks which won't work.  But keep reporting so that I can fix them overtime.

Best regards,

Robin

[2014-09-29 07:33] #663 closed, assigned to RobinHerbots

[2014-09-29 07:41] babupca opened #674 "numeric mask not seems to be allowing 001"
Just noticed, the the numeric mask is not allowing the numbers starting from zero. (for example : 001)

When i entered '0' and again one more zero, it does not allow the second zero. Is this the default behaviour. But at the same time when i use mask:"9" it is allowing me to type 001.

0 - allowed.
00 - it is not allowed.
wanted to achieve this form  - 001

[2014-09-29 07:46] #656 closed, assigned to nobody

[2014-09-29 08:02] RobinHerbots commented on #674
@babupca ,

For a pattern like you described you need to define your own mask.

inputmask("999")

[2014-09-29 08:53] RobinHerbots commented on #659
@zakness , @kot-lex ,

can you have a test with the latest commit.

[2014-09-29 10:23] babupca commented on #674
@RobinHerbots ,

In Version: 3.0.33.1, the numeric mask was accepting the numbers 001, but in this version
Version: 3.1.26, it is not accepting this type of number.

[2014-09-29 11:08] RobinHerbots commented on #674
@babupca,

Yes, because in the older version this wasn't handled yet.  What is wrong with using 999?

[2014-09-29 12:45] mirzagitov opened #675 "Lost value when inserting via JQuery"
http://jsfiddle.net/3od342wj/

[2014-09-29 13:55] RobinHerbots commented on #675
See #650

[2014-09-29 14:19] markbrouch commented on #663
Great thanks! I found another pattern which I will open a new issue for.

[2014-09-29 14:20] markbrouch opened #676 "Multiple masks pattern not working - with keepstatic"
Hi, I found another pattern that does not work with multiple masks:
`mask: ["99-9999-9", "99-9999999-9"]`

[2014-09-29 14:52] babupca commented on #674
:+1:
I just solved the issue by renaming the numeric to numeris in numeric input mask extension

Initially i created an custom alias named  'numeric' extended with  jquery.inputmask.defaults.aliases. After some time i took the new version, in that the aliases name was "numeric", here since i already created a custom aliases name, this was overriding the core numeric alias.

So  i commented by my c

[2014-09-29 14:54] #674 closed, assigned to nobody

[2014-09-29 16:30] dudo commented on #644
Stack level too deep...

[2014-09-29 19:25] RobinHerbots commented on #644
Is this a request for an update or something else?  Or are you joking about the circular reference in the issues  ;-)

[2014-09-29 19:26] RobinHerbots commented on #635
@macklay,

The current commit should fix the issue in FF.

Can you confirm.

[2014-09-29 19:31] RobinHerbots commented on #675
I know why, but I haven't a proper fix yet.   You can enforce the intellicheck in the checkval function to false to fix the issue.  But that breaks some other use cases.

[2014-09-29 19:32] RobinHerbots commented on #456
@nitishdhar ,

This should be fixed by the latest commit.

[2014-09-29 19:35] RobinHerbots commented on #676
This one is related to #665

[2014-09-29 20:03] RobinHerbots commented on #653
@camj256 ,

When Chrome v38 is out I will verify.

About the regex, this is only occuring on android Chrome?  First guess is a regex malformation (if that is correct english)

[2014-09-29 20:05] RobinHerbots commented on #631
@link007 ,

This is fixed

[2014-09-29 20:05] #631 closed, assigned to RobinHerbots

[2014-09-29 20:12] dudo commented on #644
Just playin'!

[2014-09-29 21:15] link007 commented on #631
Excellent! Thank you!!

[2014-09-30 22:45] richard-flosi opened #677 "Hide mask when input has no value"
I'm looking to hide the mask when the input has no value.

Specifically, I'm using an altered version of the `currency` alias and I'd like to hide the mask from the input field when it is empty. I am using a `prefix: '$'` so I get the `$` in the input field, but I'd prefer to only have the prefix/mask show when the user enters a value.

Looking at the definition for numeric.mask it would appear I

[2014-10-01 07:49] RobinHerbots commented on #677
@richard-flosi ,

Try setting the clearMaskOnLostFocus option to true.

[2014-10-01 08:13] #635 closed, assigned to RobinHerbots

[2014-10-01 08:13] #456 closed, assigned to RobinHerbots

[2014-10-01 08:14] #659 closed, assigned to RobinHerbots

[2014-10-01 13:41] abhishekbhalani commented on #667
thanks Robin, but I test with given format "hh:mm t" mask http://jsfiddle.net/89pa2w7m/2/
can you check it please.

[2014-10-01 13:53] zakness commented on #659
works great, thanks!

[2014-10-01 14:00] RobinHerbots commented on #667
Check this updated fiddle http://jsfiddle.net/89pa2w7m/3/

2014-10-01 15:41 GMT+02:00 Abhishek notifications@github.com:

[2014-10-02 13:23] artemkaint commented on #676
+1
if maskset has two similar masks ('+372-####-####', '+372-###-####') inputmask behaves poorly http://joxi.ru/cVEtVP3JTJAATJKkpAs  ie mask became +372-#######-####.

[2014-10-02 13:43] artemkaint opened #678 "Hide mask's items that have multiple options"
For example
[''+370(##)###-##-##','+375(##)###-##-##'']

When user enter '37' widget will show first mask with empty third element - +37 _ ( _ _ ) _ _ _ - _ _ - _ _

Similar solution was implemented in https://github.com/andr-04/inputmask-multi

[2014-10-02 15:21] vijjj opened #679 "decimal mask with digitsOptional and placeholder; value trims with jQuery.val(aDecimalString)"
Hi Robin,

One integer digit is getting trimmed when a decimal value in string format is set using jQuery('#input').val("aDecimal") in input:text field having options digitsOptional:false and placeholder:'0'  set in 'decimal' alias.

Quite strange that document API works while jQuery API fails

<pre>
test("inputmask(\"decimal\") - digitsOptional:false placeholder:\"0\" jQuery.val ", function () {

[2014-10-03 06:59] RobinHerbots commented on #678
@artemkaint ,

That is a good idea.

[2014-10-03 07:01] RobinHerbots commented on #676
@artemkaint ,

I'm working on it

[2014-10-03 07:04] RobinHerbots commented on #679
@vijjj ,

I will have a look at it.  It could be helpfull  if you created a jsfiddle with the different test with options that you already did.

[2014-10-03 08:54] artemkaint opened #680 "Browser login autofill doesn't work in version 3.1"
value does not set and polyfills does not work. This work good before

[2014-10-03 08:56] Teyras opened #681 "Inconsistent behaviour of date extensions"
Greetings,

I'd like to make a datetime input with a "hh:mm dd.mm.yyyy" format (the mask is "h:s d.m.y"). I noticed that when I use for example "dd.mm.yyyy" and hit the "5" key, the input automatically fills the day with "05" and moves the cursor to the month part. Can this be achived with the first mask? I don't see a reason for this behaviour not being consistent for all date "fields".

EDIT:  I

[2014-10-03 15:23] manrueda opened #682 "Decimal - Ignore groupSeparator and radixPoin"
Hi @RobinHerbots

A few days ago i get the las change of the plugin to my project and i notice a malfunction in the groupSeparator and radixPoint. Even if i put the chars in the opts of the mask, the input use de default points.

Here is a jsfiddle with the bug: http://jsfiddle.net/ManRueda/pg83az9t/

Thanks in advance...

[2014-10-03 21:51] RobinHerbots commented on #682
For the first two add a t. You have a typo for radixPoint. For the integer i will have a look.

[2014-10-03 22:43] manrueda commented on #682
Oooh @RobinHerbots sorry, i feel like an idiot with this kind of errors...

Here is an update of the fiddle, if i put the the radixPoint option in the integer mask works fine.
http://jsfiddle.net/ManRueda/pg83az9t/1/

And i'm sorry again...

[2014-10-04 05:28] CurtisFuller opened #683 "'Currency' extension has doesn't allow decimals after auto group"
I have am using the "numeric.extensions.js"  and am using the currency alias.  (This also happened with numeric alias)...  Numbers up to $ 99.99 work great.  Once it gets to $100, it stops allowing the user to enter a decimal.    The same problem exists on your demo page (http://robinherbots.github.io/jquery.inputmask/) if you try to enter a number such as 123.45 it will not work.

I think I've be

[2014-10-04 06:20] vijjj commented on #679
Sorry for the delay.
Here is the JSFiddle http://jsfiddle.net/vijjj/cyp43cbq/

One observation: The issue occurs when the number of decimal part matches the 'digits'. Example ("4000.00") is there in the JSFiddle

[2014-10-05 22:36] RobinHerbots commented on #681
@Teyras ,

Your mask uses the simple definitions for dates.  Have a look at the datetime alias.  Start to extend on that alias and it should work.

Anyway I plan to rewrite the datetime alias to allow it to pass a date/time format to be used and automate all the rest.

[2014-10-05 22:38] RobinHerbots commented on #683
@Curtisf ,

I will fix that asap.

[2014-10-05 22:41] RobinHerbots commented on #682
I updated the integer alias to reset the radixpoint to ""

[2014-10-05 22:41] #682 closed, assigned to RobinHerbots

[2014-10-06 14:36] manrueda commented on #682
Hi @RobinHerbots

Here is a new test: http://jsfiddle.net/pg83az9t/2/
Now the example number 4 does something very strange...

Greetings

[2014-10-06 18:06] RobinHerbots commented on #682
@ManRueda ,

Ok fixed!  Thx

[2014-10-06 19:20] janbuchar commented on #681
It's not that I couldn't hack it up to work somehow :) What I don't understand is why I need to use a different format to achieve the behaviour that I would expect on any datetime input.

[2014-10-06 22:41] RobinHerbots commented on #681
@Teyras ,

Have a look at the definition of m and d and compare it to the definition used in the datetime alias.  The behavior is defined in the definition

[2014-10-07 06:29] paveltyk commented on #650
Have this issue too.
The mask of "+375 (99) 999-99-99" would strip off all leading "3", "5" and "7".

[2014-10-07 08:42] vijjj commented on #679
@RobinHerbots

My colleague has identified the problem. The caret symbol (^) is missing in the regular expression used in 'truncateInput' function

<pre>
function truncateInput(inputValue) {
   return inputValue.replace(new RegExp("^(" + escapeRegex(getBufferTemplate().join("")) + ")*$"), "");
}
</pre>

Ran all the test cases successfully including the one I have added. 3 test cases failed with or

[2014-10-07 11:30] RobinHerbots commented on #679
This is because the buffertemplate in this case 0.000 is stripped.

Anyway the truncateinput is legacy and not needed anymore, and can be
removed.

2014-10-07 10:42 GMT+02:00 vijjj notifications@github.com:

[2014-10-07 15:16] RobinHerbots commented on #650
Working on it

[2014-10-07 19:24] kellycampbell opened #684 "Browserify expects package.json main to be a string not array"
Browserify gives this error when trying to load jquery.inputmask:

path.js:313
        throw new TypeError('Arguments to path.resolve must be strings');
        ^
TypeError: Arguments to path.resolve must be strings
    at Object.exports.resolve (path.js:313:15)
    at /Users/kellyc/Projects/firefly/gerrit/firefly2/client/node_modules/browserify/node_modules/resolve/lib/async.js:97:37
    at fs.js

[2014-10-08 12:12] Oikio commented on #386
Hello, same problem as in #641, investigated in Firefox.
IE11 does not want to open autocomplete on masked fields.

[2014-10-08 18:13] RobinHerbots commented on #684
You are right. I will update the package.json

[2014-10-09 06:05] vijjj commented on #679
Okay.
If possible, please include the fix in the next update (3.1.28)

[2014-10-09 07:28] RobinHerbots commented on #679
Yes, I will ;-)

2014-10-09 8:05 GMT+02:00 vijjj notifications@github.com:

[2014-10-09 22:02] gcarneiro opened #685 "Get masked value without placeholder and fixed chars"
First of all, i thank you for this excellent plugin. I think here is not appropriate place to post it, but i couldnt find a better place. I dont even know if what i ask its possible but i am trying for some days and no success yet.

I have this mask: '999.999.999-99' and type 999.99
(using empty placeholder)
if i set autoUnMask to true, when i leave input i get 99999
if i set autoUnMask to false,

[2014-10-10 11:22] lucafik opened #686 "RadixFocus problem"
Hi

I have a problem with a radixFocus.

It doesnt seem to work.

$(document).ready(function(){
		   $("#textfield").inputmask({mask: "[99].[99]", greedy: true, radixPoint: ".", radixFocus: true, numericInput: true  });
		});

Am I missing something important? Is there any other way to contact the author(s)?

Thanks,
Filip

[2014-10-10 18:29] #675 closed, assigned to nobody

[2014-10-10 18:37] #679 closed, assigned to RobinHerbots

[2014-10-10 18:37] #650 closed, assigned to RobinHerbots

[2014-10-10 18:38] #611 closed, assigned to nobody

[2014-10-10 18:38] #684 closed, assigned to nobody

[2014-10-10 22:58] luisdelcid opened #687 "Digits after update from 3.1.27 to 3.1.28"
Thank you for this amazing plugin!

Now, if I type a number > 100 with this mask data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$', 'placeholder': '0', 'rightAlign': false" works great on 3.1.27 version but on 3.1.28 version if I try to insert digits does not work, for numbers < 100 works fine

Example:
10.99 on 3.1.27

[2014-10-11 08:01] RobinHerbots commented on #687
@luisdelcid ,

Fixed!

[2014-10-11 08:01] #687 closed, assigned to RobinHerbots

[2014-10-11 08:01] RobinHerbots commented on #683
@Curtisf ,

Fixed!

[2014-10-11 08:01] #683 closed, assigned to RobinHerbots

[2014-10-13 08:43] RobinHerbots commented on #386
Fixed in the latest commit

http://jsfiddle.net/K655F/7/

[2014-10-13 08:43] #386 closed, assigned to RobinHerbots

[2014-10-13 08:44] RobinHerbots commented on #641
Fixed in the latest commit.

Can you verify.

[2014-10-13 08:44] #641 closed, assigned to RobinHerbots

[2014-10-13 08:44] RobinHerbots commented on #680
@artemkaint ,

Fixed in the latest commit.

[2014-10-13 08:44] #680 closed, assigned to RobinHerbots

[2014-10-13 08:45] #661 closed, assigned to nobody

[2014-10-13 09:56] Oikio commented on #641
@RobinHerbots similar behavior as @dudo described. Input mask is '999999999', autocomplete filled just last number.
Tested on Firefox 32.0.3 Windows 8 with jquery.inputmask 3.1.31.

[2014-10-13 10:00] RobinHerbots commented on #641
@Oikio,

Can you test with the dev version.  In version 3.1.31 does not contain the fix

[2014-10-13 10:09] Oikio commented on #641
@RobinHerbots fills everything correctly, thanks.

[2014-10-13 14:48] RobinHerbots commented on #666
@hapcoun,

Fixed in the latest version

[2014-10-13 14:48] #666 closed, assigned to RobinHerbots

[2014-10-13 14:51] RobinHerbots commented on #685
@gcarneiro ,

Can you try with adding [] around the mask making it optional.

[2014-10-13 14:52] RobinHerbots commented on #686
@lucafik ,

I will have a look at it tomorrow.

What do you want to archieve?

[2014-10-13 16:59] gcarneiro commented on #685
Hi Robin, i think this doesnt work. See this fiddle please:

http://jsfiddle.net/s2yhvtsp/2/

I would like to type "13553" and get "135.53" on response, and preferably using placeholder "_". It would mean to autoUnmask remove only not typed characters on the mask, keeping all typed and between fixed characters.

But like you can see on the fiddle, i cant get it. Is there any workaroud? or option t

[2014-10-13 17:24] dudo commented on #641
Verified! You're a gentleperson and a scholar. More beer money en route.

[2014-10-13 21:00] dudo commented on #644
I noticed `isRTL` throughout the source code. I gave it a whirl with the `currency` alias, but no go. Sounds like you're close?

[2014-10-13 21:34] RobinHerbots commented on #564
@laxmikantG ,

While I was working on this I stumble on the following.

Say the user wants to type -123.  in that case when using a placeholder "0" you type - resulting in -0

Continuing the input 123 result in -123.
In my current effort I have:
 type -0 results in 0 but typing only - results in -0 as the above should be possible.

I could maybe hook an extra postprocessing on blur to remove the -

[2014-10-14 08:00] RobinHerbots commented on #641
@dudo ,

;-)

[2014-10-14 08:19] RobinHerbots commented on #644
Well, rtl is already supported since version 1.x, BUT, ... it does not work
with complexer masks.  Only due the fact that I cannot simply reverse the
mask.

Try any static mask and add the dir="rtl" attribute on the input or add the
numericInput attribute.

Anyway don't worry, I didn't forget.    I first wan't to implement #564

2014-10-13 23:00 GMT+02:00 Brett Dudo notifications@github.com:

[2014-10-14 10:16] babupca opened #688 "alternative solution to make auto uppercase work"
Hi Robin,

Is there any way to achieve the a 5(nos/char) mask which accepts (one upper alphabet or nos) at the start, including 4 nos.

I tried to achieve this with the help of regex, but this makes user to press the uppercase button to make the char to uppercase. The auto uppercasing is not working with the regex mask.

Example
Mask for the A9999 or 12345

Jsfiddle link
http://jsfiddle.net/BA2512

[2014-10-14 11:39] lucafik commented on #686
@RobinHerbots

I want to achieve the following:
1. when input field gains focus, it focuses in front of the radix point. We start typing, it types ciphers of the whole number (not decimal) with numericInput=true.
2. when we position a caret to the beginning of the input field, we should be able to type the whole number. (which is actually working right now), but with numericInput=false.

So I need

[2014-10-14 14:08] manrueda commented on #325
Hi @RobinHerbots
with the last version this error happen again...

[2014-10-14 15:08] RobinHerbots commented on #325
@ManRueda ,

With the latest dev?

[2014-10-14 15:13] manrueda commented on #325
@RobinHerbots

Yes, with the last of the master...

[2014-10-14 16:45] dudo commented on #644
Good point, i was playing around with that `dir` attribute once I saw it wasn't working and read the docs some more.

So, this really has to do with coins, right? Is the first key you press a dollar amount, or a coin amount (presuming your coins are all fractions of dollars). Maybe call this option `coin: 'auto'`, but let the default behavior be `coin: 'manual'`?

[2014-10-14 18:32] zehunter commented on #662
Hi,

just wanted to know if you have any clue about this problem, and if you will be able to fix it.

regards,

[2014-10-15 04:45] #688 closed, assigned to nobody

[2014-10-15 08:14] RobinHerbots commented on #662
@zehunter ,

I just tested it but see no problem.  Is this in a specific browser?  Can you make a jsfiddle which shows the problem.

best regards,

Robin

[2014-10-15 08:17] RobinHerbots commented on #688
@babupca ,

 $("#bCode2").inputmask("A|99999");

See http://jsfiddle.net/91j73d8g/9/

[2014-10-15 08:51] RobinHerbots commented on #325
@ManRueda ,

Can you have a test with the latest dev.

[2014-10-15 09:54] zehunter commented on #662
i will do it this week end no problem :) maybe some additionnal
framework/Jquery plugins conflict

On Wed, Oct 15, 2014 at 10:14 AM, Robin Herbots notifications@github.com
wrote:

[2014-10-15 11:11] babupca commented on #688
@RobinHerbots

:+1:  Thank you  :)

[2014-10-15 12:25] manrueda commented on #325
@RobinHerbots ,

Doing the same steps of the last time works perfect!
Thank!

[2014-10-15 13:23] #325 closed, assigned to RobinHerbots

[2014-10-16 13:44] svdavidh commented on #587
Glad this feature was implemented. I also was wondering how to enable this option, I've tried various options, but wasn't able to get the decimal point working without typing the leading integer followed by the '.'

[2014-10-16 14:01] RobinHerbots commented on #587
@svdavidh ,

What mask do you use?

[2014-10-16 14:09] svdavidh commented on #587
I'm using a decimal mask set up like this:

[code]

[2014-10-16 15:39] richard-flosi commented on #677
@RobinHerbots Awesome. That worked. I think there is something similar for the Hover state case too. I'll try to track that down.

[2014-10-16 15:41] richard-flosi commented on #677
Got it!

These 3 options made it work how I wanted:

[code]

[2014-10-16 15:41] #677 closed, assigned to nobody

[2014-10-16 19:29] jpirok opened #689 "Add callback in mask options to be processed when mask is validated"
I have a feature request.  I'm not sure if this fits into your roadmap or if the feature is already present and I'm just not seeing how to implement it.

I would like to be able to pass a callback function that returns a boolean value. That value would be evaluated when the "Completeness" of the mask is determined and would affect whether or not the inputmask sent complete or incomplete.

For exam

[2014-10-16 20:21] dpeacock opened #690 "Base year needs improvements"
I'm trying to use an alias of  'mm/dd/yyyy' and 'yyyy/mm/dd' which is working great.  One issue I'm coming across is I always want to enter dates in the past, not the future - for example for a date of birth.  It looks like inputmask has logic to support only entering two characters.  It recognizes if I start entering '70' into the year that I probably don't mean a year in 70xx, and assumes I mean

[2014-10-17 14:48] zenmedia opened #691 "[IE 8/9] Inputmask plugin clears form on page load when included on the page."
Hi,

I am currently working on a project which has a requirement to use internet explorer from 8+.

While this plugin works fine in internet explorer 10+ we found that on internet explorer 8 and 9 it clears (hides the content) of the form, even if it has just been included on the page and not being called.

We have checked the html and all of the relevant fields have the value="" attribute populat

[2014-10-17 17:02] YodaJM commented on #587
Thanks for reimplementing this!

The following options seem to work to allow starting by typing a '.'
`$("#input2").inputmask('decimal', { digits: 2, placeholder: "0", digitsOptional: false });`

I have noticed however that this only works if you click on the textbox with the mouse.  When you click on the textbox the cursor jumps in between the first 0 and the decimal point like 0|.00, which corre

[2014-10-18 22:36] RobinHerbots commented on #691
Can you create a jsfiddle which shows the problem.  Does this only happens on the native browser or also in ie10 in ie8 mode?

[2014-10-18 22:40] RobinHerbots commented on #690
That would be a good enhancement. I will implement it xhen time allows.

[2014-10-20 09:59] RobinHerbots commented on #689
@jpirok ,

Can't you use the oncomplete or onKeyValidation?

Robin

[2014-10-20 12:18] jpirok commented on #689
The issue is that those functions don't affect whether or not the mask returns incomplete or complete.  What I'm requesting would happen when the logic for assessing completeness, and affect whether iscomplete or incomplete is returned.

[2014-10-20 14:23] zenmedia commented on #691
Hi Robin,

After some further investigation, i found that this is an incompatibility with other javascript plugins on the page, i will do some further investigation and if i come back to this plugin being the problem i will let you know.

[2014-10-20 14:23] #691 closed, assigned to RobinHerbots

[2014-10-20 17:23] RobinHerbots commented on #689
Zo jou want a hook into the is complete function

[2014-10-20 18:15] jpirok commented on #689
Yes.

[2014-10-20 18:51] RobinHerbots commented on #689
See options isComplete. The hook is already present. Maybe not in the docs. I will verify tomorrow.

[2014-10-20 20:07] dpeacock opened #692 "Mask issue in Android with Swype Keyboard"
When using a mask in Android with the default keyboard, everything seems to work great.  When I switch my Input method to use the Swype keyboard for some reason it doesn't seem to play well with the masks.  For example if my mask is MM/DD/YYYY and I start entering a date it comes up as 1MM/DD/YYYY, then 10MM/DD/YYYY.  I also tried using a simple m-d-y mask and I get a similar result of 10__/__/___

[2014-10-20 20:14] dpeacock commented on #692
Sounds like some of the keyboards don't fire on key up/down/pressed events and instead fire 'input' events.  Is there a way this could get incorporated?

See:
http://stackoverflow.com/questions/18951584/keyboard-swipe-javascript-event

[2014-10-21 07:41] jason16v opened #693 "Issue with Mask and input values where input values match portion of mask"
Hello,
I'm having a bit of an issue I'm hoping someone can help with...

Say I have a mask such as '+31 9999999999999999'
The mask is retrieved and applied to a field
next, I retrieve a phone number from a database and set the value to the masked field
The value from the db is something like 31123456789
where 31 is part of the phone number and not the country code in this case.

What I see input m

[2014-10-21 09:50] adlbtt commented on #571
Hi,

I have using a jquery datepicker. when I select a date from date picker it appears in the input fields but calender switch to today's date and year not remain on the same place where I have selected date. This is happening only because of I am using inputmask. If I remove it it works fine.

Thanks in advance.

[2014-10-21 09:51] adlbtt opened #694 "Problem with Jquery Datepicker only because of using inputmask"
Hi,

I am using a jquery datepicker. when I select a date from date picker it appears in the input fields but calender switch to today's date. It does not remain on the same place where I have selected date. This is happening only because of I am using inputmask. If I remove it it works fine.

Thanks in advance.

[2014-10-21 12:50] jpirok commented on #689
Thanks!

On Mon, Oct 20, 2014 at 2:51 PM, Robin Herbots notifications@github.com
wrote:

##

Jason Pirok

[2014-10-21 13:03] jpirok commented on #689
Line 1911 in the source (this is in the defaults) contains this definition:

isComplete: undefined //override for isComplete - args => buffer, opts - return true || false

is this the hook you were mentioning?

[2014-10-21 13:21] RobinHerbots commented on #689
Yes

[2014-10-21 13:37] CurtisFuller commented on #683
Thank you!

_Curtis Fuller_
Director of Charter School Operations
_Charter School Services Corporation *_(A Division of Building Hope)*
_Office: (954) 767-1070_
_Direct: (727) 223-6391_
_Website: www.charterschoolcorp.org http://www.charterschoolcorp.org/_

On Sat, Oct 11, 2014 at 4:01 AM, Robin Herbots notifications@github.com
wrote:

[2014-10-21 14:15] jpirok commented on #689
What is the opts parameter for the callback?

On Tue, Oct 21, 2014 at 9:21 AM, Robin Herbots notifications@github.com
wrote:

##

Jason Pirok

[2014-10-21 14:44] osCMattiFinn opened #695 "Cursor skips to end"
This issue is possibly related to the fact that the input was previously hidden.

Using a mask for phone, after entering the first number the cursor skips to the end.

Using: jQuery("#customerPhone").inputmask("mask", {"mask": "(999) 999-9999"});

[2014-10-21 15:14] RobinHerbots commented on #694
@adlbtt,

Can you make a jsfiddle for this.

Robin

[2014-10-21 15:16] RobinHerbots commented on #695
@osCMattiFinn ,

Can you make a jsfiddle which shows the problem.

Robin

[2014-10-21 17:14] RobinHerbots commented on #689
It passes the options used in the mask.

[2014-10-21 20:23] ghost opened #696 "Create an alias for a comma-delimited list of email addresses"
I would like to have an input mask that allows for a comma-delimited list of email address.

[2014-10-21 22:01] kiesslir opened #697 "support for periods"
Hi,

i simply want mask "mm.yy-mm.yy" to specify a period like "02.14-07.15" which means "from february 2014 until july 2015"

With "$(".validate_date_mmyymmyy input").inputmask("m.y-m.y", {placeholder:'mm.yy-mm.yy' });" i got "mm.yy-m-.y.mm.y"

Regards,
 Rig

[2014-10-22 08:48] adlbtt commented on #694
Hi,

Thanks for your reply.
Here is the jsfiddle link

http://jsfiddle.net/zf2x9307/26/

But in this link my calender is not able to select the date because input mask is calling on it. If I remove it then It works fine. I dont know why it is happening on jsfiddle but it is working on my machine. But my primary problem is that whenever you select a date from the datepicker from my project It selec

[2014-10-22 12:01] lucafik commented on #686
Dear Robin,

any news on this topic? Dont want to put pressure, just would like to know if its on your list.

Thanks,
Filip

[2014-10-22 14:29] GMTA opened #698 "Hang on combination of optional mask and repeat"
Inputmask hangs on the following code:

<code>
$('...').inputmask('[ ]{+}');
</code>
Using version 3.1.33

[2014-10-22 14:35] GMTA opened #699 "Sequentional optional parts do not fully match"
When trying to write a simple group-by-4 mask, it was possible to enter only spaces after the first group of digits.
[code]
After entering the first four digits, it is possible to enter two spaces. This should not be possible according to the above mask? The workaround is to wrap the optional parts in eachother:
[code]
Using version 3.1.33

[2014-10-23 07:40] RobinHerbots commented on #686
Hi Filip,

Yes I will add an option to position after the radixpoint, but currently
time does not allow.

best regards,

Robin

2014-10-22 14:01 GMT+02:00 lucafik notifications@github.com:

[2014-10-23 07:50] adlbtt commented on #694
Hi,

Thanks for your reply.
Here is the jsfiddle link

http://jsfiddle.net/zf2x9307/26/

But in this link my calender is not able to select the date because input mask is calling on it. If I remove it then It works fine. I dont know why it is happening on jsfiddle but it is working on my machine. But my primary problem is that whenever you select a date from the datepicker from my project It selec

[2014-10-23 21:29] ostrolucky opened #700 "on focus: can't deselect"
[code]

Doesn't work when `el` is inputmasked. It looks like jquery.inputmask focuses it always additionally.

[2014-10-23 21:34] RobinHerbots commented on #699
Thx for reporting!
I will have a look.

[2014-10-23 21:36] RobinHerbots commented on #698
I don't know what do you want to accomplush with that mask, but the case is interesting to investigate.
Thx for reporting

[2014-10-24 06:59] gmta commented on #698
I gave you a simplified case for debugging purposes. I believe the original mask was something like:

[code]

Which would be a simple way of grouping every 4 digits, regardless of how long the input is.

[2014-10-24 15:08] manrueda opened #701 "Negative numbers - Mask fails"
Hi @RobinHerbots ,

I have an issue with the numeric mask, if i set the value with something like '-5000,77' the field makes something strange.

Here is an example: http://jsfiddle.net/ManRueda/8cgk7nLq/

[2014-10-24 17:03] RobinHerbots commented on #701
I will fix it asap

[2014-10-24 17:27] RobinHerbots commented on #693
Yes the assumption is wrong. I will fix this.

[2014-10-24 18:36] manrueda opened #702 "No-space mask - Strange behavior"
Hi @RobinHerbots ,

This is a visual issue, something insignificant, but if you can fix it someday it's going to be great hahah

If i declare a mask that doesn't allow space, the space bar it blocked but i can move in the filed with the direction arrows of the keyboard.
When i read the value, with the unmaskedvalue method, the space it's erased but in the field the space is visible.

Example: http

[2014-10-25 11:54] mantasgl opened #703 "Problem when using different mask for inputmask "datetime""
I am using  mask: "y-1-2 h:s", placeholder: "yyyy-mm-dd hh:mm", alias: "yyyy-mm-dd",

The problem is with this code:
Line 1332:
var frontValue = opts.mask.indexOf("2") == opts.mask.length - 1 ? maskset.buffer.join("").substr(5, 3) : maskset.buffer.join("").substr(0, 3);

And Line 1356:
var frontValue = opts.mask.indexOf("2") == opts.mask.length - 1 ? maskset.buffer.join("").substr(5, 3) : maskset.

[2014-10-25 14:57] MaximDubrovin opened #704 "eval in plugin code cuases browser-policy warning"
Chrome warning, for example:

![error screenshot](https://photos-2.dropbox.com/t/1/AABiRKuSsAoT78H2aTHhTkj0tuTT7Z_bq0lZOdTNA2ak4w/12/331877732/png/1024x768/3/1414252800/0/2/Screenshot%202014-10-25%2020.46.18.png/4AywGhdzshYAFjvWyN-JuKTETCcxTsf4hfGjxKjhOUY)

Text version:

[code]

I disallowed `eval()` in my app's Content Security Policy which is key thing to security.

But inputmask [uses it](http

[2014-10-25 17:58] RobinHerbots commented on #704
I will see what i can do.

[2014-10-26 09:57] MaximDubrovin commented on #704
I made a little drama from it.

Eval, actually, not evil if other security holes closed such as:
- block inline scripts
- allow only connections that your app uses
- sanitize user data when pasting it to html (< > stuff from `<script>` and etc)

Since I did it, I don't worry about eval.

But with time developers will more and more adapt Content Security Policy and face with this warning.

[2014-10-26 12:13] mshahrouri opened #705 "[Phone Extension] Duplicating the Last digit"
If you try to enter a 3 digits country code the control will duplicate the last number.

here is an example: Jordan country code is +962 if you try and enter 96 in the control the control will display 9622, see the screenshot
![3](https://cloud.githubusercontent.com/assets/951528/4782852/7b1fb428-5d09-11e4-8a29-f641b6dafa5c.jpg)

[2014-10-27 06:50] RobinHerbots commented on #701
@ManRueda ,

Fixed!  A new release will come later today.

[2014-10-27 06:50] #701 closed, assigned to RobinHerbots

[2014-10-27 07:21] RobinHerbots commented on #704
@MaximDubrovin ,

Where did you found an eval in the current version?

[2014-10-27 08:17] RobinHerbots commented on #564
The -0 will be cleared on blur.

[2014-10-27 08:17] #564 closed, assigned to RobinHerbots

[2014-10-27 09:57] Besedin86 opened #706 "Phone Extension edit"
When input, for example, +380(50)555-66-77
when move cursor between phone number digits and try to enter digit, phone breaks (e.g +381-66-077-____)

[2014-10-27 10:19] RobinHerbots commented on #702
@ManRueda ,

What about this one http://jsfiddle.net/m20039Lv/2/

[2014-10-27 11:25] MaximDubrovin commented on #704
Browser throws warning at [this line](https://github.com/RobinHerbots/jquery.inputmask/blob/3.x/dist/jquery.inputmask.bundle.js#L999)

Version at the top of the file is 3.1.34

[2014-10-27 12:19] manrueda commented on #702
@RobinHerbots ,

Works great!
Thank!!

[2014-10-27 12:45] manrueda commented on #701
@RobinHerbots ,

Works perfect!

Thanks

[2014-10-27 17:28] #702 closed, assigned to nobody

[2014-10-27 22:16] #689 closed, assigned to nobody

[2014-10-28 08:34] RobinHerbots commented on #704
@MaximDubrovin ,

It was causes by new Function("/*cc_on ...  for the conditional compilation for ie1x detection

Fixed in the latest commit.

[2014-10-28 08:34] #704 closed, assigned to nobody

[2014-10-28 16:03] rimata12 commented on #465
something new about this issue ?

[2014-10-28 19:25] krivaten opened #707 "As of 3.1.33 use of `format` fires an error"
Recently ran `bower update` and noticed my use of format was firing back an error. Here is my code:

[code]

I started rolling back versions and it looks like the issue first appeared in version _3.1.33_. I will look through the logs and see if I can track down the culprit in the changes, but just wanted to post it here in case anyone had noticed it.

Thanks for the great plugin!

[2014-10-28 23:09] DrSammyD opened #708 "Numeric keypress not filtering after decimal if digit set to 0"
I'm creating a data-binding for inputmask, but there seems to be an issue with pasting values.
[jsFiddle](http://jsfiddle.net/DrSammyD/X7y2k/64/)

Everytime I change the value, the input buffer filters out the pasted decimal point on my number but doesn't filter out the numbers from after the decimal point. This is an issue with setting the value. As you can see from the jsfiddle, it works up unti

[2014-10-29 09:20] RobinHerbots commented on #707
@krivaten ,

I tested in Chrome FF and IE10 and see no problem.

Can you provide more info.

[2014-10-29 09:26] RobinHerbots commented on #708
@DrSammyD,

It is because with digits = 0 there is no radixPoint or digits definition in the mask.  The mask assumes all numbers are integers.  I will fix that.

[2014-10-29 18:44] krivaten commented on #707
Thanks for looking into it. I looked in to it some this afternoon and the console error I am getting is in reference to the 3rd line in the function `trackbackAlternations`:

[code]

The error I get is `Uncaught TypeError: Cannot read property '0' of undefined`

To give some more context, I am using this in a phonegap Ember app and am parsing the value as a string before passing it to inputmask. O

[2014-10-29 20:31] MaximDubrovin commented on #704
Thank you

[2014-10-29 21:16] RobinHerbots commented on #707
@krivaten,

The trackbackAlternations is a WIP which slipped in.

Anyway, if you find a cause, I would be happy to hear about it.

[2014-10-30 13:45] vemv opened #709 "removeMaskOnSubmit has no reason to depend on autoUnmask"
In my particular case, I don't want `$('#xxx').val()` to return the unmasked value, but I do want inputs to get unmasked on submission.

This desired behavior is not possible due to the following line:

[code]

I see no reason why one option should be coupled to the other. Modifying the library to:

[code]

doesn't break anything and allows what I need.

Could you please consider making this chang

[2014-10-30 13:59] VeteranCoder opened #710 "decimal number incorrectly formatted to integer"
I discovered a problem with the "integer" mask, and I think I fixed the problem locally, but I don't know the code and my fix might not be complete.

The scenario: Input that was previously designed to be decimal was changed to integer.  The database fields are decimal.  The data read from the database has one or more zeros after the decimal, so "1234" comes up as "1234.00".  When the mask is appl

[2014-10-31 07:49] RobinHerbots commented on #710
@VeteranCoder,

Yes see issue #708.

Thx for sharing your solution.

Best regards,
Robin

[2014-10-31 07:49] #710 closed, assigned to nobody

[2014-10-31 08:52] RobinHerbots commented on #708
@DrSammyD ,

fixed in the latest commit.

[2014-10-31 08:52] #708 closed, assigned to RobinHerbots

[2014-10-31 09:02] RobinHerbots commented on #709
@vemv ,

Changed with the latest commit.

[2014-10-31 09:02] #709 closed, assigned to nobody

[2014-10-31 09:05] RobinHerbots commented on #697
@kiesslir ,

The y definition takes 4 places.

Change your mask to m.99-m.99

[2014-10-31 09:05] #697 closed, assigned to nobody

[2014-10-31 09:25] RobinHerbots commented on #694
@adlbtt ,

The dateformat of jquerui is not exactly the same as in the inputmask.

I updated the fiddle as example

http://jsfiddle.net/zf2x9307/28/

[2014-10-31 09:25] #694 closed, assigned to RobinHerbots

[2014-10-31 09:30] RobinHerbots commented on #695
@osCMattiFinn ,

I tested the mask and see no problem.

[2014-10-31 09:30] #695 closed, assigned to RobinHerbots

[2014-10-31 09:32] RobinHerbots commented on #636
see issue #678

[2014-10-31 11:24] RobinHerbots commented on #587
@YodaJM ,

Fixed in the latest commit

[2014-10-31 11:25] RobinHerbots commented on #600
fixed in the latest commit (entry with radixpoint)

[2014-10-31 11:25] #600 closed, assigned to RobinHerbots

[2014-10-31 13:27] vemv commented on #709
Thank you very much @RobinHerbots !

[2014-10-31 13:50] jamezamm opened #711 "clearOptionalTail"
I need to retrieve the value without the optional part. Is there any way to do this? I noticed an internal function (clearOptionalTail) which does this.

Thanks.

[2014-11-03 00:03] spicymikey opened #712 "determineLastRequiredPosition() has a syntax error"
It appears this function is missing a return statement on the line (#1028) that is returning the definition array

This:
returnDefinition ? { "l": bl, "def": positions[bl] ? positions[bl]["match"] : undefined } : bl;

Needs to be changed to this:
return  returnDefinition ? { "l": bl, "def": positions[bl] ? positions[bl]["match"] : undefined } : bl;

[2014-11-03 07:48] RobinHerbots commented on #712
@spicymikey ,

When I look at the determineLastRequiredPosition in js/jquery.inputmask.js that is already the case.

[2014-11-03 08:04] jamezamm commented on #711
Thanks

[2014-11-03 20:12] arturoliveira opened #714 "Set countrycode via javascript/jquery and don't allow user to delete it"
Is it possible to set the countrycode via javascript/jquery like:

[code]

and don't allow the user to delete it

[2014-11-03 21:36] DrSammyD opened #715 "3.1.35 breaks this fiddle"
I have a fiddle that was on your latest dist and it broke a couple hours ago.
http://jsfiddle.net/DrSammyD/ynnm9796/2/

I reverted back to 3.1.34 and it worked again
http://jsfiddle.net/DrSammyD/ynnm9796/0/

[2014-11-03 21:41] RobinHerbots commented on #715
First thing tomorrow.

[2014-11-03 23:41] spicymikey commented on #712
Could I have accidently modified the js file myself?   I should have done a refresh first to check for that.    I reinstalled .35 and all seems correct.   Sorry.

[2014-11-04 06:50] #712 closed, assigned to nobody

[2014-11-04 08:40] RobinHerbots commented on #715
@DrSammyD ,

Fixed in 3.1.36  http://jsfiddle.net/ynnm9796/3/

[2014-11-04 08:59] RobinHerbots commented on #714
@arturoliveira ,

try
$(selector).inputmask(''+351-999 999");

[2014-11-04 09:01] RobinHerbots commented on #707
@krivaten ,

Can you retry with version 3.1.36

best regards,

Robin

[2014-11-04 10:36] laxmikantG commented on #564
Many thanks for solving :)

[2014-11-04 11:11] laxmikantG opened #716 "Value gets selected while entering the last digit for the texts with maxlength"
Hello @RobinHerbots

Issue is with the `text` fields containing `maxlength` attribute

    <input type="text" maxlength="12" class="MODE_ALPHANUMERIC" id="F_07_0020" name="F_07_0020" value="" data-inputmask="'alias': 'integer', 'integerDigits': '12', 'allowMinus':true, 'groupSeparator': ',', 'autoGroup': true, 'groupSize': '3'" >

When user enters the last character (say 12th Character in this cas

[2014-11-04 22:21] arturoliveira commented on #714
@RobinHerbots it's an option but this way i won't use the ability to have several masks taken from json configuration files
Any other option ?

[2014-11-04 22:32] RobinHerbots commented on #714
Ok, what do you want to accomplish exactly?

2014-11-04 23:21 GMT+01:00 arturoliveira notifications@github.com:

[2014-11-05 00:04] arturoliveira commented on #714
What i wan't is to use the inputmask phone extension and based on a selection of another input set the country code and the url so that the user only has to type the phone number and the country code is set automatically and cannot be changed.

Was i clear ?

[2014-11-05 09:59] laxmikantG opened #717 "Esc key pressed while value is selected in the text field, string reduces to 6 digits"
@RobinHerbots,

Hello Again,

A strange bug found in decimal fields. If we press `Esc` key while the value in the decimal field is selected, then it automatically reduces to 6 digits.
Same also happen on demo page at  http://robinherbots.github.io/jquery.inputmask/.
Please refer Screengrab:
![screengrab ](https://cloud.githubusercontent.com/assets/1826523/4915870/893542f4-64d3-11e4-8f50-8fadc0e545

[2014-11-05 12:46] RobinHerbots commented on #714
@arturoliveira ,

Something like   $("#test8").inputmask("phone", { countrycode: "351", nojumpsThreshold: 4, "url": "https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/js/phone-codes/phone-codes.js" });

But the best result will be if you also specify separate phone-codes per country you want to support.

See be & nl example.

On the change event of the country dropdown you call the inputmask wi

[2014-11-05 18:49] ioleo opened #718 "[Number] 0,00 value problem - extra radix point"
Given this mask:

[code]

The input with value `130,00` (or any non-zero) behaves as expected. But when applied to an input with value `0,00` I'm getting this weird behaviour:
- initially, the input looks OK (it has `0,00` displayed)
- when I focus on the input with "tab" and input some number (eg. `123` it also works as expected

However when I focus on the input with mouse click and input some n

[2014-11-05 18:59] ioleo commented on #718
After adding:

[code]

The issue is fixed... BUT, the initial value is displayed as `0,`.

~~I want to ALWAYS add the decimal points. Eg. if user inputs `123,` I'd like the value to be changed to `123,00`. Is it possible somehow?~~

Nevermind. Adding `clearMaskOnLostFocus: false` does exacly that.

[2014-11-05 19:07] ioleo commented on #718
[code]

Note: this code works as expected. However, if I remove the `if` - the problem with `0,00` value is still there, only now when I try to type `123` instead of `1,00,` I am getting `1,00,00` (and the `2` and `3` are blocked).

[2014-11-05 19:15] DrSammyD commented on #715
hmm not quite,
If you click on decrease value in this jsfiddle it works with [3.1.34](http://jsfiddle.net/ynnm9796/4/)

But not with [3.1.36](http://jsfiddle.net/ynnm9796/5/)

[2014-11-05 19:31] ioleo commented on #592
Try setting `clearMaskOnLostFocus: false`

[2014-11-05 19:42] ioleo commented on #718
Another "curious" thing is: when the value is `1,00,00` (or `1,00,` in the first example)... when I "hover" my mouse over the field - the value is "corrected" to `1,00` (in both cases).

[2014-11-05 19:56] ioleo commented on #718
OK.. I'm getting deeper into internals..

I've modified the `onKeyDown` and display the buffer in the console. Here are the results:

For initial value `131,30`, when I enter any number:
- the buffer is `["1", "3", "1", ",", "3", "0"]`

For initial value `0,00`, when I enter any number:
- the buffer is `["0", ",", "0", "0", -1: undefined]`

~~And thats probably the reason.. if I understand it corr

[2014-11-05 20:00] ioleo commented on #718
Actually, it's even worse... the same problem appears for `0,01` initial value.

For `1,01` and `1,00` it works as expected. So it breaks when the integer part == 0.

[2014-11-05 21:39] YodaJM commented on #587
It's getting very close now, but there are still two issues.
In the same fiddle: http://jsfiddle.net/m9cbtfuh/1/

If you click on the 2nd text box, the cursor still jumps between the 0 and decimal point, 0|.00, as it did before.  But now if you type a decimal point, a second decimal point is entered making the input like 0.|.00, and you can enter any number of digits making the input like, 0.12345

[2014-11-05 22:25] ioleo commented on #718
I give up.. tried to debug this, but with variables called ndx, bs, tst and minumum comments I just can't figure it out..

What I found is if I add [here](https://github.com/RobinHerbots/jquery.inputmask/blob/3.1.36/js/jquery.inputmask.js#L736) a console log... then:

For number `131,30`, when the `,` character is checked, the `if` is not evaluated.
For number `0,10`, when the `,` characters is ch

[2014-11-05 22:31] ioleo commented on #718
Another note: for value `0.13` and options `radicalPoint: "."` the bug also appears. So it's not caused by `,` as radicalPoint character.

[2014-11-05 22:35] ioleo commented on #718
@RobinHerbots I'm sorry to spam and bother you, but what part of code is executed, when you hover over the input? It seems to "fix" the value, so I'd like to call it in `onBeforeMask`.

[2014-11-05 23:04] ioleo commented on #718
I've tried programmatically triggering the `setvalue.inputmask` and `mouseenter.inputmask` but it didn't help :/

[2014-11-05 23:08] ioleo commented on #718
So.. if initially the value is OK and programmatically calling the events does not prevent the error from happening later, while triggering these events AFTER the error does fix the issue

There is one other possibility:
- on init, everything is OK
- after the first key is pressed, something goes fishy

[2014-11-05 23:24] ioleo commented on #718
I fixed it ^______________^
`<victory dance>`

[2014-11-06 09:24] RobinHerbots commented on #715
@DrSammyD ,

I tested both and they seem to work both fine.  Maybe the latest commit which does some fixes in the numeric alias fixed it.

Can you confirm

[2014-11-06 13:12] kaishin commented on #707
I'm having the same issue with the same mask.

[2014-11-06 14:21] RobinHerbots commented on #718
@loostro ,

Hi, first thx for sharing the issue and for seeking to a solution!

But the issue was caused by a the radixhandler in the numeric extension.  It made the radixpoint a valid match for a wrong test.

Can you have a test with the latest commit

[2014-11-06 14:43] RobinHerbots commented on #587
@YodaJM ,

Can you have a retry with the latest commit.

[2014-11-06 14:44] RobinHerbots opened #720 "DECIMAL Tabbing does not work correctly with loostro mask"
$amount.inputmask("decimal", {
    radixPoint: ",",
    digits: 2,
    digitsOptional: false,
    autoGroup: true,
    groupSeparator: " ",
    groupSize: 3,
    allowPlus: false,
    allowMinus: false,
});

tab in tab out

[2014-11-06 15:13] DrSammyD commented on #715
Yes, I can verify that it is working with latest but not 3.1.36.

[2014-11-06 15:27] RobinHerbots commented on #707
@kaishin ,

On which version did you test?

[2014-11-06 15:29] kaishin commented on #707
@RobinHerbots I'm using `3.1.37`

[2014-11-06 15:30] kaishin commented on #707
Removing the `(` "fixed" it for me.

[2014-11-06 15:35] RobinHerbots commented on #707
@kaishin ,

Which browser are you using as I cannot reproduce the error.

Can you make a jsfiddle for it?

[2014-11-06 16:02] #720 closed, assigned to RobinHerbots

[2014-11-06 18:24] ioleo commented on #718
@RobinHerbots Yeah I've realized after submitting the PR, that the source of the problem is in `postFormat`. However it was late and I had much more work, so I just stopped there :)

I'll try to test sometime this weekend and get back to you. Thanks.

[2014-11-06 18:42] YodaJM commented on #587
It work's perfectly now!

Thanks again for all the help reimplementing this (and improving it over the original functionality)!

[2014-11-06 20:51] #587 closed, assigned to RobinHerbots

[2014-11-06 22:27] markbrouch opened #721 "AutoUnmask should not remove decimal from number values."
When a mask `numericInput = true` and `autoUnmask = true`, it should not remove the `.` from the value, as that changes the actual value. For instance, 10.5 becomes 105 which would be incorrect.

[2014-11-07 07:52] babupca opened #722 "Some odd behaviour in decimal mask while pressing the backspace"
Actual  : 123213.123
Result on pressing Backspace from integerDigits : 000000123

Steps to reproduce:
1. focus the field one input field in jsfiddle
2. start typing all the 6 integerDigits in full and also 3 digits continiously.
3. After typing all the digits, you are at the right end. now press the LEFT arrow key to the start of the integerDigits, just before the radix point(dot)
4. Press the BAC

[2014-11-07 07:57] babupca commented on #722
Forgot to add the jsfiddle linke
http://jsfiddle.net/BA251281/ug16s3tw/

[2014-11-07 09:13] RobinHerbots commented on #721
You can override the default functionality by implementing the onUnMask.
See numeric alias for an example.

2014-11-06 23:27 GMT+01:00 Mark Brouch notifications@github.com:

[2014-11-07 09:18] RobinHerbots commented on #722
I cannot reproduce the behavior you mention.  Tested in Chrome

2014-11-07 8:57 GMT+01:00 babu notifications@github.com:

[2014-11-07 09:21] RobinHerbots commented on #722
@babupca ,

But I see that you can totally delete the integer part resulting in .123 which should be 0.123

[2014-11-07 09:27] #714 closed, assigned to nobody

[2014-11-07 09:38] babupca commented on #722
Robin i'm also using chrome browser. But I can able to reproduce the issue. May be my steps is not much clear i think, again i will clearly mention it.
1. initially it will be  - 0.000
2. Now Type - 123221.123 (Note : digits values of (123) is required then only you can reproduce it)
3. Now move your cursor to  before the decimal point --   123221(cursor Here).123
4. Now Start pressing the BACKSPA

[2014-11-07 10:36] RobinHerbots commented on #722
@babupca ,

On which platform are you testing?

[2014-11-07 11:17] babupca opened #723 "On Tabbing digit value is also getting replaced"
JSFIDDLE LINK
http://jsfiddle.net/BA251281/ug16s3tw/14/

Decimal mask with 6.3 -  integerDigits:6, digits:3

Step 1: type in Field One at jsfiddle like this  -    123456.789
Step 2: now place the cursor before the radixpoint  123456(cursor here ).789 and press the BACKSPACE
Step 3: now you can notice like this result -  000000789
Step 4: now beign in this field, press SHIFT + TAB to "field zero" i

[2014-11-07 11:19] babupca commented on #722
@RobinHerbots,

I use windows 7 and in that i have chrome browser installed.

[2014-11-07 11:21] babupca commented on #723
@RobinHerbots,

Please note, this issue is related to the  #722

[2014-11-07 11:29] RobinHerbots commented on #723
@babupca ,

I cannot reproduce ;-(
Can someone else confirm the problem.

[2014-11-07 11:29] RobinHerbots commented on #722
@babupca,

Which versionof chrome are you using?  Do you have the same in IE or FF?

[2014-11-07 12:23] babupca commented on #723
@RobinHerbots

I use the windows 7, chrome and the latest version.

I have the .webm deomo file. And attached that to you. Since git does not supprt the .webm file, i just changed the format to gif. You can change this again to .webm file and check the demo.

![decimal mask issue demo](https://cloud.githubusercontent.com/assets/2504343/4952729/5285c994-6678-11e4-8e1c-fe0e496d662d.gif)

[2014-11-07 12:30] babupca commented on #722
@RobinHerbots

in both the browsers it is occuring
Chrome Version 38.0.2125.111
Firefox
I don't have the latest ie, so i did not test in that.

[2014-11-07 13:38] KrunchMuffin opened #724 "input type email does not render email alias"
I was going crazy trying to figure out why the email alias was not working, turns out `input type="email"` will break it. Is this a known issue? I couldn't find anything about it.

[2014-11-07 14:11] KrunchMuffin opened #725 "Prevent onincomplete from firing if nothing entered"
I know technically that it is incomplete, but if the field is not required, I don't want to fire the onincomplete event if they tab to it and off of it. Is there a way to do that?

[2014-11-07 14:15] RobinHerbots commented on #724
@KrunchMuffin,

Only input type text & tel are tested and allowed.  It is not yet documented in the readme.

Does the type="email" sets some restriction on the input?  I will need to verify

[2014-11-07 14:27] KrunchMuffin commented on #724
There is no restriction.

Will also show the `@` symbol on keybaord

[2014-11-07 14:30] RobinHerbots commented on #724
@KrunchMuffin ,

Just tested with the type-email and enabled it in the inputmask but it doesn't play well.
It needs further testing.  The caret positioning seem to fail.

You can enabled it by modifying the  function isInputTypeSupported(inputType) {.

[2014-11-07 14:38] RobinHerbots commented on #725
@KrunchMuffin ,

You can add a check for it's requirement within the onincomplete, or only add a function to the callback when it is needed.

[2014-11-07 14:46] KrunchMuffin commented on #725
Ya, I just did a check for `val().length`, I thought it would add the mask in the val(), but it doesn't. Thx!

[2014-11-07 14:46] #725 closed, assigned to nobody

[2014-11-07 14:49] KrunchMuffin commented on #724
I enabled it, but in Chrome I got
`Uncaught InvalidStateError: Failed to set the 'selectionStart' property on 'HTMLInputElement': The input element's type ('email') does not support selection.`

[2014-11-08 00:08] YodaJM commented on #707
I encountered this error recently and was able to track down the culprit in my case.  I had some legacy code that was setting Array.prototype.sortByProp function.  Removing that stops the error from occurring.  I found this answer on stackoverflow that explains the problem: http://stackoverflow.com/a/4760279

Here's a jsfiddle where the error occurs: http://jsfiddle.net/esqqer52/
If you uncomment

[2014-11-09 15:00] RobinHerbots opened #726 "Separate processonblur and clearoptionaltail"

[2014-11-10 08:07] beneo opened #727 "How to change datetime to yyyy-mm-dd h:s"
i want to change datetime format with 'yyyy-mm-dd h:s'

int date.extensions.js i changed
`mask: "1/2/y h:s",
            placeholder: "dd/mm/yyyy hh:mm",
            alias: "dd/mm/yyyy",`
to
   `mask: "y-1-2 h:s",
            placeholder: "yyyy-mm-dd hh:mm",
            leapday: "-02-29",
            separator: "-",
            alias: "yyyy/mm/dd",`

then input "2021-02-dd hh:mm", the dd not works

[2014-11-10 09:42] kaishin commented on #707
I used the latest version from master and it's working fine! Not idea if that was intentional or not.

[2014-11-10 11:25] RobinHerbots commented on #707
@YodaJM ,

Thx for the information.  Those bugs by prototype extentions always come and go ;-)
I added some dummy extentions in the qunit tests so that this won't happen again.

@kaishin,

;-)  Yes it was the intention to fix the problem ;-)

[2014-11-10 11:25] #707 closed, assigned to RobinHerbots

[2014-11-10 11:26] #726 closed, assigned to RobinHerbots

[2014-11-10 13:19] #703 closed, assigned to nobody

[2014-11-10 13:23] RobinHerbots commented on #727
@beneo ,

The latest commit fixes this. see #703

[2014-11-10 13:23] #727 closed, assigned to nobody

[2014-11-10 13:23] #718 closed, assigned to RobinHerbots

[2014-11-10 13:31] #578 closed, assigned to nobody

[2014-11-10 14:06] RobinHerbots commented on #595
@kochelmonster ,

See new http://jsfiddle.net/4LL46/6/

No more need to escape the suffix/prefix and autounmask is now working.

[2014-11-10 14:06] #595 closed, assigned to nobody

[2014-11-10 18:11] mikerockett opened #728 "Clearing country name for phone numbers is field is cleared"
Literally just found this plugin - really think it's awesome!

One question: If one begins entering a phone number (`alias: phone`), and the country is shown, how do I get it to remove the country if the field is cleared? Any specific event?

I'm using a similar setup (to the demo) with `.next().text()`.

[2014-11-10 18:31] answer261 opened #729 "Home button doesn't work"
Have founded such issue when typing some text and clicking on home button, text cursor doesn't stand at the beginning of the input.
Can you give me some advise to fix it? Thanks!
http://jsfiddle.net/vp9090gq/

[2014-11-10 19:00] inoda opened #730 "Input mask displaying regex and breaking on key press"
Before typing:
![](https://dl.dropboxusercontent.com/spa/q811k4gyl5w9pcc/12dgcva1.png)

On key press:
![](https://dl.dropboxusercontent.com/spa/q811k4gyl5w9pcc/5svcf2p4.png)

I'm trying to implement the currency extension. I have included the jquery.inputmask and jquery.inputmask.numeric.extensions file.

![](https://dl.dropboxusercontent.com/spa/q811k4gyl5w9pcc/33puv03v.png)

[2014-11-10 22:44] RobinHerbots commented on #728
There is the oncleared callback which you can use.

[2014-11-10 22:51] RobinHerbots commented on #729
I will have a look on wednesday.

[2014-11-10 22:54] RobinHerbots commented on #730
I will have a look on wednesday.  Can you make a jsfiddle for it.

[2014-11-11 19:59] manrueda opened #731 "Numeric mask - Error with an asigment"
Hi @RobinHerbots ,

I was testing some modules of my project and find that the plugin fails when a certain number is assigned to the input. I don't known why this happens, but with the number in the example is easy to reproduce.

Example: http://jsfiddle.net/ManRueda/r1okb5by/

[2014-11-11 20:19] RobinHerbots commented on #731
I will check it tomorrow.  I made a change in check val which probably causes it.  I will add the cases in the qunit tests.

[2014-11-12 09:28] RobinHerbots commented on #730
@inoda ,

I do not see a problem here.

Can you make a jsfiddle which shows the problem.

Robin

[2014-11-12 10:10] RobinHerbots commented on #729
@answer261 ,

Fixed in the latest commit.

[2014-11-12 10:10] #729 closed, assigned to RobinHerbots

[2014-11-12 11:27] RobinHerbots commented on #729
http://jsfiddle.net/vp9090gq/1/

[2014-11-12 11:28] #728 closed, assigned to nobody

[2014-11-12 14:51] mikerockett commented on #728
Perfect, thanks :+1:

[2014-11-12 14:51] answer261 commented on #729
@RobinHerbots big thanks!

[2014-11-12 17:01] inoda commented on #730
I think there was other JS code interfering with your plugin.

On Wed, Nov 12, 2014 at 3:28 AM, Robin Herbots notifications@github.com
wrote:

##

*Isaac Noda http://www.isaacnoda.com/ *| Web Developer
- LinkedIn https://www.linkedin.com/in/isaacnoda
- GitHub https://github.com/inoda
- Twitter https://twitter.com/isaac_noda

[2014-11-12 17:32] MaximDubrovin commented on #653
Absolutely the same thing happened for me.

[2014-11-12 22:19] #730 closed, assigned to RobinHerbots

[2014-11-13 17:17] gcarneiro commented on #685
Hi again, i solve this problem parcially. I am currently using an onUnMask function to do the job. Like you can see on this fiddle: http://jsfiddle.net/s2yhvtsp/4/
- Posting from fiddle would not work, try to run this code on your environment.

But i still facing an problem. I am using html5 FormData to send my requests. If i use $('#myInput').val() or document.getElementById('myInput').value i ge

[2014-11-14 05:48] laxmikantG opened #732 "Decimal adds extra trailing zeros in the end of mantissa"
Hello Robin,

In decimal fields, have observed an issue. If the user inputs lesser digits in fractional part than in `data-inputmask` attribute then, the plugin adds remaining trailing zeros in the field.

[code]

In this field, if user only inputs `2.0`, then onblur it becomes `2.0000000000`, They're exactly same but the behaviour is not as expected. Can you please fix this too?

Thank you

Apart

[2014-11-14 06:23] laxmikantG commented on #723
@RobinHerbots/@babupca :-    Tried in ubuntu, but not reproducible. Will try in windows next time.
Our testing team also have found a similar kind of issue. Please check following screen grabs.
But they do use Air Client on windows instead of chrome. It happens on pressing backspace only

![screen_grab1](https://cloud.githubusercontent.com/assets/1826523/5042265/2ff8330a-6bf8-11e4-9217-7b4d7d0f6cb

[2014-11-14 15:02] RobinHerbots commented on #732
@laxmikantG ,

The latest commit fixes the first.  It will autofill the digits only when there are required on blur.

You can get info from the mask by getting the metadata (getmetadata)  But it does not return the alias but the mask used.

[2014-11-14 15:08] RobinHerbots commented on #685
@gcarneiro ,

See http://jsfiddle.net/s2yhvtsp/5/

set the  removeMaskOnSubmit: true,

[2014-11-14 18:50] gcarneiro commented on #685
We got a problem with this aproach. If i have, in some way, to submit this form twice or more we lose mask on first submit, and all next after that we dont have it masked.

Consider this screen bellow, i got an instant search on a persons list, and you can find someone by just typing its phone. The search works at every keyUp, doing that i cant remove this mask and i cant have my placeholder on my

[2014-11-17 09:52] laxmikantG commented on #732
@RobinHerbots :- Thanks for solution, as well as for the answer.  :+1: :+1:

[2014-11-17 10:57] #732 closed, assigned to nobody

[2014-11-17 11:00] RobinHerbots commented on #465
@rimata12 ,

It will be for milestone 3.3

[2014-11-17 11:05] garex commented on #465
@RobinHerbots did you find some normal solution for this?

[2014-11-17 12:03] babupca opened #733 "date mask Text field getting selected on TAB-OUT (only in Mozilla Firefox)"
NOTE: This issue is occuring only in mozilla firefox.

On tab out from the text field, i wanted to auto populate the date in the text field. I added it and it is working fine in chrome browser, but not in FIREFOX browser.

EX:   dd.mm.yyyy  ( if i type 12 and tabout the month and year should be autopoluted and moved towards the next field. But instead, it is selecting the field in mozilla firefox.

[2014-11-17 14:05] manrueda commented on #731
Hi @RobinHerbots

There are any news about this issue??

Thanks!

[2014-11-17 15:17] RobinHerbots commented on #731
@ManRueda ,

It's on my todo list.  It will be fixed this week.

[2014-11-18 04:31] afattahi54 opened #734 "Mask On Divs"
Hi,

Is it possible to apply this mask on static contents like div:
Please see http://igorescobar.github.io/jQuery-Mask-Plugin/

Regards,
Alireza Fattahi

[2014-11-18 12:48] babupca opened #735 "Removal of "@" symbol in email mask input field"
Hi Robin is there, any way to remove the "@" symbol, which displays on focus. And allow the user to type on their own.

I removed and tried adding it the validator part, but it allows multiple "@". Please let me know, if there is any possibility

[2014-11-18 16:15] RobinHerbots commented on #735
@babupca ,

Use a regex mask instead of the email alias.

[2014-11-18 16:19] RobinHerbots commented on #734
@afattahi54 ,

Yes and no, ... you can use the $.inputmask.format fn and set the result on the div.
You cannot currently select a div or other element then an input as target.

Maybe I can add that functionality.

[2014-11-18 16:21] RobinHerbots commented on #733
@babupca ,

This is because setting the value in the tab-out refocuses the input.  I will see what I can do.

[2014-11-19 05:59] babupca commented on #733
@RobinHerbots ,

Please note that, this issue is occuring only in Mozilla firefox browser.

[2014-11-19 07:26] laxmikantG commented on #716
@RobinHerbots :-
I have updated the plugin to latest version to pull the fix for #732 . It seems updated version also fixes this issue. Since closing this issue.
Thank you

[2014-11-19 08:30] RobinHerbots commented on #716
@laxmikantG ,

Yes that was due to some code in the keyup event.

[2014-11-19 14:47] pchelailya opened #736 "the caret position goes to the last symbol"
same error as
https://github.com/RobinHerbots/jquery.inputmask/issues/272

old mask 9999 9999 9999 9999

function check_ApplicationCreditCardNumber_symbol(){
        var input = context.find('#ApplicationCreditCardNumber');
        var result=validate_CC_type();
        if(!(result.card_type ==undefined) &&  result.card_type.name==='maestro' ){
            $(input).inputmask({mask:"99999999 999999

[2014-11-19 14:50] pchelailya commented on #736
"version": "3.1.38",

[2014-11-19 16:13] tetronomis opened #737 "Compilation error with YUI compressor"
The YUI compressor returns an error on this line: "missing ) in parenthetical"

var ua = ("function" == typeof ScriptEngineMajorVersion ? ScriptEngineMajorVersion() >= 10 : /_@cc_on (@_jscript_version >= 10) ||@_/ !1,
        navigator.userAgent)

[2014-11-19 23:31] dslack opened #738 "Unicode values mangled on dist versions"
Using the library for the first time, and found that the unicode values for definitions like 'a' and '#' are being mangled (most likely by uglify).

For example,
A: { validator: "[A-Za-zА-яЁёÀ-ÿµ]"

See https://github.com/mishoo/UglifyJS2/issues/54

[2014-11-20 00:43] RobinHerbots commented on #738
@dslack ,

Thx for reporting, I will try to fix that asap.

[2014-11-20 01:29] camj256 commented on #653
Still having the same issue on the newest version, but only with my email regex:

here is my code:
$("#email").inputmask({
        mask: "_{1,20}[._{1,20}][._{1,20}][._{1,20}]@*{1,20}[._{2,6}][._{1,3}]",
        greedy: false,
        regex: "[a-zA-Z0-9._%-]+@[a-zA-Z0-9-]+\.[a-zA-Z]{2,4}",
        isComplete: function(buffer, opts) {return new RegExp(opts.regex).test(buffer.join(''));}
    });

[2014-11-20 04:38] laxmikantG commented on #716
@RobinHerbots : --
Sorry, It did not work. Its working sometimes. But not on every field. Could you please check it? OR Let me know, if I can check in any specific function or in event.
Thank you

[2014-11-20 07:29] gmrash opened #739 "Plugin sends null instead of 0"
Hello,
I use inputmask currency for my field. I need to send value to database, but it does not send value 0.

$( '#order_paid_sum' ).val(0)
//Rails log shows:  "paid_sum"=>""

$( '#order_paid_sum' ).val(500)
//Rails log shows:  "paid_sum"=>"500"

[code]

[2014-11-20 08:32] RobinHerbots commented on #716
@laxmikantG,

Can you workout an example where in it occurs.

[2014-11-20 13:44] dslack commented on #738
Awesome!  thanks for the quick commit!

[2014-11-20 13:44] #738 closed, assigned to RobinHerbots

[2014-11-21 09:11] RobinHerbots commented on #731
@ManRueda ,

Just a thought, ... you jave integreDigits set to 6 and give it a number 8100000 (7integers)

which result in 810.000, which is just thinking about the mask correct but when seen in numbers totally wrong.  Should this result in 999.999 ?

[2014-11-21 10:09] #731 closed, assigned to RobinHerbots

[2014-11-21 10:17] RobinHerbots commented on #717
@laxmikantG ,

The pressing escape reverts the value to the value before focus

[2014-11-21 10:33] #721 closed, assigned to nobody

[2014-11-21 10:33] #735 closed, assigned to nobody

[2014-11-21 10:54] RobinHerbots commented on #739
@gmrash ,

On submit it send the 0.00 (verified) but when getting the 0 with .val() it returns nothing because it matches the initial mask.

Add the autoUnmask: true option to get the desired result.

[2014-11-21 11:16] RobinHerbots commented on #737
@tetronomis ,

The code isn't needed anymore.  So I removed it and so resolves the issue.

[2014-11-21 11:16] #737 closed, assigned to nobody

[2014-11-21 11:21] laxmikantG commented on #717
Okay, Noted. This behaviour is the feature of your plugin, then I wonder if it could be an optional. On our side a modal popup comes on `Esc` event.
Thank you

[2014-11-21 11:32] RobinHerbots commented on #717
@laxmikantG ,

Ok done.  Set the undoOnEscape option to false.  (latest commit)

[2014-11-21 11:32] #717 closed, assigned to RobinHerbots

[2014-11-21 11:38] laxmikantG commented on #717
Thank you

[2014-11-21 15:59] manrueda opened #740 "JS Runtime Error - IE 8"
Hi @RobinHerbots

I was trying the last change to use the fix about the big numbers, and now the plugin crash on every mask, but only in IE8. I track the error line to this change 0ef26ee0068cbf0836dd4a5e189e9085d32cba2d where you add the line "if (e) e.preventDefault();" and crash on it.

I can't give you a jsfiddle because i can't run it on IE8.

Thank!!

[2014-11-21 17:52] RobinHerbots commented on #740
Sorry i didn't test on ie8.  I will fix that asap.

[2014-11-21 19:07] manrueda commented on #740
Thanks @RobinHerbots !!

[2014-11-24 05:45] gmrash commented on #739
Thank you, It works.

[2014-11-24 05:45] #739 closed, assigned to RobinHerbots

[2014-11-24 08:39] RobinHerbots commented on #740
@ManRueda ,

Is this only happening in the real IE8 or also in IE10 in IE8 mode?

[2014-11-24 10:08] kaishin opened #741 "Does not work with type=number"
I'm using a type=number for some input fields but it doesn't seem to work with this plugin. Tested under Chrome and Safari (desktop).

[2014-11-24 13:04] pchelailya opened #742 "update mask, not touch event listener"
For example
input.inputmask({
        mask: mask,
        placeholder: "0",
        oncomplete: function() {
            alert('He');
        });
input.inputmask({'mask':newmask});

alert('He') not working
how to fix this?

[2014-11-24 15:27] innah opened #743 "numeric display"
Hi,

I've an element with this parameters:

[code]

But, when i write "100" without ".00", the input convert into "100.0. kg". Do you know where is the problem ?

If i change "placeholder" to "0", i can't write "0" or "0.00" because he disable the result and i can't save my input because i need a value.

Thank you very much.

[2014-11-25 04:27] camj256 commented on #653
This is still a pretty big problem for us. Robin, if you have any insight into why this might be happening I'll look into fixing it myself. I don't have too much time to dedicate to this right now though. Have you been able to reproduce the issue at all? I can give more detail if needed.

[2014-11-25 09:21] mserioli opened #745 "Android issue with Text previsioning enabled"
Hi all.

I'm having strange behaviour on a Samsung Galaxy Tab Android 4.1.2 using (now) chrome 39.0.2171.59. It happens also with native browser and firefox 33.1

The problem appears when Text Previsioning is enabled. I'm using the following inputmask

    <input id="_elem_id" name="elem" class="form-control valid" type="text" value="12.00"
        autocomplete="off" aria-required="true" maxlength

[2014-11-25 09:38] babupca opened #746 "on pressing the BACKSPACE in integerDigit part, digit part no and integerDigits part no is behaving worngly"
Step 1: Type the following value  -  123456.078
Step 2: Now keep the cursor in the middle of 5 and 6
Step 3: Now use the BACKSPACE to remove the NO 5
Step 4: Now you can see the NO  5 is converted to 6, it is copying the last integerDigit 6
Step 5: And also .078 is now .780, this is 78 is also shifted.
Setp 6: Now you can see the the whole nos in the following form  =  123466.780

jsfiddle link
ht

[2014-11-25 10:30] RobinHerbots commented on #653
@camj256 ,

All input where a compositioin event is fired will not work currently.

I will try to fix the composition this week.

[2014-11-25 10:32] RobinHerbots commented on #743
@innah ,

Can you try with placeholder set to "0" and add the autoUnmask: true option,

[2014-11-25 10:55] innah commented on #743
@RobinHerbots ,

The value is always invisible when I began to "0" or "0.00". So I can not save the form. Perhaps a problem with Chrome?

[2014-11-25 13:28] kamilklosowski commented on #745
Hello,

I've came across to same issue.

Any help will be appreciated.

[2014-11-25 15:21] RobinHerbots commented on #743
@innah ,

Can you workout a jsfiddle to make it more clear.

[2014-11-25 15:38] RobinHerbots commented on #740
@ManRueda ,

Can you confirm that it is fixed?

[2014-11-25 16:20] manrueda commented on #740
@RobinHerbots

Works great!!!

Thank!

[2014-11-25 16:20] #740 closed, assigned to RobinHerbots

[2014-11-26 06:35] innah commented on #743
@RobinHerbots ,

http://jsfiddle.net/8tnyrjz3/

Many thanks

[2014-11-26 10:49] RobinHerbots opened #747 "Verify composition events triggered in FF/Linux"
Character inserted via AltGraph or Ctrl+Alt ignores mask validation #192

[2014-11-26 11:20] RobinHerbots commented on #743
@innah ,

try using with the options in http://jsfiddle.net/8tnyrjz3/2/

[2014-11-26 11:21] RobinHerbots commented on #192
@dsmalinsky ,

Would you mind retesting the issue in FF/Linux with the latest commit.

[2014-11-26 12:51] innah commented on #743
It works! Thank you very much :)

[2014-11-26 12:51] #743 closed, assigned to nobody

[2014-11-26 13:50] dsmalinsky commented on #192
Hi @RobinHerbots, just tested on
- Chrome Version 39.0.2171.65 (64-bit) under Ubuntu Linux 14.04
- Firefox 33.0 under Ubuntu Linux 14.04

Both browsers work as expected on http://www.stagingenv.com.ar/jquery.inputmask/test.htm

[2014-11-26 13:54] mserioli commented on #745
Hi and thank you for the rapid fix proposed. Is seems better now:

If I write 12 it do not modify into 11,

 but if I wrote for example

13.1 -> it works

If I wrote 2 decimals, for example
13.12 -> 13.113.12

Thank you very much

[2014-11-26 15:10] RobinHerbots commented on #192
@dsmalinsky ,

Great!  Thx!

[2014-11-26 15:18] RobinHerbots commented on #745
@mserioli ,

Thx for the feedback.

I'm aware of the above problem.  It is causes due that typing 13.1 is a composition and 13.12 a second, but with the complete input from the previous.
I should read a bit about the composition events again.  Does the composition adds to the input of replaces it?  A solution to the above is could be just replacing the whole input  and masking on the new compositi

[2014-11-26 17:11] mserioli commented on #745
@RobinHerbots

Thank you for your quick reply

The composition add the input between the inputed text. Tomorrow I will be more precise, I have not a tablet with me rigth now.

[2014-11-26 17:44] lynxlive opened #748 "Extra ("
On the current version there seems to be an extra ( in the front of all masked fields... so phone numbers are ending up like ((555) 555-555, social security numbers are ending up like (555-55-555, etc.

[2014-11-26 18:13] lynxlive commented on #748
While working on figuring out what this is, I found that if I do a mask like this:

$('.ssn').inputmask({
mask: "###-##-####",
greedy: false,
definitions: { '#': { validator: "[0-9]", cardinality: 1}} });

it works fine, but if I have it like this:

var ssns = [{ "mask":  "###-##-####" }];
$('.ssn').inputmask({
mask: ssns,
greedy: false,
definitions: { '#': { validator: "[0-9]", cardinality: 1}} }

[2014-11-26 18:40] RobinHerbots commented on #748
I will fix that asap!!

[2014-11-27 01:38] nikomiranda opened #749 "Infinite Loop on IE (v11) when using Japanese IME Keyboard"
It's a little strange and may be hard to reproduce. It occurs when decimal control (even the one on the demo page). When you switch in windows to Japanese to write Hiragana　（あえいおう）, and write in full width using the numeric keypad (the numlock's one) over the control　（　１１１ ）, then control repeats the character multiple times (some time infinite). I'm using 3.1.41 version and the demo version.

 Th

[2014-11-27 05:56] mserioli commented on #745
@RobinHerbots

Here you are the sequence of inputs -> results on my tablet:

1 => 1
12 => 12
12. => 12.
12.1 => 12.1
12.12 => 12.1<b>12.12</b>

Then when I focus over the input field It's be converted into: 12.121

[2014-11-27 08:40] #748 closed, assigned to RobinHerbots

[2014-11-27 08:42] RobinHerbots commented on #749
@nikomiranda,

Is this only in IE11 or also in Chrome & FF & etc..

[2014-11-27 15:37] yesman85 opened #750 "Nested alternator groups not working"
I am trying to validate the following:

((9{1,3})|(S|N)(E|W))-9{1,3}

Valid combinations should be:
999-999
SE-999
NE-999
SW-999
NW-999

But with the multiple groups I get the result:
(S))-123

Is there a way to nest alternators?

[2014-11-27 16:38] RobinHerbots commented on #750
@rogier21 ,

Complexer (like nested) alternators are not yet working as they should.
For the moment try to simplify by defining them as multiple mask.  ["999-999", "SE-999", ...

It is planned to further optimize the alternators.

[2014-11-27 16:42] rogerfar commented on #750
Ok great thanks!

I actually fixed it with definitions:

[code]

[2014-11-28 01:17] nikomiranda commented on #749
Thanks for your quick answer. Yes, it only happens on IE11 under Windows 8.1 environment. FF/Chrome works ok.

[2014-11-28 05:49] mserioli commented on #745
@RobinHerbots

Thank you for experimental commit. Now the behaviour is the same as explained above:

1 => 1
12 => 12
12. => 12.
12.1 => 12.1
12.12 => 12.1<b>12.12</b>

Buf when the input type lose focus the result is displayed correctly.

It still have problems with more complex  pattern, like date mask field

Thank you!

[2014-11-28 07:33] RobinHerbots commented on #745
@mserioli,

Now that i'm busy with android.  Shoot the problems of the other mask too.

I tried the email mask and that is working.  I noticed a missing keypress event, when typing numeric chars and that is probably why the above occurs.

[2014-11-28 08:02] #747 closed, assigned to RobinHerbots

[2014-11-28 09:10] mserioli commented on #745
@RobinHerbots

I'm using a mask like this

[code]

When I type text the mask is translated to the right:

[code]

[2014-11-28 10:14] RobinHerbots commented on #745
@mserioli ,

Why don't you try .inputmask("date", { insertMode: true });

[2014-11-28 10:19] RobinHerbots commented on #465
@garex ,

You can have a try with the latest commit

[2014-11-28 10:21] garex commented on #465
@RobinHerbots btw, have you tried locally and on some real device(-es)?

[2014-11-28 10:29] mserioli commented on #745
@RobinHerbots

Not working

1 => 1_-**-__**
12 => 12-**-__**
121 => 12-1_-____
1210 => 12-10-____
12102 => 10-**-__**
121020 => 10-**-__**
1210201 => 01-**-__**
12102010 => 01-**-__**

Nothing change using insertmode.

Thank you!

[2014-11-28 10:35] RobinHerbots commented on #465
Yes, I did the test on my samsung phone.

[2014-11-28 10:36] RobinHerbots commented on #745
@mserioli ,

Did you try with the latest commit?

[2014-11-28 10:39] mserioli commented on #745
@RobinHerbots

Yes, with the last. As you can see the bahaviour change from last comment and previous.

And changing to .inputmask("date", { insertMode: true }); have no impact!

[2014-11-28 10:46] RobinHerbots commented on #745
Very strange as on my Galaxy Ace3 S727R5 Chrome the date alias is working fine when using insertMode: true

[2014-11-28 11:20] mserioli commented on #745
@RobinHerbots

maybe you are using a different pattern? For the day and month all is ok, but it lacks on the year.

I'm using d-m-y

[2014-11-29 05:39] garex commented on #465
@RobinHerbots sorry, but I can't test it in near time. But when will — I'll report back.

@all pls someone test it under Android!

[2014-11-29 06:38] mserioli commented on #745
@RobinHerbots

Re-tested it more carefully.

It works using

[code]

but using

[code]

it doesn't. So the problem now is in datetime pattern.

[2014-12-01 12:25] bakbul opened #751 "The .inputmask('unmaskedvalue') is not working on specified masks"
i've this mask
$('#example').inputmask('decimal',{radixPoint:',', groupSeparator: '.', digits: 2,autoGroup: true, numericInput: true});

then i want to get the decimal value of the input without dots. Ex: the mask value is 1.234,56 but when i want to get the unmasked value i supposed to be 1234,56.

I tried to get $('#example')..inputmask('unmaskedvalue'). However, it is given the following script

[2014-12-01 12:53] RobinHerbots commented on #751
@bakbul ,

Can you try with removing the numericInput: true option

[2014-12-01 12:56] RobinHerbots commented on #742
@pchelailya ,

When you apply a new mask you also need to pass the other options & callbacks

[2014-12-01 13:00] RobinHerbots commented on #653
@camj256 ,

This is fixed in the latest version.  Can you confirm.

[2014-12-01 13:11] RobinHerbots commented on #746
Fixed in the current version

[2014-12-01 13:11] #723 closed, assigned to RobinHerbots

[2014-12-01 14:32] bakbul commented on #751
it remains same without the numeric input parameter

[2014-12-01 14:42] liammcsheffrey opened #752 "IE7 Date mask using date extension"
Hi,

When in IE7, using the date extension, it is only possible to enter the day into the input (dd/mm/yyyy).

So for instance, enter 12, and it is not possible to continue entering the mm and yyyy in IE7.

Is this a known issue?
![ie7](https://cloud.githubusercontent.com/assets/8490037/5247195/4226517e-7968-11e4-8ad5-1a39e23d71c9.png)

Any help much appreciated!

[2014-12-01 14:44] DrSammyD commented on #715
I just wanted to let you know that changes from 3.1.38 to 3.1.39 broke my fiddle again, but this time something to do with the datetime mask

[Working fiddle with 3.1.38](http://jsfiddle.net/n2o9qca4/3/)

[Not working fiddle with 3.1.39](http://jsfiddle.net/n2o9qca4/4/)

[2014-12-01 14:58] bakbul commented on #751
Actually, i don't want to assign the value as masked, i just want to visualize it. What I really want to do that, the user will see value 1.234,56 but the real value is stored like 1234,56 in the input. Therefore, I can assign it as a decimal data type.

[2014-12-01 15:59] RobinHerbots commented on #715
@DrSammyD ,

Looking at the code, ... I do not understand how it works by switching 1/2/y to 2/1/y.

Lucky coinsidence I guess.  Anyway, I will refactor the date alias to work with date patterns, instead of different inheriting aliases ;-)

[2014-12-01 16:01] RobinHerbots commented on #751
@bakbul ,

Can you make a jsfiddle for it as removing the numericinput: true options works here.

[2014-12-01 16:02] DrSammyD commented on #715
in your definitions for the datetime alias `1` is defined as the day's place, and `2` is defined for the month's place. The definitions get inherited so switching them just uses those definitions I believe. At least that's the way I read your code.

[2014-12-01 16:05] DrSammyD commented on #715
https://github.com/RobinHerbots/jquery.inputmask/blob/3.1.38/dist/inputmask/jquery.inputmask.date.extensions.js#L103

that's where you define the `1` and `2` definitions.

[2014-12-01 16:08] RobinHerbots commented on #715
@DrSammyD ,

I know but there is more then just the definition.  The key are the regex definitions defined in the alias.

[2014-12-01 16:12] liammcsheffrey commented on #752
Issue occurs when setting up selector with: ("dd/mm/yyyy", { "placeholder": "dd/mm/yyyy", "clearMaskOnLostFocus": false }).

Can use ("d/m/y", { "placeholder": "dd/mm/yyyy", "clearMaskOnLostFocus": false }); and it works OK, but leap years are not validated

[2014-12-01 16:19] RobinHerbots commented on #752
@liammcsheffrey ,

Thx for the feedback, I will verify it on ie7

[2014-12-01 16:47] liammcsheffrey commented on #752
Thanks - hopefully not too difficult to fix. We still need to make our websites support IE7 unfortunately!

[2014-12-01 19:20] mserioli commented on #745
Hi @RobinHerbots

Do you, by any chance, have verified the behaviour above?

Thanks!

[2014-12-02 04:51] babupca commented on #723
@RobinHerbots ,

This issue is fixed Now. Thanks

[2014-12-02 05:00] babupca commented on #746
@RobinHerbots ,

This issue is not fixed. I have tested it just now. Please look into the above jsfiddle link itself. You can reproduce it.

[2014-12-03 08:46] RobinHerbots commented on #752
@liammcsheffrey ,

The issue is fixed.  See latest commit in the date extensions.
A new bundle and release will follow soon.

[2014-12-03 08:46] #752 closed, assigned to RobinHerbots

[2014-12-03 08:49] RobinHerbots commented on #746
@babupca ,

I followed the exact steps from above and see no problem.   Can you retest or give more details.  Os? Browser? version?   Clear browser cache

[2014-12-03 13:41] bakbul commented on #751
http://jsfiddle.net/bu3z9c9o/1/

[2014-12-03 14:21] manrueda opened #753 "Numeric mask - The decimal autocomplete doesn't work"
Hi @RobinHerbots

I just find an issue that i think was fixed some time ago. If i set a decimal mask, write 100 for example and press TAB, the decimal part does not complete automatically.

Example: http://jsfiddle.net/ManRueda/1ndmwf4L/

[2014-12-04 08:09] bakbul commented on #751
I've fixed it using the 3.0 version of the package, thank you :)

[2014-12-04 08:56] RobinHerbots commented on #751
@bakbul ,

In your fiddle you get the unmaskedvalue, then you set the value back to the input, which will be masked again by the inputmask and then you alert the value retrieved with $.val.

I updated your fiddle to show 2 ways you can solve this.
http://jsfiddle.net/bu3z9c9o/2/

Just alert the unmaskvalue or set the autoUnmask option to true.  Maybe it is also interesting to read about the remove

[2014-12-04 08:56] #751 closed, assigned to nobody

[2014-12-04 08:59] RobinHerbots commented on #753
@ManRueda ,

You have to set digitsOptional: false as option.

http://jsfiddle.net/1ndmwf4L/1/

[2014-12-04 09:06] RobinHerbots commented on #746
@babupca ,

Finally I got to reproduce it  ;-)))   You need to type 123456 then set the caret after the first 0 in the digits and continue 78.

I will see how I can fix this.

[2014-12-04 09:26] RobinHerbots commented on #741
@kaishin ,

Yes this is because type=number only allows numbers so there are not much masking options.

[2014-12-04 09:26] #741 closed, assigned to nobody

[2014-12-04 09:45] bakbul commented on #751
that would help, thank you :)

[2014-12-04 12:17] manrueda commented on #753
@RobinHerbots

Ohhh I knew it was that property, but I could not find in the documentation...

Thanks!!!

[2014-12-04 12:17] #753 closed, assigned to nobody

[2014-12-04 15:47] mtomas-mpm opened #754 "Numeric inputMask doesn't rounds value"
Hi,

I'm using your control to show some calculated percentages, and when I'll try to set a value with more decimal digits than the defined on the mask, the value is truncated, and I'll expect to be rounded.

JSFiddle: http://jsfiddle.net/nmu49ufe/

Is there any plan to correct it? Or I'll must round the value before to set to the input mask?

Thanks a lot,

Marc.

[2014-12-04 16:13] herby86 opened #755 "jQuery input mask with two different user inputs"
Hey,

I'm not sure, if it's a bug or I'm doing something wrong. I want to create an input, which takes two different values by the user. It should look like this [X.XXX$ for X years]. The Xs are input values. Is it possible to realize that with jquery.inputmask?

I tried the following but it won't work:

$(document).ready(function(){
   $('.query').inputmask({
       mask: '9.999$ for 9?9 years',

[2014-12-04 16:16] RobinHerbots commented on #754
@mtomas-mpm ,

It is not yet planned, but it sounds like a nice idea.
I will add a rounding option

[2014-12-04 16:48] mtomas-mpm commented on #754
Oh thanks! I'll implement a temporary solution waiting for the next release.

[2014-12-04 18:05] camj256 commented on #653
Its actually a lot worse than 3.1.38.

My original issue is back:
However, now on Chrome 37/38 Android whenever I try to enter text on a value with any regex if I enter the letter 'j' for example any other key presses show up as 'j'. So Johnson would be JJJJJJJ

on 3.1.38 it works sometimes...in some spots, like first and last names, it will show overwrite the first letter with the next letter and

[2014-12-04 21:18] camj256 commented on #653
So I re-wrote all the regex ones but its still not working - first, last, email and address are still broken. Either in the way described above, nothing showing up when typing, or scrambled text.

[code]

I'm doing some debug work right now, I think the buffer on the regex is not getting the right values. I'm also looking into just writing my own function to do the regex work. If I get it working

[2014-12-05 05:53] camj256 commented on #653
Spent some time on this today and wrote my own plugin to do the stuff that doesn't work. Works great across the board so far. Leaves some stuff out as you can see. May make this more in depth later but for now it fills the gap enough for my needs... Re-use whatever you like from it.

[code]

input masks are now:

[code]

incomplete snippet for how I check for masked values and completness:

[code]

[2014-12-05 14:26] RobinHerbots commented on #755
@herby86 ,

See http://jsfiddle.net/jaokqLxe/

[2014-12-06 10:36] brownrl opened #756 "composer?"
Tried to get this go with composer. Is it possible you will add a composer.json file later?

[2014-12-08 08:27] RobinHerbots commented on #756
@brownrl ,

Can you send a PR for the composer.json.  Do I need to register the package?

[2014-12-08 16:21] RobinHerbots commented on #693
@jason16v ,

Fixed in the latest commit.
A new bundle and release will follow soon.

[2014-12-08 16:33] RobinHerbots commented on #736
@pchelailya ,

Refixed in the latest version

[2014-12-08 16:33] #736 closed, assigned to RobinHerbots

[2014-12-08 16:33] #693 closed, assigned to RobinHerbots

[2014-12-08 16:38] #742 closed, assigned to RobinHerbots

[2014-12-09 07:54] garex opened #757 "phone-uk.js has trash in code"
See phone-uk.js — it has some copy-paste trash.

[2014-12-09 08:24] RobinHerbots commented on #757
@garex,

;-)  No it's not copy paste trash!  It is just not finished.  I was hoping someone would finish it and send a pull request ;-)

[2014-12-09 15:05] RobinHerbots commented on #746
@babupca ,

Can you retry with version 3.1.46

best regards,
Robin

[2014-12-10 07:21] babupca commented on #746
@RobinHerbots ,

It is almost fixed apart from one issue, were the ZERO is not added when all the integerDigits is been deleted.

For Example :

TYPE :
123456.023
place the cursor --> 123456(cursor).023 - here delete 123456,
Result now is  .023
instead of --> 0.023

please check if you have any problems.

[2014-12-10 08:18] RobinHerbots commented on #746
@babupca ,

Yes I'm aware of that but that is another issue ;-)
I will fix that soon.

[2014-12-10 08:36] babupca commented on #746
@RobinHerbots ,

;-) Yes Robin you are right., it is #722.

Then this issue is fixed. We can close this defect.

[2014-12-10 10:44] babupca commented on #746
@RobinHerbots ,

I think some other problem has surfaced,

Just Type :
123456.120
Keep the caret before (dot)  123456(here).120
Now from here press SHIFT+ HOME and select, now 123456 will be selected.
Now press 1
the result is   -- >  112.120 instead of 1.120
I don't know how 12 is getting added to the integerDigit part.

Please let me know, if you require any more info on this.

[2014-12-10 12:44] DimanKuskov opened #758 "Certain phones not inputable"
There is no way to input +996557111600 phone, although +996(###)###-### is specified in phone-codes. After inputing 996 the next symbol is forced to be 6.
The problem is related to bracets in mask, which makes the mask break into tokens by tokenizer. Replacing mask with +996-###-###-### helps to solve the problem, but spoils the view.

[2014-12-10 13:28] lmbelo opened #759 "Not pasting value in masked input field"
I'm trying to use the following mask on a input field:

$('#input-cnpj').inputmask(
            {
                "mask": "99.999.999/9999-99",
                "numericInput": true,
                "autoUnmask" : true
            }

When I paste the value, the cursor is set on the end of the mask after "-99" and so the value is not pasted. So, if i press "Home" button, the cursor is positioned to

[2014-12-10 14:41] RobinHerbots commented on #759
@lmbelo,

Which version do you use?  And on which browser.

[2014-12-10 15:02] lmbelo commented on #759
Version in Readme.md: 3.x
Version in dist files: 3.1.32

Tested on Chrome, Firefox and IE

[2014-12-10 15:53] RobinHerbots commented on #759
@lmbelo ,

I made a jsfiddle for it http://jsfiddle.net/hdqnadhj/

The problem i see is when you paste the value repeatedly, it gets reversed.

[2014-12-10 16:06] lmbelo commented on #759
Is not getting reversed, is not getting pasted. But in your example it works. I have 3 places on my application that uses this mask and both presents problems with paste.

[2014-12-10 16:06] lmbelo commented on #759
Is there a way to show to you?

[2014-12-10 16:14] lmbelo commented on #759
I saw that you are using jQuery 1.11.0 on jsfiddle and I use http://code.jquery.com/jquery-latest.min.js that cames with 1.11.1. Could be a problem?

[2014-12-10 17:19] ishytow opened #760 "Multiple masks"
Hi,

1) Is it possible to set more then two masks for one input (e.g. mask: ["9+9", "99+99", "99+99+99"])?
2) is it possible to set masks as ["99+99+99", "+99+99+99+99"]. Steps:
  1. user complete first mask 12+34+56
  2. continue typing and plugin toggles to the next mask +12+34+56+4_ ...
Is it possible or is there any workaround?

Thanks,

Best regards,
Ilya Shytov

[2014-12-10 17:42] NickKyriakidis opened #761 "Windows Phone IE input with inputmask doesnt seem to work"
It renders the mask-placeholder dd/mm/yyyy but when you type numbers using software keys the position jumps to the end of mask. However the dd gets its value but the mm not. After the jump you can edit only the last digit of the year mask part.

[2014-12-10 18:45] RobinHerbots commented on #759
Can you try with latest verdion of inputmask

[2014-12-10 19:20] RobinHerbots commented on #761
@k-nickos ,

Windows Phone is untested, but I will have a look at it.  Within an emulator or so.

[2014-12-10 21:11] julex18 opened #762 "Typing polish letter "ż" deletes all characters typed before :("
ex. $("#City").inputmask('Regex', { regex: "[a-zA-ZęóąśłżźćńĘÓĄŚŁŻŹĆŃ /-]{0,50}" });

[2014-12-10 23:02] NikoKyriakid commented on #761
@RobinHerbots
Great plugin btw. If you would like to test it, just for you to know the browserstack emulators doesn't apply the mask to the input at all I think. So the input becomes simple text input. However the 2 actual windows phones that I tried, they applied the inputmask but with this issue.

[2014-12-11 00:30] sollipse commented on #465
Running into this same issue myself. My guaranteed reproduction method is go boot up a Genymotion virtual emulator, set to some Galaxy device running android 4.x.x, then setting "default keyboard -> hardware keyboard OFF" in the emulated phone's settings.

[2014-12-11 08:22] RobinHerbots commented on #760
@ishytow ,

Have a look at http://jsfiddle.net/8gx6szh5/

[2014-12-11 08:35] RobinHerbots commented on #762
@julex18 ,

Is this in all browsers?

[2014-12-11 08:37] RobinHerbots commented on #465
@sollipse ,

Android still gives some uncontrolled behavior.  It should be possible to stop the compositioning.  That would fix alot.

[2014-12-11 08:38] RobinHerbots commented on #759
You can chat with gmail or skype.

[2014-12-11 09:57] julex18 commented on #762
I tested it in Chrome 39.0.2171.95 m, Firefox 34.0.5, IE 11

InputMask Version: 3.1.47 (didn't test other versions)

If I paste ż or Ż it's ok but if I type it then everything before gets deleted.

The key combination on Polish programmer's keyboard (the standard windows choice for Polish) is right alt + z, maybe it's some key scancode thing.

Other polish chars are ok (śćźńłóęąź)

Simplest page (

[2014-12-11 10:08] RobinHerbots commented on #762
@julex18 ,

Thx for the feedback, I will have a test, but I first need to setup my keyboard to polish.;-)

[2014-12-11 10:35] ishytow commented on #760
Thanks a lot!
But is it possible to set mask list as it is here: http://jsfiddle.net/8gx6szh5/1/. Where the third mask is "+99+99+99", Can I some how make first plus optional (e.g.: "[+]99+99+99")?

http://jsfiddle.net/8gx6szh5/2/ - this is more clear example

[2014-12-11 10:38] julex18 commented on #762
You might find these useful:
http://en.wikipedia.org/wiki/%C5%BB (Ż letter wiki page)
http://www.symantec.com/business/support/index?page=content&id=TECH186866 (same issue! and they attached a js file so maybe searching it by Ż char code will lead to their solution)

[2014-12-11 12:45] RobinHerbots commented on #760
@ishytow ,

There are still some issues in the alternation for multiple masks.
I will have a look at the mask in the second example and see how to fix it.

[2014-12-11 15:35] ishytow commented on #760
Thank you very much!
I will wait with impatience.

[2014-12-11 16:32] liammcsheffrey commented on #752
Excellent! Many thanks

[2014-12-11 18:08] penihel opened #763 "alias 'dd/mm/yyyy' allow only years until 2099"
the alias 'dd/mm/yyyy' allow only years until 2099.

I need until 2999.

[2014-12-11 18:32] lmbelo commented on #759
Ok, I'm going to try it.

[2014-12-11 18:40] lmbelo commented on #759
It's working pretty well in new released version

[2014-12-11 19:29] SnidelyWhiplash commented on #734
This would be awesome. I'd like to use inputmask on a `contenteditable` element. Bump? Or @RobinHerbots can you provide a quick demo of how one might use `$.inputmask.format` to achieve this? Thanks for a great plugin!

[2014-12-11 22:35] sollipse commented on #465
Robin,

by "compositioning", do you mean the IME keyboard moving the cursor around and not registering certain softkeyboard events?

[2014-12-12 04:16] oroalej opened #764 "regex not working"
the example in the documentation is not working. i already did the data-inputmask-regex="" and (select).inputmask('Regex'); but still not working. i also try the (select).inputmask('Regex'{regex: ""}); but still not working. can someone help me.thanks

[2014-12-12 05:27] dreamershl opened #765 "delete key should trigger 'input' event too since it also change the displayed input value"
in keypressEvent(), after writeBuffer(), it will smartly trigger the "input" event. In the keydownEvent(), after 'delete' key, it also call writeBuffer() to change the display. But this time, it omit the "input" event.

It is not so  right. Because, the input is also changed for the "delete". Suggest to add the "input" event triggering whenever calling writeBuffer(). One use case for this is Angul

[2014-12-12 10:59] RobinHerbots commented on #764
@oroalej ,

Did it work out?

Any suggestion to update the readme?

[2014-12-12 11:00] RobinHerbots commented on #759
@lmbelo ,

Ok, that is good news ;-)

[2014-12-12 11:00] #759 closed, assigned to RobinHerbots

[2014-12-12 11:02] RobinHerbots commented on #763
@penihel ,

Have a look in the date extensions.  yearrange: { minyear: 1900, maxyear: 2099 },

You can modify it to your needs as an option.

[2014-12-12 11:02] #763 closed, assigned to nobody

[2014-12-12 11:02] RobinHerbots commented on #465
@sollipse ,

Exactly

[2014-12-12 11:03] RobinHerbots commented on #765
@dreamershl ,

Can you have a test with the latest commit

[2014-12-12 12:41] adam-resdiary opened #766 "NuGet files don't include version number in them"
The latest version of the nuget package (3.1.47) doesn't include the version number in the filename. So instead of:

[code]

You get

[code]

This doesn't match the documentation, which says:

[code]

And it also caused our bundles to break when updating from version 3.0.23.

So what I'm wondering is:
- When was this changed and why? I had a look at the commits, but couldn't find any obvious info

[2014-12-12 13:13] adam-resdiary opened #767 "Can't clear field by updating js object when using knockout and inputmask"
I'm having a bit of a problem. We use knockout for databinding, and have created a simple knockout binding for using it:

[code]

The binding just lets us apply a mask to inputs like the following:

[code]

The trouble I'm having is that if I clear a field by setting its value to null in the knockout ViewModel, inputmask seems to store the value behind the scenes, and re-enters it into the input w

[2014-12-12 14:12] RobinHerbots commented on #734
@SnidelyWhiplash ,

contenteditable element with an inputmask that is yet another nice feature to add ;-)

This is about formatting static content on say a DIV like in the above mentioned div.

something like => $("thediv").text($.inputmask.format("1231231234", { mask: '(999) 999-9999' }));

[2014-12-12 17:45] dreamershl commented on #765
Thanks for the promptly reply.

Still get issue. The latest version key handling is different from the 3.1.33. Now there are 2 writebuffer. The opts.onKeyDown handler will be in the following lines.

[code]

The handleOnKeyResult() won't pass the flag to trigger the event.

Personally feel 3.1.33 process is better, because it won't call write buffer 2 times.

Currently I am implementing the numeri

[2014-12-12 22:07] sollipse commented on #465
To clarify, this issue only crops up on the default android browser, and only on sub-4.4 devices?

[2014-12-12 23:57] RobinHerbots commented on #765
I agree. I will refactor to eliminate the second writebuffer.
It seems that alot of people prefer the "classic" way for inputting numerics. I also plan to reimplement this.

[2014-12-13 00:00] RobinHerbots commented on #465
No also on the other browsers.

[2014-12-13 00:02] dreamershl commented on #765
Another small suggestion. The new initial process simulate the input by triggering the 'input' for each character. it is a little bit slow  (for mobile phone). I prefer to the old way, format the string in one go and set them to the interface. (DOM process is pretty slow since it involves the display.) Thanks.