[2011-02-23 13:05] epikarma opened #1 "Enter on a masked textbox with the Tab key"
If you enter on a masked textbox with the tab key the mask doesn't show.

I propose to add to the event declaration chain this code:

.bind('keyup.inputmask', function (event) {
    if (event.keyCode == '9') {
        setTimeout(function () {
            caret(input, checkVal(input, buffer, true));
        }, 0);
    }});

[2011-02-23 13:45] RobinHerbots commented on #1
I added the change . (v 0.2.8)

thx

Robin

[2011-02-23 13:45] #1 closed, assigned to nobody

[2011-03-18 15:34] RobinHerbots opened #2 "Optional Masks"
Full implementation of optional masks

[2011-03-18 15:36] RobinHerbots opened #3 "Numeric inputmasks doesn't stop when the mask is complete; nor detects it"

[2011-03-18 15:37] RobinHerbots opened #4 "numeric non-greedy repeatable masks don't work"

[2011-03-18 15:41] RobinHerbots opened #5 "Detect input value changes by the Object.Value setter"
When changing the value programatically, it is only detected when done through jquery.val but not when done via pure javascript value =

[2011-04-08 09:26] FakeArShui opened #6 "Keep persistence"
Please provide the options of keeping the mask persistence.

Thanks....

Moreover, I couldn't find any explaination of cardinality and prevalidator regardings definitions

'd': { //day
                    "validator": "0[1-9]|[12][0-9]|3[01]",
                    "cardinality": 2,
                    "prevalidator": [{ "validator": "[0-3]", "cardinality": 1}]
                },

[2011-04-08 09:36] RobinHerbots commented on #6
As you can see in the example, the validator test for 2 characters.  And the mask d (day) takes 2 characters => cardinality
the prevalidator test the first character(s)

The validation of the day takes place after typing 2 characters.  The prevalidator validates the first one.

You can persist the mask by defining it in the defaults, ... see also in the readme how to apply default settings.  But k

[2011-04-08 10:38] #6 closed, assigned to nobody

[2011-04-08 10:40] RobinHerbots commented on #6
https://github.com/RobinHerbots/jquery.inputmask/commit/93804ca40c874a205d60e794fe3d3f7699beb33d

[2011-04-11 03:19] FakeArShui commented on #6
Thanks for your speedy response.

It seems that my comment may lead to some kind of confusion, what I am talking about is the ability to keep the mask persistent at the UI level, not the value returned from the masked input box, i.e. the input mask is always visible at the textbox (just like the ClearMaskOnLostFocus Option for maskededitextender).

If seems that there is some reasons forced you to

[2011-04-11 10:10] RobinHerbots commented on #6
I added the clearMaskOnLostFocus option, so know you can choose wheter you want to show the mask all time.

About adding some degree of interopability (or dependency) between say ui-datepicker and the inputmask, ... I don't know, that's a bit like forcing someone to use the ui-datepicker for dates when using the inputmask plugin.  (Maybe I can add this functionality as an optional extention on the

[2011-04-14 02:15] FakeArShui commented on #6
It seems that clearMaskOnLostFocus  doesn't persist input mask after the input lose focus (tested on IE8 and Chrome)

[2011-04-14 07:26] RobinHerbots commented on #6
I tested on FF and IE9, ...

Can you send me an example so I can test it myself.

thx

Robin

2011/4/14 FakeArShui <
reply@reply.github.com>

[2011-04-14 09:05] RobinHerbots commented on #6
See https://github.com/RobinHerbots/jquery.inputmask/commit/f44595ea46f2ed39ba057746fc2e9c99d6f167f4 for fix.

Robin

[2011-04-15 01:32] FakeArShui commented on #6
Thanks, it work on IE6, IE8 and Chrome

[2011-04-19 04:20] FakeArShui opened #7 "Side Effect while typing with input mask."
suppose I have applied an input mask "9999-mm-dd" associated with a textbox (whose value is 1901-12-30).  While the cursor is not at the end of the input mask, typing every valid character cause existing input shift to the right (unless I manually select one character)

i.e. if the caret position is at 0 (i.e. before 0) when I type 2, the resulting input become 2190-11-23 (instead it should become

[2011-04-19 08:41] RobinHerbots commented on #7
Hmm, I don't know.  It's the default behavior of in input control.

Why do you have a problem with the default behavior, when the input is used with a mask?

Maybe I can add it as an option?

[2011-04-20 01:39] FakeArShui commented on #7
I know this is the default behavior, but it doesn't applied to the concept of input mask, especially the input field is having a fixed or contains of several part.

This is because the concept of input mask is to apply some kind of restriction to the valid character being typed by the user, so allowing the default behavior may not be suitable.

Please Take A Look at http://www.asp.net/ajax/ajaxcon

[2011-04-20 08:26] RobinHerbots commented on #7
Ok, version 0.3.3 contains a new option insertMode who fixes this.

Should the cursor be visible different?

[2011-05-12 11:02] hariharans87 opened #8 "unmask"
How to unmask?

example for mask:
$("#date").inputmask("m/d/y");

unmask?
$("#date").unmask();

Thanks,
Hari

[2011-05-12 11:17] RobinHerbots commented on #8
with the autounmaskoption you can change the return of $.fn.val  to
unmaskedvalue or the maskedvalue

$(document).ready(function(){
      $("#date").inputmask("m/d/y", {'autoUnmask' : true});    //  value:
03/23/1973

[code]

});

or you can  use

$("#date").inputmask('unmaskedvalue');

regards,

Robin

2011/5/12 hariharans87 <
reply@reply.github.com>

[2011-05-12 11:37] hariharans87 commented on #8
Hi Robin,
I don't want unmasked value. I just want to remove the mask from the control not value.

Thanks,
Hari

[2011-05-12 11:45] RobinHerbots commented on #8
Why would you want to do that?

2011/5/12 hariharans87 <
reply@reply.github.com>

[2011-05-12 11:52] hariharans87 commented on #8
Hi Robin,
i select united states then mask will work like (123) 355-1234. but i select india or other country then i want to unmask it will look like 1233551234. The textbox mask will be unmask.

Thanks,
Hari

[2011-05-12 12:06] RobinHerbots commented on #8
Ha ok, ...  shall I add a remove option?

2011/5/12 hariharans87 <
reply@reply.github.com>

[2011-05-12 12:17] hariharans87 commented on #8
Hi Robin,
yes, please add remove option (unmask function)

Thanks,
Hari

[2011-05-12 12:18] hariharans87 commented on #8
Hi Robin,
Could you send the code?

Thanks,
Hari

[2011-05-12 12:46] RobinHerbots commented on #8
Check out the latest version

usage

$('#date').inputmask('remove');

[2011-05-12 12:46] #8 closed, assigned to nobody

[2011-05-12 13:14] hariharans87 commented on #8
Hi Robin,
Great. Thank you very much. Now it is working fine. I must suggest your codes to my friends. I am following your code.

Thanks,
Hari

[2011-05-27 14:00] ryanbuening opened #9 "Clear field option"
If user doesn't enter the required amount of numbers/mask specified, on exit/blur of field, clear out the entire field.

[2011-06-15 10:20] RobinHerbots commented on #9
See version 0.3.7 - added clearIncomplete option (default = false)

[2011-06-15 10:20] #9 closed, assigned to RobinHerbots

[2011-06-16 23:35] ryanbuening commented on #9
Awesome. Will check it out. Thanks.
On Jun 15, 2011 6:20 AM, "RobinHerbots" <
reply@reply.github.com>
wrote:

[2011-07-17 21:35] RobinHerbots opened #10 "allow functions as validators for the input instead of only regex"

[2011-07-17 21:39] RobinHerbots opened #11 "add aliases for masks"
ex:

phone => (99)999 99 99
dd/mm/yyyy => d/m/y
...

[2011-08-01 12:06] #11 closed, assigned to RobinHerbots

[2011-08-01 12:06] RobinHerbots commented on #11
see version 0.4.0

[2011-08-03 22:31] #10 closed, assigned to RobinHerbots

[2011-09-06 09:42] RobinHerbots commented on #3
Fixed see

https://github.com/RobinHerbots/jquery.inputmask/commit/0d9b26b8ac4235a7ee24b635064afaafed3ca6b9

[2011-09-06 09:42] #3 closed, assigned to RobinHerbots

[2011-09-06 11:44] RobinHerbots opened #12 "numeric mask: add decimal support"

[2011-09-23 13:55] RobinHerbots opened #13 "add shift-end support"

[2011-09-30 06:59] rickysullivan opened #14 "Reset mask position"
I'm swapping the mask based on the type that it is.

This is read from the 2nd digit, in Australia, 07 would be a landline and all mobiles are 04.

So I'm swapping the masks as it's being typed.

However the mask when applied, moves the caret to the end and you can continue typing.

http://jsfiddle.net/wNCKs/

[2011-09-30 09:30] RobinHerbots commented on #14
Hi Ricky,

I made the change to corectly position the caret after applying a mask.

Can you do the test.

Robin

[2011-09-30 23:10] rickysullivan commented on #14
Awesome.

Thanks heaps.

http://jsfiddle.net/DpFen/

[2011-09-30 23:10] #14 closed, assigned to nobody

[2011-10-17 06:03] mcdanielisaac opened #15 "datepicker ui auto-opens"
When I have this script loaded and an instance of the datepicker ui, the datepicker automatically opens without a click and is positioned in a random position on the screen.  Also the form field that has focus is the last field using .inputmask.  Any thoughts as to how to get around these issues and still use both your script and datepicker?

[2011-10-17 08:54] RobinHerbots commented on #15
Hi Isaac,

Can you send me an example of your code to reproduce the problem.

Robin

2011/10/17 mcdanielisaac <
reply@reply.github.com>

[2011-10-17 14:51] mcdanielisaac commented on #15
Sure!  My jQuery code is below, if you need any other snippets let me know.

[code]

[2011-10-17 15:17] RobinHerbots commented on #15
the focus on the field causes the datepicker to showup but that's a feature
of the datepicker, .... you can change that behavior with the showOn
option.  About the random position.  I could not reproduce this.  Do you use
blockUI in combination? or another dialog-plugin?  Have you tried the same
code without .inputmask('m/d/y') ?

Robin

2011/10/17 mcdanielisaac <
reply@reply.github.com>

[2011-10-17 15:56] mcdanielisaac commented on #15
I'm finding the random position issues is Chrome related.  The datepicker box appears in the correct position in other browsers.

When I remove the .inputmask('m/d/y') the datepicker acts as expected, hidden on load, correct position, and displays on focus and on button click.

I was really hoping to leave the showOn option as 'both,' but it seems as though having the option for the datepicker to

[2011-10-17 16:11] RobinHerbots commented on #15
I will have a look at it in Chrome.  I tested it in FF.

2011/10/17 mcdanielisaac <
reply@reply.github.com>

[2011-10-17 16:18] mcdanielisaac commented on #15
There does still seem to be an issue where the last field that has the input mask added, retains focus even if adding a .focus() to a field after the .inputmask call.  I tested in FF, Chrome, Safari with the datepicker taken out of my code to check.  Thanks for the help!

[2011-10-17 16:18] RobinHerbots commented on #15
I have tested it in Chrome and didn't had any positioning problems.

2011/10/17 Robin Herbots robin.herbots@gmail.com

[2011-10-17 16:20] RobinHerbots commented on #15
I cannot reproduce such behavior.  Which version of the inputmask do you
use?  Can you reproduce the issue on jsfiddle?

2011/10/17 mcdanielisaac <
reply@reply.github.com>

[2011-10-17 16:22] mcdanielisaac commented on #15
I am using the Sept 30 version of inputmask.  Let me get a jsfiddle up and I'll send you the link.

[2011-10-17 16:42] mcdanielisaac commented on #15
Robin -
Here is the jsfiddle that shows the issue I'm having.  Again thanks!

http://jsfiddle.net/mcdaniel_isaac/EEx2Z/

[2011-10-17 22:29] RobinHerbots commented on #15
Hi Isaac,

Check out the latest version which fixes the issue.  It was causes by the
last change.  Setting the caret unconditionally when applying the mask, also
sets the focus on the input.

Robin

2011/10/17 mcdanielisaac <
reply@reply.github.com>

[2011-10-17 23:33] mcdanielisaac commented on #15
Thanks Robin!  This fix corrected all my problems with datepicker and focus.  This really is a great script!!!

[2011-10-17 23:33] #15 closed, assigned to nobody

[2011-10-27 10:33] RobinHerbots commented on #13
see version 0.4.2d

[2011-10-27 10:33] #13 closed, assigned to nobody

[2011-11-12 00:52] pottmi opened #16 "Add onchange function to be called when content changes."
An onchange function that would be called each time the contents of the field is changed could be very useful.

The function should return a boolean that indicates if the field is formatted properly.  If the function returns false then the keystroke should be rejected much like the keystrokes are rejected for not matching the pattern associated with the masks.

This could be used to allow much mor

[2011-11-14 14:07] RobinHerbots commented on #16
This can be accomplished with the current implementation.  See examples in jquery.inputmask.extentions.js

[2011-11-14 14:07] #16 closed, assigned to nobody

[2011-11-15 13:50] Givx opened #17 "placeholder multi char for date"
Hello,

i want to have a choice when i use the input mask with the alias date or dd/mm/yyyy the place holder is yy/mm/yyyy.

Thanks

[2011-11-15 14:08] RobinHerbots commented on #17
What do you mean exactly?  the placeholder is yy/mm/yyyy  ?

the default placeholder is _

You can change this by passing the placeholder option

2011/11/15 Givx <
reply@reply.github.com

[2011-11-15 14:22] RobinHerbots commented on #17
You mean instead of **/**/____ you want to choose whatever you want to
display?

You can use the labelify jquery plugin for this.

Regards,

Robin

2011/11/15 Robin Herbots robin.herbots@gmail.com

[2011-11-15 14:24] Givx commented on #17
the default placeholder is _ ok, no problem but if i change this by passing the placeholder option by dd/mm/yyyy the display bug because each char is replace by dd/mm/yyyy

for example :

[code]

Sorry for my english

[2011-11-15 14:29] Givx commented on #17
This site explains what I mean http://www.conductiva.com/en/blog/post/76/Improvement-in-the-Masked-Input-Plugin-for-jQuery
but i would prefer your plugin because alias date it's great

[2011-11-15 14:47] RobinHerbots commented on #17
I see what you mean.

I will add the feature.

[2011-11-15 14:49] Givx commented on #17
Ok thanks

Best regards,

Greg

[2011-11-15 22:31] RobinHerbots commented on #17
Checkout the latest version ;-)

[2011-11-15 22:31] #17 closed, assigned to nobody

[2011-11-30 15:43] kevb commented on #16
I don't see an example of this in jquery.inputmask.extentions.js

I would also like to fire an event when the value is changed, as well as when the the field is 'complete'.

If I'm just missing it, can you give a line number. Thanks.

[2011-12-01 08:29] RobinHerbots commented on #16
That's because we agreed to solve it another way.

The oncomplete is implemented, for the change on every change you can use
keypress, keydown, keyup events or so.

What do you want to accoimplish?

regards,

Robin

2011/11/30 Kevin Bennett <
reply@reply.github.com

[2011-12-12 14:48] RobinHerbots opened #18 "set an input readonly after applying a mask does not set the input to readonly"

[2012-01-04 08:59] hansfn opened #19 "Add definitions for hour and minutes"
Hi, I use this plugin in many of my projects, but I find myself adding definitions for hour and minutes every time. Could you please consider adding:

[code]

[2012-01-04 09:20] RobinHerbots commented on #19
Hi Hans,

This is already defined in the jquery.inputmask.extentions.js

regards,

Robin

2012/1/4 Hans Fredrik Nordhaug <
reply@reply.github.com

[2012-01-04 12:01] hansfn commented on #19
I'm aware of jquery.inputmask.extentions.js. As far as I understand (and my testing shows) the definitions of "h" and "s" are local to the alias "hh:mm:ss". Since I need "hh:mm" I can't use that alias, and the "h" and "s" aren't recognized.

I'm actually using "y-m-d H:i" now (with my additions above added to jquery.inputmask.js). I don't care if you use "H" and "i" or some other letters, but I th

[2012-01-04 13:04] RobinHerbots commented on #19
Hi Hans,

I've made some changes in the dev branch.  I moved the h and i out of the
alias scope, but kept them in the extentions.js.  I also moved the
definitions for date, month and year to the extentions.js.

I think it's better to move all extentions besides the real basic as
numbers, etc to the extentions.js.  The user/developer has to decide wheter
he includes the full extention.js or part of

[2012-01-04 13:25] hansfn commented on #19
That solution makes 100% sense (and is completely acceptable for me). Thanks a lot! This issue can be closed.

PS! Don't forget to update the README ;-)

[2012-01-04 13:42] RobinHerbots commented on #19
I should rewrite the whole readme ;-)   I will do this when I merge the dev
branch back to the master

2012/1/4 Hans Fredrik Nordhaug <
reply@reply.github.com

[2012-01-04 14:12] #19 closed, assigned to nobody

[2012-01-04 14:12] RobinHerbots commented on #19
Solved in dev branch

[2012-01-16 15:02] gvdhoven opened #20 "Convert entered chars to lower/uppercase"
When using the input mask with dutch postal codes, i would like to transform the input to uppercase, without restricting the users to enter uppercase chars.

So the mask would become "9999 aa" but when the user enteres "1234 aa" the "a" is converted to uppercase without showing the lowercase "a" (e.g. immediate casing). Also, pasting the value "1234 aa" should be pasted as "1234 AA".

Solutions of

[2012-01-16 16:31] RobinHerbots commented on #20
Hi Gilles,

Seems a nice feature to add.

I will add this soon to the dev branch.

regards,

Robin

2012/1/16 Gilles van den Hoven <
reply@reply.github.com

[2012-01-16 20:20] RobinHerbots commented on #20
checkout the dev branch, I added an option autoCasing

autoCasing: null = nocasing, autoCasing : "upper" = uppercasing , autocasing: "lower" = lowasercasing

https://github.com/RobinHerbots/jquery.inputmask/commit/a47a0050531f2364c7ec19db5fae36814c10b6a2

[2012-01-16 20:20] #20 closed, assigned to nobody

[2012-01-16 20:23] gvdhoven commented on #20
Great stuff and really thanks for your fast pickup!

However (just to stretch you a bit) it would be really cool if you could set this on the definitions level. This would mean that you could (for instance) get a mask like this: '9999-Aaa' where only the first "a" is capitalized.

I don't have a use case for this however, so it might not be a good idea after all.

[2012-01-17 08:32] RobinHerbots commented on #20
hehehe, ... actually I agree that it should be included at the definition
level.  I will extend the definitions soon ;-)

2012/1/16 Gilles van den Hoven <
reply@reply.github.com

[2012-01-17 09:40] RobinHerbots commented on #20
dang I committed to the wrong branch, ....  anyway I moved the casing to the definition level, ... now it's up to you to find a use-case ;-)

latest can be found at both branches now

[2012-01-18 19:39] gvdhoven commented on #20
super, forked it!

[2012-01-20 16:41] fab60 opened #21 "Fixed chars in maskedinput mask"
Hi Robin,

I'm trying to set up a numeric mask with a first fixed part: i.e 0506-9999-999999. I've successfully used the escape char to insert the first four chars in the mask and the input is masked correctly.

There is alas a problem when a buffer rewrite is triggered and the fixed part of the mask is being written with a sliding effect on the input.

Am I missing something to canonically handle

[2012-01-20 18:36] RobinHerbots commented on #21
I see the problem. It's because the fixed part is also valid for the masked
part. I will fix this on the dev branch soon. Robin
 Op 20 jan. 2012 17:41 schreef "fab60" <
reply@reply.github.com>
het volgende:

[2012-01-23 22:37] RobinHerbots commented on #21
Hi fab60,

You can find the fix in the dev branch.
https://github.com/RobinHerbots/jquery.inputmask/commit/ace3ae72453cd2ab6f7fefdd44e1ec93b21835ea

Can you test it and give some feedback.

Best regards,

Robin

[2012-01-27 09:50] RobinHerbots commented on #21
Solution in dev, will merge it later to master

[2012-01-27 09:50] #21 closed, assigned to nobody

[2012-01-27 17:08] stevenrobertscrew commented on #2
hi RobinHerbots.  Very cool that you've taken this on.  Can you describe what you mean by optional masks?

[2012-01-27 17:56] stevenrobertscrew opened #22 "strange compat issue with jquery.validate.unobtrusive"
If I click in a field with a mask then click out of it, the validation error does not go away.  I believe this is because of the place holders (I'm using _ ) even though the mask clears after leaving the field.  This is also a problem with the base code from Josh.  Perhaps there is a way to ensure that the mask clearing is the first thing that happens before blur?  I know this is not Exactly your

[2012-01-27 20:31] RobinHerbots commented on #22
Hi Steven , I take the opportunity :-) Can you create an example on
jsfiddle.  I never used jquery.validate.
Op 27 jan. 2012 18:56 schreef "Steven" <
reply@reply.github.com>
het volgende:

[2012-01-29 04:37] stevenrobertscrew commented on #22
and I've never used jsfiddle. :)  I will at least post a link to a page that demonstrates the problem.  Please give me a day or two.

[2012-01-29 08:03] RobinHerbots commented on #2
Simply that you can create a mask where some parts aren't required to fill in, to complete the mask , ....

[2012-01-29 15:59] stevenrobertscrew commented on #22
upon further investigation, this is actually an issue with the underlying jquery.validate.js plugin.  The plugin uses the value property of the input to validate.  In my case the mask is (999) 999-9999 and when the user has not typed anything in the value property returns (___) ___-____.  I've tried setting the autoUnmask to true, but because the validate plugin uses value instead of val() the val

[2012-01-29 16:49] stevenrobertscrew commented on #22
as a work around, I've done the following in the onfocusout

[code]

obviously this isn't optimal.  even if I could write something like

[code]

it would be an improvement, but it'd be even better if the mask itself reset the value property....

Just some ideas.

[2012-01-29 21:10] stevenrobertscrew commented on #2
yes of course! :)  very important feature.

[2012-01-29 21:40] RobinHerbots commented on #22
Can't you set an default value for jquery.validate ?  So that the "empty"
value equals the empty mask?

Otherwise, issue 5, would solve your problem.  But I need time to
investigate more on that.

Robin

2012/1/29 Steven <
reply@reply.github.com

[2012-01-29 23:00] stevenrobertscrew commented on #22
Thanks, I CAN set the defaultValue property and then check the field isn't equal to that as a work around.  One thing that would make it cleaner...  is it possible to read the inputmask that has been applied to the field? e.g.

[code]

also, perhaps applying the mask could set the default value?  I'm unsure what the consequences of this would be.

[2012-01-29 23:30] RobinHerbots commented on #22
If I set the default value for jquery.validate then the inputmask would be very bound to jquery validate.  I don't think that's a good idea.

Anyway check out
https://github.com/RobinHerbots/jquery.inputmask/commit/cc534d986580e8803bc3881ebd3a90e654c194d0

getemptymask command added on dev branch ;-)

[2012-01-30 02:04] stevenrobertscrew commented on #22
ok, this worked for me, at least as a 'good enough' until you manage to sort issue #5.  Anyway, being able to read what the mask was set to is a good feature.

[2012-01-30 09:07] #22 closed, assigned to nobody

[2012-01-31 13:21] fab60 commented on #21
Hi Robin,

sorry for being late on this. I've tested the fix and it's ok. Thank you very much for your hard work.

[2012-01-31 14:39] RobinHerbots commented on #21
No problem fab60 ;-)

[2012-02-01 02:52] ghedwards commented on #2
This would be very handy right now.

[2012-02-06 01:50] datimson opened #23 "Option to make placeholder always visible"
I'd like to have the placeholder visible even when mouse hover = false so that it is more intuitive for users particularly on touch devices that don't have mouse hover.

[2012-02-06 08:41] RobinHerbots commented on #23
I know I should update the documentation (and I will on release 1)

You can use the option clearMaskOnLostFocus and put it on false
ex: $(input).inputmask("9999", { clearMaskOnLostFocus: false });

You can also change the defaults.

$.extend($.inputmask.defaults, {
    clearMaskOnLostFocus: false
});

Robin

[2012-02-06 08:41] #23 closed, assigned to nobody

[2012-02-14 08:29] gvdhoven opened #26 "Support for right aligning masks?"
Hi Robin,

The following use case is at hand; people are allowed to enter a country code phone number (for instance 31 for the Netherlands, but 352 for Luxemburg).

So i have used the following code:
$('#phonecode').inputmask('99999');

This would mean that there can be 5 numbers entered.

Here comes the tricky part:
- Since it is a number (could also be used for money fields), i would like to hav

[2012-02-14 08:40] RobinHerbots commented on #26
try

$('#phonecode').inputmask({ mask: '9' , greedy: false, repeat: 5 });  The
aligning can be set with css. (Numeric input is partially implemented.  I
will finish this within when I find the time)

Robin

2012/2/14 Gilles van den Hoven <
reply@reply.github.com

[2012-02-14 08:58] gvdhoven commented on #26
This works, but gives me the following 'bug'. On the field above, i have set;
$('#countrycode').inputmask('AA');

So when i hover over that field, it shows the mask (as __ )

On the non-greedy field, no masking is shown when i hover. It would be nice if it was possible to:
1) have the entire mask there when the focus is on the field
2) have the remaining mask there when the field is hovered (i am

[2012-02-14 11:10] RobinHerbots commented on #26
I guess you mean when the input looses focus the placeholder or placeholder
remainder shouldn't be visible?

clearPartialMaskOnLostFocus?  ;-)

2012/2/14 Gilles van den Hoven <
reply@reply.github.com

[2012-02-14 11:19] gvdhoven commented on #26
No not really

For instance; the fields are like this (next to each other):
- countrycode
- phonecode

case 1:
Countrycode is empty / The focus is in/on the phonecode field / So no mask is shown in the countrycode field.
When i hover/move with my mouse over the countrycode field, the placeholders (e.g. mask "__") appears, but only when my mouse is over the countrycode field.

case 2:
The focus is

[2012-02-14 11:30] gvdhoven opened #27 "Feature: RTL support"
This is somewhat related to my previously entered issue, but it would complicate the previous issue to much, therefore a new issue.

When, in a normal input field, you have the following configuration:
- style="text-align: right;"
- maxlength="5"
- $('field).inputmask({ mask: '99999', clearIncomplete: true });
- And start typing text "123"

You get: "123__"

But, since we right align the text, we

[2012-02-14 11:38] gvdhoven commented on #26
oke, i am a bit further now;

$('#phonecode').inputmask({ mask: '99999', numericInput: true });
aligns right and seems to work, however, mask remains when <5 numbers are entered.
eg: "123" gives "__123" also when not in the field.

$('#phonecode').inputmask({ mask: '99999', numericInput: true, greedy: false });
Clears the field on blur, no matter what i enter.

$('#phonecode').inputmask({ 'mask':

[2012-02-14 11:38] RobinHerbots commented on #26
there is already an onincomplete event/function called when the mask is
incomplete and loses focus.  You can clear the placeholders there.

2012/2/14 Gilles van den Hoven <
reply@reply.github.com

[2012-02-14 11:43] RobinHerbots commented on #26
$('#phonecode').inputmask({ 'mask': '9', 'repeat': 5, 'greedy': false,
'numericInput': true  });
does not seem to work at all. Text is left aligned instead of right aligned
without greedy, no masking shows.

This is not supported for the moment.

$('#phonecode').inputmask({ mask: '99999', numericInput: true, greedy:
false });
Clears the field on blur, so i changed it to

the adding   clearMaskOnLo

[2012-02-14 12:10] RobinHerbots commented on #27
Also, tabbing out of this field clears the field entirely. => because you specified clearIncomplete: true

I will add input direction detection support in the plugin (like numericInput actually)

[2012-02-14 12:11] RobinHerbots commented on #4
also see issue 27

[2012-02-14 18:48] gvdhoven commented on #26
Good point, but in this case i have no dashes or specific format, so clearing the field should result in 12456
With what you mean is that i could set something like this in the incomplete/lose focus function:
$('#phonecode').val($('#phonecode').inputmask('unmaskedvalue');)

edit:
Changed the code now to this:
            $('#phonecode')
                .focus(function() { $(this).inputmask({ 'mask

[2012-02-15 15:56] RobinHerbots opened #28 "Inputmask does not work on android 2.1"
Backspace character does not always fire, .keydown event

[2012-02-15 18:25] robo-corg commented on #28
I am seeing the same issue. It looks like there are certain events android keyboards can generate that make the stored cursor work around for android to get out of whack such as delete last word.

[2012-02-16 12:38] RobinHerbots commented on #27
Can someone explain the following.

we have an input with dir="rtl"

We have the following text  :    1111-aa and 1111aa
When I copy/paste the first I get   aa-1111 while copying the second gives 1111aa.  Why is that.

What is the logic behind this behavior.

[2012-02-17 10:47] RobinHerbots commented on #27
see commit https://github.com/RobinHerbots/jquery.inputmask/commit/369eb8b62bd07ec3c264dd7913529c94cb8d055b

the greedy: false , functionality will be added later see issues.

[2012-02-17 10:47] #27 closed, assigned to RobinHerbots

[2012-02-17 10:48] #26 closed, assigned to nobody

[2012-02-20 15:18] gvdhoven opened #29 "Feature: autocomplete masks on tab?"
Hi Robin, its me again, sorry :)

This feature request is for both money fields and percentage fields.

As example: i have this mask:

$('#percentage').inputmask({ placeholder: ' ', 'mask': '999.99', numericInput: true });

(or)

$('#feeinputmask({ placeholder: ' ', 'mask': 'EUR 999.99', numericInput: true });
(p.s. € does not work on UTF-8, and '&#0128;' is not translated to an euro sign)

Now th

[2012-02-21 08:38] RobinHerbots commented on #29
Hi Gilles,

I never have a problem with good ideas ! ;-)

I like the idea and it could and should be implemented in the
(pre)validation logic.  I am even thinking of putting all code for full
numeric support in an alias, with it's own definitions, etc (although I
don't know that is possible without changing some things in the base code)

First thing is to remove the TAB char out of the ignorables,

[2012-02-22 11:45] RobinHerbots commented on #4
http://github.com/RobinHerbots/jquery.inputmask/commit/b1684a1964d59cf956a974cf57fef3aaca0c8860

Fix in dev branch v0.5.0

[2012-02-22 11:45] #4 closed, assigned to RobinHerbots

[2012-02-24 16:14] rawsp33d commented on #2
I have been trying to add this all morning, but the problem I am running into is that I cannot figure out how to override _val() to not display the full mask.

I would like it so a mask of '99999[-9999]' for example would show '12345-____' while the field has focus, but on blur to only show '12345', as the required part of the mask has been fulfilled (a la the original masked input plugin by Digit

[2012-02-24 17:17] rawsp33d commented on #2
Please try out my pull request that attempts to add this feature, https://github.com/RobinHerbots/jquery.inputmask/pull/30

I have only tested this with the example mask given above ('99999[-9999]'), but I will continue testing and improving with all of the feedback I receive.

[2012-02-24 22:40] RobinHerbots commented on #2
With optional masks I had something else in mind then your implementation. But I am willing to include the changes or the idea to clear the optional elements from the mask when losing focus. In a previous issue someone else also asked about that kind of functionality.

[2012-02-25 00:14] rawsp33d commented on #2
I'm open to any implementation, I'm sure there are some better ideas out there.  I'll help out in any way I can--for this or any other feature.

What was the implementation idea you had?

[2012-02-25 08:03] RobinHerbots commented on #2
Hi Ross,

I added tweaked your implementation a bit and pushed (after some struggle) to the master & dev.

My implementation in mind that you can have optional parts anywhere in the mask & that the mask changes according your input (leaving out optional and reinserting on the fly)

[2012-02-25 15:02] rawsp33d commented on #2
Hey, that would be awesome!  It's more abstracted (and therefore useful) than my idea.  Thanks for adding this in--my goal was to be able to use your awesome improved mask in production rather than Digital Brush's long outdated one, and with what we have done I am able to do so.

[2012-02-26 18:05] ghost opened #31 "Problem with clearEmpty"
[code]

I'm trying to show the current value of the input all the time (value="-- (--) ---.----") and not only on the hover and focus.
I tried searching everything but found nothing. Can you help?

[2012-02-26 21:03] RobinHerbots commented on #31
You have to use

clearMaskOnLostFocus: false

best regards

Robin

2012/2/26 Benjamin Alijagić <
reply@reply.github.com

[2012-02-28 08:38] #31 closed, assigned to nobody

[2012-02-28 08:38] RobinHerbots opened #32 "simple optional mask and RTL does not work"

[2012-02-28 15:11] dmt2501 opened #33 "Backspacing at the beginning of a form acts like a DEL"
Great work with this plugin! It's been really useful.

I have one issue with it's positioning:

1) Go here:
http://jsfiddle.net/pmV9t/1/

2) Enter any random date

3) Move cursor to the very beginning of the form, and press backspace.

Result:
When you're at the very beginning of a form/textbox, pressing backspace should not do anything because backspace only deletes what's behind your cursor. How

[2012-02-29 00:29] RobinHerbots commented on #33
fixed !

[2012-02-29 00:29] #33 closed, assigned to RobinHerbots

[2012-02-29 00:29] RobinHerbots commented on #32
fixed

[2012-02-29 00:29] #32 closed, assigned to RobinHerbots

[2012-03-06 11:45] RobinHerbots commented on #5
http://github.com/RobinHerbots/jquery.inputmask/commit/8afb970052b29d9de8b27a0c2eb9b5cd33a105f9

functionality added in the dev branch for browsers which support **defineG(S)etter**, the others use the the jquery.val patch.

todo => detect support for defineProperty and use this

[2012-03-12 12:36] #5 closed, assigned to RobinHerbots

[2012-03-15 20:55] ekidd opened #34 "patchValueProperty fails in Chrome"
It appears the if statement to sniff for **lookupGetter** is being ignored by Chrome, causing errors with _valueGet().

[2012-03-15 22:26] RobinHerbots commented on #34
It seems that there is some issue in chrome (& chromium) for the **lookupGetter**

I added an extra check for succesfull retrieving the property, otherwise we fallback to the 'old' functionality with jquery.val patch

best regards,
Robin

[2012-03-15 22:26] #34 closed, assigned to RobinHerbots

[2012-03-16 08:50] RobinHerbots opened #35 "input mask that enforces sections?"
I found this questions somewhere on stackoverflow.  I like the idea and will add this to the inputmask.  (Robin)

-- quote --
figure, given a week and Red Bull, I could make something that does this, but first, I wanted to find out if it had been done already.

I know input masks already exist: For example, **/**/____. So you can just type a date, and voila, 12/31/2010.

However, if I were to go i

[2012-03-16 09:03] RobinHerbots opened #36 "Check &| Add HTML attributes interaction with the plugin"

[2012-03-19 01:53] datimson commented on #12
Maybe this will help?

I have added my own definitions to handle decimals and negative numbers. I had to make one change to jquery.inputmask.js to make this work. On line 245 I added the parameter `pos` so that it looks like:

[code]

My definitions are:

[code]

[2012-03-19 09:13] RobinHerbots commented on #12
Hi Dean,

This is another approach on input validation, as you always validate the
total input for validation, ... but that's ok.

Can you add something like decimalSeparator and numericSeparator in you
aliases.  This make it easier to switch between the separators wanted.

Can you create a pull request for this?  I will merge it in.

best regards,
Robin

Op 19 maart 2012 02:53 schreef Dean <
repl

[2012-03-19 09:57] RobinHerbots commented on #12
forget the pull request, I already added them by copy/pasting ;-)

[2012-03-20 06:52] datimson commented on #12
OK cool :)

[2012-03-22 22:00] sabr49 opened #37 "change event possibly firing inappropriately"
First off thank you for an amazing plugin.

I have been working with an old version of the plugin (.3.5) but have noticed this behavior in the current version as well - in the version I have the following code fires on blur :

bind("blur.inputmask", function() {
                    var input = $(this);
                    input.removeClass('focus.inputmask');
                              if (_val

[2012-03-23 09:37] RobinHerbots commented on #37
Hi, I agree, I will have a look at it.

Robin

[2012-03-23 19:07] sabr49 commented on #37
Ok great. If I could add one more thing, just because this has come up in our testing.

The following three scenarios in my mind should yield $(xx).val() = ""
1. Tab in and out without entering data
    A. No change event fired
2. Click in and out without entering data
   A. No change event fired.
3. If the field currently has data in it, and then the user erases the entire field
  A. Change event

[2012-03-26 12:23] RobinHerbots commented on #37
Hi, Ive made some changes in the dev branch which should cover case 1-3, can you check this?

[2012-03-26 12:37] sabr49 commented on #37
Will do. I'll have some downtime at work today to look at it. Thanks a
ton for your responsiveness.

Steven

On Mar 26, 2012, at 8:23 AM, Robin Herbots
reply@reply.github.com
wrote:

[2012-03-26 13:14] RobinHerbots commented on #37
Ok thx,

I also added case a in the dev branch.  ....

[2012-03-26 14:10] sabr49 commented on #37
Ok. So scenario 1 and 2 look great. However scenario 3 I think is not
covered, and you may argue that it is acting correctly the way it is.

Again, going back to the example I am testing which is a d/t field with a
mask of m/d/y "**/**/__". If I enter 3/26/2012 into the field and tab off I
get the following written to the console (using the following
$('.inputMask').change(function() { console.log

[2012-03-26 14:26] RobinHerbots commented on #37
Are you sure you took the latest version on the dev branch?  The code you
copied below is only running in certain options and does not handle the
return in this case.  Checkout hte changes in patchvalueproperty fn.

Robin

Op 26 maart 2012 16:10 schreef sabr49 <
reply@reply.github.com

[2012-03-26 14:37] sabr49 commented on #37
I apologize.. Strange, didn't see that branch before when I when I was
looking for it.. Looks awesome and is working correctly.

Thanks so much for your help.

On Mon, Mar 26, 2012 at 10:26 AM, Robin Herbots <
reply@reply.github.com

[2012-03-26 15:04] RobinHerbots commented on #37
No problem ;-)  I thank you for the input!!

I will merge the changes to the master branch this evening.

best regards,

Robin

Op 26 maart 2012 16:37 schreef sabr49 <
reply@reply.github.com

[2012-03-26 18:42] #37 closed, assigned to RobinHerbots

[2012-04-05 05:49] ylluminate opened #38 "How to change inputmask mask based on dropdown context?"
I'm using inputmask to format telephone numbers.  I'd like to set it up so that I am able to change the mask based on context of whether it's the USA/Canada, UK, or other countries.  Ie,:
`$("#user_phone").inputmask("mask", { "mask": "(999) 999-9999" });`

Presently this context would be changing based on a dropdown for the country code.  How would I implement this such that the mask will change c

[2012-04-05 07:35] RobinHerbots commented on #38
Hi,

You can bind to the change event of the dropdown, and then apply a mask as you did before, depending on the selected value of the dropdown.  Unmasking of the previous mask is done automatically by applying a new mask.

best regards,

Robin

[2012-04-05 16:15] #38 closed, assigned to nobody

[2012-04-06 06:17] RobinHerbots commented on #38
Something like this, ....

$('#dropdownId').change(function() {
    var choice = $(this).val();
    switch(choice){
        case 'option1':
            $('#input').inputmask('(999) 99999999');
            break;
        case 'option2':
            $('#input').inputmask('999/99999999');
            break;
    }
});

Op 5 april 2012 09:48 schreef George Plymale <
reply@reply.github.com

[2012-04-06 06:27] ylluminate commented on #38
Thanks Robin, got that working.  I am curious about an issue I'm seeing.  It seems as though with blur enabled to give error feedback that it's doubling input.  I've been simply trying to figure out where the error's coming into play and posted this: http://stackoverflow.com/questions/10035193/how-to-debug-user-entry-issues-in-javascript-with-webkit-developer-tools/

However, after yanking out som

[2012-04-06 08:45] RobinHerbots commented on #35
fix in dev branch, ... will mergo soon to master

[2012-04-06 08:45] #35 closed, assigned to nobody

[2012-04-10 20:11] RobinHerbots commented on #31
Robin Herbots wants you to try Dropbox! Dropbox lets you bring all your photos, docs and videos with you anywhere and share them easily.

Get started here: http://www.dropbox.com/link/20.isVXM2Wodd/NjE4NjgyMDA4OTc?src=referrals_bulk9&eh=489dbcf
- The Dropbox Team

---

To stop receiving invites from Dropbox, please go to http://www.dropbox.com/bl/ddc9e86fda74/reply%2Bi-3392135-4e353f769efcd9497749

[2012-04-12 13:41] rsauchuck opened #39 "Conflict with jqueryui datepicker"
Great plugin! I have run into some issues with the jQueryUI datepicker, though. Whenever I try to set the date via datepicker. teh month comes out incorrect and the date is truncated tot eh first character. So selecting April 26 2012 gives me "26/01/2___" instead

here is a snippet
It has some .net embedded in it
$("#<%= uiDateText.ClientID %>")
            .datepicker({
                numberOfMo

[2012-04-12 13:54] RobinHerbots commented on #39
Strange, we also use the datepicker plugin and have no problems.

What is the output of   '<%= GetDateFormat() %>', ?  Maybe try without the
 constrainInput: true, option.

(it's better to use  $("#<%= uiDateText.ClientID %>").inputmask("date"); //
gives better datehandling)

regards,

Robin

Op 12 april 2012 15:41 schreef rsauchuck <
reply@reply.github.com

[2012-04-12 15:26] rsauchuck commented on #39
Thanks for the quick response!

I added this
$.extend($.inputmask.defaults.aliases, {
            'date': {
                mask: "d/m/y"
            },
            '<%= GetDateFormat() %>': {
            alias: "date"
        }
    });

and removed the datepicker constrain input (good catch)

and made the suggested update

$("#<%= uiDateText.ClientID %>").inputmask("date");

It seems to have elim

[2012-04-12 15:42] rsauchuck opened #40 "setting inputmask based on culture"
I have web application that targets a global audience. I am using a combination of inputmask and jQueryUI's datepicker. I want to set the date format appropriately  (for example, m/d/y or d/m/y). I was going to create a switch statement to get the server side date format <%= GetDateFormat() %> and then apply the appropriate alias as needed. Does this functionality already exist in the inputmask co

[2012-04-12 18:37] rsauchuck commented on #39
grrr the problem came back.

[2012-04-13 07:30] RobinHerbots commented on #39
By using inputmask('date'); why don't you use the predefined mask in
inputmask.extentions?

Can you simulate the problem on jsFiddle or send me the 'rendered'
asp.netoutput.

best regards,

Robin

Op 12 april 2012 20:37 schreef rsauchuck <
reply@reply.github.com

[2012-04-13 07:33] RobinHerbots commented on #40
when you include the inputmask.extentions.js you can do

switch('<%= GetDateFormat() %>')
{
case  'mm/dd/yy':
   $('#inputId').inputmask('mm/dd/yyyy');

break;

default:
   $('#inputId').inputmask('dd/mm/yyyy');
}

Op 12 april 2012 17:42 schreef rsauchuck <
reply@reply.github.com

[2012-04-13 16:44] rsauchuck commented on #40
Ok that's cleaner. :)

[2012-04-13 16:55] rsauchuck commented on #39
Thanks again Robin. It seems the problem only occurs when the datepicker input field already has content in it. The server is per-populating the date field either from the server or based on the current date. I see the correct date briefly then it gets reformatted.

input type="text" id="ctl00_ContentPlaceHolder1_txtFromDate_uiDateText" value="3/13/2012" name="ctl00$ContentPlaceHolder1$txtFromDate

[2012-04-19 10:01] connectedtrips opened #41 "Can't seem to apply masks based on class selector"
When I use $("#date").inputmask... the library works fine, but when I try to use it as class it doesn't apply the mask.

I'm using this in tandem with your extensions library too.

[2012-04-19 10:02] connectedtrips commented on #41
My bad!

[2012-04-19 11:17] RobinHerbots commented on #41
What was the problem?

[2012-04-19 11:19] connectedtrips commented on #41
Not sure to be honest, I tried applying using a class multiple times and it didn't work then automagically it worked correctly. Sorry I can't be more helpful :(

Cheers,
  Ger

Developer
Connectedtrips
www.connectedtrips.com

On Thursday 19 April 2012 at 12:17, Robin Herbots wrote:

[2012-04-19 11:34] RobinHerbots commented on #41
inputmask failt when the selector passed a non input as element, .... the inputmask should check on this!

[2012-04-19 11:41] RobinHerbots commented on #41
fix in dev branch

[2012-04-19 11:41] #41 closed, assigned to RobinHerbots

[2012-04-19 17:30] WaltDaniels opened #42 "Email Address Mask?"
Love the plug-in.  Got tired of using of using the Bush plugin that hasn't been updated in forever.  Question ... is it possible to make an email mask (with the @ sign)?

[2012-04-26 11:44] RobinHerbots commented on #39
hi  rsauchuck,

Can you retry the issue with the latest changes in the dev branch.  Also take the extentions.

Best Regards,

Robin

[2012-04-26 11:46] RobinHerbots commented on #42
Hi Daniel,

creating input restriction for an email is possible.  Creating a dynamic mask for email not yet.  With dynamic I mean that you see ______@___ and that the part before and after the @ sign is not restricted in length.

Best regards,

Robin

[2012-04-26 11:48] RobinHerbots commented on #12
included a radixpoint

[2012-05-03 08:51] #39 closed, assigned to RobinHerbots

[2012-05-08 18:42] Jaspal commented on #8
Hi Robin,

I want put mask onfocus and onblur display normal text unmask

Here is my code but it's not working i also tried  $('#txtSSN').inputmask('remove'); on blur but this is not working on chrome. can you please suggest me ASAP
        (function($) {
            $(document).ready(function() {

[code]

[2012-05-08 18:46] Jaspal opened #43 "On chrome or safari inputmask('remove') not working"
Hi Robin,

I want put mask on onfocus event and onblur display normal text unmask

Here is my code but it's not working i also tried $('#txtSSN').inputmask('remove'); on blur but this is not working on chrome. can you please suggest me ASAP

(function($) {
$(document).ready(function() {

[code]

[2012-05-08 19:29] RobinHerbots commented on #43
Hi Jaspal,

I will have a look at it tomorrow.

best regards

Robin

[2012-05-09 08:39] RobinHerbots commented on #43
Hi Jaspal,

I made a fix for the remove option for webkit browsers (tested on Chrome).

A questions.  Why do you want to remove the mask when loosing focus?

And btw in your code you use a different selector in the focus (this) and the blur (#txtSSN) , ...

best regards,

Robin

[2012-05-09 12:32] joseh-henrique opened #45 "By changing the mask of the field value is lost"
How to change the mask of a field X without losing its content based on certain choices made ​​in another field.

[2012-05-09 12:46] RobinHerbots commented on #45
Hi Joseh-henrique,

You should just apply the new mask.  Can you specify the version you use of the inputmask and also which browser.

best regards

Robin

[2012-05-09 13:14] Jaspal commented on #43
Hi Robin,

Actually we already using Microsoft AjaxToolkit but during testing we found MaskEdit control not working on Chrome/Safari so i used your jquery. It's our business requirement for some fields we need to display Masked only onfocus and onblur need to display unmasked value

Here is my exact code
(function($) {
$(document).ready(function() {

[code]

})($);

 <asp:TextBox ID="txtSSN" CssCl

[2012-05-09 13:17] Jaspal commented on #43
Thanks i really appreciate your help it's working.

[2012-05-09 13:27] #43 closed, assigned to RobinHerbots

[2012-05-09 13:46] RobinHerbots commented on #45
With the latest version it should be fixed.  Tested with Chrome, FF, IE9

[2012-05-09 15:26] Jaspal commented on #18
Hi,

When assign mask you can check if control has readonly then remove the mask

Example
(function($) {
    $(document).ready(function() {
        $('.ssnmasked').focus(function() {
            if ($(this).attr("readonly")) {
                $(this).inputmask('remove');
            }
            else {
                $(this).inputmask('SSNMasked');
            }
        }).blur(function() {

[2012-05-10 07:40] RobinHerbots commented on #18
Yes, I know but this doesn't cover the case when you have already added the
mask and want to set it readonly afterwards.

Actually my other plugin  jquery.readonly handles all this automatically.
 Readonly blocks all events, asp.net validators, ... and re-enables
everything when removing the readonly.

2012/5/9 Jaspal <
reply@reply.github.com

[2012-05-10 16:12] Jaspal opened #47 "Phone Number Mask Issue"
Hi Robin,

I used phone number mask in project but when user press home and try to delete it's not working because pointer just before ( the bracket. can you please tell how to fix this

 $("#phone").inputmask("mask", {"mask": "(999) 999-9999"});

Thanks

[2012-05-10 18:03] dmartinsid commented on #2
It will be cool if have an option to have multiple masks.

Like:
(99) 9999-9999 or
(99) 99999-9999

Using optional mask don't works
(99) 9999[9]-9999

[2012-05-11 21:45] RobinHerbots commented on #47
Hi Jaspal,

I will fix this asap ;-)  Probably by Monday.

best regards,

Robin

2012/5/10 Jaspal <
reply@reply.github.com

[2012-05-11 21:57] RobinHerbots commented on #47
Checkout the latest version 0.6.0 !!

[2012-05-11 21:57] #47 closed, assigned to nobody

[2012-05-11 21:58] #45 closed, assigned to nobody

[2012-05-11 21:59] RobinHerbots commented on #2
Truly optional mask is net yet implemented !!

[2012-05-12 02:15] dmartinsid commented on #2
Will be an awesome feature!

[2012-05-14 13:32] RobinHerbots commented on #18
This issue will be solved together with issue 36

If you want this functionality know, you can use the jquery.readonly plugin

[2012-05-14 13:32] #18 closed, assigned to nobody

[2012-05-14 22:59] RobinHerbots opened #49 "add some unit testing (qUnit)"

[2012-05-15 14:12] Jaspal commented on #47
Thanks i really appreciate.

You Rocks :)

[2012-05-16 14:08] RobinHerbots commented on #29
I will implement this throught the keyup event.  In the options onKeyUp: function(e) { do something } in the alias you can override the option to implement what is needed

[2012-05-21 09:27] RobinHerbots commented on #29
An example can be find in the decimal alias (onKeyDown)

[2012-05-21 09:27] #29 closed, assigned to RobinHerbots

[2012-05-21 09:40] RobinHerbots commented on #12
see numeric aliases

[2012-05-21 09:40] #12 closed, assigned to RobinHerbots

[2012-05-21 17:43] meteoro opened #50 "clearIncomplete"
Not work more in this new branch - Google Chrome.

[2012-05-21 19:41] RobinHerbots commented on #50
Fixed !

Grab the latest version from master.

best regards,

Robin

[2012-05-21 19:41] #50 closed, assigned to nobody

[2012-05-22 14:28] rsauchuck commented on #40
I am still running into issues on this. My problem is that whenever the culture code date format uses another character besides the "/" as a date separator than the formatting on the field fails. I have tried using the numerical mask ( for example "99-99-9999" or "99.99.9999") but it breaks when the date contains a single digit for month or day. I tried adding a leading zero put the date picker st

[2012-05-22 15:10] RobinHerbots commented on #40
The latest version can handle single digit for month and day for the
aliases dd/mm/yyyy and  mm/dd/yyyy .

For all the other cases in the switch statement you have to implement the
proper alias with the needed functionality.  There is no alias for
yyyy/mm/dd for the moment which can handle this. This is not a problem with
the plugin but a lack of support for date-formats other then the above
menti

[2012-05-22 17:25] rsauchuck commented on #40
Thanks Robin,
I got around part of the issue by modifying the VB call <%= GetDateFormat() %> to return double digits for the date format.

[code]

here are all the cases I could think of but I am not sure they are complete. Some of them are made unnecessary from the VB above

[code]

I did not try using the "y.m.d" or "y-m-d".

[2012-05-22 17:31] rsauchuck commented on #40
Oh I guess I should have described my original problem better. :) In cases where a pre-populated field had a date like "22-5-2012" then after the mask and datepicker where applied the field would look like this "22-52-012_". It also caused similar problems when using the datepicker control on a blank field ... anything with a single digit would "steal" the next digit to the right. Getting the VB a

[2012-05-22 17:41] rsauchuck commented on #40
I should have cleaned it up before I posted it.

[code]

[2012-05-23 12:24] evanlarsen opened #51 "clearIncomplete documentation"
Hello,

I was looking for the clearIncomplete feature but I didnt see it anywhere in your documentation. The only way I found it was by looking through your source code.

[2012-05-23 12:39] RobinHerbots commented on #51
Hi Evan,

Thx for notifying.  I added it to the documentation.

best regards,

Robin

[2012-05-23 12:39] #51 closed, assigned to nobody

[2012-05-23 16:57] vtortola opened #53 "inputmask does not work with WatiN"
Hi,

I'm using WatiN ( http://watin.org/ ) to test the UI, but when the test runs the mask does not appears.

Any idea why?

Thanks!

[2012-05-23 18:59] landondurnan opened #54 "License Agreement"
Wasn't sure how else to contact you.  I wanted to know if you're considering a license for this plugin?

[2012-05-23 21:01] RobinHerbots commented on #54
Hi Landon,

I mentioned the MIT - license in the js-files.

Should I include a seperate license file? Or maybe I should include it in
the readme.  Any advice is welcome!

best regards,

Robin

2012/5/23 Landon Durnan <
reply@reply.github.com

[2012-05-23 21:16] RobinHerbots commented on #53
Hi,

Can you try it with following function in jquery.inputmask.js changed to this

function clearOptionalTail(input, buffer) {  }

Is it possible to send me a little demo sln, so I can test it.

best regards,

Robin

[2012-05-23 21:20] landondurnan commented on #54
Ah, you're right!  I didn't think about looking at the original source as I did the Google compile and it removed those comments.   The only suggestion I could think is to mention the license in the README, otherwise, awesome work.

[2012-05-23 21:20] #54 closed, assigned to nobody

[2012-05-23 22:51] RobinHerbots commented on #40
added aliases dd.mm.yyyy & dd-mm-yyyy (dev branch)

[2012-05-24 09:44] vtortola commented on #53
Hi,

I don't understand what do you want me to do with the "clearOptional" function, how should I call it?

I have created a solution at vtortola.net/files/jQueryInputMaskAndWatiN.zip.

It shows two problems:

**MaskAndWatiNProblem.html**: Has a simple page with an INPUT and a inputmask. When you run the console application, it uses WatiN to test it. But when WatiN type on the input, the mask disa

[2012-05-24 13:11] RobinHerbots commented on #53
Hi,

For the KnockOut... html, ... you use dd/mm/yyyy as a mask, but should have called it like an alias

$('#myDateTest').inputmask({ "mask": "dd/mm/yyyy", 'autoUnmask': false, clearMaskOnLostFocus: false });

=> $('#myDateTest').inputmask("dd/mm/yyyy", { 'autoUnmask': false, clearMaskOnLostFocus: false });
or (if you use the latest in the dev branch)
$('#myDateTest').inputmask({ "alias": "dd/mm/

[2012-05-24 13:52] vtortola commented on #53
Oh I see, it works now, thanks.

I hope that it is possible to use WatiN and inputmask :) I will try to find out the source of the problem as well.

I have opened a bug in WatiN to see if they can show some light here: https://sourceforge.net/tracker/?func=detail&aid=3529778&group_id=167632&atid=843727

cheers.

[2012-06-08 07:20] mako opened #56 "numericInput - first char issue"
Hi!

If I declared a numeric input like below, the first char is "not working".
If I hit the left arrow key (move to the 2 position from right) works fine and I can write something like : "€ ___.545.454,5_"

No error in firebug, just I can't write the first number.

[code]

[2012-06-08 08:01] RobinHerbots commented on #56
Hi Miko,

The issue is fixed in the latest version.

Best regards,

Robin

2012/6/8 Mikó Zoltán <
reply@reply.github.com

[2012-06-08 08:26] mako commented on #56
omg! 24min.
you are the fastest! :)

[2012-06-08 08:42] RobinHerbots commented on #56
;-) thx!

2012/6/8 Mikó Zoltán <
reply@reply.github.com

[2012-06-08 09:24] RobinHerbots commented on #53
Hi,

Can you test the your code with say Firefox instead of IE.

Which version of IE do you use.  I think the CreateJavaScriptFireEventCode in  IEFireEventHandler.cs should be changed according the version used of IE.

Robin

[2012-06-08 11:56] mako commented on #56
Oh, something wrong in here :S
If I have some default data in the input field, or change the value in runtime, the result are not correct.
Sometimes the first char from right is not the correct place.

Try this:

[code]

but this seems ok:

[code]

can you help me? thx!

[2012-06-08 12:39] RobinHerbots commented on #56
Can you create an example on jsfiddle, that's easier to see the exact problem.

best regards,

Robin

[2012-06-08 12:41] RobinHerbots commented on #53
I did some further testing and in the keydown keypress event the args e.which || e.charCode || e.keyCode always return 0, ... I also tried with some patching in de watin code.

in IEFireEventHandler

 private string CreateJavaScriptFireEventCode(NameValueCollection eventObjectProperties, string eventName)
        {
            var scriptCode = new StringBuilder();
            var window = _ieEleme

[2012-06-08 14:51] RobinHerbots commented on #56
problem is in the checkval for numericInput, ... will post a fix soon ;-)

[2012-06-08 21:28] RobinHerbots commented on #56
the lastest version should fix the issue

Robin

[2012-06-09 05:37] Jeevanandam commented on #40
Hi Robin,

I need single digit for month and day for the aliases yyyy/mm/dd.

The current plugin supports single digit for month and day for the aliases dd/mm/yyyy and mm/dd/yyyy .

thanks

[2012-06-11 06:13] mako commented on #56
Ah, works perfectly!
Thx!

[2012-06-11 08:57] #56 closed, assigned to RobinHerbots

[2012-06-11 09:02] RobinHerbots commented on #40
I will add a yyyy/mm/dd alias soon.

best regards
Robin

[2012-06-11 12:23] RobinHerbots commented on #40
aliases added.

[2012-06-11 15:32] #40 closed, assigned to RobinHerbots

[2012-06-11 18:46] evanlarsen commented on #53
Is there a way I could use knockoutjs with your pluggin and also have the options of 'autoUnmask': true, clearMaskOnLostFocus: true?

For some reason, if I have these set to true with knockoutjs also binding to the same fields then when I mouse over the fields it will clear the input values along w/ the mask.

[2012-06-11 19:27] RobinHerbots commented on #53
Hi Evan,

Can you send an sample so I can verify the issue.

Best regards,

Robin

2012/6/11 evanlarsen <
reply@reply.github.com

[2012-06-12 07:47] mako commented on #56
Hi!

Can you look at this?: http://jsfiddle.net/3tstg/
How can I prepopulate a float?

[2012-06-12 09:47] RobinHerbots commented on #56
fixed!

I really have to add some unittests, ... nobody in the mood to create some?

[2012-06-12 10:00] mako commented on #56
not perfect yet :S
http://jsfiddle.net/3tstg/2/

[2012-06-12 11:31] RobinHerbots commented on #56
check out http://jsfiddle.net/3tstg/3/

2012/6/12 Mikó Zoltán <
reply@reply.github.com

[2012-06-12 12:24] mako commented on #56
perfect!
thx.

is it possible somehow to avoid having enter all zeros after the decimal point with a mask like this: '999 999.99'
I mean that by default the last 2 digits are always zero, but if I hit the comma the cursor step after the decimal point, and I can write the last 2 digits.

[2012-06-12 13:15] RobinHerbots commented on #56
You may open a new issue for that, ... so ... not yet ;-)

btw there is also a decimal alias in the numeric extentions

2012/6/12 Mikó Zoltán <
reply@reply.github.com

[2012-06-12 13:26] mako commented on #56
yes, I know, but I need it with money format :)

anyway, thx for the fixes!

[2012-06-12 21:51] RobinHerbots opened #62 "Add decimal support - round 2"
Add decimal support when using a mask like 99999,99 or 99999.99
Also an option to autoGroup  99999,99 to 99.999,99 would be nice

... and after this I will add some unit testing

[2012-06-12 22:05] RobinHerbots opened #63 "knockoutjs & inputmask issue"
Is there a way I could use knockoutjs with your pluggin and also have the options of 'autoUnmask': true, clearMaskOnLostFocus: true?

For some reason, if I have these set to true with knockoutjs also binding to the same fields then when I mouse over the fields it will clear the input values along w/ the mask.

[2012-06-12 22:05] RobinHerbots commented on #63
Hi Evan,

Can you send an sample so I can verify the issue.

Best regards,

Robin
SEE ISSUE 53

[2012-06-12 22:08] RobinHerbots commented on #53
Hi Evan,

I opened a new issue for this. (63).

Can you explan your problem a bit more. How did you bind ? data-bind: value?

[2012-06-13 11:33] RobinHerbots commented on #62
position to radixpoint when entering radixpoint =>ok
set default position for input before the radixpoint => ok (need to tweak position handling for delete)

[2012-06-13 13:44] christianhaller opened #64 "Credit Card Expiration Date"
Hi Robin,
I need a mask like mm/yy (2 digits for month, 2 digits for year)

perfect:
date should be now or in the future

How can I set the cardinality for years to 2 digits?

[2012-06-13 14:04] RobinHerbots commented on #64
Hi Christian,

You have to create a new defintion or adjust the defintion for y (year).
 You can find more info by looking at the date.extentions.

best regards,

Robin

2012/6/13 Christian Haller <
reply@reply.github.com

[2012-06-13 15:05] christianhaller commented on #64
Thx Robin.
I made it :)

[2012-06-13 15:05] #64 closed, assigned to nobody

[2012-06-13 16:35] RobinHerbots commented on #64
Maybe you can share your code so others can use it too?

2012/6/13 Christian Haller <
reply@reply.github.com

[2012-06-14 03:30] Jeevanandam commented on #40
Thanks robin it will be very helpful!!!!!!

[2012-06-14 10:16] RobinHerbots commented on #62
radixhandling => ok

todo = grouping

[2012-06-15 14:25] evanlarsen commented on #53
sorry for the delay, I'll provide an example tonight.

[2012-06-15 14:25] evanlarsen commented on #63
Sorry for the delay, i havent checked github in a few days, I'll provide an example tonight

[2012-06-17 22:42] ghedwards opened #66 "inputmask does not work if running with "use strict";"
Some basic syntax updates will allow the library to run under the ECMAScript "strict" operation.

[2012-06-17 22:49] ghedwards commented on #66
Duplicate, sorry.

[2012-06-17 22:49] #66 closed, assigned to nobody

[2012-06-18 15:08] dmaii commented on #7
Hi Robin,

Thanks for all the great work you've done on this plugin. I have a request to make with regard to this closed issue.I'm not sure if this should be a new issue or a modification to an existing one, so I'm keeping it in this same issue since it's the same topic.

Question:
Is it possible to add an option for insertMode, so if insertMode is true, and the user's input has reached the max le

[2012-06-19 01:12] ghedwards opened #71 "Can't seem to replace current char?"
Is there a way I can do something like the following using prevalidator or validator?

As the user types 23 ( for 24 hour time ), I would like to modify the string to become 11

I've tried using the buffers, but the best I can do is 13, which is replacing the first character, but not the second?

To add to this, the plan is to also set the am / pm to "pm" in this scenario ( in my Fork - currently

[2012-06-19 07:39] RobinHerbots commented on #71
Hi Gareth,

I will have a look at it.  How is the alias called in your repo?

Robin

2012/6/19 ghedwards <
reply@reply.github.com

[2012-06-19 08:03] RobinHerbots commented on #7
Hi DM,

I don't think it should be an option, it should just be the behavior.  I will fix this soon.

Best regards,

Robin

[2012-06-19 09:28] RobinHerbots commented on #7
check out the latest of the dev branch.

[2012-06-19 10:09] RobinHerbots commented on #71
Check out the latest version in dev.
The isValid now expects a json object as return with pos and c (character)

Just have a look at the extentions.  .... return { "pos": pos, "c": yournewtransformedchar }

[2012-06-19 12:30] christianhaller commented on #64
Sorry, I forgot this. I will post it today :)

[2012-06-19 13:08] #7 closed, assigned to RobinHerbots

[2012-06-19 13:26] #71 closed, assigned to RobinHerbots

[2012-06-19 15:22] gibacca opened #74 "inputmask & jscalendar mouse over issue"
When I use jscalendar (http://www.dynarch.com/projects/calendar/old/) to populate a field controlled by input mask, then move the mouse over and then out of the field, the field content changes to either empty, or "previous value" - inserted by actually typing into the field.
For an example, see my site at http://ec2-23-23-238-65.compute-1.amazonaws.com/search/index, use the calendar widget to ins

[2012-06-19 18:42] petefaux12 commented on #74
We had this issue as well, for now we added some buffer initialization to the mouseenter.inputmask function and the blur.inputmask functions that looks like this:

[code]

[2012-06-19 20:40] RobinHerbots commented on #74
Hi,

I will have a look at it.

best regards,

Robin

[2012-06-19 21:33] RobinHerbots commented on #74
Hi Gibacca,

Can you retest with the latest version.

Best regards,

Robin

[2012-06-19 21:38] petefaux12 commented on #74
that change appears to work well for me.  :-)

[2012-06-19 21:52] gibacca commented on #74
Yes, indeed, I do not see the content disappearing on mouseover... Thank you.

[2012-06-20 11:03] #74 closed, assigned to RobinHerbots

[2012-06-20 15:01] petefaux12 opened #75 "input mask problem on Kindle Fire"
I was wondering if anyone else happens to see this issue.  I have tested this on a couple android devices, and it appears that the problem is specific to the Kindle.

The date input mask starts out looking like:   ////**/__**
Then typing a value will often trigger the input to automatically fill out numbers like:   12/22/2222   (after entering a one and a 2)

If you put the cursor in the date fiel

[2012-06-20 15:17] RobinHerbots commented on #75
Hi Pete,

Which version of Android is running on it?  Can you simulate the problen
when using the android SDK virtual devices.

Robin

2012/6/20 petefaux12 <
reply@reply.github.com

[2012-06-20 15:27] petefaux12 commented on #75
The kindle fire uses a "modified"  2.3 version.   Working on testing in the emulator, but I'm going to guess that this might be related to that "modified" word....  :-)

[2012-06-20 15:30] RobinHerbots commented on #75
, .... can we run a copy of the kindle fire image into an emulator?  You
can extract the image with the android sdk tools.

2012/6/20 petefaux12 <
reply@reply.github.com

[2012-06-21 16:47] evanlarsen commented on #63
Well, I cant recreate the problem, in fiddle.. I tried my best to re-create it in jsfiddle but it seems to work in fiddle but doesnt work in my site.

I cant see any difference.. but I'll keep looking.  I get a strange behavior when I hover over the phone numbers it will erase the input if there is any.  I have to specifically set autounmask to false so that it wont erase whats already in there.

[2012-06-21 17:05] evanlarsen commented on #63
Actually, I just updated to your latest version and its working good now.  Not sure what changes you made but it fixed my problem.

Thank you!

[2012-06-21 18:31] RobinHerbots commented on #63
Probably it was related to issue 74

[2012-06-21 18:31] #63 closed, assigned to nobody

[2012-06-22 14:41] RobinHerbots opened #78 "Add readonly and disabled support"

[2012-07-03 12:46] jaboc83 commented on #75
This also happens on the Tablet S and Transformer tablets running Android 4 but only in Browser. Not Firefox or Chrome.

[2012-07-03 13:01] RobinHerbots commented on #75
Hi Jake,

With which browsers did you had the problem.  Can you simulate it on a an emulator?

robin

[2012-07-03 13:57] jaboc83 commented on #75
Android Browser on Android 4.0 on two different Android Tablets (Transformer and Tablet S), and Amazon Silk on Kindle Fire.  I don't have an android emulator.

[2012-07-06 14:01] RobinHerbots commented on #78
Checkout the latest version which handles readonly and disabled props/attribs

[2012-07-06 14:01] #78 closed, assigned to RobinHerbots

[2012-07-06 14:02] RobinHerbots commented on #36
readonly & disabled => done

[2012-07-16 08:57] RobinHerbots commented on #75
Can someone send me the user agent string from a kindle fire?

[2012-07-16 19:32] jaboc83 commented on #75
Regular:

Mozilla/5.0 (Linux; U; Android 2.3.4; en-us; Kindle Fire Build/GINGERBREAD) AppleWebKit/533.1 (KHTML, like Gecko) Version/4.0 Mobile Safari/533.1

Silk Mode:

Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_6_3; en-us; Silk/1.1.0-80) AppleWebKit/533.16 (KHTML, like Gecko) Version/5.0 Safari/533.16 Silk-Accelerated=true

[2012-07-17 08:49] RobinHerbots commented on #75
I requested access to the KDK (Kindle Development Kit - currently in beta).  When I got the SDK I should be able to reproduce the problem and have a look.

[2012-07-17 14:52] Jaspal opened #85 "(URGENT) MaskEdit not working on IE"
i am getting error on input._valueGet() object doesn't support property or method on IE.

It's urgent can you please take a look and help me to fix this issue

[2012-07-17 15:10] RobinHerbots commented on #85
Hi Jaspal,

Which version of IE?

I will have a quick look this evening.

best regards,

Robin

2012/7/17 Jaspal <
reply@reply.github.com

[2012-07-17 15:28] Jaspal commented on #85
IE8

[2012-07-17 15:29] Jaspal commented on #85
we have a release today and we found the maskedit not working on IE.can you please help me to fix ASAP

[2012-07-17 15:44] RobinHerbots commented on #85
Do you have the problem also on ie9 in ie8 mode?

I tested with the latest version and have no problem.

Can you create an example on jsfiddle

best regards,

Robin

2012/7/17 Jaspal <
reply@reply.github.com

[2012-07-17 16:00] Jaspal commented on #85
function SetMasked() {
        //alert('in');
        jQuery('.zipmasked').focus(function() {
            if (jQuery(this).attr("readonly")) {
                jQuery(this).inputmask('remove');
            }
            else {
                jQuery(this).inputmask('ZipMasked');
            }
        }).blur(function() {
            jQuery(this).inputmask('remove');
        });

Getting error In In

[2012-07-17 16:01] Jaspal commented on #85
or if i remove .onblur from my implementation then it's working fine but my requirement is onblur we need to display unmasked value in control

[2012-07-17 17:47] RobinHerbots commented on #85
Hi Jaspal,

Can you retest with the latest fix.

Robin

[2012-07-17 18:28] eshiota opened #86 "Mask does not overwrite selection if it's complete"
When a mask is complete (all characters typed in), and I select the whole input text (by double-clicking it, for example), typing a new character does not overwrite the selection (it does nothing, actually). The only way to overwrite a complete mask, in this case, is by hitting delete to erase the input, and start typing again.

This only happens when the mask has the `insertMode : true` option. I

[2012-07-17 18:36] RobinHerbots commented on #86
Hi Eduardo,

I already see the problem.  I will fix this soon.

best regards,

Robin

2012/7/17 Eduardo Shiota Yasuda <
reply@reply.github.com

[2012-07-18 13:51] RobinHerbots commented on #86
the latest version should fix it ;-)

[2012-07-18 13:51] #85 closed, assigned to RobinHerbots

[2012-07-18 13:52] #86 closed, assigned to RobinHerbots

[2012-07-18 14:19] eshiota commented on #86
Worked like a charm on IE8, IE9, Chrome 20, Firefox 13, Safari 5, Opera 11 and iOS 5.1.1.

Thanks!

[2012-07-20 12:05] AidanOrton opened #88 "clearIncomplete only works on trail"
We are using your plugin to mask date input.

If a user enters "01/01/____" and blurs, it correctly clears, as clearIncomplete is set.

However if they enter "**/01/2012" or "01/**/2012" it does not clear on blur.  Is this expected behaviour?

Thanks,

Aidan

[2012-07-20 12:40] RobinHerbots commented on #88
try the latest which fixes the issue ;-)

[2012-07-20 12:40] #88 closed, assigned to RobinHerbots

[2012-07-24 13:53] Soupy opened #89 "Examples Of How To Use?"
I'm trying to use this inputmask plugin by following the examples shown, but, I simply cannot make them work. For example, if I use:

$('#test').inputmask('999', { numericInput: true });

I can type ANYTHING into that text input field!!!!  Obviously I'm doing something wrong, but, what? This is where some included examples that demonstrate this plugin's capabilities would assist me greatly. I'm re

[2012-07-24 20:27] RobinHerbots commented on #89
Hi Soupy,

I should create some kind of demo page with examples, but I didn't find the time todo so.

Anyway I will create it some time ;-)

Can you send your code so I can have a look, why it is not working for you.  Which version of jquery do you use?

best regards,

Robin

[2012-07-26 00:56] gkinsman opened #91 "oncomplete event doesn't fire when numericInput: true?"
This seems to be an issue with RTL, though I don't really know where exactly the issue is.

Test Case:

HTML
`<input id="decimal"><div id="complete"></div>`

JS

[code]

After a little investigation, it seems that the isValid function returns false even when the buffer matches the mask.

[code]

In this snippet, the second branch is never executed with numeric RTL's.

The onincomplete function fir

[2012-07-26 07:23] RobinHerbots commented on #91
Hi George,

I will have a look at it soon.

best regards,

Robin

2012/7/26 George Kinsman <
reply@reply.github.com

[2012-07-27 00:41] gkinsman opened #92 "How to get the input mask from an element?"
Is it possible to extract the mask from an already masked element? Or do I need to store the mask on the element as a workaround?

I can't seem to find any property on the help page, or through my own testing to extract it. This would be a pretty useful feature.

Cheers
George

[2012-07-27 08:38] RobinHerbots commented on #92
Hi George,

No you cannot retrieve the applied mask template.  Why would you need that?

Robin

[2012-07-28 12:31] Soupy commented on #89
I'll try to get you some code to review. Basically, I'm just replacing the older version of your plugin (which worked for me) with this new one.

Should things just work as before with this new version or do I need to change the way I call it?

Some demos would be fantastic!

***\* UPDATE ****

I've discovered that if I try to use the free version of HTML-Kit to test this plugin, it does not work

[2012-07-29 00:02] #89 closed, assigned to nobody

[2012-07-29 07:33] RobinHerbots commented on #89
Which version of jquery do you use?  You should use 1.7 or up.

2012/7/28 Soupy <
reply@reply.github.com

[2012-07-29 15:26] Soupy commented on #89
I'm using jQuery version 1.7.2. As mentioned before, it appears that the free version of HTML-Kit doesn't like this plugin and it works better in an actual browser (IE, Firefox).

I'm having another difficulty trying to get numeric input (actually currency) to work for me. I'd like to have a format like "$ 99,999.99" such that when a user enters "1234", I can get an unmasked value of 1234.00. Is t

[2012-07-30 01:27] gkinsman commented on #92
Perhaps for display issues, but I can do it at the point the mask is applied instead. Ignore this!

[2012-07-30 01:27] #92 closed, assigned to nobody

[2012-07-30 02:17] gkinsman opened #93 "Numeric input only fires oncomplete after n+1 inputs"
When using a numeric input with no decimal places, the oncomplete event is only fired when the input is actually complete, and another valid keypress is made.
### Sample Code

[code]

[code]

Steps to reproduce:
1. Type three numbers
2. Field should fire oncomplete event
3. Type another number
4. Field fires oncomplete event

[2012-07-30 03:31] gkinsman commented on #93
As a side note, if there were more comments in the code it might be easier for others to contribute fixes. I'm looking through it, but it's quite difficult to determine what's going on.

[2012-07-30 09:02] RobinHerbots commented on #89
Hi Soupy,

I never used HTML-kit and never tested the plugin within HTML-Kit.

For the numeric input.  This is not possible.  Unmasking just strips away
all masking of the input.

You may make a new issue for it as a feature request. When I find the time
I will implement it.

best regards,

Robin

2012/7/29 Soupy <
reply@reply.github.com

[2012-07-30 09:08] RobinHerbots commented on #93
Hi George,

I will fix this as soon I found some spare time.  Thx for investigating
further on the issue.

But I numeric input needs some refactoring and/or alignment with the
'normal' input.

best regards,

Robin

2012/7/30 George Kinsman <
reply@reply.github.com

[2012-07-30 15:44] Soupy opened #94 "Request: Have unmasked value respect decimal"
It would be nice if, when getting the unmasked value for a numeric input that has decimals, that the unmasked value include the decimal.

For example, if I have the mask  "$ 9,999.99" and I enter 123, the unmasked value should be "123.00".

Thank you for considering this enhancement.

[2012-07-30 23:52] gkinsman commented on #94
Would this be considered a bug rather than an enhancement? :)

[2012-07-30 23:53] gkinsman commented on #93
No worries, thanks for being so proactive :).

[2012-07-31 07:41] RobinHerbots commented on #94
An enhancement ;-)

the unmask function is not aware of datatypes, so unmasking means stripping
away masking stuff

2012/7/31 George Kinsman <
reply@reply.github.com

[2012-07-31 08:16] RobinHerbots commented on #94
it's a feature ;-)

[2012-07-31 08:35] RobinHerbots commented on #93
checkout the latest version

[2012-07-31 08:35] #93 closed, assigned to RobinHerbots

[2012-07-31 09:51] RobinHerbots commented on #91
see issue 93

[2012-07-31 09:51] #91 closed, assigned to RobinHerbots

[2012-07-31 15:03] RobinHerbots commented on #62
grouping done in aliasses

[2012-07-31 21:49] #62 closed, assigned to RobinHerbots

[2012-07-31 21:49] RobinHerbots opened #95 "add some demo page"

[2012-08-01 00:31] gkinsman opened #96 "Grouping causes the repeat count to be incorrectly calculated"
It seems that the groupSeparator is included in the repeat count for the decimal mask, but there's also an off by one error. With the following code, typing "1111111" ends input, and on tab triggers an onincomplete event. Note that there are only 9 characters in total in the masked input ("1,111,111"), instead of the repeat count, 10.

[code]

[code]

Also related to this: when not using autoGroup

[2012-08-01 03:11] gkinsman opened #97 "Losing focus on an empty input triggers onincomplete"
Decimal (and derived) input types trigger an onincomplete when focusing the input, and then blurring it.

Inputs also fire an onincomplete when entering numbers that don't fit the full length, which is odd given that decimal implies that it can be _up to_ the repeat number, unless I'm mistaken.

This may be desired behaviour, but if so it would be really useful to have a document outlining the beh

[2012-08-01 07:43] RobinHerbots commented on #97
You are correct but what would be best?  In the other case the incomplete event will never trigger.

[2012-08-01 08:20] gkinsman commented on #97
What is the meaning or need for an incomplete event for decimals? It seems that they could be treated as full length optional masks, in which there is no concept of incompletion. Corollary to that, there's also no real place for a complete event either, for the same reasons.

Perhaps instead the complete could be fired on blur, though that would perhaps conflict with the change event, I'm not sure

[2012-08-01 08:31] RobinHerbots commented on #97
I changed it so the incomplete event isn't triggered anymore, however now the complete event is triggered, but this seems more correct in that context.

Actually those are more validation events which do not really belong in the inputmask plugin.  These event should better be handled with jquery.validation or something alike.  I committed the changes to the dev branch

[2012-08-01 09:37] #97 closed, assigned to nobody

[2012-08-01 09:43] RobinHerbots commented on #96
who ever wanted numeric support in this plugin ??  ;-) (never heard of the autonumeric plugin?? which already included everything!)  hehehe

a max numeric property isn't a bad idea, ... if we add this option for the decimal and alike aliases and based on this calculate the repeat property

[2012-08-01 09:48] gkinsman commented on #96
Actually I haven't, it looks awesome, thanks! It probably gets me all I need for numeric masking, so I can keep using this for dates/weird masks :). I still think it'd be a good idea to get the numeric masking right here too though.

[2012-08-01 09:56] RobinHerbots commented on #96
I agree, I will add some numericLength property or so, ...  which takes the grouping etc into account.  Are there other features missing for the decimals you are thinking of? A whishlist?

I really appreciate your input.

[2012-08-01 10:39] gkinsman commented on #96
Not yet, though there may be more as I experiment further. For now the biggest thing holding back my usage is optional masks; I haven't been able to figure out a way to declare optional single characters in a mask. That would be useful, though I haven't mentioned it since I see it's slated for 2.0.

Glad to be of help, this is one of the richest masking plugins I've seen and I'd love to be able to

[2012-08-01 10:58] RobinHerbots commented on #96
Yes, it was implemented before, but it was not fail proof and I decided to
leave it out, until later.  There is some kind of optional functionality
when used at the end.  Just put the end in [].  You can find it in the
readme.

2012/8/1 George Kinsman <
reply@reply.github.com

[2012-08-01 11:22] gkinsman commented on #96
Ah, yes I was trying to get that working and was wondering why it wasn't. Might want to update the docs to mention it only works at the end.

[2012-08-02 20:59] rcdmk opened #98 "Numeric masks go beyond maxlength"
Hi.
I have a field where I have to type in some decimal numbers like "0.25" and my field have a maxlength attribute of 4, to restrict the size of the input, but it did not work.

I've seen that the default repeat value for the decimal mask is 10, and its exaclty the maximum of chars I can type in my input, even having a maxlength of 4:

[code]

[2012-08-02 21:04] RobinHerbots commented on #98
Hi,

I will fix this soon.

best regards,

Robin

2012/8/2 RCDMK <
reply@reply.github.com

[2012-08-02 22:05] rcdmk opened #99 "Masked input with datepicker causes error"
I have a simple setup with a masked input for date and jQuery UI datepicker applied:

[code]

When I click on any day or try to change a month, the widget throws this error:

It means: Unable to define the property 'currentDay': the object is null or undefined

I've also tried with the default config and the error is the same.

[2012-08-03 12:26] plewasebastian opened #100 "Input nask error in FF"
I have installed new version jquery.masked input version 1.0.20. In 1.0.19a was OK.
Masks disappeared from inputs in FF. In Opera, IE is OK.

Firebug shows error in line:

RangeError: invalid array length

if (maxLength < _buffer.length) _buffer.length = maxLength;

If if set maxlength for input field, it works correct without error.

Is maxlength for input fields required for version 1.0.20 and h

[2012-08-03 12:58] RobinHerbots commented on #100
fixed!!

[2012-08-03 12:58] #100 closed, assigned to RobinHerbots

[2012-08-03 20:56] rcdmk commented on #99
Sorry. I've figured out that my field had the same Id as another field in my form that i forgot to change and it was causing the error.

[2012-08-03 20:56] #99 closed, assigned to nobody

[2012-08-04 15:35] plewasebastian opened #101 "Mask for number contains 5 or 9 digits?"
I need mask for numbers which contains 5 or 9 digits.
99999[9999] is not OK, because mask allow  for number contains 6, 7 and 8  digits, but only 5 or 9 digits is allowed.

Is it possible with current inputmask version?

Regards

[2012-08-05 15:55] plewasebastian opened #102 "Can't paste into input."
Cannot paste text into input with set maxlength and mask in FF, Opera, Chrome, IE8.

[2012-08-06 00:24] ghost opened #103 "The DOM 'input' event is not triggered on inputmask field"
http://dev.w3.org/html5/spec/common-input-element-apis.html#event-input-input

A form with text inputs, some use inputmask, others don't.

[code]

Only non-inputmask fields trigger the callback for some reason.

Ubuntu 12.04, Google Chrome

[2012-08-06 08:19] RobinHerbots commented on #101
Hi l0pez,

Yes and no, you need to help the plugin a bit.

create 2 masks 99999 and 999999999 and then you can bind on the keypress
event and depending on the length of the input you apply mask 99999 or
999999999

best regards,

Robin

2012/8/4 l0pez <
reply@reply.github.com

[2012-08-06 08:22] RobinHerbots commented on #102
Can you also provide a little example of the mask used?

best regards,
Robin

[2012-08-06 08:41] plewasebastian commented on #102
mask "999999999"
input field has placeholder "_________", maxlength set to 9

[2012-08-06 12:29] ghost opened #104 "Add support for 'serialize' jquery method"
http://api.jquery.com/serialize/

Currently, when applying the 'serialize' method over the form that contains a masked input, results in retrieving the masked data instead of the original one, which breaks server-side validation in my case. The 'autounmask' parameter has no effect.

[2012-08-06 14:57] RobinHerbots commented on #104
That is because, the autounmask works a bit differently depending the
browser.

In FF it should work as expected. Because this browsers support to redefine
build in properties like value.  In the others it works when you or other
plugins retrieve the value by the jquery.val function.
It is implemented with some kind of fallback functionality.  When
redefinition of properties isn't supported then I

[2012-08-08 06:35] #101 closed, assigned to nobody

[2012-08-08 09:21] plewasebastian commented on #102
How about this issue?

[2012-08-08 10:26] RobinHerbots commented on #102
I fix it when I find some time. I am busy with other things right now.
Best regards
Robin
 Op 8 aug. 2012 11:21 schreef "l0pez" notifications@github.com het
volgende:

[2012-08-08 10:39] plewasebastian commented on #102
ok, i look forward to the new version.

[2012-08-10 08:10] RobinHerbots commented on #102
Hi lopez,

Why do you specify the maxlength?  Do you need it for another plugin or something else or is it just to make sure that the input isn't more then the maximum allowed length.
Robin

[2012-08-10 08:37] RobinHerbots commented on #102
checkout the latest version

Robin

[2012-08-10 13:05] edgardmessias opened #105 "Is missing a comma in the last three examples with decimal"
is missing a comma in the last three examples with decimal

[2012-08-10 13:57] RobinHerbots commented on #105
fixed

[2012-08-10 13:57] #105 closed, assigned to nobody

[2012-08-10 17:15] plewasebastian commented on #102
I set maxlegth always for input fields. Then I set inputmask only for required fields, and i wouldn't like edit html files once again and remove unneeded maxlengths.

I will check last version next monday, and i'll give feedback.

Sebastian

[2012-08-13 08:54] plewasebastian commented on #102
Hi,

It seems to be OK. Thanks.

[2012-08-13 09:56] plewasebastian commented on #102
I've found not error but small inconvenient. Paste to masked input field works OK, but if I drag and drop text to masked input, dragged text appear at the end of mask and disappear. It looks like:
"_________" CTR-C, CTR-V "121211221" -> OK
"_________' drag and drop '121211221" -> "_________121211221" and -> "_________" -> NOT OK

This inconvenient has been announced by users of web apps written by

[2012-08-13 11:14] plewasebastian commented on #102
Annnnd I,ve found next error. If  I click label than I am in input assigned to label, but mask is not show.

Example:

[code]

I hope it's last error that i found.

Regards

[2012-08-13 18:47] RobinHerbots opened #106 "If I click label than I am in input assigned to label, but mask is not show."
Annnnd I,ve found next error. If I click label than I am in input assigned to label, but mask is not show.

Example:

  <label for="plant_cost_centre">Cost centre</label>
  <div class="fields"><input id="plant_cost_centre" maxlength="9" name="plant[cost_centre]" placeholder="_________" size="9" type="text" value="" /></div>
I hope it's last error that i found.

Regards

[2012-08-13 18:49] RobinHerbots opened #107 "drag and drop functionality not supported"
I've found not error but small inconvenient. Paste to masked input field works OK, but if I drag and drop text to masked input, dragged text appear at the end of mask and disappear. It looks like:
"______" CTR-C, CTR-V "121211221" -> OK
"_**' drag and drop '121211221" -> "**_121211221" and -> "**_**_" -> NOT OK

This inconvenient has been announced by users of web apps written by me.
It is small i

[2012-08-13 18:50] RobinHerbots commented on #102
Hi Sebastian,

Thx for the feedback.  I created 2 new issues for it.

I will close this one.

Best regards,

Robin

[2012-08-13 18:50] #102 closed, assigned to nobody

[2012-08-13 20:29] plewasebastian commented on #102
OK, Thanks..

Tomorrow i go on holiday. I will be back in September. In the free time I'll follow the progress.

Bye for now,
Sebastian

[2012-08-13 21:35] RobinHerbots commented on #102
Have a nice holiday!!

I"m going to France (Frejus) next week on Holiday, so not much will happen
the next weeks ;-)

cya,

Robin

2012/8/13 l0pez notifications@github.com

[2012-08-22 17:15] rcdmk commented on #36
Hi.
On this subject, maxlength still doesn't work properly with decimal masks.

[2012-08-22 17:42] rcdmk commented on #98
Just to follow-up, this is not fixed inthe actual version. It keeps allowing to pass the `maxlength` attribute, but this time restricting to 5 instead of 10 characters:

[code]

[2012-08-23 04:11] lucianogreiner opened #108 "onincomplete not being called"
Hello.

I am trying to integrate jquery.inputmask into AngularJS by creating a directive, and i am facing a problem regarding the callbacks.

I have a field with this simple mask "99" or "9[9]". For the first mask, the "onincomplete" callback is never called.
For the second one, with the optional second digit, neither the oncomplete or onincomplete callbacks are called after i do fill the first di

[2012-08-26 10:34] htowens commented on #42
A dynamic email mask would be a very nice addition, +1 from me.

[2012-08-26 11:28] haovn opened #109 "Provide a method to check if element is masked pattern"
It will be perfect if there are a method to check if element is masked pattern.
I want to use this plugin with Jquery Validation. When user input a incorrect (incomplete) value, an error message is displayed beside element.

[2012-08-29 06:53] RobinHerbots commented on #108
Hi,

I will have a look at it.

best regards,

Robin

[2012-08-29 06:56] RobinHerbots commented on #109
Hi,

I will add this soon.

Best regards,

Robin

[2012-09-02 11:18] RobinHerbots commented on #109
Do you mean an method which indicates wheter the value of the element will be masked when retrieved?

[2012-09-02 20:42] RobinHerbots commented on #109
checkout the hasMaskedValue fn in the dev branch

[2012-09-02 20:42] #109 closed, assigned to RobinHerbots

[2012-09-03 13:00] RobinHerbots commented on #104
Can you try by including the following code after jquery

jQuery.param = function( a, traditional ) {
    var prefix,
        s = [],
        add = function( key, value ) {
            // If value is a function, invoke it and return its value
            value = jQuery.isFunction( value ) ? value() : ( value == null ? "" : value );
            s[ s.length ] = encodeURIComponent( key ) + "=" + enco

[2012-09-07 13:34] RobinHerbots commented on #107
added in dev branch

best regards

Robin

[2012-09-07 13:34] #107 closed, assigned to RobinHerbots

[2012-09-10 08:22] ghost opened #110 "mask is getting lost after setting value of input field twice, without click into inputfield in between"
Hello,

i created a jsfiddle for that:
http://jsfiddle.net/CXAZx/
1. if i set the input-value once and click into the input, the the mask is still there
2. if i set the input-value once, click into the input, then set the value again, the the mask is still there
3. issue: if i set the input-value once, then immediatley set another value afterwards, the the mask is LOST.

[2012-09-10 08:28] RobinHerbots commented on #110
Hi wuSam,

I will have a look at it this evening.

best regards,

Robin

[2012-09-10 08:30] ghost commented on #110
maybe this helps: if i set "greedy:true", then it works.
i'm not sure if my usage of "greedy:false" is evil or if something else is wrong.
looking forward for your answer or patch :-)

Sam

[2012-09-10 10:17] RobinHerbots commented on #110
Checkout the latest version ;-)

[2012-09-10 10:17] #110 closed, assigned to RobinHerbots

[2012-09-10 10:18] RobinHerbots commented on #110
It has todo with the greedy: false option; the mask is active but visible
when performing  $('#txtECode').val('01');

$('#txtECode').inputmask({mask:'99 999 999 999 9999', greedy:false,
autoUnmask:true});
$('#txtECode').val('01');

already introduces the behavior.

Fixed in the latest version.

2012/9/10 wuSam notifications@github.com

[2012-09-10 11:02] ghost commented on #110
thanks!! great plugin, great reactiontime

[2012-09-10 20:34] fabricioferracioli opened #113 "Change the default datetime extensions validation"
The actual validation for dates allow only dates between 1900 and 2099, using the 'd-m-y' mask.
It's desirable to add a validation option as parameter, giving the desired years range.

[2012-09-11 18:07] cosm1c opened #114 "Integer alias prevents entering of negative values"
When using the included alias of 'integer' a user cannot enter a negative number.

Inputmask displays a 0 in the input field, and when the user uses the mouse to select the field to enter the caret is moved to the right hand side. After that a negative value is not allows as it would create the invalid number of '0-'.

Fixed by creating an alias with numericInput of false, but not ideal.

Inputmas

[2012-09-14 12:05] kumm opened #115 "TypeError: element is undefined on special keys"
I've created a custom mask:
        'Z' : {
            validator: "[A-Za-z0-9/*-]",
            cardinality: 1,
            casing: "upper"
        }

applying to an input:
zz.inputmask({mask: "Z", repeat: 10, greedy: false });

I get an error on spceial keys (home,end, backspace etc....)

TypeError: element is undefined
setBufferElement(buffer=["", "8", "7", 2 more...], position=1, element=undef

[2012-09-14 13:01] RobinHerbots commented on #115
Hi Kumm,

I wil have a look at it.

Best regards,

Robin

2012/9/14 kumm notifications@github.com

[2012-09-14 13:36] RobinHerbots commented on #115
Fixed in the latest version

best regards,

Robin

[2012-09-14 13:36] #115 closed, assigned to nobody

[2012-09-17 11:09] RobinHerbots commented on #103
Hi Chetzof,
The input is not triggered because we return false in the keypress event when handling the masking; otherwise the input event interferes with the masking

Best regards,
Robin

[2012-09-17 11:09] #103 closed, assigned to RobinHerbots

[2012-09-17 11:15] RobinHerbots commented on #108
Hi Luciano,

Do you use the numericInput option or others?  Can you give me a an example

input.inputmask("99", {  which options

best regards,

Robin

[2012-09-20 12:34] robjay opened #118 "Array.prototype.indexOf causes IE to fail when using for in to loop around an array."
The Array.prototype.indexOf extension that has been added causes Internet Explorer to fail with the following type of code:

for (i in array) {
}

indexOf is being returned in the list, which may be undesirable if you are looping around a set of objects, expecting certain properties.

Would be preferable to use the jQuery.inArray function instead.

[2012-09-20 13:20] sompylasar commented on #118
Would be preferrable to use a plain old `for` loop to loop through arrays:

[code]

To make looping through objects via `for..in` safe, the `hasOwnProperty` method call is required. It should also be polyfilled for older browsers.

[code]

[2012-09-20 14:09] RobinHerbots commented on #118
robjay,

I will refactor the plugin  to use $.inArray function.

sompyfasar,

I agree ;-)

best regards,

Robin

[2012-09-20 14:22] RobinHerbots commented on #118
Hi robjay,

In the dev branch you can find the refactoring.

best regards,

Robin

[2012-09-21 06:48] robjay commented on #118
Thanks for that, seem to work OK.

[2012-09-21 12:06] garaboncias commented on #75
I investigated this problem and it seems issue only occur when input type="tel". I reproduced with vanilia android 2.2 and 2.3.
Jelly bean seems ok.
Somehow keydown/keypress/keyup event triggered several times.

[2012-09-21 12:32] RobinHerbots commented on #75
Thanks for the feedback!!

input type=text doesn't work properly under 2.2 either

2012/9/21 garaboncias notifications@github.com

[2012-09-22 19:23] #118 closed, assigned to RobinHerbots

[2012-10-09 09:28] cosm1c commented on #114
I have implemented a quick hack to get around this issue (I will generate a pull request within the next few days):

[code]

[2012-10-09 09:31] cosm1c opened #121 "Numeric masks don't remove leading zeros - leading to octals"
When an input field has a value of "0" the resulting digits are prepended causing a leading zero.

So if the user presses "1" the resulting value is  "01" which can be interpreted as an octal and not decimal.

[2012-10-09 09:40] cosm1c commented on #121
This code snippet replaces Issue #114 - fixing both.

[code]

[2012-10-10 06:47] valgen opened #122 "document.activeElement unspecified error when loading in iframe with IE9"
I'm using JQuery 1.7.2 and  jquery.inputmask 1.0.24 and I'm loading the plugin in an iframe with IE9
I received a javascript error on document.activeElement - unspecified error.

To work around the issue I had to remove the following code:
   if (document.activeElement === el) { //position the caret when in focus
         $input.addClass('focus.inputmask');
         caret(el, lastPosition);
   } e

[2012-10-10 07:26] RobinHerbots commented on #121
Hi Cory,

Thx for the fix, .... for the moment I don't have time to work on the
inputmask...

Can you send a pull request?

best regards,

Robin

2012/10/9 Cory Prowse notifications@github.com

[2012-10-10 07:27] RobinHerbots commented on #122
Hi Valgen,

Thx for the notice.

I will have a look at it when I find some time ;-)

best regards,

Robin

2012/10/10 valgen notifications@github.com

[2012-10-10 10:38] RobinHerbots commented on #122
I committed a fix in the dev-branch

[2012-10-10 10:57] RobinHerbots commented on #122
todo use iframe contentDocument Property, to check focused element in iframe

[2012-10-10 14:12] cosm1c commented on #121
Happy to create a pull request, will do so in the next few days.

[2012-10-10 22:30] valgen commented on #122
Tx Robin

[2012-10-12 10:52] robjay opened #123 "Pressing separator for Date input does not move to next field in IE, also find that it outputs the separator after the separator (I.E 1/ outputs 01//M/YYYY on chrome)"
Example, pressing 1/ on chrome, outputs 01//M/YYYY. On IE, does not move the cursor to the next field.

Found the cause for IE (can not index string as arrays, need to use charAt instead). Also created a temporary fix for the other (no idea on its validity). Patch as follows:

Using IE 8.

[code]

[2012-10-12 11:06] RobinHerbots commented on #123
Hi robjay,

Thx, I will add the changes to the dev branch, ...

Why did you add the change in the shiftR fn?

best ragards,

Robin

[2012-10-12 11:12] RobinHerbots commented on #123
... and I have a look at why chrome adds the extra character

[2012-10-12 12:10] robjay commented on #123
When we debugged the code, we traced the location where the separator was being added to the buffer to the shiftR function, hence the change in that function. This might not be the best place and if you know of a better location, please amend. This does provide a fix for us at the moment, but I admit that it might not be the best or most ideal fix.

[2012-10-13 06:44] RobinHerbots commented on #123
in chromium the output is fine.

I have to retest with Chrome.

Btw which platform do you use?

[2012-10-13 06:45] #114 closed, assigned to nobody

[2012-10-13 08:54] robjay commented on #123
This was under chrome, Firefox and Internet explorer 8.0 (once i changed from using arrays to lookup that character on a string to charAt) on windows XP. Both chrome and Firefox are the latest.

[2012-10-13 09:27] robjay commented on #123
Should have told you the settings I was using. Here is an example that demos the bug. It seems that setting insertMode to true introduces the bug. This was in the latest chrome under windows 7 x64.

[code]

[2012-10-13 10:10] robjay commented on #123
When the '/' is pressed, 2, 10, '/' is passed into the shiftR function. 1st iteration, i = 2, isMask(i) is null, buffer is 01/mm/yyyy. It then loops around again, i =3, isMask(i) is set, buffer becomes 01//m/yyyy after the call to setBufferElement(buffer, 3, '/'). Only occurs if insertMode is true since the shiftR function is only called then.

[2012-10-13 21:33] RobinHerbots commented on #123
Yes, I see the problem, ... it's because we are messing with the valid
position in the date extension, ...

2012/10/13 robjay notifications@github.com

[2012-10-13 21:56] RobinHerbots commented on #123
checkout the latest update on the date extensions.

best regards,

Robin

[2012-10-13 21:56] #123 closed, assigned to RobinHerbots

[2012-10-16 13:04] RobinHerbots commented on #108
see issue 117

[2012-10-16 13:04] #108 closed, assigned to RobinHerbots

[2012-10-17 12:54] Gyrbo opened #127 "Invalid use of $.inArray on String"
As is explained in the following bug report, $.inArray shouldn't be used on Strings: http://bugs.jquery.com/ticket/10700

This causes problems while using jQuery 1.8.2.

To correct this problem:

[code]

[2012-10-17 13:09] Gyrbo opened #128 "Infinite loop for numericInput mask"
The following jsFiddle demonstrates the problem: http://jsfiddle.net/SRTJj/

There is an infinite loop on line 967:

[code]

[2012-10-17 13:36] RobinHerbots commented on #127
Yes offcourse, ... i've been a bit to eager in a previous refactoring ;-)

Can you send a pull request.

Best regards,

Robin

[2012-10-17 13:39] RobinHerbots commented on #128
Hi Gyrbo,

I will have a look at it.

best regards,

Robin

[2012-10-17 13:50] RobinHerbots commented on #127
I made the changes by hand

[2012-10-17 13:50] #127 closed, assigned to RobinHerbots

[2012-10-23 20:47] RobinHerbots commented on #128
Fixed in version 1.0.25.

best regards,

Robin

[2012-10-23 20:47] #128 closed, assigned to RobinHerbots

[2012-10-23 20:49] RobinHerbots commented on #128
http://jsfiddle.net/SRTJj/1/

[2012-10-25 18:45] tslatt opened #130 "Disable show mask on hover"
When you hover over a field, it shows the mask. I only want it to be shown when you actually click in side the field. Is there any way to do that?

[2012-10-29 21:18] RobinHerbots commented on #130
Hi tslatt,

I will add an extra option showMaskOnHover.

best regards,

Robin

[2012-10-29 21:26] tslatt commented on #130
Thank you so much! I am using the “over label” technique as described on ALA http://www.alistapart.com/articles/makingcompactformsmoreaccessible/ , and with the masking guide showing up on hover, you can see both it and the label overlapping each other. Since the label disappears on click, having the mask not show up until click would be ideal.

Thanks for the quick response!

Tonya Slatt

From: R

[2012-10-29 21:48] RobinHerbots commented on #130
Done !!

[2012-10-29 21:48] #130 closed, assigned to RobinHerbots

[2012-11-04 21:28] RobinHerbots commented on #122
iframe.contentDocument not needed for funtionality

[2012-11-04 21:28] #122 closed, assigned to RobinHerbots

[2012-11-05 14:54] tslatt opened #132 "On IE and Opera, when you tab into a field, the cursor is positioned after the mask."
In any other browser, tabbing into a field selects the entire mask, so that when you type a character, it goes in the first character position. However, in IE and Opera, it does not select the entire mask. Instead, it puts the cursor after the last character position, so that typing does nothing. The use then has to reposition the cursor to type.

How can we force the cursor to be at the first cha

[2012-11-06 11:04] xicond opened #133 "Buggy numeric extension with pre init value"
Buggy numeric extension with pre init value 522525, result as 522 with
$('.numeric').inputmask('decimal', { radixPoint: ',', autoGroup: true, groupSeparator: '.', groupSize: 3, repeat:22, digits:2 });
is there any mistake I'd write?

[2012-11-07 15:31] bertoost commented on #42
Yeah that would be cool!

[2012-11-07 15:34] ghost commented on #42
Would be awesome! Another +1 :)

[2012-11-07 16:49] RobinHerbots commented on #132
Hi tslatt,

With which versions does this occur?  Can you also provide a little demo (jsfiddle).

best regards,

Robin

[2012-11-07 19:29] tslatt commented on #132
This happens on IE 7/8/9 and Opera 11.5. It works fine on FF16, Chrome 22, and Safari 5. Sorry, I couldn't quite figure out how to set up a jsfiddle (so far), and my site isn't live yet, so it's difficult to show an example.

[2012-11-07 19:43] tslatt commented on #132
OK, I figured out how to do a jsfiddle: http://jsfiddle.net/3MHJY/

Type something in the first field and then click the tab button to get to the next field. In IE and Opera, the cursor will be positioned after the "**_-**_-____", so that if the user just starts typing, nothing will happen because they need to reposition the cursor first.

[2012-11-07 20:42] RobinHerbots commented on #132
Hi tslatt,

Thx for the feedback.

Issue fixed

Best regards

Robin

[2012-11-07 20:42] #132 closed, assigned to nobody

[2012-11-09 09:42] thebirisi opened #134 "with Chrome and jquery ui datepicker: Uncaught TypeError: Cannot read property 'textContent' of null"
Hı
I have used the datepicker with inputmask

chrome console throw error.   when a date selected from datepicker

Error: Uncaught TypeError: Cannot read property 'textContent' of null

$(".date").datepicker();
$(".date").inputmask("dd.mm.yyyy", { "placeholder": "_", "clearIncomplete": true });

[2012-11-09 09:45] RobinHerbots commented on #134
Hi theberisi,

I will have a look at it.

Which versions do you use? jquery-ui & inputmask.

Can you create an example in jsfiddle?

best regards,

Robin

[2012-11-09 14:19] thebirisi commented on #134
jquery ui 1.8.2 and inputmask 1.2

Thank you for your interest in

[2012-11-10 15:38] thebirisi commented on #134
http://jsfiddle.net/pWyPm/3/
I have wrote code this
but there are no error

[2012-11-11 10:15] RobinHerbots commented on #134
I will close the issue.

If you can reproduce the issue, feel free to reopen and give more info.

best regards,

Robin

[2012-11-11 10:15] #134 closed, assigned to nobody

[2012-11-12 16:01] noahc opened #135 "Version 1.2 Issue"
I have found an issue with version 1.2 that didn't happen previously with 1.0.x.

When I have something like: $("#something").inputmask "mm/dd/yyyy"

and I enter 01/01/2012 and then want to delete the whole line and start again and I hit the backspace three times and get "01/01/202" and the oncomplete also fires, which I don't believe it should.

Any thoughts on why this is happening?

After furt

[2012-11-12 20:19] RobinHerbots commented on #135
Hi Noah,

Can you specify in which browser as I cannot reproduce the problem.

best regards,

Robin

2012/11/12 Noah Clark notifications@github.com

[2012-11-12 21:25] noahc commented on #135
Firefox 16.0.2 specifically.

Here is a video I made of the issue: http://www.youtube.com/watch?v=RS1jltjOoLg

[2012-11-12 22:44] RobinHerbots commented on #135
Ok will check this tomorrow.

Best regards,

Robin

[2012-11-13 13:09] RobinHerbots commented on #135
fixed!

Robin

[2012-11-13 13:09] #135 closed, assigned to RobinHerbots

[2012-11-18 00:54] zdfs opened #138 "Request for event hook"
I'd like to request an event hook. Currently, when a mask is applied and a user tries to key something that the mask won't allow, nothing happens. If the plugin fired an event whenever this happened, we could call a function that provided some sort of visual feedback.

Thoughts?

[2012-11-19 09:05] RobinHerbots commented on #138
Hi Zachary,

I will add this as an optional extensions.

best regards

Robin

2012/11/18 Zachary Forrest y Salazar notifications@github.com

[2012-11-19 17:41] zdfs commented on #138
Thank you sir.

[2012-11-20 12:28] iyeldinov opened #139 "Show mask"
Hello! I'd like to know can I always show input mask, not only on hover or focus?

[2012-11-20 12:31] RobinHerbots commented on #139
you can put the clearMaskOnLostFocus option to false

best regards,

Robin

2012/11/20 yeldinov notifications@github.com

[2012-11-20 12:33] iyeldinov commented on #139
Great, thx!

[2012-11-20 12:33] #139 closed, assigned to nobody

[2012-11-24 18:19] rcdmk commented on #98
I realised that setting greedy to false solves this problem.

[2012-11-26 21:29] RobinHerbots commented on #138
Checkout latest in dev branch - onKeyValidation

Not implemented as an extention but just in the base.  See readme

[2012-11-26 21:29] #138 closed, assigned to RobinHerbots

[2012-11-27 09:33] yngvark opened #140 "Cannot bind click event to read only input field with inputmask"
I'm trying to bind a jQuery click event to a read only input field with an inputmask, but it does not work. See code below.

[code]

[2012-11-27 09:35] RobinHerbots commented on #140
Hi Yngvar,

the readonly blocks all events, ...

best regards,

Robin

2012/11/27 Yngvar Kristiansen notifications@github.com

[2012-11-27 09:41] yngvark commented on #140
Somehow my comments were not pasted in my code, but anyway: The #fieldNormal click event works even though the field is readonly, it's only the field with the input mask that does not work.

[2012-11-27 09:50] RobinHerbots commented on #140
That because the inputmask blocks all events in readonly mode, ...

What do you want to accomplish?  Maybe a need to fine tune which events the
plugin blocks in readonly.

best regards,

Robin

2012/11/27 Yngvar Kristiansen notifications@github.com

[2012-11-27 10:06] yngvark commented on #140
I see. I am actually trying to make the caret/input cursor\* in a read only input field disappear in IE8 when clicking on it. I know, this is IE8's problem, not yours. Anyway, I can achieve that by calling
    $("#readOnlyInputField").click(function() { this.blur(); });

However, this does not work when I'm using a mask on #readOnlyInputField.

My workaround right now is to disable the mask when m

[2012-11-27 10:29] RobinHerbots commented on #140
Do you mean when the inputmask is readonly and clicked on it in IE8 the
caret is visible?  Does this only happen i IE8 or also in other browsers?

I will try to fix this or apply your workaround.  Does it olso occurs in
ie9 when set in ie8-mode?

Robin

2012/11/27 Yngvar Kristiansen notifications@github.com

[2012-11-27 11:02] yngvark commented on #140
To be exact: When the input field is set to read only, like this:
- input id="readOnlyInputField" type="text" readonly="readonly"

Then, in Chrome when you click on this field, no caret is visible, and this is what I think is correct behavior, because a caret indicates that the input field is editable. However, in IE8, the caret is visible even though the field is read only, and it is a bug/proble

[2012-11-27 11:07] sompylasar commented on #140
Read-only means a user can read the value and maybe select and copy it. The selection may be controlled with a keyboard, so the current caret position should be visible when the field is focused for a user to know where the selection could start. The described Chrome behavior for readonly fields (haven't tested this myself) misses that use-case.

[2012-11-27 11:48] yngvark commented on #140
Yeah, you're right about that - IE8 is actually has the correct behavior. Unfortunately, the Chrome behavior is what I want. To elaborate: My input fields are actually transparent (i.e. invisible), but the value of the input field is shown. I.e. I want my input fields to look and feel just like normal text, and in regular text a caret is never shown. The reason I am doing this is because I want th

[2012-11-27 14:43] sompylasar commented on #140
Add `<input type="hidden" />` for your data to be sent and `<div />` or `<span />` to display the values as text. You will have to duplicate the data in the markup but you'll get the exact behavior you want.

[2012-11-27 19:25] quasiperfect opened #141 "regex for mask"
how can i use a regex as a mask ?
i need to use this /^([A-Z]{1}[a-z]{3,11}){1}([- ]{0,1}[A-Z]{1}[a-z]{3,11}){0,1}$/

[2012-11-28 08:31] RobinHerbots commented on #141
Hi quasiperfect,

That would be a cool feature!!  But it is not possible to just pass the
regex as a mask template.

Explore a bit at the examples in the numeric extensions to get an idea how
you can accomplish it for the moment.

When I see your regex definition, the mask needs tobe dynamic, I mean some
parts are optional.

That is currently very limited.

I am working on optional mask but it is

[2012-11-28 08:35] RobinHerbots opened #142 "Remove opts.separator.charAt(opts.separator.length - 1) from dateextensions"
Use the escaperegexfn instead

[2012-12-18 22:09] theblang opened #143 "Time"
It would be great to be able to use both date and time simultaneously as well as do am/pm.  Also, some examples for time would be really helpful.

[2012-12-18 22:21] RobinHerbots commented on #143
Hi Mattblang,

try

$(input).inputmask("datetime");

You can find the implementation in the date.extensions.

best regards,

Robin

2012/12/18 mattblang notifications@github.com

[2012-12-18 22:31] theblang commented on #143
Very nice!   Is there a way to do am/pm?  I didn't notice anything in date.extensions but I saw something in custom.extension.

[2012-12-19 08:13] RobinHerbots commented on #143
Yes in the custom.extensions you can find AM/PM.  This extensions is not
written by me and should be merged in the date extensions, but I haven't
got the time to do it yet.

best regards,

Robin

2012/12/18 mattblang notifications@github.com

[2012-12-20 15:28] rusifald opened #145 "inputmask("remove") leaves max length restriction on field"
I am changing the text fields input mask depending on the value of a drop down box using this code:

switch ($("select[id$='ddlQuestion2']").val()) {
                case "2":
                    $("input[id$='txtQuestion2Answer']").inputmask({ "mask": "(999) 999-9999" });
                    break;
                case "3":
                    $("input[id$='txtQuestion2Answer']").inputmask("mm/dd

[2012-12-20 15:50] theblang commented on #143
I see what I was doing wrong.  I built using the Ant XML and just realized that the custom.extensions aren't included.  After including them the am/pm worked.  Unfortunately, it doesn't seem to work when combined with date (e.g., "m/d/y h:s t").

[2012-12-20 19:22] RobinHerbots commented on #143
That is possible because I took the custom extension as is.  Propably is
the t definition not know outside the alias.  When I find the time I will
look at it.  Or if you are willing to look at it, always welcome.

Anyway, I leave the issue open until solved.

best regards,

Robin

2012/12/20 mattblang notifications@github.com

[2012-12-20 19:30] RobinHerbots commented on #145
Hi Rusifald,

Can you retry with the latest version in the dev branch

best regards,

Robin

2012/12/20 rusifald notifications@github.com

[2012-12-20 19:31] rusifald commented on #145
Sure I will report back.

[2012-12-20 19:35] rusifald commented on #145
Based on a quick test the problem is resolved.  Thank you for fixing that so fast!

[2012-12-20 19:43] #145 closed, assigned to nobody

[2012-12-27 17:32] fdan4824 opened #149 "Empty / clear field on focus"
I have looked at the instructions and searched the forums. I may be missing something obvious, but is there a way to clear the field when the field gains focus?

It would be great if it restored the previous value in the event no data was entered (or if that was at least an option).

Thanks,
Dan

[2012-12-27 20:10] RobinHerbots commented on #149
Hi Dan,

I do not understand what you mean exactly.

With the clearMaskOnLostFocus you clear the mask on loosing focus when no
data has been entered. Gaining focus again shows the 'empty' mask again.

With clearIncomplete you clear the mask when loosing focus unless the data
entry completes the mask.

Can you give me an example with the different steps and the desired result.

Best regards,

Robin

[2012-12-27 21:17] fdan4824 commented on #149
This is about fields that already have data. For example a "not-negative decimal" field. When the page loads the value is  2.50, but I want to change it 4.75.

Currently, I have to delete the 2.50 and for some reason highlighting the field and typing doesn't wipe the data and neither does hitting the backspace or delete key. I have to backspace or delete through the entire length of the field.

If

[2012-12-28 22:32] RobinHerbots commented on #149
Hi Dan,

You can still use those events even if the plugin uses them also.

I'm aware that the numeric extensions aren't optimal for the moment, but I am busy working on the optional masks (and other stuff besides inputmask).  Anyway I will have a look at the numeric mask soon.

You may always create a jsfiddle which exactly shows your problem, try adding the extra behavior via the blur event, and

[2012-12-28 22:36] fdan4824 commented on #149
OK. I guess I just jumped to a conclusion about the onfocus and onblur
events based on some past experience. I will work with and see where it
goes.

Thanks for your quick responses.

Dan

On Fri, Dec 28, 2012 at 4:32 PM, Robin Herbots notifications@github.comwrote:

[2012-12-30 22:16] RobinHerbots opened #150 "Mask like (99) 9999[9]-9999 does not work (dcmdeivid)"
It will be cool if have an option to have multiple masks.

Like:
(99) 9999-9999 or
(99) 99999-9999

Using optional mask don't works
(99) 9999[9]-9999

[2012-12-30 22:18] RobinHerbots commented on #2
Optional mask are implemented, but have to evolve.

Please create an issue when your optional mask doesn't work.

[2012-12-30 22:18] #2 closed, assigned to RobinHerbots

[2012-12-30 22:20] RobinHerbots commented on #2
Branch 2.x

[2012-12-31 09:15] #142 closed, assigned to nobody

[2013-01-03 12:33] mvcmania opened #151 "Issue on firefox"
jquery.inputmask.js throws and error while calling setTimeout function in FireFox.

Recommendation:

line 283:

setTimeout( opts.onKeyValidation.call(this, result, opts), 0) "Current way of call"

it should be :

setTimeout(function() { opts.onKeyValidation.call(this, result, opts); }, 0)

[2013-01-03 20:06] RobinHerbots commented on #151
fixed,

best regards

Robin

[2013-01-03 20:06] #151 closed, assigned to nobody

[2013-01-04 21:08] RobinHerbots commented on #150
Check latest 2.x branch

[2013-01-04 21:08] #150 closed, assigned to RobinHerbots

[2013-01-04 21:26] rusifald opened #152 "IE vs Chrome"
Hi, I do most of my development in Chrome and everything has been going swimmingly, but it was brought to my attention that the same site on IE, the mask appears in the box but does not work correctly.  Entering a character in does not replace the mask.  To test go to the following URL in IE and choose phone number for the first step, then try to enter a phone number in.  The phone number in its e

[2013-01-04 22:29] RobinHerbots commented on #152
hi rusifald,

Grab the latest version from the 1.x branch.  The issue is already resolved.

Best regards,

Robin

[2013-01-04 22:29] #152 closed, assigned to RobinHerbots

[2013-01-04 22:44] RobinHerbots commented on #141
Hi,

The optional masks are implemented.  Maybe you can try to define your regex as a mask with optional parts.

Anyway I created a new milestone => version 2.3  to create a mask from a regular expression.  I don"t know if I can implement that, but it would be so incredible, if that would be possible, ...

[2013-01-08 14:47] somaghoshCU opened #153 "jQuery.inputmask and Firefox"
I am having an issue to get the jQuery.inputmask to work in Firefox. It works fine in Safari.

My field is masked as below:

$('.somefield').inputmask("9999999999");

In Firefox, the mask is shifted to the right as value is entered. A valid value cannot be entered without manually deleting the underscores.

Please advise!

[2013-01-08 15:57] RobinHerbots commented on #153
Hi,

Which version of the inputmask are you using?

best regards,

Robin

2013/1/8 somaghoshCU notifications@github.com

[2013-01-08 16:00] somaghoshCU commented on #153
Hi Robin,

I am using Version: 1.2.5.

Thanks,
Soma

From: Robin Herbots <notifications@github.com<mailto:notifications@github.com>>
Reply-To: "RobinHerbots/jquery.inputmask" <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, January 8, 2013 10:57 AM
To: "RobinHerbots/jquery.inputmask" <jquery.inputmask@noreply.github.com<mailto:jquery.inputmask@noreply.github.com>>
Cc: Soma Gh

[2013-01-08 19:08] somaghoshCU commented on #153
Hi Robin,

I have found the following error messages in the Firefox console:

Timestamp: 1/8/13 2:05:19 PM
Error: Error: useless setTimeout call (missing quotes around argument?)
Source File: http://localhost:8080/domain/template/js/jquery.inputmask.js
Line: 283

Hope that would provide some more insight.

Thanks,
Soma

From: Robin Herbots <notifications@github.com<mailto:notifications@github.com>

[2013-01-08 20:20] RobinHerbots commented on #153
Hi Soma,

Just grab the latest 1.2.6 (or the latest of the 2.x branch  if you want to use optionals in your mask).

This issue was already fixed ;-)

best regards,

Robin

[2013-01-09 14:20] somaghoshCU commented on #153
Hi Robin,

The below issue is not working fine.

However, I have another issue and if you can please advise. I have two optional masks as below:

$('.yearsinbus').inputmask("9[99]");

$('.realvalue').inputmask("9[9].99");

When I enter a partial amount, say 5 for the first one, it is not automatically clearing up the mask even if the clearMaskOnLostFocus is set to true by default.

Thanks much,

S

[2013-01-09 14:46] RobinHerbots commented on #153
Hi Soma,

Which version are you using?  the 1.x or 2.x?

best regards,

Robin

2013/1/9 somaghoshCU notifications@github.com

[2013-01-09 14:47] somaghoshCU commented on #153
Hi Robin,

I am now using 2.x.

Thanks,
Soma

From: Robin Herbots <notifications@github.com<mailto:notifications@github.com>>
Reply-To: "RobinHerbots/jquery.inputmask" <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, January 9, 2013 9:46 AM
To: "RobinHerbots/jquery.inputmask" <jquery.inputmask@noreply.github.com<mailto:jquery.inputmask@noreply.github.com>>
Cc: Soma Ghosh <m

[2013-01-09 21:48] RobinHerbots commented on #153
Hi Soma,

I fixed the issue for the clearoptionaltail.
You check with the latest 2.x version.

best regards,

Robin

[2013-01-09 21:48] #153 closed, assigned to RobinHerbots

[2013-01-10 19:39] #106 closed, assigned to nobody

[2013-01-10 20:34] RobinHerbots commented on #140
Event behavior is now the same as a normal input.

[2013-01-10 20:34] #140 closed, assigned to RobinHerbots

[2013-01-16 15:43] wildsurfer opened #154 "numeric input issue"
When I use current version from the repo, simple code

$("input").inputmask("decimal");

does not allow to input any digits (but placeholders are visible).

Old veriosn 1.2.4 works just perfect

[2013-01-17 10:23] RobinHerbots commented on #113
Hi fabricioferracioli,

The yearrange option is added in the date.extensions

best regards,

Robin

[2013-01-17 10:23] #113 closed, assigned to RobinHerbots

[2013-01-17 10:33] RobinHerbots commented on #154
Hi windsurfer,

Can you create an example on jsFiddle.   I tested with version 1.2.8 & 2.0.6 and on both version the decimal mask seems to work.  (besides the bugs already present before)

best regards,

Robin

[2013-01-17 12:29] wildsurfer commented on #154
http://jsfiddle.net/8TvjZ/1/

[2013-01-17 13:34] djtyroon commented on #154
I have the same issue http://jsfiddle.net/KW4qn/61/

[2013-01-17 19:24] greerd opened #155 "HELP"
I am using a barcode scanner that changes "*" (asterisk) to "/J".  I can't change the barcode scanner and I need the inputmask. What can I do?

[2013-01-18 08:32] RobinHerbots commented on #155
Hi greerd,

Can you give me the mask you are using?

So the barcode scanner replaces \* to 2 characters?  / and J  or does /J
represent one?  Isn't it \J?

best regards,

Robin

2013/1/17 greerd notifications@github.com

[2013-01-18 09:56] RobinHerbots commented on #154
Hi wildsurfer, djtyroon,

The issue is solved ;-)

Be aware that there are 2 branches of the inputmask now.  The 1.x branch is the original inputmask and the 2.x branch adds optional masks.

best regards

Robin

[2013-01-18 09:56] #154 closed, assigned to RobinHerbots

[2013-01-18 09:57] wildsurfer commented on #154
Thanks!

[2013-01-18 10:10] djtyroon commented on #154
Thanks

By the way Very nice script !

[2013-01-18 11:24] djtyroon opened #156 "Sneaky issue cursor error on backspace key"
jquery.inputmask 2.X lastest :

Hello, when you press more than max digit, the regexp stop next entries all right but on backspace the cursor don't take the right place for eg:

repeat: 13,  with group separator ' ' and groupSize: 3 and numeric extension js file edit :

'integer2': {
            regex: {
                number: function (groupSeparator, groupSize) { return new RegExp("\d\s*$"); }

[2013-01-18 11:33] RobinHerbots commented on #156
Hi djtyroon,

numerics are still buggy for the moment, but the next milestone is dedicated to full support for numerics.

I will look at the issue soon.

Thx for reporting!!

best regards,

Robin

[2013-01-18 11:39] RobinHerbots commented on #143
Hi mattblang,

There is a new alias datetime12 which should solve your issue ;-)

best regards,

Robin

[2013-01-18 11:39] #143 closed, assigned to RobinHerbots

[2013-01-18 13:10] djtyroon commented on #156
Thanks you too

[2013-01-18 21:03] fabricioferracioli commented on #113
Hello Robin.

Very good work man!

Thanks for your attention

On Thu, Jan 17, 2013 at 5:23 AM, Robin Herbots notifications@github.comwrote:

##

Fabrício Ferracioli
-- about.me/fabricioferracioli --
-- @fferracioli --

[2013-01-21 18:16] brunobg opened #157 "Method to check if field is validated"
I'm trying to integrate inputmask with https://github.com/Corollarium/validarium, but I'm not sure how to check if inputmask validated the field (i.e., all required characters were filled). Isn't there an easy way to do that? It seems that is what I want is onKeyValidation(), but with a method instead of a callback.

I suppose I should call isValid(), but it is not a trivial method to call. Any ti

[2013-01-22 08:57] #155 closed, assigned to nobody

[2013-01-22 08:59] RobinHerbots commented on #157
Hi Bruno,

Can't you use the oncomplete?

best regards,

Robin

[2013-01-22 18:08] brunobg commented on #157
Hi Robin,

I'd rather have some way to poll instead of using callbacks. Is there some way to call isComplete from the outside?

Thanks!

[2013-01-24 10:34] RobinHerbots commented on #157
Hi Bruno,

No there isn't but I will add it.

best regards,

Robin

2013/1/22 brunobg notifications@github.com

[2013-01-24 13:49] brunobg commented on #157
Thanks a lot!

[2013-01-24 14:33] RobinHerbots commented on #157
Can you test with the latest version.

   $('#blabla').inputmask('isComplete')

[2013-01-24 19:32] brunobg commented on #157
I tested and it is almost ok. It works if the field is complete, but if any optional fields are presented it returns false. Example: mask is 99[9]. If the field contains 123, isComplete returns true, but if it contains 12, it returns false, even though it should be true. Am I doing something wrong?

And thanks for the prompt help and patch!

[2013-01-24 21:19] RobinHerbots commented on #157
I will have a look at it.

[2013-01-27 08:36] RobinHerbots commented on #157
Hi Bruno,

I tested the 99[9] mask with branch 2.x and for me the isComplete is always correct.  Can you create a jsFiddle which shows the case.

best regards,

Robin

[2013-01-28 12:35] brunobg commented on #157
Hi, I tested now and it is working perfectly. Thanks a lot for your help!

[2013-01-28 13:48] brunobg opened #160 "Space to skip optional masks"
Hey Robin,

I thought that optional masks in the middle of the field were not working (say 9999[9]-9999), until I realized I had to type the next character after them ('-' in this case). It seems to me natural that a plain space ' ' should work as well. What do you think?

I tried to understand the code to send a patch, but it was not that easy :| I suppose it should be something in isValid(), but

[2013-01-28 15:10] RobinHerbots commented on #160
Hi Bruno,

I don't know if a space should be natural to indicate you want to skip the optional.  What if the mask itself contains a space?  The current implementation is: type what you need and the mask changes accordingly (if possible).

For a mask like 999[99]99 it is impossible to detect.  But you should write it like 99999[99].

Best regards

Robin

[2013-01-28 16:26] RobinHerbots opened #162 "create multiple mask functionality"

[2013-01-28 18:23] brunobg commented on #160
Got it. It doesn't make sense to read spaces by default, you are right. Is there any easy work around to support it in some cases, though? I did some informal tests here and space is what most people type.

[2013-01-28 18:39] brunobg commented on #157
Hi Robin! Sorry to reopen this, but there is something odd going on. I made a small example for you to test: http://jsfiddle.net/QRGpA/1/

If I fill the entire field with a valid input, then type backspace, there is an error. I also get an error after the 5th digit on the second part of the string. Can I bother you once again to check what is going on? Thanks!

[2013-01-28 22:09] RobinHerbots commented on #157
Hi Bruno,

No problem at all.

I think I know what is happening.

Every optional part is seen as a block.  What I mean  say mask 999[99]  123 = complete  1234 = incomplete 12345 = complete.

I will test the above optional mask for when it triggers complete and incomplete and verify if it is correct according what I describe above.

Maybe this is not the behavior you expected?

best regards,

Robin

[2013-01-29 12:01] RobinHerbots commented on #157
Hi Bruno,

I fixed the strange behavior for the 5th digit when entereing the mask.  The jsFiddle works now correct according my implementation but is not what you expected it tobe.

Best regards,

Robin

[2013-01-29 12:05] brunobg commented on #157
Ah, I see. what you describe is exactly the behavior I am getting. It makes complete sense.

So I suppose I can't have something like "a number from 5 to 8 digits", right? Something like 99999[9][9][9] won't work, and there is no way to know if 99999[999] is incomplete because the obligatory part is incomplete or because the optional part is incomplete. Or is there a way to tell these cases apart?

[2013-01-29 12:28] RobinHerbots commented on #157
for 99999[999]   12345 = complete 12345123 = complete

maybe the callback

 onKeyValidation: $.noop, //executes on every key-press with the result of
isValid

can help

You keep track once you recieve complete and all consequent valid
keystrokes you consider as complete.

 99999[9][9][9]  should work    12345 complete 123451 complete  ,...

what you need is a mask like this 9{5,8}  which would mea

[2013-01-29 13:52] RobinHerbots opened #163 "Create better support for nuget"
Optimize packages and automate builds with myget.  (to investigate any comments guides are welcome)

[2013-01-30 12:36] brunobg commented on #157
Thanks Robin! I found another way around: I use a regexp to help validate the input, in addition to isComplete. It is a bit extra work, but it works nicely to complement the information I can get from inputmask.
May I suggest for a future release to provide information of each block? Something similar to a regex match with grouping parentheses. It would be wonderful.
Thanks a lot for all your help

[2013-01-30 16:21] RobinHerbots commented on #160
Also see dicussion on https://github.com/RobinHerbots/jquery.inputmask/commit/40585abdcbcbacb84e249894f34910eec11562b3#commitcomment-2527148

[2013-02-01 10:36] RobinHerbots opened #164 "Show mask definition as tooltip of input (enable with option showTooltip)"

[2013-02-05 13:09] RobinHerbots commented on #160
Checkout the latest version in 2.x branch (skipOptionalPartCharacter)

By default i used the space

best regards
Robin

[2013-02-05 13:09] #160 closed, assigned to nobody

[2013-02-05 16:22] rafaeldl opened #168 "On submitting the page fields marked with autoUnmask going with the mask"
ex.:
$('#date').inputmask({ "mask": "d/m/y", 'autoUnmask' : true}); //  value: 23/03/1973

when submitted your value is '23/03/1973' instead of  '23031973'. It is a bug?

[2013-02-06 08:39] RobinHerbots commented on #168
Hi Rafael,

The autounmask works when you retrieve the value with jquery.val fn or if
the browser supports adjusting native properties it even works with the
javascript value property.

Firefox supports the autounmask with the value property.   For the submit
it will depend on how the values are retrieved by the browser.  Maybe you
can do a test when using firefox.  (feedback is welcome)

I never

[2013-02-08 16:01] hkb261 opened #169 "Input Mask OnComplete Issue"
When the last character of the mask does not accept an input from the user, the OnComplete event will never be raised.

For instance:

[code]

The last character is ')' which is not a user input.  In looking at the isComplete function, I noticed that you do not check whether the last character has a cardinality, therefore, ms["lastValidPosition"] will never equal to (aml-1).  To fix this I've adde

[2013-02-09 00:15] weiribao commented on #156
Hi Robin,

We use inputmask in our project and encounter this issue as well. I created a fiddle to reproduce the bug. Not sure wether it helps but I will put the link here: [http://jsfiddle.net/wrb302/Qejuk/](http://jsfiddle.net/wrb302/Qejuk/)

Thanks,

Bruce

[2013-02-11 08:21] RobinHerbots commented on #156
This issue is solbed but not committed, as I am further working on the
decimal mask.

I will commit it soon.

best regards,

Robin

2013/2/9 Bruce Wei notifications@github.com

[2013-02-11 08:23] RobinHerbots commented on #169
hi hkb261,

Thanks for bringing the issue up and the proposal solution.

I will fix this soon.

best regards,

Robin

2013/2/8 hkb261 notifications@github.com

[2013-02-11 14:33] Darkless012 commented on #169
Well I have discovered another issue in isComplete function. But haven't found solution yet.
When you have inputmask like:

[code]

the greedy option allow to style mask nicely(eg. display dashes in input), but oncomplete function is never fired (even with proposed fix).
I would assume that oncomplete will be fired 3 times (after every correct input)

[2013-02-11 15:38] RobinHerbots commented on #169
Hi Pavel,

What do you want to accomplish with this mask?

Your mask:

" 99:99-99:99 99:99-99:99 99:99-99:99"

" 99:99-99:99 99:99-99:99"

" 99:99-99:99"

"99:99-99:99 99:99-99:99 99:99-99:99"

"99:99-99:99 99:99-99:99"

"99:99-99:99"

And continue for the optional space left in and out

Is this correct?

I haven't fully tested the behavior of isComplete in combination with
the repeat and greedy o

[2013-02-11 15:49] Darkless012 commented on #169
Well, I'm doing intranet person attendance system. And they should fill the times they were present in company.
For simplicity I stated "9" instead of hours/mins.
It doesn't matter if the space is optional, " 99:99-99:99" is as good and repeat will never be more then lets say 5. But I want to color it with green color if they have filled the whole block (12:30-13:30).

If you can add more comments

[2013-02-11 16:07] RobinHerbots commented on #169
The current implementation sees the repeat and greedy false only complete
as the whole mask (mask x repeat) is complete.  Repeat is not equal to
optional.

I see what you want to accomplish, but this is not implemented.  The repeat
was more meaned for numerics.  9  with a repeat of something.  Triggering
complete for every integer you type is a bit too much.

But I like the idea, ... i will add an

[2013-02-12 08:04] anteksiler commented on #42
+1 from me too :)

[2013-02-12 13:21] vijaychandramadrone opened #170 "Not able to enter values for mask (9999 9999 9999 9999) credit card in Samsung S3."
Hi Robin,

[code]

I tried this  function too which is partially success.
$("input[name='card_accountNumber']").inputmask({ "mask": "9999 ", "repeat": 4,"greedy": false });
Here i am able to enter only 13 numbers cursor is not moving forward after that.

Pls help me to over come this.

Thanks
Vijay

[2013-02-12 14:03] RobinHerbots commented on #170
Hi Vijay,

Is there android running on the Samsung S3?  If so can you give me the
version of android and also the version of the plugin.

best regards,

Robin

2013/2/12 vijaychandramadrone notifications@github.com

[2013-02-13 05:45] vijaychandramadrone commented on #170
Hi Robin,

Thanks fr the fast reply.Below is the configuration asked by u
   Yes, my S3 is running on andriod.
   Version - 4.1.1
   Plugin Version is latest,downloaded from 1x branch of yours.

Robin  i think i made it work in my application with inputmask({"mask" : "9999 9999 9999 9999"});.
Actually problem is with me. In my html i have given maxsize="19" for the creditcard textbox .So when i m

[2013-02-13 09:12] RobinHerbots commented on #156
Hi,

The backspace issue is resolved.
@weiribao
I still have to look at the issues you mentioned in your jsFiddle.

I will fix that soon.

Best regards

Robin

[2013-02-13 09:13] RobinHerbots commented on #133
hi xicond,

The pre init value issue is fixed in the latest version.

best regards,

Robin

[2013-02-13 09:13] #133 closed, assigned to RobinHerbots

[2013-02-15 15:28] RobinHerbots commented on #156
Hi weiribao,

The issue in the jsfiddle are solved.

best regards,

Robin

[2013-02-15 15:34] RobinHerbots commented on #149
Hi Dan,

The issues about backspace, delete, cannot overtype in numerics is solved

Best regards,

Robin

[2013-02-15 15:34] #149 closed, assigned to RobinHerbots

[2013-02-15 20:11] castamir opened #171 "inputmask disallows another keydown events"
Inputmask is great visually, but disallows additional usage, then yours. Keydown function should be deactivable, or keystrokes should be nonstandard. E.g. byt using ctrl+your_keystroke. In my apps, home, end, pgdw, and pgup has totally different functionality, so I had to rewrite a lot of your code to even enable it.

Also other keystrokes are ignored (f1-f12), hell why? Your plugin looks great, b

[2013-02-15 21:24] RobinHerbots commented on #171
instead of criticism, ... what do you suggest?  Home, end pgdn, pgup behave
as on normal input elements,  Filling the date of today with crtl - right
arrow is only when using the date extension, ... and these extensions are
examples of what can be done, ... but if you need other behavior, ... don't
complain but adapt it to your needs.

I really don't like your attitude, ... what the plugin and ext

[2013-02-16 00:20] castamir commented on #171
I only wanted to say that your keydown rules are too strict, when they disallow another key to be pressed with different behaviour. My advice is: set all your additional keystrokes as optional or allow them to be disabled. Suppresing everything except what you use is really terrible way. Such change would by handy for many...

[2013-02-16 07:10] RobinHerbots commented on #171
Wjy didn't. you say so from the beginning. I shall see what I can do Best
regards, Robin
On Feb 16, 2013 1:20 AM, "Miroslav Paulík" notifications@github.com wrote:

[2013-02-19 07:44] ikawka opened #172 "number range mask?"
Hello is it possible to have mask number in range?
I have a text box that should limit users to 255.255.255.255 IP

thank you

[2013-02-19 07:47] ikawka commented on #42
+1

[2013-02-19 08:19] RobinHerbots commented on #172
Hello ikawka,

Yes you can ;-)

Just define some custom definition.

and use a mask like $(selector).inputmask("255.255.255.255 IP", {
definitions: {

[code]

or define an alias gor it

 $.extend($.inputmask.defaults.aliases, {

2013/2/19 ikawka notifications@github.com

[2013-02-19 08:43] RobinHerbots commented on #172
Oeps I was too fast and it is too early in the morning ;-)

This in de extensions should do it

 $.extend($.inputmask.defaults.aliases, {
 "ip": {
            mask: "i.i.i.i",
            definitions: {
                'i': {
                    validator: "[0-255]",
                    cardinality: 3,
                    prevalidator: [
                                { validator: "[0-2]", cardin

[2013-02-19 09:05] ikawka commented on #172
hello Robin, thank you so much, nice plugin by the way. I'm gonna try this.

[2013-02-19 09:12] RobinHerbots commented on #172
Hi ikawka,

I added the example in the jquery.inputmask.extensions.js, ... so grab the latest and use

$(selector).inputmask("ip");

best regards,
Robin

[2013-02-19 09:13] ikawka commented on #172
This one is almost flawless however it allowed me to input up to 299:

[code]

I don't get why because the 2nd validator clearly says 0-25

[2013-02-19 09:16] RobinHerbots commented on #171
Hi Castamir,

I removed the keydown event blocking.  Only for delete and backspace I use preventDefault but allow propagation.  This is needed to allow the delete, backspace functionality.

Can you give it a try and give some feedback.

best regards,

Robin

[2013-02-19 09:18] RobinHerbots commented on #42
Hi all,

About an email mask (alias).

How exactly should an email mask behave?   Visible with a template? _____@____.___ or just restrict on input and no visible feedback?  Ideas suggestions.

Robin

[2013-02-19 09:20] anteksiler commented on #42
Hi Robin, I think it should look search for a pattern like this : _@_.com

and should look like this at first: _@_._

So the user know that he has to fill in 3 places and the input should have an "@" sign in the middle.

[2013-02-19 09:22] RobinHerbots commented on #172
I see, ... strange, .... i will have a look

[2013-02-19 09:34] RobinHerbots commented on #172
offcourse the regex for the ip was not restictive enough, ... fixed, just grab the latest version

Robin

[2013-02-19 09:37] RobinHerbots commented on #42
Shouldn't it be better  _@_.___  where the first and middle underscore autoexpand until @ or . is pressed or a space to go the the next part (like in optional masks)

[2013-02-19 13:19] castamir commented on #171
Much better! I have one more question. Could you also allow TAB key and F1-F12 keys to have their default (browser) behavior? Everything else seems to be OK. Thank you.

[2013-02-19 13:47] RobinHerbots commented on #171
Hi Miroslav,

Can you be more specific about tab key and f1-f12.  f-keys aren't affected
by the plugin.  What is the problem with TAB?

Which browser do you use?  Can you make a jsFiddls which shows the problem.

best regards,

Robin

2013/2/19 Miroslav Paulík notifications@github.com

[2013-02-19 17:31] castamir commented on #171
In FF v18.0.2, when input with active inputmask is focused, keys TAB and F1-12 are ignored. Chrome works OK.

[2013-02-19 22:39] RobinHerbots opened #173 "Apply mask from data-inputmask attribute"

[2013-02-20 02:45] ikawka commented on #172
Tnx Robin, another thing on this particular mask might be considered is a non-greedy option per definition? so that
IPs like 10.10.10.12 for example can be a valid input as well...

[2013-02-20 04:35] williamthiago commented on #163
RobinHerbots,
I keep sending manually to nuget, sometimes late, but I trying to keep updated
anytime, I grant access to account if desired

[2013-02-20 08:41] RobinHerbots commented on #163
Hi William,

Wow, I can not expect you todo this every time.
Through myget you can automate this process but I haven't got the time to
investigate this further.

You may grant access to the account, ... once I handle issue 163 I can
start using it.

thank you,

Robin

2013/2/20 William Thiago notifications@github.com

[2013-02-20 08:44] RobinHerbots commented on #172
Good idea.  I will adjust the alias.

Robin

2013/2/20 ikawka notifications@github.com

[2013-02-20 15:00] RobinHerbots commented on #171
Hi Miroslav,

Can you retry with the latest version.

If there are other keys beside the tab or f-keys please let me know.

Best regards,

Robin

2013/2/19 Miroslav Paulík notifications@github.com

[2013-02-20 16:43] williamthiago commented on #163
Create an account on http://nuget.org/account/Register, then I will be able
to find your user and attach as owner.

[]s
William Thiago
65 9987-5138

On Wed, Feb 20, 2013 at 5:41 AM, Robin Herbots notifications@github.comwrote:

[2013-02-21 09:03] RobinHerbots commented on #171
I updated the ignorables keycodes, with other possible affected keys.

I any probs let me know.

Best regards,

Robin

[2013-02-21 09:03] #171 closed, assigned to nobody

[2013-02-21 09:42] RobinHerbots commented on #163
Done

2013/2/20 William Thiago notifications@github.com

[2013-02-21 10:01] devmondo commented on #173
hi,
awesome library, and i agree data-attribute is the way to go.

thanks in advanced.

[2013-02-21 13:59] RobinHerbots commented on #173
done

[2013-02-21 13:59] #173 closed, assigned to nobody

[2013-02-21 14:42] devmondo commented on #173
awesome thank you very much

[2013-02-21 20:32] RobinHerbots commented on #163
I will include the nuget building in the build script

[2013-02-22 16:44] elbweb opened #174 ".inputmask fails when passed a number"
If using `$().inputmask({mask: 99999})` the function will fail.

This is mostly an annoyance if using data- tags and jquery's `$.data('foo')` function to pull the tags (as it automatically converts strings to a number if valid).

This can easily be avoided by either calling `.toString()` afterwards, or using `$().attr('data-foo')` when retrieving the value, but it seems like this should be a usabl

[2013-02-22 18:20] weiribao commented on #156
Hi Robin,

Thanks for the fix. That was really fast!

It looks like there is still an issue when autoGroup is on. You can see it at the updated fiddle: [http://jsfiddle.net/Qejuk/5/](http://jsfiddle.net/Qejuk/5/)

[2013-02-22 22:12] RobinHerbots commented on #156
Hi Bruce,

I see it, ... that is because the delete does not retrigger the autogroup
function.

I will also fix this one.

Robin

2013/2/22 Bruce Wei notifications@github.com

[2013-02-22 22:13] RobinHerbots commented on #174
Hi elbweb,

I will fix this soon.

best regards,

Robin

2013/2/22 elbweb notifications@github.com

[2013-02-23 01:40] cgamache commented on #169
+1 here. The "hh:mm t" preset suffers from this problem also.

[2013-02-25 10:12] RobinHerbots commented on #156
Hi weiribao,

This is fixed in the latest version.

Best regards,

Robin

[2013-02-25 10:12] #156 closed, assigned to RobinHerbots

[2013-02-25 10:28] djtyroon commented on #156
Thanks Robin, my first issue is fixed.

Best,

[2013-02-25 17:10] cosm1c commented on #121
This issue has resurfaced in the current version.

Users cannot enter a minus sign as the first character when entering a negative value.

[2013-02-25 18:06] RobinHerbots commented on #121
I will fix this asap.
Robin

[2013-02-26 10:22] PeerkeII opened #175 "Set upper case for characters and numeric input"
I read that it is possible to uppercase characters with the input mask. When using the "A" in the mask the character will then uppercase on typing. But on the same position in the input, it is possible to enter a numeric or a character, how should the mask look like when I want to uppercase the character?

[2013-02-26 11:27] RobinHerbots commented on #175
I added a new definition in the extentions.js.

Just use $(selector).inputmask("#####");

Best regards,

Robin

[2013-02-26 11:27] #175 closed, assigned to nobody

[2013-02-26 12:18] cosm1c opened #176 "IE8 error: Object doesn't support this property or method"
In IE8, line 38 of jquery.inputmask.numeric.extensions.js fails due to the buffer being an object and not a string, and therefore not providing the indexOf method.

[2013-02-26 12:41] RobinHerbots commented on #121
done

[2013-02-26 12:41] #121 closed, assigned to nobody

[2013-02-26 16:21] ghost opened #177 "Bug with number mask (99 999 999)"
Hi,

First, thanks for this awesome plugin, it's very useful.
However, i got an issue. When I try to create a mask (99 999 999), I can't get it work. Actually, I can type 7 numbers only...
For instance, please see http://jsfiddle.net/UQLWL/

Can you help me please ?

Thanks !

Olivier

[2013-02-26 20:03] RobinHerbots commented on #176
Grrr ie8  ;-)

Fixed!

Best regards,

Robin

[2013-02-26 20:06] RobinHerbots commented on #177
I will have a look at it.

best regards,

Robin

[2013-02-27 09:06] RobinHerbots commented on #177
Hi Olivier,

The issue is fixed.

best regards,

Robin

[2013-02-27 09:06] #177 closed, assigned to RobinHerbots

[2013-02-27 09:10] ghost commented on #177
Thanks a lot !

Regards,

Olivier

[2013-02-27 10:58] RobinHerbots commented on #174
done

[2013-02-27 10:58] #174 closed, assigned to nobody

[2013-02-27 11:18] RobinHerbots commented on #98
This is fixed but can be confusing sometimes, ..

ex with decimal alias and autoGroup true maxlength 4

This only allows 3 numbers as the autoformatiing will apply formatting as of the fourth number 1234 => 1,234 not allowed as the maxlength is 4.

But I will add something like maxnumericlength

best regards,

Robin

[2013-02-27 11:18] #98 closed, assigned to RobinHerbots

[2013-02-27 15:59] castamir commented on #171
Sorry for delayed answer. New version works perfectly. Thanks a lot.

[2013-02-27 16:14] RobinHerbots opened #178 "investigate jquery metadata for plugins"

[2013-02-28 01:11] arnaldodg opened #179 "Bootstrap datepicker conflict"
Hi... nice component =]

I found an issue with the bootstrap-datepicker:

<div class="input-append date datepicker" id="" data-date-format="dd/mm/yyyy" data-date-language="br">
  <input class="span10" type="text" value="" id="data" >
  <span class="add-on"><i class="icon-th"></i></span>
</div>

When used together the inputmask causes the page to freeze on getting focus =/
I even tried with showMas

[2013-02-28 08:06] anteksiler opened #180 "Currency mask"
Hi there,

I would like the mask to add commas to numbers to represent currencies, for example:

If the user enters 1000, it should be converted to 1,000

and the user enters 1000000, it should be converted to 1,000,000

Is this possible?

[2013-02-28 08:17] anteksiler commented on #180
I tried using:

[code]

but it literally displays "decimal" on the input :D

[2013-02-28 08:26] RobinHerbots commented on #179
Hi Arnaldo,

Can you make a jsFiddle which shows the problem.

Then I will have a look at it,

Best regards,

Robin

2013/2/28 arnaldodg notifications@github.com

[2013-02-28 08:32] RobinHerbots commented on #180
Hi Ant,

This should do it:
    $('#inputId').inputmask("decimal", { autoGroup: true });

Btw don't forget to include the numeric.extensions.

best regards,

Robin

2013/2/28 Ant Eksiler notifications@github.com

[2013-02-28 10:05] anteksiler commented on #180
Thanks for the help Robin.

[2013-02-28 10:05] #180 closed, assigned to nobody

[2013-02-28 13:32] senthilksp opened #181 "<input type= "number" is not working if the field is having any masking like ("999/999/999") in chorme Versions only."

[2013-02-28 13:54] arnaldodg commented on #179
Hi Robin =]

I am a newbie in this jsFiddle/GitHub world.
Can you point me a jsF of your own that includes the inputmask component so I can fork it?

Cheers,

AD

[2013-02-28 17:57] jmackay commented on #163
Robin, first let me say excellent job!

This is a great tool and has helped us out a lot.

I was having an issue with the leading 0 and notice it was fixed the other day, how often do you update the nuget packages?

[2013-02-28 18:59] williamthiago commented on #163
jmackay,

I`m updating when Robin change version on jquery.inputmask.js (current
2.1.1c), but, Im ignoring minor changes (letters on version).
Next release will be updated when Robin change to 2.1.2.

I can change this behavior, what do you think about Robin?

On Thu, Feb 28, 2013 at 2:57 PM, jmackay notifications@github.com wrote:

[2013-03-01 08:36] RobinHerbots commented on #163
I just added a new nuget package in the dist folder.  (William can you put this on nuget.  Thx)

The current setup isn't ideal as the 2.x and 1.x branches are both dev branches,... and so for the moment also the nuget packages.

I suggest to only push to nuget as I put a new nuget package in the dist folder.  I gonna create new dev branches for current dev.  And push to the 1.x and 2.x when there

[2013-03-01 08:40] RobinHerbots commented on #179
No problem ;-)

http://jsfiddle.net/V3KFh/

Robin

[2013-03-01 08:41] RobinHerbots commented on #181
Hi,

I guess because type-"number" expects a number while the mask and placeholder are not real numbers.
Why do you use type="number"?

best regards,

Robin

[2013-03-01 10:29] RobinHerbots commented on #163
I already added the current on nuget .

Changed the content a bit to include the minified files, ... also changed the paths a bit, ...

[2013-03-01 10:30] RobinHerbots commented on #163
@williamthiago
I will put the updates on nuget in the future.  Thx for your help on this.

Robin

[2013-03-01 11:15] senthilksp commented on #181
Hi Robin,

I am very happy for your quick reply. Thanks a lot.

I have defined input type="number" because when I am running my application in anroid versions (4.0 and above), I want to show numeric keypad alone.

If I define input type="text", then samsung s3 gave me some problems like the keypad is jumping between number pad and character pad.  To avoid this difficulty, I am defining as input ty

[2013-03-01 12:09] williamthiago commented on #163
Its ok :D

If you need my help, just shout "fire!"

[]s
William Thiago
65 9987-5138

On Fri, Mar 1, 2013 at 7:30 AM, Robin Herbots notifications@github.comwrote:

[2013-03-01 13:27] RobinHerbots commented on #181
I will have a look at it.

[2013-03-01 14:50] arnaldodg commented on #179
Hi Robin.

Finally I managed to gets thing in a JsF =]

http://jsfiddle.net/arnaldodg/Ajhbg/34/

I hope this is useful for this investigation o.O

Cheers

Arnaldo

[2013-03-01 14:58] RobinHerbots commented on #179
@arnaldodg

In which browser do you have the problem?

[2013-03-01 15:03] RobinHerbots commented on #163
nuget building in the buildscript.

Is there a nuget builder for Linux?

[2013-03-01 15:04] arnaldodg commented on #179
I have only tested with Chrome v 21.0.1180.89
Can test with FF, but the mainstream env will be Chrome for sure (enterprise directives).

[2013-03-01 16:50] williamthiago commented on #163
I dont know =/

I find this project.. maybe....
https://github.com/monoman/NugetCracker/wiki/NugetCracker-Project

On Fri, Mar 1, 2013 at 12:03 PM, Robin Herbots notifications@github.comwrote:

[2013-03-04 15:14] RobinHerbots commented on #179
I don't see the problem.  I tested the jsfiddle in Chrome 25.0.1364.97

[2013-03-04 15:15] RobinHerbots commented on #178
Added manifest file + register to jquery plugin rigistry

[2013-03-04 15:15] #178 closed, assigned to nobody

[2013-03-04 22:02] RobinHerbots commented on #163
Adding the nuget building in the buildscript is sufficient.  There is no need for myGet which can automate the building.  Seems that the nuget.exe also works with mono.

Maybe I need to adapt the package to include mono as a target if needed.

[2013-03-05 11:04] maheshkamalakannan opened #182 ""numeric-input-direction" mentioned in ReadMe section is not working"
Hi Robin,

We were using your old version of jquery.inputmask.js which use '.browser' object. Since we have upgraded to jQuery-1.9.1.js where '.browser' object was deprecated, we were facing errors with the old version of jquery.inputmask.js. We have resolved this by upgrading to the recent version (v2.1) of jquery.inputmask.js.

But the mask for currency value which was working in older version o

[2013-03-05 11:38] RobinHerbots commented on #182
Which version do you use exactly? I will verify this evening. V2.1.2 should word or take v1.3.4 from the 1.x branch
Best regards
Robin

[2013-03-05 13:02] RobinHerbots commented on #182
You have to type the digit character to jump to the decimal part

[2013-03-05 13:41] maheshkamalakannan commented on #182
Hi Robin,
Thanks for the reply.
We are currently using v2.1.2. We tested in v1.3.4 and is not working in that too, same symptom is observed.

In earlier version when the numeric= true is set, the mask will place the cursor at the last position once the field get the focus. But now the cursor is positioned before the decimal point and also not allowing to enter more than one digit character before

[2013-03-05 14:01] maheshkamalakannan commented on #182
The below script is working fine.

$("#payAmount").inputmask("decimal", { radixPoint: ".", autoGroup: true, groupSeparator: ",", groupSize: 3, digits: 2 });

But we would like to have the mask pattern shown to the user with the decimal point, for which we may need to use:

$('#payAmount').inputmask('9,999.99', { numericInput: true });

[2013-03-05 22:04] RobinHerbots commented on #182
Hi @maheshkamalakannan ,

The latest 1.3.5 or 2.1.3 should fix the problem.

You can also specify a radixPoint so the caret will first jump before the decimal (radix) point.  This allow you more to type as you pronounce a decimal nummer, ....  10 point 2  you type 10.2 and not 102

best regards,

Robin

[2013-03-05 22:04] #182 closed, assigned to RobinHerbots

[2013-03-06 13:13] maheshkamalakannan commented on #182
Thanks Robin. We have tested it in 2.1.3 and is working fine as expected.

[2013-03-07 01:02] fdan4824 opened #183 "Show mask on keydown instead of on focus?"
We have a situation where we are using "Over Labels." We are showing the field name inside the text input field. The problem is that when you click into field, the label disappears making it difficult to know which field you are in.

So, we found a solution to only have the label disappear on the first key stroke. The problem is that the input mask is showing up on focus and so until a key is pres

[2013-03-07 09:43] RobinHerbots commented on #183
Hi Dan,
Can you make a jsfiddle which demostrates the problem.
Best regards
Robin

[2013-03-07 22:35] RobinHerbots commented on #183
Hi @fdan4824,

I think adding an option ShowMaskOnFocus is what you need.  I can add this which will be true by default, so I don't break the current behavior.  Putting it to false will not show the mask unless you type a valid char for the mask.

best regards,

Robin

[2013-03-07 22:40] RobinHerbots commented on #179
Indeed the whole browsers freezes when you apply the date alias.

I will try to find the cause

Robin

[2013-03-07 22:45] fdan4824 commented on #183
That sounds awesome. I apologize for the in responding and creating a
JSFiddle, but I am buried right now.

Thanks for your quick response!

Dan Fontenot

On Thu, Mar 7, 2013 at 4:35 PM, Robin Herbots notifications@github.comwrote:

[2013-03-07 22:46] arnaldodg commented on #179
Hi Robin,

Sorry for being away for so long. My job is trying to kill me =]

Anyhow I must thank yo for your kind attention.
I hope I can help you with tests here.

Let me know...

Cheers,

Arnaldo

[2013-03-07 22:49] RobinHerbots commented on #179
Hi @arnaldodg,

The datepicker can't deal with the placeholder dd/mm/yyyy.  This should be fixed in the datepickers code.

If you apply this mask with the basic placeholder it works

$('#simpleInput').inputmask('date',  { placeholder: "_"}); // Simple input as DatePicker
$('#compInput').inputmask('date', { placeholder: "_"}); // As component

http://jsfiddle.net/Ajhbg/36/

best regards,

Robin

[2013-03-07 22:49] #179 closed, assigned to nobody

[2013-03-10 10:10] RobinHerbots commented on #183
@fdan4824 ,

The latest version in the dist folder (2.1.4) contains the showMaskOnFocus.  (see also updated readme.)

In your case set showMaskOnFocus and showMaskOnHover to false.

best regards,

Robin

[2013-03-12 00:16] fdan4824 commented on #183
I am not sure if I should respond to the closed issue or open a new issue. This now works great when clicking into a field. However, when tabbing into field, the mask still shows up.

Thanks,
Dan

[2013-03-12 08:33] RobinHerbots commented on #183
Ow missed that one, ... I will submit the fix today

best regards,

Robin

2013/3/12 fdan4824 notifications@github.com

[2013-03-12 09:03] RobinHerbots commented on #183
fixed ;-)

[2013-03-12 12:59] #183 closed, assigned to RobinHerbots

[2013-03-12 15:33] RobinHerbots commented on #96
I will not add a numericlength property but I will change the masklength that it doesn't take the groupseparator into account.

[2013-03-12 23:21] klzns opened #185 "Problem with decimal mask and radix point"
The first time I type the radixPoint in a decimal input it doesn't let me type any digits after the radixPoint.
I had to clear the radixPoint, type it again, and then type the decimals.

[2013-03-13 06:14] RobinHerbots commented on #185
Hi Breno,

Can you specify the version you use and if there are any options given to
the mask.  In which browser did you test this.

best regards,

Robin

2013/3/13 Breno Calazans notifications@github.com

[2013-03-13 13:04] klzns commented on #185
Hi, Robin,

I'm using Google Chrome; the inputmask version is 2.1.3 and I'm using like follow:

[code]

I'll update the plugin to see if it solves it self! If not, I'll let you know.

Thanks in advance,

Breno Calazans

[2013-03-13 13:09] RobinHerbots commented on #185
Hi Breno,

Partially, ...there is some other issue in the decimal alias concerning the
radixpoint.

As soon that is fixed, I let you know.

Best regards,

Robin

2013/3/13 Breno Calazans notifications@github.com

[2013-03-13 13:44] klzns commented on #185
Robin, for my issue, the update solved fine, thanks!

[2013-03-13 20:28] anteksiler opened #186 "Not working on Android"
Have you guys tested it?

I tried it on a friend's phone, and the mask was not working.

[2013-03-13 22:04] RobinHerbots commented on #186
@anteksiler ,

I have tested it on android about a year ago and haven't tested again since then ;-)

I will verify the plugin an android soon as there are other issues opened for Android.

Can you specify the version of android, ...

Robin

[2013-03-14 16:35] pedrofurla opened #187 "Documentation: main distribution and extensions"
The README doesn't make it very clear what should be downloaded for using the main .js and the extensions one.

The file in the dist/ dir contains .bundle extension, and the referred one in doc doesn't contain such extensions. There are three files in the js/ directory containing 'extension', which is a bit confusing.

[2013-03-18 10:09] ddesm59520 commented on #185
Hi all,
I have some problems with the numerics Mask and negative mask. Withnumerics I can use my numkeybord point and when i use standard mask with negative like .inputmask('-999,99', { numericInput: true }); mask usage goes wrong. it align on left and if there was 50,50 it goes to -0505,0. I use some javascript to update mask on the fly from negative and not. I do prefer using numerics but I can'

[2013-03-18 18:43] arielrz opened #188 "ClearOnLostFocus Not Working"
Hi Robin, first... Excellent Job !!!!!!
And now the problems... ;-)
May be I'm doing some wrong, but try and try and didnt find anything wrong...
With the following setting, I think that the mask must clear on change textbox focus, but not... I typed 1234.5, correctly the textbox show me $ _1,234.5_ I think that when I press TAB the textbox must show 1,234.5 or $ 1234.5 or 12345, but not still sho

[2013-03-19 08:36] RobinHerbots commented on #185
@ddesm59520 ,
In which browser do you test it?  I tested the negative mask and it works fine here.  But what you describe is what you get when a javascript error has occurred.  Can you make a jsFiddle which shows the problem?

best regards,

Robin

[2013-03-19 08:52] RobinHerbots commented on #188
@arielrz ,
The clearMaskOnLostFocus, only removes the mask when nothing is entered.  Ex for date removes dd/mm/yyyy when losing focus, nothing more.

To have what you describe above you need to remove the mask on blut.

best regards,

Robin

[2013-03-19 08:52] #188 closed, assigned to nobody

[2013-03-19 09:08] ddesm59520 commented on #185
HI Robin,
 I am testing in IE10 (9 and 8 too) with jquery 1.7 in an aspx context in a override by a user control already existing. I custum it to use your jquery.input mask instead of eworld maskedtextbox.
I can send you a test project and the two classes which use jquery.inputmask and which I have put in a dll -> DomotiTools.
Do you agree this?

Thanks for your help.

Met vriendelijke groeten, |

[2013-03-19 09:27] RobinHerbots commented on #185
Hi David,

Can you send a demo project in a zip.

best regards,

Robin

2013/3/19 ddesm59520 notifications@github.com

[2013-03-19 09:35] ddesm59520 commented on #185
Yes of course you have it, it is the .RAR
Maybe the antivir has delete it, I will resend it you with an asup at end, you will have to remove it.
Thx

[2013-03-19 11:44] RobinHerbots commented on #96
The latest now takes the groupîng and radix character into account.

[2013-03-19 11:44] #96 closed, assigned to RobinHerbots

[2013-03-19 11:52] #185 closed, assigned to nobody

[2013-03-19 15:01] arielrz commented on #188
Thanks !!! I'm do that.

[2013-03-19 23:55] vanomania opened #189 "autoUnmask drops 9's from the unmasked numeric value"
Similar to the [README](https://github.com/RobinHerbots/jquery.inputmask#set-a-value-and-apply-mask) example:

[code]

Entering a value of '5559973087' properly renders the input field as (555) 997-3087, but the alert renders the value as '55573087'

![input-field](https://f.cloud.github.com/assets/3915102/278703/203e9e0c-90f0-11e2-950e-a379c419c731.png)

![alert](https://f.cloud.github.com/assets

[2013-03-20 09:02] RobinHerbots commented on #189
@vanomania ,

I will fix this asap.

best regards,

Robin

[2013-03-20 10:14] RobinHerbots commented on #189
@vanomania ,

The latest version fixes the issue.  Although specifying a placeholder the same as the mask can give strange results.

The optionals will not be cleared when not filled in as the 9999 from the placeholder are valid inputs for the mask.

best regards

Robin

[2013-03-20 10:15] #189 closed, assigned to RobinHerbots

[2013-03-20 10:15] RobinHerbots commented on #187
@pedrofurla ,

I will update the readme. (a bit)

best regards,
Robin

[2013-03-20 15:52] gustavohenke opened #190 "Bower support"
Hey,
What do you think about supporting [Bower](http://twitter.github.com/bower/)? It's getting very popular, would be nice that jquery.inputmask were there too.

Thanks in advance :)

[2013-03-20 16:45] RobinHerbots commented on #190
@gustavohenke ,

Great idea, thx for the tip.

[2013-03-20 17:01] jameslouiz opened #191 "Editing value after oncomplete fired cursor position"
I have an input using '99/99/9999' as my mask.

When I fill in the field with for example: 19/03/9991

and then delete a number and end up with 19/03/991_

and then try to add a number to the end it will not let me so trying to make it 19/03/9911 will not work..

Its like in order to put a character back in you need to go back to where you took one out otherwise it becomes locked until you delete

[2013-03-20 20:24] espeiorin commented on #186
@RobinHerbots I've tested on Android 4.2.2 and Android 2.3.4 in the default browser and in both inputmask doesn't work.

[2013-03-20 20:26] espeiorin commented on #181
@senthilksp @RobinHerbots doesn't matter if you use input type="number", "text" or "tel", in android's default browser input mask will not work. If there's any thing I can do to help, please, let me know.

[2013-03-20 21:07] RobinHerbots commented on #191
@jameslouiz ,

Can you provide a full example as I cannot reproduce the problem.

best regards,

Robin

[2013-03-20 22:28] RobinHerbots commented on #186
@anteksiler , @xorna ,

Can you specify which mask you used to test.  I just did a quick try of the date-alias in the sdk android emulator.

Version 4.2.2 and it seems ok.

[2013-03-20 22:38] RobinHerbots commented on #186
hmm, ... when i use hardware keyboard present in the options it works, but if not and using the soft-keyboard, the caret positioning goes wrong, ... jumps to the last, ...  repositioning it to another position renables input

[2013-03-20 22:55] vanomania commented on #189
@RobinHerbots the 9 is still getting dropped with the latest,  but changing the placeholder to x's worked.  thanks!

[2013-03-20 23:59] vanomania commented on #168
@rafaeldl @RobinHerbots I just noticed the same issue.  My workaround was to mask a dummy field and then update the value in an onchange()

[code]

[2013-03-21 08:56] RobinHerbots commented on #189
Are you sure you took the latest version?  Cleared the browser cache.

Can you create a jsFiddle which shows the problem.

best regards,

Robin

2013/3/20 vanomania notifications@github.com

[2013-03-21 08:58] RobinHerbots commented on #189
I updated the code but didn't update the version, ... so maybe try again
with the latest version

2013/3/21 Robin Herbots robin.herbots@gmail.com

[2013-03-21 10:16] jameslouiz commented on #191
Hi,

Ive created a js fiddle:
http://jsfiddle.net/AEQ6Q/

And also, this screencast might help:
http://www.screenr.com/DCb7

Thanks, James

[2013-03-21 12:01] RobinHerbots commented on #191
Hmm, ... what is the problem with that?  It is intentional that you can
only type characters when the caret is positioned at a correct position.
 There is no pushing of chars.

When using delete or backspace the caret is placed at the correct position.

best regards,

Robin

2013/3/21 jameslouiz notifications@github.com

[2013-03-21 12:28] jameslouiz commented on #191
Hi,

On further testing if you delete a character, for example the 3rd from the end, and the place the caret at the end and try to enter a character it does not work, event if you press the backspace.

cheers, James

[2013-03-21 12:44] RobinHerbots commented on #191
and if you set the caret position on the _ position?

2013/3/21 jameslouiz notifications@github.com

[2013-03-21 12:45] espeiorin commented on #186
@RobinHerbots Sorry, but you are right, the exception is the caret repositioning issue, but it's just an another Android annoyance, the mask is just working fine. I figured it out by removing some scripts that validate the values on keyup event. Many thanks

[2013-03-21 13:13] espeiorin commented on #186
@RobinHerbots funny, but it works only on Android 2.3 Galaxy Y, on Galaxy SIII and Galaxy Nexus, both with Android 4.2, the mask didn't work, I'm trying to get more information in tests here.

[2013-03-21 13:18] RobinHerbots commented on #186
Version 2.3, ... is handled by the plugin, ... and the ugly fix wasn't
needed for above, ... seems that the same issues comes back with some
android versions.

I need a reliable caretpositioning for android, ... has someone some more
documentation on this?  I will do some further testing in the emulators

btw entering about:debug to enable the extra options in the settings is
really helpfull, ...

[2013-03-21 14:33] lmiguelmh opened #192 "Character inserted via AltGraph or Ctrl+Alt ignores mask validation"
Any characters inserted with this keys like Ctrl+Alt+E (euro sign) or Ctrl+Alt+Q (arroba) are ignored by the mask validator (including the max length). A workaround may be:

[code]

But I am not sure if this is the right way. BTW I am using a Latin American Spanish keyboard layout.
Miguel.

[2013-03-21 14:56] jameslouiz commented on #191
The same occurs. You click on the and and it move the cart to in front of the _ which is normal but doesn't let you type.

[2013-03-21 15:04] RobinHerbots commented on #191
Which browser are you testing in?  and which OS?

2013/3/21 jameslouiz notifications@github.com

[2013-03-21 15:08] RobinHerbots commented on #192
Hi Miguel,

Yes indeed, i will fix that.

best regards,

Robin

2013/3/21 lmiguelmh notifications@github.com

[2013-03-21 15:22] jameslouiz commented on #191
Chroms, firefox, IE 7/8/9 -  windows 7. All my colleagues experience the same issue also

[2013-03-21 15:35] RobinHerbots commented on #191
huh?  I just tested you jsFiddle in chrome on windows 7  so typing 12345678
 then I delete say 8 and enter 9 then I delete 6 and enter 4, ... no
problem.  How is that possible

2013/3/21 jameslouiz notifications@github.com

[2013-03-21 15:36] RobinHerbots commented on #191
http://jsfiddle.net/AEQ6Q/1/

[2013-03-21 15:38] jameslouiz commented on #191
Okay try this:

type 11/11/1234

Blur

Delete 2

Blur

Then try and type again.

[2013-03-21 15:40] RobinHerbots commented on #191
By delete 2 what do you mean, ... delete the 2 or delete 2 characters?

[2013-03-21 15:41] jameslouiz commented on #191
Delete the number 2

[2013-03-21 15:42] RobinHerbots commented on #191
hmm that works without problem, ... but I noticed when deleting say 2 an 3 with a selection then blur, refocus, the caret jumps to the end, ... this should be better at the first open position

[2013-03-21 15:43] RobinHerbots commented on #191
which version do you use of the mask, ... use the versions from the dist folder

[2013-03-21 15:54] lmiguelmh opened #193 "Shift+Home doesn't work"
The combination of keys Shift+Home does not work as expected (making a selection).
Best regards,
Miguel

[2013-03-21 15:55] RobinHerbots commented on #186
can someone have a quick test when replacing the caret fn in the inputmask with

[code]

[2013-03-21 16:05] jameslouiz commented on #191
Im using the very latest version. Yes the caret jumping to the end could be root of this issue but did you notice how you cannot type after refocusing?

[2013-03-21 16:12] RobinHerbots commented on #191
no, ...

[2013-03-21 16:18] RobinHerbots commented on #191
do you want to be able to overtype?

[2013-03-21 16:38] jameslouiz commented on #191
Ideally yes. I'm using this plugin on a very large Loan provider and this is used on the applications page. They get literally 1000's of applications a day and if something can 'break' it will and no doubt there will be people, albeit dump people, but people who cannot complete the application. I'm not sure of a work around so your input is greatly appreciated..

[2013-03-21 17:34] espeiorin commented on #186
@RobinHerbots tested in Galaxy SIII and didn't work :/ I will keep trying

[2013-03-21 20:51] RobinHerbots commented on #191
@jameslouiz ,

try the insertMode: false as option in the mask

[2013-03-21 23:52] Treyphor commented on #28
I'm on android version 4.2.2 and still having issues with the input mask. It seems to work until I try and hit backspace. It appears to delete what's there but when I go to type something else it puts back all the stuff I deleted. Does anyone know a way to make it work?

[2013-03-21 23:56] Treyphor commented on #186
I've tested some input masks on my nexus 7 version 4.2.2 using the chrome browser and the input masks appear to work, until you hit backspace. It appears to delete things but when you go to type something in again it puts all the deleted characters back.

[2013-03-22 01:37] gustavohenke commented on #190
Thanks :)

[2013-03-22 08:38] RobinHerbots commented on #186
@Treyphor - thx for the feedback

@xorna ,

Can you have another try but put the code below in comments in jquery.inputmask.js

  if (android) {
                var browser = navigator.userAgent.match(/mobile safari.*/i);
                var version = parseInt(new RegExp(/[0-9]+/).exec(browser));
                android = version <= 533;
            }

[2013-03-22 16:05] WaltDaniels opened #195 "Decimal mask drops digits"
When using this mask on an input:

$(".currencyfield").inputmask('decimal', { digits: 2 });

each time you tab into, then out of the input control the left-most digit is stripped off.  This only happens if you've type a decimal point in the number.

[2013-03-22 18:23] Treyphor commented on #186
You're welcome. Have you seen that problem before? Any idea where I might start looking to try and fix it? Our company is finishing up a web app and we're hoping we don't have to remove the masking for android. It's like the mask doesn't update when the back button is pushed on android. I'm willing to help figure this out if you have things you want me to test or any ideas to try. Thanks! This plu

[2013-03-22 18:42] Treyphor commented on #186
Very strange.. I just tried an older version of the chrome android app and the masking appeared to work as it's supposed to. Updated to newest version and it's broken again. So I'm sure your stuff is working great and it's just something chrome is doing bad. Hopefully this one resolves itself, but in the mean time I'll be trying to find a workaround.

[2013-03-22 19:26] Treyphor commented on #186
I modified a fiddle to demonstrate the problem: http://jsfiddle.net/Qejuk/12/ It also doesn't reformat where the comma goes on backspace on android, which I see you fixed in another ticket for normal browsers so I think the problem is whatever google changed between browser versions has made it so the backspace button on their keyboard isn't firing the keydown, keyup, or whatever event you're usin

[2013-03-22 19:26] RobinHerbots commented on #186
I wrote an ungly patch for android 2.3.x  chrome browser version 533, but thought it wouldn't be needed on higher versions.

Can you retry with the latest version. (just committed).

The plugin should work only when deleting the last character the caret skips one position, but keeps working.  I will try to find a solution for that.  Caret positioning in Android is really not reliable.  Why can't t

[2013-03-22 20:00] Treyphor commented on #186
The issue still looks like it's there, but I only had a second to test it as I'm leaving work in a couple minutes. I'll have to look into it more next week. I'll probably try to hook it to my computer to do some remote debugging to find out what's going on. I'll keep you posted on what I find. I also submitted a bug report to google to see if they have anything to say about it (probably not).

Yea

[2013-03-22 22:15] RobinHerbots commented on #186
@Treyphor , @anteksiler , @xorna ,

I did some further testing in the emulator and figured out that the keydown event is not triggered when you set a selection where the begin and end isn't equal.  So as workaround, I make them always equal and that brings the inputmask alive in the emulator ;-)

I guess there should exist another fn to set the caret then setSelectionRange, selectionStart, selecti

[2013-03-22 22:16] RobinHerbots commented on #195
@WaltDaniels ,

I didn't occur on Chromium, in browser did you test it?

Best regards,

Robin

[2013-03-22 22:36] Treyphor commented on #186
Awesome, I will test it first thing Monday when I get into work. Thank you for looking into it so quickly :)

[2013-03-23 20:50] lmiguelmh opened #196 "Can't insert characters with combinations of keys [End] / [Home]"
Well, in an input text with any mask:
1.  Press any key ('a').
2.  Press [Home].
3.  Press any key ('a').
4.  Press [End].
5.  Repeat from step 1 again.

This behaviour varies with _placeholder=""_, or _insertmode=false_, being more evident with _placeholder=""_ and insertmode off (without).

[2013-03-24 21:46] RobinHerbots commented on #196
@lmiguelmh,

Thx for the feedback!

I will fix these issues soon.

Best regards,

Robin

[2013-03-25 12:38] RobinHerbots commented on #187
@pedrofurla,

I updated the readme in the usage section.

You may always contribute to the readme or get started in the wiki pages.

best regards,

Robin

[2013-03-25 12:38] #187 closed, assigned to RobinHerbots

[2013-03-25 13:11] espeiorin commented on #186
@RobinHerbots I updated here, but at Galaxy Nexus and Galaxy SIII (both Android 4.2) still not works. I'll teste more later.

[2013-03-25 13:20] RobinHerbots commented on #186
@xorna ,

Can you give me the mask you are testing on and also send me the useragent string you get from the Nexus and SIII

Best regards,

Robin

[2013-03-25 13:22] WaltDaniels commented on #195
Robin,

I am using Chrome, Version 25.0.1364.172 m.  I notice that if I use the mouse to loose focus, the number is unchanged, however when I leave the input control via the "TAB" key, the leftmost digit is stripped.  ex: the number entered "123.45" becomes "23.45".  I see where this is occurring (in the onKeyDown function), but am hesitant to make changes since I don't fully understand the logic.

[2013-03-25 14:57] RobinHerbots commented on #195
fixed in the latest version

Robin

[2013-03-25 14:57] #195 closed, assigned to RobinHerbots

[2013-03-25 16:23] Treyphor commented on #186
@RobinHerbots,

Just tested again on my Nexus 7. Looks like it's still not working.

useragent string from Nexus 7: "Mozilla/5.0 (Linux; Android 4.2.2; Nexus 7 Build/JDQ39) AppleWebKit/537.22 (KHTML, like Gecko) Chrome/25.0.1364.169 Safari/537.22"

Mask I'm testing with:
$(this).inputmask("9999999", { "placeholder": " " }).on("keypress", function (e) {
        limitToNumbers(e);
      });

Let me

[2013-03-25 16:33] RobinHerbots commented on #186
@Treyphor,

Canyou do a little test.  Just replace in the jquery.inputmask.js the 534 with 537 (android version detection) and have a retry

Robin

[2013-03-25 16:42] Treyphor commented on #186
@RobinHerbots,

I changed it, cleared cache and everything and it's still doing the same thing. Maybe I changed it in the wrong place? I changed line 87 from: android534 = (533 < version <= 534); to: android534 = (533 < version <= 537);

I just put some breakpoints into the keydown, keyup, and keypress functions to see if anything happens when I press the back button. No break points are hit when

[2013-03-25 17:15] RobinHerbots commented on #186
Maybe the input event?

[2013-03-25 17:17] espeiorin commented on #186
@RobinHerbots My masks:

$('#nocartao').inputmask({mask: "9999 9999 9999 9999", greedy : false, autoUnmask : true});
$('#mesvencimento').inputmask({mask: "99", greedy : false, autoUnmask : true});
$('#anovencimento').inputmask({mask: "99", greedy : false, autoUnmask : true});

User agents
Galaxy SIII
Mozilla/5.0 (Linux; U; Android 4.1.2; pt-br; GT-I9300 Build/JZO54K) AppleWebKit/534.30 (KHTML, lik

[2013-03-25 17:57] WaltDaniels commented on #195
Hey Robin, thanks for the quick turnaround.  I'm using NuGet to manage this package, and I see that it was updated today (3/25) however the version is 2.1.8.  According to the source here on GitHub we should be at 2.1.12.  Should I just use the GitHub files and not use NuGet?  Thanks again!

[2013-03-25 19:36] RobinHerbots commented on #195
@WaltDaniels ,

The new packages are available on nuget.

Robin

[2013-03-25 19:40] RobinHerbots commented on #186
@Treyphor ,

So to summarize.  What is working and what is not.

@xorna,

Why do you use the greedy option if you do not set a repeat?

[2013-03-25 19:46] Treyphor commented on #186
@RobinHerbots,

The input mask is working as long as I never hit backspace. As soon as I hit backspace things start to mess up. After all my testing I've been doing though I don't think it's a problem with your stuff. It's a problem with the android keyboard backspace button not firing any events, which I'm currently trying to work around. I'll let you know if I find anything. I don't know why goo

[2013-03-25 19:59] espeiorin commented on #186
@RobinHerbots you're right, I changed the masks and forgot to remove it. I'll test without greedy. Thanks

[2013-03-25 21:56] williamthiago commented on #163
Robin,
I saw that you already comfortable with deploy to nuget. You can remove my user from owners list if desired, using this link https://nuget.org/packages/jQuery.InputMask/2.1.12/ManagePackageOwners

good job ;)

[2013-03-26 10:47] RobinHerbots commented on #163
@williamthiago , ok done

[2013-03-26 19:21] #163 closed, assigned to nobody

[2013-03-31 23:13] RobinHerbots commented on #170
@vijaychandramadrone ,

Can you retry with the latest version of the inputmask

Robin

[2013-03-31 23:14] RobinHerbots commented on #186
@anteksiler @xorna @Treyphor

Can someone give it another try with the latest version of the plugin.

Backspace should work correctly.

Robin

[2013-04-01 09:17] owen26 opened #198 "Chinese / Japanese characters are unable to mask"
I am trying to get a input field masked with Japanese mobile phone number format. It's straight forward if the input only contains 0-9 numeric characters. But the problem is it's quite common to use full-width numeric characters  ０－９in Japan and China, which are unable to be masked.

Also when I input full-width characters, the existing placeholders are pushing to the right hand side, which I thin

[2013-04-01 16:01] Treyphor commented on #186
It's still adding characters back after deleting them. I've worked around the problem I was having on android by creating new inputs with javascript on document ready for each input I need masked. Then I hide the original masked input and only show the javascript created one that isn't masked. This allows me to use input types to get the correct numeric keyboard to show up. Then when they blur out

[2013-04-01 22:20] RobinHerbots commented on #186
Hmm, it worked well in the emulator on andrlid 4.2.2

Can someone donate some android devices to test with?

:)

[2013-04-01 22:36] RobinHerbots commented on #198
Hi,

How can I input full-width chinese characters on a belgian keyboard?  Can you send the console output after typing such character.
Best regards,
Robin

[2013-04-02 10:52] owen26 commented on #198
not sure how to check the console output. although there is no error displayed in firebug.

![image](https://f.cloud.github.com/assets/385786/327813/3efa1202-9b83-11e2-9bee-c64d10f8d176.png)
![image](https://f.cloud.github.com/assets/385786/327818/51b2f760-9b83-11e2-99af-2e6f8caf0263.png)
![image](https://f.cloud.github.com/assets/385786/327821/61f023fa-9b83-11e2-9b97-36780ffbc2bc.png)
![image](ht

[2013-04-02 15:01] WaltDaniels commented on #163
Robin, how often is the NuGet version refreshed?  Are we better off pulling directly from github, or is there something that can be done to automate the NuGet repo?

Thanks for a great plugin!

[2013-04-02 19:49] RobinHerbots commented on #163
Hi Walt,

On github you always find the latest version, the new features, bugfixes,
... instable code sometimes.

Nuget is updated when I feel it is necessary.  When I think the plugin is
stable  ;-)  So it depends what you want

Thx for the compliment.  The plugin is the result of the feedback and ideas
of the cummunity!!

I still need to implement the e-mail mask, ... but I only will do it when

[2013-04-02 19:51] RobinHerbots commented on #198
Is the 3th one the one with the wide - characters?

How do you type such characters?  I have to google it I gues ;-)

[2013-04-02 19:52] RobinHerbots commented on #186
Can someone test the plugin on android 4.2.2  (real device - no emulator)

thx

[2013-04-02 21:48] Treyphor commented on #186
I got the version that says it was updated 2 days ago and still having the same problems. Also noticed the same problem in internet explorer 10 when you hit the little 'x' that microsoft decided to put in each text field. Hitting the 'x' erases the textbox contents, but when you type again it brings all the deleted stuff back.

[2013-04-02 22:55] RobinHerbots commented on #186
There is a new fix for android 2.3.x which should fix the backspace behavior.

Tested android 2.3.3, 3.0, 4.0, 4.2.1, 4.2.2 in the emulator and besides the damn keyboard who is switching all the time the backspace is working.

@Treyphor ,  can you create a new issue for IE10  (thx)

[2013-04-02 22:56] RobinHerbots commented on #170
see issue 186.  Should be fixed now

[2013-04-02 22:56] #170 closed, assigned to RobinHerbots

[2013-04-03 00:38] sompylasar commented on #163
For email masks and the like, maybe use an alternate regex engine to be able to run partial regex matches and control the matching process? One of these is https://github.com/eriksank/alt-regex-engine but you may find a better alternative.

[2013-04-03 05:46] RobinHerbots commented on #42
=>    $(selector).inputmask("_{1,20}@_{1,20}.*{3}")

[2013-04-03 05:49] #28 closed, assigned to RobinHerbots

[2013-04-03 05:50] RobinHerbots commented on #75
see issue 186

[2013-04-03 05:50] #75 closed, assigned to RobinHerbots

[2013-04-03 14:51] Treyphor opened #199 "IE10 Input Mask Problem"
In IE 10 they've added a little 'x' to the textbox you're typing in that will clear out the data. If you use this 'x' on a masked field and then type again it puts all the deleted characters back.

[2013-04-05 06:39] RobinHerbots commented on #193
@lmiguelmh ,

The issue with the Shift+Home is fixed.

Thx for the notice!

Best regards,

Robin

[2013-04-05 06:39] #193 closed, assigned to RobinHerbots

[2013-04-05 08:07] RobinHerbots commented on #192
@lmiguelmh ,

Also fixed.

regards,

Robin

[2013-04-07 06:15] #53 closed, assigned to nobody

[2013-04-08 14:52] RaphaelDDL commented on #42
Better this one, no?
=> $(selector).inputmask("_{1,20}@_{1,20}._{3}[._{2}]")

Since there are e-mails from country TLDs like 'something@example.com.br'

[2013-04-08 15:41] RobinHerbots commented on #42
Yes, .... indeed ;-) , ....

2013/4/8 RaphaelDDL notifications@github.com

[2013-04-09 01:20] jimithing277 opened #200 "Year portion on date mask not prefilling correctly"
Just upgraded to the latest version (was previously using version 1.2.2) and noticed that the behavior of entering the year in a date mask has a very undesirable behavior.

Specifically, when entering the following key sequence:

4213

In the previous version this would automatically fill in to show '04/02/2013'.  However, in the current version this now shows as '04/02/103y'.

Is this intentional

[2013-04-09 07:40] RobinHerbots commented on #200
@jimithing277 ,

I totally agree, ... this is not desirable, I will fix this asap.

best regards,

Robin

[2013-04-09 12:27] jimithing277 commented on #200
Robin, that's great news!  Thank you for the prompt reply!

[2013-04-09 12:28] RobinHerbots commented on #200
@jimithing277 ,

Fixed in the latest version.  (both branches 1.x & 2.x)

[2013-04-09 12:28] #200 closed, assigned to RobinHerbots

[2013-04-09 17:56] WaltDaniels opened #201 "Non-conforming initial values"
I have a situation where I am unable to pre-format the initial values for my <input> controls.  I would like to apply a 2-digit decimal mask (below). However, the improperly formatted initial values are being truncated.  In the example below, the initial value of "205.6400" gets truncated to "05.64".  Is there a pre-mask event that I can tie in to, or can the inputmask correctly fix-up numeric val

[2013-04-09 19:44] RobinHerbots commented on #162
need to update the readme

[2013-04-09 19:45] RobinHerbots commented on #201
@WaltDaniels ,

I will have a look at it.

Robin

[2013-04-10 08:51] RobinHerbots commented on #162
done

[2013-04-10 08:51] #162 closed, assigned to RobinHerbots

[2013-04-10 08:54] RobinHerbots opened #202 "Add support for "Dynamic" masks"
Allow non-greedy repeatable parts within a mask.

[2013-04-10 10:01] RobinHerbots opened #203 "Make right alignment for numericInput optional"

[2013-04-10 11:53] RobinHerbots commented on #203
done

[2013-04-10 11:53] #203 closed, assigned to nobody

[2013-04-11 07:39] owen26 commented on #198
Yes the 3rd one is the one with "full-width" wide characters.

I think if you don't mind, you can install a chinese or japanese input method from your OS and have a test with it. Both windows and mac provide built-in support for those input methods.

[2013-04-11 12:51] RobinHerbots commented on #198
@owen26 ,

I will try that.

Robin

[2013-04-11 14:18] rafaelvasco opened #204 "Paste Problem"
Paste only works if i select everything first with Ctrl-A or by mouse. Why is this ?

[2013-04-11 15:09] RobinHerbots commented on #204
@rafaelvasco ,

Can you give a bit more information as I don't have the problem.

Browser, mask, version of hte inputmask

best regards,

Robin

[2013-04-11 16:40] rafaelvasco commented on #204
Browser: Chrome 26
Mask: AA-AAA-9999/99999-A[99]
Version: 2.2.1

I'll keep investigating. Could be some other jquery lirary conflicting too don't know.

[2013-04-11 17:04] rafaelvasco commented on #204
Found the problem. It was on my side. There's no problem with your plugin which by the way is really great. Thanks

[2013-04-11 17:04] #204 closed, assigned to nobody

[2013-04-11 20:43] WaltDaniels opened #205 "Date masked input with readonly attribute."
If you add the "readonly" attribute to an input field that has a date mask, the tab-key no longer allows you to exit the input field, the user gets "stuck" in the field and has to move to the next field using the mouse.  I tried this in Chrome and IE9.

[2013-04-11 20:57] RobinHerbots opened #206 "tMask with multiple optional parts like x[y[z]].x[y[z]].x[y[z]].x[y[z]] not working"

[2013-04-11 20:58] RobinHerbots commented on #172
see issue 206

[2013-04-11 20:58] #172 closed, assigned to RobinHerbots

[2013-04-11 20:59] #36 closed, assigned to nobody

[2013-04-12 07:59] RobinHerbots commented on #201
@WaltDaniels ,

Fixed, I will publish the update on nuget later.

best regards,

Robin

[2013-04-12 07:59] #201 closed, assigned to nobody

[2013-04-12 08:28] RobinHerbots opened #207 "Who is still using version 1.x of the inputmask?"
Hi all (who is interested ;-) )

Is there someone who still uses version 1.x of the inputmask?  If so is there a special reason for it?  Is there a need for further development for the 1.x branch or do you just keep using it because it does what you need for your project(s)?

I want to make the 1.x branch final, as-is and continue only on the 2.x branch.

[2013-04-12 12:24] WaltDaniels commented on #207
Finalize it ... not used here.

[2013-04-12 14:36] rafaelvasco opened #208 "Auto clear mask on left over characters"
If i have a mask say, 99/99/99 in this state 99/**/** how to , when i blur the input, clear everything and leave 99 ? Looked over and over at docs and couldn't find an option to it. Thanks.

[2013-04-12 14:52] RobinHerbots commented on #208
@rafaelvasco ,

There is no option for it, ... you can remove the mask on blur and reapply on focus

Robin

[2013-04-12 15:43] rafaelvasco commented on #208
By remove you mean calling a predefined command or manually removing ?

[2013-04-12 16:07] WaltDaniels commented on #201
Thanks Robin, works great!

[2013-04-12 19:46] MCodeKitty commented on #42
Great plugin - replacing Bush plugin for me as well.

+1 for me too!

[2013-04-14 19:10] RobinHerbots commented on #208
@rafaelvasco ,

Yes,   $(selector).inputmask('remove'); => on blur and on focus you apply the mask

best regards,

Robin

[2013-04-14 19:57] RobinHerbots commented on #42
@MCodeKitty ,

Thx for the compliment and that you like the inputmask plugin :-)

Best regards,

Robin

[2013-04-14 19:59] RobinHerbots commented on #207
@WaltDaniels ,

I don't have patience to wait further reactions.  1.x is final, ... let's concentratte on 2.x !!

Robin

[2013-04-14 19:59] #207 closed, assigned to nobody

[2013-04-15 13:42] ychumak opened #209 "The long text doesn't scroll"
I have a long text input control, let say 'size=50'. When the text has reach the control's right side while I keep typing the it is not scrolling. So I don't see how my text is entering.

[2013-04-15 17:44] michaelwatkins commented on #42
Great plugin!  I tried $(selector).inputmask("_{1,20}@_{1,20}._{3}[._{2}]") for email without success.  The mask appeared in the textbox as _{1,20}@_{1,20}._{3}._{2}.  Any suggestions?  Thank you.

[2013-04-16 19:20] dehy opened #210 "masks in the numeric extension can't unmask"
$('#field').inputmask('decimal');
$('#field').inputmask('unmaskedvalue'); <== trigger an error

Example : http://jsfiddle.net/xZmVQ/2/

[2013-04-16 21:29] RobinHerbots commented on #42
@michaelwatkins ,

That's because this functionality still has to be developed ;-)

[2013-04-16 21:35] RobinHerbots commented on #210
I will have a look at it.

Robin

[2013-04-17 10:28] dehy commented on #210
The exact error is on line 1997 of `jquery.inputmask.bundle.js` v2.2.2

Thank you and thanks for your jquery plugin ! :)

[2013-04-17 18:55] gabbaca opened #211 "Multiple masks not working correctly on international phone and US phone numbers"
When trying to mask a us phone and an international phone, the mask always defaults to the US phone.

[code]

For example when typing +011 99 99 9999-9999 masks to 011-999-9999 x99

Here is demo http://jsfiddle.net/XzeSY/1/

[2013-04-17 22:21] RobinHerbots commented on #211
@gabbaca ,

I noticed the same issue when trying the mask in issue 205.
I will try to fix it asap.

best regards
Robin

[2013-04-18 08:31] RobinHerbots commented on #210
@dehy,

The latest fixes the error, but the unmaking isn't type aware for the moment.

Robin

[2013-04-18 08:35] RobinHerbots commented on #211
@gabbaca,

The latest version fixes the issue.

But I still need to fix when you type +01231 and you backspace to the beginning, the mask does not switch back to the first mask, .... selecting all and backspace works

I wil fix the backspace issue soon

Robin

[2013-04-18 08:36] RobinHerbots commented on #164
done

[2013-04-18 08:36] #164 closed, assigned to nobody