[2014-12-13 06:52] oroalej commented on #764
I just use the jquery.inputmask.bundle.min.js instead of jquery.inputmask.js

[2014-12-14 07:30] oroalej commented on #764
@RobinHerbots. i have a question
i have this input mask.. mask: '99-999-999';
when the user input less than 8 numbers and focusout the textbox. the value will vanish. how can i fix this??

[2014-12-14 10:02] RobinHerbots commented on #764
Can you give some additional info because that is unexpected.

[2014-12-14 10:04] RobinHerbots commented on #765
Android support is still experimental.

[2014-12-14 10:09] RobinHerbots commented on #767
In firefox your binding will work correctly because firefox allows for patching the native value property. Use jquery.val to clear the value or trigger thz setval event after clearing the value with the value property.

[2014-12-14 20:35] FilipeZhou opened #768 "Problems with numeric inputmask"
Hi,

I used the following mask for my input (Tested on the latest version).

[code]

First I noted that with default options where {radixPoint: ".", groupSeparator: ",", autoGroup: true}, the mask function does not work correctly. For example, if I set "10000" or "10000.00" to my input which comes from my database, the masked value is "100.00".

Then when I used {radixPoint: ",", groupSeparator: "

[2014-12-15 03:56] sjk07 opened #769 "pasting value into currency mask results in incorrect value"
trying to paste a value such as $123.22 into an input results in $1230.22

try it here:
http://jsfiddle.net/sefhsoqd/

[2014-12-15 09:19] adam-resdiary commented on #767
Thanks for the reply. Just so I can figure out how to sort this properly, is this an issue with the inputmask library, or is it a Chrome or knockout problem?

I can't easily use jquery.val to clear the value because the point of using knockout is that I don't have to access the input itself from my VM - I just update a Javascript object and knockout deals with setting its value.

I'll take a look

[2014-12-15 13:55] RobinHerbots commented on #769
@sjk07 ,

I will fix this asap

[2014-12-15 14:06] RobinHerbots commented on #764
@oroalej ,

Did you specify the clearincomplete option?

Otherwise see http://jsfiddle.net/sefhsoqd/2/

[2014-12-15 14:25] MaurersMake opened #770 "Latitude Longitude mask help"
I am trying to create masks for Latitude and Longitude and I am stuck.  I can get the standard masks to work like N 45.1234 and W 83.1234.

Problem ultimately comes with the Longitude mask.  Longitude can be 3 digits to left of decimal so normally they are entered like W 083.1234.  I'd like the mask to adjust if possible so that a user can enter W 83.1234 and have it be ok OR have the user enter W

[2014-12-15 14:44] MaurersMake commented on #770
Figured it out ...

$("#Longitude").inputmask({
                mask: "E|W99[9].999",
                definitions: {
                    "E": {
                        validator: "[eE]",
                        cardinality: 1,
                        casing: "upper"
                    },
                    "W": {
                        validator: "[wW]",
                        cardinality: 1,

[2014-12-15 14:44] #770 closed, assigned to nobody

[2014-12-15 14:53] RobinHerbots commented on #767
@adam-resdiary ,

The problem is when you set the value through the native value property AND it is not allowed by the browser to patch that property, the inputmask isn't aware of the change.  If you cannot set the value by jquery.val the best solution is to raise the setvalue.inputmask event.

[2014-12-15 14:57] RobinHerbots commented on #766
@adam-resdiary ,

The reason was to bring it more inline with other packaging systems like npm and bower.
I see not much advantage in including the version in the name of the files.  You can always verify the version by nuget or by opening the file.

I updated the readme

[2014-12-15 15:03] adam-resdiary commented on #766
That's fair enough - I think there's a small issue with the build you might wanna fix though. Looks like the version number isn't being set:

![image](https://cloud.githubusercontent.com/assets/4849264/5437868/73c1c70a-846b-11e4-89de-b9d94af0fd1b.png)

[2014-12-15 15:03] adam-resdiary commented on #766
Sorry for not mentioning that before - I just assumed it was intentional at first. Stupid of me.

[2014-12-15 15:07] adam-resdiary commented on #767
Ok. Thanks.

[2014-12-15 15:15] RobinHerbots commented on #766
@adam-resdiary ,

You need to use the files in the dist folder.  Or are those coming from the nuget package?

[2014-12-15 15:17] RobinHerbots commented on #766
@adam-resdiary ,

You are right.  The version is missing.  I will update the build for nuget

[2014-12-15 15:19] adam-resdiary commented on #766
No worries.

[2014-12-15 15:28] RobinHerbots commented on #766
@adam-resdiary ,

The is e new nuget package available with version in the files , .. all those systems  ;-)

[2014-12-15 15:28] #766 closed, assigned to RobinHerbots

[2014-12-15 17:45] sjk07 commented on #769
@RobinHerbots
Awesome, works like a charm =]
Thanks for the quick fix

[2014-12-15 18:19] FilipeZhou commented on #769
Actually, I think that numbers with mask "999.99" have been fixed when pasting into currency mask.
But I tested with numbers like "1000" or "1000.00" and got "100.00". I think that something strange occurs when using autoGroup active to mask.

[2014-12-15 19:16] sjk07 opened #771 "pasting email into email mask incorrect formatting"
When trying to paste an email (ex. beer@run.com) the result shows up as beer@run.com__ and invalidates

fiddle:
http://jsfiddle.net/2dkjbywa/1/

The paste does work as expected if the entrie mask _@_ is highlighted

[2014-12-15 19:26] egucciar opened #772 "input mask shows decimal even if digitsOptional is true, if integerDigits are set"
Please look into/resolve this issue with the inputmask if the only difference between the two is that integerDigits are being set. Left - shows decimal point. Right - does not.

http://jsfiddle.net/35Lrkcno/

[2014-12-15 20:26] sjk07 opened #773 "If alias used and (showMaskOnFocus: false) mask will show when typing"
When setting both `showMaskOnHover: false`, `showMaskOnFocus: false` and using an alias the mask will still show when typing. But, it works correctly if you use the `{mask: "99999"}` property

Fiddle me:
http://jsfiddle.net/1ft2whbz/1/

Edit:
maybe i was wrong about it working with the mask property?
http://jsfiddle.net/1ft2whbz/3/

[2014-12-15 21:00] burakkilic opened #774 "How can I get the decimal currency value without dollar sign?"
Hi;

I have the following code:

http://jsfiddle.net/8Jpdd/241/

When I get the value, I am getting the dollar sign. How can I get rid of the currency sign and only get the decimal value?

[2014-12-15 21:05] sjk07 commented on #774
All you have to do is add `prefix: ""` to the options.

http://jsfiddle.net/yvfaLb4c/1/

[2014-12-16 12:43] RobinHerbots commented on #772
@egucciar ,

I will have a look.

[2014-12-16 13:13] dehaaneric opened #775 "[Numeric] Automatic overwrite after radix point"
Hi,
I'm wondering if it's possible to automaticly overwrite existing digits that are behind the radix point.

For example, start situation:
€ 1.000.000,|00

When typing, the '00' wil be overwritten:
€ 1.000.000,12|

Now, with the default setup, I need to press delete two times.
$(myselector).inputmask("decimal", { radixPoint: ",", autoGroup: true, groupSeparator: ".", groupSize: 3, digits: 2 });

[2014-12-16 14:27] RobinHerbots commented on #775
@tweek82 ,

You press the insert button to switch to overwrite mode or set the digitsOptional to false.  Best used when the placeholder set to "0"

[2014-12-17 10:15] zhenyong opened #776 "never trigger 'input' event when paste after invoke inputmask"
before invoke inputmask method, I bind 'input' event to <input> element, and it always has response when I paste (ctrl+v / context menu). After invoke inputmask method, it never respond when paste.

[2014-12-17 11:25] zhenyong commented on #776
I temporarily fix it by checking the old value and new value during 'paste' and 'keydown-delete'

[code]

[2014-12-17 12:48] liammcsheffrey opened #777 "Validating that a full date is entered"

[2014-12-17 16:19] egucciar commented on #772
@RobinHerbots Thank you

[2014-12-17 16:21] valix85 opened #778 "Regex fot time HH:MM 24Hours"
Hello i try to to a mask for hour format but i can't able to use regex.
i try to instances this component with this line:

$("#time_apertura").inputmask({"mask":"99:99","regex":"^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"});
mask work fine, but regex don't work.
can you help me to solve my problem? in next time you could add this issue in documentation.

thank you very much
Valerio Radice
Valix85

[2014-12-17 16:23] harvinder83 opened #779 "Currency Mask issue with mulitple of 10 or 100 values"
Add mask to textbox with value 20,000.00. it converts textbox the value to $ 20.00

$(".input-currency").inputmask("currency");

[2014-12-18 10:46] #777 closed, assigned to nobody

[2014-12-18 13:02] tomaj-miszczu opened #780 "When two masks specified backspace clears the whole input instead of last char"
Hello,
when I specify two alternative masks for an input, like this:
[code]
and then enter "123 45" into the input and the press backspace the whole input is being cleared instead of just wiping the last digit.

I tried also version with one mask containing optional part, defined like this:
[code]
but then the inputmask pattern is visible for the whole time despite of having the showMaskOnHover an

[2014-12-18 14:13] RobinHerbots commented on #780
@tomaj-miszczu ,

I will have a look at the first.  For the second you need to add the greedy: false option.

[2014-12-18 14:17] ghost commented on #780
Thanks! About the second thing - already did that. Maybe I didn't describe the issue precisely enough. The thing is that the masking template (doesn't matter which one) is visible since the page loads in the input and it shouldn't because it's defined so in the config.

BTW great work with this plugin!

[2014-12-18 14:19] RobinHerbots commented on #778
@valix85 ,

If you want to use a regex then you need to use the regex extension.  But in that case you do not have a visual mask.

Better use the hh:mm alias.
$("#time_apertura").inputmask("hh:mm");

[2014-12-18 14:24] RobinHerbots commented on #779
@harvinder83 ,

Fixed in the next release

[2014-12-18 14:24] #779 closed, assigned to nobody

[2014-12-18 14:28] RobinHerbots commented on #773
@sjk07 ,

If you don't want a visible mask also when you start typing, set the placeholder to "" or use the regex alias

[2014-12-18 14:30] RobinHerbots commented on #780
@tomaj-miszczu ,

Thx.

And has the input focus at that moment?  Can you make a jsfiddle to make it more clear what you mean.

[2014-12-18 14:34] RobinHerbots commented on #776
@zhenyong,

I will see what I can do.

[2014-12-18 14:35] #767 closed, assigned to nobody

[2014-12-18 14:40] ghost commented on #780
Nope it's not focused. Of course, here's jsfiddle for that issue: http://jsfiddle.net/sskr5qoa/

[2014-12-18 15:16] RobinHerbots commented on #772
@egucciar ,

Just put the greedy option to false.

See http://jsfiddle.net/35Lrkcno/1/

[2014-12-18 15:16] #772 closed, assigned to RobinHerbots

[2014-12-18 15:18] RobinHerbots commented on #780
@tomaj-miszczu ,

Thx for the fiddle. I will have a look.

[2014-12-18 16:13] mouratos66 commented on #610
Hello,
I think that this kind of feature should be switchable (maybe through use of a flag?)  and IMHO all such extensions should be switchable (for example, typing 4444 on a field with "date" input mask, would result to a date of 04/04/2044, but such functionality should be enabled on request and not automatically).

Is there something that can be done on this matter ?

Thanks for your excellent

[2014-12-18 16:45] egucciar commented on #772
@RobinHerbots thanks, I'll do that. But why would the decimal show for one and not the other even when both are greedy:true?

[2014-12-18 17:12] webmastervinay opened #782 "input mask on modal window not working"
Hello,

I was trying to add input mask on modal window. Modal window is loaded after the page is rendered. Validation is working. But data-mask not. Something wrong?

[2014-12-18 18:28] RobinHerbots commented on #772
That is because the second mask is infinite and the greedy option is ignored in that case. In the first mask all integers are allocared, but due that the placeholder is empty it is not visible. When you specify a placeholder it will be more clear what I mean. Best is ro specify the greedy falde.

[2014-12-18 19:11] RobinHerbots commented on #782
You need to call inputmask again to enable it on the new added fields. I chose this approuch to leave the dev the freedom of how to implement and integrate.

[2014-12-18 19:41] RobinHerbots commented on #610
@mouratos66 ,

Nothing prevents you from not using the date alias and just use 99/99/9999 as mask or d/m/y.
I don't now about the 4444.  What should you prever as result in that case?

[2014-12-18 19:59] mouratos66 commented on #610
In the former case, if one uses 99/99/9999 the date validations will have to be manually performed.

In the case of 4444, in my opinion, there should be a flag forcing the input to be exact, i.e. for a "date" (which if I am not mistaken is an alias of "dd/mm/yyyy" anyway) the input should forcibly be 04042044 unless a "shorthand" flag is enabled (to permit typing 4444 and getting 04/04/2044).

Thi

[2014-12-18 20:17] RobinHerbots commented on #772
@egucciar ,

Why don't you use the currency alias?

[2014-12-18 21:12] egucciar commented on #772
@RobinHerbots i'll check out the currency alias...I'm just picking up this code after someone else had implemented it...so I'm not sure why it is done this way

[2014-12-18 21:21] iliakan opened #783 "Failing to enter 30/09 date"
See the video http://screencast.com/t/PZx5JdVsM8Xb
I'm trying to enter 30.

[2014-12-18 23:44] RobinHerbots commented on #783
@iliakan ,

I will have a look at it.

[2014-12-19 01:06] valix85 commented on #778
Thank you for your reply, tomorrow i try it.
it's possible have an example that use same regex indicate in my regex?
i don't understand if you use a standard regex or if you use your property sintax regex...

thanks

[2014-12-19 10:13] RobinHerbots commented on #778
$("#time_apertura").inputmask({"alias":"Regex","regex":"^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"});

[2014-12-19 10:18] valix85 commented on #778
Ok thank you very much. Your method work fine than my regex ;)

Issue close.

[2014-12-19 10:18] #778 closed, assigned to nobody

[2014-12-19 10:19] RobinHerbots commented on #610
@mouratos66 ,

Hmm, yes, ... I can understand want you mean.  Just curious, do you have a real use case currently that requires the "strict" mode?

I'm planning to review (rewrite) the date aliases, So depending if your need is now I can add a quickfix or otherwise wait until the refactoring.

[2014-12-19 10:31] RobinHerbots commented on #771
@sjk07 ,

Fixed in the latest version 3.1.49

[2014-12-19 10:31] #771 closed, assigned to RobinHerbots

[2014-12-19 11:07] webmastervinay commented on #782
Can you please help me where i am doing wrong...i put below code in the modal windows as well as in the main file

[code]

[2014-12-19 11:08] mouratos66 commented on #610
Robin, in fact I do have the business people nagging me about this because their data entry people complained that there were (thankfully not that many) cases when they input the wrong thing (especially when inadvertently pressing the "3" numeric key twice without noticing).

Insofar as development cycles go though, I leave it entirely up to you. It would be helpful to have it sooner rather than l

[2014-12-19 12:03] TiGR opened #784 "Always show mask"
Currently mask appears only onfocus or onhover. I couldn't find nothing about this neither in docs, in code or in issues. Is it possible to make mask be visible constantly?

[2014-12-19 12:13] RobinHerbots commented on #782
@webmastervinay ,

In you main page, not the model do something like.

[code]

This initializes the inputmask onload of the page and after each ajaxrequest (loading your modal)

[2014-12-19 12:35] RobinHerbots commented on #784
@TiGR ,

Set the clearMaskOnLostFocus: false option

[2014-12-19 13:05] TiGR commented on #784
Thanks, that works as supposed to.

[2014-12-19 13:05] #784 closed, assigned to nobody

[2014-12-19 15:52] webmastervinay commented on #782
thanks a lot author!!! you saved a lot of time of mine!!!

[2014-12-19 15:52] #782 closed, assigned to nobody

[2014-12-19 16:53] ThomStilwill opened #785 "change event not firing"
I am using version 3.1.44.  I am finding that the change event is not firing on my masked fields.

$(".decimal-mask").inputmask("decimal", { greedy: true, digits: 2 });
$(".int-mask").inputmask("integer", { greedy: true });

$("#someinput").on('change',function(){
    console.log('this will never happen.');
});

Any ideas?

[2014-12-19 17:07] RobinHerbots commented on #785
It should trigger change on blur.
I will have a look at it

[2014-12-19 17:13] #774 closed, assigned to RobinHerbots

[2014-12-19 17:14] RobinHerbots commented on #769
Also fixed now.

[2014-12-19 17:14] #769 closed, assigned to RobinHerbots

[2014-12-19 17:17] RobinHerbots commented on #768
Can you retest with latedt version. And thx for your feedback.

[2014-12-19 17:20] RobinHerbots commented on #722
Can you retest with latest verdion?

[2014-12-19 17:47] ThomStilwill commented on #785
blur is fired, but not change.

Thom

Thom Stilwill

On Fri, Dec 19, 2014 at 12:07 PM, Robin Herbots notifications@github.com
wrote:

[2014-12-19 22:09] MS37 opened #786 "Currency - Visually display the difference between $0.00 and NULL"
Would like to support currency values of  $0, NULL (no value) and valid amounts and have it displayed so the user can tell the difference between a value of $0.00 and NULL (no value).

Ideally, when a null is stored the control should be blank when the focus leaves the control (its OK if the mask shows $0.00 on focus/hover).

When a $0 is stored the control should show $0.00 (even when not hovered

[2014-12-19 23:31] FilipeZhou commented on #768
I tested the latest version using your website.

I checked that mask function works properly now with {radixPoint: ".", groupSeparator: ",", autoGroup: true}. It is solved the problem of pasting or setting value to the input.

I checked that unmask function works better now with {radixPoint: ",", groupSeparator: ".", autoGroup: true}, which takes off the groupSeparator from the value. But I would

[2014-12-22 06:57] #637 closed, assigned to nobody

[2014-12-22 07:01] #775 closed, assigned to nobody

[2014-12-22 12:35] RobinHerbots commented on #756
@Senn0 ,

I know ;-)

[2014-12-22 12:37] senneclaeskens commented on #756
@RobinHerbots ok :-), wasn't aware because you asked if you had to register the package.
btw: nice library, I really like it!

[2014-12-22 16:33] unicron opened #787 "Zip code with optional mask?"
@RobinHerbots in the case of zip code mask offered in #290 (99999[-9999]), when the user enters "123456" it displays as "12345-6" which is correct.

However, if the user hits backspace, "6" disappears but the "-" remains, displaying as "12345-".  The expected result is "12345".

Backspace again and the "-" disappears along with the "5" to display as "1234".

Is there a way to accomplish the expect

[2014-12-23 05:36] babupca commented on #722
@RobinHerbots ,

Yes robin let me check it now.

[2014-12-23 06:26] babupca commented on #722
@RobinHerbots ,

I think this issue is fixed.

[2014-12-23 07:26] ghost commented on #756
There are a number of Javascript packages that do composer gists. For example bootstrap and jquery.

While the focus can be said to be PHP, it's useful for all sorts of things. For the time being here is what I am doing in my project composer.json.

[code]

Then in the require part:

[code]

This unfortunately locks me into a certain commit. So I will need to check from time to time and update whi

[2014-12-23 09:09] RobinHerbots commented on #756
https://packagist.org/

[2014-12-23 10:51] babupca opened #788 "RegexMask :: After focusout and again focusin to the textbox, values are not getting deleted."
When we apply the regex mask for a textfield, the value in it does not gets removed when we try removing it using delete.

Note this problem occurs only when you focus out and again focusin to the same field starting value from the left side.

jsfiddle link
http://jsfiddle.net/BA251281/8fb67ku7/34/

1.Type : M123.12
2.Focus out of the current textbox
3.Again focus into the text first value char/Nu

[2014-12-23 13:11] FairSite2C opened #789 "why not work? $("#searchMax").inputmask( "9{1,4}" );"
$("#searchMax").inputmask( "9{1,4}" );

I am expecting an input that would accept between 1 and 4 numerals.

Instead I get:

_{1,4}

has to be sometimes simple I am not understanding. Guidance is appreciated.

[2014-12-23 13:31] FairSite2C commented on #789
this works but seems unwieldy compared to what I tried above.

$("#searchMax").inputmask({ "mask": "9", "repeat": 4, "greedy": false });

[2014-12-24 01:18] RobinHerbots commented on #789
The first should work. I will have a look on friday. Best regards Robin

[2014-12-24 11:34] simasalmani commented on #734
@RobinHerbots, thanks for this great plugin and it would be awesome if you could add the functionality of applying inputmask on static contents.

[2014-12-24 11:37] afattahi54 opened #790 "Min version of js files"
Is it possible that we could have the js min version on github too ?!

[2014-12-24 11:39] lilibit1985 commented on #734
Dear mr @RobinHerbots ,

First of all, you 've done a greate job. This plugin is awsomawesome!
Could you please add the functionality to apply this mask on static contents like div,too?
Thank you in advance for any help you can provide.

Best Regards
lilibit1985

[2014-12-25 10:09] kenaku opened #791 "backspace on one selected digit removes previous digit as well."
If you select any digit and hit backspace key - it also removes one digit before that.
You can reproduce it everywhere, for example http://jsfiddle.net/sskr5qoa/

[2014-12-25 18:56] FairSite2C commented on #789
thanks. I'll keep checking back. This lib is great.

[2014-12-26 23:51] RobinHerbots commented on #789
@FairSite2C ,

Adding the greedy: false option should give the desired result.

But that shouldn't be neccesary, as the syntax already specifies the optionality.
I will fix that.

[2014-12-26 23:52] #722 closed, assigned to RobinHerbots

[2014-12-27 00:05] RobinHerbots commented on #790
@afattahi54 ,

No problem!
The new release will add minified version in dist/inputmask/

[2014-12-27 00:05] #790 closed, assigned to nobody

[2014-12-27 00:07] RobinHerbots commented on #787
@unicron,

I will have a look at it.

[2014-12-27 03:59] FairSite2C commented on #789
I think I caused you work when it was all my fault. I tend to be lazy and got the src from this link. As far as I know it could be a gazillion years old.

[code]

when I downloaded the source off this git page and pointed to the package this particular example worked just fine.

So the morale of the story is  the latest is usually the greatest.

[2014-12-29 16:52] AStoker commented on #764
I am experiencing another issue with regular expressions. It appears that the regex input mask does not constrain properly. Basic example:
http://jsfiddle.net/theandybob/cpct35h2/

The issue happens when you try to exceed the initial limit on numbers left of the decimal. The regex identifies the string as invalid, but the input mask thinks it's okay. Additionally, you can type at least 1 character

[2014-12-29 17:30] baileyjames9 opened #792 "Decimal with prefix truncates first numeric byte"
I've configured my mask and it works great. I have 1 major error. When I set the initial value the first byte gets truncated (i.e. the val 12,345.67 gets masked as $2,345.67). I created a jsfiddle to quickly demonstrate the issue. What am I doing wrong?

http://jsfiddle.net/baileyjames9/jkxm0k5z/2/

My Mask:
    $("#amount").inputmask("decimal",{
         radixPoint:".",
         groupSeparator: "

[2014-12-29 21:15] AStoker commented on #792
Just discovered the same issue. When there is no space after the prefix character, it will truncate the first character of the string. If you include a space after the prefix, it will not truncate. Basic example:
http://jsfiddle.net/theandybob/t37m0txu/

[2014-12-31 11:01] sshmyg commented on #473
What about 'phone' alias?
Is any way to turn off autocomplete?

[2015-01-02 12:24] sujitprasad12 opened #793 "inputmask date time format"
Please help me!
how to set the date time format in the following formats:-
DD/MM/YYYY   H:I
MM/DD/YYYY   H:I
YYYY/MM/DD   H:I
DD.MM.YYYY   H:I
MM.DD.YYYY   H:I
YYYY.MM.DD   H:I
if it is only date alone then is is possible form me but with Hour and min I just cant figure it out..
and also in laravel frameowrk but if in php that will b helpful  enough... please plaese help!!!

[2015-01-05 10:02] dehaaneric commented on #775
Jeah thanks @RobinHerbots - that worked

[2015-01-05 10:14] #789 closed

[2015-01-05 10:24] sujitprasad12 commented on #793
thanks it is working now

[2015-01-05 10:47] RobinHerbots commented on #791
@kenaku ,

I will fix that in for the next release.

[2015-01-05 22:49] RobinHerbots opened #794 "Numeric alias select all delete 00.00"

[2015-01-06 10:19] RobinHerbots commented on #792
@baileyjames9 , @TheAndyBob ,

Fixed in the latest version

[2015-01-06 10:19] #792 closed

[2015-01-06 10:20] #794 closed

[2015-01-06 14:02] manishkrai commented on #768
Hi, I am facing same issue -

$(element).inputmask('decimal', {
                radixPoint: ".", digits: 2, integerDigits: 13, allowMinus: true,
                autoGroup: true,
                groupSeparator: ",",
                groupSize: 3,
                skipRadixDance: true
            });

When I insert a digit (for example, "1") I get "100".

Fo more than a digit it's working fine - like

[2015-01-07 10:19] RobinHerbots commented on #686
@lucafik ,

Have a look at http://jsfiddle.net/q3pd37xb/

Why don't you use the numeric alias.

[2015-01-07 10:50] RobinHerbots commented on #686
http://jsfiddle.net/q3pd37xb/4/

[2015-01-07 11:24] lucafik commented on #686
Thanks, that worked. The only problem now is the placeholder. I cannot set it to " __ . __ ". I have tried with setting the placeholder parameter to " _ " and " __ . __ " but no luck.

with " _ "
1. It shows up as ' _ . __ ' (just one _ before the radix)
2. After I input the value, then select and delete the value and than blur, it gives me 0.00 or 0.20 or some strange value. It should be "__ . __

[2015-01-08 16:34] lmbelo opened #795 "Auto apply mask on set value in Google Chrome"
When I set a value to a masked input, if I don't houver or focus the input field the mask isn't showed.

$("input").inputmask({
			"mask": "99.999.999/9999-99",
			"numericInput": true,
			"rightAlignNumerics": false,
			"autoUnmask" : true,
			"placeholder": "",
                        "showMaskOnHover": true,
                        "showMaskOnFocus": true
		});

$("input").val( "12312312312314"

[2015-01-08 17:33] RobinHerbots commented on #795
Hi @lmbelo ,

I will have a look at it.

[2015-01-08 18:38] RobinHerbots commented on #795
@lmbelo ,

Have a look at http://jsfiddle.net/mdeh9fzt/

[2015-01-08 19:25] lmbelo commented on #795
Working fine on your fiddle but keeps trouble on my app with the same approach. Has a way to you look for with Skype? Maybe you could suggest something... Thankyou anyway

[2015-01-10 19:12] FilipeZhou commented on #768
@manishkrai
I did not understand your problem. I tested your mask using the latest version and worked well.

@RobinHerbots
I noticed another thing. When I use the events 'change' or 'focusout' and try to get unmasked value of the input, the mask does not work well. For example, I focus in the input, select all characters (Ctrl+A) and type any integer number (for example, "20", without entering rad

[2015-01-12 08:56] RobinHerbots commented on #795
@lmbelo ,

Is your project online?  Then I can have a look.

[2015-01-12 09:02] RobinHerbots commented on #768
@FilipeZhou ,

Can you retest with the current version. ... and thx for the feedback!

[2015-01-12 09:03] RobinHerbots commented on #746
@babupca ,

Fixed in the latest version

[2015-01-12 09:03] #746 closed

[2015-01-12 09:08] RobinHerbots commented on #686
@lucafik ,

Can you retest with the latest version.

[2015-01-12 09:09] RobinHerbots commented on #716
@laxmikantG ,

Is this issue still occuring?

[2015-01-12 09:10] #670 closed

[2015-01-12 09:33] lucafik commented on #686
@RobinHerbots

http://jsfiddle.net/3cp4n39f/1/

I've  set the placeholder to " _ "
1. On click, caret doesnt position itself before the radix point (with placeholder set to "0" it does)
2. it shows just one _ before the radix point (should show two, since integerdigits = 2)

or am i missing something?

[2015-01-12 11:13] RobinHerbots commented on #791
@kenaku ,

Fixed.

[2015-01-12 11:15] kenaku commented on #791
Thanks, Robin!

[2015-01-12 11:23] RobinHerbots commented on #686
This behavior comes from the numeric alias.  (mostly used with placeholder 0 or empty)

Have a look at http://jsfiddle.net/3cp4n39f/2/

Use the second mask as a start and add what is missing. (add onBeforeWrite for the digits autofill)

[2015-01-12 12:13] FilipeZhou commented on #768
@RobinHerbots

Thank you for the fixes for my problems.
I found out a strange behavior in the current version when delete characters in special situations with the same inputmask used.
For example, I type "1.456,00" and move my cursor to after '4' like "1.4|56,00" and delete '4', the result is "15|6,00". If I delete again, I get "1|56,00".

[2015-01-12 12:21] lucafik commented on #686
Without numeric alias I go back to initial problem - typing in the field. You can see here what is the problem with 2nd, 3rd and 4th mask.

http://jsfiddle.net/3cp4n39f/5/

[2015-01-12 13:32] manishkrai commented on #768
Hi @RobinHerbots,

When I enter a single digit number like- 1 or 2 or 3. This displays it as 100, 200, 300 respectively.
Ideally It should be 1.00, 2.00 and 3.00.
I am using 3.0.33 version of this contro. Kindly suggest me the way around for the same.

Regards,
Manish

[2015-01-12 13:42] RobinHerbots commented on #768
@manishkrai ,

Update to the latest version.

[2015-01-12 13:43] RobinHerbots commented on #768
@FilipeZhou ,

I see, I will have a look.

[2015-01-12 14:08] mfeingold commented on #517
Any ETA on this?. It looks like we are at the point where it would really help us. And just to remind you - once we have this separation we can take care of the Angular part

[2015-01-12 16:44] #768 closed

[2015-01-12 16:47] RobinHerbots commented on #592
@YodaJM ,

You need to set the digitsOptional: false option

[2015-01-12 16:50] #668 closed

[2015-01-12 16:51] RobinHerbots commented on #614
Will do this when the alias progresses

[2015-01-12 16:52] #592 closed

[2015-01-12 16:53] #765 closed

[2015-01-12 16:54] #716 closed

[2015-01-12 17:40] FilipeZhou commented on #768
@RobinHerbots

Thank you very much for the fixes.
Just a suggestion: I have seen in your code that when you mask a value, according to inputmask, you apply the mask replacing the radixPoint ('.') to the one in inputmask. But when I get the unsmakedvalue, you just take off the groupSeparator from the value. What do you think in replacing back radixPoint to '.' too?
Now I set onUnMask function to my

[2015-01-13 06:52] laxmikantG commented on #716
@RobinHerbots  :- Sorry for delay in reply.
I did not check this with latest version. But I had fixed at our end by commenting following lines:

[code]

We disabled the selection manually, I'm not sure if this is a good idea  ;)
Thank you

[2015-01-13 12:32] RobinHerbots commented on #768
@FilipeZhou ,

Some systems require that the radixpoint is like specified in the culture setting to be valid. (ASP.NET/MVC) otherwise the binding will be incorrect.

Anyway, the onUnMask is there to be adapted to your needs as you do.

[2015-01-13 12:36] FilipeZhou commented on #768
@RobinHerbots

OK. No problems so.
Thank you anyway.

[2015-01-13 12:59] #597 closed

[2015-01-13 13:00] RobinHerbots commented on #597
@swd120 ,

Finally fixed ;-)

[2015-01-13 15:06] tnavarra opened #796 "pasted values not applied correctly when part of mask is predefined"
I define a static portion of the mask and then paste in a value.  If the pasted value contains the static portion of the mask more than once, the mask is applied incorrectly.

Fiddle:
http://jsfiddle.net/favbh4e9/1/

[2015-01-13 16:47] kenaku opened #797 "Safari(Windows) strange behaviour on delete"
When you remove symbols from mask - it doesn't shifts back, but leaves empty space.
This bug can be reproduced only on Windows Safari.

[2015-01-13 22:07] RobinHerbots commented on #797
@kenaku ,

Is this on the latest version of Safari on Windows?  Does this also appear on OSX?

[2015-01-14 10:29] julex18 commented on #762
@RobinHerbots ,

Did you have a chance to test it?

[2015-01-14 11:28] RobinHerbots commented on #762
@julex18,

Not really.  But I will do it before the end of the week.

[2015-01-14 12:21] RobinHerbots commented on #228
@WaltDaniels ,

I added min & max in the numeric alias.

Max is checked on the fly, the minvalue on blur.

[2015-01-14 13:06] #228 closed

[2015-01-14 19:40] lmbelo commented on #795
Unfortunately, because it is a commercial application, I can not provide access for you. It would not be possible to make contact on Skype?

[2015-01-14 22:20] RobinHerbots commented on #795
You may contact me during day hours (Belgium)

[2015-01-15 00:14] lmbelo commented on #795
I will. Thanks

[2015-01-15 10:23] kamilklosowski opened #798 "Regex with placeholder, not working?"
Hi,

Not sure it's bug or feature, but inputmask wont work with placeholder.

Fiddle: http://jsfiddle.net/yocgpp7q/

[2015-01-15 10:40] RobinHerbots commented on #798
The regex alias currently doesn't support a placeholder or any visual.

Op Thu Jan 15 2015 at 11:23:11 schreef kamilklosowski <
notifications@github.com>:

[2015-01-15 10:44] kamilklosowski commented on #798
Is there any chance to implement this in future releases?

[2015-01-15 12:47] lmbelo commented on #795
Hi. Coul'd we chat on skype now? ***

[2015-01-15 12:49] RobinHerbots commented on #795
Yes but only chat, no voice

Op Thu Jan 15 2015 at 13:47:16 schreef lmbelo notifications@github.com:

[2015-01-15 12:50] lmbelo commented on #795
alright

[2015-01-15 12:52] RobinHerbots commented on #795
I've send a connect request

Op Thu Jan 15 2015 at 13:50:47 schreef lmbelo notifications@github.com:

[2015-01-15 13:18] lmbelo commented on #795
******_|| used plugins ||**_****
- bootstrap;
- inputmask;
- jQuery numberformat;
- jQuery UI;
- cldr and globalize;
- datatables.

**\* work around ***
- After apply values, call $("input").trigger('setvalue.inputmask');

[2015-01-15 13:37] RobinHerbots commented on #798
@kamilklosowski ,

Yes that will be implemented in  the future but

Have a look at http://jsfiddle.net/yocgpp7q/1/
You can also use the second mask

[2015-01-15 17:06] FilipeZhou commented on #791
@RobinHerbots

I have just have similar problem, but testing with numbers.
For example, if I have "10101" and select the second "1" to delete, I get "101".

[2015-01-15 19:23] RobinHerbots commented on #791
@FilipeZhou
Yes you are right. I will fix it tomorrow.

[2015-01-16 06:58] kamilklosowski commented on #798
This isn't solution to my problem - i've receive regex from backend unfortunately.
So im looking forward to next releases :)

Thanks

[2015-01-16 12:06] RobinHerbots commented on #791
@FilipeZhou ,

Fixed!

[2015-01-16 12:06] #791 closed

[2015-01-16 12:48] kenaku commented on #797
@RobinHerbots
Yes, latest version.
No, Safari on OSX works just fine.

[2015-01-16 14:12] RobinHerbots commented on #797
@kenaku ,

I tested the demo page with Safari 5.1.7 on Windows 8 and it seem to work fine.

Can you provide more info.  Mask used?  Maybe a jsfiddle?

[2015-01-16 15:20] FilipeZhou opened #799 "Delete key not working properly"
Hi!

I used currency input in demo page to observe the problem.
I typed "1,234,567.00" and start to delete using delete key from start. So, from "$ |1,234,567.00" I got "$ 2|34,567.00". Another problem is when I try to delete "$| 1,234,567.00" and I get "$ 1|,234,567.00".
When the cursor is right before the groupSeparator I also cannot delete anything.

[2015-01-17 14:50] sameness opened #800 "phone alias => autoUnmask should include country code"
Hi there!

I use autoUnmask flag and everything's good but how can I get a country code value?

[2015-01-17 22:41] RobinHerbots commented on #800
Is this about the phone alias?

[2015-01-18 12:02] sameness commented on #800
Yes, you're right.

[2015-01-19 08:56] julex18 commented on #762
@RobinHerbots ,

this project had the exact same issue https://github.com/xing/wysihtml5/issues/16
while this code is a regex mask that works with polish ż: http://www.thimbleopensource.com/download/jquery/jquery.filter_input.js

[2015-01-19 09:57] RobinHerbots commented on #762
@julex18 ,

I tested your mask on Chrome and FF under Linux and both work fine.  So it might be related to the OS and/or browser.  On which browser(s)  did you test?

I also verified the above mentioned projects, ... but there solutions seems like skipping the keydown when   if (event.altKey || (!event.ctrlKey && !event.metaKey)) {
           return;                 return;
         }

[2015-01-19 10:15] RobinHerbots commented on #800
What do you mean exactly?   The country code is missing from the unmaskedvalue?

[2015-01-19 10:39] julex18 commented on #762
Yes, I'm using Windows, also in https://github.com/xing/wysihtml5/issues/16 they're talking about windows. Maybe the symantec code I mentioned earlier has a better fix - at least I can't find "metaKey" in their source. I tested on Chrome 39.0.2171.95 m, Firefox 34.0.5, IE 11 all on Windows.

[2015-01-19 15:20] RobinHerbots commented on #762
@julex18 ,

Fixed with the latest commit.

A new release will follow soon

[2015-01-19 15:20] #762 closed

[2015-01-20 08:58] julex18 commented on #762
@RobinHerbots

Thank you very very much :)

A hint for other users: the encoding of the file containing mask regex definition is also important, ex $('#fname').inputmask('Regex', { regex: '[a-zA-ZęóąśłżźćńĘÓĄŚŁŻŹĆŃ]{0,50}' }); not all polish characters were allowed until we changed file encoding from ANSI to UTF8.

[2015-01-20 19:00] celsomtrindade opened #801 "Regex not working. I'm new to this plugin"
So, i'm trying to make a custom mask and i want to allow special characters, like " _ - / () "
But i cant.. This is the jquery code i'm using:

$('.m-tel').inputmask({
	mask:'(**)*********',
        regex:'/^[a-zA-Z0-9-_]+$/'
});
What should i do?

[2015-01-21 07:11] RobinHerbots commented on #801
@celsomtrindade ,

If you want to use the regex extension then you cannot use it like above; but like this

[code]

Be aware that the regex alias does not show any placeholder.

[2015-01-21 09:16] a13x3y opened #802 "mask "email" and "clearIncomplete: true" have bug"
$(selector).inputmask("email",{"clearIncomplete": true });
try set to selector any email with _ sign and after complete email will be empty.

[2015-01-22 23:37] SujayKrishna opened #803 "Currency mask enhancement"
Hi,

When user is editing a currency field, trying to edit 100,000.00 to 200,000.00.
They tend to erase off the the 1 and try to type in 2. But when they do that, we strip off all the zeros, which is sometimes frustrating to the user.

Instead of processing it as a number, it'd be great if we can process the input as a string, so as to retain leading zeros.

[2015-01-23 07:03] RobinHerbots commented on #803
@SujayKrishna ,

You can overtype the 1 bu selecting it and typing 2.  Or press the insert key and start typing

[2015-01-23 07:13] SujayKrishna commented on #803
@RobinHerbots I completely understand.
But customers aren't happy when we ask them to work around issues.

It'd be great if we can fix this so that it'd still work like a regular input, just with additional masking.

[2015-01-23 18:02] jmanos opened #804 "isComplete for "integer" alias does not validate negative values"
The default *isComplete* event does not validate negative values as true for the *integer* alias. Both *numeric* and *decimal* work fine.

Therefore, toggling the leading minus sign ("-") on an input will trigger the *oncomplete* event for positive input but not for negative input.

The user could overwrite the *isComplete* function to solve this on his/her own, but solving the issue out-of-the-bo

[2015-01-24 15:43] senja006 opened #806 "Does not work spaces"
Using a mask 'validator': "[А-Яа-яA-Za-z ]". Do not work spaces in Yandex Browser.

[2015-01-25 03:35] rommcr opened #807 "Plugin does't allow to change masked input value while handling change event"
Example:

[code]
When handling .change event on masked input field and trying to set value from event handler, inputmask plugin keeps old value until mouseover over the text element. Only

How to:
1. change value in input
2. fire onchange event ( value still like nothing happend )
3. mouseover over the texfield ( value changed to "50" )

window.setTimeout(function(){ $("#t").val(25) }, 0)

can hel

[2015-01-25 17:36] wowDaiver commented on #465
I finded temporary solution for phone mask. Set type input field as "tel"
<input type="tel" class="phone">

My device Samsung Galaxy S3

[2015-01-26 09:15] RobinHerbots commented on #804
@jmanos ,

I will have a look at it

[2015-01-26 09:28] RobinHerbots commented on #806
@senja006 ,

Can you provide some more info.  Does it work on other browsers?

Do you use it on Android? Windows? other?

[2015-01-26 09:32] RobinHerbots commented on #807
@rommcr ,

Yes I know, I will have a look.

[2015-01-26 10:26] #804 closed

[2015-01-26 10:27] RobinHerbots commented on #804
@jmanos ,

Ok fixed!  A new release will follow soon.

[2015-01-26 21:27] senja006 commented on #806
Mac OS, Maverick. At my friends does not work in any browser. They also Mac.

[2015-01-26 21:41] RobinHerbots commented on #806
@senja006,

I will have a test on OSX tomorrow.

[2015-01-26 22:43] RobinHerbots commented on #756
@brownrl ,@Senn0 ,

I added a composer.json and regitered at the http://packagist.org/

I also added a service hook but I'm not sure that works already.  We shall see on the next release.

Can you have a try and any suggestion to improvement is welcome ;-)

[2015-01-27 09:48] ghost commented on #756
AWESOME!!!!!! thank you so much.

I know that "javascripts" aren't the intended purpose of composer... but composer is becoming more of the catch all way of tying everything together in a project.

[2015-01-27 09:51] babupca commented on #746
Thanks Robin.

[2015-01-27 11:01] #756 closed

[2015-01-27 14:16] sameness commented on #800
yes, if I enter 7 (913) 812-45-15 where "7" is country code then unmaskedvalue will be 9138124515.

[2015-01-27 14:35] a13x3y commented on #800
maybe your mask is incorrect?
with this mask : +7 (999) 999-9999 you get only 10 digits (without 7)
with this mask: +9 (999) 999-9999 you get 11 digits (with any country code)
i checked, autoUnmask works fine.

[2015-01-27 14:44] a13x3y commented on #806
On windows fine work on Yandex Browser and Mozilla. Others not tested.

[2015-01-27 15:36] RobinHerbots commented on #800
@sameness ,

The behavior is correct technically spoken, as an unmasked value is the value without the masking.  The 7 is seen as part of the placeholder.

But this can be solved in the onUnmask function.

How do you use the phone alias?

[2015-01-27 15:39] RobinHerbots commented on #806
http://jsfiddle.net/9u3wvpbz/  (convenience for testing)

[2015-01-27 17:35] ryexley opened #808 "Year input mask?"
Having some trouble figuring out how to configure a mask for a field that is *just* a four-digit year input, with a max year of the current year. Any help would be greatly appreciated.

[2015-01-27 18:32] cfitzh2o opened #809 "I use the .inputmask({ alias: "hh:mm t" }); and it will not stop invalid key press"
I have a textbox time field, I want it to show something like 03:03 pm.  I apply the alias inputmask({ alias: "hh:mm t" });  and I am allowed to physically enter characters in the number portion and the the mask is ignored, so I can type values that look like asdfsajdfasdfjaslkdj.  Am I doing something wrong?

![masknotworking](https://cloud.githubusercontent.com/assets/7062507/5924325/6cf42c0c-a6

[2015-01-28 10:23] RobinHerbots commented on #809
@cfitzh2o ,

Which js files did you load?  You need to include the date extensions or use the bundle.

Have a look at http://jsfiddle.net/1uqa45o2/2/

[2015-01-28 10:39] RobinHerbots commented on #808
@ryexley ,

Have a look at http://jsfiddle.net/1uqa45o2/1/

[2015-01-28 10:39] #808 closed

[2015-01-28 11:13] RobinHerbots commented on #807
@rommcr ,

It is fixed in the latest version.

[2015-01-28 11:13] #807 closed

[2015-01-28 12:33] babupca opened #810 "onKeyDown is not available in the latest version"
Hi Robin,

I have been using onKeyDown option in many of my masks. Recently i downloaded and used the 3.1.57. This version does not have the onKeyDown option. I have made date related autocomplete in onKeyDown, now it seems to be not working.

Kindly suggest me, what can be done or the alternative way

[2015-01-28 12:36] RobinHerbots commented on #810
@babupca ,

Use   onBeforeWrite: function (e, buffer, caretPos, opts) {  if(e.type == "keydown" .... instead

[2015-01-28 13:39] babupca commented on #810
@RobinHerbots ,

I used the method as you said above.
1. keydown is not working, only keypress is working.
2. I have put my entire logic within this condition, when TAB key is pressed, this is occuring as
   undefined. It cannot able to capture the TAB event keyCode.
   if (e.keyCode == jQuery.inputmask.keyCode.TAB) {

[2015-01-28 14:08] cfitzh2o commented on #809
I installed the entire package with the NuGet package manager in a Visual Studio 2012 project so that file is installed.  I am using an include tag for the main library at the top of the page.  Confusing isn't it?
![library](https://cloud.githubusercontent.com/assets/7062507/5938831/4252de36-a6c4-11e4-9356-4a9cedeff5c5.png)
![script](https://cloud.githubusercontent.com/assets/7062507/5938858/6d1ce

[2015-01-28 14:32] babupca commented on #810
@RobinHerbots ,
1. Sorry there is no issue with the keydown, it is working.
2. e.keyCode always giving undefined. I just compared with the previous version by debuggin in chrome. When tabbing out in the older version onKeyDown it clearly shows as
   type = keydown
   which = 9
   and  keycode = 9

But in the new version on tab out the textbox, it is shown as

type = blur
which = 0
and keycode = 0

[2015-01-28 15:09] RobinHerbots commented on #809
@cfitzh2o ,

You alse need to include the date extensions.

[2015-01-28 15:12] RobinHerbots commented on #810
@babupca ,

Can you provide a mask as example so I can work with that.

What about just binding to the keydown event instead of the onbeforewrite callback?

[2015-01-28 15:33] babupca commented on #810
@RobinHerbots ,

This is about the date auto complete on tabout. I have written some logic
for day , month , year  and time , which has to be pre filled on tabbed
from the txt field or the jqgrid. I will give example by tomorrow.

Actually I'm using the mask in form and also in jqgrid, so I'm not sure
whether it will work for jqgrid.

I have started to home today. So will give update by tomorrow.

[2015-01-28 17:25] RobinHerbots commented on #799
@FilipeZhou ,

This is fixed, except for the case with the cursor right before the groupseparator

[2015-01-28 17:30] RobinHerbots commented on #803
@SujayKrishna ,

The zeroes are stripped in the canClearPosition of the numeric extensions.

I shall see if I can work it out without impacting other use cases of the numeric extension.

[2015-01-28 19:12] ZSujay commented on #803
Thanks so much.

[2015-01-29 06:56] senja006 commented on #806
does not work with the first entry on the page. and then everything is fine. it can be seen here house.yarkevich.ru

[2015-01-29 07:36] babupca commented on #810
@RobinHerbots ,

Please find the below jsfiddle link.

http://jsfiddle.net/ug16s3tw/48/

I have done the Date, Month, Year and Time (Hour and Minutes) has the autocomplete

Below are set of ways you can try
1. When you press only ZERO at the caret postion 0 and tab, you will get the current date, month, year autopopulated.
    Type: 0d-mmm-yyyy
    Press Tab
    Result : 12-JAN-2015
2. When you pr

[2015-01-29 09:16] senja006 commented on #806
everything works fine. a conflict with another plugin occurred. I'm sorry for what your time is spent

[2015-01-29 10:06] RobinHerbots commented on #806
@senja006 ,

Great that it works now!  Which plugin was causing conflicts?

[2015-01-29 10:06] #806 closed

[2015-01-29 10:10] senja006 commented on #806
yes it's not even a plugin, and the effect of tympanus.com. http://joxi.ru/BA0d0qXFw7g9Ay

[2015-01-29 10:13] RobinHerbots commented on #806
;-)

[2015-01-29 14:00] allolivier opened #811 "radixPoint replace on input change"
Hello,

I would like say thank you for this great plugin!

But I have a problem.
If I use
radixPoint ","
If I press [ , ] or [ . ] the fields are filled with [ , ]
That's great.

But if I use
radixPoint: "."
If I press [ . ] the fields are filled with [ . ] but press on [ , ] does nothing

How can I fix that?

Thank you for help.

[2015-01-30 09:55] RobinHerbots commented on #810
@babupca ,

I readded the callback.  http://jsfiddle.net/ug16s3tw/49/

[2015-01-30 10:10] babupca commented on #810
@RobinHerbots ,

Thanks a lot Robin.

[2015-01-30 12:04] #810 closed

[2015-01-30 12:10] RobinHerbots commented on #811
@allolivier ,

It is only the dot on the numeric part of the keyboard that is seen as a substitute for , as radixpoint.

[2015-01-30 12:40] RobinHerbots commented on #783
@iliakan ,

Sorry for the delay but the issue is fixed in version 3.1.59

[2015-01-30 12:40] #783 closed

[2015-01-30 18:49] tggm opened #812 "Cannot initialize the plugin"
Hello,

I'm always getting this error after including the scripts:

TypeError: $.inputmask is undefined
$.extend($.inputmask.defaults.aliases, ....

I'm using jquery 2.1.1

And initializing the plugin with:

	$("input[data-inputmask]").inputmask();

Example input element:

[input class='form-control' type='text' Id='testweb2_number1_value1598' Name='testweb2_number1_value1598'  data-inputmask="'al

[2015-01-30 20:21] RobinHerbots commented on #812
you first need to include jquery.inputmask.js then the needed extentions.
Or are you using requirejs?

Op 19:49 VR 30 Jan 2015 schreef tggm notifications@github.com:

[2015-01-31 20:47] Ettemlevest opened #813 "Suffix and white-space groupSeparator problem"
Because of our traditional number grouping, I use space as group separators. But when I tried to use suffix I got a problem. Here's a [jsfiddle](http://jsfiddle.net/ettemlevest/n5ur06ag/3/) about it.

When the input's value is only one digit (0-9) there's an extra space between the number and the suffix. After typing more digits the extra space disappears but returns everytime when the value is on

[2015-01-31 23:56] thomstark opened #814 "Optional positions make mask incomplete when omitted"
$("div.height-field input").inputmask({mask:"9'9[9]\"", greedy:false, skipOptionalPartCharacter: "", "clearIncomplete":true});

    $("div.weight-field input").inputmask({mask:"99[9]lbs", greedy:false, skipOptionalPartCharacter: "", "clearIncomplete":true});

If I omit the optional [9] when typing in either of these fields, it always returns incomplete on blur, and the field is cleared. I've also

[2015-02-02 11:26] tggm commented on #812
I'm not using require.js

I've included all the scripts in the correct order and even tried multiple combinations. The documentation is confusing in this aspect. Aditionally, I still don't understand if this works with jquery 2.x.x

[2015-02-02 12:32] RobinHerbots commented on #812
@tggm ,

Have a look at http://jsfiddle.net/pdojg6us/

What part is confusing in the doc about the things to include?

[2015-02-02 15:25] tggm commented on #812
Well, even using the version on jsfiddle, 3.1.59, I can't get past this error:

TypeError: $.inputmask is undefined
return $.extend($.inputmask.defaults.definitions, {

jquery....mask.js (line 1274, col 11)

Probably some interaction with bootstrap or the theme I'm using.

[2015-02-02 15:33] RobinHerbots commented on #812
@tggm ,

Maybe another plugin is using the same namespace?

[2015-02-02 15:37] tggm commented on #812
You're right! It was Jasny-Bootstrap!

It now works!

[2015-02-02 15:37] #812 closed

[2015-02-02 21:12] RobinHerbots commented on #814
@thomstark ,

Fixed with the latest commit.

Depending what you include from extensions, you will need to escape the s in lbs as s is a definition in the date extensions.

A new release will follow soon.

[2015-02-02 21:39] #802 closed

[2015-02-02 21:40] RobinHerbots commented on #802
@a13x3y ,

Fixed in the latest commit.

A new release will follow soon.

[2015-02-02 21:50] RobinHerbots commented on #785
@ThomStilwill ,

I did a quick test in the latest version. And the change was fired on blur.  Can you confirm.

[code]

[2015-02-02 21:54] #809 closed

[2015-02-02 22:26] RobinHerbots commented on #795
@lmbelo ,

jQuery.numberformat is the one causing trouble.  They also patch the valhook but only call the original one when there data attribute isn't found.  Due to this the valhook af other plugins get never called, which is why the value wasn't formatted by the inputmask.

[code]

[2015-02-02 23:09] thomstark commented on #814
Thank you. I just installed the latest commit, and unfortunately the results are no different. It's still clearing the field if I enter say, 5'2", instead of 5'02". Same with 95lbs, instead of 095lbs. The ones one digit shorter are getting cleared on blur. Maybe I installed the wrong thing, but I did a diff checker on the js file and it's definitely the new commit.

[2015-02-02 23:17] thomstark commented on #814
"A new release will follow soon." That probably means you haven't released the fix yet. :/ My bad.

[2015-02-02 23:55] RobinHerbots commented on #814
Hmm, the latest commit should fix it. I tested your masks with qunit. Maybe
caching?  Can you make a jsfiddle with the masks.

Op 00:17 DI 3 Feb 2015 schreef thomstark notifications@github.com:

[2015-02-03 00:12] thomstark commented on #814
I'll do that right now.

[2015-02-03 00:18] thomstark commented on #814
Here's the fiddle: http://jsfiddle.net/6v4rr4rk/
Same behavior here, clears when missing the optional digit. In Chrome, IE, and Firefox. I'm loading the inputmask.js file as an external resource.

[2015-02-03 00:31] thomstark commented on #814
Here's another one with the alternate method, same results: http://jsfiddle.net/6v4rr4rk/1/

[2015-02-03 10:09] RobinHerbots commented on #814
@thomstark ,

Sorry, fixed in version 3.1.60

http://jsfiddle.net/6v4rr4rk/6/

[2015-02-03 10:19] thomstark commented on #814
Works perfectly. Thanks a million for the fix, and the plugin.

[2015-02-03 10:39] #795 closed

[2015-02-03 10:44] #814 closed

[2015-02-03 14:38] RobinHerbots commented on #796
@tnavarra ,

Fixed in the cuirrent.

[2015-02-03 14:38] #796 closed

[2015-02-03 19:18] jmanos opened #815 "Should not allow "-" or "+" as numbers"
When *allowPlus* and/or *allowMinus* are active and no *placeholder* has been specified, the symbols (+/-) are able to be the only characters in the input (i.e. the only character present can be "-" or "+").

This occurred for me when using the *integer* alias, so I am assuming it is for numbers in general (though I did not test that inference).

This is a possible duplication of issue #564 depend

[2015-02-04 06:32] JackMcKenzie57 commented on #483
Was two-digit year ever implemented?

[2015-02-04 06:55] RobinHerbots commented on #483
@JackMcKenzie57 ,

Not yet.

[2015-02-05 17:36] RobinHerbots commented on #813
@Ettemlevest ,

Fixed in the latest version

[2015-02-07 06:14] sebreunion opened #817 "time mask, backspace behavior on android chrome"
Hi,

I'm using this great plugin but i'm facing an issue on mobile browser (android chrome at least).

I'm using $("#time").inputmask( 'h:s' );

After i input a value, say 12:30, i'm unable to completely erase the value.

On desktop, after i pressed backspace 2 times and erased the last 2 digits (30), i'm able to press backspace 2 more times to erase all the input. The 3rd backspace key press eras

[2015-02-08 16:09] RaviRamDhali opened #818 "Date entered is greater than current / today's date?"
I need to make sure the date inputted in great than current date. There is code for **yearrange** but I don't see anything for basic **daterange**.

Using query.inputmask library, how can I make sure the date entered is greater than current/today's date new Date()?

[2015-02-09 00:03] RobinHerbots commented on #818
@RaviRamDhali ,

In the current date alias this is not implemented.  However, you can use the postValidation callback to validate if the input is after the current date.

It would be a nice feature, and I will add it to the date alias in milestone 3.4

[2015-02-09 00:13] RobinHerbots commented on #817
@sebreunion,

Don't worry about your english, I understand you just fine!

Android support is still buggy, but the next milestone I will dedicate on mobile support.  The biggest problem is the autosuggest/autocomplete which messing  things up.  I already tried with compositionevents and input event only masking, but it is never good enough.  So any feedback on mobile is more welcome.

[2015-02-09 00:20] RobinHerbots commented on #786
@MS37 ,

I totally agree, but the current implementation of the numeric alias does not allow it.  Once I can remove the postFormat fn from the numeric alias, I will implement it.

[2015-02-09 13:26] MS37 commented on #786
Sounds good. Thanks!

[2015-02-09 18:37] assistcontrol opened #819 "CDN?"
You should consider submitting this to some of the JS CDN's.

[2015-02-10 12:56] #815 closed

[2015-02-11 05:37] babupca commented on #733
@RobinHerbots ,

Hi Robin, I was just trying this today and it is fixed i guess. This seems to be tabbing to the next input field instead of same field, which was the issue.

Could you please check this please. Other wise we can close this defect.

[2015-02-11 05:37] babupca commented on #733
@RobinHerbots ,

Hi Robin, I was just trying this today and it is fixed i guess. This seems to be tabbing to the next input field instead of same field, which was the issue.

Could you please check this please. Other wise we can close this defect.

[2015-02-11 08:19] RobinHerbots commented on #733
@babupca ,

Is this a hitch in the matrix?

[2015-02-11 11:18] babupca commented on #733
@RobinHerbots ,

Yes it was. but now it seems to be fixed.

[2015-02-11 12:03] #733 closed

[2015-02-12 17:29] dmitryy90 opened #820 "Regex does not work properly"
I have an input field with the following requirements:
a user can enter only 0 or any number from -999 999 999 to 999 999 999  (without spaces).

I use "^0|([-]{0,1}[1-9][0-9]{0,8})$" for it.

So, if I start entering from "-" followed by numbers, it will work properly.
But if I enter 999999999 and then the return caret at the begining and try to enter "-" the input mask will not allow to do that.

[2015-02-13 15:12] nathanzirpl commented on #785
Hi Robin, unfortunately this is still not working. Please see attached example with the lastest 3.x code (I grabbed from github rather than nuget to make sure I had the latest). We would love to get this working.

Thanks
Nathan

I could not attach the example and can't find your email. Email me at Nathan.LaFratta@numotion.com.

Thanks

[2015-02-13 19:33] haldiggs opened #821 "masking a password field"
I have a requirement that has be changing a field type to 'password' when a user is entering a social security number.

the mask is

	regexp = /^\d{3}-\d{2}-\d{4}$/;
	message = "match pattern xxx-xx-xxxx";
	$("#MultiPurposeId").inputmask("999-99-9999", { placeholder: " " });
This may not be possible but when I change the field type to password I lose the mask

	$('#MultiPurposeId').attr('type', 'p

[2015-02-13 22:56] seanford opened #822 "Uncaught TypeError: Cannot set property 'buffer' of undefined"
Example:

var temp = '8345006561444';
var formattedTemp = $.inputmask.format(temp, { alias: "****-**-***-****"});
alert(temp);
alert(formattedTemp);

Line 2 will throw the error:
Uncaught TypeError: Cannot set property 'buffer' of undefined

[2015-02-16 09:13] RobinHerbots commented on #821
@haldiggs ,

Why do you need the type=Password ?

[2015-02-16 09:16] RobinHerbots commented on #822
@seanford ,

Try by replacing the alias with mask, ... as the pattern is not an alias I guess.

$.inputmask.format(temp, { mask: "_**---_*"});

[2015-02-16 11:04] RobinHerbots commented on #785
@zirplsoftware ,

Have a look at http://jsfiddle.net/70jp96nd/1/

[2015-02-16 13:00] BugFixerr commented on #699
May I hope for a fix soon?

[2015-02-16 13:20] RobinHerbots commented on #699
@BugFixerr ,

I will fix it for the current milestone

[2015-02-16 15:59] RobinHerbots commented on #451
@YoussefTaghlabi ,

I'm working on the () as negationsymbol.  But I have a question about.  Does the parentheses have to surround the prefix/suffix symbols or not??    $ (123) or ($ 123)

[2015-02-16 16:04] ThomStilwill commented on #785
Robin,

We found a very obscure bit of code on our end that was causing the
trouble.  It took 6 eyes and many hours but we did it.  Thanks for the help
and we love your product.

Regards,

Thom Stilwill

Thom Stilwill

On Mon, Feb 16, 2015 at 6:05 AM, Robin Herbots notifications@github.com
wrote:

[2015-02-16 16:10] #785 closed

[2015-02-16 16:30] haldiggs commented on #821
lol, you're asking me?? Kidding, but not really... the requirements are not mine. The client wants to make sure that a user cannot see the SSN being entered while another user is using the keyboard. Similar to the reason the have a little plastic hood over a banking pin entry area.

[2015-02-16 16:43] RobinHerbots commented on #821
@haldiggs ,

;-)

That seems more a validation problem than a masking one.

[2015-02-16 16:58] haldiggs commented on #821
yeah on the data entry side I did solve it my simply switching the mask and type but I had this as a display item on another screen after it had been entered. They wanted to be able to show the customers Last4 and X's like XXX-XX1234.

So like I said above, I was able to create the mask but I guess I was hoping the mask would stay so it would end up with something like _**-__-_**\* when used as a

[2015-02-17 00:37] VolodymyrMuzyka commented on #760
Hi!
Please check this http://jsfiddle.net/79m65yt3/2/ , I believe it's related..
We have masks like this: '0X XXXX XXXX' OR '04XX XXX XXX' OR '1300 XXX XXX' OR '1800 XXX XXX' OR '13X XXX' and they are working fine with version 2.5.10.. latest 3.1.61 doesn't.

Test cases which works on 2.5.10:
1) type 1300 than space - not allowed. i.e. 1300 000 000 not possible to enter
2) type 132 than space -132

[2015-02-17 07:26] #822 closed

[2015-02-17 07:27] #533 closed

[2015-02-17 07:37] #755 closed

[2015-02-17 16:09] achwedyk opened #823 "Add a change log"
We're using your library and we wanted to upgrade to the newest version. However there is no change log and it's hard to say what was changed and if there are any breaking changes.
I suggest adding a change log. See http://keepachangelog.com/
Thanks

[2015-02-17 18:16] antch opened #824 "isComplete erroneously returning false when backspacing with an optional mask"
In certain cases when you have a mask with an optional part on the end, when you delete characters such that the optional part is blank the `isComplete` API call will return `false` when it should be returning `true`.

An example of such a mask is `'999-999-9999[ ext 9{1,5}]'`.  A minimal reproduction of the issue can be found here: http://jsfiddle.net/npkh3dfq/1/

[2015-02-18 09:58] RobinHerbots commented on #823
@achwedyk,

After reading on keepachangelog I cannot say, read the commit log  ;-)

I can give it a try.

[2015-02-18 10:22] #823 closed

[2015-02-18 10:29] achwedyk commented on #823
Thanks!

[2015-02-19 04:43] kimzhu1980 opened #825 "Issue in Android (Samsung GALAXY S5)"
In the system default browser, when I press the "<X" delete button, the pointer will go to the beginning of the text box, and automatically put "1" in the textbox. Event though I update to latest version, I still got the same issue.

My tag:

$("#test").inputmask("99/99/9999")

[2015-02-19 17:46] chrishoadley opened #826 "ios 8, safari, on first visit unable to enter any characters"
This seems to be happening on ios 8 safari only. When you first visit the site and attempt to enter the birth date and phone number you are unable to enter any characters at all. Once you refresh you are able to from then on out. If you clear your cache you will still be able to fill in the form. It is only on the first visit. Very strange.

Any help would be appreciated.

The site in question.
ht

[2015-02-20 07:15] telray opened #827 "The problem with Russian phone codes"
If I'm being used by Russian codes, and a lot of them, the plug begins to slow down very much.
And they can not be used
The old version https://github.com/andr-04/inputmask-multi works correctly.

Example - http://jsfiddle.net/telray/jLLjm6j1/1/

[2015-02-20 09:04] RobinHerbots commented on #826
@chrishoadley ,

I see you are using version 2.5.  Can you retry with the current version first.

[2015-02-20 09:06] RobinHerbots commented on #827
@telray ,

There are still problems in the alternations.  I will have a look at it soon.

[2015-02-20 13:02] #451 closed

[2015-02-20 13:02] #824 closed

[2015-02-20 20:35] antch commented on #824
Thanks for fixing.  It looks like there's a `console.log` left in there.

[2015-02-21 22:44] matthew-dean opened #828 "Input mask can't be applied on other HTML5 input types"
This confused me for a while. I was trying to attach a numeric mask on an ```<input type="number" />``` element. No matter what I did, the input mask wouldn't apply. I finally figured out that the library only works with ```<input type="text" />```.  It looks like all other types are explicitly excluded. This isn't ideal because I'd like to mask the value, and also change the keyboard to numeric o

[2015-02-21 22:55] matthew-dean opened #829 "Numeric extension outputs a bunch of console logging"
Can that be removed?

[2015-02-21 23:24] matthew-dean opened #830 "Numeric extension doesn't seem to support min/max values"
I've tried a number or ways to set up an integer mask with min/max values, but I'm not getting anywhere.

I've done:

[code]
I've also tried:
[code]
It limits the field to integers, but it doesn't seem to limit the integer range. Does something need to be added for this to work?

[2015-02-22 07:52] RobinHerbots commented on #829
@matthew-dean ,

Done.  That was my mistake.

[2015-02-22 07:52] #829 closed

[2015-02-22 08:04] RobinHerbots commented on #830
@matthew-dean ,

I will fix this for integer.

[2015-02-23 11:28] StonesEditeurs opened #831 "Mask cache - 2 definitions for same mask"
Hi,

We have a trouble using jquery.inputmask when 2 elements have the same mask, but with each one its definition.

This is the code used to apply the masks :

			$("#Element_1").inputmask({
				mask: "Z{1,*}",
				definitions: {
					'Z': {
						validator: function (chrs, buffer, pos, strict, opts) {
							return { pos: pos, c: 'A' };
						},
					}
				}
			});

			$("#Element_2").inputmask(

[2015-02-23 12:49] RobinHerbots commented on #831
@StonesEditeurs ,

Normally you should define your definitions in advance and then use them on the view/page.  The maskcache is to speed up things a bit.

But the caching doesn't take the definition into account.  I will make a fix for this.

[2015-02-23 12:54] StonesEditeurs commented on #831
Hi Robin,
Thanks for your quick answer.
I will wait for the fix.
Regards.

[2015-02-23 22:33] chrishoadley commented on #826
Thank you for the reply Robin, i'm going to give it a try. We were weary of upgrading as last time we upgraded (not sure of version) we were having Android issues, input going in backwards. I'll let you know how it goes.

[2015-02-24 10:28] Chubrick opened #832 "Caret reseting on focus on phone"
When I focus on input (phone mask) with data, caret goes to start of input. How to disable this behavour?

[2015-02-24 21:55] Xenovore opened #834 "Phone input mask duplicates each character on Samsung Android tablet"
Similar to #705.
With this input mask:

    $( "#checkout-addr-phone" ).inputmask( "(999) 999-9999" );

. . . every digit entered is duplicated. E.g. if I enter "608555..." I get "(660)088555555". This is with the newest version of inputmask.

[2015-02-25 08:27] RobinHerbots commented on #834
@Xenovore ,

There are still problems in android.  In milestone 3.3 I will try to find a fix for android if possible.  See issue #465

[2015-02-25 08:45] xenaio-daniil commented on #834
@RobinHerbots ,
I think this is because of T9, no? At least after switch off this function everything works fine.

[2015-02-25 09:00] RobinHerbots commented on #834
@dekdegiv ,

Yes exactly.  If I could disable or handle the suggestions (compositions ) properly, all will work fine.

All info about is welcome.

[2015-02-25 09:19] xenaio-daniil commented on #834
@RobinHerbots ,
I think it can't be fixed except by switching off, because T9 work with word, but not with letter and it tries to change the whole word and ruins mask, but mask on its place tries to save itself.
I think, you can try to use a fake input for each leter with field reset after each symbol. But it looks like a big crutch.

[2015-02-25 14:10] RobinHerbots commented on #834
@dekdegiv ,

Yes a possible solution would be to just disable the mask when used on android.  Maybe playing with the input type can solve some things (input type=tel)

[2015-02-26 04:08] gregbiv commented on #758
any update? same issue

[2015-02-26 08:18] RobinHerbots commented on #758
@gregbiv ,

No not yet, but if you look at the assigns, you can see that I plan to look into it.  All related issues.

[2015-02-26 15:17] bilalyilmax opened #835 "How i fix that number problem?"
http://jsfiddle.net/70ou3fjp/1/
[code]
if i use that options, it doesn't work right.
if you enter tree number, u should see last zero return comma..
like; **123,0, TL** but it must **123,00 TL**
How i fix that problem?

[2015-02-26 15:32] RobinHerbots commented on #835
@bilalyilmax ,

I will have a look.

[2015-02-26 17:02] Xenovore commented on #834
We tried version 3.1.40 and the character duplication issue is gone there.

[2015-02-26 17:12] jcope2013 commented on #828
also interested in a solution

[2015-02-27 13:56] thiagotalma opened #836 "Standard phone numbers in Brazil"
Hello Robin,

I saw you implement testing for the phone numbers in Brazil. However, the rule is not exactly the one that tested.

The new Brazilian standard is only applied to mobile phones, which will receive the digit 9 as a prefix.

Then we have the following situations (regex):
Mobile Phones: `\([1-9]{2}\) 9[89]\d{3}-\d{4}`
Special mobile phones (not receive the extra digit): `\([1-9]{2}\) 7\d

[2015-02-27 16:53] beardfu opened #837 "Numeric max filter"
Hello,

When applying a max filter to a numeric input if a value is entered above the max the input seems to lose focus and the user can not delete digits until the mouse re-enters the input box.

Example here: http://jsfiddle.net/oj1q43h4/

Try entering a value above 5000 e.g. 6000, it will correctly cut off at 600 but you can not delete characters.

Test on Mac OS X Chrome, Firefox and Windows I

[2015-02-27 22:46] #831 closed

[2015-03-02 06:40] babupca opened #838 "auto Selection of the text field is not happening in the latest version 3.1.59"
Hi Robin,

I think the auto selection is removed in the latest version wihich is 3.1.59

When i was using the 3.1.26 version, on Tab from one text field to another text field, the auto selection of the text field is not happening.

I think i have raised a bug #733 (Tab issue), which was another issue, only in the firefox. It was fixed, but now in none of the text field on tab out, auto selection i

[2015-03-02 07:42] babupca commented on #838
Please tab from the Name Field to the weight field in the jqgrid. Weight field is not selected in the latest version and in the older version weight field is selected.

Version 3.1.62-7
jsfiddle - inputmask latest version 3.1.59 and above
auto selection not happening on tab out one jqgrid field to another field

## http://jsfiddle.net/BA251281/CzVVK/1425/

Version 3.1.26
jsfiddle - inputmask older

[2015-03-02 08:20] RobinHerbots commented on #465
https://dvcs.w3.org/hg/ime-api/raw-file/default/Annex.html
https://html.spec.whatwg.org/multipage/forms.html#input-modalities:-the-inputmode-attribute

[2015-03-02 13:29] RobinHerbots commented on #834
@Xenovore ,

Can you retry with the latest prerelease version 3.1.62-7.   ALso setting type: tel on the input element makes it a lot more reliable.

[2015-03-02 14:01] Mottie commented on #828
The problem is that modern browsers have all decided to follow W3C specificiations and have removed the ability to get a value from `selectionStart`, `selectionEnd` and `setRangeText` for input type email and number ([reference](https://html.spec.whatwg.org/multipage/forms.html#do-not-apply); also see [this discussion](https://code.google.com/p/chromium/issues/detail?id=324360))

![2015-03-02 07_5

[2015-03-02 14:26] RobinHerbots commented on #837
@beardfu ,

Fixed in the latest version

[2015-03-02 14:26] #837 closed

[2015-03-02 15:13] #830 closed

[2015-03-02 15:45] lowerends opened #839 "Avoid glitch when removing inputmask on submit"
Is there a way to avoid the glitch when removing the inputmaks on submit using ```removeMaskOnSubmit```? By glith I mean for example the decimal comma that get's replaced by a decimal point which is then visible for a short time before the screen refreshes.

I thought of using an ```onSubmit``` event handler to create a hidden clone of the field who's value will be unmasked and sent to the server.

[2015-03-02 16:42] Mottie commented on #724
Related to [#828](https://github.com/RobinHerbots/jquery.inputmask/issues/828#issuecomment-76715820)... modern browsers no longer support selecting text in input type email and number. See that other issue for more details.

[2015-03-03 03:52] Xenovore commented on #834
Ok, thanks. We're rather busy with other issues now, but when we get a
chance we'll revisit it.

On 3/2/2015 6:29 AM, Robin Herbots wrote:

[2015-03-03 12:00] hobojoe opened #840 "How to implement mask for these numbers?"
Hi,

I've been using this plugin for masks for a while and recently I tried to implement 2 different masks for the same input and couldn't do it.

It is for phone numbers. It should accept both (99) 99999-9999 and 0800-999-9999 (notice that it starts with 0800).

The main issue is that both masks have the same number of digits. How could I implement the masks so that it realizes the number starts

[2015-03-03 13:15] #724 closed

[2015-03-03 14:33] carlosvini opened #841 "No message with HTML5 validation"
Normally there is a message when you don't fill required fields like this:

[code]

But when i mask it, the message is not shown, i suppose it has to do with the field being focused.

Is there something i can do to fix this?

[2015-03-03 14:39] RobinHerbots commented on #841
@jp7carlos ,

I guess this can be solved by using the html pattern attribute.  I will try to build that in so that the required is autotranslated to the pattern attribute.

[2015-03-05 12:08] RobinHerbots commented on #761
@k-nickos ,

I tested with the WinPhone 8.1 emulator with visual studio and see no problem.

[2015-03-05 14:41] marnen commented on #761
I'm not the one who was asking about this.

[2015-03-05 15:14] carlosvini commented on #841
It seems to be a good idea, as long as it doesn't change fields that already have a pattern attribute.
I guess it will only work for simple patterns, since translating multiple patterns or functions wouldn't be possible.

[2015-03-05 16:26] RobinHerbots commented on #761
@marnen ,

Sorry ;-)

[2015-03-05 16:30] RobinHerbots commented on #734
@afattahi54 , @SnidelyWhiplash @simasalmani , @lilibit1985 ,

I added support for masking elements (tested on div) with the contenteditable attribute.

Masking on static elements will come very very soon.

http://jsfiddle.net/paqujz5w/

[2015-03-05 23:23] bdmay96 opened #842 "Form reset doesn't get same value as initial mask"
Hi

I ran into a problem when doing a form reset on an input using the "integer" mask, where the initial input value had decimals.  What would happen is I set the input to some value (12.34), and when I use the integer mask, it strips off the decimals (12), and that's working fine.

But when you trigger the reset, I think that it takes the original value and enters every character with the keypres

[2015-03-06 09:27] #842 closed

[2015-03-06 09:29] RobinHerbots commented on #842
@bdmay96 ,

Fixed ;-)

[2015-03-06 17:20] RobinHerbots commented on #734
http://jsfiddle.net/paqujz5w/2/

[2015-03-09 02:53] babupca commented on #838
@RobinHerbots ,

Could you please suggest me temporary option to fix this issue for current time, until this issue fixed.

[2015-03-09 07:28] RobinHerbots commented on #838
@babupca ,

Just for a test I added some extra inputs outside the jqGrid

http://jsfiddle.net/d1xncg3s/2/

Anyway I will have a look.

[2015-03-09 08:11] RobinHerbots commented on #838
@babupca ,

I see the difference, but it is actually jqgrid which should fix this.  Removing the inputmask, also does not select the input on tab.

First try to convince them to make there tabbing behave like it should.

[2015-03-09 12:58] KevinJannis opened #843 "Always show mask"
Is it possible to always have the mask visible, now it is only on focus or hover?

[2015-03-09 13:18] RobinHerbots commented on #843
clearMaskOnLostFocus: false

[2015-03-09 13:19] #843 closed

[2015-03-09 14:44] #835 closed

[2015-03-09 14:46] RobinHerbots commented on #835
It was due to the placeholder 0,00 you were using.  In the numeric alias you only specify the placeholder for the numbers.  Anyway, the extension now detects this and changes it automatically.

[2015-03-09 15:23] RobinHerbots commented on #699
To better understand the problem try .inputmask('9999[+9999][-9999]');

[2015-03-11 16:06] RobinHerbots commented on #699
@GMTA , @BugFixerr ,

Fixed in the latest version.  Can you have a try.

How do you use the optionals?  With the greedy true (default) or false ?

[2015-03-11 22:37] RobinHerbots commented on #836
@thiagotalma ,

It is the alternation which failes.  I will have a look at that.

Also, where can I find more information about the Brazil format with area codes etc. I want to use it for the phone alias.

[2015-03-11 23:00] thiagotalma commented on #836
Hello @RobinHerbots
Telephone numbers in Brazil are regulated by a government agency.

The changes were determined by a resolution, which can be accessed here:
http://legislacao.anatel.gov.br/resolucoes/2010/16-resolucao-553

If you have difficulties, I am available to help.

Hugs!

[2015-03-12 01:38] JCMais commented on #836
@RobinHerbots http://en.wikipedia.org/wiki/List_of_dialling_codes_in_Brazil

[2015-03-12 03:13] thiagotalma commented on #836
http://www.itu.int/oth/T020200001D/en

[2015-03-12 08:24] RobinHerbots commented on #827
http://dialcode.org/Europe/Russia/

[2015-03-12 09:05] RobinHerbots commented on #827
@telray ,

I imported the russian phone codes from inputmask-multi, it is a huge list.  Is this kind of detail needed?

[2015-03-12 15:26] ttback opened #844 "0 is inserted ahead of number to meet the mask"
So on Android(not seeing this on Desktop or iOS), when I have a mask set up for Date, mm/dd/yyyy, when I input 03/1, the input element becomes 03/01 without me typing the 0. Do you know what might trigger this behavior?

[2015-03-12 15:43] RobinHerbots commented on #844
@ttback ,

See #465

[2015-03-12 17:34] ttback commented on #844
@RobinHerbots  Thanks, will try the latest inputmask out now

[2015-03-12 18:18] ttback commented on #844
@RobinHerbots Great, it is working for me on Android 4.2 now.
By the way, a side question, what does the nojumps flag do? I thought it was related to the jumpy behavior. But I haven't figured out what it does so far.

[2015-03-12 21:17] gmta commented on #699
Tested the latest version; could not trigger the bug anymore. Seems to be fixed! Thank you very much.

Optionals are used with the default setting (greedy).

[2015-03-12 22:10] #699 closed

[2015-03-12 22:47] RobinHerbots commented on #844
@ttback ,

You can find it in the readme also, but it is used to change the caret behavior on 'static' positions in the mask.

say mask 99-999999  with nojumps set to true the caret will not jump over the - automatically but stay before.  This can be usefull with multiple masks.

[2015-03-12 22:47] #844 closed

[2015-03-12 22:50] RobinHerbots commented on #832
Can you provide some more info about the problem.

Mask used etc.

[2015-03-13 09:28] telray commented on #827
@RobinHerbots , yes. I need this huge list.

[2015-03-14 16:16] ghost commented on #827
Yes, the browser is extremely slow.

[2015-03-16 10:18] luntegg opened #845 "Moldova phone numver"
I can't enter Moldova phone number. Country code is 373, and in file all right, but this doesn't work. For example - +373-7790-****. I test your demo and see same problem too. Only number +3733... It's wrong.

[2015-03-17 05:14] hiddenman opened #846 "Phone mask slows any browser on any computer"
Hi,

Thank you for you good extension. However, when i define a simple mask like:

  $("#phone").inputmask({
       alias: "phone",
       url: "js/phone-codes/phone-codes.js",
       countrycode: "7",
       nojumpsThreshold: 4
  });

And then try to enter data, it validates/formats my data correctly. However, when i reach the end of the string and just try to type any new symbols/digits (while i

[2015-03-17 06:53] RobinHerbots commented on #846
@hiddenman ,

I know and i'm looking into it.

[2015-03-17 14:53] Kurumas opened #847 "Email with dot - paste not working"
Hello,

I´ve using the inputmask on my website for a while, but now I had to add various emails to my forms, and it was easier to copy and paste them from a table I received, but when I paste them, all emails lose the dots, like in the following example:

email: test.test@test.com
result: testtest@testcom

That happens even on the demo page (my script is copied from the documentation btw).

Sorry

[2015-03-17 16:34] RobinHerbots commented on #847
Fixed in the latest version

[2015-03-17 16:34] #847 closed

[2015-03-17 17:08] armyofda12mnkeys commented on #834
just wanted to mention, turning off Predictive text on the Samsung S4 helped another jquery mask plugin. and changing the keyboard to Swype also would fix this issue with that plugin.

I was hoping there was a way to disable predictive text via html attributes so wouldnt require user input (like adding autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"), but that didn't w

[2015-03-18 10:55] bippesbrandao opened #848 "onUnMask for Numeric values"
Hi,
thanks for this great extension!

I'm working with numbers in the german format which is "1.000,00". I'm getting an unexpected result for the unmasked value:
e.g.
<input id="testinput" name="whatever" type"text" value="1000.33" data-inputmask="'autoUnmask': true, 'alias': 'numeric', 'groupSeparator': '.', 'radixPoint': ',','autoGroup': true, 'digits': 2">

Masked value = "1.000,33" as expected

[2015-03-18 11:07] bippesbrandao commented on #848
Sorry, input field has been filtered:
data-inputmask='autoUnmask': true, 'alias': 'numeric', 'groupSeparator': '.', 'radixPoint': ',', 'autoGroup': true, 'digits': 2

value=1000.33

[2015-03-18 11:51] babupca commented on #838
@RobinHerbots ,

You are right Robin. I have searched the trirand blog, and found that, they does not implemeted this functionality.

--> http://www.trirand.com/blog/?page_id=393/feature-request/select-element-text-in-cell-edit-mode

They have suggested some functionality, but i did not used those option, instead i used the dataInit event in jqgrid, within that i have added this small piece of cod

[2015-03-18 12:13] babupca opened #849 "'change' event is not firing when used in datemasks with onkeyDown events."
We use the date mask for From and To fields for the entire application.

Here for the date mask's, i have written a autopopulate for the date, month, year and also time, this autocomplete method is called inside the onkeydown method from the framework side in mask, which is common for all the date related masks.

We have a scenario, where on 'chage' event of the From date, we have to set the To da

[2015-03-18 19:08] darkphoenixff4 opened #850 "Calling val() on masked input causes Javascript to crash"
Yeah, title says it all.  For some reason, when I call val on a masked input, either to get the value or to set it, the Javascript stops processing at that point.  This only happens on masked inputs, so...

[2015-03-19 01:30] chrisxh opened #851 "Alternator with alias?"
Hi,
Is it possible to use an alias as part of an alternation?  Specifically, I would like to use 'date' but also allow value of 0
Something like {mask: "(date)|(0)"}

Thanks,
Chris

[2015-03-19 08:14] RobinHerbots commented on #850
@darkphoenixff4 ,

I tested locally and see no problem.  Can you provide some more information.  The mask used.  The version? Which browsers?  Maybe an example.

[2015-03-19 08:17] RobinHerbots commented on #851
@chrisxh ,

No that is not possible, but would be a nice addition for the future.

[2015-03-19 08:42] RobinHerbots commented on #849
@babupca ,

Probably because the autocomplete functiuonality sets the value with jQuery.val and the mask does not see that as a change anymore when loosing focus.
I will see what I can do about it.

A quick fix would be to just trigger trhe change event in the autocomplete.

[2015-03-19 08:43] #838 closed

[2015-03-19 12:31] RobinHerbots commented on #848
@bippesbrandao ,

This is done because some backends (like ASP.NET/MVC) expects the value to be submitted into the users culture.  Otherwise the default binder on the can't resolve the value as a proper decimal.  Anyway you can modify the behavior in the onunmask callback.

Maybe a should add an extra option to allow retieval of the value as a number.

[2015-03-19 12:48] bippesbrandao commented on #848
Ah ok, I wasn't aware of that, but anyway an additional option would be the best as it wouldn't break backwards compatibility.

[2015-03-19 13:27] darkphoenixff4 commented on #850
I'm using version 3.1.61 on Firefox 36.0.1 on openSUSE.  The mask is A9A 9A9 (Canadian postal code pattern).  Oddly, it works fine in Firefox for Windows, so it seems to be a problem specific to Firefox for Linux.

[2015-03-19 15:22] RobinHerbots commented on #848
@bippesbrandao ,

I added unmaskAsNumber option in the numeric alias

[2015-03-19 15:22] #848 closed

[2015-03-19 15:23] jimithing277 opened #852 "NuGet Version Mismatch"
Current NuGet Gallery version is pulling down 3.1.57.  Running in to an issue that appears to be addressed in your latest distribution from GitHub.  Any reason why NuGet is using an out-dated version?

Shouldn't it pull down whatever is available on GitHub?

Thanks!

[2015-03-19 15:53] RobinHerbots commented on #852
@jimithing277 ,

It should have been on 3.1.61.  I will have a look.

[2015-03-19 16:17] RobinHerbots commented on #851
@chrisxh ,

Not tested but maybe like this.

$(selector).inputmask({alias: "date", mask: "(1/2/y)|0"});   (not tested)

[2015-03-19 17:27] jimithing277 commented on #852
Thanks @RobinHerbots!

Did you mean 3.1.62-45? I noticed that's the version showing in the GitHub dist folder.

[2015-03-19 17:45] coolblades opened #853 "IE8 doesn't support window.getSelection js error"
Problem:
In function caret, the test for window.getSelection is incorrect.
In the code it is testing with window.getSelection() which cause the code the executed instead of just test for existence.

Solution:
change the test to window.getSelection. Two places in the function need to be updated.

Once I made the change IE8 is happy again.

Thanks

[2015-03-19 18:32] RobinHerbots commented on #852
@jimithing277 ,

Version 3.1.62 is unreleased

[2015-03-19 18:41] RobinHerbots commented on #850
@darkphoenixff4 ,

Can you try the jsfiddle http://jsfiddle.net/b2qr2hjz/1/

I tested on Firefox36.0.1 on Ubuntu/Gnome3

[2015-03-19 18:47] #853 closed

[2015-03-19 18:51] RobinHerbots commented on #853
Thx !!

[2015-03-19 19:02] darkphoenixff4 commented on #850
Yeah, it works fine on mine.  It's odd.  I'm starting to wonder if I have a library conflict of some kind in my code.  Unfortunately, I can't just upload the page I'm working on, as it's not supposed to be publicly available until some time next week, or I'd just do that.

Edit: Okay, I tried turning off everything Javascript related except jQuery and InputMask, I turned off all of my Firefox plug

[2015-03-19 19:19] park896 opened #854 "jQuery .val() removes periods from email fields"
If you use the email inputmask on a field like this
`$("#txtEmailAddress").inputmask('email');`

and then subsequently use jquery.val method to set the value, the valHooks setup by your plugin are removing the periods from email addresses, both before and after the @ symbol. So p.v@p.com becomes pv@pcom after the call to `.val()`.

 `$("#txtEmailAddress").val('p.v@p.com');`

I am using version 3.1

[2015-03-19 22:29] jonesnc commented on #854
I'm also experiencing this exact problem.

[2015-03-19 23:13] RobinHerbots commented on #854
Hi, have a look at issue #847
It is already fixed but not yet released.

[2015-03-19 23:41] chrisxh commented on #851
Thanks @RobinHerbots

I've struggled with it a bit and no luck.  Have a fiddle started at http://jsfiddle.net/b2qr2hjz/2/

[2015-03-20 09:24] RobinHerbots commented on #850
@darkphoenixff4 ,

Do you get any error in the console?

Is there a way to share the page?

[2015-03-20 12:54] #854 closed

[2015-03-20 13:33] darkphoenixff4 commented on #850
No errors in the console, and not right now, unfortunately.  Not until next week, at any rate.  I'll toss a link in here once it goes live, though.

[2015-03-20 16:58] park896 commented on #854
Thanks. Yes that appears to be the same issue i guess i didnt find it in my searches because it was related to pasting.

[2015-03-20 22:28] renandecarlo commented on #836
@thiagotalma Your definition is not actually right.

There were mobile numbers starting with ~~5,~~ 6, 7, 8 and 9. Line numbers started with 2, 3, 4_, 5_.
So it was like that:

Mobile numbers: (99) (6789){1}999-9999
Line numbers: (99) (2345){1}999-9999

With the new rule, it adds a leading '9' to mobile numbers, exactly so that they can also use the 2345 initiations. Line numbers didn't change. So

[2015-03-20 23:06] thiagotalma commented on #836
@renandecarlo You are wrong.
I posted the official document above. You read?

[2015-03-20 23:10] renandecarlo commented on #836
@thiagotalma  Pretty much, where am I wrong?

[2015-03-20 23:14] thiagotalma commented on #836
:clap::clap::clap:
Muito maduro da sua parte.

O documento é claro. Não há o que se discutir.

[2015-03-20 23:22] renandecarlo commented on #836
Seu código no codepen não deixa colocar 2,3,4,5,7 depois do 9, que foi exatamente o propósito de se adicionar o 9 no começo.

Por ex, o celular (21) 97777-1111 falha no seu código. Assim como (21) 7111-1111, que são celulares válidos.

Veja que no [documento](http://www.itu.int/dms_pub/itu-t/oth/02/02/T020200001D0001PDFE.pdf), ele tem as seguintes especificações:

**Celulares**
`9XXXX XXXX`
Ex: 97

[2015-03-20 23:48] thiagotalma commented on #836
Now that you have read the document and understand the correct pattern we can talk.

My script is not working. And I gave up on making it work. It's getting a monster! When I have free time I work better at it, is currently impossible.

[2015-03-21 08:19] hiddenman commented on #846
I can help you with testing/debugging, if you want.

[2015-03-21 09:15] hiddenman opened #855 "email inputmask "isComplete" always returns true"
Hi,
I have a simple email input field, defined like:
$("#email").inputmask("email");

And then goes simple check:

if  ( !$('#email').inputmask("isComplete") ) {
error handling here
}

However, when user inputs only first part of the email, isComplete always returns true.

How do i check email for completion?  The regex in your email mask definition contains the second part as required, but it doe

[2015-03-21 09:59] hiddenman commented on #855
Just found, that it happens only when user inputs first part without @.

For example, if he enters "akornilov" and press Submit, isComplete returns true. However, if he enters "akornilov@", then isComplete returns false and requires the full email address.

[2015-03-21 13:07] RobinHerbots commented on #855
I will have a look at it on monday.bThx for the extra info

[2015-03-21 13:08] RobinHerbots commented on #846
Thx. I  reply back on monday.

[2015-03-22 15:53] chrisxh commented on #851
Better implementation, thanks to @RobinHerbots!

http://jsfiddle.net/b2qr2hjz/10/

[2015-03-23 08:41] RobinHerbots commented on #846
@hiddenman ,

The slow down is caused by the getTests function.  For example for the russion phonecodes there are +- 2400 alternations per call to getTests and that function is also called multiple times.  So to speed things up I need to enable caching on this.  The caching mechanism is already in place but It needs more investigation in which cases the cache needs to be cleared.

What could help

[2015-03-23 08:45] RobinHerbots commented on #836
@thiagotalma ,

Wait until the alternations are better worked out.

[2015-03-23 10:04] hiddenman commented on #846
@RobinHerbots Hi,

Thank you, will try.  One more question: is it possible to disable phonecodes tests if we do not need them?   All we want is to check whether the typed number starts from the correct country code and has correct length (according to the country code).
That would be enough in the most cases.

Btw, one more question which is more important (imho) that correct phonecode - local pho

[2015-03-23 11:01] RobinHerbots commented on #846
$(selector).inputmask("7|8 999 99 99");

[2015-03-23 12:01] StevenLangeraert opened #856 "NumericInput Causes err"
$("#priceInput").inputmask("9{1,3}\.9{2}", { numericInput: true, autoUnmask: true });

[2015-03-23 13:43] hiddenman commented on #846
@RobinHerbots Thanks. Actually, that doesn't work as expected.

Here is how it looks like:

http://ibin.co/1vokZGTfPnJJ

Here is what i can type here:

http://ibin.co/1vokW8u0OZcO
while it must be like 7 499 272 50 60.

And i can't delete 7 and put 8 on its place.

I defined it as you said: $("#phone").inputmask("7|8 999 99 99");

[2015-03-23 13:48] hiddenman commented on #846
@RobinHerbots Oops, sorry, i should have defined it as $("#phone").inputmask("7|8 999 999 99 99");
So i've just changed it and yes, it works.  Two glitches:
1. I can't delete the digit 7 by using keyboard.  Backspace just doesn't work.  I have to select by mouse this 7 and then press 8
2. Selecting by mouse hardly works, it always clears the selection and so on, so it will be a pain for a user.

[2015-03-23 16:29] RobinHerbots commented on #846
@hiddenman ,

Have a look at http://jsfiddle.net/v42kbLnu/1/

[2015-03-23 16:32] RobinHerbots commented on #856
numericInput and quantifiers doesn't work.

For the moment use the numeric alias.

[2015-03-23 17:47] hiddenman commented on #846
@RobinHerbots Thanks, that makes sense. Second example is better. Because users will try to delete the 7 and will be upset because they can't :-)

[2015-03-23 18:13] hiddenman commented on #846
@RobinHerbots Btw, one problem with your example where you say "Don't think just type 8 over the 7" - it's not possible to put cursor at the beginning of the input field by mouse. Just try, it will move it to the next digit, so it's only possible to press then the right arrow few times. But users prefer mouse and will be angry about that, imho.

[2015-03-23 18:50] renandecarlo commented on #836
@RobinHerbots Is there any way to remask the field dynamically? For example, do a `.mask` on a `onKeyDown` or `onKeyValidation`? That would make it possible then.
That would be a "dynamic alternator" or something along these lines.

[2015-03-24 09:23] RobinHerbots commented on #836
Yes you can just recall inputmask with a new mask.

Op ma 23 mrt. 2015 om 19:50 schreef renandecarlo notifications@github.com:

[2015-03-24 10:59] RobinHerbots commented on #846
@hiddenman ,

The cursor is positioned before the 7 when clicked, unless you already typed the 7.
Anyway, I'm further optimizing the behavior for the first to get the behavior of the second.

[2015-03-24 13:40] sureshbuzz opened #857 "Masking In the Middle of the Number/String"
Initailly thanks for the great plugin.

I was facing a while iam trying to mask digits in the middle of the string . i.e

Example:
I was trying to mask the below number in this format 9999xxxx99
input value : 1234567890

Output: 1234XXXX567890
Expected Output : 1234XXXX90

As iam checking the js file , I was unable to figure out the issue. Can anyone help to fix the issue??

[2015-03-24 17:06] RobinHerbots commented on #857
How did you define the mask?

[2015-03-24 17:54] Flo-G opened #858 "$.inputmask.isValid("1A", { mask : "1A" }) returns false"
Hi,
In version 3.1.62-67 (jquery.inputmask.min.js + jquery.inputmask.extensions.min.js),

$.inputmask.isValid("1", { mask : "1" }) returns true
$.inputmask.isValid("A", { mask : "A" }) returns true
but
$.inputmask.isValid("1A", { mask : "1A" }) returns false

You can replace 1 by any digit actually, you'll get the same result.

$.inputmask.isValid("1B", { mask : "1B" }) returns true

This seems li

[2015-03-24 20:03] darkphoenixff4 commented on #850
This one's actually starting to confuse me.  I finally launched the page at https://consultant.everydaystyle.ca/G2/scripts/Servlet/index.php?servlet=EConsultant&language=EN , but for some reason, now it's working... sometimes.  I can't seem to find any logical pattern to it; just sometimes with Firefox on Linux it works, and some times it doesn't.  Anyway, the best way to test is to fill out Maili

[2015-03-24 22:21] RobinHerbots commented on #858
@Flo-G ,

Yes, I will have a look at it.

[2015-03-26 14:22] RobinHerbots commented on #858
@Flo-G ,

Fixed.

[2015-03-26 14:22] #858 closed

[2015-03-27 16:46] lvisb opened #859 "Regex Latin Characters"
I'm trying to limit user to fill only letters and latin chars, but is not working.

Is my approach wrong or something to work on Regex?
http://codepen.io/anon/pen/QwoKjN

Thanks

[2015-03-27 17:06] err0x1a commented on #859
Hm! Seems to be a bug with Mac. Windows 8 is fine.

Well, I'm changing my mind, I'll let the user fill in anything, I can't take the risk of not receiving some data.

Thanks.

[2015-03-27 20:10] lukexggwp opened #860 "Mask alternation acts differently based on placeholder used (specifically using a space as a placeholder)"
https://jsfiddle.net/238pv2rs/

Steps to reproduce
1) create and input element with mask alternation ( ['999-999-9999', '+9[9][9][9][9]-999-999-9999'] )
2) use placeholder of space
3) go to the empty input and hit the esc key.

Notice the element value is now '+'

NOTE: If using placeholder of anything else ('_'. 'x') , this behavior does not happen

[2015-03-27 22:03] RobinHerbots commented on #859
what about just $(selector).inputmask("a", { repeat: "*", greedy: false});

[2015-03-30 08:33] fgarit commented on #858
Thank you

[2015-03-30 09:30] lena773 commented on #859
Hello,

I have a Problem. How can i delete a inputmask(). I mean, that i have ratio, in one choice must be the mask, in other no. So when i change the choice, mask stay on.

Thank you in advance

[2015-03-30 11:41] RobinHerbots commented on #859
@lena773 ,

 $(selector).inputmask('remove');

[2015-03-30 12:46] lena773 commented on #859
thank you^^

[2015-03-31 17:26] crreddys commented on #855
clearIncomplete is not working for email in Version: 3.1.62 but was working in Version: 3.1.55

$("#Email").inputmask("email", { "clearIncomplete": true });

when i enter invalid email id and jump to next control text is not getting cleared, this was happening in previous version.

[2015-04-01 09:47] sillentkil commented on #786
Hi,
I don't know if it is bad posting this here, but i have the same question and tough opening a new issue would be a bit double. I saw there was great progress on milestone 3.2 any thoughts on when this will be possible or maby a temporarily workaround?

Thanks,
Ricardo

[2015-04-01 14:41] nagyt234 opened #863 "Using alias 'url' limits the length to 60 characters."
I'm using version 3.1.62 with Yii2 and it seems that input length is limited to 60 characters if the format alias 'url' is used. Any idea?

[2015-04-02 16:09] err0x1a commented on #859
Robin, It works, I can fill áãà, but the idea was to use Regex to not let the user enter some type of character (like numbers, punctuation).

$("#test").inputmask('Regex', {regex:'[ÀÁÂÃÄÅÆÇÈÉÊËÌÍÎÏÐÑÒÓÔÕÖ×ØÙÚÛÜÝÞßàáâãäåæçèéêëìíîïðñòóôõö÷øùúûüýþÿa-zA-Z ]+'});

http://codepen.io/anon/pen/QwoKjN

[2015-04-03 04:49] destanoglu opened #866 "Indian currency support"
Hi,

Current version of inputmask does not support Indian currency format (Rs 15,98,54,875.00)
I have made a few changes and add "secondaryGroupSize" option to standart options. If you wanna take a look at the changes please look in inputmask.js and search for "OD_Edit" tag in this plunker http://plnkr.co/edit/qnPdf3fy7I6ASTBgvJjp
If these changes are suitable for you, will you please insert them

[2015-04-03 12:34] RobinHerbots commented on #866
@feralanPaladin ,

It looks ok, but can you send a pullrequest.  Make the changes in the numeric alias.

best regards,

Robin

[2015-04-03 12:54] RobinHerbots commented on #863
@nagyt234 ,

The url alias was written by someone else, and indeed there is a limitation in length.

I guess I should update the alias.

[2015-04-03 13:15] #852 closed

[2015-04-03 14:16] RobinHerbots commented on #840
@hobojoe ,

You got mutiple options.

You can keep checking the value and if it strts with 0800 you apply the new mask (0800-999-9999) or you create a custom definition which does the check.  Somethinh like (99)9z999-9999
where z checks if the chars before match 080 and in that case does not allow 0.  You define tha mask as ["(99) 9z999-9999", "0800-999-9999"]

It would be nice if the inputmask co

[2015-04-03 20:01] kaarthikraajan opened #867 "Android Chrome Browser"
we are using input mask plugin in our project to get the formatted field from user as follows

xx-xxx-xx

when user delete the last two x using the backspace in chrome browser and still want to delete the remaining content it is not allowing the user to go beyond the hyphen even if we press the backspace key. I found that Android is not triggering any key up/down event for its back space key.

is

[2015-04-03 20:26] kaarthikraajan commented on #807
I am facing a similar issue to reset the value with val(''), because on focus or mouse hover I still see the old value in the input mask field.

May i know the version of this fix?

[2015-04-06 14:26] kaarthikraajan commented on #867
is there any update?

[2015-04-07 09:19] RobinHerbots commented on #807
@kaarthikraajan ,

DId you try with version 3.1.62

[2015-04-07 09:26] RobinHerbots commented on #780
http://jsfiddle.net/sskr5qoa/6/

[2015-04-07 09:26] #780 closed

[2015-04-07 11:14] kaarthikraajan commented on #867
Thank you for marking this to your next upcoming version 3.3, I appreciate your immediate response.

[2015-04-07 11:24] kaarthikraajan commented on #807
Great Robin!! I just tried the latest version and it seem to be working fine, this is my work around for my android backspace issue#867 (I am definitely looking forward to your updated version 3.3)

I have introduces a clearable textbox now in mobile version to address this issue where I was using the val() to clear the input masked field, now when I tried with your latest 3.1.63 I am able to see

[2015-04-07 18:56] licarus commented on #821
Hi,
I ran into a similar issue where I need to mask the input (password type) but only limit it to just numeric (i.e. PIN number). I noticed that as soon as I changed the type to password, the mask wasn't evaluated at all.
I also noticed that in version 2.4.4, I'm still able to use the Password type and also limit it to just numeric but in version 3.1.48 doesn't work anymore. Is this on purpose?
M

[2015-04-08 01:29] Mottie opened #868 "Email mask incorrectly including underscore"
If I use the main demo email example and type in the following:
 <kbd>1</kbd>  <kbd>&rarr;</kbd> <kbd>&rarr;</kbd> <kbd>1</kbd>

The underscore placeholder becomes included with the email address.

Video: https://www.screenr.com/o66N

[2015-04-08 14:57] gaetanosestito commented on #785
Hi,
it seems that type="text" in input doesn't fire change event when use bootstrap.
<input type="text" class="form-control text-uppercase text-center" id="myID" placeholder="myIDph" >
if I remove type="text" change event fires well!!!

gaetano

[2015-04-08 17:11] rkodur2 opened #869 "Always display watermark/placeholder when input text is empty"
Is there a way to always display watermark if the text field is empty

[2015-04-08 19:45] haldiggs commented on #821
Take a look at the form validation.io project on github. Using that and its callback feature I was able to validate the input of my password fields

-----Original Message-----
From: "licarus" notifications@github.com
Sent: ‎4/‎7/‎2015 1:56 PM
To: "RobinHerbots/jquery.inputmask" jquery.inputmask@noreply.github.com
Cc: "Hal Diggs" cyberdiggs@gmail.com
Subject: Re: [jquery.inputmask] masking a passwo

[2015-04-08 19:46] licarus commented on #821
Ok. I'll check it out. thanks

[2015-04-08 21:32] RobinHerbots commented on #821
Type=password is judt disabled. I never thought about it in the context of plain inputrestriction.  I will have some tedts tomorrow and reenable it.

[2015-04-08 21:36] licarus commented on #821
Oh awesome. when you have republished the latest code, could you post it here so I can grab them? thanks.

[2015-04-09 07:06] #821 closed

[2015-04-09 07:06] #855 closed

[2015-04-09 07:16] RobinHerbots commented on #821
@licarus ,

Committed the changes to github, but not yet released.

[2015-04-09 07:21] RobinHerbots commented on #869
@rkodur2 ,

See https://github.com/RobinHerbots/jquery.inputmask#clearmaskonlostfocus

Set the clearmaskonlostfocus option to false

[2015-04-09 07:21] #869 closed

[2015-04-10 05:03] ankurdhrusoft opened #870 "Script looping start when add '.' between decimal values"
Script looping start when add '.' between decimal values
e.g.
if add 1000 and try to add '.' after 10, then its start looping
but its working fine while if we add like 10.00 continuously

i m using this script
$('.floatval').inputmask("decimal",{digits:2});

[2015-04-10 06:36] RobinHerbots commented on #870
@ankurdhrusoft ,

I will have a look. Thx for reporting.

[2015-04-10 11:40] feralanPaladin opened #871 "inputmask overwrites the jquery.val function"
Hi,

First of all these are my mask options;
element.inputmask( {
                                alias: "numeric",
                                rightAlign: true,
                                autoUnmask: true,
                                digits: "0"
                            } );

After masking operation I set the value of the element by jquery val() function to zero ("0"). But your li

[2015-04-10 11:56] destanoglu commented on #871
"Google 41.0.2272.118 m" is the version of  my browser.

[2015-04-10 12:08] destanoglu commented on #871
Hacky solution :
1- remove the mask by inputmask("remove")
2- set the value using element.val()
3- set the mask by inputmask( {
alias: "numeric",
rightAlign: true,
autoUnmask: true,
digits: "0"
} );

But there should be a more convenient way of doing these kind of operations ????

[2015-04-10 18:23] victorwpbastos opened #872 "yearrange as data attribute"
How to use `yearrange` as data attribute? I'm trying to do like this:

[code]

but doesn't work. Any ideas?

[2015-04-13 06:11] RobinHerbots commented on #871
@feralanPaladin ,

This seems related to #786

[2015-04-13 06:13] RobinHerbots commented on #872
@victorwpbastos ,

This is not foreseen.  I will add  it.

[2015-04-13 09:15] emattias opened #873 "Other color on placeholder (wrap placeholder in span, using contenteditable?)"
I want to have the placeholder be light grey and the inputed text be the regular textcolor. My thinking is that you have a wrapping \<span\> around the placeholder text.

[2015-04-13 13:14] Alex-Sokolov opened #874 "Get unmasked value in oncomplete"
Hi! Use this great plugin, but have small problem
I need to send value from field for statistic purposes with this code (value could be 10 or 12 numbers):

[code]

[code]

Only when I get another call for unmasked values all goes ok:
[code]

[code]

Is it right way to get unmasked value in "oncomplete" hanlder?

P.S.: Using jQuery 1.11.2 and jquery.inputmask 3.1.62

[2015-04-14 08:39] RobinHerbots commented on #874
@Alex-Sokolov ,

You can also just do

[code]

[2015-04-14 08:47] Alex-Sokolov commented on #874
Thanks!
There is a chance to get new unmasked value as one of parameter in oncomplete-callback in future versions?

[2015-04-14 09:20] RobinHerbots commented on #874
That would imply extra processing for every mask used.    Calling the val
function does this exactly when the autounmask option is given.

Op di 14 apr. 2015 om 10:47 schreef Alexander notifications@github.com:

[2015-04-14 10:54] Alex-Sokolov commented on #874
Ok! I think `var inn = this.value;` will work the same way for simple text input

[2015-04-14 12:03] RobinHerbots commented on #874
No only on firefox this will work. or on contenteditable where no native
value property is defined.

Op di 14 apr. 2015 om 12:54 schreef Alexander notifications@github.com:

[2015-04-14 12:09] Alex-Sokolov commented on #874
I tried in Google Chrome and that's work: in `this` show current `<input>`

[2015-04-14 12:37] RobinHerbots commented on #874
@Alex-Sokolov ,

Oh yes, dependent the mask used it will give the same result.

[2015-04-14 12:38] #874 closed

[2015-04-15 07:21] romanlaube opened #875 "Dynamic masks with {*} and zero repeats"
Hello,
I am trying to set mask 'OB9{\*}':
`$('#input').inputmask('OB9{*}', {clearMaskOnLostFocus: false})`

It means that valid inputs should be for example: "OB", "OB5", "OB13"... It is working perfectly if number is included. But in POST I get empty value for "OB" (with no number). Is this expected behavior?
I have also tried to set "removeMaskOnSubmit: false", but with no luck.

version: 3.1.63

[2015-04-15 20:57] badsegue opened #876 "Browser hangs after trying to type some additional digits at the start of a date field"
http://jsfiddle.net/htaexmx5/4/

Sample date is "23/01/2001"
Put caret before the 2 or before the 3.
Try to type a digit.
Browser will hang.

Affects Chrome, FF, IE

[2015-04-17 06:48] skyq opened #877 "inputmask duplicate numbers"
ex. http://test.nikolaywerner.ru/
$("#phone1_1").inputmask("+7999999999[999999]");
When you begin to enter the phone inputmask in the end adds 7.
Why?

[2015-04-17 10:06] lveeramani opened #878 "How to Restrict future dates in this framework?"
Hi,
I want restrict user to does not allow future dates and also restrict user to below than current date>

Is is possible in this framework.

[2015-04-18 13:51] ChJJin opened #880 "Browser hangs with the mask '9999[-9999]{*}'"
What I want is to repeat the mask `[-9999]`, but the browser will hang.

The code

[code]

[2015-04-18 22:00] Dodotree opened #882 "contenteditable decimal"
TypeError: Argument 1 of Range.setStart is not an object.

When you try to erase  the number, instead of entering zero it leaves nothing and then I can't enter anything at all with this error. Also caret behaves strangely, randomly going to the far left. It works better with  mask: "9{1,10}", but also develops caret problems in Fire Fox if mouse moves out of the field. If I use <input> tag it work

[2015-04-20 14:35] Hypnotec opened #883 "Backspace w/ Conditional Mask"
First, thank you for your support with this project.

Second, I am having an issue when handling backspaces and conditional masks.

See: https://jsfiddle.net/b85r457c/

I have dug around through closed and open issues alike and have found similar topics, but none as described (I believe).

As you will see, with the attached sample, if you input "22" followed by "%" then hit backspace, the user is

[2015-04-20 14:43] mjacobus opened #884 "Tab out does not work when element is readonly"
Hey there. When I set the read-only attribute on a element and try to loose focus on that element with tab it just won't work. It stay stuck on the masked element.

[code]

As a workaround I wish I could disable the mask, but it seems it is not a feature here. I think that is a nice-to-have.

Cheers!

[2015-04-20 14:52] Hypnotec commented on #883
I suppose it is worth mentioning that if I add the following attribute...

[code]

... I have no issue.

[2015-04-20 20:02] hiddenman opened #885 "Email mask doesn't allow to go to the domain part by mouse"
Hi,

Thank you again for the great product!
Ther is another little problem with email input mask:  when user types the first part of the email and want to switch to the domain part by clicking mouse button (yes, as you might know, most of the users never use keyboard and do even simple things by mouse), plugin doesn't allow that.  The only ways for users to type a domain:
* press right arrow key,

[2015-04-22 11:35] answer261 opened #887 "Regex don't work properly"
Hi! I have found couple of issues with regex.
I have such code:
$(input).inputmask('Regex', {regex : "^0|([-]{0,1}[1-9][0-9]{0,8})$"});
Steps to re-produce firts one:
1. Type '0' into input field
2. Put cursor before '0' and try to type any digit
User can not type any digit before '0'.

And the second one:
Type ininput field '-999999999'
1. Put cursor at the beginning of the row and remove '-' sig

[2015-04-22 18:45] jmanos opened #888 "Entering a period on a blank 'numeric' alias input not allowed"
Currently, entering a period into a blank *numeric* alias is not allowed.

This is an understandable behavior since '.' by itself is not considered a numeric value; however, many users will not type the leading 0 for decimal values. If the user does not pay attention to the value in the input, the user could easily type a number much larger than they meant (e.g. 3567 instead of .3567).

In one of

[2015-04-22 19:07] RobinHerbots commented on #878
@lveeramani ,

I will add this feature in a future version of the date alias.
For now have a look at https://github.com/RobinHerbots/jquery.inputmask#postvalidation

[2015-04-22 20:23] jmanos commented on #888
Though I doubt this will affect how you would implement this, I changed my own implementation a little and figured I should include it here. My Script now uses the `keypress` event instead of `keydown` and the `which` property of KeyboardEvent instead of `keyCode`. So it is now:

[code]

[2015-04-22 21:46] jmanos commented on #870
Yeah, I noticed this as well.

It occurs at the following code in the `setValidPosition` function of inputmask when `vps[i].input` is ".":

[code]

[2015-04-23 05:44] ankurdhrusoft commented on #870
Thank u very much for very nice support...
Your input validation plugin is awesome.... [?]

But do not understand, how can i fixed this [?]

On Thu, Apr 23, 2015 at 3:17 AM, jmanos notifications@github.com wrote:

##

Love & Prayer
Ankur

[2015-04-23 07:49] RobinHerbots commented on #870
I will have a look at it next week.
My dauhter Tess is born past thursday, so I have other priorities for the moment :-)

[2015-04-23 09:12] DatXN opened #889 "inputmask decimal with integerDigits or digits with maxlength can cause Browser freezed"
We are found a bug in the inputmask plugin:
•	When you are apply the input mask decimal with length check (ingegerDigit or digit with maxlength constrant) -> When user try to add more number or enter more character -> Browser is freezed
•	You can try on: http://jsfiddle.net/8Jpdd/666/

Can you verify this bug?

[2015-04-23 14:52] tarurar commented on #776
Any news ab this problem?

[2015-04-23 15:18] jlubeck opened #890 "Using mask to format any html tag?"
Is it possible to use this masking plugin to format a regular <p> tag?
I'm already using it with great results on inputs, but now I'm making a view-only page, and I'd like to use the same mask that I'm using on the input, to display the value on a <p> tag (or <span>), but it doesn't seem to work.

Any ideas?

Thanks!

[2015-04-23 15:22] #890 closed

[2015-04-23 22:19] jmanos commented on #889
Looking at the source code of the inputmask used in that jsfiddle, it seems like you (DatXN) are using an older version of inputmask.

However, the problem is still present in the latest version. The infinite loop caused here is present at the same place as in #870, so fixing one of these issues will likely fix the other (Input 2 in DatXN's jsfiddle is the same condition mentioned in #870).

[2015-04-24 02:34] DatXN commented on #889
@jmanos You're right, but I also found that this bug occurs not only when you add '.', but also when you add another number when the input already is at its max length stage.

[2015-04-24 05:20] Guy--L opened #891 "For 'decimal' or 'numeric' alias, how to show blank for zero values?"
This seems like a simple thing.  When the input has a zero value, show nothing in the input.  But I cannot find how to do this.  0 => ''.  This is a request for initial values as retrieved from the http response.

Do you have a way?  (I saw a prior issue requesting this; but the answer did not address the issue directly.)

[2015-04-24 09:00] jpontet commented on #870
Robin- I just want to point you in the right direction with this issue as it is something that we have had a problem in our company with as well and we have done our best to do a quick fix before you are able to fix it yourself- I expect you know the code pretty much inside out afterall!

So, I found that there is an endless loop (line 238) which appears to be caused because the code "positionCanM

[2015-04-24 13:31] RobinHerbots commented on #870
Thx for the info.  A fix will follow soon.

[2015-04-24 14:17] jpontet opened #892 "Can't delete digits after decimal point on negative numbers"
Hi,

Steps to reproduce:
* Create an input with a mask of decimal, and allowMinus: true
* Give the input a value of -34,873,289
* Then put a decimal before the 89, i.e. -34,873,2.89
* Delete using backspace from the current cursor position (which is to the right of the decimal)
* The result is .9 value remains which cannot be deleted with backspace or delete key

Note, see #870: we have implemente

[2015-04-24 22:30] hiddenman commented on #885
Hi,

Do you confirm that problem?

Thank you.

[2015-04-25 14:32] itbaran opened #893 "currency suffix having character 'A'"
Hi I have a function for different currencies masking:
[code]
------------------------------------------------------------------------------
when I want to submit this from form with ajax it does unmask all currencies like "USD", "GBT" but it does not unmask "AED"
what is the problem with currencies having character "A"

[2015-04-25 14:36] RobinHerbots commented on #893
There is a definition A. So you need to escape the A in the suffix.  See readme

[2015-04-25 14:40] itbaran commented on #893
Thanks RobinHerbots for prompt answer ;)
I did do escape as in the first line currency=currency.replace("A", "\A");
am I right? or I should do something else

[2015-04-25 14:47] itbaran commented on #893
I should mention it is well working when masking!
but the problem is when unmasking the "21,332 AED",
It sends "21332 AED" and does not remove "AED"

[2015-04-25 17:18] RobinHerbots commented on #893
Offcourse the suffix and postfix is autoescaped.  I will have a look at the unmasking. Can you make a jsfuddle with the example mask

[2015-04-25 17:26] RobinHerbots commented on #885
Yes, it would be nice to allow for better mouse navigation for the emailmask.

[2015-04-25 19:19] itbaran commented on #893
Hi, you can find it is not unmasked when form submitted:

http://jsfiddle.net/itbaran/n37t0fx1/14/

[2015-04-25 21:11] Sovetnikov opened #894 "Browser hangs when dot entered between numbers with "decimal" mask"
Confige mask: $('#id_totalLandArea').inputmask("decimal");
Then, 1. enter to the input field "33"
2. place cursor between "3" and "3"
3. enter "." -> browser hangs with 100% cpu.
Reproducible on this example http://jsfiddle.net/scottned/8Jpdd/4/
Tested in IE 11 and Chrome 42

[2015-04-25 22:50] drtzack opened #895 "Germany phone numbers"
I can't type germany phone numbers in +49(####)###-#### format.

[2015-04-26 08:56] #894 closed

[2015-04-26 08:56] Sovetnikov commented on #894
Duplicate https://github.com/RobinHerbots/jquery.inputmask/issues/870

[2015-04-26 12:22] afattahi54 commented on #734
Thanks it is very hopeful and we switched to this plugin !!
It seems that the mask is not working on all elements. Please see http://jsfiddle.net/paqujz5w/7/

The test2 div will not update with mask!

[code]

[2015-04-26 13:20] afattahi54 opened #896 "Change mask default for allowPlus and allowMinus"
How can I change the default value of allowPlus and allowMinus to false. I tried below but no luck:
[code]

[2015-04-27 05:25] RobinHerbots commented on #734
Only on divs and contenteditable elements. Maybe i also shoyld allow on other elements.

[2015-04-27 06:15] RobinHerbots commented on #896
I will update the readme with an example.

[2015-04-27 06:19] afattahi54 commented on #896
Thanks, It will help a lot!

[2015-04-27 07:27] afattahi54 commented on #734
It will be very good if you can allow it to work on all HTML elements. The project I mentioned,  http://igorescobar.github.io/jQuery-Mask-Plugin/, do this static mask  on all elements .

By the way, I have switch to your plugin and it seems the most full featured mask until now!

[2015-04-28 14:22] RobinHerbots commented on #889
The bug is fixed in the latest version on github. (not released)

[2015-04-28 14:22] #889 closed

[2015-04-28 14:23] RobinHerbots commented on #876
The bug is fixed in the latest version on github. (not released)

[2015-04-28 14:23] #876 closed

[2015-04-28 15:03] RobinHerbots commented on #734
The latest commit allows for masking other html-elements.

[2015-04-28 15:03] #734 closed

[2015-04-28 15:23] #896 closed

[2015-04-28 15:24] RobinHerbots commented on #896
@afattahi54 ,

Have a look at https://github.com/RobinHerbots/jquery.inputmask#set-defaults

[2015-04-29 06:59] afattahi54 opened #897 "numeric input in mobile"
It seems that the decimal with group  seperator is not working on mobile devices. You can test it on http://robinherbots.github.io/jquery.inputmask. Here what is happen
Type 1  :      input will be 1
Type 2  :      input will be 12
Type 3  :      input will be 123
Type 4  :      input will be 1,234
Type 5  :      input will be 51,234 <<< Here you will see an error

I have tested on Android 4.4 wit

[2015-04-29 07:12] afattahi54 opened #898 "Repeating a character and a number On Mobile"
Consider this mask:

[code]
It accepts the input starts with 'IR' with 24 numbers, It works fine on desktop. But on mobile this happens

You type '1'  : Input will be 'IR1'
You type '2'  : Input will be 'IR12'
You type '9'  : Input will be 'IR129'
You type '8'  : Input will be 'IR1298'
You type '8'  : Input will be 'IR8' <<< The mask will be deleted

This happens if you repeat one number
You can s

[2015-04-29 07:47] afattahi54 commented on #734
Thanks for that !

[2015-04-29 07:59] RobinHerbots commented on #882
@Dodotree ,

Can you give some more details.

Does it happen in all browsers or in a specific one?

[2015-04-29 08:46] Sovetnikov opened #899 "inputmask prevents focus change by TAB key on input"
When masked input got "readonly" user can't change focus from it to next input.
Demo https://jsfiddle.net/hn51xpnp/4/

[2015-04-29 08:48] #899 closed

[2015-04-29 08:48] Sovetnikov commented on #899
https://github.com/RobinHerbots/jquery.inputmask/issues/884

[2015-04-29 12:05] RobinHerbots commented on #884
@mjacobus , @Sovetnikov,

Fixed

[2015-04-29 12:05] #884 closed

[2015-04-29 13:32] afattahi54 commented on #898
Thanks for adding to to next release !

[2015-04-29 13:46] RobinHerbots commented on #898
@afattahi54 ,

I will try to fix it the next release, but it is possible that it is currently not possible on Android.

[2015-04-29 15:24] Dodotree commented on #882
In FireFox,Safari, Chrome.
As far as I can tell, the caret position at some point becomes undefined and then I can do nothing to change that. Sometimes it happens right away, sometimes I can manage to put the cursor in between numbers and it works a little, but if I try to erase or move to the start/end it breaks. Sometimes it randomly jumps to the first position of the line with the caret already

[2015-04-29 15:34] RobinHerbots commented on #882
@Dodotree ,

on a specific os?  with any mask?

[2015-04-29 20:22] Dodotree commented on #882
Systems have no influence on it, I have number of macs and windows.
Yes, 'decimal' alias. Or any digital.

If I don't use alias and put "9{1,10}" it works until I delete everything in the cell and then move mouse out of the field. The latter one is the most confusing behavior and happened at least on FireFox ( at which point I gave up trying )

[2015-04-30 02:21] matheusdavidson opened #900 "Conditional mask not working very well (99) 9999[9]-9999"
The conditional mask (99) 9999[9]-9999 will not work very well.

It works when the user press "-", but when you just type: 99 99999999(without using the [9] condition and not pressing "-") it will display: (99) 99999-999

Any help?

[2015-04-30 07:27] RobinHerbots commented on #900
@matheusdavidson ,

Have a look at http://jsfiddle.net/tedch2qm/

[2015-04-30 13:28] RobinHerbots commented on #882
FIxed

[2015-04-30 13:28] #882 closed

[2015-04-30 14:08] RobinHerbots opened #901 "Make keepStatic option also work for optional masks"

[2015-04-30 14:08] #900 closed

[2015-04-30 17:19] kjavia opened #902 "numeric alias produces "0.00" instead of null when cleared out."
I am evaluating this excellent plugin. When I clear an input field, it sets it to "0.00" instead of null. This maybe a known issue to you but would put it out here.

Am I missing something?

[code]

[2015-05-01 07:23] manukeerampanal opened #903 "Static masks fails when we set value="2015" for an input field where data-inputmask was "2999""
Static masks fails when we set **value="13156543210"** for an input filed where **mask** was **"19999999999"**.

The input tag is as follows:
**\<input id="phone_home" name="phone_home" class="inputmasker" type="text" value="13157056276" data-inputmask="19999999999"\>**

The function I wrote to get masked is as follows :
**$(".inputmasker").inputmask("mask", {"mask": $(".inputmasker").attr("data-i

[2015-05-01 14:43] matheusdavidson commented on #900
thats perfect @RobinHerbots.
I knew i was doing someting wrong, plugin is awesome by the way! :smile:

[2015-05-04 07:55] RobinHerbots commented on #903
http://jsfiddle.net/dt9vsd8r/

[2015-05-04 08:16] RobinHerbots commented on #903
@manukeerampanal ,

Fixed see jsfiddle

http://jsfiddle.net/dt9vsd8r/1/

[2015-05-04 08:16] #903 closed

[2015-05-04 09:16] RobinHerbots commented on #877
@skyq ,

Is this still the case?  Can you create a jsfiddle to isolate the problem.

I cannot reproduce it at here.

[2015-05-04 09:54] RobinHerbots commented on #870
@ankurdhrusoft, @jpontet ,

Fixed in the latest commit

[2015-05-04 09:54] #870 closed

[2015-05-04 11:45] #776 closed

[2015-05-04 11:48] RobinHerbots commented on #787
@unicron ,

try with .inputmask("99999[-9999]", { greedy: false });

[2015-05-04 11:48] #787 closed

[2015-05-04 11:59] wlasiukk opened #904 "decimal : extra number after delete and typing new numbers"
https://jsfiddle.net/5ds0kdct/

Steps to reproduce :
1) enter the field
2) press home to be at beginning of field value
3) press DEL key - whole value will be deleted (first issue!)
4) start typing new value eg : 12. After second number entered there will be "121,00" value in field, last "1" is added by library.

[2015-05-04 12:05] RobinHerbots commented on #904
@wlasiukk ,

I will have a look at it.

[2015-05-04 12:12] RobinHerbots commented on #893
@itbaran ,

set the  removeMaskOnSubmit: true,

http://jsfiddle.net/n37t0fx1/15/

[2015-05-04 12:14] #893 closed

[2015-05-04 12:15] itbaran commented on #893
I know, if I don't want to use removeMaskOnSubmit?
what should I do?

[2015-05-04 12:16] RobinHerbots commented on #902
duplicate of #786

[2015-05-04 12:16] RobinHerbots commented on #891
duplicate of #786

[2015-05-04 12:16] #891 closed

[2015-05-04 12:16] RobinHerbots commented on #871
duplicate of #786

[2015-05-04 12:16] #871 closed

[2015-05-04 12:59] RobinHerbots commented on #893
@itbaran ,

Indeed when you submit though an ajax call you can unmask without the option

See http://jsfiddle.net/n37t0fx1/16/

[2015-05-04 20:55] kjavia commented on #902
@RobinHerbots  thanks for addressing this.

[2015-05-05 06:41] HumungusFungus commented on #761
Hello @RobinHerbots,

We are facing the same problem in Windows Phone 8.1. Do you have an estimated time for publishing version 3.3?

Thank you very much.

[2015-05-05 08:14] jpontet commented on #870
@RobinHerbots thanks!

[2015-05-05 08:42] manukeerampanal commented on #903
@RobinHerbots :+1:

[2015-05-05 12:14] RobinHerbots commented on #883
@Hypnotec ,

In the first case he sees the . and % as static content and jumps over it as convenience when deleting.  But as they are also optional this gives the aboved described (strange) behavior.

Adding them to the definitions makes them not be treated as static content.

I will see if I can fix this,

[2015-05-05 14:15] 3m0 opened #905 "Mask does not alternate back after deleting digit"
I currently have this mask configured:

$('#phone').inputmask({mask:['(99) 9999-9999', '(99) 9-9999-9999'], removeMaskOnSubmit:false, clearmaskonlostfocus:true});

If I type any number with 10 digits, it works fine, and so does with 11 digits. However, if I type 11 digits and delete any digit, the mask does not alternate back.

Here's a jsfiddle: https://jsfiddle.net/6usy0chs/

[2015-05-05 14:49] rmingas opened #906 "UpperCase in "*****************" for Vehicle VIN codes"
How to force "*****************" to UpperCase when user inserts letters? I'm trying to use it for vehicle VIN codes

[2015-05-05 14:55] RobinHerbots commented on #906
Use # instead of \* and include the jquery.inputmask.extensions.js or use the bundle

[2015-05-05 14:57] rmingas commented on #906
Thank you very much! Worked like a charm...

[2015-05-05 15:15] #906 closed

[2015-05-07 11:19] #905 closed

[2015-05-07 12:35] #875 closed

[2015-05-08 18:05] dselec opened #907 "New user; getting errors, configuration isssue?"
Hi, sorry, I'm sure this is me.
Moving over from the Bush mask to inputmask.
Referencing jquery.inputmask.js in project.
Getting: Error: Unable to get property 'text' of undefined or null reference
or the same for 'InGroup' fro another field.
Thanks!

[2015-05-08 19:05] RobinHerbots commented on #907
Can you give some code sample or jsfiddle.  That will make it alot easier to see the problem.  Best regards Robin

[2015-05-08 21:45] dselec commented on #907
Hi Robin,
It happens in the quantifier:
[cid:image003.jpg@01D089AE.6E612740]
How I am calling it:
[cid:image002.png@01D089AE.6E5C6C50]
If I remove all the orginal *mask stuff, and use inputmask, I get the ‘text’ error, and if I only try the email link with inputmask, I get the ‘isGroup’ error.
I know I must have something misconfigured, just not spotting it.

You have done some wonderful work, tha

[2015-05-09 10:51] simasalmani commented on #897
Hi @RobinHerbots ,
I'm having the same problem,
looking forward to its correction
thank  you in advance

[2015-05-10 23:02] hiddenman commented on #885
Sorry for disturbing. When are you going to fix that? Do you need any help?

Thank you.

[2015-05-11 07:54] RobinHerbots commented on #907
@dselec ,

I can't see the images.   Can you make an example in jsfiddle or retry to send the screenshots.

[2015-05-11 21:50] dselec commented on #907
Updated jquery, now all is well.
This project had an older version.
Thanks!

From: Robin Herbots [mailto:notifications@github.com]
Sent: Monday, May 11, 2015 2:55 AM
To: RobinHerbots/jquery.inputmask
Cc: Dan Selec
Subject: Re: [jquery.inputmask] New user; getting errors, configuration isssue? (#907)

@dselechttps://github.com/dselec ,

I can't see the images. Can you make an example in jsfiddle or

[2015-05-11 22:47] #907 closed

[2015-05-13 13:46] billmn opened #909 "Problem with radixPoint on submit"
Hi all,
I'm using "currency" mask with EURO format like this number: __€ 123.456.789,22__

This is the configuration that I have used:
[code]

The problem is that when I submit the form or get the input value, the __radixPoint__ remain the same instead of reset to '.'

Infact I'm obtaining an incorrect format like: __123456789,00__ instead of __123456789.00__

How can I solve this?
Thank you!

[2015-05-13 14:54] RobinHerbots commented on #909
I know it is not in the readme yet but you can use the unmaskAsNumber option. See numeric extendions

[2015-05-13 15:11] billmn commented on #909
It works ... Thank you!

[2015-05-13 15:11] #909 closed

[2015-05-13 17:46] mreinhart commented on #644
Is there any way to implement the right to left yet?  So it places the caret here 0.00| and if I type 150 it's 1.50?

[2015-05-13 20:32] RobinHerbots commented on #644
Use numericInput option and define your mask 9.99

[2015-05-13 22:48] mreinhart commented on #644
Thanks for the reply! Sorry I still quite can't figure it out. The ltr works great on numbericInput but is there a way I can also have a comma separator, allow a number up to 1,000,000.00 (or infinite would be fine to) and also have a prefix of '$'?

[2015-05-14 17:40] RobinHerbots commented on #644
@mreinhart ,

That is on the list.  I'm working on it.

[2015-05-15 05:30] anshulgithub commented on #576
Code is not working in Google Chrome Version 39.0.2171.65 Ubuntu 14.04

[2015-05-15 06:06] anshulgithub opened #910 "Input Mak + Pikaday calendar not working in chrome"
Hello,

I am using this link https://github.com/RobinHerbots/jquery.inputmask/issues/576 for my implementation, but it not works in Google Chrome.

[2015-05-15 13:44] KrunchMuffin opened #911 "File header incorrect version displayed"
When I download, the version says "Version: 0.0.0-dev" instead of 3.1.63

[2015-05-15 14:04] RobinHerbots commented on #911
Have a look in the dist folder

[2015-05-15 14:08] KrunchMuffin commented on #911
ok, I see that. I checked 3 different files. In the download zip, download from the website and the js folder. So for the latest version we should be checking the dist folder all the time?

[2015-05-15 17:17] RobinHerbots commented on #911
That is correct. :-)

Op 16:08 VR 15 Mei 2015 schreef Derek notifications@github.com:

[2015-05-16 12:20] thomstark opened #912 "Each character repeats on Mobile"
Hi. I'm running these masks:

`$("div.phone_us input").inputmask({mask:"(999) 999-9999", "clearIncomplete":true});
$("div.height input").inputmask({mask:"9'9[9]\"", greedy:false, "clearIncomplete":true});
$("div.weight input").inputmask({mask:"99[9]lbs", greedy:false, "clearIncomplete":true});`

On Android Mobile (not tested on iPhone), the following bug occurs:

Type any digit (e.g., 2), the digi

[2015-05-18 04:53] shahvaiz opened #913 "Ajax call is causing cursor to jump to the right upon keyup"
I have an ajax call that runs upon keyup. Each time the user presses a key, the cursor jumps to the end. For example, if the field is $253,009 and the user attempts to remove the '3', the resulting value will be $25,009 and the cursor will jump to the right of the '9'. When I disable the ajax call, the cursor does not jump. Alternatively, if I disable the mask while keeping the Ajax call, the curs

[2015-05-18 06:21] afattahi54 commented on #912
I have same issue as mentioned
https://github.com/RobinHerbots/jquery.inputmask/issues/898
https://github.com/RobinHerbots/jquery.inputmask/issues/897
For now on i just disabled them, this function may help

[code]

and change inputmask function as below

[code]

[2015-05-18 07:48] RobinHerbots commented on #913
@shahvaiz ,

What do you do in the ajax-call?  Can you provide some more code.

[2015-05-18 08:24] #911 closed

[2015-05-18 09:59] RobinHerbots commented on #904
@wlasiukk ,

Fix in the latest commit

[2015-05-18 09:59] #904 closed

[2015-05-18 15:00] JoeyHoutenbos commented on #834
Disabling Predictive Text on Galaxy Tab 3 also fixes the problem.
Only problem is that I do not want my end-users to say they have to disable it x)

[2015-05-19 02:55] shahvaiz commented on #913
I was able to isolate the issue and create a JSFiddle. The issue has to do with 'keyup'. Each time the user tries to delete a random character, the keyup method triggers the 'inputmask' method and the cursor resets to the end. If I change it to act upon 'blur', the cursor behaves correctly.

https://jsfiddle.net/shanif/oeytxoy8/

[2015-05-19 03:12] shahvaiz opened #914 "Selecting and overwriting text will delete the character to the immediate right"
In the example below (using the value of $250,039): if I highlight the '3' and enter any new digit, the '9' will get deleted.

https://jsfiddle.net/shanif/wmf3527p/

[2015-05-19 08:04] RobinHerbots commented on #913
Why do you call the inputmask function on every keyup?

Op di 19 mei 2015 om 04:55 schreef Shahvaiz Hanif <notifications@github.com

[2015-05-19 09:52] JoeyHoutenbos commented on #465
Using the input type "tel" does indeed work, but this mask "9999AA" is not working on Android (Galaxy Tab 3) with the default Samsung keyboard. When I switch to another keyboard this is working or when I turn off the "Predictive text" option. Also a external (bluetooth) keyboard is working..
There are just some softkeyboards that aint working.. If I can be of any assistance with solving the Androi

[2015-05-19 12:20] wlasiukk commented on #904
Thank You very much for fixing it

[2015-05-19 14:37] shahvaiz commented on #913
Ah, you're right. I moved the inputmask function outside of keyup, and it works perfectly now. Thanks!

[2015-05-19 14:37] #913 closed

[2015-05-19 14:47] kidchenko opened #916 "Add inverse property"
In other plugins exists an inverse property that in money, start inputs by decimal digits

[2015-05-19 15:10] RobinHerbots commented on #916
use numericInput: true

Op di 19 mei 2015 om 16:47 schreef José Barbosa notifications@github.com:

[2015-05-19 15:22] kidchenko commented on #916
#644

[2015-05-19 15:38] kidchenko commented on #916
numericInput: true show it

![image](https://cloud.githubusercontent.com/assets/5432753/7706963/d642ed1e-fe23-11e4-97b7-0ae86026cdd6.png)

here my code

![image](https://cloud.githubusercontent.com/assets/5432753/7706991/ff9d682e-fe23-11e4-9865-f724fa058aa8.png)

[2015-05-20 09:01] omcg33 opened #917 "Phone mask prepend "1" to mask"
After update from 3.1.62 to 3.1.63, in all phone masks appeared figure "1".

I use your phone-codes.json

Initialize:
[code]

[2015-05-20 13:56] zeeshandesigner opened #918 "With the email section filled out with a valid email, if you attempt to add a character where the last character before the @ symbol is, it places the cursor before the current last character."

[2015-05-20 14:00] #918 closed

[2015-05-20 14:47] billmn opened #919 "Decimal separator conversion"
I'm using the "numeric" mask with this configuration:
[code]

When I try to press "," (comma), instead of prevent it, I would replace it with "." (dot) ... is it possibile?

Thank you

[2015-05-21 12:32] RobinHerbots commented on #892
@jpontet ,

Fixed

[2015-05-21 12:32] #892 closed

[2015-05-21 12:55] jpontet commented on #892
Thanks @RobinHerbots I will check it out!

[2015-05-21 12:55] #914 closed

[2015-05-21 13:15] jpontet commented on #892
@RobinHerbots can I asked what happened jquery.inputmask.js? Version 3.1.64-1 is 1361 lines but 3.1.64-48 is 58 lines...?

[2015-05-21 13:45] RobinHerbots commented on #892
You can find it in the changelog.

The idea is to separate the core inputmask functionality from the plugin
code for jquery. Future version may also work without jquery or with other
frameworks.

Op do 21 mei 2015 om 15:15 schreef jpontet notifications@github.com:

[2015-05-21 15:13] jpontet commented on #892
Thanks @RobinHerbots
Ive updated to version 3.1.64-48 however I dont find the above scenario is fixed.
Granted you cant put a decimal between 2 existing numbers, you have to put it at the end of a number and then define the remainder, however I still find that when you backspace delete all numbers to the left of the decimal the remainder still exists and you cant delete it.

[2015-05-21 15:19] RobinHerbots commented on #892
Hmm, can you create a jsfiddle to make it more clear.

Op do 21 mei 2015 om 17:13 schreef jpontet notifications@github.com:

[2015-05-21 16:04] jpontet commented on #892
I hadnt updated the numeric extension as well. Its is working as expected. Thanks.

[2015-05-22 09:37] #799 closed

[2015-05-22 13:09] RobinHerbots commented on #749
@nikomiranda ,

Can you retry with the latest version from github.

[2015-05-22 13:10] RobinHerbots commented on #198
@owen26 ,

It's been a while ;-)

But can you have a try with the latest version from github.

[2015-05-22 14:37] RobinHerbots commented on #888
@jmanos ,

Sounds good, I will add the functionality to the numeric alias.

[2015-05-22 14:39] RobinHerbots commented on #916
The inverse is already available but is not working for complexer masks.

See issue #644

[2015-05-22 14:39] #916 closed

[2015-05-22 14:43] #651 closed

[2015-05-22 15:49] shahvaiz opened #921 "Firefox: cursor jumps to the right when clicking anywhere on the value"
On Firefox, when you initially click anywhere on the value, the cursor jumps to the right. On subsequent clicks, the cursor does not jump. It works correctly on Chrome and Safari. I'm using the latest code via c6e8183.

[2015-05-24 22:16] 3m0 opened #922 "Add percentage mask"
There should be a mask that supports values from 0 to 100 with the % suffix and the possibility to define how many decimal digits are available. Since defining decimal digits does not work with a specific mask, I think the percentage mask type is more adequate.

[2015-05-25 20:55] RobinHerbots commented on #921
Can you provide some more info as i don't see a problem here.  FF/linux && FF/windows

[2015-05-26 08:55] RobinHerbots commented on #922
@3m0 ,

Can you have a try.  A new alias percentage is created

[2015-05-26 09:57] zeskysee commented on #483
Any update on this issue?

[2015-05-26 12:10] RobinHerbots commented on #483
@zeskysee ,

milestone 3.4

[2015-05-26 13:06] mtomas-mpm commented on #754
Cool! it's working fine on the same fiddle posted on the first comment: http://jsfiddle.net/nmu49ufe/

[2015-05-26 13:46] #754 closed

[2015-05-26 14:18] evdinursan commented on #921
I have the same issue. I upgraded to the latest version and I've seen this behavior on Firefox 38.0.1 and also on Internet Explorer 11.0. On Chrome it's working perfect.

This is how I'm enabling inputmask using jquery:

$(".numeric-mask").inputmask({
        alias: 'decimal',
        radixPoint: $("#hfDecimalSeparator").val(),
        clearMaskOnLostFocus: true,
        groupSeparator: $("#hfDeci

[2015-05-26 16:59] mseppy opened #923 "Chrome 43.0.2357.81 breaking change"
With the update of Chrome to version 43, we get the following error:

**Uncaught TypeError: Cannot read property 'masksets' of undefined  jquery.inputmask.js:750**
`(anonymous function)	@jquery.inputmask.js:750`
`jQuery.fn.extend.val		@jquery-2.1.0.js:7248`
`focusedIsDirty			@jquery.dirtyforms.js:254`
`onFocus				@jquery.dirtyforms.js:245`

We have confirmed it is Chrome 43, because doing the same

[2015-05-26 21:20] jgladch commented on #644
@RobinHerbots any ETA on the above solution (numericInput with dynamic masks)?

My team and I are in need of this.

Thanks again for the great library.

[2015-05-26 22:23] RobinHerbots commented on #923
@mseppy ,

Which version of the inputmask are you using?

[2015-05-26 22:58] #922 closed

[2015-05-26 23:55] RobinHerbots commented on #917
This seems to be fixed.

[2015-05-27 01:08] nikomiranda commented on #749
Hi . Thank you for your good work. Now the behavior is different, after typing 4 numbers the entire input box is deleted, also while typing the "Valid" and "Input" boxes of the demo page beside the input are highlighted multiple times like being in a loop.

[2015-05-27 07:58] evdinursan commented on #921
It behaves exactly the same - I'm using the latest version 3.1.64-70 and I'm using the jquery.inputmask.bundle.js file - made the test in Firefox and IE - the same behavior and also in Chrome - it's working.

If I'm clicking for the first time in a textbox, the carret goes at the end (selectedCaret.begin = selectedCaret.end = total number of characters in that textbox) but if I'm clicking the seco

[2015-05-27 08:38] RobinHerbots commented on #921
@evdinursan ,

You are right.  I will have a closer look.

[2015-05-27 08:59] #921 closed

[2015-05-27 09:00] RobinHerbots commented on #921
@evdinursan ,

Ok, now it should be ok ;-)

[2015-05-27 09:34] #917 closed

[2015-05-27 10:26] evdinursan commented on #921
Yes it is! Thank you!!!!

[2015-05-27 11:18] evdinursan opened #924 "Decimal looses digits"
Since the yesterday update (I think), if I'm doing a calculation and set a field with a float value, the textbox which has the inputMask enabled doesn't display the digits, though it's configured to have two digits. At the beginning, the initial value (0) is displayed correctly as 0,00 (using ro culture).

The textbox is being rendered like this:

<input id="PaymentReferenceValue" class="form-cont

[2015-05-27 11:48] evdinursan commented on #924
Made a bit of a research - I don't know if it will help you or not but this is what I got:

a) as I've told you I'm not using en culture, so in my case - the decimal separator is ","
b) on the method onBeforeMask (jquery.inputmask.bundle.js line 2255) you're splitting the initial value which is OK but later in that method, you do

initialValue = Math.round(parseFloat(initialValue) \* digitsFactor)

[2015-05-27 12:03] RobinHerbots commented on #924
@evdinursan,

Thx for the extra info.  The parseFloat expects a . as radixpoint and so truncates to the "valid value".

I will fix that asap.

[2015-05-27 12:13] #924 closed

[2015-05-27 12:15] evdinursan commented on #924
Thank you very much! It's working perfect!!!!!

[2015-05-27 13:52] RobinHerbots commented on #749
@nikomiranda ,

I can simulate it here.

[2015-05-27 14:00] Shalxxx opened #925 "IsValid on inputs"
Hi. I love this plugin, but I would really appreciate some visibile way showing if the input is valid or not. Especially when using regular expression. Let say by using some class or attribute.

For example when I make inputmask checking email address, phone number or required input, I would like to now when conditions are fullfilled.

Thanks.

PS: Sorry for my english

[2015-05-27 19:50] hiddenman commented on #885
Seems to be not fixed yet, right?

Thank you.

[2015-05-27 20:05] jgladch opened #926 "String with decimals is stripped to integer value before onBeforeMask"
I thought that #924 would hopefully help solve this issue, but since I'm not using the 'numeric' alias it doens't apply.

The issue:
- I'm trying to set up ATM-like currency input masking as mentioned in #644
- One of my fields (`price`) is a string formatted with decimals `'12.34'`
- I need to set up an `onBeforeMask` hook in order to adjust this value for the input mask (multiply by 100 so that

[2015-05-27 21:12] pudgeball opened #927 "Having some issues with mask "numeric" and digitsOptional"
Hey there,

I'm having some weird handling of 0 when it comes to one of my inputs when I have digits set to 2 and digitsOptional set to false.

If I enter 0.00 it thinks the user has entered nothing and my 0 doesn't persist.  Similarly if you enter just 0. it again doesn't persist the value.  However sometimes if I enter a valid value for example, 55, and then click away.  Then change delete that

[2015-05-27 21:49] shahvaiz commented on #921
Works perfectly for me as well. Thank you!

[2015-05-28 07:45] RobinHerbots commented on #885
@hiddenman ,

I first try to complete milestone 3.2.
When the issue is still open then it is on the todo list.  I will not forget.

[2015-05-28 07:51] RobinHerbots commented on #925
@Shalxxx ,

You can use the
      oncomplete: $.noop, //executes when the mask is complete
      onincomplete: $.noop, //executes when the mask is incomplete and focus is lost
     onKeyValidation: $.noop, //executes on every key-press with the result of isValid. Params: result, opts
callbacks for that.

oncomplete  add valid class
on incomplete remove the valid class
or something on onKeyValidati

[2015-05-28 07:51] #925 closed

[2015-05-28 08:12] jason-linthwaite commented on #465
Robin, I haven't looked at this for a while and just had a brief look through the posts above - did you incorporate a fix? Seems like a tricky problem...

[2015-05-28 12:58] RobinHerbots commented on #926
@jgladch ,

What do you got already?  Which mask / options /etc

[2015-05-28 13:41] RobinHerbots commented on #927
This is simular to #786

[2015-05-28 14:36] pudgeball commented on #927
Yeah it's basically the same issue.  You talk about removing postFormat from the numeric alias.  What sort of issues are stopping you from doing so?  I would love to be able to submit a PR fixing it, if I could.

[2015-05-28 17:07] jgladch commented on #926
[code]

[2015-05-28 19:23] jgladch commented on #926
Apologies! This was caused by our application code. Thanks again!

[2015-05-28 19:23] #926 closed

[2015-05-29 13:50] Rouche opened #928 "Is numeric carret position broken?"
Or there is something i dont understand.

Very simple code with latest vetsion http://jsfiddle.net/wnsjomyd/2/

When you put enough numbers, 1234567 in this example. the carret position seems to jump in opposite position.
Like i click between 4 and 5 it will jump between 2 and 3.

Is there any way to stop this? I expected it should not jump at all. or stay on the complete right like when its empty

[2015-05-29 13:53] RobinHerbots commented on #928
@Rouche ,

I see it.  I will fix it before monday.

best regards,

Robin

[2015-05-29 13:55] Rouche commented on #928
Sweet! Thanks!

[2015-05-29 16:53] smashercosmo opened #929 "Provide convinient method to unmask value"
We have access to formating function $.inputmask.format, that takes value and mask options and returns masked value. We need a reverse method that will return unmasked value.
P.S. Yes I know that there is $(element).inputmask('unmaskedvalue'), but it would be nice to have it as an instance method. It could be $.inputmask.unmask or $.inputmask.deformat or whatever)

[2015-05-31 05:56] #928 closed

[2015-05-31 06:12] RobinHerbots commented on #929
@smashercosmo ,

Ok, but how do you see it exactly? That you provide a value and some inputmask options and it returns the unmaskedvalue?  Or you provide a masked input and you want to retrieve the unmaskedvalue?

Btw $.inputmask is removed.  Use inputmask.format instead.

[2015-05-31 06:23] RobinHerbots commented on #927
@pudgeball ,

The postformat is needed for the grouping.  So I need to define a dynamic masks which automatically deals with that.  Maybe I can add an extra check in the postvalidation and generate a new mask definition there if needed.

An other approuch could be to just rewrite the whole numeric alias again and only use the postvalidation function.

Anyway feel free ;-)

[2015-05-31 20:49] smashercosmo commented on #929
Yes, I want to be able to use inputmask internal methods without applying the plugin to input field. If, for example, we have mask "blabla 9{0,}" and a string value "blabla 12345", I want to pass these as an arguments to some function like $.inputmask.unmask(value, mask) and get "12345".

[2015-06-01 09:35] zeskysee opened #930 "Escape optional marker, quantifiable marker, alternator marker and backslash not working"
If i want use the following character/marker in my masking, I would like to able to escape them to make them static character:
* optional marker [ ]
* quantifiable marker  { }
* alternator marker |
* backslash \\

E.g.
mask pattern: 999-\\[aaa\\]
mask placeholder: \___-[___]

mask pattern: 999\\|aaa
mask placeholder: \___|___

Or maybe any other way to make those marker and backslash work like sta

[2015-06-01 14:02] afattahi54 opened #932 "Avoid inputmask set the maxlength"
Is it possible to set inputmask on an input in the way that the inputmask does not change the  maxlength of the input?!

Or is it possible to change the maxlengh of an input after the inputmask  applied? below did not worked:

input.inputmask( "f{0,13}"); //f is a validator
input.attr('maxlength', 123);

[2015-06-01 20:10] RobinHerbots commented on #930
@zeskysee ,

Try double escaping them.  \\[

[2015-06-02 01:19] zeskysee commented on #930
Double escape also not working.

Please refer to the fiddle
http://jsfiddle.net/zeskysee/s1r6aow8/
- Escape special character row

[2015-06-02 03:20] zeskysee commented on #930
#933

[2015-06-02 13:25] vitalypanait opened #934 "Bug with code 38"
I use your phone extensions and when I add 38, I see "+38____)____-___" and can't add 0 after 38. When I press the space bar I can enter numbers.

[2015-06-02 23:03] #930 closed

[2015-06-02 23:17] RobinHerbots commented on #932
@afattahi54 ,

input.inputmask( "f{*}"); //f is a validator
input.attr('maxlength', 123);

[2015-06-03 17:19] TheKidCoder commented on #923
I am also seeing this error. Using version 2.5.10.

[2015-06-03 17:35] TheKidCoder commented on #923
I found that upgrading to version 3 fixed the issue.

[2015-06-03 18:08] #923 closed

[2015-06-04 08:19] zeskysee opened #935 "Escape value is inconsistent after mask"
If we are escaping the definition such as below

Example scenario:
[code]
Result will show 999_, instead of 9999 (correct expectation)

Example Scenario:
During creation: user key in 999 to the input and they see 9999
During search: user see 999_ in the input
One value (9) is being remove from the input field.

Please refer to the following [fiddle](https://jsfiddle.net/zeskysee/s1r6aow8/) "Escape

[2015-06-04 10:23] zeskysee commented on #935
#936

[2015-06-04 16:33] zacblazic commented on #898
This also happens in the decimal example (with group separator), which is what I'm using it for. In addition to not being able to enter duplicate numbers, it won't let you enter more than 4 non-duplicate numbers.

[2015-06-05 07:21] ansaus opened #937 "phone-codes.js is missing when installing with bower"
it doesnt include phone-codes.js when I install it with bower. so I cant use phone masks.
I just type "bower install jquery.inputmask"

[2015-06-05 20:23] kumar29 opened #938 "Default Enter key function getting lost on an input mask text field"
I have an onchange handler on a text input which gets fired whenever I type in the field and hit Enter key.
<input type="text" class="date-type" onchange="alert('Value changed')"/>

After applying input mask plugin, the onchange handler gets removed. The alert does not come up when I hit Enter. Is there a way to not lose this function which is baked into the browser?
<script>
        $(function(){

[2015-06-07 07:30] lilibit1985 commented on #932
It s working! Thanks

[2015-06-07 08:59] #932 closed

[2015-06-08 09:06] skysurfer72 opened #939 "Format javascript date object"
Hi.
I want to apply the mask for date in italian format (dd/mm/yyyy).
I have got two problems:
1) I can't apply the format using data-inputmask.
 <input id="prova2" data-inputmask="d/m/y'" ng-model="miaData" />
2) If i apply the input mask via javascript in this way:
$("#prova2").inputmask("dd/mm/yyyy", { placeholder: '_', showMaskOnHover: false, insertMode: false });
and i create a javascript dat

[2015-06-08 19:25] RobinHerbots commented on #939
@skysurfer72 ,

for the first use data-inputmask-alias="dd/mm/yyyy"
For the second I would need to implement the    onBeforeMask: function(initialValue, opts) callback

I will add this to the date aliases in milestone 3.4

[2015-06-09 01:32] owen26 commented on #198
hi robin,

Sorry for late reply. I tried the latest version of this plugin

with the config of

[code]

This time I'm unable to input any full-width numeric characters such as

I guess this is the expected behaviour with my config?

[2015-06-09 06:04] RobinHerbots commented on #198
No, it should work.  Can you have a look in the keypress event and see whick code you get for the fullwidth numeric chars.

[2015-06-09 07:01] RaphaelDDL commented on #198
@owen26 correct me if I'm wrong:

Keyboard as Japanese, set to Hiragana and using a simple page like this one: http://www.asquare.net/javascript/tests/KeyCode.html

When pressing any number from 1 to 0, the KeyDown for all is 229, what changes is the keyUp (1 = 49, 2 = 50, etc). After press, the auto-complete dropdown kicks in and when you pick the value, it won't trigger any other keyCode. But wh

[2015-06-09 07:33] RobinHerbots commented on #198
The input fires a compositionevent which i tranlate to keypresses.  What i
mean, see what keycode you get in the keypressevent from the inputmask;

Op 09:01 DI 9 Jun 2015 schreef Raphael DDL Oliveira <
notifications@github.com>:

[2015-06-09 09:07] owen26 commented on #198
@RobinHerbots

I captured the keycode using the following code:

[code]

unfortunately I'm unable to trigger keypress event when my input method is switched to full-width mode. When I switched back to half-width mode, it triggered as usual.

Personally I think it would be an acceptable behaviour for me, as the original reason I raise this bug is because full-width character interrupted the proper

[2015-06-09 13:30] RobinHerbots commented on #198
Try wih the compositionupdate event and watch the e.originalevent.data

[2015-06-09 18:23] maubin opened #940 "autounmask and knockout binding"
I have a view that has text input binded to a viewmodel with knockout. I noticed that when the viewmodel is updated by the knockout binding, the "autounmask" option is ignored. The value in the viewmodel will always contain the masked value.

Is this an issue and/or is there a workaround?

I made a jsfiddle that reproduce my issue. : http://jsfiddle.net/ak1r1bp1/1/

Thank you!

[2015-06-09 19:34] RobinHerbots commented on #198
@owen26,

I made a jsfiddle http://jsfiddle.net/Lgcnxa2g/

Can you try some wide chars and tell me what you get in the textarea.

[2015-06-09 19:38] RobinHerbots commented on #940
The jsfiddle shows the unmaskedvalue?  On which browser(s) are you testing?

[2015-06-09 19:40] maubin commented on #940
Sorry I forgot to add some instruction for the fiddle. When the page load the value is fine, it's unmasked. But when you go in the input and type a value (and the binding is updated) the new value in the viewmodel is masked.

[2015-06-09 19:48] RobinHerbots commented on #938
@kumar29 ,

Can you create a jsfiddle with an example as I tested the issue and the change event get triggered even when the inputmask is applied on the input and I type Enter

best regards,
Robin

[2015-06-09 20:11] maubin commented on #940
Removed: I realized I made a typo.

[2015-06-09 20:42] kumar29 commented on #938
Hi Robin,

Thanks for looking at this quickly. Here's a fiddle
http://jsfiddle.net/0wzzretd/1/

I enter a date and hit enter, the alert doesn't show. But if I remove the plugin, typing a value and hitting Enter pops up the alert.

Thanks,
Kumar

[2015-06-10 00:18] owen26 commented on #198
Hi Robin,

I tried your jsfiddle, but there is something seems not quite right. And when I type things(no matter what I typed), nothing comes out in the textarea. Please see the screenshot.
![qq 20150610081333](https://cloud.githubusercontent.com/assets/385786/8072472/c89c7244-0f48-11e5-8b81-d844a45f57ae.png)

I use the latest version of Chrome and Firefox under Windows 8.1

[2015-06-10 00:42] btruong opened #941 "Suppport for HTML5 numeric pad format for mobile devices"
Please see https://jsfiddle.net/8mo1mem0/

In order to activate the numeric pad format for mobile devices, we are using an HTML5 pattern attribute:
attribute="pattern="\d*""

However, adding this attribute appears to break the input for desktop browser where when you submit it, it will give the following error: (However, it seems to be ok on Safari so perhaps this is a browser specific thing and p

[2015-06-10 05:43] RobinHerbots commented on #198
What are your exact keyboard settings?

Op 02:18 WO 10 Jun 2015 schreef Xinan notifications@github.com:

[2015-06-10 06:59] owen26 commented on #198
Ah, actually when I use the built-in Japanese input method, the TEXTAREA can show the correct characters I'm typing such as "１, ２, ３". But when I use Chinese input method, it shows nothing.

I think it might have something to do with these input method's native behaviour. Some input methods (especially for Asia languages) put the characters you are typing into a temporary place (usually marked wit

[2015-06-10 13:23] maubin commented on #940
I realize I also made the same typo in my first fiddle. autounmask was missing a capital letter. I still have the issue in my project but cannot reproduce it in a jsfiddle yet. I'll try and make some more tests.

[2015-06-10 23:24] #935 closed

[2015-06-11 08:12] gwelr opened #948 "CTRL-x / Cut issue"
Further to https://github.com/RobinHerbots/jquery.inputmask/issues/659
Apparently, the cut issue is not over yet. When I cut a value from an masked input, the value is corretly removed from the field but it is not added to the clipoard.

EG: clipboard has 123456
Inputmask field has 654321
cut 654321 => inputmask field is empty
paste in another field => 123456 and not 654321

using jquery.inputmask

[2015-06-11 08:13] gwelr commented on #948
Posted to https://github.com/yiisoft/yii2/issues/8747 as well as I can't tell if the issue is in jquery.inputmask or in the Yii2 plugin.

[2015-06-11 09:41] RobinHerbots commented on #948
Ate you using the numericinput option?

[2015-06-11 15:22] itslittlejohn opened #949 "Set specific inputmask option on already initialized control"
Similar to how jQuery ui datepicker lets you set options piecemeal on an existing datepicker via the ```$("#datepicker").datepicker("option", { ... })``` method, I'd like to be able to add or update an option on an existing inputmask control. Is this currently supported?

Currently, it seems that if I try to do this, it overwrites the previous options

[code]
such that insertMode is now true but o

[2015-06-12 10:14] jpontet opened #951 "Min value doesn't work with allowMinus"
Hi Robin!

I have found this issue where if you set the option "allowMinus: true" and you then wish to limit the negative number and so add the option "min: -999" for example, you can still enter more than "-999" into the mask. We are also using the "decimal" alias.

See this fiddle: https://jsfiddle.net/apvmL5y4/

Any ideas?

[2015-06-12 14:30] itslittlejohn opened #952 "handle html-encoded text in data-attributes"
If I want to use a mask to get height, for example, I might do:

[code]

This is rendered as `_' __&quot`, instead of `_' __"`. I haven't looked too closely at the code, but would this be difficult to implement?

The example mask also doesn't work in the scenario where I do:

[code]

because the single quote needs to be escaped, but I'm happy to not worry about that. Thoughts?

[2015-06-12 14:39] brownbl1 commented on #952
Nevermind, I should have just looked more closely. using `9&#39; 99&#34;` as a mask worked fine in both cases.

[2015-06-12 14:39] #952 closed

[2015-06-12 19:18] brownbl1 commented on #949
Additionally, it would be great to have the `$().inputmask("option", "mask")` method functioning as a getter where `mask` could be any valid option.

[2015-06-12 20:36] RobinHerbots commented on #949
Sounds great!  I will add both.

Op 21:18 VR 12 Jun 2015 schreef itslittlejohn notifications@github.com:

[2015-06-12 20:48] BenjaminHorn opened #953 "Minimum number of characters"
Is it possible to have minimum number of characters?
E.g.: http://jsbin.com/furexirowa/1/edit?html,js,output

I set
[code]
The plugin should not let me delete the first character.

[2015-06-13 09:27] lilibit1985 commented on #898
I have the same problem. i would appreciate it if you could look into this matter.

[2015-06-13 09:56] Maahsima commented on #912
Same isssue :( When do you think we will have the fix of this ?! Thanks in advance

[2015-06-15 08:28] zeskysee opened #954 "Auto unmask not able to support escape character in middle of pattern"
If we are escaping the definition such as below

Example scenario:
[code]
Result will show aaa99, instead of aaa9 (correct expectation)

[2015-06-15 08:28] zeskysee commented on #954
Issue fix by PR #957

[2015-06-15 13:32] mrbokx opened #955 "updating a value on onincomplete event doesn't work"
Hi,

Changing a value onincomplete does not work (tested with 3.1.62-47):

$(".maskDatum").inputmask("dd-mm-yyyy", {
        yearrange: { minyear: 1000, maxyear: 9999 },
        "onincomplete": function () {
            $(this).val('01-01-2015');
        }
    });

Any thoughts?

[2015-06-15 13:43] mrbokx commented on #955
This worked correctly at 3.1.38 but has broken down at 3.1.39.

[2015-06-15 20:02] heidenator opened #956 "dir="rtl" Reverses input and mask"
999.99  applies the mask as 99.999
and when you type in the box it reverse the input so if I type 12345 it enters it as 54123
here is a link to jsfiddle to the issue.
http://jsfiddle.net/heidenator/wmg0js3g/6/

[2015-06-15 23:07] RobinHerbots commented on #953
@BenjaminHorn ,

As you can see when you delete all input you get an _ to indicate the required fields.

What would you do when there is no initial input?

[2015-06-15 23:10] RobinHerbots commented on #951
@jpontet ,

The check for the minvalue happens on blur only.  I may update it to also check the value on entering data.

[2015-06-16 07:32] BenjaminHorn commented on #953
If there is no initial input it could show "_" , but after the user typed/pasted a number, it could not be deleted anymore.

[2015-06-16 07:37] BenjaminHorn commented on #953
@RobinHerbots
If there is no initial input it could show '_' but after the user typed/pasted a number (or whatever character is allowed) it could not be deleted anymore, only overwritten.

[2015-06-16 09:08] jpontet commented on #951
Thanks @RobinHerbots . This is a feature we need- any advice on how to add it?

[2015-06-16 12:32] blaiseliu commented on #439
@RobinHerbots What is the "other option" instead of `maxLength`? Are you suggesting some regex pattern or 999 something? Is there some convenient parameter like maxValue or minValue to use?

[2015-06-16 13:24] RobinHerbots commented on #956
@heidenator,

Hmm I need to review the dir="rtl".

[2015-06-16 13:27] RobinHerbots commented on #439
@blaiseliu ,

In the numeric alias and derivatives you have the min and max option.  I definitly need to update the documentation, .... anyone who wants to do this for me?

[2015-06-16 13:30] RobinHerbots commented on #951
@jpontet ,

Use the postValidation callback in the numeric alias.

I did already a little test, but what would be the common desired behavior.  Should the plugin convert to the minvalue when you try to type a value less then the minvalue or should it just not allow it?

[2015-06-16 13:46] #955 closed

[2015-06-16 15:11] jpontet commented on #951
We would like the same behaviour as the maxvalue i.e just not allow it. I would appreciate any code you can share. Thanks

[2015-06-16 20:48] RobinHerbots commented on #951
Have a look at the postValidation callback in the numrric extensions. You only need to uncomment it.

[2015-06-17 07:56] jpontet commented on #951
Thanks for pointing me in the right direction @RobinHerbots

[2015-06-18 07:01] #954 closed

[2015-06-19 00:00] newenegue commented on #937
+1

It would be great to have this working with bower.

[2015-06-20 07:16] afattahi54 opened #958 "Number Mask With Fix Nine in it"
If I want to have a mask which fix starts with "1234" and has a dash with for number after it , I can use

    input.inputmask ({"1234-999"});

How ever if I want a mask which fix  starts with "1239" and has a dash with for number after it ,the below mask is not working

    input.inputmask ({"1239-999"});

As the "9" is a special character in mask and can not be used in the fix part of the mask ?

[2015-06-20 21:35] RobinHerbots commented on #958
You need to escape the fixed 9

Op 09:16 ZA 20 Jun 2015 schreef afattahi54 notifications@github.com:

[2015-06-21 12:48] afattahi54 commented on #958
That worked, thanks !

[code]

[2015-06-21 12:48] #958 closed

[2015-06-21 13:27] oswaldomilet opened #959 "Typing 1000 becomes 1.00 using groupSeparator=".""
When I try to apply mask to this input (using Riot):

[code]

After type "1000" the input value becomes 1.00 on blur, but if I type "1000,00" or just "1000," the input keeps 1.000,00

[2015-06-22 07:56] voidmain02 opened #960 "Repeat function doesn't work for dynamic masks"
I'd like to create input with following mask `\\\\a{*}\\\\a{*}\\\\a{*}\\\\a{*}\\\\a{*}`.

I expected this code will work:

[code]

But it produce input with mask `\\\\a{5}`.

[2015-06-22 08:14] voidmain02 commented on #885
This bug applies not only to the email mask, but to any dynamic mask.

The caret is always set to the closest valid part. The problem is that the algorithm does not consider empty is valid, although it should.

In my case mask is `\\\\a{*}\\\\a{*}\\\\a{*}\\\\a{*}\\\\a{*}`. I can't place caret to any position except first one.

Also If I set caret using the right arrow, type a value, and then start

[2015-06-24 19:04] jstnjns commented on #644
+1

Didn't think pressing `.` would be such a big deal to people.  I was wrong...

[2015-06-25 09:19] HumungusFungus commented on #761
Hello @RobinHerbots,

Is there any new about this issue?

Thank you very much.

[2015-06-25 15:58] dudo commented on #644
When we're dealing with people in finance, it is. It's a speed thing.

[2015-06-25 19:56] jstnjns commented on #644
I ended up circumventing with these configs:

[code]

It's not perfect, and has a limit with however many options 9's you put in, but it works for my needs.  Hope that helps somebody!

[2015-06-26 10:31] jpontet commented on #951
@RobinHerbots looking at the numeric extension the postValidation callback is not commented out. Do you mean it should be commented? I have tried this and it doesnt validate positive or negative numbers...

[2015-06-26 13:53] jpontet commented on #951
@RobinHerbots I have created a solution as per the following which is good enough for the time being. However the biggest restriction being that it will reject opts.min being more than 1 digit e.g. '5' will work as a min option but '55' will not- let me know what you think!

[code]

[2015-06-30 09:59] azhuchkov opened #961 "isValid doesn't work for particular mask"
I want to validate input value before applying plugin (because plugin amends current input value and in this case I just want to erase current value). But there is no way to invoke isComplete and $.inputmask.isValid fails for mask.

[2015-06-30 14:38] blaiseliu opened #962 "How to remove inputmask when an ajax form is submitted as FormData?"
It happens that my ajax form has a file upload input, and therefore I have to submit it with an `FormData` instead of a simple `.serialize()`. Then I found the `autoUnmask` on my jquery.inputmask no long effective.

Here is the example:
http://jsfiddle.net/btqtnumL/1/

When the form is submitted, the result from `.serialize()` has a value with input mask removed. But the result from `FormData()` s

[2015-06-30 18:01] electroholic commented on #786
Hi

Sorry to spam this issue but as with silent kill am after a workaround. I've tried extending the onUnmask call locally to my use of the currency alias and this works some of the time but unfortunately falls over as soon as you use back space to clear the value in the input.

any ideas would be gratefully received.

cheers

[2015-06-30 20:37] NikKosse opened #963 "Make numericInput work with complex masks"
I am trying to use your library like so:
[code]

But when I try to add ```numericInput: true ``` in there, it gives me an error saying that there is an error in the code or in my mask definition.  My ultimate goal is to have the input be handled so that to get $15.00 you just have to enter 1500.  From reading [this thread] (https://github.com/RobinHerbots/jquery.inputmask/issues/644) it is my unde

[2015-07-01 14:45] RobinHerbots commented on #951
@jpontet ,

I just posted a fix for the issue.

[2015-07-01 14:45] #951 closed

[2015-07-01 15:38] RobinHerbots commented on #961
@azhuchkov ,

Can you provide the mask you are using?

[2015-07-01 18:12] NikKosse commented on #963
Is there a way to accomplish our goal using your plugin?  Not to be a bother, but if you could get back  to me on this it would be great!  To make it clear (hopefully), the ultimate goal is to have the caret be on the far right side of the input box when clicking on said box, and remain there while inputting numbers.  We also want it to be formatted as a dollar amount, with the dollar sign, decima

[2015-07-01 19:21] azhuchkov commented on #961
I tried something like:

[code]

[2015-07-01 21:16] RobinHerbots commented on #961
I will have a look

[2015-07-02 12:22] RobinHerbots commented on #961
@azhuchkov ,

When you are using a version above 3.1.63 you need to use

[code]

[2015-07-02 14:02] #929 closed

[2015-07-02 20:32] dcleblond commented on #912
I don't know if this is the issue or not, but I've had a lot of problems with a lot of different input mask plugins. Apparently the Samsung stock keyboard sends the KeyDown event incorrectly.

[2015-07-03 08:43] RobinHerbots commented on #465
http://www.w3.org/TR/ime-api/
http://caniuse.com/#feat=ime

[2015-07-03 10:13] danielczestki commented on #948
Issue is in the jquery.inputmask
I have the same problem. i do not use numeric input option

[2015-07-06 14:43] #960 closed

[2015-07-06 14:56] #937 closed

[2015-07-06 14:57] RobinHerbots commented on #937
@ansaus , @newenegue ,

Should be available in the next release.  under extra/phone-codes/...

[2015-07-07 11:26] RobinHerbots commented on #959
@oswaldomilet ,

The options from the alias definitions aren't used.

I will fix that.

[2015-07-07 11:35] oswaldofreitas commented on #959
Thanks

[2015-07-07 13:39] #959 closed

[2015-07-07 14:27] #888 closed

[2015-07-07 14:55] RobinHerbots commented on #198
@owen26 ,

In the keyboard layout I find multiple chinese keyboard layouts.  I don't know which one to take.  I tried some and they all produce correct output.
Does the Chinese method triggers an input event?  I can ignore this case, but I just want to reproduce at my machine to make sure there is no trivial fix.

[2015-07-07 15:30] RobinHerbots commented on #919
@billmn ,

Added

[2015-07-07 15:33] billmn commented on #919
:+1:

[2015-07-07 21:22] gbronzer opened #965 "Auto position cursor at end of data on focus"
I'm trying to figure out how to auto position the cursor when a user tabs into an input mask that is partially completed. Our specific scenario deals with phone numbers where we prefill the area code with a default and want to start the cursor after the area code.

I can easily detect if they just have the area code and just position the cursor, but I'd like it to be intelligent in case they have

[2015-07-07 22:18] #965 closed

[2015-07-07 22:20] RobinHerbots commented on #965
@gbronzer ,

I added an option positionCaretOnTab.  Set it to true to position the caret

[2015-07-08 01:29] owen26 commented on #198
@RobinHerbots ,

I suggest you can install a third party input method called Sogou, which is the most popular Chinese input method on the market. (they are like 90% market share).
http://pinyin.sogou.com/

 Unlike other languages, the Microsoft embed Chinese input method is almost never used in real world.

If your plugin compatible with Sogou, then it's compatible with most of the Chinese people.

[2015-07-08 07:02] RobinHerbots commented on #198
@owen26,

Can you provide some screenshots with some translation of the tool, so that I kown what I am doing ;-)

It is chinese only and it's all chinese to me if you know this expression ;-)

I managed to install and select the pinyin ime by guessing, ... now how do I type the chinese wide chars?

[2015-07-08 07:39] RobinHerbots commented on #956
@heidenator ,

How would the inputmask deal with the dir="rtl" attribute?

[2015-07-08 10:15] billmn commented on #919
If I empty a field and tried to use "," (comma) as a decimal separator, the script prevent it ... is it normal?

[2015-07-08 11:22] RobinHerbots commented on #919
@billmn ,

Can you make a jsfiddle for it as I don't see the problem here.

[2015-07-08 13:08] gbronzer commented on #965
I'm using a nuget package that's older but I migrated your additions into it and it works perfectly. Thanks so much for an awesome plugin and your awesome support!

[2015-07-08 13:35] billmn commented on #919
Sure! https://jsfiddle.net/8ho816gv/

If you try to edit a populated field "comma" being replaced with "dot" ... with an empty field, the script prevent to type "comma"

[2015-07-08 13:55] RobinHerbots commented on #919
In which browser are you testing?

[2015-07-08 13:57] billmn commented on #919
Chrome 43.0.2357.132 64bit on OS X Yosemite

[2015-07-08 14:25] RobinHerbots commented on #919
@billmn ,

So you cannot type a comma in the first field?  Can you try in another browser.

I tried with windows 8.  I will try in Linux this evening.

Do you get something in the console?

[2015-07-08 14:27] billmn commented on #919
With Safari and Firefox works fine!

[2015-07-08 14:38] RobinHerbots commented on #919
@billmn ,

I will try to find a hackintosh to install Chrome on osx yosemite.

[2015-07-09 09:11] RobinHerbots commented on #919
@billmn ,

Now I see what you mean.  Overtyping 1234.56 with komma does not work.

I will fix that

[2015-07-09 09:24] violin0631 opened #966 "Date mask"
Hi.
I want to input date like as '2015/02' and i created mask is 'yyyy/mm' but it is not working.
I try with masks are 'y/m' or 'mm/yyyy', it worked but with mask is 'y/m' i can't input years > 2099, i've set:  {yearrange: { minyear: 1900, maxyear: 2299}

[2015-07-09 15:25] #646 closed

[2015-07-09 15:27] RobinHerbots commented on #919
@billmn ,

Fixed with the latest commit

[2015-07-09 15:27] #919 closed

[2015-07-09 16:49] billmn commented on #919
Great work!!!
thank you

[2015-07-10 11:56] sillentkil commented on #786
Sorry i also tried extending and ran into more problems, unfortunately i didnt had any time to look in to it any further.

I have my mask setup like this although not 100% what i want:
  mask: '9{0,*}[.99{0,5}]',
  greedy: false,
  autoGroup: true,
  digitsOptional: false,

[2015-07-10 13:57] #963 closed

[2015-07-10 14:03] RobinHerbots commented on #963
@NikKosse ,

The numericInput options now also works for complexer masks.

In the numeric alias there are still some issues when using the numericInput when deleting the content.

But that I will fix in #644

[2015-07-10 14:11] RobinHerbots commented on #644
Hi all,

[code]

is more or less working.  ... have a try and report the bugs in this issue.

[2015-07-10 14:29] RobinHerbots commented on #927
Follow issue #786.  I will close this one

[2015-07-10 14:29] #927 closed

[2015-07-10 15:52] NikKosse commented on #644
[Here is a fiddle I made that shows some bugginess.](http://jsfiddle.net/msj5qfu1/22/)  Thanks for working on this!

[2015-07-10 23:40] fredcido opened #967 "Hexadecimal mask"
What would be the format if I want to allow hexadecimal color masks?

[2015-07-11 00:31] garcia-jj opened #968 "Custom masks doesn't work with current release"
I'm trying to write some custom masks, like this:

[code]

But I'm getting an error saying that `inputmask` is not defined. And trying to use `$.inputmask` solves the error, but my custom mask is not registered.

There is some piece of code I'm missing.

[2015-07-11 05:42] RobinHerbots commented on #968
The inputmask class is only defined  in the current unreleased version.  The readme on github is also already updated for th e unreleased version.  You have to extend $.inputmask.aliases with $.extend from jquery

[2015-07-11 06:02] RobinHerbots commented on #967
What do you mean exactly with hexadecimal color masks?

[2015-07-11 06:03] fredcido commented on #967
White: #FFFFFF
Red: #FF0000

How do I use # and define just 0-9 and A-F ?

[2015-07-11 08:07] RobinHerbots commented on #967
Define a custom definition.   I will also add the hex definition in the  inputmask. extensions

[2015-07-11 14:09] fredcido commented on #967
How do I define a literal # instead of it understanding as maskSymbol?

[2015-07-11 18:59] RobinHerbots commented on #967
You need to escape it or don't  include the inputmask. extensions

[2015-07-11 19:33] jimithing277 opened #969 "Date mask bug"
Using a date mask of "mm/dd/yyyy" if you enter 06/30/2015 and then place the cursor at the "3" and enter "4" you are left with:

"06/d0/2015"

You can duplicate this using the demo on the site.

Expected behavior would be for the end result to show "06/04/2015".  Apparently this happens whenever the second digit of the day portion is "0" and you enter a value in the first digit between 4 and 9.

[2015-07-11 20:45] RobinHerbots commented on #967
get the  latest inputmask and try \\#######

[2015-07-11 20:45] #967 closed

[2015-07-12 23:32] pudgeball commented on #927
Will do! Thanks!

[2015-07-13 16:48] JosephChandler opened #970 "Some Country Code masks do not work"
Test Data:
     49 (Germany) doesn't work. After typing 49, ( appears with no ending ).
     52 (Mexico) doesn't work. After typing 52, I can't type more digits.
     84 (Vietnam) doesn't work. After typing 84, I can't type more digits.
     86 (China) doesn't work. After typing 49, ( appears with no ending ).
     592 (Guyana) adds an extra 2 after typing 592, and I can't type more digits.
    59

[2015-07-14 06:48] RobinHerbots commented on #970
@JosephChandler ,

Thx, I will need to verify case by case.

What do you mean exactly that it worked using snapshot 0.0.0 ?

[2015-07-14 16:27] ResidualEnvy opened #971 "Email mask not accepting valid emails"
johnsmith@ma.us.delta-corp.com

Something to do with the 2 periods and the dash.

[2015-07-14 18:11] mreinhart commented on #644
Thanks so much for the fixes! I still have the bugs that @NikKosse pointed out, should they be fixed? http://jsfiddle.net/msj5qfu1/22/

[2015-07-14 18:39] RobinHerbots commented on #644
Strange who closed the issue?

[2015-07-14 18:47] jstnjns commented on #644
@RobinHerbots Your commit message:

763df94942b5130dcf421aebda1b4f57ac79106d

[2015-07-14 19:24] RobinHerbots commented on #644
:-)

Indeed the "fixes #644"

[2015-07-15 08:01] afattahi54 opened #972 "Placeholder color"
Is it possible to change placeholder color ?!

[2015-07-15 08:05] afattahi54 opened #973 "Decimal mask accepts "123,456." (RadixPoint with no number after it)"
The decimal mask mentioned at http://robinherbots.github.io/jquery.inputmask/ , accepts "123,456."  which is not a valid decimal. It has RadixPoint with no number after it.
Can it be fixed ?!

[2015-07-15 08:24] RobinHerbots commented on #973
@afattahi54,

I can strip the radixpoint on blur

[2015-07-15 08:25] RobinHerbots commented on #972
@afattahi54,

Not yet, I will need to investigate the possibilities first

[2015-07-15 08:55] afattahi54 commented on #973
It will be great thanks!

[2015-07-15 15:45] shahvaiz opened #974 "Cannot overwrite characters when highlighting the characters to the right of the decimal"
When I highlight the characters to the right of the decimal place, I cannot overwrite the characters. In the fiddle below, when highlighting "231", I cannot overwrite the value.

https://jsfiddle.net/1w19aadt/2/

[2015-07-17 01:55] newenegue commented on #937
@RobinHerbots Thanks!

[2015-07-17 12:40] furyscript opened #975 "Ip address"
Ip address input mask?? In html.. data-inputmask=""...

[2015-07-17 13:31] RobinHerbots commented on #975
data-inputmask-alias="ip"

[2015-07-17 13:31] #975 closed

[2015-07-18 03:50] garcia-jj commented on #968
@RobinHerbots, thank you for your support. It works for me using this code.

[code]

[2015-07-18 09:14] #968 closed

[2015-07-18 16:55] ilovezy opened #976 "I can't press tab to change to another input field if I did not input anything?"
I got three input like this
![qq 20150719005040](https://cloud.githubusercontent.com/assets/8774988/8762586/25a96638-2db0-11e5-958e-842c301dd843.png)

and in the browser it looks like this,

![qq 20150719005235](https://cloud.githubusercontent.com/assets/8774988/8762591/5aa172c2-2db0-11e5-9f97-2dbb5763bd93.png)

when I got into the second input field, if I do not want to change the value in the se

[2015-07-18 17:07] ilovezy commented on #976
I mean, it seems that when I focus on a empty input field, I can not move to another if I dont press something,
my jquery code
![qq 20150719010746](https://cloud.githubusercontent.com/assets/8774988/8762669/76e34094-2db2-11e5-82b9-9948cc581fee.png)
is there any posibility that I use the wrong jquery selector?

[2015-07-18 21:16] RobinHerbots commented on #976
I will have a look on monday.

[2015-07-19 05:47] rgilling opened #977 "datetime12 mask is submitting value without the 'm'"
I'm using the datetime12 mask with auto-unmasking set to true. When the form is submitted, the value submitted to the server is formatted without the 'm'.

`200720150615a`

Input mask was created like this:

 $("#customerNoteForm .date-time").inputmask("datetime12", {
            autoUnmask: true,
        });

[2015-07-20 13:10] RobinHerbots commented on #974
Fixed

[2015-07-20 13:10] RobinHerbots commented on #973
fixed

[2015-07-20 13:10] #973 closed

[2015-07-20 13:14] RobinHerbots commented on #976
@ilovezy ,

Which version are you using?

[2015-07-20 18:43] shahvaiz commented on #974
The overwriting issue is fixed, but this release seems to have broken some other functionality. Please see the link below to my app: In Safari, I am no longer able to click into the "Interest Rate" field. The cursor seems to be locked in the "Loan Amount" field. In Chrome and FF, clicking on the "Interest Field Rate" field causes the cursor to jump to the left.

https://www.buckinghamfg.com/rates/

[2015-07-20 21:31] RobinHerbots commented on #974
Is this on osx? A quick test on win8 shows no problem.

[2015-07-20 21:36] RobinHerbots commented on #974
Maybe related to #976

[2015-07-20 21:43] RobinHerbots commented on #433
It's about time to think about this enhancement

[2015-07-21 12:42] ronin opened #978 "Avoid using valhooks"
So I had problem that after selecting value from dropdown, inputmask was resetting value to the previous one. It took me some time to find that the issue was with jquery-number plugin, which is also using valhooks and they were conflicting with inputmask.

I've described this problem in a blog post here http://www.visuality.pl/posts/use-less-jquery-javascript-plugins. Problem was only showing in S

[2015-07-22 07:44] RobinHerbots commented on #978
@ronin ,

Have a look at https://github.com/customd/jquery-number/issues/71

Tha valhook is used for browsers which don't allow for patching the original val property.

[2015-07-22 11:19] jpgamaral commented on #465
What's the status on this? I am also having issues using a date mask on Android.

[2015-07-22 15:23] RobinHerbots commented on #465
@jpgamaral ,

I guess as long there is no way to control the IME, there is no real solution to the problem.  See previous comment.

[2015-07-22 15:25] #978 closed

[2015-07-22 15:56] jpgamaral commented on #465
@RobinHerbots, okay thank you.

[2015-07-22 17:26] maubin opened #979 "Mask with numericInput true and parenthesis shows incorrect mask"
If you have a mask with parenthesis and numericInput true it invert the parenthesis direction.

Here's a jsfiddle to see the problem.

http://jsfiddle.net/y2euek5p/1/

[2015-07-22 20:31] maubin opened #980 "decimal mask with integerDigits 0 and groupSeparator shows an error."
When you have a "decimal" mask, integerDigits set to 0 and set the groupSeparator set it promps an error.

jsfiddle that shows the error: http://jsfiddle.net/yumv1ds6/
jsfiddle without the error and without the groupSeparator parameter : http://jsfiddle.net/an22kkn3/

I know it doesn't make sense to set a groupSeparator when you have integerDigits set to 0 but it doesn't show an error with other o

[2015-07-22 22:41] RobinHerbots commented on #980
I wil fix that tomorrow morning.  Thx for reporting!

[2015-07-23 01:03] renniebeach opened #981 "WCAG accessibility support"
Would it be possible to have some aria support built into the plugin?

e.g.
one of the main issues I have come across using this plugin when trying to make a site WCAG compliant, it that when setting focus to an input field with a numeric mask applied, when using a screen reader the mask is announced "underline underline underline underline underline underline underline underline underline underli

[2015-07-23 06:24] RobinHerbots commented on #981
@renniebeach ,

Some extra info:
http://www.w3.org/TR/wai-aria/states_and_properties#state_prop_def

I can add:

aria-invalid
aria-readonly
aria-valuemax
aria-valuemin
aria-valuetext

Any suggestions in particular?

[2015-07-24 10:05] RobinHerbots commented on #979
@maubin ,

Fixed with latest version on github  http://jsfiddle.net/y2euek5p/2/

[2015-07-24 10:05] #979 closed

[2015-07-24 10:06] RobinHerbots commented on #980
@maubin ,

Fixed.  see http://jsfiddle.net/yumv1ds6/1/

[2015-07-24 10:06] #980 closed

[2015-07-24 16:53] educo-adymorz opened #982 "Inputs are ignored on FF 39 on Android 5.0.2"
Using you first example on the demo page (http://robinherbots.github.io/jquery.inputmask/), I encounter the following problems on my Android 5.0.2 using Firefox 39:

1. I klick on the input field and I see the mask dd/mm/yyyy and the on screen keyboard pops up
2. I hit a number on the keyboard (e.g. 5). The mask stays unchanged, the inputs get ignored.
3. I hit a second number (e.g. 5). The mask d

[2015-07-25 16:41] ilovezy commented on #976
Not sure, sorry，I changed to another plugin, but I will test this soon

[2015-07-25 16:53] ilovezy commented on #976
I tried again, It still not work right, same problem,
![qq 20150726005317](https://cloud.githubusercontent.com/assets/8774988/8890336/96eeedb0-3330-11e5-8bb4-bebcc4c04534.png)
the version is jquery.inputmask-3.x, the newest one

[2015-07-25 16:56] ilovezy commented on #976
I am using WIN8.1

[2015-07-25 23:20] RobinHerbots commented on #976
Can you create a jsfiddle to show exactly the problem.

[2015-07-26 02:22] ilovezy commented on #976
http://jsfiddle.net/icehota/n0L1Lt53/

It's strange, it works good in jsfiddle,
but I truly got this problem on my chrome, dont know why,
I tried firefox and Opera ,it works good too , seems the problem is only on my stupid chinese made chrome ,
you should close this I think

[2015-07-26 09:31] RobinHerbots commented on #976
Can I download that chinese made chrome somewhere?

[2015-07-27 06:18] garcia-jj opened #983 "Numeric inputs with default value are setted to blank when submit the form"
I'm using this custom mask:

[code]

If the value in the input is `0,00`, when I submit the form the value is setted to blank value. Using firebug I see the values are sent as blank String instead of `0,00`.

[2015-07-27 07:05] RobinHerbots commented on #983
Duplicate of issue #786

[2015-07-27 07:05] #983 closed

[2015-07-27 07:49] garcia-jj commented on #983
I don't know if issues are the same because in my case inputmask is set my input to blank when the value is 0.00 when submit the form. But the issue #786 is about visual value of input.

[2015-07-27 08:14] RobinHerbots commented on #983
@garcia-jj ,

The value 0.00 is removed because it's the same as the placeholder.  The inputmask does not differentiate  wheter the 0,00 is an entered value or just the placeholder.  Solving issue #786 will also solve your issue.

[2015-07-27 08:45] #938 closed

[2015-07-27 12:04] shivabhusal opened #984 "Masking not working properly"
`$('input[id*="extension"]').inputmask('9{5}');`
![image](https://cloud.githubusercontent.com/assets/8004593/8905661/cf06d714-3487-11e5-821f-913079de2b4c.png)

Expected: We should not be able to create a void in between the digits as in the picture/snip or type digits in between empty space

[2015-07-27 12:52] RobinHerbots commented on #983
@garcia-jj ,

Can you have a test with the latest version.

[2015-07-27 12:58] RobinHerbots commented on #984
@shivabhusal ,

This is a masking plugin not a validation plugin.

You set a mask of 5 numbers.  You got 5 places where you only can input numbers.  The mask is just incomplete.

Maybe you can use the clearincomplete option to clear invalid input on blur.

[2015-07-27 13:11] RobinHerbots commented on #786
@MS37 , @sillentkil , @electroholic ,

Can you have a try with the current implementation.  Visually it is the same, but the behavior is different and also a 0 input is submitted on postback.

[2015-07-28 06:00] #984 closed

[2015-07-28 06:06] #961 closed

[2015-07-29 11:20] #433 closed

[2015-07-29 11:24] RobinHerbots opened #985 "tabThrough: Does not work with optional masks"

[2015-07-29 15:04] wurst0815 opened #986 "Mac Address input mask would be great"
Mac Address input mask would be great

[2015-07-29 20:34] #986 closed

[2015-07-29 20:34] RobinHerbots commented on #986
@wurst0815 ,

I added a mac alias in the inputmask.extensions.js.

Usage $(selector).inputmask("mac");

[2015-07-30 07:26] wurst0815 commented on #986
Excellent... thanks a lot!

-----Original Message-----
From: Robin Herbots notifications@github.com
To: RobinHerbots/jquery.inputmask jquery.inputmask@noreply.github.com
Cc: wurst0815 unserossi@aol.com
Sent: Wed, Jul 29, 2015 10:35 pm
Subject: Re: [jquery.inputmask] Mac Address input mask would be great (#986)

@wurst0815 ,

I added a mac alias in the inputmask.extensions.js.

Usage $(selector).in

[2015-07-30 22:29] warriorpostman opened #987 "Bug in minified version of regex extension."
Hope this is the right place to log this issue...I found a bug while using the minified regex extension script (testing in Firefox). The mask was non-functional, and in the Firefox dev console, I got the error "ReferenceError: Inputmask is not defined". I edited the minified script from `Inputmask` -> `inputmask`, and everything worked perfectly after that!

So, is this just a bug in the build pro

[2015-07-31 01:35] garcia-jj commented on #983
@RobinHerbots, thank you for your support. At this time with current unreleased version works fine. I'll waiting for a new release under CDN to update my projects.

Best regards.

[2015-07-31 05:38] RobinHerbots commented on #987
@warriorpostman ,

It should be Inputmask and not inputmask.  Did you also updated the inputmask.js ?

Can you create a jsfiddle to show the problem in FF.

[2015-07-31 10:45] CHOUAIAR opened #988 "Regex for input mask date"
How can I allow the client to type another digit then 1/2 in the year case?

thanks in advance

[2015-07-31 12:23] RobinHerbots commented on #988
@CHOUAIAR ,

I know I need to update the readme for the extensions, ...

but you can use     yearrange: {
                minyear: 1900,
                maxyear: 2099
            }, options for that.

[2015-07-31 13:37] williamsrb opened #989 "Focus loop on IE9 with numeric.extensions"
IE9 crashes when using inputmask.
But before the crash, something happens like a loop of focus in the input.
The html file hosted with scripts:
http://textuploader.com/a1xjv

Inputmask version: 3.1.64-118
Jquery version: 1.10.2

[2015-07-31 18:11] williamsrb commented on #989
Also happens on IE11

[2015-07-31 21:24] RobinHerbots commented on #989
Can you try with the latest version pn github

[2015-07-31 21:40] williamsrb commented on #989
I've tried the latest version, 3.1.64-150, still not working.
http://textuploader.com/a12ld
You can reproduce de problem too, just save the html file and open in InternetExplorer9+.

[2015-07-31 21:46] RobinHerbots commented on #989
I will fix it on monday

[2015-08-02 09:09] vercotux commented on #644
I have a question regarding the currency alias. I'm using it with _autoUnmask:true_ and _removeMaskOnSubmit:true_. Works great, but on submit I always get 0.00, even if the user has not touched the field. What would I need to do to ensure a blank value (no value or "") gets submitted when the user has not entered anything? I need to differentiate between 0 and no value.

Thanks in advance and grea

[2015-08-03 02:00] vercotux commented on #786
What about the non-visual part? The backend needs to know whether the user entered 0.00 or NULL (no-value). Tested it in current dev and it's still always getting "0.00" instead of "".

EDIT: Should I submit a new issue?

[2015-08-03 07:54] RobinHerbots commented on #644
@vercotux ,

I just fixed it for the currency alias.

[2015-08-03 08:00] vercotux commented on #786
Tested the update. Works beautifully.

[2015-08-03 17:07] shahvaiz commented on #974
I'm still having this issue on both Mac and Windows (Chrome, FF, and IE). On the link below, try clicking directly to the right of the '5' and the cursor will jump to the left.

On Safari, the Interest Rate field is locked - I cannot click into it at all.

https://www.buckinghamfg.com/rates/?tab=1

[2015-08-03 19:22] RobinHerbots commented on #974
@shahvaiz ,

The radixFocus option sets the caret just before the radixpoint on the first click inside.  Once the field has focus the caret stays on the clicked position.  Try disabling the radixFocus option.  I will have a look at safari tomorrow.

Hmm, ... maybe I can make the radixFocus a bit more intelligent to only set the caret to the radixpoint when it is desirable, ... no digits entered ye

[2015-08-04 00:25] shahvaiz commented on #974
Disabling radixFocus has the following effect:
1. No change in Safari or Chrome
2. On FF, the cursor does not jump to the left anymore. However, when clicking to the right of the '5' (in the value 4.125%), the cursor now jumps to the right of the percentage symbol.

The value in my form is pre-populated when the page loads. Typing a new value in the field does not change the behavior.

This issue