[2013-12-17 14:08] manrueda opened #396 "Error editing the integer value (Mask: decimal, Digits: 3)"
I have an input like this:

[code]

Trying to edit the integer part of the number, the cursor moves but the value is not changed. If I remove the decimal limit of the declaration of the mask, the error does not occur and i can freely change the value.

It is a bad implementation of the mask or really an error?

[2013-12-17 20:17] RobinHerbots commented on #396
@ManRueda ,

I will have a look at it.

best regards,
Robin

[2013-12-18 06:59] pavanik opened #397 "IE8 paste event for data input mask field is not working."
I'm having a problem when I'm pasting a value on IE8.

I used input mask for phone number.

$(document).ready(function(){
$(".homephone").inputmask("(999)999-9999");
});

We have applied the validation rule for phone number field.

Steps that we are following are below

1) First we are deleting one number from the field. Then its displaying the error message.
2) Then we copying the phone number(wi

[2013-12-19 13:11] RobinHerbots commented on #391
@adelina1985a ,

Fixed in the latest 2.x version.

[2013-12-19 13:11] #391 closed, assigned to nobody

[2013-12-19 13:44] RobinHerbots commented on #396
@ManRueda ,

Fix in the latest version in the 2.x branch

[2013-12-19 13:44] #396 closed, assigned to nobody

[2013-12-19 13:58] manrueda commented on #396
Thanks for fix it so fast

Regards.-

[2013-12-19 14:00] RobinHerbots commented on #397
@pavanik ,

Can you simulate the behavior in an jsfiddle.

That will be much easier to debug the correct situation.

Best regards,

Robin

[2013-12-20 12:41] rauchmat opened #398 "Allow input that doesn't validate against mask"
Is it possible to allow input that won't validate against the mask?

Example:
mask: "AT99 9999 9999 9999 9999"
- When the input starts with "AT" I wan't to see the mask with the definition from above.
- When the input start with any other character (not "AT") I don't want to have a mask, therefore supporting arbitrary inputs.

[2013-12-23 16:31] umartopia opened #400 "Having mmm (Jan, Feb,... ) in DateFormat"
Currently the plugin does not allow us to have a format which has mmm (Jan, Feb, ...)

Can you please let me know whether it is possible or not?

ITS URGENT

[2013-12-24 09:19] RobinHerbots commented on #400
@umartopia,

Out of the box this is not possible, but it is sure possible to implement.
What are you requirement?  What I mean do you want the user to enter jan, feb, ... or the number and show it as the text?

[2013-12-24 09:52] RobinHerbots commented on #398
@mattreek ,

Maybe try this:

[code]

[2013-12-24 14:08] umartopia commented on #400
I want the user to enter jan/feb/mar and while reading I need to read it as number
i.e.: user will enter 12/jan/2013 and I need to read it as 12/01/2013
However, even if we are not able to read it as 12/01/2013 then also it is OK...... But user must be able to enter it as 12/jan/2013

[2013-12-31 16:13] rrd108 opened #401 "optional mask at the begginning"
Hi,

I want to work with Hungarian date format what is yyyy-mm-dd and let the user type dates in a loose format, like if they type just "5" I would like to set the date to 2013-12-05 (actual year, actual month, given day). onincomplete callback would be perfect for this, but as I use "y-1-2" for mask when the user type "5" it is added as a part of the year.

I am sure it is possible but an not fin

[2014-01-03 17:31] albatrocity opened #402 "Multiple inputs masked, Integer mask doesn't allow typing"
I'm having an issue with a basic form using two masked inputs. I want to mask a telephone input and an integer input for comma-grouped numbers. I've made a [JSFiddle](http://jsfiddle.net/vA4cu/) that replicates the issue.

[code]

It seems that I can add as many basic (non-integer) masks as I want, but as soon as I add an integer mask, I can't enter anything into the other inputs. In the example a

[2014-01-03 18:01] ermish commented on #402
+1
I also noticed this problem when I updated to the latest version.

[2014-01-03 18:04] albatrocity commented on #402
@xasion noticing that the current state of the [2.6 branch](https://github.com/RobinHerbots/jquery.inputmask/tree/2.6) doesn't suffer from this issue. At least not that I've noticed.

[2014-01-04 18:00] RobinHerbots commented on #402
@albatrocity , @xasion ,

I will have a look at it.
Best ragards
Robin

[2014-01-05 10:51] RobinHerbots commented on #402
@albatrocity, @xasion ,

Fixed.  http://jsfiddle.net/vA4cu/1/

[2014-01-05 10:51] #402 closed, assigned to RobinHerbots

[2014-01-06 10:23] RobinHerbots commented on #401
@rrd108 ,

What do you want exactly?  What I mean, do you always want the year and month prefilled or not?  Just how can the mask know that you mean 5 as a day and not 2015?

Anyway I would start from the yyyy-mm-dd alias and then override the definition for y. Set a prefill in the prevalidator and return  the char and new position.

[2014-01-06 10:51] RobinHerbots commented on #400
@umartopia,

You can start from the alias dd/mm/yyyy.  override the definition of 2 to allow typing  jan, feb etc, ...

and then implement the onUnMask to convert the jan feb, etc to 01, 02, etc

[2014-01-06 10:53] rbirkby opened #403 "QUnit issues"
Hi,

I've downloaded the trunk tarball from github and ran the qunit tests and got 5 errors. Does this mean trunk is in an unstable state?

![image](https://f.cloud.github.com/assets/203034/1849910/00741424-76c0-11e3-830b-55c9239b733d.png)

I also ran the tests tagged with 2.4.0 and there is a similar number of test failures.

Thanks,
Richard

[2014-01-06 10:57] rrd108 commented on #401
Thanks. That is enough help for me.

[2014-01-06 10:57] #401 closed, assigned to nobody

[2014-01-06 13:51] RobinHerbots commented on #403
No, branch 2.x is or should be stable but the qunit tests already include
some tests for unimplemented features and known issues.

2014/1/6 Richard Birkby notifications@github.com

[2014-01-06 14:01] rbirkby commented on #403
What about the global variable pollution - for example, inputmask is defining an 'i' global variable.
It looks like inputmask sets 5 global variables:
- i
- unmaskedvalue
- isComplete
- mask
- rsltValid

Generally, I find that JQuery plugins define their variables on the JQuery object, not on window.

[2014-01-06 14:10] RobinHerbots commented on #403
I will have a look at those.

2014/1/6 Richard Birkby notifications@github.com

[2014-01-06 14:36] rbirkby commented on #403
A binary search tracked down this commit as the bad commit which introduced these globals:

https://github.com/RobinHerbots/jquery.inputmask/commit/ce7a9a993943192d8fc73431ffb1e13f84b93c9e

[2014-01-06 14:44] albatrocity commented on #402
Awesome. Thanks Robin!

[2014-01-06 23:38] RobinHerbots commented on #403
@rbirkby,

The global definitions are fixed.

Do you happen to know some good memory profilers for javascript?

[2014-01-07 08:13] rbirkby commented on #403
Thanks.

Re: Memory Profilers - I just tend to use the stock Chrome DevTools profilers - although the real-time memory graph in IE11 DevTools is really useful - until IE11 crashes, which it does regularly.

[2014-01-07 08:15] RobinHerbots commented on #403
;-)

How did you tracked down the commit which introduced the issue?

2014/1/7 Richard Birkby notifications@github.com

[2014-01-07 08:20] rbirkby commented on #403
I would like to say I used git bisect, but I don't know git that well, so I simply did a manual binary search on github.

[2014-01-07 08:24] RobinHerbots commented on #403
:-D

2014/1/7 Richard Birkby notifications@github.com

[2014-01-07 10:27] timgluz opened #404 "[enhancement] Add missing bower.json."
#### Hey, maintainer(s) of RobinHerbots/jquery.inputmask!

We at [VersionEye](https://www.versioneye.com/signup?promo_code=BOWER) are working hard to keep up the quality of the bower's registry.

We just finished our initial analysis of the quality of the Bower.io registry:

**7530** - registered packages, _224_ of them doesnt exists anymore;

We analysed **7306**  existing packages and  **1070**

[2014-01-07 10:45] RobinHerbots commented on #404
Hi Timo,

I thought it needed the component.json

2014/1/7 timgluz notifications@github.com

[2014-01-07 11:25] timgluz commented on #404
component.json is still valid; but Bower recommends to use bower.json now;

Actually, your project is fine; we just checked master&develop branches to optimize our github requests;

[2014-01-07 12:26] RobinHerbots commented on #404
@timgluz ,

Ok great!

Anyway I will modify the component.json to bower.json.

[2014-01-07 15:43] rauchmat commented on #398
@RobinHerbots ,

Thanks for your reply. Although your variant is better than mine, it isn't exactly what I wanted, because it doesn't allow arbitrary inputs (in length and characters) for strings not starting with 'AT'. My approach was to remove the mask, when the first two characters are different from 'AT' and mask the input again otherwise, but I couldn't make it work. Do you have an idea, how

[2014-01-07 15:50] RobinHerbots commented on #398
Use the onKeyValidation callback which is executed on every validation
(keystroke)
Verify the input and remove the masking with ...inputmask("remove").

Eventually also bind on the input event todo the reverse.  (reapplying the
mask)

2014/1/7 mattreek notifications@github.com

[2014-01-07 19:24] rauchmat commented on #398
onKeyValidation wasn't sufficent because it wasn't triggered, when I hit the BACKSPACE key to delete the "AT" prefix of the mask. I tried onKeyUp and it works finally. It's not the most elegant solution but in case somebody needs it here is the code anyway: http://jsfiddle.net/mattreek/z5wN9/1/.

Thanks for your support!

[2014-01-07 19:24] #398 closed, assigned to nobody

[2014-01-07 22:39] #403 closed, assigned to nobody

[2014-01-09 07:59] RobinHerbots commented on #404
done

[2014-01-09 07:59] #404 closed, assigned to nobody

[2014-01-09 09:36] timgluz commented on #404
Thanks.

[2014-01-09 20:08] avoev opened #405 "IE8 and inputmask('decimal', { allowMinus: false, allowPlus: false })"
I noticed that this causes the signedExpression in
jquery.inputmask.bundle.js:2332

var signedExpression = "[" + (opts.allowPlus ? "+" : "") + (opts.allowMinus ? "-" : "") + "]?";
to return an empty [], which breaks in IE.

The fix is just to add a space somewhere: i.e. ..."[ " + (opts.allow ... which will effectively return
[{SPACE}] and it will fix the IE problem.

Is this something we can enter

[2014-01-10 06:15] mrapaka opened #406 "Regex mask is not working with knockout"
If I change the value of a text box which have regex mask through script side in knockout then it is not reflecting in the textbox(It is changing to new value then immediately it is again converting to old value).

Any suggesions would be appreciated.

[2014-01-10 08:23] RobinHerbots commented on #406
@mrapaka ,

Is this only with the regex mask or also with other masks?

Can you make a jsfiddle which shows the problem?

best regards,

Robin

[2014-01-10 08:26] RobinHerbots commented on #405
@avoev,

Thx for reporting.  I will submit the fix asap.

[2014-01-10 10:47] #405 closed, assigned to RobinHerbots

[2014-01-10 11:37] mrapaka commented on #406
Hi Robin,
Thank you for your response.
Js fiddle is in http://jsfiddle.net/bxfXd/3329/
It is working fine in Firefox but not in IE9. Initially I checked my app in IE, thats why I opened this discussion. Pl check why it is not working in IE9.

[2014-01-10 12:50] RobinHerbots commented on #406
http://jsfiddle.net/bxfXd/3344/ (updated refs)

@mrapaka,

This is because knockout uses the native value property to set the value and does not use jquery.val.

In firefox I am able to override the native value property, but in IE9 & chrome it is not possible.

Can you modify the way knockout sets his values?

Anyway I will also see if there is an alternative way to detect value setting throught

[2014-01-13 06:19] mrapaka commented on #406
Hi Robin,

The updated jsfiddle example is also not working for me. After updating the value of textbox in knockout subscriber, It is hitting the blur/mouse leave events of inputmask.js. In that it is resetting to old value.

[2014-01-13 08:21] RobinHerbots commented on #406
Yes I know it is not working in jsfiddle, I just updated the references for
testing.

I explained why it probably is not working in IE9.  The best solution would
be that knockout uses jquery.val, then it will work for all browsers.

Maybe I can add a workaround, to first check that there is another value in
the textbox then expected.

2014/1/13 mrapaka notifications@github.com

[2014-01-13 10:17] Skiv22 opened #407 "dd/mm/yyyy mask: script fails"
when setting minimal year for date mask 1000, and entering date 01/01/1000 - script fails on year entering on 3rd symbol and doesn't allow to finish. Tested in IE, FF, Safari. In Chrome works fine.

[2014-01-14 04:36] nmackey opened #408 "Can't checkout latest commit or 2.6 branch with bower"
I get error when trying to checkout jquery.inputmask using a commit hash. (I'm trying to get the IE8 fix.)

I would get the following error:
EMALFORMED Failed to read /var/folders/vm/wv5c853j7hldqgkctj9hfq900000gn/T/nicholasmackey/bower/jquery.inputmask-28756-pvNMaU/bower.json

At first I thought it was b/c your bower.json file isn't to spec (http://bower.io/#defining-a-package), but even if I upd

[2014-01-14 12:42] RobinHerbots commented on #407
@Skiv22 ,

Can you give the exact mask with options you are using as I cannot reproduce the behavior.

best regards,

Robin

[2014-01-15 04:17] bassrock opened #409 "Min And Max Values For Numbers"
I can not find a min an max number shortcut ont eh current number masks and have to generate a regex for it. It would be great if these shortcuts were defined on the number masks.

[2014-01-15 08:08] RobinHerbots commented on #408
@nmackey ,

Be aware that the 2.6 branch is experimental and not stable. You should use the 2.x branch.

Maybe, the problem is that the bower.json points to the dist/jquery.inputmask.bundle.js which is not available in branch 2.6.   Or that the version in the bower.json is the same as the 2.x branch?

I will need to spend some time to see how bower work.

[2014-01-15 08:11] RobinHerbots commented on #409
@bassrock ,

I know and I totally agree.  Also see #328.

I will fix that in version 2.7.

More suggestions for numerics are always welcome!

[2014-01-15 14:41] RobinHerbots commented on #395
@silvioprog ,

You can know do this!  Thx for the idea!

[code]

[2014-01-15 14:41] #395 closed, assigned to RobinHerbots

[2014-01-16 05:37] bassrock commented on #409
Sounds good!

[2014-01-17 14:35] chaenu opened #410 "IE9 "Object doesn't support property or method 'preventDefault' " Error when deleting input"
When using IE9 and trying to delete something, there's an error: "Object doesn't support property or method 'preventDefault' ". Line 1127: if (e) e.preventDefault();

You can reproduce it in the demo: http://robinherbots.github.io/jquery.inputmask/

I'll try to fix it.

[2014-01-17 18:24] #410 closed, assigned to nobody

[2014-01-20 17:08] nmackey commented on #408
Yeah, I just wanted to use the latest in the 2.x branch.  I have worked around the problem by creating a new tag in my fork.  I don't know why it has issues with your branch, maybe it is your naming convention or something.  Bower updated last year and deprecated the component.json files convention and now uses the bower.json convention the details of which can be seen in the link in my initial po

[2014-01-20 19:06] gldmelo opened #412 "Setting autoUnmask doesn't send unmasked value on submit"
Hi, I'm having issues regarding the use of autoUnmask: true for integer numbers:

js code is like the following, on a separate file:

function aplicarMaskNumero(campo) {
        $(campo).inputmask('integer', { numericInput: true, autoGroup: true, groupSeparator: ".", groupSize: 3, autoUnmask: true });
}

Then if i put 1111111111111 inside the input field:

$('#nomeCampo').val();  // nomeCampo is t

[2014-01-21 11:06] RobinHerbots commented on #412
@gldmelo ,

See also issue #366.

I will handle numerics in release 2.7.  You can use the onUnmask callback to properly unmask the integer value.
The one with the multiple dots is a bug.

I will fix that later.

best regards,

Robin

[2014-01-21 13:54] anazinkin opened #413 "Placeholder breaks down after selecting all input symbols besides the first one"
I'm using custom extension

$.extend($.inputmask.defaults.aliases, {
        "date_rus": {
            mask: "1/2/y",
            placeholder: "дд/мм/гггг",
            alias: "datetime",
            clearMaskOnLostFocus: false
        }
    });

Steps to reproduce:
1. Type "1"  - result is (1д/мм/гггг)
2. Hold down Shift and click mouse to the end of input, all symbols besides the first one shoul

[2014-01-21 14:21] RobinHerbots commented on #413
@anazinkin,

I created a jsfiddle http://jsfiddle.net/XjQWf/ but I cannot reproduce the problem.

Which browser are you using?

[2014-01-21 16:25] anazinkin commented on #413
Chrome
I can't reproduce this in jsfiddle also.
Version of plugin is 2.2.71, but it reproduces with latest version as well.
Seems to be conflict with something else in our environment.
Thanks a lot for reply

[2014-01-22 10:12] anazinkin commented on #413
Here that i mean with 2.2.71

http://jsfiddle.net/gG4wG/

[2014-01-22 10:22] anazinkin commented on #413
The same with 2.4.0 version
http://jsfiddle.net/V89Kg/
Can you reproduce the case?

[2014-01-22 12:11] RobinHerbots commented on #413
Yes I see the case in version 2.4.0.

You should use 2.4.18.

How did  you get version 2.4.0?  Are you using bower?

2014/1/22 anazinkin notifications@github.com

[2014-01-22 12:24] anazinkin commented on #413
I downloaded it from https://github.com/RobinHerbots/jquery.inputmask/releases page
No, I'm not using bower.

[2014-01-22 12:55] RobinHerbots commented on #413
I will need to update the git tags (releases).

Use the version in the dist folder of the 2.x branch

[2014-01-22 13:05] RobinHerbots commented on #413
I updated the tags/releases

[2014-01-22 13:30] anazinkin commented on #413
Great! My problem is fixed. Thanks!

[2014-01-22 13:32] #413 closed, assigned to nobody

[2014-01-22 14:49] RobinHerbots commented on #310
@MarcDiethelm ,

Added feature in the 2.6 branch.  As soon this branch is released the feature will become available.

[2014-01-22 14:49] #310 closed, assigned to nobody

[2014-01-22 14:57] MarcDiethelm commented on #310
@RobinHerbots Wow. You're awesome!

[2014-01-22 18:31] beck opened #414 "Release 2.4.18 is broken. Malformed bower.json"
Looking at:
https://github.com/RobinHerbots/jquery.inputmask/blob/2.4.18/bower.json

The description has newlines and unescaped quotes.

Bower fails to install with:
`EMALFORMED Failed to read jquery.inputmask-2.4.18/bower.json`

Side request: keep old releases and tags for posterity? a changelog too?

[2014-01-22 19:08] lalitkapoor commented on #414
:+1:

[2014-01-22 19:46] imorrison commented on #414
You cannot have multiline strings in json. Also, bower expects a string below 140 characters for the description.

From the [`bower.json specification`](https://github.com/bower/bower.json-spec/blob/master/README.md):

#### description [string]

Help users identify and search for your package with a brief description. Describe what your package does, rather than what it's made of. Will be displaye

[2014-01-22 20:44] tmartensen commented on #414
:+1:
Also a :+1: for keeping older tags. That way, people can stabilize on a specific version.

[2014-01-23 08:43] RobinHerbots commented on #414
@beck , @lalitkapoor , @imorrison , @tmartensen ,

I updated the bower.json, ... can someone verify that it works now.  Because I get bower error status code of git: 128 on my machine at work.  If someone got a quick fix for that?

I will treat the tags as real releases from now on and thus keep them available.

@imorrison ,
Thx for the link to the bower.json spec

[2014-01-23 08:48] lalitkapoor commented on #414
@RobinHerbots looks good here.

[2014-01-23 08:49] lalitkapoor commented on #414
@RobinHerbots for the bower error you're facing - maybe clean your cache: https://github.com/bower/bower/issues/50#issuecomment-8572614

[2014-01-23 09:31] RobinHerbots commented on #408
@nmackey ,

The issue for the bower package should be fixed now.

Can you verify?

Robin

[2014-01-23 10:15] #408 closed, assigned to nobody

[2014-01-23 10:15] #414 closed, assigned to RobinHerbots

[2014-01-23 11:39] joostburg opened #415 "Infinite loop, sript on page used too mutch memory."
I want an input field where people can input initials like J.K or D.I.R or K.I.L.P but the script is infinite looping till memory is full.

//Data attribute
data-inputmask="'mask': 'A.', 'repeat': '*'"

//jQuery in document ready
$(":input").inputmask();

It works with the first 2 characters but on the third get a infinite loop or something.

Versions:
jquery.inputmask.extensions-2.4.19.js
jquery.

[2014-01-23 12:51] RobinHerbots commented on #415
@joostburg ,

Fixed in version 2.4.20

best regards,

Robin

[2014-01-23 12:51] #415 closed, assigned to RobinHerbots

[2014-01-23 13:20] joostburg commented on #415
Thanks works like a charm!

[2014-01-23 15:00] nmackey commented on #408
Everything seems to work, I can now use bower install to checkout branches, tags, and commits from your repo.  Thanks for fixing.

[2014-01-23 15:55] beck commented on #414
:+1:

[2014-01-23 16:20] gldmelo commented on #412
Hello @RobinHerbots ,

I tried to answer yesterday but i think my message wasn't saved, somehow.

I did what you sugested and it worked. Here's how my method looks now:

[code]

I also wrote one for decimals too.

[code]

best regards

[2014-01-23 21:52] andrewrota opened #416 "Incorrect cursor position and duplicate characters after separator on Android"
**Demo:** http://jsfiddle.net/Tpr6N/2/

**JS Code:**

[code]

**Steps to reproduce:**
1. Touch input field to open keyboard
2. Touch '1' on keyboard.  Touch '2' on keyboard.  Touch '3' on keyboard.
3. Touch '4' on keyboard.  **As the character appears the cursor is not in its proper position following the character.  Rather, the cursor is placed before the '4' character.**
4. Touch '5' on keyboard

[2014-01-24 08:28] RobinHerbots commented on #412
@gldmelo ,

Great that it worked out and thx for sharing you solution.

I will include something simular in the numerics extension later.

best regards,

Robin

[2014-01-24 08:31] RobinHerbots commented on #416
@andrewrota,

Can you have a test with this http://jsfiddle.net/Tpr6N/4/

[2014-01-24 12:36] ghost opened #417 "crashing value, when mark&replace"
see here (jsfiddle used in an old issue):
http://jsfiddle.net/bZT3j/7/

if you load the jsfiddle-url, the Number:
01 650 103 002 0001 DE101 5170
appears in the input.

if you now mark for instance the "002" and then try to overwrite it with for instance 003,
then the value crashes at the end of the input, but ONLY at the moment of overwriting the last character!

[2014-01-24 12:44] RobinHerbots commented on #417
@wuSam ,

I will have a look!

[2014-01-24 12:46] ghost commented on #417
thanks!

[2014-01-24 15:02] andrewrota commented on #416
@RobinHerbots Thanks for the quick response.  I tested the new version you sent but the behavior is still present.

[2014-01-24 15:07] RobinHerbots commented on #416
Can you send the useragent string

2014/1/24 Andrew Rota notifications@github.com

[2014-01-24 16:16] andrewrota commented on #416
Mozilla/5.0 (Linux; Android 4.2.2; en-us; SAMSUNG SCH-I545 Build/JDQ39) AppleWebKit/535.19 (KHTML, like Gecko) Version/1.0 Chrome/18.0.1025.308 Mobile Safari/535.19

[2014-01-24 16:52] andrewrota opened #418 "Backspace does not work when deleting beyond a separator character on Android Chrome"
**Demo:** http://jsfiddle.net/Tpr6N/2/

**JS Code:**

[code]

**Steps to reproduce:**
1. Touch input field to open keyboard
2. Touch '1' on keyboard. Touch '2' on keyboard. Touch '3' on keyboard. Touch '4' on keyboard.
3. Touch 'backspace' on keyboard.  The '4' character is erased as expected.
4. Touch 'backspace' on keyboard again.  **No character is erased and the cursor does not move.  Touch 'b

[2014-01-25 00:17] toddca opened #419 "Date Year Completion"
I want to type 07/15/67 and have it auto populate with 1967 for the year however it is using 2067 instead. Basically anything below 15 I want 20xx and anything above 15 I want 19xx. Anyone have any ideas on how I can achieve this?

[2014-01-25 13:50] Pezhvak opened #420 "RegexMask -> inputmask("isComplete")"
i used your email mask sample, it worked awesome and i really enjoyed it.. but i can't verify if it's completed or not, when i try to check it returns 'undefined'.

[2014-01-25 20:40] andrewrota opened #421 "Repeating characters on Android Chrome"
**Demo:** http://jsfiddle.net/PX7G7/1/

**JS Code:**

[code]

**Steps to reproduce:**
1. Touch input field to open keyboard
2. Touch '1' on keyboard.
3. Touch '2' on keyboard.  The '2' character is added as expected.  **Then immediately the '1' and '2' character are again appended to the input field.  The input field now reads '1212' even though only two characters were inputted.**

_If the mask i

[2014-01-25 21:03] RobinHerbots commented on #418
@andrewrota,

Ok I got ya, ... you want support for android browsers ;-)

I made a new jsfiddle http://jsfiddle.net/Tpr6N/14/

Can you enter some chars and delete them, and send the output to me.

On my tablet with Android 4.2.1 Chrome Browser I got input keydown keyup as events.  The input is changed on the input event.  Can you test it also on Chrome and on the stock browser.

Thx

Robin

[2014-01-25 21:36] andrewrota commented on #418
When entering 1 2 3 4 and then deleting them:

[code]

This is on Chrome on Nexus 5, which only has Chrome as the default browser.

Thanks again for all your help with this.

[2014-01-25 21:55] RobinHerbots commented on #418
Hi Andrew,

Can you send also the useragent, thx.

Very strange, ... chrome on my tablet never fires the keypress and also the
order is different.

2014-01-25 Andrew Rota notifications@github.com

[2014-01-25 21:56] andrewrota commented on #418
Yes, this is the same useragent as the one I reported eariler:

Mozilla/5.0 (Linux; Android 4.4.2; Nexus 5 Build/KOT49H) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/32.0.1700.99 Mobile Safari/537.36

[2014-01-25 21:57] andrewrota commented on #418
And here are some other results on another device (Galaxy SII) for that JSFiddle:

**Device:** Samsung Galaxy SII SAMSUNG-SGH-I777
**Android Version:** 4.0.3
**Browser:** Chrome
**User agent:** Mozilla/5.0 (Linux; Android 4.0.3; SAMSUNG-SGH-I777 Build/IML74K) AppleWebKit/535.19 (KHTML, like Gecko) Chrome/18.0.1025.166 Mobile Safari/535.19
**Result:**

[code]

**Device:** Samsung Galaxy SII SAMSUNG

[2014-01-25 22:07] andrewrota commented on #418
And another (Galaxy S4):

**Device:** Samsung Galaxy S4 SCH-I545
**OS:** Android 4.2.2
**Browser:** Chrome
**User Agent String:** Mozilla/5.0 (Linux; Android 4.2.2; SCH-I545 Build/JDQ39) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/29.0.1547.72 Mobile Safari/537.36
**Results:**

[code]

(above results may also be relevant for #421)

**Device:** Samsung Galaxy S4 SCH-I545
**OS:** Android 4.2.2
**B

[2014-01-27 08:15] RobinHerbots commented on #418
@andrewrota,

Thx for the info. Now we have some more inside of which events occur and in which sequence.

I made a new fiddle to test with http://jsfiddle.net/Tpr6N/15/.  In this fiddle we test the ability to block an event.
Can you also send the output.

[2014-01-27 08:54] RobinHerbots commented on #419
@toddca ,

Create a new alias.

[code]

[2014-01-27 09:05] RobinHerbots commented on #420
@Pezhvak ,

The regex extension still needs some enhancements, but that will come later. (after release 2.7)
To determine completion you have to check it yourself for the moment.

[2014-01-27 10:09] RobinHerbots commented on #418
http://jsfiddle.net/UJvN7/  (to test on  Nexus 5  (chrome 32)

[2014-01-27 12:18] andrewrota commented on #418
On the last jsfiddle the input gets added before the mask, pushing the mask forward as you type.  (Nexus 5, Chrome).

[2014-01-27 12:20] andrewrota commented on #418
For http://jsfiddle.net/Tpr6N/15/ on the nexus 5 Chrome:

[code]

[2014-01-27 12:38] RobinHerbots commented on #418
Can you retest the fiddle on the nexus5.  The event binding was wrong.

[2014-01-27 13:25] andrewrota commented on #418
http://jsfiddle.net/UJvN7/, retested on Nexus 5 Chrome:

Characters input fine but when you start deleting them you also delete the separator character (the dash) and the masking does not re-appear as you delete.  Then when you leave (lose focus on) the field and click back into the field the characters re-appear as if they were never deleted.

[2014-01-27 14:02] RobinHerbots commented on #418
It is not easy to implement without having the device ;-)

Can you send the output of http://jsfiddle.net/Tpr6N/20/

[2014-01-27 14:47] andrewrota commented on #418
Nexus 5 Chrome:

[code]

[2014-01-27 15:26] RobinHerbots commented on #418
@andrewrota ,

Thx!  I know I ask much.

Can you retest with http://jsfiddle.net/UJvN7/

[2014-01-27 15:33] andrewrota commented on #418
I get an alert when deleting past the separator:

[code]

[2014-01-27 15:37] andrewrota commented on #418
And thank you again for all your help with these issues.  I know it's a pain to debug without the actual devices.

[2014-01-27 16:07] RobinHerbots commented on #418
Great you got the alert.

Can you have another test, ... this should work now.

[2014-01-27 16:10] andrewrota commented on #418
It does work!  The one behavior that is strange/unexpected though is that when you have the cursor at the character past the dash, and then hit delete, the first thing it does is delete the dash rather than deleting the number before the dash.  Deleting further works as expected though.

[2014-01-27 16:15] RobinHerbots commented on #418
Can you explain the strange/unexpected a bit more.  Maybe with some examples.

[2014-01-27 16:18] andrewrota commented on #418
1. Press '1', press '2', press '3', press '4'.  Current state: 123-4|__ (Cursor shown by '|' character)
2. Press delete.  Current state: 123-|___
3. Press delete again.  **Current state: 123|___ [Expected state is 12|_-___]**
4. Press delete again.  Current state: 12|_-___.  Now it's back to normal.

[2014-01-27 16:24] andrewrota commented on #418
Also, I've been testing with the second field on that fiddle.  With the first field there is one problem: the first time in the input field when you add any character past the separator you can't delete (pressing delete does nothing and doesn't move the cursor).    But if you lose focus on the field and then go back into the field, it works fine.  I'm not able to reproduce this behavior on the sec

[2014-01-27 16:24] RobinHerbots commented on #418
Can you have another test

http://jsfiddle.net/UJvN7/

[2014-01-27 16:25] andrewrota commented on #418
Same behavior.

[2014-01-27 16:26] RobinHerbots commented on #418
did you got an alert?

[2014-01-27 16:28] andrewrota commented on #418
Just tried again; received alerts this time:
1. Press '1', press '2', press '3', press '4'. Current state: 123-4|__ (Cursor shown by '|' character)
2. Press delete. Current state: 123-|___
3. Press delete again.  Alert "hello keydown".  Another alert "12_-___".  Current state:

[code]

(I believe this is the expected state at this point)

[2014-01-27 16:33] RobinHerbots commented on #418
That looks good, ... the last test.  without alerts

[2014-01-27 16:34] andrewrota commented on #418
I tried it again.  No alerts this time and the behavior is back to before the alerts were there:
1. Press '1', press '2', press '3', press '4'. Current state: 123-4|__ (Cursor shown by '|' character)
2. Press delete. Current state: 123-|___
3. Press delete again. Current state: 123|___ [Expected state is 12|-__]
4. Press delete again. Current state: 12|-__. Now it's back to normal.

[2014-01-27 16:38] RobinHerbots commented on #418
There was an error, ... can you try again (the last test for now, ...)

[2014-01-27 16:39] andrewrota commented on #418
Seems to work!

The bug I mentioned above (https://github.com/RobinHerbots/jquery.inputmask/issues/418#issuecomment-33382414) is still there, but that may be unrelated.  It only happens when I input letters rather than numbers.

[2014-01-27 16:48] RobinHerbots commented on #418
@andrewrota,

The link to the comment doesn't show exactly, ... which bug exactly?

[2014-01-27 17:31] andrewrota commented on #418
So when you input letters (not numbers) into the field it doesn't allow you to delete (the cursor doesn't move when you press delete).  However, when you leave the field and go back into it, it works fine.

EDIT: I tested this in the current plugin as is and it's present there so this is a distinct bug that I'll log elsewhere.

[2014-01-27 20:05] blevins opened #422 "Placing cursor position using mouse"
I have a mask of {"mask": "(999) 999-9999"} for US telephone numbers. The area code is optional, so phone numbers can be entered as (___) XXX-XXXX. However I can't place the cursor past the first empty position. I can use arrow keys to get there, but this might not be obvious to users. Is there a way around this?

And thanks for all your hard work on this.

[2014-01-27 20:56] blevins commented on #422
I'm new to this plugin, so I just realized that perhaps I need to set the mask to {"mask": "([999]) 999-9999"} instead. But the cursor will not skip the optional chars (using a mouse).

[2014-01-27 23:50] RobinHerbots commented on #418
I updated chrome on my tablet to version 32 and experience the same behavior on the second mask.
Problem is that I cannot enable remote debugging somehow? , ... need to figure out on a Toshiba Excite A10-A-104

The stock browser seems to work out of the box.  But that we will handle in #416 & #368

[2014-01-28 09:37] RobinHerbots commented on #422
@blevins,

The caret jumps to the first unmasked position to aid in the input.

Your case is a bit strange as you want masking but also want a portion optional but still visible.

At first thought it would be "[(999) ]999-9999" making the first part optional.  But how can we determine what the user wants when the input is valid for the 2 cases.  see http://jsfiddle.net/bMwTP/

Another thought inst

[2014-01-28 09:47] RobinHerbots commented on #418
Ha enable developers setting on jellybean is by tapping 7 times on the build version in the about menu

[2014-01-28 11:59] andrewrota commented on #418
Ah, yes I remember reading about that.  Let me know if I can help by running any other debugging tests with other devices for this issue or #416 or #421.

[2014-01-28 13:31] RobinHerbots commented on #418
I first want to solve the `***-***` on android chrome32 as the problem does not occur on other browsers.
Next will be android chrome18 & chrome29  (event input keydown keyup)

If you want you may already test http://jsfiddle.net/Tpr6N/15/

[2014-01-28 16:19] andrewrota commented on #418
Sure.  On http://jsfiddle.net/Tpr6N/15/: Pressing a b c 1 2 3 and then pressing delete until the input is clear yields this result on a Nexus 5 Chrome:

[code]

[2014-01-28 16:27] RobinHerbots commented on #418
No no not on the Nexus 5, I need it for a device with android chrome
version 18 or 29  ;-)

2014-01-28 Andrew Rota notifications@github.com

[2014-01-28 17:09] blevins commented on #422
@RobinHerbots
Thanks for the prompt response. I think setting a default might be the way to go in this case.

[2014-01-28 17:48] andrewrota commented on #418
Ah ok I'll test those next.

[2014-01-28 19:43] andrewrota commented on #418
On http://jsfiddle.net/Tpr6N/15/ with a Nexus S4, Chrome browser:  Press 1, press 2, press 3.  Press delete.  Press delete again (interestingly it deleted two characters when I pressed delete the second time.

Result:

[code]

[2014-01-28 19:46] andrewrota commented on #418
On http://jsfiddle.net/Tpr6N/15/ with a Nexus S2, Chrome browser: Press 1, press 2, press 3.  Press delete.  Press delete again.  Press delete again.  **No characters were inputted at all during this test.  The input field remained empty.**

Result:

[code]

[2014-01-29 03:53] Yankovsky opened #423 "Inputmask initialization via object with placeholder prop passing"
I have different behavior using different inputmask initialization approaches.
This one works fine element.inputmask("dd.mm.yyyy", {placeholder: "**.**.____"})
But for some reasons using this element.inputmask({mask: "dd.mm.yyyy", placeholder: "**.**.____"}) changes placeholder  to **._.._**.**.**.______.__.

[2014-01-29 06:36] Yankovsky commented on #423
Ok, I understand my mistake after reading source code. Passing "dd.mm.yyyy" as first param invokes "dd.mm.yyyy" <b>alias</b> and then second param is used to overwrite some values.
So in second example it should be element.inputmask({alias: "dd.mm.yyyy", placeholder: "..____"})

[2014-01-29 06:36] #423 closed, assigned to nobody

[2014-01-29 06:44] afattahi54 opened #424 "Mask which to prevent numbers starts with zero"

[2014-01-29 07:03] #424 closed, assigned to nobody

[2014-01-29 11:18] #422 closed, assigned to nobody

[2014-01-29 16:33] peterkeller commented on #304
The workaround seems only to be working for IE10 but not for IE11, IE9 and IE8. Is there any possibility that this will be fixed for these versions (for me, IE8 is crucial as our customer still uses this version...)?

[2014-01-29 17:03] RobinHerbots commented on #418
incredible!!  the events triggered depends on the inputkind??!
for numeric input in chrome32 you get keydown keypress input keyup
for non numerics keydown input keyup
for backspace you get input
and sometimes it's stuck caused by caret positioning I guess.

All should work besides the caret who get stuck sometimes.

[2014-01-29 17:05] RobinHerbots commented on #304
@peterkeller,

I will fix it for ie11, but is their a clear (cross) functionality in ie8 and ie9 ?  I mean in the real ie8?

[2014-01-29 19:25] peterkeller commented on #304
I guess you are right: The "cross" definitely appears in IE11. However, I didn't test it with the "real" IE8 and IE9 but only with the emulations available in IE11. Thanks!

[2014-01-30 06:33] sompylasar commented on #304
The "clear" button appears since IE10. The real IE9 and IE8 do not contain
this button, but the emulated IE8 and IE9 in IE10 and IE11 do.
https://coderwall.com/p/ex-jjq

[2014-01-30 10:26] RobinHerbots commented on #304
@peterkeller ,

The latest in branch 2.x should support IE11.  Can you have a test?

best regards,
Robin

[2014-01-30 11:57] andreimitrus opened #425 "maxlength value is multiplied by 2 when using inputmask("decimal")"
Hi, i found this issue while using your plugin. It seems that when using the decimal extension the maxlength's value is multiplied by 2.

Example here: http://jsfiddle.net/NVJB8/

[2014-01-30 13:19] RobinHerbots commented on #425
@andreimitrus,

I know, that is to be able to reactcorrectly on the paste event.

Pasting data when there is already a mask concatenates the value.

ex for dates:  paste 23/03/1973 => 23/03/1973dd/mm/yyyy once the value is pasted the plugin picks that up and masks the value.  If I don't tweak the maxlength there is no place for the initial paste value.
 Anyway the mask prevents typing more charact

[2014-01-30 13:30] RobinHerbots commented on #418
Hi andrew,
I added chrome 18 & 29.  Can you have a test with http://jsfiddle.net/UJvN7/

[2014-01-30 15:57] andrewrota commented on #418
(re http://jsfiddle.net/UJvN7/) So for the S2 (Chrome 18) the backspace issue is fixed, but there are two other strange behaviors:
1. On the first input with the mask 999-aaa: if you enter letters at first the expected behavior is that it just doesn't let you input the non-number characters, but the actual input is the cursor disappears and a second line begins to appear underneath the mask **_-**

[2014-01-30 20:59] RobinHerbots commented on #304
@peterkeller ,

It is not working.  I will try to detect IE11 with

[code]

Will add that tomorrow for test

[2014-02-03 09:46] andreimitrus commented on #425
Yes you are right.
I can see that in my example the number of characters are limited to the initial maxlength. The problem was that I've seen a case, which I cannot reproduce right now, where this limitation wasn't actually working.
If I run into the problem again I'll come up with a better example.

Thank you.

[2014-02-03 09:46] #425 closed, assigned to nobody

[2014-02-03 14:41] babupca opened #428 "jQuery input mask is not scrolling the the content when the width is small"
In my project i use the jQuery input mask, for setting many masks. Recently i saw an issue were the text is not visible when the content is more and the width of the text field is small.

Basically if an input field is with a width of 100px and content is more than width of the 100 px, then the content will be automatically scrolling towards the left side. but in my case, the content is not scroll

[2014-02-03 14:50] RobinHerbots commented on #428
@babupca,

Which version are you using?

[2014-02-03 15:23] babupca commented on #428
I used this jquery.inputmask-2.x,but with in the js file it is mentioned as like this
/**
- @license Input Mask plugin for jquery
- http://github.com/RobinHerbots/jquery.inputmask
- Copyright (c) 2010 - 2013 Robin Herbots
- Licensed under the MIT license (http://www.opensource.org/licenses/mit-license.php)
- Version: 0.0.0
  */

and also I just noticed, in mozilla firefox it is working fine, ie( t

[2014-02-03 17:32] babupca commented on #428
I have added the jsfiddle link. Could you please check this in firefox (its working), chrome and ie9
http://jsfiddle.net/SEXAj/127/

[2014-02-04 08:30] babupca commented on #428
hi robin, Do you have any solution for this problem ?

[2014-02-04 10:56] RobinHerbots commented on #304
@peterkeller ,

Ok the latest version should detect ie11 & IE10 properly.

Can you have a try

[2014-02-04 11:00] RobinHerbots commented on #428
@babupca ,

Just use the latest version of the 2.x branch.
See updated jsfiddle http://jsfiddle.net/SEXAj/128/

[2014-02-04 14:10] anksce commented on #8
I tried this $('.decimal').inputmask('remove') but it simply unbinds the inputmask however the value is not getting unmaksed and replaced in textbox.

Please help

[2014-02-04 14:58] RobinHerbots commented on #8
@anksce ,

See #412

[2014-02-04 14:59] #419 closed, assigned to nobody

[2014-02-05 05:22] babupca commented on #428
Thanks Robin. It is working now.

[2014-02-05 08:47] peterkeller commented on #304
Thank you very much for the fix. The "cross" functionality seems to work in IE11. As I don't have an original IE10, I cannot test the fix for this version. I used the scripts at https://github.com/RobinHerbots/jquery.inputmask/blob/2.6 for my tests.

However I found another bug that may be related to this issue:
- I enter a text
- I set the cursor in the middle of the text and delete the text with

[2014-02-05 09:01] RobinHerbots commented on #304
Peter,

Don't use version 2.6 yet!!  That branch is not stable.

Do you have the same issue with the 2.x branch

2014-02-05 Peter Keller notifications@github.com:

[2014-02-05 09:36] RobinHerbots commented on #417
@wuSam,

The latest version in branch 2.x fixes the issue.

Best regards,

Robin

[2014-02-05 10:12] ghost commented on #417
thanks

[2014-02-05 20:23] bodrick opened #429 "Modifying value after mask has been applied"
I'm currently running into an issue where I'm defining my masks via either data attributes and I've also tried just within the onload event.  I'm reading in some data from an ajax query which runs after the masks have been defined.  The problem is as soon as I hover over, or select the field with the mask the value is lost.

If I just go ahead and set the value directly as a test, the same thing h

[2014-02-05 21:54] samspot commented on #416
FYI, I'm seeing this behavior on android 2.3 in this and 2 other plugins, as well as several native JS attempts.  Seems to be a browser bug.

[2014-02-06 06:38] babupca opened #430 "autoCasing in jQuery input mask"
Hi Robin,

I have a requirement, where, when a user type small letter, the alphabets has to be updated to capital automatically at the same time. I saw one conversion in issues list,where you were talking about the autoCasing, this will work i think

But in the latest version which i downloaded, it does not contains the autoCasing.

Can you assist me, in doing this.

Thanks.

[2014-02-06 08:25] RobinHerbots commented on #430
@babupca,

In jquery.inputmask.extensions.js you will find the definition A and # which will autouppercase all input.  If you need the opposite you will have ti define your own definition.

In the readme it is explained https://github.com/RobinHerbots/jquery.inputmask#auto-upperlower--casing-inputmask

BTW in the dist folder you find the jquery.inputmask.bundle.js which combines the plugin and all

[2014-02-06 15:07] #430 closed, assigned to nobody

[2014-02-06 15:10] RobinHerbots commented on #429
@bodrick ,

fixed in version 2.4.25

[2014-02-06 15:10] #429 closed, assigned to RobinHerbots

[2014-02-06 15:11] RobinHerbots commented on #372
@glosswordteam ,

fixed in version 2.4.25

[2014-02-06 15:11] #372 closed, assigned to nobody

[2014-02-06 15:12] #407 closed, assigned to nobody

[2014-02-06 20:42] glosswordteam commented on #372
Thank you. Will take a look.

[2014-02-07 10:18] RobinHerbots commented on #418
@andrewrota ,

It has also something todo with the autocorrection in android I think.  There is a simular behavior on Chrome32 for the second issue.

To be continued ....

[2014-02-07 10:25] RobinHerbots commented on #416
@andrewrota,

Can you have some tests on the android stock browsers?

http://jsfiddle.net/Tpr6N/14/
http://jsfiddle.net/Tpr6N/20/

http://jsfiddle.net/UJvN7/

[2014-02-07 20:16] rizowski opened #431 "Pasting doesn't apply mask"
Hello,

I have been trying to incorporate your plugin into a site I work on. Your plugin has a lot of features that I love. But there are a few things that are a little weird.

If you try to paste values into the field it doesn't apply the mask. It instead shoves the mask over to the right. It seems to be a similiar problem with Galaxy Tablet chrome. When typing something in it just moves the mask

[2014-02-07 20:36] RobinHerbots commented on #431
@rizowski,

Can you specify the browser(s) you are testing on?

[2014-02-07 22:05] rizowski commented on #431
@RobinHerbots Yes I am currently running Chrome V33. I also updated the steps on what is causing it as I saw that it did apply the mask on immediate paste.

[2014-02-10 13:07] RobinHerbots commented on #431
@rizowski

Can you have some tests and send me the output

http://jsfiddle.net/Tpr6N/21/
http://jsfiddle.net/Tpr6N/22/

http://jsfiddle.net/UJvN7/

[2014-02-10 16:30] xMANIGHTx opened #432 "Variable length mask issue"
Hallo,
your script is the best input mask around at the moment so thanks for your job!
That said I notice a minor "bug" with the implementation.
Let's make the IP mask example where you have 3 optional numbers separated by dots "."
If I enter for example 192.12.22.13 and I want to go back and fix the 12 to 128 i simply cannot. I have to delete everything after 192.
In my opinion this behaviour is

[2014-02-10 18:24] rizowski commented on #431
I am getting a few problems. This is tested in chrome for right now, until I can get my hands on the galaxy tablet.

First:
keydown keypress input 5 keyup 5 keydown 5 input keyup keydown keydown paste input 555555555 keyup 555555555 keyup 555555555

Second:
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/33.0.1750.70 Safari/537.36 => keydown caret: {0,0} keypress

[2014-02-10 20:35] RobinHerbots commented on #432
@xMANIGHTx,

Thx for the compliment.

About the bug ;-)  I totally agree and I am already working on it.  See miletone 2.6

[2014-02-10 20:58] RobinHerbots commented on #431
@rizowski ,

I just fixed the error.  When I find some time I will do some debugging on android chrome.  I know there are still some problems with chrome.

Looking at the first fiddle the paste event is correctly triggered

[2014-02-10 21:17] xMANIGHTx commented on #432
Wow this is a great news! This change will make it a no brainer for people who wants decent maskin in their form fields! Sorry I didn't see it I'm a newbie to github :)
Waiting eagerly for the 2.6 then! :D Thanks again for your great work!

[2014-02-11 10:13] xMANIGHTx opened #433 "Tab and autoselect mask parts"
Hallo Robin,
I was so amazed by your script that I couldn't stop thinking about it :) and tonight I had an idea that, in my opinion, could improve even more the usability.
After all this is an helper to form editing, to make form insert more usable and quick and lower the insert errors, so any idea in that direction, even small improvements could make a big improvement I guess.
Anyway... the idea

[2014-02-11 11:15] RobinHerbots commented on #433
@xMANIGHTx ,

Thx for the idea!

and any ideas are always welcome!

 I see pros and cons in the concept.  It could improve usability, but changes the default behavior of tab & shift tab.

I was thinking of an option to create a mask over multiple input element, ... so tabbing will select the different parts.

I will keep the issue open for later.

[2014-02-11 11:19] RobinHerbots commented on #397
@pavanik ,

Is this issue still valid?

[2014-02-11 11:20] xMANIGHTx commented on #433
The multiple inputs is another option of course.
Anyway I think that making those two as an option would leave the user with the choice. Also giving the ability to choose as an option (for the tabbing) always, never, only for empty, only for non empty, an so on will give great flexibility on when to apply the behaviour not to break normal functionality.

Apart from the tabbing, do you think the au

[2014-02-11 11:25] RobinHerbots commented on #433
For the optional parts there is already the skipOptionalPartCharacter option .  With this you can specify the char to use for skipping an optional part.  Default is space.

So for ip you can skip a part by pressing dot or space.

[2014-02-11 12:25] xMANIGHTx commented on #433
Yes I mean auto-selecting the part you skipped to. For example 255.10.20.30 you are in the 255 part, press the dot you find yourself on the 10 part BUT with the 10 already selected.
I guess this could be a nice function to speed up editing (together with the fix we already discussed yesterday in the other topic of course). And this also can be make optional (like autoselect: "on/off")

[2014-02-11 16:14] rizowski commented on #431
I can verify this has fixed the typing problem on the Galaxy Chrome tablet. It has also fixed the pasting issue on chrome. I will also test on other browsers as I go throughout the day today.

[2014-02-12 10:18] #304 closed, assigned to nobody

[2014-02-12 11:11] RobinHerbots commented on #431
@rizowski ,

The paste event problem is fixed.
For issues on android, you may open new issues.  Also see milestone 2.5

best regards,

Robin

[2014-02-12 11:11] #431 closed, assigned to nobody

[2014-02-12 16:16] PrimozRome commented on #433
This would also be very useful for date. I have form for entering documents where each document has multiple dates for input. Usually dates are all within same month so in 99% you only edit 'dd' part of year. I would love to have functionality when on blur only for example first part of mask is selected.

[2014-02-12 16:45] rizowski commented on #416
@RobinHerbots
This is also happening on Galaxy tablet and phones using Firefox ver 26.01 and 27.01.

User Agent stuff:
Mozilla/5.0 (Android; Mobile; rv:26.0) Gecko/26.0 Firefox/26.0

I am also seeing this sometimes:
TypeError: activeMaskset["tests"][testPos] is undefined      (24) jquery.inputmask.js

[2014-02-13 13:07] RobinHerbots commented on #433
@xMANIGHTx , @PrimozRome ,

I will implement tabbing inside the mask parts as an option.

[2014-02-13 13:14] RobinHerbots commented on #416
@andrewrota, @rizowski ,

This issue should be fixed with the latest commits in the 2.5 branch.
Can you have a test with http://jsfiddle.net/UJvN7/

@samspot,

I will have a look at the stock browser in android 2.3 through an emulator.

[2014-02-13 13:47] andrewrota commented on #416
Yes, I'll give it a try as soon as possible.

[2014-02-13 14:45] manight commented on #433
Thank you Robin this is great news. Also I think the biggest thing is how you listen and evaluate comments from your user base! This really makes a difference.
About the auto-select feature, I found this resource, maybe it can be helpful if you are likely to consider this feature as well: http://jsbin.com/anadox/3/edit

[2014-02-13 14:52] RobinHerbots commented on #433
The idea is to tab between the mask-parts and auto-select that part, so
that you can directly overtype the content.

2014-02-13 15:45 GMT+01:00 manight notifications@github.com:

[2014-02-13 15:04] manight commented on #433
Oh yes :) Didn't understand you meant to implicit implement the auto-select also! I guess this behaviour (the autoselect) should happen even if you skip by other means. In the previous example with space or dot "." this should also auto-select I guess, just like if you skip with tab (that's why I considered it a feature on its own I guess)

[2014-02-13 15:48] rizowski commented on #416
@RobinHerbots I am not seeing any duplicate characters but it seems the carrot is still being placed in the wrong position after you pass a separator. This is happening in Firefox but not Chrome for a Galaxy phone. This happens in both browsers for a Galaxy Tablet.

For example if I enter in 123456789 for mask of 999-99-9999 results in: 123-56-8974.

1) 123-|4_-____
2) 123-5|4-____
3) 123-56-|74__

[2014-02-13 15:55] rizowski opened #434 "Carret at the end of the line wont erase characters until moved on Galaxy devices"
Galaxy tablets and phones on both Firefox and Chrome have this issue. When you are at the end of the mask and you try to delete any characters the carrot will delete the last character and then return back to the end of the mask. This will not allow you to delete anymore characters until you manually move the carrot inside the mask.

1) 123-45-6789|  -> press delete
2) 123-45-678_| -> cursor delet

[2014-02-13 15:56] RobinHerbots commented on #416
@rizowski ,

Did you clear the cache of the browser?  I tested FF27 on my phone and the caret positioning was correct.  Can you also submit the useragent strings.

Thx for the feedback!
Robin

[2014-02-13 16:44] rizowski commented on #416
@RobinHerbots
Yeah I cleared the cache for the tablet and I have just received the phone. I am getting some strange results for http://jsfiddle.net/UJvN7/ on the phone. Like trying to click on the field and it wont let me type anything. I am going to convert it over to a plunker and see if that works any better. It looks like on the tablet it is still doing it.

### Galaxy Tablet:

 **Chrome:**

[2014-02-13 17:19] rizowski commented on #416
@RobinHerbots

Testing out the phone on codepen worked out well. The issue is still there for Firefox26.01 and it has gone away for Chrome.

[2014-02-13 18:04] RobinHerbots commented on #416
http://jsfiddle.net/UJvN7/5  Can this version be tested on FF

[2014-02-13 18:22] rizowski commented on #416
Entered 123abc and got 123-bca on the Galaxy tablet and phone for FF on both fields

[2014-02-13 23:29] samspot commented on #416
Similar for me with stock browser on 2.3.3 emulator (with original fiddle):

![image](https://f.cloud.github.com/assets/884268/2166444/a6fe175e-9506-11e3-9218-9556bce9fb2e.png)

[2014-02-13 23:31] samspot commented on #416
This is right after it happens, with cursor in between b & a

![image](https://f.cloud.github.com/assets/884268/2166456/f91f1e66-9506-11e3-8a86-cdf49c74f6bf.png)

[2014-02-14 16:46] rizowski commented on #416
So I have been looking over some of the code. There are some places that could be refactored a bit to make it a little easier to read. I was also noticing that when you delete characters for the mobile phone in Firefox and you go past a separator character the caret will jump back to the separator. I get the feeling this is being caused by one of the functions that resets the caret.

Examples of w

[2014-02-14 17:51] rizowski commented on #416
I think I was able to fix it. It is working on my devices with switching 1121 line to false instead of true. A pull request has been made.

[2014-02-14 20:39] jimithing277 opened #436 "Pass reference of $input (or mask options) to the 'onUnmask' function."
Robin,

I'm in a situation where I want to custom handle the logic of 'unmasking' an input.  The issue is that as it stands right now I have no way to get a reference to the options the current mask is using within the 'onUnmask' function.

Is there any way you could either:

1) Modify the call to 'onUnmask' so it would actually use '$input' as the context to the 'call()' method.  This way I could

[2014-02-17 08:24] RobinHerbots commented on #436
@jimithing277 ,

Ok, I will add both ;-)

[2014-02-17 08:31] RobinHerbots commented on #416
See comment pull request #435

A last fiddle http://jsfiddle.net/UJvN7/15/

[2014-02-17 08:33] RobinHerbots commented on #418
See #416

[2014-02-17 08:33] #418 closed, assigned to RobinHerbots

[2014-02-17 08:33] RobinHerbots commented on #421
See #416

[2014-02-17 08:33] #421 closed, assigned to nobody

[2014-02-17 09:06] RobinHerbots commented on #436
@jimithing277 ,

Done!

[2014-02-17 09:06] #436 closed, assigned to RobinHerbots

[2014-02-17 13:04] jimithing277 commented on #436
As always, your responsiveness is greatly appreciated, and keep up the great work with your plugin!

[2014-02-17 17:16] jimithing277 opened #437 "Possible bug with "skipOptionalPartCharacter" settings?"
Robin,

I have a simple mask setup as follows: "9[9]9".  Upon testing some basic input it appears that the 'space' key is not being honored as optional input with the "skipOptionalPartCharacter" being set to its default value of " ".

For instance, if I type the following input "9(SPACE)9" I expect that the input would look as follows within the control: "9_9".  However, it won't let me advance pa

[2014-02-18 09:46] RobinHerbots commented on #437
Optional means you don't need to input it.

In your case the only valid input is   99 or 999  So the second position
must be 9 (numeric).

The skipOptionalPartCharacter is used in another case  say mask 9[9]-9.  A
valid input for the second position is 9 or -  as the second 9 is optional.
 The skipOptionalPartCharacter is like an alias for the fixed part.

So typing 123  => 12-3
typing 1-23 => 1-2

[2014-02-18 10:16] #397 closed, assigned to nobody

[2014-02-18 19:41] smoorhouse11 opened #438 "Old tags missing from repo"
There doesn't seem to be a published release policy for this project, but can the author(s) please stop removing old version tags? When this project is used as a dependency in a bower config, those old tagged versions matter.

[2014-02-18 20:51] RobinHerbots commented on #438
@smoorhouse11 ,

See comments in #414

Yes I know and I'm sorry for that.  It won't happen again.

best regards,

Robin

[2014-02-18 20:51] #438 closed, assigned to RobinHerbots

[2014-02-19 12:36] hllewelyn commented on #409
Wouldn't this be better served using HTML5's [number input type](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input), and min / max attributes?

[2014-02-21 11:46] nupply opened #439 "allowMinus and maxlength"
The maxlength attribute does not include the groupSeparator but does include the minus sign when allowMinus is set. This is a problem if the mask is being used to allow say a range of numbers from -999 to 999 using maxlength 3. The actual range allowed is -99 to 999.

[2014-02-21 20:49] iamchriswick commented on #42
Hi,

Has support for ______@___ been added to the plugin?

[2014-02-21 21:00] RobinHerbots commented on #42
@iamchriswick ,

No not yet.

[2014-02-21 21:02] RobinHerbots commented on #439
@nupply ,

The idea is not to use the maxlength but some other option to define the number range.
But that will be for milestone 2.7

[2014-02-21 21:04] RobinHerbots commented on #370
http://stackoverflow.com/questions/464089/simulators-emulators-for-mobile-browser-testing

[2014-02-21 21:06] RobinHerbots commented on #433
Milestone 2.7

[2014-02-21 21:51] manight commented on #433
Go go go!! :)

[2014-02-25 08:52] RobinHerbots commented on #320
@Flyarbonkers,

Fixed in the latest version in the 2.x branch

[2014-02-25 12:27] RomeroMsk opened #440 "Decimal bug"
Hello.
Thank you for this great plugin!
Want to tell you about strange behaviour of 'decimal' input with fixed digits.
Try this example: http://jsfiddle.net/85FDJ/ with following steps:
1. Focus textarea (if not autofocused).
2. Press Shift+Tab to focus input (value will get into selection).
3. Press point or comma key (nothing happens).
4. Press right arrow to switch off the selection and move ca

[2014-02-25 12:46] RomeroMsk commented on #215
Option to set the value to 0 when bluring empty (value='') input will be useful too.

[2014-02-25 13:09] RobinHerbots commented on #440
@RomeroMsk,

Thx for reporting.  I will have a look at it.

best regards,

Robin

[2014-02-26 09:48] oboshto commented on #42
Nice plugin. Very helpful +

[2014-02-27 03:04] YAmikep opened #441 "maxlength attr of the input changed automatically ?"
Hi,

The maxlength attr of the input is changed when I apply a mask. why ?

Here is the mask:

`$(".mask-pincode").inputmask("9999");`

The maxlength was 4, it is now 8.

`<input class="mask-pincode"  maxlength="8" name="pin_code" type="text">`

Thanks

[2014-02-27 08:35] RobinHerbots commented on #441
@YAmikep,

This is to allow for pasting a value.

When ypu already have a mask placeholder the length of the mask, then there is no place anymore for pasting in some extra value.  ex.   You got **_-**_  and you paste 123-456.  Then the pasted value gets something like ___-___123-456 and the plugin makes this the correct 123-456 value.

The initial maxlength is still assured by the plugin.

Robin

[2014-02-27 21:58] #320 closed, assigned to RobinHerbots

[2014-02-27 21:59] #441 closed, assigned to nobody

[2014-03-03 11:20] RobinHerbots commented on #440
@RomeroMsk,

Fixed see jsfiddle

[2014-03-03 11:20] #440 closed, assigned to RobinHerbots

[2014-03-03 11:35] RomeroMsk commented on #440
Tested on my site, bug fixed. Thank you!

[2014-03-03 14:22] RobinHerbots commented on #434
@rizowski,

Can you have a test with http://jsfiddle.net/UJvN7/26/

[2014-03-03 19:09] rizowski commented on #434
Chrome it is fixed. For firefox it is not applying the mask.

Ex:
____-____
5555___-___

Cleared the cache to confirm.

[2014-03-04 08:08] RobinHerbots commented on #434
http://jsfiddle.net/UJvN7/27/show/

[2014-03-04 09:26] RobinHerbots commented on #434
I also tested it in Chrome Mobile and Firefox mobile, and there are still alot of issues depending on the kind of input (numbers vs characters).

As I cannot make it fully work on android and spend too much time on that I decided to leave the support out, until the events are more reliable or if someone finds a fully working solution.

[2014-03-04 22:22] rizowski opened #442 "Mask wont allow input with Insert mode enabled"
The cursor will only stay at the beginning of the mask even if you are inputting the correct characters with insert mode on.
|____-____

Non working browsers:
- Windows XP IE8
- Chrome-34(Beta)
- Chrome (Release)
- Firefox
- IE 8
- IE 9

Still testing:
- IE 10

Used a VM from here:
http://www.modern.ie/en-us/virtualization-tools#downloads

[2014-03-05 15:56] RobinHerbots commented on #442
@rizowski ,

Can you more specify the problem.  (mask etc)
I tried on the emulated ie8 and it worked fine.

[2014-03-05 16:05] RobinHerbots commented on #370
tested on emulater and seems fine

[2014-03-05 16:05] #370 closed, assigned to nobody

[2014-03-05 17:30] rizowski commented on #442
Let me update the bug. I found out that insert was on. Is insert handled or a setting that can be enabled? I didn't find anything in the docs. If Insert is on any browser it doesn't allow input.

[2014-03-05 18:15] nitishdhar opened #443 "Masking characters pushed when typing in the input field on Kindle Gen 6 Devices"
Hey,

There is a weird issue on specific kindle devices (Gen 6) If a field has input masking applied, when user goes inside the field & starts typing, instead of the masking characters getting consumed as user types in, the characters are just pushed forward in the input field.

Eg:

(   ) - ____ - _____

If the above the the masking. Once user starts typing, it goes like this -

999(    ) - ____

[2014-03-05 19:20] RobinHerbots commented on #442
@rizowski ,

Pressing insert toggles between insert and overwrite.  I just tested in chrome with the demo page and it seems ok.

[2014-03-05 19:24] RobinHerbots commented on #443
@nitishdhar,

That is because the keydown keypress input keyup events aren't handled correctly on android based devices.See #434

If you have a look into the jquery.inputmask.js and search on mobileinputevent you can reënable handling off input solely based on the inputevent;  This will work in some cases but isn't 100% reliable. See issues for android browsers.

best regards,
Robin

[2014-03-05 19:27] RobinHerbots commented on #443
Is there an emulator for the Kindle Gen 6?

Can you test which events get fired on keystroke especially on non-numeric input.  On chrome for android it is only in the case of non-numeric input the events aren't fired.

[2014-03-05 19:38] RobinHerbots commented on #443
ok found it

https://developer.amazon.com/sdk/fire/setup.html

[2014-03-05 19:45] nitishdhar commented on #443
alright. Also you mean i need to specify the input type to be number & it works in some cases?

[2014-03-05 19:47] nitishdhar commented on #443
and could you please explain this - "you can reënable handling off input solely based on the inputevent;" I am not sure what I should do.

[2014-03-05 19:52] nitishdhar commented on #443
also, we are in the process to migrate to the new masked library (this one) but we are currently using the old one, would it be too much to ask for, if you could help with a fix for this in this library - https://raw.github.com/digitalBush/jquery.maskedinput/1.3.1/dist/jquery.maskedinput.js

thanks

[2014-03-05 20:21] RobinHerbots commented on #443
@nitishdhar ,

No I mean if you use a mask like 999-999-999 it will work on android chrome but a mask like aaa-aaa not.  This is because in the case of the aaa-aaa mask the keydown keypress events aren't fired.

In the code there is an attempt to handle this, but it is commented out see #434.

Sorry, but I don't have time to solve bugs of another masking library and even if I had, I don't have a f

[2014-03-05 21:34] nitishdhar commented on #443
sure thanks a lot.. ill keep you posted if anything works

[2014-03-06 00:26] nitishdhar commented on #443
Hey,

I got it working with your library by un-commenting that mobileinput event part & also adding another device check for kindle -

kindle = /Kindle/i.test(ua) || /Silk/i.test(ua) || /KFTT/i.test(ua) || /KFOT/i.test(ua) || /KFJWA/i.test(ua) || /KFJWI/i.test(ua) || /KFSOWI/i.test(ua) || /KFTHWA/i.test(ua) || /KFTHWI/i.test(ua) || /KFAPWA/i.test(ua) || /KFAPWI/i.test(ua);

[2014-03-06 00:26] #443 closed, assigned to nobody

[2014-03-06 06:22] YoussefTaghlabi opened #444 "Backspace and Delete actions result in an unexpected behavior"
Using the following configuration in v2.5.0:

[code]
- Type in the following data into the input field: `1234567`
  ( This gets masked to: `1,234,567` )
- Place cursor on the far left. The cursor should be now right before `1`
- Press "Delete" OR "BackSpace"

Expected Result: `234,567`
Actual Result: `2`

Using the same configuration
- Type in the following data into the input field: `1234567`
  (

[2014-03-06 06:58] RobinHerbots commented on #443
@nitishdhar,

And is the backspace and typing more characters then possible correctly handled?

[2014-03-06 07:35] RobinHerbots commented on #444
@YoussefTaghlabi ,

Thx for reporting.

Fixed in version 2.5.1

[2014-03-06 07:35] #444 closed, assigned to nobody

[2014-03-06 09:32] ghost commented on #417
i think, this is an issue again.
http://jsfiddle.net/bZT3j/7/

value of input:
01 650 103 002 0001 DE101 5170

if i mark "02" from the "002"-block, and replace it with for example "01", the it seems broken

[2014-03-06 10:43] RobinHerbots commented on #417
Fixed in version 2.5.2

2014-03-06 10:32 GMT+01:00 wuSam notifications@github.com:

[2014-03-06 10:44] #417 closed, assigned to RobinHerbots

[2014-03-06 10:48] ghost commented on #417
great! you rock!

[2014-03-06 14:18] YoussefTaghlabi commented on #444
Works great.
Thanks!

[2014-03-06 14:47] rizowski commented on #442
After looking it over I found that I was on a previous version. It seems that it is working now.

[2014-03-06 14:47] #442 closed, assigned to nobody

[2014-03-06 15:03] YoussefTaghlabi opened #445 "Enable Placeholder option for Decimal mask"
Consider the following scenario using the following configuration in v2.5.2:

[code]

Ideally, this should result in a placeholder of: `0.00`

[2014-03-06 15:17] RobinHerbots commented on #445
@YoussefTaghlabi ,

Yep, I agree but that I will do in milestone 2.7

[2014-03-06 15:35] YoussefTaghlabi opened #446 "Decimal Mask: Adding Plus or Minus sign results in an extra groupSeparator"
Using the following configuration in v2.5.2:

[code]
- Type in the following data into the input field: `123456`
  ( This gets masked to: `123,456` )
- Place cursor on the far left. The cursor should be now right before `1`
- Press the minus sign `-`

Expected Result: `-123,456`
Actual Result: `-,123,456`

Please note that the same behavior happens when adding a plus sign `+`.

[2014-03-06 20:49] nitishdhar commented on #443
yes everything is handled properly.

[2014-03-06 20:50] nitishdhar commented on #443
http://jsfiddle.net/ftnU7/8/

[2014-03-07 07:16] RobinHerbots commented on #443
Which browser is the kindle using as default?

2014-03-06 21:50 GMT+01:00 Nitish Dhar notifications@github.com:

[2014-03-07 07:44] RobinHerbots commented on #446
fixed in version 2.5.4

[2014-03-07 07:44] #446 closed, assigned to nobody

[2014-03-07 15:33] nitishdhar commented on #443
I guess it uses the webview of Silk browser.

[2014-03-07 17:38] YoussefTaghlabi commented on #446
Thanks

[2014-03-07 18:29] YoussefTaghlabi opened #447 "Decimal mask doesnt have the "oncomplete" concept"
Consider the following scenario using the following configuration in v2.5.4:

[code]

The oncomplete doesnt fire for the `decimal` mask because it can have an x amount of characters.

Ideally, the `oncomplete` function should fire once the user blurs out from the input, and the input value is valid.

![foo](https://f.cloud.github.com/assets/1639024/2360560/e7097fac-a625-11e3-92c9-7bf57a59b407.png)

[2014-03-07 19:03] jimithing277 opened #448 "Issue when pasting with multi-mask"
Currently using version 2.5 and noticed that there appears to be an issue when attempting to paste a value in to an input with multiple masks defined.

I have an input with the following masks:

"99.99" and "99.99.99

Pasting the value of "22.22" in to the control will reproduce the issue.  You'll notice that the input will display the second mask even though my pasted value should have triggered

[2014-03-07 19:48] YoussefTaghlabi opened #449 "$.inputmask.isValid returns undefined for "integer" and "decimal" aliases"
Integer:

[code]

Decimal has the following defaults option:

[code]

However, the following doesn't get validated:

[code]

If the groupSeperator option has a value as in:

[code]

[2014-03-07 20:06] YoussefTaghlabi opened #450 "Decimal mask doesnt have the "clearIncomplete" and "onincomplete" concepts"
Consider the following scenario using the following configuration in v2.5.4:

[code]

The  `onincomplete` doesnt fire for the `decimal` mask

Ideally, the `onincomplete` function should fire once the user blurs out from the input, and the input value is invalid.

Also, using the configuration above, a user can type in the following: `12,`.
This is an invalid entry since the groupSize is set to 3.

[2014-03-09 00:06] YoussefTaghlabi opened #451 "Adding parentheses as a negative format for Decimal and Integer aliases (100)"
A negative number can be represented by either a dash ```-100``` or parentheses ```(100)```.
As of now, only the following format is supported ```-100```.
Is it possible to add this feature?

Also a user doesn't have to go all the way to the left of the number to add the negative sign; Pressing the ```-``` key anywhere in the input field, should "toggle" the negative sign ( Either add ```-``` to t

[2014-03-09 20:54] YoussefTaghlabi opened #452 "Decimal alias: changing digits to 0 leaves a trailing radixPoint"
Consider the following scenario using the following configuration in v2.5.4:

[code]
- Type in the following data into the input field: `1234.56`
  ( This gets masked to: `1,234.56` )
- Change the digits option to 0:

[code]

Expected Result: `1,234`
Actual Result: `1,234.`

Please note that the user can still add/remove the radixPoint, which shouldn't be the case since the `digits` option is set

[2014-03-10 08:25] RobinHerbots commented on #448
@jimithing277 ,

I'm want to totaaly rework the multiple mask option, as I am not happy with the current implementation.

I also want to improve the selection of the active mask.

For your mask.
Can you try this one 99.99[.99]  with greedy: false
on blur the trailin.__ will disappear.
Robin

[2014-03-10 08:31] RobinHerbots commented on #447
@YoussefTaghlabi ,

That is because the repeat in decimal alias is \* by default, so it cannot determine when the mask is complete.  \* is infinite.

Anyway I added an override or call-in.  isComplete option.  With this you can override the functionality of the isComplete function with your own logic to verify completeness.

I will add this to the numeric extension soon.

[2014-03-10 08:32] RobinHerbots commented on #449
See comment in #447

[2014-03-10 08:33] RobinHerbots commented on #450
Also see comment in #447

[2014-03-10 08:35] RobinHerbots commented on #451
@YoussefTaghlabi,

Nice thought.  Thank you for the many input.  I really appreciate that.
I will definitly implement it.

[2014-03-10 08:35] RobinHerbots commented on #452
I will have a look at it.  Milestone 2.6

[2014-03-10 15:09] YoussefTaghlabi commented on #451
Milestone 2.6?
Thanks!

[2014-03-10 16:48] Rouche opened #453 "numeric extention"
Oh well, i tryed to implement the integerDigits part.

I got the regex generation ok (maybe complicated but it works)
Problem is it seems to interfere with something else wich i have a hard time to figure out.

Here is my code:

[code]

[2014-03-10 16:50] YoussefTaghlabi commented on #453
There is already an "integer" mask.

[code]

[2014-03-10 16:58] Rouche commented on #453
I just wanted to limit the size of the "integer" part of the decimal.
Like in database Number(5, 2) for example

since there was an unused integerDigits inside a todo block i figured out it was for future use and tryed :P
Without success sadly for now.

[2014-03-10 18:01] Rouche commented on #453
Ok wow, i got confused about the regex that seemed to validate the full formatted number but in fact only the first part of it was usefull.

With the regex cleaned up a bit and added the integerDigit option, everything is fine:

[code]

[2014-03-11 08:27] RobinHerbots commented on #453
Hi Jean-François,

Can you create a pull request for this.

Thx

Robin

2014-03-10 19:01 GMT+01:00 Jean-Francois Larouche notifications@github.com
:

[2014-03-11 11:44] Rouche commented on #453
Yeah ill have to wait tonight.
edit:
Ok maybe this weekend. Sry.

On Tue, Mar 11, 2014 at 4:27 AM, Robin Herbots notifications@github.comwrote:

[2014-03-13 11:05] newsec opened #454 "Phone extention backspace problem"
Hi! I'm testing phone extention on http://robinherbots.github.io/jquery.inputmask/
1) Type +7123
2) Press backspace 3 times. Expect +7 value, actual +7(6__)
3) Press backspace 1 time. Empty input, caret after second symbol.
4) Press backspace 1 time. Input value +1(___)
etc...

[2014-03-14 20:31] nitishdhar opened #456 "Select all & Cut Misbehaving in IPad Air"
If in a numeric masked field, you Select All and Cut the numbers out of the field which removes the formatting as well as preventing any more numbers to be entered until selecting another field and then returning, Once returning to that field, the same number is automatically filled that were cut initially along with the formatting.

[2014-03-14 22:06] Mottie opened #457 "Demo download buttons don't work"
The zip and tarball download buttons don't work on http://robinherbots.github.io/jquery.inputmask/

[2014-03-15 07:28] RobinHerbots commented on #456
@nitishdhar ,

Can you sen me the user agent string.

[2014-03-15 07:29] RobinHerbots commented on #457
@Mottie ,

Oh, I will fix that soon, thx for reporting!

[2014-03-15 07:30] RobinHerbots commented on #454
@newsec,

I will have a look at it.

[2014-03-17 15:19] rizowski opened #458 "[Chrome Android] Input pushing mask"
I am currently getting a bug on the latest version 2.5.6. I try to type in a number for the mask of 999-99-9999 and it ends up pushing the mask back allowing as many characters as you want to be entered. This seems to have different effects on different android devices. On a N5 (Android 4.4.2; Chrome 33.0.1750.136) , It applies the mask but as soon as I delete characters it removes the mask as wel

[2014-03-18 14:53] #458 closed, assigned to nobody

[2014-03-19 10:56] borodyadka opened #459 "Dynamically created inputs"
Hi, i want to use inputmask in my project with that [bootstrap snippet](http://bootsnipp.com/snippets/featured/multiple-fields). But inputmask doesn't work with new inputs.
And i don't know how do it with `$.live()` method.

I'm using Firefox 28 on Xubuntu GNU/Linux if it's does matter.
Sorry for my bad english.

[2014-03-19 16:05] YoussefTaghlabi commented on #459
You cant do it with the live method.
btw, live method is getting deprecated.

To stay consistent with both jQuery and Bootstrap, you can do the following:
- As an example, Add the following data attributes to your input

[code]
- Add this script to your page

[code]

This is an unobtrusive way of implementing inputmask, using jQuery and Bootstrap design patterns.

[2014-03-20 02:48] OEN007 opened #460 "Having problems using this on Android with (Japanese) Google IME"

[2014-03-20 03:29] #460 closed, assigned to nobody

[2014-03-20 10:35] RobinHerbots commented on #459
Maybe use the data-inputmask attribute?

2014-03-19 17:05 GMT+01:00 Youssef Taghlabi notifications@github.com:

[2014-03-20 12:56] borodyadka commented on #459
Thanks for responses.
@YoussefTaghlabi unfortunately your example doesn't work.
@RobinHerbots thanks, but doesn't works too.

I resolved my problem:
on the end of snippet js, but before attach to DOM i've added

[code]

[2014-03-20 12:56] #459 closed, assigned to nobody

[2014-03-20 15:02] RobinHerbots commented on #459
Yep, you need to call the inputmask to allow the data-inputmask to work.

I chose to not do this automatically for the data-inputmask attribute to
give the dev the freedom and choice

2014-03-20 13:56 GMT+01:00 Pavel Kilin notifications@github.com:

[2014-03-21 02:46] nitishdhar commented on #456
@RobinHerbots - Its being tested in a remote location. Have requested the user agent. Will let you know. Meanwhile any guesses what's happening?

[2014-03-21 08:33] mtomas-mpm opened #461 "Error in maxlength setting mask twice"
Due to an error in my code I was setting the mask of an input twice, the collateral effect in the mask is that the maxlength of the input is doubled (https://github.com/RobinHerbots/jquery.inputmask/blob/2.x/js/jquery.inputmask.js#L1266). I've solved in my code and all works fine, but is there any way to check if the mask is setted in the input before setting up?

A dummy jsFiddle with the behavio

[2014-03-21 13:26] RobinHerbots commented on #456
I guess an unhandled input event, ... this will be common for mobile I
think, ...I will have a look at it when times allows.

2014-03-21 3:46 GMT+01:00 Nitish Dhar notifications@github.com:

[2014-03-23 09:26] dotnector opened #462 "Android Chrome fails with input type number"
Using the stock Chrome browser on a Nexus 7 with droid 4.4.2 the plugin fails when using
input type="number"

It simply does not apply the mask to that input type.

http://jsfiddle.net/dotnector/Kc3CA/

[2014-03-24 07:02] VovanR opened #463 "NaN comparison in jquery.inputmask.date.extensions.js"
[code]

[2014-03-24 08:34] RobinHerbots commented on #463
@VovanR ,

Thx
Robin

[2014-03-24 08:34] #463 closed, assigned to nobody

[2014-03-24 08:37] RobinHerbots commented on #453
@Rouche
Thx for the patch

[2014-03-24 08:37] #453 closed, assigned to nobody

[2014-03-24 11:17] sidwaseem opened #464 "Android: Issue in deleting spaces between mask sets if placeholder is set to blank or space"
Hi Robin,

I have a requirement where i need to mask input[type=tel] to accept credit card number and don't want to reveal mask when user starts typing, which is achieved by setting placeholder=' '. everything working fine on desktops but on android devices Caret position is stucked at spaces.

Here is the scenario.
$( 'input[data-rule-credit-card]' ).inputmask(  '9999 9999 9999 9999', { 'placehol

[2014-03-24 15:15] rizowski opened #465 "Android Information"
I have found some information that I hope is useful for Android. I have found that this library still breaks on Galaxy devices. I started to look into what was causing some of these issues. As of right now, Galaxy devices are not registering the keys that are pressed. It instead returns 0 for the keydown/up events. I have written several tests to see if I could replicate the issue and spent severa

[2014-03-24 17:46] RobinHerbots opened #466 "Fix optional masks in 2.6"

[2014-03-25 17:37] ricardoborges opened #467 "Bug with 'dd/mm' mask"
I've found a bug when trying to use this mask "dd/mm". Works fine for "mm/yyyy"

This is the most powerfull mask plugin I've found! Congratulations!

[2014-03-25 17:41] YoussefTaghlabi commented on #467
You need to add this alias:

[code]

[2014-03-25 17:44] YoussefTaghlabi commented on #467
I have the following aliases so jQuery UI Datepicker can work with this plugin:

[code]

[2014-03-25 18:59] ricardoborges commented on #467
Cool! thanks!

[2014-03-25 18:59] #467 closed, assigned to nobody

[2014-03-26 14:22] ancc opened #468 "Value formatting, inputmaks.format() gives error"
Hi,

when using the example:
var formattedDate = $.inputmask.format("2331973", { alias: "dd/mm/yyyy"});
it gives an error:
Uncaught TypeError: Cannot call method 'toString' of null

example: (copy-paste of minified inputmask because of the mime type)
http://jsfiddle.net/LKJsT/

[2014-03-26 14:35] ancc commented on #468
ok, for alias the extensions are needed, but if I use
var formattedDate = $.inputmask.format("2331973", { mask: "dd/mm/yyyy"});

then formattedDate value will be "dd/mm/yyyy" not the formatted date eg "23/03/1973"

[2014-03-26 14:44] RobinHerbots commented on #468
That is because the "dd/mm/yyyy" mask does not exist.    The are no mask
definitions for d,m & y so it is interpreted as static.

2014-03-26 15:35 GMT+01:00 ancc notifications@github.com:

[2014-03-26 14:50] ancc commented on #468
thanks! I got it, now it works!

[2014-03-26 17:07] #468 closed, assigned to nobody

[2014-03-26 18:46] gigermocas opened #469 "$.inputmask.format doesn't work correctly when numericInput: true"
I'm trying to use $.inputmask.format to format a value directly but I'm having inconsistent results in comparison with an input set up with the same mask options when the "numericInput" option is set to true.

When numericInput is set to true, $.inputmask.format inverts the actual mask and doesn't fill in the mask right-to-left.

In this jsfiddle I was expecting to see the same result in the first

[2014-03-26 21:11] RobinHerbots commented on #469
@gigermocas ,

I fixed it in the 2.6 branch which will become the main branch soon.

[2014-03-27 09:14] RobinHerbots commented on #469
Also fixed in 2.x

[2014-03-27 09:14] #469 closed, assigned to nobody

[2014-03-27 09:14] #202 closed, assigned to RobinHerbots

[2014-03-27 09:15] RobinHerbots commented on #466
TOD clearoptionaltail

[2014-03-27 21:51] thiagotalma opened #470 "Apply a variable mask according to the length of the text entered"
You can apply a variable mask according to the length of the text entered?

For example, if you type:
1234, the mask will be "99-99"
12345, the mask will be "999-99"

Note that the user will enter only numbers. The mask is changed according to the size of the string, instead of changing when the user types the character "-".

The way the script is now, to use the optional mask, the user must press

[2014-03-27 22:11] jasonhoelz opened #471 "Date Mask & AJAX Calendar Extender"
Not sure if this is something you'd consider implementing...  I wanted to use your date input masks in conjunction with the AJAX calendar extender.  The input mask allows you to pick the date and it populates the textbox, however, when you tab off the field the input mask itself is put back in the textbox and remains there (until you hover or click in the box again).

<asp:TextBox ID="txtDateTime"

[2014-03-28 08:21] RobinHerbots commented on #470
@thiagotalma,

Cuurently that is not implemented.  But this will be a nice feature.

How do you see this?  Thatthe mask is changed to 99-99 when the focus on the field is lost?

[2014-03-28 08:22] RobinHerbots commented on #471
@jasonhoelz ,

Can you make a jsfiddle to make it more visible.

[2014-03-28 17:49] gigermocas commented on #461
When I remove an inputmask the "maxlength" doesn't get reset to the previous value, shouldn't it be the default behavior?

[2014-03-28 18:34] gigermocas opened #472 "maskedValue on "onUnMask" is reversed when RTL"
relates to #469

onUnMask() isn't being called with the correct value for "maskedValue" when "numericInput" is true. It should be reversed as it is done with "unmaskedValue" according to isRTL

http://jsfiddle.net/DpmPv/

[2014-03-28 18:56] jasonhoelz commented on #471
I just switched from using the AJAX calendar extender to use the jQuery ".datepicker()".  It works perfectly in conjunction with your date inputmask - this way I get my free form dates validated, and I can use the datepicker if I want.
$("#txtDateTime").inputmask("mm/dd/yyyy");
$("#txtDateTime").datepicker();

Thanks!

[2014-03-28 18:56] #471 closed, assigned to nobody

[2014-03-28 21:43] thiagotalma commented on #470
See this. It is the ideal behavior.
http://jsfiddle.net/FWUG3/

[2014-03-30 19:40] nsoeffers commented on #462
I also noticed this in chrome on a laptop.

I think it has something to do with: https://codereview.chromium.org/100433008/#ps60001
As I see the following error: Failed to read the 'selectionStart' property from 'HTMLInputElement': The input element's type ('number') does not support selection.

[2014-03-31 05:43] ttback opened #473 "Any way to turn off autocomplete?"
I realize when you start inputting years with 18.., it jumps to 2018. I have a project that requires older dates in the range of 1800s, and the only way I can stop this behavior is setting a really small min value for the yearrange. Is there a way to simply turn off the autcomcomplete feature?

[2014-03-31 11:48] RobinHerbots commented on #473
@ttback ,

There is no option yet, but this will do:

[code]

[2014-04-01 02:10] ttback commented on #473
Thanks. I think this blocks entering anything out of the range?

[2014-04-01 17:31] #466 closed, assigned to RobinHerbots

[2014-04-02 09:33] mtomas-mpm commented on #235
Have you implemented the percentage mask yet? Have you plans for it?
In version 2.5.8 I've seen a "todo" in the suffix field of "decimal" mask, it could be enough for me.

For the moment I'm using your proposed mask ("[-]9[9].9[9]%") but I'm interested too in manage the percentage value as base1. So show it multiplying by 100 and getting value dividing by 100. To get the value I can use unmaskedva

[2014-04-02 11:26] RobinHerbots commented on #473
yes

[2014-04-04 08:42] SabbeRubbish opened #474 "isComplete needs safety checks"
In fn.inputmask:

[code]

Should check whether this.data('_inputmask') is set. All other functions do check that...
Would expect something like:

[code]

[2014-04-04 09:04] RobinHerbots commented on #474
Yes Thx

Can you send a pull request.

best regards,

Robin

2014-04-04 10:42 GMT+02:00 SabbeRubbish notifications@github.com:

[2014-04-04 13:23] j-morgan opened #475 "Remove on input.blur is not working (version 2.5 from NuGet)"
Hello,

I am working on an application where the user would like to see a placeholder (in place of using any labels) to tell the user what the field is for.  When I use the inputmask, that placeholder goes away.  So I have tried to add a mask on input.focus and then remove the mask on input.blur.

[code]

I am getting an error when the input.blur is fired.

TypeError: input._valueGet is not a func

[2014-04-05 14:18] jimithing277 opened #477 "Date mask allowing invalid date entry"
Current version: 2.4.20

This issue can currently even be recreated on the current demo site (http://robinherbots.github.io/jquery.inputmask/) using the 'mm/dd/yyyy' example.

Steps to reproduce:

1) Enter a date of '04/05/2014'
2) Place cursor at the '0' within the DAY portion.
3) Enter '3'.

You'll see that the control allows for a date of '04/35/2014'.

The same issue appears to happen with day

[2014-04-07 11:03] RobinHerbots commented on #475
@j-morgan ,

Can you create a jsfiddle with the placeholder not showing in combination with the inputmask
I feel more like fixing that first.

best regards,
Robin

[2014-04-07 18:33] alejandro-fiore commented on #386
+1

[2014-04-07 20:34] #474 closed, assigned to nobody

[2014-04-07 20:40] RobinHerbots opened #478 "Add support for multi masks in branch 3.x"

[2014-04-09 03:03] guxuede opened #479 "number mask work incorrect if i set maxlength attr."
hi,dear guy.

[2014-04-09 06:00] RobinHerbots commented on #479
@guxuede ,

Can you explain a bit more.  Give an example.

Robin

[2014-04-09 09:23] RobinHerbots commented on #478
base implementation done + with override function to determine the activemaskindex to customize the selection.

[2014-04-09 10:24] RobinHerbots commented on #472
@gigermocas ,

Fix in 2.x & 3.x

[2014-04-09 10:24] #472 closed, assigned to nobody

[2014-04-09 13:42] RobinHerbots commented on #470
http://jsfiddle.net/FWUG3/1/ some first tests based on the current implementation in 3.x

[2014-04-09 13:49] RobinHerbots commented on #42
There is a first version of the email alias available in the jquery.inputmask.extensions.js  branch 3.x

$(selector).inputmask("email");

Any suggestions for enhancement are welcome.

[2014-04-09 13:57] YoussefTaghlabi commented on #42
You should probably start using http://qunitjs.com/ for unit testing.

[2014-04-09 15:53] RobinHerbots commented on #42
I already do

[2014-04-09 17:45] thiagotalma commented on #470
Very good!

`#code` works perfectly.
`#code2` works fine on initial fill, but if you delete a character gives error. Problem is also with the tab.
`#code3` and `#code4` have no changes from the current version, right?

Good would be able to adapt the code of  `#code`.

[2014-04-09 18:38] RobinHerbots commented on #470
@thiagotalma ,

What error do you get in code2?

[2014-04-09 18:41] thiagotalma commented on #470
Try entering all characters and then delete the last.
Unlike the `#code`, this does not update the mask, the placeholder remains.

And also I can not change the field using the TAB.

[2014-04-11 06:59] vipul550 opened #480 "in time format hour is taking "dot" too."
when i type like 1.:11:PM is accepting please provide me solution for this

[2014-04-11 18:04] thiagotalma commented on #470
Now is working perfectly!
Have you changed anything?

[2014-04-11 18:10] thiagotalma opened #481 "Create the master branch"
Hello!
It would be great if you created the master branch with the most current version of the project.

I was watching the 2.x branch had not even realized that there was already 3.x.

If there was the master branch, this problem does not occur.

[2014-04-11 18:38] thiagotalma commented on #470
@RobinHerbots , has a little problem, see: http://jsfiddle.net/FWUG3/2/

In the first field I am forced to press the space.

[2014-04-11 19:06] thiagotalma opened #482 "Clear incomplete mask when applying the mask"
We have an option to clear the incomplete mask when the user is entering and leaving the field.

How do we indicate that a field should be cleared when it was already loaded with incomplete mask on page load?

[2014-04-11 22:24] RobinHerbots commented on #470
@thiagotalma,

Code2 fixed + needed space fixed.

The selection between the different masks will not cover all cases, but there is an option determineActiveMasksetIndex which can be used to implement the needed behavior.

Todo code3 & code4 behavior in combi with the code1 & code2

[2014-04-11 22:25] RobinHerbots commented on #480
@vipul550 ,

I will fix that in milestone 2.7

[2014-04-11 22:26] RobinHerbots commented on #482
milestone 2.7

[2014-04-11 22:35] RobinHerbots commented on #481
@thiagotalma ,

This is just a transition period.  I only have time to maintain one branch. And branch 3.x is born because the implementation of dynamic masks has progressed enough.

I will soon abandon branch 2.x, but for now I still accept patches for it.  The default selected branch is considered the master.   So now it is already 3.x

[2014-04-11 22:35] #481 closed, assigned to nobody

[2014-04-11 22:35] #478 closed, assigned to RobinHerbots

[2014-04-11 22:37] RobinHerbots commented on #477
@jimithing277 ,

I will fix that in milestone 2.7

[2014-04-12 19:13] thiagotalma commented on #482
:+1:

[2014-04-12 19:16] thiagotalma commented on #470
Perfect!

[2014-04-13 02:58] YAmikep opened #483 "mask date MM/YY : year on two digits only"
Hi,

I had the following mask before "mm/yyyy" which worked but I would like to change it to only 2 digits for the year.
Changing it to "mm/yy" or "mm/YY" does not seem to work.
Is that a bug?

Thanks

[2014-04-13 13:41] ghost opened #484 "Setting a value with document.getElementById().value"
Hello @RobinHerbots

I have a problem, if I try use the inputmaks plugin on Chrome and IE. (latest versions)
Anyway, It's working properly on Firefox.

My problem is that, if I set a new value widht document.getElementById().value, the maks doesen't work.

I'm enclosing the example:
http://jsfiddle.net/tnr2e/3/

How can I solve this problem? Unfortunatelly, I can't use in my model the jquery selec

[2014-04-13 18:15] xMANIGHTx opened #485 "Jquery minimum version"
Hallo Boss, does this work with Jquery 1.9.1? I saw you are using 1.10.x in the demo.
I'm asking since I would like to use this along with Telerik .NET controls and they are struck at 1.9.1, otherwise I'll have to load a double jQuery to use this script.
I can't find anywhere what is the minimum jQuery version to run along with the script.
Sorry for posting here if it's not the right place.

[2014-04-13 19:17] RobinHerbots commented on #485
;-)  The minimum version of jQuery is 1.7

2014-04-13 20:15 GMT+02:00 xMANIGHTx notifications@github.com:

[2014-04-13 20:06] xMANIGHTx commented on #485
Hey! That’s AWESOME thanks. So there must be some other things interfering with my code.. I’ll do some other tests.
Can’t wait for the “tabbing and autoselect on skip inside the mask” to be implemented!!
Great job so far

Da: Robin Herbots [mailto:notifications@github.com]
Inviato: domenica 13 aprile 2014 21:17
A: RobinHerbots/jquery.inputmask
Cc: xMANIGHTx
Oggetto: Re: [jquery.inputmask] Jquery m

[2014-04-13 22:06] luizcruz00 opened #486 "escape special mask chars"
Hi Robin!

Congratulations for this fantastic work!

It's the first time I use a jQuery plugin, So I can say your work is very easy to understand, because even beginners can use!

I created a mask for chassis vehicle, with the following format "InputMask (." # # # # - # # # # - # - # # # # - # # # # "); "and it is working perfectly.

Now, I would like to prevent the user can enter the following le

[2014-04-14 05:16] vipul550 commented on #480
any quick fix  to implement via regx or just basic jquery? as i already done in production and now i am getting this error

[2014-04-14 07:08] RobinHerbots commented on #486
Hi Luiz,

Thx ;-)

You have to create a custom definition for it. (see
jquery.inputmask.extensions.js)

[code]

and use ." c c c c - c c c c - c - c c c c - c c c c "

What you mention is for the case you have a defintition m but you want it
to use as a fixed part like the m in months.  By escaping you tell the
plugin to not treat it as a mask definition.

2014-04-14 0:06 GMT+02:00 luizcruz00 noti

[2014-04-14 08:53] awudarowicz opened #487 "Typing problems on Android"
There are two different problems with typing on Android devices. It depends on Android version:
1. For Android 4.2 (and propably other modern versions) - In newest version of jquery.inputmask mask doesnt work. The mask is moving to the right while we typing text. What is strange: In older plugin version everything was ok!
2. For Android 2.3 - The text is strangely jumping when it detects mask char

[2014-04-14 16:45] luizcruz00 commented on #486
Hi Robin!

Thank you very much!

The extension you provided works perfectly!

Now I understood we need to inform what _"is allowed"_ instead to set what _"is
not allowed"_.

Please, I need one more tip!

I would like to alert the user when he type a letter that is not allowed in
the "VIN" information "onkeydown"

I read we can use  "onKeyUp / onKeyDown option"  to do some extra
processing of the i

[2014-04-14 20:52] RobinHerbots commented on #480
I will have a look

[2014-04-15 04:28] YAmikep commented on #483
Is it actually not supported at all?
Thanks.

[2014-04-15 06:20] RobinHerbots commented on #483
@YAmikep,

It is not defined as an alias so not supported. (yet)

I will implement it in milestone 2.7

[2014-04-15 06:21] RobinHerbots commented on #486
@luizcruz00 ,

Use the onKeyValidation callback

[2014-04-15 06:24] #485 closed, assigned to nobody

[2014-04-15 06:29] RobinHerbots commented on #484
@vtothviktor,

That is because firefox allows to modify the native value property while chrome and IE don't.  The fallback is jquery.val or trigger the setvalue event.  Why can't you use jquery.val?

Maybe try this one http://jsfiddle.net/tnr2e/4/

[2014-04-15 06:44] RobinHerbots commented on #480
@vipul550 ,

Which version do you us e of the plugin? And which mask or alias?

[2014-04-15 06:58] gorkovv opened #488 "How to remove (skip) a small cross"
How to remove (skip) a small cross, which is shown on the right only in IE?

[2014-04-15 07:31] RobinHerbots commented on #488
That has nothing todo with the inputmask, it is an IE thing.  Anyway you
can hide it with css, .. ms-clear or something.  (google it)

2014-04-15 8:58 GMT+02:00 kib1org notifications@github.com:

[2014-04-15 08:15] vipul550 commented on #480
i am using for time, mask: "h:s t\m",            placeholder: "hh:mm xm",            alias: "datetime",
version is latest as i took from github only folder name was 3.x dont know the excat version

[2014-04-15 08:45] gorkovv commented on #488
Thanks for the tip!
::-ms-clear {display: none;}

[2014-04-15 11:03] RobinHerbots commented on #480
Fixed in the latest 3.x branch.

Be aware that there is no release yet for the 3.x branch.

best regards,

Robin

2014-04-15 10:15 GMT+02:00 vipul550 notifications@github.com:

[2014-04-15 11:46] #488 closed, assigned to nobody

[2014-04-15 12:37] amr2fxg commented on #470
Hi guys,
I'm using this mask of code2 so the user can either use 9999-9999 or 99999-9999, but I'm not able to paste anything using jquery.val() or .value  to restore the data on that field. It simply does not accept it.  Is there any workaround for that?

NOTE: already tried pushing only numbers and masked values.
Thanks

[2014-04-15 13:27] YAmikep commented on #483
I saw that the 2.x version is no longer maintened. The current 2.x version is 2.5.10 so just to know, when can I expect the 2.7 version with this change? Thank you.

[2014-04-15 13:59] DanaCris opened #489 "Date mask allowing invalid year"
Version: 2.5.10

You can enter a letter for any digit of the year except the first one.

Example of accepted dates:
23/09/2ygm
09/02/2f8i

Just like you can't enter a letter for the date or the month, I think it would be necessary to be the same for the year.

Thanks!

[2014-04-15 14:06] RobinHerbots commented on #483
@YAmikep,

I t will be in the 3.x version, .... 2.7 is the milestone, ...  (maybe I should update the milestones ;-))

The first 3.x release will come soon, (milestone 2.6)

[2014-04-15 14:08] RobinHerbots commented on #489
@DanaCris ,

Can you make a jsfiddle for that?

best regards,

Robin

[2014-04-15 14:45] luizcruz00 commented on #486
Hi Robin!

Thank you!

I hope I'm not abusing your generosity!

but unfortunately, I have no idea how can I use the Function(result) to
alert when the user enter I,O,Q!

I already tested the _"IsComplete"_ function and it worked perfectly!
_onKeyValidation_ works the same way as *"IsComplete"? *

Please,how should we refer to characters not allowed?

$(document).ready(function(){
   $("#EditRecord

[2014-04-15 14:59] hanneslinder opened #490 "Right aligned values jump slightly on :focus"
When using the plugin to mask input values as right aligned decimals, clicking / focusing the input causes the input values to jump slightly to the left side.
I did not find any css properties that could be responsible for this effect and setting a different padding-right on :focus does not seem to work either.

This behavior can be observed on the official demo page in the 'Decimal' field.

Any h

[2014-04-15 17:00] DanaCris commented on #489
http://jsfiddle.net/fVv7a/8/

For example, if I introduce 11 for day, 11 for month and 2w for year (or 2 followed by any character) I get 11/11/202w.
I think the problem comes from using yearrange with a min of 0001 (as used by someone in the project I'm working on). With a minyear of 1, you can enter a character for any digit of the year except the first one.
The issue with letters accepted in th

[2014-04-15 21:32] RobinHerbots commented on #490
@hanneslinder,

You are right, I never did attention to it, but I also see the small itch ;-)

I guess it is  npt.scrollLeft = npt.scrollWidth; in the caret function which causes that.
Maybe you can comment that line out to verify.
Your feedback is welcome and appreciated.

I will also have a look at it when time allows.

[2014-04-15 21:37] ghost opened #491 "Version 3.0 seems not working"
I created a test html page as below. Cant enter any character. Whats wrong
Cant paste the html here. Put it at http://jsfiddle.net/6nNJs/  .But please keep in mind its only for html sharing

[2014-04-15 21:37] RobinHerbots commented on #486
@luizcruz00 ,

verify the result.
 If(result === false)
add some class or css styling to indicate the fault entry
else remove class or css styling

[2014-04-15 21:39] RobinHerbots commented on #491
@hjunior81 ,

The is nothing to see in the html.  Can you create a jsfiddle, then it will be more clear why it is not working.

best regards,
Robin

[2014-04-15 21:41] RobinHerbots commented on #489
@DanaCris ,

I will fix it soon.

[2014-04-15 21:42] ghost commented on #491
Cant paste the html here. Put it at http://jsfiddle.net/6nNJs/ .But please keep in mind its only for html sharing

[2014-04-15 21:47] luizcruz00 commented on #486
Hello Robin!

Thanks for your help, but unfortunately I feel that this goes far beyond my
reach!

I'm really newbie, sorry for my lack of knowledge!

Regards!

Luiz

2014-04-15 18:37 GMT-03:00 Robin Herbots notifications@github.com:

[2014-04-15 21:52] RobinHerbots commented on #491
@hjunior81

See http://jsfiddle.net/6nNJs/2/

[2014-04-16 06:11] ghost commented on #491
Yes. Thats the problem. As you see both inputs are not writable. Thanks.

[2014-04-16 07:26] hanneslinder commented on #490
Perfect!
Commenting out that line seems to solve the issue :)

[2014-04-16 08:03] RobinHerbots commented on #491
What browser are you using??

2014-04-16 8:11 GMT+02:00 hjunior81 notifications@github.com:

[2014-04-16 08:35] ghost commented on #491
Firefox 26 or Internet Explorer 10.
Firefox; cant write any character
IE; doesnt format number and also writes as left aligned

[2014-04-16 09:52] RobinHerbots commented on #491
@hjunior81 ,

Can you retry with http://jsfiddle.net/6nNJs/3/

[2014-04-16 10:57] ghost commented on #491
Ok friend. Its working both Firefox and IE. Thanks.

[2014-04-16 10:57] #491 closed, assigned to nobody

[2014-04-16 11:02] ghost opened #492 "The dd/mm/yyyy format is incompatible with jquery.datepicker"
The mask alias dd/mm/yyyy is incompatible with jquery.datepicker. It should be dd.mm.yyyy i think, since datepicker has this as default (at least german or turkish). Or is there another way to get same behavior by using dd.mm.yyyy like option.separator:'.'?

[2014-04-16 11:38] RobinHerbots commented on #492
This is culture dependent

for now just use the dd.mm.yyyy alias.

I will refactor the datetime alias to allow to give a date pattern as an
option. Maybe in combination with jquery .globalize

But that will be for later

2014-04-16 13:02 GMT+02:00 hjunior81 notifications@github.com:

[2014-04-16 12:27] ghost commented on #492
For now i tested using mask:"d.m.y" and it works for now.

[2014-04-16 14:01] RobinHerbots commented on #489
Fixed in 3.x branch

[2014-04-16 14:01] #489 closed, assigned to nobody

[2014-04-16 18:02] ghost commented on #484
Hello @RobinHerbots,

Thank you so much. The setvalue event was good.
I can of course, but in this case I sholuld rewrite my code.

Best regards,

Viktor

[2014-04-16 18:02] #484 closed, assigned to nobody

[2014-04-16 19:11] mirzagitov opened #493 "Loosing 0 when pasting to masked input with number prefix"
Example: http://jsfiddle.net/McZBb/

[2014-04-16 22:14] ghost opened #494 "unmaskedvalue returns same as input"
Please see http://jsfiddle.net/6nNJs/5/  Press hit button. Thanks again.

[2014-04-17 06:52] #492 closed, assigned to nobody

[2014-04-17 06:57] RobinHerbots commented on #493
@moongrate,

I see, it is the not so intelligent guess, who thinks he may skip the leading zeros as the fixed part contains a zero.

Replacing in the pasteevent line checkVal(input, false, false, pasteValue.split(''), true); with
checkVal(input, false, false, pasteValue.split(''), false); will do.

But I will have a look if to fixed it in general.

[2014-04-17 06:59] RobinHerbots commented on #494
@hjunior81 ,

I still need to fix that for decimals, that the unmaskedvalue returns a numeric value.

milestone 2.7

[2014-04-17 07:01] ghost commented on #494
Im using 3.x branch. Will you merge it when finished?

[2014-04-17 07:46] himadriganguly opened #495 "Phone Mask"
Love the plugin and its really great. Thanks a RobinHerbots for contributing to the open source. Wish you all the best.

I am new to this plugin so want to know how to mask the phone number such as (+91)-#####-##### where +91 will be fixed. I am using jquery.inputmask.phone.extensions.js along with jquery.inputmask.js.

Another issue is that when i am using <input data-inputmask="'alias': 'phone'"

[2014-04-17 08:44] adelina1985a commented on #489
Has 3.x been officially released? in some files I see 0.0.0 as version.
Also, how can I still get bundle.min file if I can't find a /dist/ folder, please?

[2014-04-17 16:36] RobinHerbots commented on #489
@adelina1985a

Not yet, but I will release it soon.

[2014-04-17 16:37] RobinHerbots commented on #494
2.7 is the milestone.

I will do the changes in 3.x.

[2014-04-17 16:39] #480 closed, assigned to nobody

[2014-04-17 16:40] #486 closed, assigned to nobody

[2014-04-17 16:42] RobinHerbots commented on #470
@amr2fxg ,

I'm still working on the new implementation of multiple masks.  I will fix that soon.

[2014-04-17 21:07] ghost opened #496 "isComplete function requires maxlength property"
Please find http://jsfiddle.net/6nNJs/6/   See try3 field. The mask is only 9. So one digit number is allowed. Ok until here. But if i asked for isComplete it raises an error. Firebug logs an error for maxLength = el.prop("maxlength")

[2014-04-18 09:33] RobinHerbots commented on #496
fixed in 3.x

[2014-04-18 09:33] #496 closed, assigned to nobody

[2014-04-18 09:41] RobinHerbots commented on #495
@himadriganguly ,
The phone extension loads the masks through ajax, so you need to specify the correct url to fetch the masks.

Anyway when you only need (+91)...  just use a simple mask like

$(selector).inputmask("(+\91)-99999-99999");

[2014-04-18 09:41] #495 closed, assigned to nobody

[2014-04-18 10:01] RobinHerbots opened #497 "Email mask @ sign sometimes dissappears + there is a dot at the end"

[2014-04-18 12:05] adelina1985a commented on #489
OK TIA

[2014-04-18 12:30] jmca opened #498 "QUnit tests"
Is it possible to run the QUint specs on my local? I notice this line is pointing to `dist` which does not exist in the master branch:

`<script src="../dist/jquery.inputmask.bundle.js"></script>`

[2014-04-18 12:44] DanaCris commented on #489
Thank you!

[2014-04-18 13:18] RobinHerbots commented on #498
@jmca ,

You first need to run the build

See readme for howto

[2014-04-18 13:18] #498 closed, assigned to nobody

[2014-04-18 17:19] himadriganguly commented on #495
Thanks a lot RobinHerbots for your help. Another help i want from you is that can you please show me how to load phone extensions.

Wish you all the best.

[2014-04-18 21:00] ghost opened #499 "Decimal mask radixPoint ignored or mishandled while setting js decimal"
Please have a look at
http://jsfiddle.net/6nNJs/7/  Hit the "Set Decimal Number" button. The result should be 12.345,67 i think since the radixPoint:',' and groupSeparator:'.'

Am i wrong?

[2014-04-18 22:36] RobinHerbots commented on #499
@hjunior81 ,

Try with http://jsfiddle.net/6nNJs/9/

[2014-04-18 22:37] RobinHerbots commented on #495
@himadriganguly,

Look inside the phone extension.

Specify the url of the file

[2014-04-18 22:38] RobinHerbots commented on #495
and verify the result of the ajax call inside

[2014-04-18 22:40] RobinHerbots commented on #470
@amr2fxg ,

Now you should be able to paste a value.

[2014-04-19 04:47] Luckypul commented on #477
I have solved thi problem for date dd/mm/yyyy with two lines of codes in prevalidator and i think work (i have tested) (lines signed with ==>:
 prevalidator: [{
                        validator: function (chrs, buffer, pos, strict, opts) {

[code]

---

 prevalidator: [{
                        validator: function (chrs, buffer, pos, strict, opts) {

[code]

   ==>                         if(pos

[2014-04-19 04:49] Luckypul commented on #477
I test 'g' my placeholdes is "gg/mm/aaaa".
Is suggestion for solve problem.

[2014-04-19 04:55] amr2fxg commented on #470
Dear @RobinHerbots,
Now I'm able to paste but it does not persist, as a validated value I mean.
So the content goes away when mousehover or focus. Have a look please:

http://jsfiddle.net/amr2fxg/LF9p7/

Thanks in advance

[2014-04-19 11:45] ghost commented on #499
Same problem. Tested with Firefox 26

[2014-04-20 10:55] ghost commented on #499
Will it take long time my friend. Im in hurry a bit.

[2014-04-20 10:56] ghost commented on #494
Will it take long time my friend. Im in hurry a bit.

[2014-04-21 09:05] nitishdhar commented on #456
@RobinHerbots - This is one of the user agents -

IPAD Air

Mozilla/5.0 (iPad; CPU OS 7_0_6 like Mac OS x)
AppleWebKit/537.51.1 (KHTML, like Gecko)
Version/7.0 Mobile/11B651 Safari/9537.53

[2014-04-22 08:29] ne0c0de opened #500 "Not working on mobile?"
I tested the demo page my mobile phone (Samsung N7100) and the phone mask filter seems like not working?

Anyone have this problem before?

[2014-04-22 09:07] RobinHerbots commented on #499
@hjunior81 ,

When you try the 2nd button it works.  There is no awareness of types for now.

[2014-04-22 10:06] RobinHerbots commented on #470
@amr2fxg ,

Fixed.  See http://jsfiddle.net/LF9p7/5/

[2014-04-22 10:09] RobinHerbots commented on #456
@nitishdhar ,

I have read that on the Ipad (Safari) the paste event is not triggered in javascript.
If that is the case we need to find a workaround to detect the changes.

[2014-04-22 11:11] nitishdhar opened #501 "Cursor hops between last typed character & the end of the field (Samsung S3)"
The text cursor jumps back and forth between the end of the input field and the last character typed. This is observed to happen on a Samsung S3 device.

![cursor hop](https://cloud.githubusercontent.com/assets/1340144/2764120/d97a9f26-ca0e-11e3-9a15-d8953ee5d612.PNG)

[2014-04-22 11:12] ghost commented on #499
Think about a widget. I will use it for decimal inputs. So when i get the value with unmaskedValue it will return js number of 12345.67 . When i want to set it a value i will set 12345,67 (why not 12.345,67 this is another case to discuss). Does it seem correct? Am i missing something?

[2014-04-22 12:06] RobinHerbots commented on #499
@hjunior81,

I do agree and understand the need for it.  I just pointed to a quick workaround.

I should be possible to set the value with a javascript decimal into the decimal extension.

[2014-04-22 12:52] RobinHerbots commented on #375
@bes11 ,

Fixed

[2014-04-22 12:52] #375 closed, assigned to nobody

[2014-04-22 13:47] glosswordteam opened #502 ""placeholder" setting ignored"
Conditions are:
1) $.extend($.inputmask.defaults.definitions, { "A": { validator: "[A-Za-z ]" } }
(latin characters and space character)
2) $("object").inputmask({ mask: "A", placeholder: "", repeat: 16 } )
(no placeholder, length is 16)

In version 3.0.0 the result is "testAtest", however version 2.4.7 works ok -- "test test".

How to reproduce:
http://jsfiddle.net/5n3pM/10/

// Windows Chrome

[2014-04-22 14:18] RobinHerbots opened #503 "Implement alternator syntax"

[2014-04-22 14:19] RobinHerbots commented on #502
@glosswordteam ,

I will fix that asap.

[2014-04-22 14:23] glosswordteam commented on #502
Thanks!  )

[2014-04-22 14:31] thiagotalma commented on #470
@RobinHerbots you are the man!

[2014-04-22 14:43] RobinHerbots commented on #502
Done

[2014-04-22 14:43] #502 closed, assigned to nobody

[2014-04-22 18:02] RobinHerbots commented on #420
@Pezhvak ,

fixed!

[2014-04-22 18:02] #420 closed, assigned to RobinHerbots

[2014-04-22 21:29] #374 closed, assigned to nobody

[2014-04-22 21:44] RobinHerbots commented on #457
fixed

[2014-04-22 21:44] #457 closed, assigned to nobody

[2014-04-23 06:43] amr2fxg commented on #470
I just realize this issue is present when using jquery-2.1.0.js.     Works with 1.6.4.
Thank you @RobinHerbots !!

[2014-04-23 08:24] RobinHerbots commented on #470
@amr2fxg ,

Oh no, I should work on the latests versions of jquery.  I will have a look.

[2014-04-23 09:04] RobinHerbots commented on #470
@amr2fxg ,

Fixed.

http://jsfiddle.net/LF9p7/8/

[2014-04-23 09:04] #470 closed, assigned to nobody

[2014-04-23 13:26] jimithing277 commented on #477
Robin,

Is version 3.0 live?  I recently updated our jquery.inputmask library via NuGet Manager and it looks like it pulled down version 3.0.  I'm noticing several issues across the board with our masks at this point and didn't know if this version was actually live and production ready?

Date entry is a bit flaky at this point where entering something like "3414" inputs a date of "03/04/1014" whe

[2014-04-23 15:04] ttback opened #504 "onincomplete: Uncaught RangeError: Maximum call stack size exceeded."
I had following code snippet to handle case when user did not finish input a full date. I have the input default to something like 01/01/1980, and need to restore the value if user doesn't finish the mask.
{
 "clearIncomplete": false,
 "onincomplete": function() {
                    $dateInput.val(month+"/"+day+"/"+year);
 }

This will trigger an infinite loop for some reason, the mask is

[2014-04-23 15:18] ttback commented on #504
Simply clicking the date input element seems to trigger 20 incomplete calls.

[2014-04-24 07:14] RobinHerbots commented on #477
Yes version 3.0 is live.  This is a major version update and there are some
breaking changes esspecially for the extensions which modify the buffer.
I also need to update the documentaion, but haven't got the time.

When there are modifications in the buffer you need to specify  which part
to update.  You can find an example in the date-extension (datetime)

I will fix the date-extension as I forg

[2014-04-24 07:14] RobinHerbots commented on #504
I will have a look ASAP

2014-04-23 17:18 GMT+02:00 [T] notifications@github.com:

[2014-04-24 08:21] RobinHerbots commented on #504
Can you workout an example as I cannot reproduce the issue.

best regards,

Robin

2014-04-24 9:14 GMT+02:00 Robin Herbots robin.herbots@gmail.com:

[2014-04-24 10:43] radio-programa opened #505 "input blocked"
Sometimes, when Selenium, rarely at hand, after removing all the input in the form and clicking on the input with the mask 99-999 or [X] 999 99 99 999 I can not write. Only when you click anywhere on, the problem disappears.

[2014-04-24 11:06] #270 closed, assigned to RobinHerbots

[2014-04-24 11:07] RobinHerbots commented on #505
@radio-programa ,

Can you simulate this somehow in a jsfiddle or something alike?

[2014-04-24 12:01] RobinHerbots commented on #380
@eidylon ,

Fixed in the 3.0.3

use data-inputmask-regex attribute

[2014-04-24 12:01] #380 closed, assigned to RobinHerbots

[2014-04-24 12:04] RobinHerbots commented on #448
@jimithing277 ,

Fixed in 3.x

http://jsfiddle.net/4KBK7/5/

[2014-04-24 12:04] #448 closed, assigned to RobinHerbots

[2014-04-24 15:15] RobinHerbots opened #506 "replace decimal and integer alias by numeric alias"

[2014-04-25 07:14] #366 closed, assigned to RobinHerbots

[2014-04-25 13:31] YAmikep commented on #483
I do not understand what you mean when you say that it will be in the 3.x... 2.7 is the milestone and then you say that 3.x is the 2.6?
Sorry I am confused.

[2014-04-25 19:36] RobinHerbots commented on #483
To make it short, your issue will be implemented in branch 3.x.

The changes in 2.6 where major so I decided to bump the major version to 3

2014-04-25 15:31 GMT+02:00 Michael Palumbo notifications@github.com:

[2014-04-26 22:01] YAmikep commented on #483
Ok got it thanks.
Is there any timeline for the 3.x versions?

[2014-04-28 07:35] babupca opened #507 "On focus mask is getting selected and also cursor does not focus to the last number"
Hi Robin,

I have two problem with this mask.

I wanted to achieve the following, by default the place holder will be having four zeros. The mask is working fine, but having some problem with the focus and the cursor area
0000
0001
0011
0111
1111
1. When i tab from sector to state text box, the state textbox gets placeholder content gets selected. I tried to remove this selection, but failed
2. In

[2014-04-28 20:22] thiagotalma opened #508 "Require the user to enter the decimal part of the number"
I have found no way to start filling the decimal mask for cents. Decimals are only filled after the user enters the separator character.

It would be too good an option to start typing the decimal part, making it obvious to the user that is a monetary value, for example.

[2014-04-28 21:29] lucasbraum commented on #508
Try this:

[code]

There are some optionals fields, but you can remove them if you want.

[2014-04-28 21:35] lucasbraum opened #509 "How to show mask by demand?"
I would like to show my mask by the user demand. The user starts to typing and the mask starts to show up by steps.

For exemple: When I start to typing, the full mask appears. But if I will type just U$ 2,90, I wouldn't like to see the role mask (999.999.999,99).

This is my code:

[code]

Thanks

[2014-04-28 22:22] erikcordeiro opened #510 "Why the checkbox does not work?"
Hi, All...
Could anyone tell me why the checkbox does not work in this code?

Script part:
1..... $(document).ready(function () {
2.......... $("#txtCalendar").inputmask({ alias: "date", placeholder: "_" });
3............... $("#chk1").click(function () {
4.................... if ($("#chk1").prop("checked")) {
5......................... $("#txtCalendar").val("01/01/2014");
6.................... }

[2014-04-28 23:02] thiagotalma commented on #508
Thus I have a fixed mask.
The decimal mask is free fill.

I could use that way, but now the script gives error when using optional mask in numeric fields.

[code]

`Cannot read property 'isGroup' of undefined`

See: http://jsbin.com/vonalavo/3/edit/

[2014-04-29 19:51] rickstricker opened #511 "clearIncomplete should ignore optional trailing part"
I'm using a mask of '999-999-9999 [x99999]' and when I set clearIncomplete to true it always clears unless the optional part is completely filled out.

[2014-04-30 02:42] zassq opened #512 "decimal with prefix"
Hi,

It is an awesome plugin! Thanks bro!
I've tried to apply prefix with decimal extension, but it didn't work.

Doing like this:

[code]

I've tried numeric as well, but somehow the autoGroup didn't work.

Did I do anything wrong? Or, how can I get it works?
Thanks.

[2014-04-30 06:33] guxuede commented on #479
<input id='mynumber' type='text' maxLength="7"/>
js:
 $('mynumber').inputmask("decimal",{allowMinus: false,rightAlignNumerics:false,autoUnmask: true,autoGroup: true,groupSeparator: ",",groupSize: 3,digits: 4});
jsfiddle:http://jsfiddle.net/guxuede/38GAw/
then
Problem 1:
1.enter some number to input.
2.and execute:$('mynumber').val() at browser console ,but it return incorrect value.
Problem 2:
1.d

[2014-04-30 06:35] guxuede commented on #479
Add that:
when i keep autoUnmask:true.and remove maxLength,it works too.

[2014-04-30 16:44] potar opened #513 "'RegEx' filter is very slow"
The problem is: a browser stops responding or updating results very slowly during editing of input.

I created a test case:
http://jsfiddle.net/3Mmdt/4/
Please try to edit the input quickly/slowly. If you have an opportunity, use Firefox or IE, please.

The question is: can I somehow speed up the validation of input.

I would greatly appreciate if you could recommend me something.

[2014-05-02 03:35] leehin opened #514 "validator: function (chrs, buffer, pos, strict, opts)"

[2014-05-02 03:36] #514 closed, assigned to nobody

[2014-05-02 08:17] RobinHerbots commented on #510
@erikcordeiro ,

Can you make a jsfiddle for it.  That is easier to verify.

[2014-05-02 08:22] RobinHerbots commented on #509
@lucasbraum ,

Isn't the decimal alias an option?  (btw I am working on a numeric alias which enhances the decimal alias to allow currency input etc

[2014-05-02 08:24] RobinHerbots commented on #512
@zassq ,

I am working on a new alias numeric which will allow that. In the current decimal alias the prefix isn't implemented.

[2014-05-02 08:25] RobinHerbots commented on #511
@rickstricker ,

You are right.  I will have a look at it.

Thx for reporting.

[2014-05-02 08:59] RobinHerbots commented on #513
@potar ,

Can you have a test with http://jsfiddle.net/3Mmdt/5/

[2014-05-02 09:01] RobinHerbots commented on #512
@zassq ,

A first version of the numeric alias is available. (no grouping yet)

[code]

[2014-05-02 09:18] potar commented on #513
@RobinHerbots Still have the same problems. Besides, the mask doesn't work properly in your example (http://jsfiddle.net/3Mmdt/5/). For instance, I can't remove '%1'

[2014-05-02 09:28] RobinHerbots commented on #507
@babupca,
1.  This is the behavior of an input tabbing in selects the input.  But if you comment out the last call to caret in the keyup event It will not select the contents.  The idea for later is to implement a defaultvalue which the mask is aware off and select the content based on the input.
2. As the placeholder is valid input the mask cannot determine wheter this is a placeholder or input.

[2014-05-02 09:30] RobinHerbots commented on #513
@potar ,

Which browser do you use as I can delete perfectly.

[2014-05-02 10:22] potar commented on #513
@RobinHerbots
Browsers that were used for testing:
Chrome 34.0.1847.131
Firefox 16.0.1

Usually, I get:
https://www.dropbox.com/s/g3nvbhuu8apq9zi/Screenshot%202014-05-02%2012.53.50.png

I have created a new jsfiddle (http://jsfiddle.net/3Mmdt/6/) based upon your solution. You will see "%1%1%1%1%1%1%1%1%1%1%1%1%1" there.

So, the test case for removing problem is:
1) Put the cursor ('|') in the mid

[2014-05-02 10:33] RobinHerbots commented on #513
Yep, I will have a look at it

[2014-05-02 14:19] jpirok commented on #494
I'm having an issue with $(element).inputmask('unmaskedvalue') as well.  http://jsfiddle.net/jpirok/B9VWk/
Using a number in a text field I get no value from this function.

Edit: This is happening in 3.0.2 and 3.0.5 as well.

[2014-05-02 17:19] erikcordeiro commented on #510
Ok..
http://jsfiddle.net/erikcordeiro/MdYuS/

[2014-05-05 12:08] dcbrilho commented on #487
Same problems here... Testing on Samsung S4 (Android 4.4.2)...

[2014-05-05 16:29] dhilt opened #515 "Intergroup selection with editing leads to next input group(s) breakage"
The problem can be reproduced by this scenario:

 -- get field with mask 'dd/mm/yyy'
 -- input correct value (01/01/2014)
 -- select "1/2" of month and year
 -- type "6"
 -- enjoy broken year (01/06/10y4)

Try your demo http://robinherbots.github.io/jquery.inputmask/

![jquery inputmask intergroup selection with editing leads to last input group breakage](https://cloud.githubusercontent.com/assets

[2014-05-05 21:33] SilentImp opened #516 "Space turn to 'r'"
@name.inputmask("Regex", {regex: "[а-яА-Я\s]*"})
With such mask when i press space i get … "r". How may i fix it?

[2014-05-06 11:26] DynaRowan commented on #516
Not sure if this intended, but a workaround I use: (only if you don't use the option skipOptionalPartCharacter)
@name.inputmask("Regex", { "regex": "[а-яА-Я\s]*", "skipOptionalPartCharacter": "" });

[2014-05-06 14:01] RobinHerbots commented on #516
@SilentImp , @DynaRowan ,

I already fixed the issue, but it is not published to github yet,

[2014-05-06 14:18] #516 closed, assigned to nobody

[2014-05-06 14:20] RobinHerbots commented on #510
@erikcordeiro ,

Fixed in 3.0.6

[2014-05-06 14:20] #510 closed, assigned to nobody

[2014-05-06 18:53] potar commented on #513
It might be a problem in V8 [http://en.wikipedia.org/wiki/V8_(JavaScript_engine)]. I have noticed: if the regexp below can be evaluated by a browser in "console" mode, there won't be any problems with jquery.inpumask perfomance:

<pre>
/^(([a-zA-Z]+|(%[1-1])|[_.-]|\s)\\?)*$/.test("sdfdsca\\sssssssssssssssssssssssssssssssssssssssssss\\ssssss1\\1\\1\\1\\1\\1\\11\\1\\1\\1\\1\\1\\")
</pre>

Some thoug

[2014-05-07 13:00] asartz commented on #386
+1

[2014-05-07 15:54] mfeingold commented on #515
Any idea on the ETA for this fix?

[2014-05-07 16:03] mfeingold opened #517 "JQuery dependency"
How difficult would it be to refactor the code so that the JQuery dependency is separated out into some sort of adapter. Once it is done another adapter can be created to make inputmask into an angular directive without dependency on JQuery

[2014-05-07 16:58] JCMais commented on #259
@RobinHerbots Commit 75438b5347cb1fcb313b4421fefd2f2ac4c3e956 closes this?

[2014-05-08 04:53] scottned opened #519 "Fixed number of decimal points"
Is it possible to use the 'decimal' alias to ensure a fixed number of digits that are always visible.  For example, if I enter a "1" into a blank field, the output is "1.00"?  I'm trying to create a currency input and I'd like the output to always look something like $ 9,999.99

I've tried a few things and looked through the code, but haven't gotten it to work yet.

Here's a fiddle I was playing w

[2014-05-08 10:11] RobinHerbots commented on #515
@dhilt, @mfeingold ,

I'm working on it.

[2014-05-08 10:13] RobinHerbots commented on #517
@mfeingold,

Can you motivate a bit why you would remove the jQuery dependency.
Anyway, it can be done.

[2014-05-08 10:19] RobinHerbots commented on #259
@JCMais ,

That commit is a first version of the numeric alias.  That alias will replace the decimal and integer alias and will include all features and more when finished.

I will close when the numeric alias is more mature.

[2014-05-08 10:20] RobinHerbots commented on #513
@potar ,

Thx for the info.

[2014-05-08 11:40] rbirkby commented on #515
Any chance broken tests could not get checked into git? Or get ignored in some way?

It's disconcerting to download the latest code from github and get 7 failing tests.

[2014-05-08 12:22] dcbrilho opened #520 "Remove not working with multiple masks"
Hi,
Remove function is not working when multiple masks are in use.
The control remains masked. Setting another mask doesn’t work, also.
All browsers, latest version, simple use.
Thanks!

[2014-05-08 13:14] RobinHerbots commented on #515
That is called test driven development ;-)

That are cases I know who fail, ... so when I solve the issue they will
pass and I can also verify for possible degression.

2014-05-08 13:40 GMT+02:00 Richard Birkby notifications@github.com:

[2014-05-08 17:34] RobinHerbots commented on #520
I will have a look, ...

[2014-05-08 21:22] RobinHerbots commented on #519
@scottned ,

on http://jsfiddle.net/8Jpdd/9/  you see an example of the new numeric alias.
It is not yet finished and feature complete but it gives an idea

[2014-05-08 23:17] scottned commented on #519
Thanks Robin.  That's great!  Only thing now is "autoGroup" seems to have stopped working.

[2014-05-09 06:53] RobinHerbots commented on #519
I know, I am working on it

2014-05-09 1:17 GMT+02:00 Scott Nedderman notifications@github.com:

[2014-05-09 12:03] #497 closed, assigned to nobody

[2014-05-09 13:24] RobinHerbots opened #521 "IsComplete does not work correctly with dynamic masks"

[2014-05-09 14:11] mike-pun opened #522 "Problem with S4 with kitkat"
We are having serious problems on a Samsung S4 with 4.4.

When we type 12 in the mm field, it jumps to 01/20xx, so we cannot input dates in the month of October, November and December.

There is also a problem when we backspace. It get stuck at the slash.

[2014-05-12 06:37] andrew-veresov commented on #487
Having same troubles - Android 4.3

[2014-05-12 14:39] dhilt opened #523 "Military time at "h:s t" mask. Jumping cursor problem"
Before all: in previous versions (2012) discussing behavoiur was correct!

The way to reproduce problem:
 1) take clear time-input masked as "h:s t" (hh:mm xm)
 2) type "15" at "hh" (you may type an hour from 13 to 24)
 3) get "03:mm pm" (this is very good)
 4) cursor position at the end of value (after "pm")

But in (4) we expected it's position to be at minutes (at first letter of "mm").

Here's

[2014-05-12 14:48] RobinHerbots commented on #523
@dhilt ,

Thx for reporting.

I will fix this asap

[2014-05-13 06:21] rteegarden opened #524 "How to get unmask value in MVC controller (int)"
So basically the same question as this post: http://stackoverflow.com/questions/21637938/how-to-get-unmask-value-in-mvc-controller

Only difference for me, is my data type is an int, so when my controller ActionResult is called, the SSN number is already 0 - since it is not a string.  I don't even have the option to do: Model.SSN.Replace('-','')

I am adding to the page like:
$("#EmployeeSSN").inp

[2014-05-13 10:17] maartendra commented on #409
This would be a great addition. Is there any news on this? @RobinHerbots

[2014-05-13 15:46] mfeingold commented on #517
The motivation - sure. I (as well as many others) use [angular](https://angularjs.org/) in all my frontend development. It is very powerful and its popularity grows fast. Angular itself does not relay on JQuery for anything, so you do not need to include it in your project - unless you need to use some advanced components (i.e. inputmask).

In my case inputmask is the only reason I need JQuery, wh

[2014-05-13 21:47] david-crespo opened #525 "Strange behavior when switching between masks"
I am trying to use two masks, one for American Express credit cards (9999 999999 99999) and one for everything else (9999 9999 9999 9999).

I almost have it, but I'm having a strange problem: as you can see below, when I type 37 the mask switches properly to the Amex one. However, when I erase the 7 and change it to an 8 to make the mask switch back, the 3 disappears.

Am I doing something wrong?

[2014-05-13 22:42] david-crespo commented on #520
An illustration: keyup is supposed to remove mask for both, but it only works for the box with a single mask.

![inputmask-issue2](https://cloud.githubusercontent.com/assets/3612203/2965147/bc5434ba-daef-11e3-95ff-124370368d02.gif)

[code]

[JSFiddle](http://jsfiddle.net/z3KBA/3/)

[2014-05-14 03:16] mike-pun commented on #522
This problem is repeatable in the simulator. We are using a very simple mask of

$("#txx").inputmask("dd/mm/yyyy");

and this is happening. Does not happen in 4.3. Any ideas?

[2014-05-14 14:59] dhilt commented on #523
i've done pull request to solve this problem, hope all is right
https://github.com/RobinHerbots/jquery.inputmask/pull/526

[2014-05-14 19:35] JCMais commented on #525
Off topic message: @david-crespo what you used to make this gif?

[2014-05-14 19:38] JCMais commented on #517
@RobinHerbots Also, this will add the option for Node.js developers to use the library for validation purposes.

[2014-05-14 20:21] david-crespo commented on #525
[LICEcap](http://www.cockos.com/licecap/)

A coworker showed it to me and I was immediately addicted. It is incredible.

[2014-05-15 04:05] rteegarden commented on #475
So this issue is very similar to mine and the answer here will be the end of that one. (https://github.com/RobinHerbots/jquery.inputmask/issues/524). I have made a couple jsfiddles
1. http://jsfiddle.net/rx8eQ/1/  This is the error he described with the problem with the input._valueGet() call
2. http://jsfiddle.net/rx8eQ/3/  This is an example using autoUnmask, but the value is not there.

I am tr

[2014-05-15 09:13] RobinHerbots commented on #524
The problem is that not all browsers support patching the native value
property and thus not calling the unmasking.  Firefox allows that.

What can be done.  Post your forms through AJAX, and build your submit data
yourself. (and call the unmasking)

or bind to the form submit event and replace the values with the unmasked
ones.

BUT, .... i will try to find a solution out of the box.

2014-05-13

[2014-05-15 09:21] RobinHerbots commented on #523
@dhilt,

I had already fixed the issue but couldn't commit yet due to other issues.

Best regards,

Robin

[2014-05-15 09:21] #523 closed, assigned to RobinHerbots

[2014-05-15 09:26] RobinHerbots commented on #522
@mike-pun ,

Is this solved?  Or just closed?

[2014-05-15 09:31] RobinHerbots commented on #517
@mfeingold,  @JCMais,

Ok, good idea.  But I first need to fix some issues and further stabilize the 3.x version.
This will be for the next milestone.

best regards,
Robin

[2014-05-15 09:38] RobinHerbots commented on #525
@david-crespo ,

Yes the demo with LICEcap is cool ;-)

The current implementation of multiple masks in version 3.x is a bit crappy.  I need to take some time to fix and stabilize.

Anyway the switching is based on the implementation of determineActiveMask function.  This can be overridden by your own logic by implementing determineActiveMasksetIndex in the options.
(I need to update the documenta

[2014-05-15 10:01] RobinHerbots commented on #512
@zassq,

prefix and suffix now supported

[2014-05-15 10:01] #512 closed, assigned to nobody

[2014-05-15 10:08] RobinHerbots commented on #475
@rteegarden,

First issue is fixed.

I will have a look at the unmaskedvalue.

[2014-05-15 11:38] RobinHerbots commented on #475
unmaskedvalue fixed

[2014-05-15 11:38] #475 closed, assigned to RobinHerbots

[2014-05-15 11:41] RobinHerbots commented on #509
user the numeric alias

[2014-05-15 11:41] #509 closed, assigned to nobody

[2014-05-15 13:42] RobinHerbots commented on #235
sufixes and prefixes are now supported by the numeric alias

[2014-05-15 13:42] #235 closed, assigned to nobody

[2014-05-15 13:43] RobinHerbots commented on #259
See numeric alias

[2014-05-15 13:43] #259 closed, assigned to nobody

[2014-05-15 15:52] david-crespo commented on #525
Thanks! I'll take a look there.

[2014-05-16 01:24] rteegarden commented on #475
Thank you!

[2014-05-16 01:25] rteegarden commented on #524
OK, for now I will just use the solution provided in https://github.com/RobinHerbots/jquery.inputmask/issues/475

Thank you

[2014-05-16 01:50] zassq commented on #512
@RobinHerbots Awesome! Thanks!

[2014-05-16 08:09] tryhp3 opened #527 "[v3.0] and Readonly Input - Show placeholder in IE8 when page is loaded"
I have input:

[code]

[2014-05-16 14:57] JCMais commented on #259
@RobinHerbots yay, thank you!

[2014-05-16 20:20] jblandry opened #528 "Cannot delete chars on Android 4.4.2"
On Chrome-Android 4.4.2 (Nexus 4).

I cannot delete my chars once I've written something.

ex: http://absolunet.com/en/contact-us/contact-form (Phone field)
I know it's an old version but I tried with the latest version and I've got the same problem.

[2014-05-19 13:30] RobinHerbots commented on #452
@YoussefTaghlabi ,

Fixed.

[2014-05-19 13:30] #452 closed, assigned to nobody

[2014-05-19 18:32] ashtony42 opened #530 "Difficulties when setting masked fields with Watir"
I'm using Watir Classic 3.7.0 on Ruby 1.9.3 in attempt to enter fields that have been recently masked. Many of the build in methods are not co-operating very well, so I'm working on finding other solutions.

Is there a way to inject javascript that may temporarily disable the masking feature to allow a field to be entered? Alternatively, is there a script that could be injected to achieve this tha

[2014-05-20 08:59] RobinHerbots commented on #530
@ashtony42 ,

Is using jQuery.val not an option for setting the value?
Otherwise try setting the value as you do above and trigger the setvalue event

[2014-05-20 09:01] RobinHerbots commented on #527
@tryhp3 ,

Can you make a jsfiddle for it.

[2014-05-20 11:23] satsyuk opened #532 "onincomplete with multiple mask"
$("#input").inputmask({ "mask": ["999.999", "aa-aa-aa"],
            'onincomplete': function() { alert("input incomplete"); }
Input comptele but onincomplete running

[2014-05-20 14:02] RobinHerbots commented on #519
@scottned ,

Have a look at http://jsfiddle.net/8Jpdd/14/

Autogroup + 0 as placeholder

[2014-05-20 14:05] #519 closed, assigned to RobinHerbots

[2014-05-20 14:08] RobinHerbots commented on #508
Use the numeric or decimal alias and set digitsOptional : false as option

[2014-05-20 14:08] #508 closed, assigned to nobody

[2014-05-20 14:09] RobinHerbots opened #533 "Update the README"

[2014-05-20 14:09] #506 closed, assigned to nobody

[2014-05-20 14:28] RobinHerbots commented on #465
@rizowski ,

Finally got to read the docs.

I will try out the following events.  Maybe they will be accurate on android chrome.
compositionstart
compositionupdate
compositionend

[2014-05-20 14:38] RobinHerbots commented on #416
http://jsfiddle.net/Tpr6N/30/

[2014-05-20 14:38] RobinHerbots commented on #416
#465

[2014-05-20 14:39] RobinHerbots commented on #465
http://jsfiddle.net/Tpr6N/30/
#416

[2014-05-20 14:43] RobinHerbots commented on #532
@satsyuk ,

Multiple masks aren't stable yet on the 3.x branch. (better use 2.5.10)

I will have a look.

[2014-05-20 15:24] ashtony42 commented on #530
I didn't have success calling val or setvalue, but after a while I've come up with another solution as wacky as it may be.

After you set the field like above with the `.value =` , follow it up by calling the onpaste event for the field.

my final solution is a bit like this:
`element.value = '1231231234'
    element.fire_event('onpaste')`

[2014-05-20 15:24] #530 closed, assigned to nobody

[2014-05-20 16:19] RobinHerbots commented on #530
@ashtony42 ,

Normally the setvalue should also work.  Another option is to use the type and  sendkey from the simulator.js found in the qunit directory

[2014-05-20 16:40] JCMais commented on #416
Just a heads up, this is not reproducible on Chrome for Android 4.4.2 (Moto G).

Typing "jonathan" in the above script, outputs the following:

[2014-05-20 18:21] ashtony42 commented on #530
I attempted the sendkey solution as well, and at first it seemed to have miraculously worked. The extra dilemma I have with it though is that it also needs to work on a machine while the user is locked, at which point sendkeys would error out on me. :^/

[2014-05-21 08:12] tryhp3 commented on #527
Current version from github (https://raw.githubusercontent.com/RobinHerbots/jquery.inputmask/3.x/js/jquery.inputmask.js) work ok for me.

[2014-05-21 08:12] #527 closed, assigned to nobody

[2014-05-21 16:49] RobinHerbots commented on #416
http://www.w3.org/TR/DOM-Level-3-Events/#events-compositionevents

[2014-05-21 18:37] RobinHerbots commented on #416
http://jsfiddle.net/Tpr6N/34/

[2014-05-21 18:39] RobinHerbots commented on #416
originalEvent: [object CompositionEvent] ||| type: compositionstart ||| isDefaultPrevented: function returnFalse() { return false; } ||| timeStamp: 1400697466262 ||| jQuery1910650616864906624: true ||| which: 0 ||| view: [object Window] ||| target: [object HTMLInputElement] ||| shiftKey: undefined ||| relatedTarget: undefined ||| metaKey: false ||| eventPhase: 2 ||| currentTarget: [object HTMLInpu

[2014-05-22 11:17] solenoo opened #535 "Cursor Auto positioning"
How can I make my cursor to stop auto position itself on the first empty space, instead I want to make it like on the demo page to be able to freely move it left and right.

[2014-05-22 13:46] RobinHerbots commented on #535
@solenoo ,

Can you make an example on jsfiddle

[2014-05-22 14:19] solenoo commented on #535
I was able to find my mistake, sorry for disturbing you :)

[2014-05-22 14:27] RobinHerbots commented on #535
@solenoo ,

No problem, always feel free if you have any questions.

best regards,

Robin

[2014-05-22 14:27] #535 closed, assigned to nobody

[2014-05-22 15:23] solenoo opened #536 "Triggering incomplete function"
I have this boolean that is set to false by default, and I set it to true on complete and false on incomplete. When I complete a mask and start deleting what I've just typed the incomplete function is not triggered, how can I trigger it.

[2014-05-22 15:31] RobinHerbots commented on #536
The incomplete only triggers on blur

2014-05-22 17:23 GMT+02:00 solenoo notifications@github.com:

[2014-05-22 20:46] RobinHerbots commented on #464
see #465

[2014-05-22 20:46] #464 closed, assigned to nobody

[2014-05-22 20:46] RobinHerbots commented on #528
see #465

[2014-05-22 20:46] #528 closed, assigned to nobody

[2014-05-22 20:46] RobinHerbots commented on #522
see #465

[2014-05-22 20:47] RobinHerbots commented on #500
see #465

[2014-05-22 20:47] #500 closed, assigned to nobody

[2014-05-22 20:47] RobinHerbots commented on #501
see #465

[2014-05-22 20:47] #501 closed, assigned to nobody

[2014-05-22 20:47] RobinHerbots commented on #487
see #465

[2014-05-22 20:47] #487 closed, assigned to nobody

[2014-05-22 20:48] #505 closed, assigned to nobody

[2014-05-22 20:49] RobinHerbots commented on #462
see #465

[2014-05-22 20:49] #462 closed, assigned to nobody

[2014-05-22 20:50] RobinHerbots commented on #434
see #465

[2014-05-22 20:50] #434 closed, assigned to nobody

[2014-05-22 20:51] RobinHerbots commented on #416
see #465

[2014-05-22 20:51] #416 closed, assigned to RobinHerbots

[2014-05-22 20:56] nitishdhar commented on #501
@RobinHerbots - Hey thanks I went through it. So just to clarify, the library has the fix for this now?

thanks again

[2014-05-22 21:32] RobinHerbots commented on #501
@nitishdhar ,

Android support is still poor.  When you only use numerics, you will have the most of luck.
There is some kind of backspace detection, but it will not work for every case.

Anyway, I guess the new way on mobile are the composioning events.  Although I expected at least something in the data property as  described in the specs.

[2014-05-22 21:40] RobinHerbots commented on #465
http://jsfiddle.net/Tpr6N/36/

[2014-05-23 08:33] babupca commented on #507
Thanks Robin. It would be greatful if you could give some solution in your next near realease.

[2014-05-23 18:58] jblandry commented on #528
Still doesn't delete chars correctly with '(999) 999-9999 [ext: 99999]' pattern :(

[2014-05-24 06:30] nnnx opened #537 "clearIncomplete error"
when i use this options:

[code]

when the focus of the field and type some chars (not complete field) i do submit form and getting $.val() - have error:
![err1](https://cloud.githubusercontent.com/assets/7686446/3073811/cd1ed0b4-e30c-11e3-82eb-c528f6f59469.png)

[2014-05-26 07:09] RobinHerbots commented on #537
@serious-andy,

Can you make a jsfiddle to simulate the problem.

[2014-05-26 07:12] RobinHerbots commented on #528
@jblandry ,

I know, but keeping all the android issues open makes no sense as the keypress events and backspace and others don't fire and thus the plugin is unaware of the input.  In issue #465 you find more information.

[2014-05-26 08:19] nnnx commented on #537
@RobinHerbots

http://jsfiddle.net/hBX9f/4/

errors in opera, firefox

[2014-05-26 10:32] RobinHerbots commented on #537
http://jsfiddle.net/hBX9f/5/

[2014-05-26 10:32] #537 closed, assigned to nobody

[2014-05-27 05:25] babupca opened #538 "3 Letter date "01-JAN-2001" not working in the 3.x version."
Hi Robin,

I used the following mask for the date, which gives the result as : 01-JAN-2001
jQuery.extend(jQuery.inputmask.defaults.aliases, {
            upper-date: {
                mask: "1-M-y",
                placeholder: "dd-mmm-yyyy",
                yearrange: { minyear: 0000, maxyear: 9999 },
                alias:'dd/mm/yyyy',
                clearIncomplete:true
            }
}
Initial

[2014-05-28 09:51] LostSenSS commented on #191
@RobinHerbots Just one remark: "insertMode" option absent in the description at https://github.com/RobinHerbots/jquery.inputmask

[2014-05-28 14:04] RobinHerbots commented on #191
Yes i need to update the readme

[2014-05-28 16:58] RobinHerbots commented on #536
Use the onKeyValidatiin

[2014-05-28 16:59] #536 closed, assigned to nobody

[2014-05-29 18:25] ghost opened #539 "IE8 - Multiple Masks Error"
Hi Robin!

I'm getting a error on IE8 only with Multiple Masks, error description:
Object doesn't support this property or method 'indexOf'

[code]

Mask:
 $(selector).inputmask({ mask: ["999.999", "aa-aa-aa"]});

Great feature BTW!!

[2014-05-30 13:07] potar commented on #513
@RobinHerbots ,

I fixed the performance problem by rewriting a regexp. The problem was connected to backtracking. The most useful tips and tricks I found in this book:
http://books.google.com.ua/books?id=ED6ph4WEIoQC&lpg=PA93&ots=2Vnc2J3ccE&dq=javascript%20regex%20atomic%20grouping&hl=uk&pg=PA89#v=onepage&q=javascript%20regex%20atomic%20grouping&f=false

[2014-05-30 14:52] gigermocas opened #540 "auto grouping and limiting integerDigits in 3.x"
There appears to be some problems with auto grouping (numeric) while limiting the number of integerDigits in 3.x:

The value "123456789" is formatted as "1,234,567", using alias "integer".
The same value is formatted as "1,234,567.9", using the alias "decimal".

Both results should be "123,456,789"

The options used were:
groupSeparator: ","
autoGroup: true,
integerDigits: 9

http://jsfiddle.net/G

[2014-05-30 16:31] ardennis opened #541 "Error when used with frameworks that extend array prototype"
Hi Robin,

I'm getting an error when using the plugin with a framework, such as Ember.js, that extends the array prototype.  It looks like this is due to the use of for...in loops to iterate over arrays.  The problem being that this iterates through all properties of the object, including non-enumerable prototype additions.

Here's a fiddle demonstrating the problem:  http://jsfiddle.net/Ymash/

[2014-06-02 12:31] RobinHerbots commented on #541
@ardennis ,

fixed in version 3.0.31

[2014-06-02 12:31] #541 closed, assigned to RobinHerbots

[2014-06-02 12:36] RobinHerbots commented on #539
@spacelab-x ,

Can you have a try in IE8

[2014-06-02 12:38] RobinHerbots commented on #540
@gigermocas ,

Indeed the nex 3.x does not exclude the groupseparators in the count for integersdigits.

I will fix that.

[2014-06-02 13:41] spacelab-sp commented on #539
Hi Robin! Now it is giving another error in any browser. Only with Multiple Masks.

// Line 258 -  function getMaskTemplate
**if (baseOnInput === true && getMaskSet()['validPositions'][pos]) {**

Error:
Uncaught TypeError: Cannot read property '0' of undefined

[2014-06-02 16:39] RobinHerbots commented on #539
@spacelab-x ,

Did you include the jquery.inputmask-multi.js?  or are you using the bundle?

[2014-06-02 22:02] burreld commented on #539
IE8 also has issues with the use of indexof.  I made manual changes to use the $.inArray and this seemed to fix the issue. Do you want me to some how submit the changes we made?  I am not sure how

[2014-06-02 22:06] spacelab-sp commented on #539
@RobinHerbots This source: https://raw.githubusercontent.com/RobinHerbots/jquery.inputmask/3.x/js/jquery.inputmask.js

[2014-06-03 07:17] RobinHerbots commented on #539
@burreld ,

Thx, but I already replacedx the indexof for array to inArray.

@spacelab-x,

I've moved the multiple-mask implementation in a separate file which you have to include as an extra to make the multi-masks work.  include the jquery.inputmask-multi.js.

Anyway I will adapt the jquery.inputmask.js so that it does not fail when using multipla masks without the jquery.inputmask-multi.js ,but

[2014-06-03 08:05] subtronic opened #542 "Don't work for Android 4.4 Google Chrome browser"
Hello.
When i try fill input (mask looks like -  `+7 (999) 999 99 99`), i can fill any word.
Example, i can fill this field some thing like than - `+7 (fdsfsdf2352523523523523)`, and after field blur input just formatted to `+7 (235) 235 23 52`.

It's happend, becouse KeyUp event don't return to callback valid object. This object have e.keyCode = 0.

[2014-06-03 09:06] subtronic commented on #542
I found a problem.
Problem with my keyboard - flesky.
With Google keyboard all works fine.

[2014-06-03 14:33] spacelab-sp commented on #539
@RobinHerbots Worked! Thanks

[2014-06-03 14:33] #539 closed, assigned to RobinHerbots

[2014-06-04 07:18] vijjj commented on #538
Hi Robin,

We have changed the implementation of DD-MMM-YYYY by utilizing the 'definitions' option in a custom alias . It will be good if support of month format 'MMM' is made available in date.extensions

'upper-datetime': {
                mask: "1-M-y h:s",
                placeholder: "dd-mmm-yyyy hh:mm",
                yearrange: { minyear: 0000, maxyear: 9999 },
                clearIncompl

[2014-06-04 07:24] vijjj commented on #393
Hi Robin,

In normal input:text field, allowMinus:false option is not working in version 3.0.30. Please find the test case below. I could't find a corresponding one in tests.js

test("numeric alias with allowMinus:false - vijjj", function () {
    var $fixture = $("#qunit-fixture");
    $fixture.append('<input type="text" id="testmask" />');
    $("#testmask").inputmask("numeric", {
        radixP

[2014-06-04 18:11] RobinHerbots commented on #393
@vijjj ,

allowminus and input type=text is fixed.

[2014-06-04 18:22] RobinHerbots commented on #393
@MartinVerges ,

The inputmask does not work in combination with type=number

Maybe a question to everyone.  What should be expected.  The plugin changes the type to text and applies the mask or the plugin just ignores the input or the first option and we mimick the behavior of type = number.

[2014-06-05 07:16] RobinHerbots commented on #542
see issue #465

[2014-06-05 07:16] #542 closed, assigned to nobody

[2014-06-05 07:19] kpanenko opened #543 "Don't work mask '(999)'"
Don't work mask '(999)', but  '(999) ' - ok

[2014-06-05 07:39] RobinHerbots commented on #543
@kpanenko ,

So when you add a space it works?

I will have a look

[2014-06-05 07:50] kpanenko commented on #543
Yes, with space it works

[2014-06-05 12:59] RobinHerbots commented on #543
@kpanenko,

I will push the fix this evening

[2014-06-05 12:59] #543 closed, assigned to nobody

[2014-06-05 13:01] #504 closed, assigned to nobody

[2014-06-05 13:08] RobinHerbots commented on #393
@MartinVerges ,

I opted the second option.  When the type=number the input is ignored.

[2014-06-05 13:08] #393 closed, assigned to nobody

[2014-06-05 21:42] gjdevlin opened #544 "Multiple inputs.."
Is it possible to have an input mask where I can enter dates on a long field like this:

mm/dd/yyyy;mm/dd/yyyy;mm/dd/yyyy

So far I've tried something like this:

 $('.screeningdates').inputmask({
        mask: ["99/99/9999", "99/99/9999", "99/99/9999","99/99/9999"]
    });

[2014-06-06 07:18] friskm opened #545 "Date extension: Invalid date with CTRL-right on some one digit days"
Hi,

Seems that if with date mask "yyyy-mm-dd" I do CTRL-right on date 2014-06-02 (2nd June), the mask is filled 2014-06-2d (missing zero before 2) leaving the date incomplete.

Additionally, oncomplete does not to get triggered even after CTRL-right gives a valid date. Shouldn't it get triggered at least after leaving the control?

[2014-06-06 09:42] RobinHerbots commented on #540
@gigermocas ,

Fixed

[2014-06-06 09:42] #540 closed, assigned to RobinHerbots

[2014-06-06 09:56] RobinHerbots commented on #544
@gjdevlin,

Try something like

$(".screeningdates").inputmask({ alias: "mm/dd/yyyy", mask: "(1/2/y - ){3}1/2/y", placeholder: "_" });

best regards,

Robin

[2014-06-06 09:57] RobinHerbots commented on #545
@friskm,

I will have a look at both issues.

[2014-06-06 23:15] gjdevlin commented on #544
Robin - I know this is closed but I have a simple textboxfor in MVC and tried to implement the following:

$("#SCREENING_DATES").inputmask("Regex", {regex: "([0-9][0-9]/[0-9][0-9]/[0-9]{4}[ ;]+)*"});

on the textbox - all I got was "Regex"? Any tips for MVC use? Am I missing something?

[2014-06-07 21:02] RobinHerbots commented on #544
Did you include the regex extension in the bundleconfig? Did you use the nuget package?

[2014-06-09 14:39] gjdevlin commented on #544
Robin - you can close this! :-) I included it this morning after reading your post. I was thinking about this on Friday when I left for home but I thought that the original file daisy chained up to the extensions but I guess you have to include them. Thanks!

[2014-06-09 14:39] #544 closed, assigned to nobody

[2014-06-09 15:45] ttback opened #546 "Question, how do you set unmaskedvalue dynamically?"
Trying to restore the original $element.inputmask('unmaskedvalue') programatically on incomplete input.

[2014-06-10 07:17] RobinHerbots commented on #546
Use remove on incomplete and reapply the mask on focus.

2014-06-09 17:45 GMT+02:00 [T] notifications@github.com:

[2014-06-11 11:22] SimenB opened #547 "Disable replacement and buffer in when using numeric mask"
Hi!

I asked a question on SO, but haven't gotten an answer. Could someone here maybe shed some light on it?

http://stackoverflow.com/questions/24031515/how-to-disable-replacement-and-buffer-in-jquery-inputmask

[2014-06-11 11:35] RobinHerbots commented on #547
@SimenB ,

I will have a look

Copy from SO

We have an input-field with a maxlength attribute. In this field, we only want to accept numbers, so we added jQuery.inputmask. (Must be IE8 compatible, so no type="number"). https://github.com/RobinHerbots/jquery.inputmask

See Fiddle: http://jsfiddle.net/QdLBT/

The problem(s): When entering text, and then using backspace, any text that "overflowed" w

[2014-06-11 12:19] RobinHerbots commented on #547
@SimenB ,

Fixed in the latest version.

[2014-06-11 14:28] RohovDmytro opened #548 "Push latest version to bower & nuget"
bower: version": "3.0.0"

latest: version": "3.0.34"

[2014-06-11 14:30] #547 closed, assigned to nobody

[2014-06-12 04:40] SimenB commented on #547
Wow, that was fixed incredibly fast. Thank you!

[2014-06-12 19:54] RobinHerbots commented on #445
@YoussefTaghlabi,

This is implemented in the current version

[2014-06-12 19:54] #445 closed, assigned to RobinHerbots

[2014-06-12 19:58] RobinHerbots commented on #215
@Webunity ,

This will be custom behavior in the numeric alias. I will push the changes soon.

@WaltDaniels,
The numeric alias allows for setting the placeholder to 0 which will result in a default of 0 for the mask.

[2014-06-13 18:57] RobinHerbots commented on #507
@babupca ,

The above does already work.  Only need to fix the overwrite mode for numericinput.

[2014-06-14 12:52] tenq opened #549 "phone mask error"
Hi, I want to use:

$('#test').inputmask('(99) 9999[9]-9999');

for this entry: 29999679867  -> (29) 99967-9867

But, last number not appear, see:

![jquery inputmask-error](https://cloud.githubusercontent.com/assets/5042499/3278498/91568470-f3c2-11e3-9705-a4aed389dc9e.png)

Not permit write last number... how I get this work?

sds

[2014-06-14 15:10] RobinHerbots commented on #549
@tenq ,

Can you make a jsfiddle for an example as I don't have a problem here.

best regards,

Robin

[2014-06-14 18:36] tenq commented on #549
Ok, see:

http://jsfiddle.net/tenq/55B88/

in Brazil, some places have 8 digits on cell phone, anothes has 9 digits... with Masked input and meio mask, using this:
http://pedroelsner.com/2012/07/mascara-jquery-para-novo-digito-de-celular-em-sao-paulo/

thanks for help

[2014-06-14 19:19] spacelab-sp commented on #549
Use multiple masks (you need a extra js jquery.inputmask-multi.js):

$('#test').inputmask({mask:['(99) 9999-9999', '(99) 99999-9999']});

[2014-06-14 22:04] tenq commented on #549
thanks, but optional masks have a sintax:

$('#test').inputmask('(99) 9999[9]-9999');

Does not run?

[2014-06-15 15:14] ZiadJ opened #550 "Conflict with jQuery UI datepicker"
In a v2.3.64 I've been successfully instanciating datepickers in KnockoutJs using this binding handler:

[code]

However with v3.0.33 I'm getting two issues when some date is initially loaded in the input box:
1. I need to type "/" after entering the first two date digits before I can proceed with entering the month else the selection stays stuck on the slash character.
2. When I type 3 at the beg

[2014-06-16 06:56] RobinHerbots commented on #549
@tenq ,

See at this http://jsfiddle.net/cU6DP/2/

That will make things more clear when you try the examples.  Type exactly as described.

best regards,
Robin

[2014-06-16 06:58] RobinHerbots commented on #550
@ZiadJ ,

Can you retry by adding this option to the inputmask.

  .inputmask('dd/mm/yyyy', { placeholder: "_" });

[2014-06-16 11:50] tenq commented on #549
Ok, sorry for complicated inputs, rs

using version 3.0.36, works perfect!

Thanks a lot!

[2014-06-16 11:50] #549 closed, assigned to RobinHerbots

[2014-06-16 11:53] babupca commented on #507
ok thanks.

[2014-06-16 11:53] #507 closed, assigned to RobinHerbots

[2014-06-16 13:52] RobinHerbots commented on #511
@rickstricker ,

Just a question.  When should the mask clear?
When I type 123-123-1234  it is ok  but what if I type 123-123-1234 x1
The mask is not complete because the optional part is not complete.

[2014-06-16 14:01] rickstricker commented on #511
Great question.  We want the optional part, at least in the case of an extension, to be a variable length up to the number of 9s specified.  We're taking phone numbers from the general population, so we have no idea how long their extensions might be.  That's the way it works in the jquery maskedinput plugin as well.  We switched to inputmask because it works better with knockout. Thanks!

[2014-06-16 14:50] jonhkr opened #551 "Focus event being triggered when applying mask to the fields"
Hi,
I found an estrange behavior when using inputmask plugin, when I apply the mask to one field a focus event is triggered and the cursor appears in the field.

This is bad because sometimes the focus goes to the last field of the form.

Is there any option to remove this behavior or is it a bug?

[2014-06-16 15:35] RobinHerbots commented on #551
@jonhkr ,

Which version do you use?

[2014-06-16 15:48] RobinHerbots commented on #511
@rickstricker ,

The inputmask sees the optional part as a whole.  This is logical behavior.
For your desired behavior.  you need a mask like

[code]

[2014-06-16 21:00] #511 closed, assigned to RobinHerbots

[2014-06-16 22:27] RobinHerbots commented on #439
Fixed

[2014-06-16 22:27] #439 closed, assigned to nobody

[2014-06-17 14:35] RobinHerbots commented on #482
@thiagotalma ,

Fixed in the latest version

[2014-06-17 14:35] #482 closed, assigned to RobinHerbots

[2014-06-17 14:58] RobinHerbots commented on #450
@YoussefTaghlabi ,

Iscomplete and unmasking to number implemented.
However invalid input should never be possible

[2014-06-17 14:58] #450 closed, assigned to RobinHerbots

[2014-06-17 14:59] #447 closed, assigned to nobody

[2014-06-17 15:03] RobinHerbots commented on #515
For the date alias this is fixed.

[2014-06-17 15:03] #521 closed, assigned to nobody

[2014-06-17 15:05] thiagotalma commented on #482
Thanks!  :+1:
You are the man!

[2014-06-17 15:13] RobinHerbots commented on #494
@hjunior81 ,
@jpirok ,

Fixed in the lastest version .

Updated http://jsfiddle.net/B9VWk/7/

[2014-06-17 15:13] #494 closed, assigned to nobody

[2014-06-17 15:29] jpirok commented on #494
Great thanks!

[2014-06-17 15:45] RobinHerbots commented on #499
@hjunior81 ,

Fixed in the latest version

[2014-06-17 15:45] #499 closed, assigned to RobinHerbots

[2014-06-18 07:34] RobinHerbots commented on #351
@bmw46033 , @mtsunu, @iltoga,

Fixed in the current version

[2014-06-18 07:44] RobinHerbots commented on #376
@AndersonRocha ,

Using the current decimal alias with placeholder : "0" ,digits :2 and digitsOptional : false you have something simular.

but for entering 15.00 you type 15  To my feeling that is much more natural.

[2014-06-18 07:44] #376 closed, assigned to nobody

[2014-06-18 07:53] RobinHerbots commented on #479
Updated you fiddle http://jsfiddle.net/38GAw/1/

Can you have a new test ;-)

[2014-06-18 09:35] #479 closed, assigned to RobinHerbots

[2014-06-18 09:43] #243 closed, assigned to nobody

[2014-06-18 09:47] RobinHerbots commented on #322
@Flyarbonkers ,

You can use

[code]

[2014-06-18 09:47] #322 closed, assigned to nobody

[2014-06-18 15:23] RobinHerbots opened #552 "Numeric mask with suffix. Move caret to the end and type 0"

[2014-06-20 01:35] Aragorn450 opened #553 "IE 11 not allowing focus to leave input text field"
I'm seeing a problem with IE 11 where if you have an input field with a mask and click in there, you are not able to click out of it again without entering **something** into the input box. You can see http://jsfiddle.net/Aragorn450/Wmg3Z/ for an example.

I think that the problem code was submitted on Jan 14, 2014 in commit https://github.com/RobinHerbots/jquery.inputmask/commit/bd37f36075c112c78

[2014-06-20 07:17] RobinHerbots commented on #553
@Aragorn450,

Those 2 lines are used to handle the ms-clear.  Besides an input event there is no other way to detect a click on the X.

I will have a look at it.

[2014-06-20 17:00] Aragorn450 commented on #553
What I'm especially confused about is that this hasn't been reported before since it seems to be an easy problem to replicate. When I tried to replicate it in jsfiddle, I fully expected to not be able to since we do a lot of crazy stuff on our site...

Anyway, the problem here is that because of that extra bind, the pasteEvent function is being called every time the field goes out of focus. That p

[2014-06-23 15:42] RobinHerbots commented on #552
FIXED!

[2014-06-23 15:42] #552 closed, assigned to RobinHerbots

[2014-06-24 10:13] SimenB opened #554 "OnBeforePaste happens right after the actual paste"
EDIT: Just figured out that the mask strips whitespazce on it's own, of course. The problem still stands, though

Hi again!

When pasting into a field, there's a timeout with 0 (probably an IE8-hack). This means that the browser has already stripped out the extra input at the end of the text, if a maxlength is defined.
https://github.com/RobinHerbots/jquery.inputmask/blob/3.x/dist/jquery.inputmask

[2014-06-24 13:34] RobinHerbots commented on #554
@SimenB ,

Fixed in the latest version

[2014-06-24 13:34] #554 closed, assigned to nobody

[2014-06-24 13:39] RobinHerbots commented on #551
@jonhkr ,

Which browser do you use??  Is this related to #553 ?

[2014-06-24 14:20] jonhkr commented on #551
I'm using version `3.0.10`
It is not a browser specific problem, currently I'm testing on chrome and firefox.

[2014-06-24 14:25] jonhkr commented on #551
To simulate the problem you can create a form with many fields and apply `inputmask` to some random fields. I do this using css classes.
Depending on the order the mask is applied the focus will be set to the fields, say the last mask set is on the last field, the focus will be in that field as well.

[2014-06-25 06:54] SimenB commented on #554
Again, incredibly fast fix. Thank you!

[2014-06-25 10:32] RobinHerbots commented on #551
@jonhkr ,

Can you retry with the latest version.  current is 3.0.45

[2014-06-26 09:28] RobinHerbots commented on #553
@Aragorn450 ,

Can you just do a test.  Can you retry your fiddle without the html placeholder.  I'm just curious what triggers the input event. (and I don't have IE11 available for the moment)

[2014-06-26 13:16] #546 closed, assigned to nobody

[2014-06-26 13:19] RobinHerbots commented on #548
@rogovdm ,

Soon.

[2014-06-26 13:25] RobinHerbots commented on #328
@efreibe ,

You can use integerDigits and digits option.
For a min and maxvalue see #409

[2014-06-26 13:25] #328 closed, assigned to nobody

[2014-06-26 13:26] RobinHerbots commented on #228
#409 (duplicate issue)

[2014-06-26 13:26] RobinHerbots commented on #409
Duplicate issue.  See #228

[2014-06-26 13:26] #409 closed, assigned to nobody

[2014-06-26 13:30] RobinHerbots commented on #389
@tweek82 ,

Can you give some feedback to the numeric extension.  Missing things?

[2014-06-26 15:48] vblain opened #556 "Phone mask using phone-codes and TAB"
Hi Robin,

first of all great work on this, you saved hours of work. On to the issue I have found.

When using the phone-codes to create a phone mask I'm unable to tab out of the field. When tabbing in the mask will also add random numbers.

I tried creating a jsFiddle http://jsfiddle.net/DLuza/ but I can't seem to get the phone-codes.json to load preventing input.

Any help would be appriciated.

[2014-06-27 07:27] RobinHerbots commented on #553
@Aragorn450 ,
Fixed in the latest version.
http://jsfiddle.net/Wmg3Z/13/

Seems that IE11 when using an html placeholder triggers the input event.

[2014-06-27 07:27] #553 closed, assigned to RobinHerbots

[2014-06-27 07:39] RobinHerbots commented on #556
@vbs1 ,

In the current implementation of multiple masks you need to include jquery.inputmask-multi.js

http://jsfiddle.net/DLuza/1/

Anyway, that will change in the future and there are still issues with multiple masks in the 3.x branch

[2014-06-27 10:33] lveeramani opened #557 "Class removes equals sign problem when submit a page."

[2014-06-27 10:48] RobinHerbots commented on #557
@lveeramani ,

Can you explain a bit more what the problem is.  An example?

[2014-06-27 10:54] lveeramani commented on #557
I have validate the US phone number with input mask. When it will failure i will add class error in that control. Its working fine in firebox. In chrome when i try to add with your existing class 'focus.inputmask' to 'focus.inputmask error' the "class=" removes. It will show only "class" in the attribute. So i cannot able to add the error class.

[2014-06-27 11:00] RobinHerbots commented on #557
@lveeramani ,

Can you provide a code example. or even better a jsfiddle.

[2014-06-27 11:30] lveeramani commented on #557
function WebForm_OnSubmit() {
        if (typeof (ValidatorOnSubmit) == "function" && ValidatorOnSubmit() == false) {
            for (var i in Page_Validators) {

[code]

[2014-06-27 19:20] himadriganguly opened #558 "Retrieving Phone Number from Database"
I am using this plugin with Rails and when in view the phone number is displayed from the database it is converting 9 to _.

Please help.

[2014-06-27 23:10] lucianacampello opened #559 "Strange behavior on mouseenter event removes data type"
Hi.
After entering the date, left the field and move the mouse over the date field is cleared.
I did debug and this behavior happens on the mouseenter event.

[2014-06-28 03:54] Aragorn450 commented on #553
Yeah, that looks good to me now. Sorry for the late response...

By the way, you can always go to https://modern.ie/ for Virtual Machines of Windows from Microsoft. They have pretty much every Windows/IE version combination possible and have VM files that run in Hyper-V, Virtual PC, VirtualBox (Win/Mac/Linux), VMWare (Win/Mac) and Parallels (Mac).

Or there's http://www.browserstack.com/ too. Whic

[2014-06-28 15:40] Pezhvak opened #560 "IDE Syntax Error"
I use your bundle (jquery.inputmask.bundle.js) and PHPStrom seems to have problem with part of your code.
![screenshot 2014-06-28 20 07 48](https://cloud.githubusercontent.com/assets/3134479/3421143/3fb87b50-feda-11e3-86ef-56354682a816.png)

it's very annoying because entire folder structure gets red because of that.

[2014-06-28 19:48] RobinHerbots commented on #559
Can you make a jsfiddle or provide some example code of the inputmask you are using.

Which version do you use of the inputmask?

[2014-06-30 06:45] RobinHerbots commented on #558
Hi Himadri,

Can you provide some example phonenumbers and the options you are using for
the inputmask.

best regards,

Robin

2014-06-27 21:20 GMT+02:00 Himadri Ganguly (nickname - Joy) <
notifications@github.com>:

[2014-06-30 06:52] RobinHerbots commented on #560
@Pezhvak ,

And do you happen to know why it has a problem?  I guess because the focus.inputmask is not a valid classname.

[2014-06-30 07:10] RobinHerbots commented on #560
@Pezhvak ,

Can you retry with the latest version.

[2014-06-30 07:10] RobinHerbots commented on #557
@lveeramani ,

Can you retry with the latest version.

[2014-06-30 07:30] RobinHerbots commented on #198
http://stackoverflow.com/questions/6885879/javascript-and-string-manipulation-w-utf-16-surrogate-pairs

[2014-06-30 07:50] Pezhvak commented on #560
problem solved!
one other thing, everytime i update your plugin i have to change your initial comment starting style from /*\* into /*!

that way js-uglifier wont remove your license information (changing second star into exclusive mark flags the comment block as important so it wont remove it)

[2014-06-30 09:38] RobinHerbots commented on #560
Can you try if js-uglifier also works when setting /**!

Because I use the closure compiler from google and it need /*\* to leave the comment alone ;-)

[2014-07-01 12:23] jakubwolny commented on #533
E.g. in the readme there is an option "rightAlign" but in fact this option is "rightAlignNumerics" - it is confusing.

[2014-07-01 12:33] RobinHerbots commented on #533
@hamczu,

In version 3.x the rightAlignNumerics is renamed to rightAlign.

[2014-07-01 14:57] ahocquet commented on #371
I have exactly the same issue.

autoUnmask doesn't work when submitting the form. Worst, it even breaks the $.serialize() jquery function :

[code]

It appears that's because you return a real Number in  onUnMask function.

[2014-07-01 19:54] RobinHerbots commented on #449
@YoussefTaghlabi ,

Fixed in the latest version

[2014-07-01 19:54] #449 closed, assigned to RobinHerbots

[2014-07-01 19:56] RobinHerbots commented on #371
@ahocquet ,

I wil have a look.

[2014-07-01 20:24] RobinHerbots commented on #371
http://jsfiddle.net/mMkG9/34/  pointing to the problem

[2014-07-01 21:50] ZiadJ commented on #550
Sorry but that did not help much. The same issues were still there after I added the option.

[2014-07-02 05:18] himadriganguly commented on #558
Hi Robin!

Here is my code https://gist.github.com/himadriganguly/86b3ca983458466996c5

And some example phone number is (+91)-9804120099 only the first 9 i.e after (+91)- is converted to _ but the last 99 is as it is.

Thanks.

[2014-07-02 06:40] RobinHerbots commented on #550
Ok, Can you make a jsfiddle with the options you are using for the
datepicker and  the options for the inputmask which shows the problem.

best regards,

Robin

2014-07-01 23:50 GMT+02:00 Ziad Jeeroburkhan notifications@github.com:

[2014-07-02 06:49] RobinHerbots commented on #558
@himadriganguly,

Have a look at http://jsfiddle.net/tju9L/

Which version do you use?

[2014-07-02 06:55] RobinHerbots commented on #550
@ZiadJ ,

Can you have a look at http://jsfiddle.net/tju9L/1/  there is a datepicker with an inputmask.

[2014-07-02 15:05] greengerong commented on #465
I meet same problem on my nexus 5 chrome(version 35), Any idea for it?

[2014-07-02 18:51] ZiadJ commented on #550
Here's the fiddle:
http://jsfiddle.net/LD3XT/1/

Actually I got the proper behavior back after I commented the lines using `setDate` but then I can't think of any other way round.

[2014-07-03 10:15] macd004 opened #562 "Dynamic Part Input Mask Issue"
I want let user to input like this:
AB001/2014-07-01
CCDE3414/2014-07-04
before /  user can input  anything them want
after / user only can input date format
how can i suppose to set the mask ?
thank you

[2014-07-03 10:48] utkarshb opened #563 "decimal mask not working properly"
for the following
HTML:
<input type="text" id="test"  value=""/>
Jquery:
$("#test").inputmask("decimal",{ integerDigits: 4, autoGroup: true, groupSeparator: ',', groupSize: 3, digits: 1, allowMinus: false, allowPlus: false });

when i type 5th digit. the textbook value clears and only 1st digit remains.

[2014-07-03 12:45] RobinHerbots commented on #562
Something like  $("#test1").inputmask("*{+}/y-m-d");

2014-07-03 12:15 GMT+02:00 macd004 notifications@github.com:

[2014-07-03 12:49] RobinHerbots commented on #563
Which version do you use?  So you type 1234.5  and it should show 1,234.5

2014-07-03 12:48 GMT+02:00 utkarshb notifications@github.com:

[2014-07-03 15:16] RobinHerbots commented on #550
It is propably me, but it seem to work.

2014-07-02 20:51 GMT+02:00 Ziad Jeeroburkhan notifications@github.com:

[2014-07-03 15:17] RobinHerbots commented on #465
The idea is to react on the composition events, but I didn't found the time
yet to experiment.

2014-07-02 17:05 GMT+02:00 green notifications@github.com:

[2014-07-03 16:30] ZiadJ commented on #550
In my implementation only the first digit gets selected upon focus instead of the current full selection. This is to spare the user from having to type the month and year all over again. You can simulate this by selecting the first digit manually prior to typing the date. In this particular case I'm getting 12/01/2012 after typing 12/12/12 when it should be 12/12/2012 and I get blocked if I omit t

[2014-07-03 21:01] Rouche commented on #371
interesting.

Ive never been able to point out where it was.

GG.

On Tue, Jul 1, 2014 at 4:24 PM, Robin Herbots notifications@github.com
wrote:

[2014-07-04 05:49] macd004 commented on #562
it's work!  thank you Robin :）

[2014-07-04 05:57] #562 closed, assigned to nobody

[2014-07-04 06:47] RobinHerbots commented on #550
@ZiadJ ,

Yes I see, ... I will have a look at it.

[2014-07-04 07:37] laxmikantG opened #564 "It shouldn't allow "-0" as an integer."
Hello Robin,

I have found that inputting -0 is allowing in an integer. I don't think anyone would require to input "-0" in an integer field. However, I think there should be some option which should allow or disallow to use "-0" in an integer field (I looked for it but could not find).
         Actually I  have a bug from client that,it should not allow -0 in an integer field. As I am using _inpu

[2014-07-04 08:25] RobinHerbots commented on #564
@laxmikantG ,

Ok I will fix that.

[2014-07-04 10:24] himadriganguly commented on #558
Hi Robin!

Thanks a lot for the help.

Changed the code and now it is solved. And here it is

//Indian Mobile Number Inputmask
$("input.mobile").inputmask("(+\91)-99999-99999");
v = $("input.mobile").attr('value');
$("input.mobile").val(v);

[2014-07-04 13:10] #558 closed, assigned to RobinHerbots

[2014-07-04 13:40] RobinHerbots commented on #550
@ZiadJ ,

It is the not so intelligent intelligence ;-)

04/07/2014  overtyping with 12/1 => converts to 12/01 because 17 is not a valid month.

[2014-07-04 16:47] bomanry opened #565 "Decimal Mask, autoGroup strips radixPoint"
I have mask setup as follows:

$(".reimask").inputmask("decimal", { radixPoint: ".", digits:2, autoGroup: true, groupSeparator: ",", groupSize: 3, rightAlign: false });

The mask works very well.  The only problem I am having is when the value in the textbox is 0.00 when the page loads.  The radixPoint gets removed and the value in the textbox becomes 000.  I can successfully type 0.00 and it work

[2014-07-04 17:58] RobinHerbots commented on #565
Can you retry with version 3.0.50

[2014-07-04 18:37] bomanry commented on #565
Hello Robin,

I downloaded the latest zip file from GitHub and extracted the zip,
copied all the *.js files into my source folder.

It WORKS!  Thanks.

Quick question though.....I installed 3.0.33 initially from NuGet which
still has 3.0.33.  How is that going to affect update notifications from
NuGet?

I had files like jquery.inputmask.extensions-3.0.33.js and they were
bundled in App_Start like:

[2014-07-04 22:54] RobinHerbots commented on #565
The nuget updates will come through. Only the first time you will need to
adjust the bundleconfig again and manually delete the files you got from
GitHub.
I will release a new version on nuget soon.
Best regards
Robin
Op 4 jul. 2014 20:37 schreef "manrysj" notifications@github.com:

[2014-07-04 23:00] #565 closed, assigned to nobody

[2014-07-04 23:01] #560 closed, assigned to nobody

[2014-07-04 23:05] RobinHerbots commented on #461
The current version leaves the maxlenght Malone. Zo thuis ons is fixed

[2014-07-04 23:07] #461 closed, assigned to nobody

[2014-07-04 23:09] RobinHerbots commented on #432
Thuis is fixed in the la test version-

[2014-07-04 23:09] #432 closed, assigned to nobody

[2014-07-04 23:16] #437 closed, assigned to nobody

[2014-07-04 23:17] #345 closed, assigned to nobody

[2014-07-04 23:19] #389 closed, assigned to nobody

[2014-07-07 13:08] kochelmonster opened #566 "numeric input with suffix shows wrong value when set by jquery"
Please watch the bug live in
http://jsfiddle.net/bL2TA/13/
(first field)

[2014-07-07 13:10] kochelmonster opened #567 "autoUnmask: true, numericInput: true => value is reversed"
Please watch the bug live in

http://jsfiddle.net/bL2TA/13/
(second field)

[2014-07-07 13:11] kochelmonster opened #568 "clearMaskOnLostFocus: True, does not keep mask, if set by jquery"
Please watch the bug live in
http://jsfiddle.net/bL2TA/13/
(third field)

[2014-07-07 13:11] RobinHerbots commented on #566
@kochelmonster ,

I will have a look.

[2014-07-07 20:04] RobinHerbots commented on #371
@ahocquet ,
I now return a string instead of a number and jquery serialize works now.

@Rouche ,
I meaned the problem with returning a number instead of text
I will do some test for unmasking on submit.  Maybe I can do a remove of the mask before submit?

As an option ?  removeMaskOnSubmit??

[2014-07-07 20:07] RobinHerbots commented on #567
@kochelmonster ,

Thx for repoting all issues.

I will fix them soon.

best regards,

Robin

[2014-07-07 21:40] Rouche commented on #371
Maybe, but i dont know jQuery enough to tell if you can register before the serialize() and not break anything.

[2014-07-09 09:00] thearabbit opened #569 "Add prefix to decimal."
I would like to add prefix like "$" in decimal.

[code]

Pl help me.

[2014-07-09 09:31] RobinHerbots commented on #569
Which version of the inputmask are you using?

2014-07-09 11:00 GMT+02:00 yuomtheara notifications@github.com:

[2014-07-09 09:36] RobinHerbots commented on #523
What do you mean?  This is already fixed.  Check it out on your jsfiddle

2014-07-09 10:44 GMT+02:00 d.alexanov notifications@github.com:

[2014-07-09 09:50] dhilt commented on #523
sorry, i've looked at src and didn't understand it and didn't try it... all is perfect
i've killed my prev. comment but e-mail notification was sent, just ignore it please
and thanks at all!

[2014-07-09 11:03] magnusburton opened #570 "Auto-completion of time hours, minutes & seconds in date extension"
Hey!

I'd like to suggest an auto-completion feature for the date extension. I want to be able to write not the whole month number but a piece of it (write a 5 instead of 05 and for hours, write 7 instead of 07).

Here're some examples what this auto-completion feature would do:
(HH:mm) Instead of typing 07:07 I wanna type 7:7
(HH:mm) Instead of typing 07:04 I wanna type 7:04
(dd-mm-yyyy) Instead

[2014-07-09 11:09] tamagokun commented on #569
Same. ~~Using 3.0.51~~

Scratch that version number. I assumed what was in bower.json was accurate. oops!

Using 3.0.0

[2014-07-09 11:52] RobinHerbots commented on #569
What is the problem with it, as I see no problem with it.

Can you make a jsfiddle.

2014-07-09 13:09 GMT+02:00 Mike Kruk notifications@github.com:

[2014-07-09 11:56] RobinHerbots commented on #570
That is already in there.  Only not for the minutes.

2014-07-09 13:03 GMT+02:00 Magnus Burton notifications@github.com:

[2014-07-09 11:59] magnusburton commented on #570
@RobinHerbots Oh I'm sorry. It doesn't work for the hours either? As in the readme file it says that auto complete only works for days, months and years.

[2014-07-09 12:05] tamagokun commented on #569
http://jsfiddle.net/c5Q8L/

Looks like prefix and suffix are not working.

If this works for you in 3.0.51 maybe tag a release so bower can pick up that version?

[2014-07-09 13:15] RobinHerbots commented on #570
@magnusburton ,

For hours it works.  I need to update the readme.  I will fix it in the minutes part.

Anyway thx for the suggestion.

[2014-07-09 13:20] RobinHerbots commented on #569
See http://jsfiddle.net/c5Q8L/4/

I will tag a release for version 3.0.52

[2014-07-09 13:29] tamagokun commented on #569
Awesome. Thank you!

[2014-07-09 14:10] Vyeche opened #571 "Bootstrap Datepicker Cleared by Mask"
Hi,

I have a situation where my users need to type or choose a date using a date picker. They want both.

I'm using bootstrap date picker: http://www.eyecon.ro/bootstrap-datepicker/

I have a mask example of:
$('#selector').inputmask({
            mask: "m/d/y",
            clearMaskOnLostFocus: false
        });

When I hover over the date field, my values chosen via datepicker disappear and rep

[2014-07-09 14:40] Vyeche commented on #571
I found a temporary solution:
$('#selector').inputmask("m/d/y", { clearIncomplete: false, clearMaskOnLostFocus: false, showMaskOnFocus: false, showMaskOnHover: false });

[2014-07-09 18:33] #569 closed, assigned to nobody

[2014-07-09 18:34] #548 closed, assigned to nobody

[2014-07-09 18:36] RobinHerbots commented on #566
@kochelmonster ,
This one is fixed in the latest version

[2014-07-09 18:36] #566 closed, assigned to RobinHerbots

[2014-07-09 19:16] RobinHerbots commented on #571
@Vyeche,

Can you make a jsfiddle which shows the problem.  This is easier to verify and to fix the problem.

best regards,
Robin

[2014-07-09 19:23] RobinHerbots commented on #551
@jonhkr ,

Can you retry with the latest version.

[2014-07-10 14:04] RobinHerbots commented on #524
You can now use the removeMaskOnSubmit option.

[2014-07-10 14:04] #524 closed, assigned to RobinHerbots

[2014-07-10 17:31] #412 closed, assigned to nobody

[2014-07-10 17:31] #371 closed, assigned to RobinHerbots

[2014-07-11 05:55] RobinHerbots commented on #361
There is a new option removeMaskOnSUbmit which removes the mask before submitting.  You can also use jQuery.serialize

[2014-07-11 05:55] #361 closed, assigned to RobinHerbots

[2014-07-11 07:27] magnusburton commented on #570
@RobinHerbots Sorry but my tests indicate that hours does not work. I simply can't enter just an 8 in the hours part so I have to enter 0 and then 8...

[2014-07-11 07:32] RobinHerbots commented on #570
@magnusburton ,

No problem.  I will have a look at it.

Can you give the mask options you are using.

best regards,

Robin

[2014-07-11 08:09] magnusburton commented on #570
@RobinHerbots inputmask("hh:mm");

Thank you for this great plugin though, really like it :)

[2014-07-11 09:30] RobinHerbots commented on #570
@magnusburton ,

Ah offcourse, the logic is part of the datetime alias.

Try with  $("#test1").inputmask({
                alias: "datetime",
                mask: "h:s",
                placeholder: "hh:mm"
            });

[2014-07-11 09:49] magnusburton commented on #570
@RobinHerbots Thank you so much, work great!

I can consider this one closed...

[2014-07-11 09:49] #570 closed, assigned to nobody

[2014-07-11 09:52] RobinHerbots commented on #570
@magnusburton ,

With the latest commit you can use the simple "hh:mm" again to obtain the same result.
Also included minutes and seconds.  (type for ex: 88 => 08:08)

[2014-07-11 09:55] #563 closed, assigned to RobinHerbots

[2014-07-11 09:56] #279 closed, assigned to nobody

[2014-07-11 13:52] RobinHerbots commented on #568
@kochelmonster ,

Fixed in tha latest version

[2014-07-11 13:52] #568 closed, assigned to RobinHerbots

[2014-07-11 14:21] nickpearson opened #572 "Change event not firing on multi-mask"
I'm new to jquery.inputmask (which is awesome), and I've run into something that doesn't seem to be working right. Forgive me if this is a simple oversight.

The `change` event fires correctly when using built-in masks, but when I attempt to define my own multi-mask, everything (seemingly) works, but no `change` event is fired.

I made a quick example with jsFiddle: http://jsfiddle.net/qkL3F/3/

B

[2014-07-11 14:41] kochelmonster opened #573 "regex with fixed mask size + insertmode=True: edit not possible"
Please watch the bug live in
http://jsfiddle.net/x2vKP/7/
thanks

[2014-07-12 12:07] Claudioneto commented on #186
Hi, i have a problem too.

I am using Android 4.1.2 and Mozilla Firefox. My mask = $('#cpf').inputmask("999.999.999-99");

The mask appear, but not work correct.

[2014-07-12 22:35] RobinHerbots commented on #186
@Claudioneto ,

See #465

[2014-07-14 15:16] DanielGrobelny commented on #386
+1

[2014-07-15 16:07] RobinHerbots commented on #503
Simple alternator with 2 groups working.

[2014-07-15 16:08] RobinHerbots commented on #386
I will have a look.

[2014-07-16 11:46] annames opened #574 "Can't enter uppercase letters"
Hello,

I'm using your plugin with inputmask 3.0.55 on a form that allows grade entry for tests in a class. I have fields that must allow either a timed score (such as MM:SS format) or an "X" to indicate that a particular student did not complete the test. I am replacing long-standing code that did not work with IE 11 or Chrome, so there is a lot of data in the wild and many existing users who are

[2014-07-16 11:56] annames commented on #574
And I see you've already fixed it!

Do you have a target date for the next release? We're using the NuGet package, so if I'm out of sync with that my colleagues will ask when we can get back in sync.

Thank you very much for taking care of this so quickly. I really appreciate it!

[2014-07-17 13:33] ingro commented on #559
I noticed this behaviour too with Chrome, works fine on Firefox. If I comment the bindings "mouseenter.inputmask" and "mouseleave.inputmask" everything works fine.

[2014-07-17 19:43] gjdevlin opened #575 "inputmask, date.extensions and JSON"
So far I got the inputmask (3.055.js) version working great along with the inputmask.date.extensions.

The problem is that when I populate the form fields with json data loadJSON(jsondata) the textbox inputs that contain the masks do not get populated with the json data.

I removed the .inputmask in the DOM loading and I was able to loadJSON into the HTML.

Is there away around this so that I can

[2014-07-17 20:38] RobinHerbots commented on #559
Can you provide a bit more informstion. How do you set the value? Or what do you do exactly?

[2014-07-17 21:48] gjdevlin commented on #575
I think you can close this. I was forced to use $('#textboxFollowupdate').val(result.d.followupdate) for each date field that implements your plugin.

I really wanted to to use the loadJSON(jsonData) to make things faster when binding.

[2014-07-17 21:53] lucianacampello commented on #559
I have a component for date and i had to change the jquey.inputmask on mouseenter to works.
see part of my code here: http://notepad.cc/share/acHO2132pL

[2014-07-17 22:38] anoo0412 opened #576 "Issue when implementing Input mask + Pikaday datepicker"
Hi,

I am facing an issue when trying to implement input mask for a date field with pikaday datepicker.

The masking is implemented as
$("#datepicker").inputmask("m/d/y", { "clearMaskOnLostFocus": false });
We have a requirement that masking should be shown on page load hence the "clearMaskOnLostFocus": false

We implemented a pikaday datepicker as
 var datepicker = $('#datepicker').pikaday({

[2014-07-18 07:49] RobinHerbots commented on #559
@lucianacampello , @ingro ,

The problem is that the inputmask isn't aware of the value change when setting value through the value property.

In firefox this works because FF allows for patching the native value property while chrome and others don't.

The best way to set the value is by using the jquery.val fn or if you want the use the native value then you have to trigger a setvalue event on t

[2014-07-18 07:58] RobinHerbots commented on #575
@gjdevlin ,

Is this the site of loadJSON https://code.google.com/p/jquery-load-json/ ?
The problem is that the native value property cannot be patched on most browsers.  So the inputmask isn't aware of the value change.
When you call $(":input").trigger("setvalue"); after the loadJSON it should work.

Can you try?

[2014-07-18 08:10] RobinHerbots commented on #576
@anoo0412,

http://jsfiddle.net/fbueR/26/  (just updated a bit)

First the value the picaday sets isn't conform the inputmask expects.  The value is propably set through the native value property, and thus the inputmask cannot detect the change. (and so not apply the mask)  Only firefox supports patching the value property.

Anyway, when the pikaday should set the value through jquery.val then the

[2014-07-18 08:20] ingro commented on #559
Thank you @RobinHerbots, I will try to use jquery.val and see if it fixes my problem.

[2014-07-18 15:00] gjdevlin commented on #575
Hi Robin - yes that is the site of the loadJSON()

The above suggestion did not work though. thanks for trying.

[2014-07-18 16:10] RobinHerbots commented on #574
The next releaze will be in august .

[2014-07-18 16:12] anoo0412 commented on #576
Thank you for the response. I really appreciate it.

On Fri, Jul 18, 2014 at 1:10 AM, Robin Herbots notifications@github.com
wrote:

##

Best Regards,
Anusha Sunkenapally
MIS Eller College of Management
LinkedIn Profile

[2014-07-18 18:35] ardennis opened #577 "Last group separator not removed when length changes"
The last group separator is not being removed from the mask when the number's length becomes less than/equal to the group size.  You can see this in the fiddle below by deleting one or more zeros from the number.

http://jsfiddle.net/5xv5N/

[2014-07-19 10:55] RobinHerbots opened #578 "Decimal point problem - Chris Gessier"
Robin,

Found another bug, and maybe you've already fixed it - but when there's an existing value like "5,678.00" and the cursor is placed after the comma (before the 6) and I type a few numbers so it looks like "5,234,678.00" then type a decimal point, the "678" are deleted.  I would expect the decimal point would not be allowed in that position, or it would skip to the cents portion.

Have you h

[2014-07-21 10:17] laxmikantG opened #579 "It should support padding!"
Hi Robin,
I was looking for a `padding` like option, but could not find anything to add padding to a character or a number in `data-inputmask` for a `textfield`.
Let me know if there is something to add padding for a number or text from a textfield. like this:

[code]

I hope you understand my requirement.
Thank you in advance!!

[2014-07-21 14:27] marumehrts opened #580 "Not auto unmasking on submit & reversing value on inputmask remove"
HI, i've implemented this on a few inputs, as following
$(selector).inputmask('999,999,999.99', {
        numericInput: true,
        rightAlignNumerics: false,
        greedy: false,
        autoUnmask: true,
        removeMaskOnSubmit:true
    });
But when submitting the form, keeps the masked value, like ___%2C_78%2C990.00
and when I force $(selector).inputmask('remove'); before submitting, it

[2014-07-22 09:15] IefSels opened #581 "e-mail mask doesn't allow - and _ characters"
Dear Robin,

You made us very happy with the jquery.inputmask library, but we encountered a small problem when trying to validate e-mailaddresses.
It seems that the minus- and underscore characters are not allowed.
Could you help us with that?

We believe it can be fixed by adding -_ to the 'validator' key in the 'definitions' object in 'aliases'.

Thank you!
Ief from Belgium

[2014-07-22 09:59] MatthiasWarmenbol commented on #581
Dear Sir,
You make me very happy too if you fix it!
Thank you, come again!
Mr. W (also from Belgium).

[2014-07-23 13:26] vachudj opened #582 "The "showMaskOnFocus" problem."
Hi Robin,
I have registered strange behavior of the **showMaskOnFocus** functionality.
Basically I'm not able to make it working properly.
If I change original condition on the line 1413:

`if (opts.showMaskOnFocus && !$input.hasClass('focus-inputmask') && (!opts.showMaskOnHover || (opts.showMaskOnHover && nptValue == ''))) {`

to

`if (opts.showMaskOnFocus && $input.hasClass('focus-inputmask') &&

[2014-07-24 17:43] stmn opened #583 "input number"
Hi,

something like this absolutely doesn't work for me:

$("input[type=number]").inputmask("integer", { allowMinus: false });

There's no problem with text input. Tested on FF 30.
Can ya fix that? :smile:

I'ill try check later whats the reason.

[2014-07-24 20:19] stmn commented on #583
OK, found it: :(

[code]

[2014-07-25 15:07] slawsork opened #584 "Does not work on Android"
Hi. I have problem with plugin on Android devices: Samsung Galaxy Note 3 / Android 4.4.2;
Samsung Galaxy S4 / Android 4.4.2; xiaomi mi3 / Android 4.4.2 (in default android browsers).
I use date mask in format 'yyyy' and 'yyyy/mm/dd'. For these android devices when I start type digits, placeholder is not disappeared and I cannot remove it. I tried to use version: 3.0.29 and version: 3.0.56  , but i

[2014-07-28 17:03] rjryerson opened #585 "Hover/Mouseover causes value to disappear"
I have a textbox with knockout and when I implement inputmask, it causes the text/value to blankout.

here is a fiddle that reproduces the behavior.

http://jsfiddle.net/rryerson/sPa9K/

Thanks for looking into this, Rick.

[2014-07-28 20:56] phongsi commented on #584
Hey, i had a very similar issue. It could be one or a combination of many reasons. I didnt explore enough to figure out exactly. It could be that the "keypressed" event is deprecated on your mobile browser -> http://www.w3.org/TR/DOM-Level-3-Events/#event-type-keypress, in that case you could add the input event. It can also be that the numeric keys on the android keyboard return a 0 keycode -> ht

[2014-07-28 21:33] ghost opened #586 "Deleting characters on a grouped decimal causing validation failure."
When having a grouped decimal, and hitting backspace - the validation/mask is breaking when transitioning from 2 to 1 groups.

Enter a value greater than 1000 in the attached fiddle, then hit backspace until the number is < 1000.

You will also see the group separator doesn't get updated/removed when this happens.

http://jsfiddle.net/sPa9K/9/

[2014-07-29 08:02] YodaJM opened #587 "Option to start input with decimal point"
When using the numeric extension for decimal numbers, I think it would be quite useful to be able to start input in the field by typing a decimal point.  For example if entering 25% as a decimal number, it would be nice to just type .25 and the plugin could add the leading 0 if the field was empty when the decimal point was entered.  The final value would be 0.25.

Currently you have to type 0 fir

[2014-07-29 16:53] ghost opened #588 "Decimal format value doesnt apply grouping."
When applying a numeric mask with grouping using inputmask.format, character groups are not displayed.  The mask works fine when applying to an input, just not with format value.

http://jsfiddle.net/sPa9K/14/

entered:   1111111.11
result:       1111111.11
expected: 1,111,111.11

[2014-07-29 17:09] janhartmann opened #589 "Changing the 'datetime' to use dd-mm-yyyy"
Hi,

I am trying to change the behavior of the 'datetime' mask to use dd-mm-yyyy hh:mm instead of dd/mm/yyyy hh:mm.

I have tried the following:

[code]

But it still uses the forward-slash?

Jan

[2014-07-29 17:46] ghost commented on #589
Try this:

[code]

[2014-07-29 17:48] janhartmann commented on #589
This works, perfect - thanks!! :-)

[2014-07-29 17:48] #589 closed, assigned to nobody

[2014-07-29 20:45] phongsi commented on #584
This may or may not help you, but this works for me on my Verizon LG G2 chrome browser. My mask is mm/dd/yyyy. This could work for your yyyy/mm/dd mask. I'm on 3.0.55 release version.
All I did was modify the mobileInputEvent function.

[code]

The last else is where I added a block.

[2014-07-29 21:43] navnitmehta commented on #585
See issue #559, I had a similar issue and I worked around it by creating a proxy binding until correct fix is found.

[2014-07-31 15:18] rogah commented on #583
Hi, I'm also getting issues to use the plugin with the input element of type number. The plugin is throwing the following exception:

_Uncaught InvalidStateError: Failed to read the 'selectionStart' property from 'HTMLInputElement': The input element's type ('number') does not support selection._

It looks like it's intentionally unsupported. Is there any specific reason for that?

[code]

[2014-08-01 13:21] SimenB opened #591 "AMD support"
Hi!

Now that jQuery ships with full fledged AMD support, would you consider doing the same to this? A shim currently works fine, so it's not really a problem of course.

[2014-08-04 08:08] RobinHerbots commented on #582
@vachudj,

Can you make a jsfiddle of it, showing the original issue.  What is not working with the showMaskOnFocus?

Which browser and which options where you using?

[2014-08-04 08:13] jason-linthwaite commented on #465
Hi Robin,

Just wondering if this is fixed?

[2014-08-04 08:50] RobinHerbots commented on #583
@rogah ,

Which version do you use?  As input type=number is not supported.